[2022-05-03 05:52] oranagra commented on #10676
@rockyburt please report in https://github.com/RediSearch/RediSearch
@gkorland FYI

[2022-05-03 05:52] #10676 closed

[2022-05-03 07:08] ashtul commented on #10676
@rockyburt please reopen on RediSearch.
Can you add the filters you have been using in the indexes schema? The crash is related to the filters.
Thanks

[2022-05-03 08:07] yossigo commented on #10668
@oranagra I think that page is misleading indeed. Apparently, in very old versions masters did not send empty lines so replicas would drop if `repl-timeout` was shorter than the time it takes to `BGSAVE`, but that's irrelevant for a decade.

[2022-05-03 12:08] filipecosta90 commented on #10648
TODO: check if adding a `isClientSlave()` function would improve.

[2022-05-03 12:49] oranagra commented on #10648
if this function is inlined, and / or assuming the flags are in the CPU cache, i don't see why it should be slow.
two random thoughts that maybe worth looking into are:
1. try to move the flags member closer to another popular field (maybe `conn` or `reply`) to improve the chance it'll fit into a cache line.
2. we can maybe completely eliminate the need for this function if we do the necessary cha

[2022-05-03 18:49] #7080 closed

[2022-05-03 19:48] jdavidagudelo opened #10678 "[BUG]"
**Describe the bug**

The method **xgroup_create** of the redis cluster client fails when running on redis version 7.0.0.
Using the version 4.2.2 of the python redis client, the python version is 3.10.4, OS is Ubuntu 22.04.

**To reproduce**

[code]

**Expected behavior**

The method should work just like it did when using the same client version with redis version 6.2.6.

**Additional information

[2022-05-03 22:15] hpatro commented on #10627
Definitely a good gap to cover.

I believe the latter choice would be more generic and handle most of the cases. If the admin further wants to restrict any visibility regarding the key, the user shouldn't have any permission to the particular key/keyspace.

[2022-05-04 08:39] eduardobr commented on #10668
I've made extra tests in different environments (different OS and Kubernetes distributions) and found 3 behaviors:
- Socket takes 130 seconds to die from OS/proxy side (Ubuntu and Raspberry OS, K3s), times out on repl-timeout=60
- Socket takes 20 seconds to die from OS/proxy side (Docker Kubernetes on Windows), logically times out before repl-timeout=60
- Socket is well behaved and redis keeps ret

[2022-05-04 09:00] oranagra commented on #10668
There could be other situations were the server hangs for a moment and doesn't send anything to the replica.
Two examples:
1. A very slow command or script blocks the main thread for long and it doesn't send a ping or a newline
2. during diskless serialization, something (compression or A module) takes long to process some data before sending any bytes).

[2022-05-05 08:44] Adel-Magebinary commented on #8861
@yossigo @oranagra Any updates would help us a lot :)

[2022-05-05 08:47] Adel-Magebinary commented on #5693
https://github.com/redis/redis/issues/8861

[2022-05-05 10:02] sjpotter opened #10680 "[BUG] cluster shards returns slots as strings, not integers"
**Describe the bug**

When I run cluster shards on a build from the 7.0.0 tag, I get strings from slot values, not integers.

documentation is pretty clear that they should be integers https://redis.io/commands/cluster-shards/ (that also seems like it should be the right thing in general)

**To reproduce**

[code]

**Expected behavior**

0/16383 in slots array should be integers.

**Additional inf

[2022-05-05 14:43] enjoy-binbin commented on #10680
https://github.com/redis/redis/blob/ff3a3577f29a07e965b3b38d07894410d28da499/src/cluster.c#L5067-L5078

yes.. look like we should use `addReplyLongLong`

[2022-05-05 19:09] oranagra commented on #8861
Didn't you say that you tried the latest and it stopped crashing?

P. S. I don't recall many of the details about this thread, can you remind me how come the initial log doesn't contain a stack trace, but the later one do... ?

[2022-05-05 22:28] Adel-Magebinary commented on #8861
@oranagra The stack trace is the same as what I posted. it did not crash on SmartOS KVM Redis. It still crashes on lcx containers. I have launched the thread on smartos mailing list here (https://smartdatacenter.topicbox.com/groups/sdc-discuss/T8ae7feef3247f821-Mc2075cd63b885d7a18f29034).

[2022-05-06 01:04] dmastylo opened #10684 "[CRASH] Master node fails loading DB from file then entire cluster fails with no successful failover"
**Crash report**

Trying to run a simple Redis instance in docker, with and without slaves. After a few hours of running this happens every time in the master node and the slaves are never able to failover and become master.

[code]

**Additional information**

This is all I have in my docker-compose, nothing fancy at all
[code]

[2022-05-06 01:13] #10684 closed

[2022-05-06 10:02] oranagra commented on #5693
@Adel-Magebinary this issue is (or was) about the crash in raxRecursiveFree.

@madolson a long time has passed, not sure if you still remember how you reproduced this. It might no longer be relevant for newer releases (no longer using rax), but on the other hand it might (if it's an unrelated memory corruption).
I would still be glad to reproduce this with valgrind and find out the root cause.

[2022-05-06 12:17] kyangcmXF opened #10686 "[BUG] Once start aof-use-rdb-preamble, redis does not use partial REPLICA after restarted"
**Describe the bug**

I use redis6.0. However I found that redis slave does not always use  partial REPLICA after restarted.

**To reproduce**

1. start aof-use-rdb-preamble in redis.conf
aof-use-rdb-preamble yes
2.restart redis6.0
then the log is written that:

134:S 06 May 2022 20:05:19.957 * Connecting to MASTER 127.0.0.1:6379
134:S 06 May 2022 20:05:19.959 * MASTER <-> REPLICA sync started
134

[2022-05-06 14:54] bjosv commented on #9351
@madolson  We have seen similar issues where we have some kind of network problems and get logs like:
[code]
We are running Redis 6.2, but not on AWS.

After looking a bit at the code to see why we suddenly would get `?` I have seen that
https://github.com/redis/redis/blob/ff3a3577f29a07e965b3b38d07894410d28da499/src/cluster.c#L1780
 is used to get the new IP, either from the header or via the fd.

[2022-05-06 18:08] uvletter commented on #9351
I think we could log the error in `nodeIp2String()`, and forward the return value outside. In `nodeUpdateAddressIfNeeded()` it's ok to skip the update when `nodeIp2String()` fails, as in the next round of ping/pong this routine will retry

[2022-05-07 09:12] ShooterIT commented on #10648
Hello @filipecosta90 do you have progress

[2022-05-08 06:08] moticless commented on #10547
@jonathon2nd , any new findings?

[2022-05-08 06:08] oranagra commented on #8591
folding this ticket into #9796

[2022-05-08 06:08] #8591 closed

[2022-05-08 06:09] oranagra commented on #10686
this topic is tracked in #9796

[2022-05-08 06:09] #10686 closed

[2022-05-08 09:41] jiangxiaoqiang commented on #10630
same issue.  https://stackoverflow.com/questions/72158877/is-it-possible-to-let-the-redis-auto-create-the-group-name-if-it-not-exists-in-r

[2022-05-08 10:32] LRagji opened #10689 "[NEW] Future command"
**Today clients have to maintain a state(elapsed time) with themselves to execute a command in the future.**

Currently if i want to delete a key lets say after 10 mins i can use the set command with expiry time to do so, similarly if i want to set a key 10 mins in the future i should be able to do that as of now there us no way to do that, so this proposal expects simillar to expiry time 3 new co

[2022-05-08 12:04] oranagra commented on #10689
@LRagji what are the disadvantages of dong that from the client side?

for expiry, we wanna make sure no one has access to the value (even if the key isn't deleted) after it's expired. deleting it by a client could have race conditions.
i.e. there are cases where the key isn't deleted, but would not be readable.

for expiry the TTL is registered in the key, and if the key is deleted, and replaced

[2022-05-08 13:23] LRagji commented on #10689
@oranagra Thanks for taking a look, one disadvantage you already mentioned race condition what can happen with deletes can happen with addition/any other command as well..
Anyhow following are the points:
In all morden application redis is like a data server(centeral singleton point) if clients have to execute a command in future they will have to maintain a timer on their side(can be reffered as

[2022-05-08 17:15] ganeshkumarganesan opened #10692 "[BUG] Redis 6.2.7 test case failure"
1. In Redis 6.2.7, the following test case fails often while running `make test OR ./runtest --tls`. However, sometimes the test case succeeded without any issues.

When I checked the stdout file **STACK TRACE** was available. So it seems the **STACK TRACE**  was not available at the time of assertion.

[code]

[code]
The following logs are from the stdout file (redis-6.2.7/tests/tmp/server1.log.1

[2022-05-09 04:29] enjoy-binbin commented on #10692
thanks for the report, yes you can ignore it right now (the STACK TRACE is available)
It looks like this test is not stable, i will take a deep look later

As for `__redis__compare_helper`, I didn't find a reference to it, seem harmless

[2022-05-09 04:40] ganeshkumarganesan commented on #10692
@enjoy-binbin Thank you.

[2022-05-09 04:57] enjoy-binbin commented on #10692
ohh, the STACK TRACE timing issue was actually fix in #9910, unstable branch

[2022-05-09 06:58] oranagra commented on #10692
Thanks @enjoy-binbin.
As you indicated the sporadic test failure is already fixed in the later version.
The warning about `__redis__compare_helper` is something we overlooked, but we now conclude it is harmless. @MeirShpilraien will post more details about it later in a PR that fixes the warning.

Meanwhile, we can close this one...

[2022-05-09 06:58] #10692 closed

[2022-05-09 06:59] ganeshkumarganesan commented on #10692
https://github.com/redis/redis/blob/e6f67092f8d4d81761a60c46011d1ff1dc3c2628/src/scripting.c#L434-L435

@enjoy-binbin The `__redis__compare_helper` reference is available in the [6.2.7 branch](https://github.com/redis/redis/tree/6.2.7). This has been removed in [this commit](https://github.com/redis/redis/commit/1b0968df46f9f838e7daa540675b29073a00cf30#diff-0e7e313bd59d431d99268d40bba3663fefd44385

[2022-05-09 07:03] enjoy-binbin commented on #10692
ok, i see now. i search it in unstable branch, so we should add it in `redis_api_allow_list` or something like that

[2022-05-09 07:19] oranagra commented on #10692
@ganeshkumarganesan it seems harmless. Meir will post more details later..
in short, it was added in https://github.com/redis/redis/commit/2c861050c1 in order for scripts to **sort** the output of SORT.
and should have later been removed in https://github.com/redis/redis/commit/36741b2c818a95e8ef167818271614ee6b1bc414 (when the `S` i.e. `to-sort` flag was removed from SORT)

[2022-05-09 07:39] fosin commented on #4645
I have the same problem using 5.0.14.
Is there an official solution?

[2022-05-09 08:22] Adel-Magebinary commented on #8861
Hey guys, @oranagra

I will try to pin CPU threads with taskset command in LCX containers to test if it resolves the issue.

I have just tested it locally as it can successfully pin CPU threads/cores.

taskset 0x1 redis-server .... to report back if it still crashes.

[2022-05-09 08:55] oranagra commented on #8861
i don't see how CPU affinity is in any way related to this crash and why we even started discussing that possibility.

i wanna point out again that seeing `libpthread` as a first entry in the stack trace is normal (that's the signal handler).

also i wanna point out again that we're mixing up two different crashes (one in SADD and one during loading at startup).
i understand we're now focusing on

[2022-05-09 10:28] kervin521 opened #10694 "[QUESTION] how to install redis 7.0 in Ubuntu 20.04 via command (apt install)"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.

Generally, questions about using Redis should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [/r/redi

[2022-05-09 10:41] oranagra commented on #10694
have a look here: https://redis.io/docs/getting-started/installation/install-redis-on-linux/

[2022-05-09 10:41] #10694 closed

[2022-05-09 11:04] sjpotter opened #10695 "[NEW] keyspace notifications should use integers/defines instead of strings for keyspace event types"
**The problem/use-case that the feature addresses**

Currently the keyspace event are sent with a string (ex "loaded" "new" "del" "rename_from" "rename_to").  So the handler that a module writer implements has to do a lot of string compares.  This seems ugly for both code aesthetic reasons (can't use a simple switch on type) and perhaps even speed (lots of strcmp).

**Description of the feature**

[2022-05-09 11:42] filipecosta90 commented on #10648
@ShooterIT I'm checking the suggestions above and replying back with data.

[2022-05-09 12:08] filipecosta90 commented on #10648
@ShooterIT I've followed @oranagra 's recommendation in #10697  and it fixed the regression.

[2022-05-09 15:46] jonathon2nd commented on #10547
Kinda? We are still at a loss.

Was out sick last week, but before that I did some tests you can see here: https://github.com/bitnami/charts/issues/9689#issuecomment-1113846711

TLDR: It really seems to be a bitnami config/script/something that is cause the problem, and sentinel is tilting in an unexpected (maybe?). Single nodes of official redis or bitnami/redis do not tilt. Built out a 3 node ma

[2022-05-09 16:17] oranagra commented on #10692
https://github.com/redis/redis/pull/10701

[2022-05-09 17:05] anilbommareddy opened #10702 "[QUESTION]Redis build failed with (1)march=native/znver2/x8-64 and (2) flto options"
(1)export PATH=/usr/local/gcc-11/bin:$PATH
export LD_LIBRARY_PATH=/usr/local/gcc-11/lib:/usr/local/gcc-11/lib64:$LD_LIBRARY_PATH
export CXX=g++
export CC=gcc
RHEL 8.4
(2)wget http://download.redis.io/redis-stable.tar.gz
(3)make OPT=-O3 CFLAGS="-march=znver2" CPPFLAGS="-march=znver2">& log9.txt
Build failed:
-----------
jemalloc version   : 5.1.0-0-g0
library revision   : 2

cd jemalloc && make CFL

[2022-05-09 19:28] madolson commented on #10672
https://github.com/redis/redis-doc/issues/1930

[2022-05-09 19:28] #10672 closed

[2022-05-09 20:09] madolson commented on #10627
I think the idea of restricting access to keyspace notifications is a good idea, I have some doubts about this specific implementation.

You can already do this with `key-space` events, since you can restrict access to channels which is the building block for the keyspace notification. You could say only allow a user to subscribe to `__keyspace@0__:myapp*`, which only publishes keys that start wit

[2022-05-09 21:55] madolson opened #10704 "Mark EVAL_RO and EVALSHA_RO as 'readonly' commands"
As part of the discussion here: https://github.com/redis/redis/pull/8820#issuecomment-1120887203.

We want to recommend clients use the readonly flag as an indicator if they can send a command to a replica. Since this command was intended to fill that purpose, it should also get the readonly flag. The script was not marked as RO since it behaved weirdly with scripting, which currently relies on th

[2022-05-10 01:19] ashok-shukla commented on #4645
I am also facing same issue with 6.2.6. I am also looking for an official solution.

[2022-05-10 04:45] hpatro commented on #10627
@madolson, nice idea 👍 . Clients could still do `PSUBSCRIBE` to use it like the old mechanism. We could also provide a config to avoid duplicate data being published i.e. either enable the global key space events or the new composite keyspace events.

[2022-05-10 05:29] yossigo commented on #10702
@anilbommareddy You're overriding `CPPFLAGS` in a way that causes dependency building to fail. Try to only override `CFLAGS` (which makes more sense since `-march=` is really a compiler flag).

[2022-05-10 06:51] opt-m opened #10705 "[BUG][FUNCTION]load exists libraries cause libraries_count increase"
**Describe the bug**
load exists libraries will return ERR， bug the metric libraries_count & functions_count will increase

**To reproduce**
[code]

**Expected behavior**
https://github.com/redis/redis/blob/unstable/src/functions.c#L966 goto error and relink library， so in libraryLink increase stats->n_lib and stats->n_functions。

[2022-05-10 07:06] oranagra commented on #10627
just wanna point out that although we defined that metadata about a key isn't considered "read" access (so write-only users can still execute LPUSH, and even LLEN), however, a user that doesn't have any access to a certain key (neither read nor write), can't run LLEN or EXIST.

@madolson just to be sure i understand your idea:
you suggest to let users use the existing ACL features for pubsub, and

[2022-05-10 07:25] enjoy-binbin commented on #10705
verified. i take a quick look, random thoughts:
1. dictAdd(lib_ctx->libraries, li->name, li);  look like we need to check the return value
2. look like we need a flag like `old_li_already_exists`, when the lib already exists, set to 1, and `libraryLink(lib_ctx, old_li)` only if old_li_already_exists == 0

[2022-05-10 07:53] MeirShpilraien commented on #10705
Thanks @enjoy-binbin, please let me know what you think about this fix: https://github.com/redis/redis/pull/10706

[2022-05-10 08:47] #10705 closed

[2022-05-10 10:06] yossigo commented on #10655
@TiagoGouvea Is it possible that at some point your docker-compose file pointed to a different image?
We've been getting a lot of reports about this problem lately. Many of them can be tracked down to using an incompatible image, but yours indicated there might be a different/bigger issue, if it indeed affected the `redis` image itself, so it would be very helpful to figure this out.

[2022-05-10 11:12] TiagoGouvea commented on #10655
Hi @yossigo. The `compose.yml` was the same since the start of the project, many months ago, with just `image: redis`. I don't know how to check if it was another image, and sometime changed. The line `image: redis` was never changed in the file.
How can I give you more information?

[2022-05-10 11:18] sundb commented on #10655
@yossigo The redis image was built and pulled 12 days ago, and now it is no longer running on qemu.
I looked at the dockerfile of `redisjson and found that it specifies `redisfab/redis:6.2.6-x64-bullseye` as the base image, so it will still run on qemu.
https://github.com/RedisJSON/RedisJSON/blob/0669977df0ef06e9f21c4de5ea51fba0e9f1fe66/Dockerfile#L3

[2022-05-10 11:22] #10680 closed

[2022-05-10 11:39] moticless commented on #10547
ok. Thanks for the update.

[2022-05-10 11:51] yossigo commented on #10655
@sundb I realize there are problems with that and other images, that's why they end up running under qemu. But I was more concerned when I saw also the `redis` image ends up on qemu where it really shouldn't.

[2022-05-10 11:56] #10552 closed

[2022-05-10 20:53] jonathon2nd commented on #10547
@moticless , do you have any insight on how a single node will not tilt (bitnami or official), multi-node official does not tilt, but then multi node bitnami tilts?

[2022-05-11 00:41] Adel-Magebinary commented on #8861
[code]

I managed to crash it again :)

[2022-05-11 00:57] KarthikSubbarao opened #10709 "Handling HELLO command variations from a Redis Module"
**The problem/use-case that the feature addresses**

It is very difficult to implement a custom AUTH command, since we also need to support the HELLO use cases. Specifically, HELLO variations such as: `HELLO 3 setname clientname <name>` where we need to make changes on the actual client.
Currently, there is no way for a Redis Module to run commands on the actual Redis client that called into the M

[2022-05-11 01:07] madolson commented on #10709
This implementation is based off of the ideas documented here, https://github.com/redis/redis/issues/8329, of using command filtering in order to rename the authentication commands in order to provide custom auth. This addresses the problem brought up there as well that we can't really intercept HELLO, because we can't emulate the response easily.

My intuition is that the recommended option, bein

[2022-05-11 05:43] moticless commented on #10547
@jonathon2nd , I think we need here some level of profiling to understand why tilt mode is considerably delayed.

[2022-05-11 05:50] oranagra commented on #10709
I think that letting the module use the real client for RM_Call is the wrong approach.
Modules should generally have an API to let them manipulate redis, rather than use RM_Call to execute (limited) user commands.
I think the right solution is certainly to add APIs to manipulate client fields and other internals directly.
e.g. `RM_SetClientName`, `RM_SetClientProtocol`, etc. (to go alongside with

[2022-05-11 07:48] spacexnasa opened #10711 "redis 7.0.0 + openssl 3.0.1"
os: CentOS 7.9 X86_64
openssl version:OpenSSL 3.0.1

make && make PREFIX=/usr USE_SYSTEMD=yes MALLOC=jemalloc V=1 BUILD_TLS=yes install

../deps/hiredis/libhiredis_ssl.a(ssl.o): In function `redisInitOpenSSL':
/root/yunweipai/redis-7.0.0/deps/hiredis/ssl.c:159: undefined reference to `SSL_library_init'
collect2: error: ld returned 1 exit status
make[1]: *** [redis-server] Error 1
make[1]: Leaving

[2022-05-11 08:48] oranagra commented on #10711
@spacexnasa please provide some context, and how this relates to #10280
i see you mentioned there that Centos 7.9 was ok.

are you saying the fix in #10291 doesn't work? or did it cause a regression?

[2022-05-11 10:33] spacexnasa commented on #10711
#10280, i use git clone xxx and git checkout to 6.2.7,this can work

now i use wget https://github.com/redis/redis/archive/7.0.0.tar.gz && tar zxf 7.0.0.tar.gz
and

make && make PREFIX=/usr USE_SYSTEMD=yes MALLOC=jemalloc V=1 BUILD_TLS=yes install

so i have not compare the code, i'm not sure they pathched the code

[2022-05-11 15:21] vineelyalamarthy opened #10714 "[QUESTION] Redis Cluster Single Node"
Based on spec, I understand that we need minimum of three Redis nodes(instances) to be able to use Redis Cluster. However due to some constraints, I need to be able to run Redis Cluster on a single node and then scale to three later at which point each instance runs on each single node.

**Is there a configuration in Redis to be able to accomplish that. If not which places in the source code can b

[2022-05-11 16:32] madolson commented on #10714
You need a minimum of 3 nodes to get high availability in Redis cluster, running a single node is OK, you just won't get automatic failover. I presume it doesn't matter much in your case, since you have no extra nodes anyway, so there is no one to failover to.

I would suggest going ahead with the single node and doing the transition ASAP, so you can get the high availability functionality.

[2022-05-11 17:19] vineelyalamarthy commented on #10714
Right, but is there a way to fix it in source only and use that binary. Can some point out relevant code, so I can try to modify and build a binary.

[2022-05-11 17:57] uvletter commented on #10714
Perhaps I don't grasp your point，do you intend that the node primitively owns all slots as a default behavior?  But what if you want to let a new node join a existed cluster, the node with all slots would conflict with cluster as any slot can only be hold by exactly only one node.
Maybe you just want to use Redis cluster out of box or with some simple configurations, but afaik the only way to clai

[2022-05-11 18:24] vineelyalamarthy commented on #10714
@uvletter  I meant that single instance of pod with cluster-enabled=true should have all 16384 slots by default and when I scale out, I can migrate the slots.
Can I please get some insights on source code that deals with this. So that I can change it and try.

[2022-05-11 22:14] madolson commented on #10714
@vineelyalamarthy I would recommend you just have some setup script that calls `CLUSTER ADDSLOTSRANGE 0 16384` on startup.

[2022-05-11 22:15] madolson commented on #10714
Otherwise, please consider calling this function https://github.com/redis/redis/blob/b414605285244c453f3fadbbe7a157cd83ed5f59/src/cluster.c#L61 for all of the slots.

[2022-05-11 22:37] vineelyalamarthy commented on #10714
@madolson  where in the code are they checking for minimum three nodes and then only we distribute the slots. Where is that enforced.

[2022-05-12 06:25] karthikeyan951213 commented on #8114
Dear Team,

Need Help for below issue

redis.service - Redis Service
     Loaded: loaded (/etc/systemd/system/redis.service; enabled; vendor preset: enabled)
     Active: failed (Result: core-dump) since Thu 2022-05-12 02:16:51 EDT; 46s ago
    Process: 163523 ExecStart=/usr/local/bin/redis-server /etc/redis/redis.conf (code=dumped, signal=SEGV)
   Main PID: 163523 (code=dumped, signal=SEGV)

May

[2022-05-12 07:14] yossigo commented on #8114
@karthikeyan951213 Please open a new issue and provide more information:
* Platform - OS Version, hardware architecture, etc.
* Redis Version (`dpkg -l | grep redis`)
* Redis logs (typically in `/var/log/redis`)

[2022-05-12 07:40] xiaoaoqiankun commented on #5017
能不能帮忙把这个漏洞的补丁发给我，谢谢

[2022-05-12 08:40] karthikeyan951213 commented on #8114
Platform - Linux Ubuntu 20.04

Redis version 6.0.6

 ERROR : Failed with result 'core-dump'

[2022-05-12 09:05] karthikeyan951213 opened #10716 "Core dump"
Dear Team,

I will try to install redis with redistimeseries in ubuntu 20.04

But redis not working , Please find the below error , Need your help

redis.service - Redis Service
     Loaded: loaded (/etc/systemd/system/redis.service; enabled; vendor preset: enabled)
     Active: failed (Result: core-dump) since Thu 2022-05-12 04:38:56 EDT; 26min ago
    Process: 173540 ExecStart=/usr/local/bin/red

[2022-05-12 09:11] oranagra commented on #10716
@karthikeyan951213 you'll probably need to report this in https://github.com/RedisTimeSeries/RedisTimeSeries (not here).

but so far, there's no useful information here.
you'll probably need to specify how you installed / compiled or where you downloaded what you're using (and which version).
and also post some logs (none of the prints you showed here are printed by redis, so there's nothing to wo

[2022-05-12 09:11] #10716 closed

[2022-05-12 09:18] karthikeyan951213 commented on #10716
Need one help

Redis why show the error for "code=dumped, signal=SEGV"

[2022-05-12 09:28] oranagra commented on #10716
try to edit `/etc/redis/redis.conf` and set the `logfile` line, or check what's in the file that's already pointed by it.

[2022-05-12 10:14] karthikeyan951213 commented on #10716
Please fine the below error log .

------ MODULES INFO OUTPUT ------

------ FAST MEMORY TEST ------
*** Preparing to test memory region 5568886c6000 (2277376 bytes)
*** Preparing to test memory region 55688a084000 (282624 bytes)
*** Preparing to test memory region 7f92175a2000 (16384 bytes)
*** Preparing to test memory region 7f9217785000 (12288 bytes)
*** Preparing to test memory region 7f9217a0

[2022-05-12 10:40] oranagra commented on #10716
you posted only the very end of the crash log. the useful information isn't here (look for `BUG REPORT START`).
but then, you'll probably wanna report it in the time series repository as i suggested in my first comment.

[2022-05-12 10:53] karthikeyan951213 commented on #10716
Ok ok cool thanks for support .

[2022-05-12 17:37] anilbommareddy commented on #10702
@yossigo  for me also it worked in Ubuntu environment.

[2022-05-12 18:45] PingXie commented on #10472
@madolson, this initial slot metrics set make sense to me. What you think about the importing/migrating states for a slot?

For input, I like both the `SLOTS` token and filtering ideas. I think we could consider generalizing the filtering support. The various metrics are essentially columns in a database or spreadsheet table so ideally we should be able to sort the table by any dimension. A key us

[2022-05-12 19:25] YacineTALEB opened #10719 "Redis server-side latency"
### Context

Today Redis provides partial server-side latency information on command execution in the form of total `usec` for a given command and average `usec_per_call` which basically tracks the `call()` time for a given command.

These stats report the actual CPU time a command execution took, which is a portion of the total time it took for Redis to actually process the command, which include

[2022-05-12 21:01] vineelyalamarthy opened #10720 "Visualize Rebalance events"
We would like to show rebalance events with slot migration statistics  on a Dashboard. Which Redis commands can help. Do slow queries help with rebalance events.

[2022-05-13 13:10] ssullivan opened #10722 "[BUG] Redis 7.0 - Unknown subcommand `sentinel slaves`"
**Describe the bug**

I have recently started using Redis 7.0 using sentinels and when I try to type the command `sentinel slaves` I get the error

[code]

**To reproduce**

I deployed two redis instances in kubernetes with the following configuration to test out the sentinel commands.

redis.conf
[code]

sentinel.conf
[code]

redis-master container
[code]

redis-sentinel container
[code]

**Expec

[2022-05-13 17:00] #10722 closed

[2022-05-13 22:10] kyle-yh-kim commented on #10472
Extending on @madolson‘s comment, we (AWS) would like to gain feedback on our proposed design for tracking per-slot memory usage.

This problem can be broken down into two parts;

1. Track accurate memory usage of Redis key-value entry.
2. Aggregate memory usage at per-slot level, given that we can track each Redis key-value entry’s memory usage.

**To handle the first component**, we plan on intr

[2022-05-15 02:17] madolson commented on #10714
@vineelyalamarthy It's not enforced.

[2022-05-15 02:17] #10714 closed

[2022-05-15 03:45] madolson commented on #10704
https://github.com/redis/redis/pull/10728

[2022-05-15 04:17] madolson commented on #10472
Just for completeness, I think the main counter point for tracking memory usage is that we could do all the work to do the book keeping based off of Zmalloc. We could do something like "set_allocation_context()" which sets global variables which are incremented and decremented when we do an allocation. It requires us to pay a lot of attention to the details, but we could probably have ~3 contexts:

[2022-05-15 08:39] j3k0 opened #10729 "[BUG] Redis cluster looses configuration"
**Describe the bug**

The Redis cluster looses configuration when nodes reboot.

 * Both appendonly and rdb saves are enabled.
 * Running in docker with network mode set to "host" and read-write volumes for storing data and config.

This is a 15 nodes cluster, running on 5 servers (so 3 nodes per server). Initiated with 2 replications per master (so there is 5 masters, 10 replicas) -- goal being t

[2022-05-15 09:52] oranagra commented on #10719
it would be nice if we could have that feature, but i currently don't see how to do that.

we could easily mark the time where we read the last argument of a command from the query buffer into the argv array, but that's anyway, nearly the same time where we start processing the command (after possibly being held back by other clients or even other commands of the same client), so what you want is

[2022-05-16 08:54] gopikrishnagurram opened #10731 "[QUESTION]"
I have 5 on premise servers, Where I installed redis server. (1 is master is remaining 4 are replicas), To achieve High availability I installed 5 sentinel nodes on different middleware servers and monitors the master redis server. redis version 6.2

I have max client limit as 10000 connections. But for some reason sentinel node opening too many pubpsub connections with other sentinel nodes and ru

[2022-05-16 15:57] hwware commented on #10729
Hi @j3k0 Can I understand you have the issue with the following config in a cluster?

5 master and 10 replicas, with enable appendonly and rdb saves options
and the redis version is 6.0 or higher version such as 6.2 or 7.0?

Thanks

[2022-05-16 18:17] j3k0 commented on #10729
Yes, I attached the docker-compose file which shows the exact configuration and versions:

- Image: `redis:6-alpine` (pulled a couple of days ago)
- Command: `redis-server
      --save 600 1
      --appendonly yes
      --loglevel warning
      --bind {{ vlan0 }}
      --port {{ redis_port[db][i] }}
      --databases 1
      --cluster-enabled yes
      --cluster-config-file /config/nodes.conf`

[2022-05-16 19:10] eduardobr opened #10735 "[DOC BUG] Misleading info about execution of scripts against read-only replicas"
In this page (https://redis.io/docs/manual/programmability/lua-api/) we find the following info:

[code]

What's wrong?
By default Redis won't deny the execution of scripts against read-only replicas.

[2022-05-16 20:21] hwware commented on #10630
I think this idea is good and I will create a PR to implemement this option and let both of you know it.  Thanks

[2022-05-16 20:32] YacineTALEB commented on #10719
I agree with you that implementing a _precise_ server-side latency would add lots of complexity. We would need to know when the command was actually received in the socket buffer, which may require tinkering in the kernel. That would add lots of complexity. However, we can implement a fairly representative metric without much complexity.

We could start a timer every time the event loop wakes up.

[2022-05-16 23:44] QuChen88 commented on #10589
@madolson We already explored this proposal of using 16K dictionaries for the slot to keys mapping instead of rax back in 2017 with performance testing numbers. However @antirez had some concerns with this approach. See https://github.com/redis/redis/issues/3800

[2022-05-17 04:19] ggurram-equinix commented on #10731
Please any one help me on this.

[2022-05-17 05:47] oranagra commented on #10735
@eduardobr i think you may have taken that text out of context, or maybe the context isn't clear enough in the documentation.
i think it speaks of functions, and EVAL scripts with have a shebang, these have different defaults than plain old EVAL scripts.
can you please confirm that i'm not missing anything, and then consider making a [PR](https://github.com/redis/redis-doc/pulls) to improve the te

[2022-05-17 08:55] sjpotter commented on #10589
So along this topic I was exploring what it would take to have slot support outside of cluster.  Did a quick poc of enabling the slot mapping and comparing vs plain Redis.

Can see the changes here https://github.com/sjpotter/redis/pull/1

As expected, in terms of rss I saw about 300MB increase in rss when I created 20 million keys (expected as it adds 2 pointers so 16 bytes " 20 mil...)

Less gre

[2022-05-17 13:09] yuanhengWang opened #10739 "Crash report[CRASH]"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
2673:S 17 May 2022 00:02:31.715 # Redis 5.0.7 crashed by signal: 11
2673:S 17 May 2022 00:02:31.715 # Crashed running the instruction at: 0x4a249e
2673:S 17 May 2022 00:02:31.715 # Accessing address: (nil)
2673:S 17 May 2022 00:02:31.715 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/home/dba/r

[2022-05-17 13:15] yuanhengWang commented on #10739
-

[2022-05-17 13:36] oranagra commented on #10739
seems similar to #8254 #5693 etc.
we are out of luck unless maybe you can consistently reproduce it?

in any case, this is an old version that we no longer maintain, and it is likely to be solved in newer versions (we never saw this issue in newer versions, were some of these mechanisms were completely replaced).

p.s. please mention which OS / docker / image you're using, so we can confirm it's n

[2022-05-17 15:41] anilbommareddy commented on #10702
@yossigo ; To build source code has compiler flags like CFLAFS and LDFLAGS then what is use  of  REDIS_CFLAGS and REDIS_LDFLAGS ,?
As I see but understand on this.
REDIS_CFLAGS                     used in hiredis-example(deps/hiredis/Makefile-QT)
REDIS_LDFLAGS                    used helgrind

[2022-05-17 15:55] zuiderkwast commented on #10589
@sjpotter what about latency spikes? That's one of the problems with one huge ht allocation. Did you measure max/min/avg latency for the requests?

[2022-05-17 19:50] eduardobr commented on #10735
@oranagra I think there is an attempt to give context to the article but IMHO unclear.
It seems like we need a table of default behaviors for EVAL with shebang, EVAL_RO with shebang, EVAL without shebang, EVAL_RO without shebang, including some column about conditions that make it not applicable or applicable. Then separately a simple explanation for each flag as we have today.
Defaults will proba

[2022-05-18 01:00] Adel-Magebinary commented on #5693
@oranagra  It would be super great to resolve the crashing issue from #8861 first as it is crashing regularly with a big load.

You should be able to reproduce this issue with the following steps.

1. Install SmartOS
2. Boot up a ubuntu 20.04 lx container.
3. Install the latest Redis or Redis 5.x
4. Install the latest Magento 2
5. Use bin/Magento to generate the texture of 1m products
6. Enable fl

[2022-05-18 01:03] Adel-Magebinary commented on #5693
Or I can start redis service with valgrind redis-server etc...  and give you the output?

[2022-05-18 05:07] oranagra commented on #5693
@Adel-Magebinary if you can reproduce it with valgrind it'll be great (i don't have time to do that myself).
but let's do that in the other issue, this one is about `raxRecursiveFree`, the other ticket is about SADD or RDB loading (two different issues), they don't seem related to the one discussed in this issue.

[2022-05-18 05:56] PingXie commented on #10472
This seems like quite some plumbing work to me. I like @madolson's "allocation context" idea and I wonder if a simpler approach like the below would work

1. introduce a thread-local-storage variable called  _active_slot or _active_client and expose this variable to zmalloc.c
2. have the `call` function populate this TLS variable right before invoking `c->cmd->proc` and clear it after the call.
3.

[2022-05-18 06:17] moticless commented on #10731
Hi @gopikrishnagurram,
Please share configuration.

You can also view and compare [here](https://github.com/moticless/redis-network-testing/tree/main/docker-compose-setups) few simple docker-compose based configuration of sentinel.

If that won't help, I guess the next step would be to trace the open connections to understand who is the polluting client(s), by using networking utilities (ex. `lsof

[2022-05-18 07:14] gopikrishnagurram commented on #10731
This is my client side code and this is common for all services and  services running in Kubernetes.

[code]

Sentinel configuration:
--------------------------
bind 0.0.0.0
protected-mode no
daemonize yes
logfile "serverpath"
sentinel monitor mymaster masterip 6379 2
sentinel resolve-hostnames yes
sentinel announce-hostnames yes
---------------------------------------------------
sudo lsof -i -P

[2022-05-18 08:16] filipholec opened #10742 "[QUESTION] Shrink AOF file that is being saved for a long time"
Hi Redis community :wave:

we have a problem on a server that is running our redis instance.

We have an AOF file format and here are basic information I've been able to get:
- the file has ~90GB
- the time to load the file again to redis server is several hours (tested on another non-production server with a snapshot of the prod redis server)
- the redis-check-aof utility reports error 247, when

[2022-05-18 08:44] moticless commented on #10731
- Does all sentinels and redis servers are v6.2?
- I would like to verify I get it right: Say on sentinel node number 5 you are having most of the  connections from VMs {sentine1_node[1-4]}. If that is so, do you have your application running from those VMs?
- Assuming sentinels are the only clients from those VMs, do you see any suspecious or repetitive message in their logs, just before they rea

[2022-05-18 09:07] richzw opened #10743 "[QUESTION] Why increasing the expiry of keys would reclaim expired keys memory faster？"
Per [Reclaim expired keys memory faster](https://docs.redis.com/latest/ri/memory-optimizations/#reclaim-expired-keys-memory-faster),

As we know, Redis uses a randomized algorithm to find out keys that should be expired, so the second method would increase the probability of expired keys being reclaimed.

The third method the `scan` method could force a passive removal across all the keyspace

I a

[2022-05-18 12:38] oranagra commented on #10742
seems like you need to do `BGREWRITEAOF` or reduce `auto-aof-rewrite-percentage` config which for some reason doesn't kick in.

i.e. that will start a background process that will write the current content in the ram as a compact AOF file.
i'm not sure what you wanted to mention regarding `rdb_current_bgsave_time_sec` (that's the age of the last RDB saving).

however, maybe i'm completely missing

[2022-05-18 12:39] oranagra commented on #10742
please share `INFO MEMORY` and `INFO PERSISTENCE`, and `CONFIG GET auto-aof*` so we can figure out why it didn't do an auto rewrite sooner.

[2022-05-18 12:44] filipholec commented on #10742
Hi @oranagra - thanks for your input, here are the stats you requested:
[code]

[code]

However, `CONFIG GET auto-aof*` command does not provide any output in redis-cli:
127.0.0.1:6379> CONFIG GET auto-aof*
[code]

When I try to run `BGREWRITEAOF`, the output is:
[code]

But it will never execute (probably because there is still ongoing operation BGSAVE in rdb that is going on for over a year.

[2022-05-18 13:00] oranagra commented on #10742
ohh, i didn't notice `rdb_bgsave_in_progress:1`.
so that's what holding the rewrites.

I don't understand why CONFIG GET failed. which version of redis are you using? is it a modified version or a vanilla?

i wonder if you still have the log file from when this bgsave was started and got hung.
please try to search for them so that we can figure out why it happened.
please also post here INFO ALL o

[2022-05-18 14:00] oranagra commented on #10719
so you're actually saying that we should measure the entire event loop cycle time, and attribute that time to all the commands that were processed in that cycle.
i.e. when the cycle started, the last byte of each of the commands was already in the server socket, and when the cycle ended we at least attempted to write the reply (we don't attempt any writes before completing all the commands of that

[2022-05-18 15:21] hwware commented on #10630
@jiangxiaoqiang @maor-rosenfeld  I already create Pr https://github.com/redis/redis/pull/10747 for this issue,  please take a look when you have time, thanks

[2022-05-18 15:56] leibale opened #10748 "Change sharded PubSub message type to smessage"
With the current implementation of sharded PubSub there is no way to distinguish between "regular" and sharded PubSub messages:

[code]

Changing "message" to "smessage" will solve the issue, and it follows the same pattern as "message"

[code]

[2022-05-18 16:26] itamarhaber commented on #10748
Makes sense to me - @madolson what say thee?

[2022-05-18 17:21] YacineTALEB commented on #10719
Correct, that is the actual server-side latency, one command's execution time could impact all of the remaining pipeline.

It can be done by keeping a timer for each client. That timer is 0 if the client has no command being processed. When Redis starts processing a command from that client, it stamps the timer. Then the timer is captured and reset to 0 when the client output buffer is flushed. It

[2022-05-18 19:17] yossigo commented on #10702
These flags only affect Redis itself and not the dependencies, as stated in `src/Makefile`.

[2022-05-18 21:52] hpatro commented on #10748
@leibale Trying to understand the issue. Won't the client be able to figure out based on the command used to `publish`/`subscribe`?

[2022-05-19 05:34] filipholec commented on #10742
Great, thanks @oranagra  for the comment - after killing the `redis-rdb-bgsave` process, I've been able to run `BGREWRITEAOF` :slightly_smiling_face:

Oh and the Redis version is 6.0.6 and since I did kill it the configuration of INFO ALL is now probably not relevant. I couldn't find the problem in logs, since they seem to be redirected to /dev/null.

We can close the issue now.

[2022-05-19 05:34] #10742 closed

[2022-05-19 06:56] chayim commented on #10748
CC @dvora-h you wanted to track this as well

[2022-05-19 07:18] leibale commented on #10748
@hpatro if one client subscribes to the same channel name using `SUBSCRIBE` and `SSUBSCRIBE` there is no way to tell if an incoming message was published using `PUBLISH` or `SPUBLISH`

[2022-05-19 07:34] tezc opened #10749 "Module Configuration API forces modules to have string configurations as RedisModuleString"
https://github.com/redis/redis/blob/60250f50c2f308d301fb0bfcb6d07faa2560ce60/src/module.c#L11593

https://github.com/redis/redis/blob/60250f50c2f308d301fb0bfcb6d07faa2560ce60/src/module.c#L11411

`getModuleStringConfig()` calls the `get_string()` callback and gets a `RedisModuleString`. This function will not decrement refcount of the object. So, the module is supposed to keep configurations as `R

[2022-05-19 07:40] huangcuiyang commented on #10356
also with me, cluster stack in waiting  node join .....................

[2022-05-19 08:13] anzunming opened #10750 "compile"
How to compile redis with own compile chain, thanks

[2022-05-19 08:19] sundb commented on #10750
Can you give more infomation about your question?

[2022-05-19 09:12] anzunming commented on #10750
I compile redis under the linux system, and use a specified compilation chain to compile redis, so that the compiled redis can run on a small linux system. The compilation of redis uses gcc (CC), if I replace gcc (CC) with aarch64-rockchip-linux-gnu-gcc; aarch64-rockchip-linux-gnu-gcc is a compilation chain.

[2022-05-19 09:14] anzunming commented on #10750
How to modify the Makefile when compiling with the specified compilation chain

[2022-05-19 09:18] sundb commented on #10750
You can try `CC={your compile chain} make`.

[2022-05-19 10:58] filipecosta90 commented on #10719
indeed it's O(1) but the overhead is around 0.8-1.2% depending on the command logic being heavier. Thus another 1% extra CPU cycles need to be discussed. If we add that to time tracking overhead I believe we might be talking about extra 2-3% impact on CPU cycles. Agree @oranagra ?

As mentioned also, the memory overhead will depend upon how granular does the info need to be.

WRT to the info this

[2022-05-19 11:41] panla commented on #10356
我遇到的问题经过研究后发现是 网络端口的问题，下面是文档中描述，使用 docker 的话需要使用 host 网络，与 tls 配置关系
不大。

==============
目前，Redis群集不支持NATted环境，IP地址或TCP端口被重新映射。

Docker使用一种称为端口映射的技术：与程序认为使用的端口相比，在Docker容器内运行的程序可能会被暴露不同的端口。这对于在同一服务器上，同时运行多个使用相同端口的容器是非常有用的。

为了使Docker与Redis Cluster兼容，您需要使用Docker 的主机网络模式。有关更多信息，请查看[Docker文档中](https://docs.docker.com/engine/userguide/networking/dockernetworks/)的--net=host选项。
==============

[2022-05-19 11:43] Yuuoniy opened #10752 "[BUG] memory leak in streamGetEdgeID"
**Describe the bug**

Hi, I found a possible memory leak in streamGetEdgeID with static analysis.

`si` is initialized by `streamIteratorStart()`, the code doesn't `streamIteratorStop()` on it when things done.  it's a memory leak.
https://github.com/redis/redis/blob/60250f50c2f308d301fb0bfcb6d07faa2560ce60/src/t_stream.c#L393-L405

According to the doc of `streamIteratorStart()`, we need to call

[2022-05-19 11:53] moticless commented on #10731
@gopikrishnagurram, any new findings?

[2022-05-19 11:54] sundb commented on #10752
@Yuuoniy Thx, you are right.
Can you make a PR to fix it?

[2022-05-19 12:13] Yuuoniy commented on #10752
@sundb Sure, I will send a PR later.

[2022-05-19 14:16] TOMsworkspace opened #10754 "Why the skiplist is defined in the server.h?"
Why the skiplist is defined in the server.h?

I read the src and found the zskiplist and the zset data structures are defined in the server.h. I think it is a little bit strange.

Why is it designed this way? and whether it to be considered refactoring?

[2022-05-19 15:35] hpatro commented on #10748
@leibale Thanks for the clarification.

I also feel we should make this breaking change. Once, the redis-core-team approves, will put up the PR.

[2022-05-19 16:47] YacineTALEB commented on #10719
Is your assumption based on the fact that we log the latency after every command? In the approach I propose we only log the latency in the `beforeSleep` when flushing the client output buffer, so I expect the overhead being lower.

Which internal latency are you referring to?

[2022-05-19 17:02] itamarhaber commented on #10743
Aye, needs to be corrected - @richzw could I bother you moving this issue here: https://github.com/RedisLabs/redislabs-docs/edit/master/content/ri/memory-optimizations.md

[2022-05-20 05:47] richzw commented on #10743
Done. I just remove the fourth method of Reclaim expired keys memory faster, and pull request had done. Please correct me if something is wrong or if anything am I missing.

[2022-05-20 07:29] yuanhengWang commented on #10739
Hi,We use CentOS Linux release 7.6.1810 (Core)

regards~

[2022-05-20 10:03] maor-rosenfeld commented on #10630
Thank you a lot for this PR :) I'm in the discussion.

[2022-05-20 13:13] jem003 commented on #7806
thx @luisdev! That worked!

[2022-05-20 13:38] hwware commented on #10630
Thanks, i am glad to help.

[2022-05-20 16:27] sundb commented on #10754
@TOMsworkspace This may be related to its earliest implementation(6b47e12), which was strongly coupled to robj when it was implemented, so it's not really a standalone library.
It does look like it could be moved to a separate file now, but I don't think we should make such a big change just to move the codes, and it would also break a lot of blame logs.

[2022-05-20 18:55] madolson commented on #10748
@leibale You can always trivially differentiate them just with custom naming on the channels. However, I think for clients having the separate message allows them to more appropriately route them. (if message, forward to normal listener, if smessage forward to sharded listeners)

This seems like a more appropriate fix, and seems acceptable at this point.

[2022-05-20 19:15] madolson commented on #10749
My expectation for strings was that that module developers would just always keep the object as a RedisModuleString. They have the benefit of being binary safe, and implicitly contain a null terminator so that they can be used as a C string. I presume the real problem here is that it's not trivial to update your config system to use a RedisModuleString instead of the C pointer?

When I was thinkin

[2022-05-20 19:32] madolson commented on #10589
@QuChen88 Thanks for linking that! I thought we did do some investigation along that line, I just searched internally though, I never realized we posted it on an issue. As @zuiderkwast mentioned, I think there are some other benefits as well including the better memory utilization on the main dictionary. One nugget mentioned in the previous thread thread is that there is likely value in changing t

[2022-05-21 03:16] chendali16 opened #10756 "Stream - xtrim entries still show up in xpending"
Message entry id still shows up in xpending after xtrim

write to a stream
create a consumer group
xreadgroup some messages but don't ack them
xtrim the stream
xpending returns all the entry ids including those have been trimmed

In this case, how to clean up the data？

[2022-05-21 08:31] SuleymanOzdemr commented on #6032
I Deleting dump.rdb solved

[2022-05-21 11:24] mashirozx commented on #4747
Same issue till 2022, redis 6.2. Works fine on Linux, or without volume mount on Windows.

[2022-05-22 03:01] Yossifsolman opened #10757 "The AOF directory appendonlydir doesn't exist / bug? or something not installed by deafult?[QUESTION]"
"The AOF directory appendonlydir doesn't exist"
It's a bug?
Or something not installed by default?
Its need to be installed? (it MUST? Or i can continue like this?)

i see it in my log:
systemctl status redis:
[code]

It's serious? i see a different guy publish this AOF folder is a bug?
Or i need to install it along with Redis?

It is neccery this AOF folder?
Or i can continue without that?

[2022-05-22 05:14] sixsixsix516 opened #10758 "[QUESTION] Why does redis need to observe whether the server is currently executing the two commands bgsave or bgrewriteaof when it expands the hash table?"
Why does redis need to observe whether the server is currently executing the two commands bgsave or bgrewriteaof when it expands the hash table?

[2022-05-22 05:56] enjoy-binbin commented on #10757
it is not serious, `The AOF directory appendonlydir doesn't exist` this one just a notice, but i can see it is indeed a confusion from your logs.
is a bug? where did you see it, can you provide a link?  it is not a bug, it was a feature (multi aof) introduced in redis7.0

no need

you can continue with it, and you can find more detail in here: https://github.com/redis/redis/blob/7.0.0/redis.conf#L

[2022-05-22 05:59] enjoy-binbin commented on #10758
bgsave or bgrewriteaof, they both need to fork a child process to handle the work
we rely on copy on write, so it is better not to do the rehash and mess up the memory

[2022-05-22 07:58] oranagra commented on #10742
@filipholec did you use `-11` when you killed it as i advised? in that case we should have a crash log indicating where it was hang.

[2022-05-22 08:43] oranagra commented on #10757
i also think this message could cause some confusion, maybe we should drop it? or rephrase it?
@chenyang8094 WDYT?

[2022-05-22 08:57] oranagra commented on #10754
maybe it's also related to the fact that in redis 3.0 the cluster's `slots_to_keys` used to use a skiplist (changed to rax in 4.0)

p.s. many things in redis take the approach of one header (server.h) serving multiple source files.
thinks that have their own header are usually ones that are completely independent libraries, like listpack, rax, dict. so maybe skiplist could have been one, but i don

[2022-05-22 08:57] #10754 closed

[2022-05-22 09:15] #10752 closed

[2022-05-22 09:39] oranagra commented on #10749
IIRC the API was designed this way for several reasons:
1. RedisModuleString is the native way to store dynamic strings between redis and the module (we usually use C strings for constant ones)
2. using C strings would mean we need to either carry an additional size_t to keep them binary safe, or add another config type (one for C strings and one for buffers).
3. the ownership model is designed so

[2022-05-22 09:46] oranagra commented on #10748
Other than the fact it's a breaking change for something that's already released (maybe it's early enough to afford to break this), maybe for some clients seeing them the same could be beneficial?

i.e. if the client library already handles `message` correctly, and the user's use the new commands via some `execute_command` mechanism without proper support from the client library, using the old for

[2022-05-22 10:30] oranagra commented on #10719
but the histogram is collected per command.
i.e. you track the entire event cycle time, and then add that to all the commands executed in this cycle.
right?

[2022-05-22 11:55] coreocto opened #10759 "[BUG] SCAN command does not always returns the identical result"
**Describe the bug**

Searching keys with patterns `SCAN` does not always return identical results.

**To reproduce**

1. Pull & create a docker container using `redis/redis-stack:latest` image.
1. Create over hundreds of documents at the database.
2. Randomly pick a key of any document for key search pattern. Ensure the key presents with `KEYS` command.
3. Try to search the key using `SCAN` comma

[2022-05-22 12:50] oranagra commented on #10759
The SCAN command does not guarantee it'll return anything in a specific call to SCAN.
you should be concerned about whether or not a full scan sweep will return that key or not
i.e. a full sweep is feeding the returned cursor into the next call to SCAN again and again until the returned cursor is 0.

Note that the SCAN mechanism was designed as a way for iteration on the database without maintaini

[2022-05-22 12:50] #10759 closed

[2022-05-22 14:10] #10604 closed

[2022-05-22 17:16] YacineTALEB commented on #10719
i.e. you track the entire event cycle time, and then add that to all the commands executed in this cycle.

That is correct. We'd only save some cycles for pipelined commands that would have the same latency value (same event loop execution).

I suppose this feature could be hidden behind a feature flag as well?

[2022-05-22 18:33] luxe opened #10760 "[QUESTION] What is the default value of cluster-node-timeout?"
I don't see the default value of `cluster-node-timeout` documented anywhere.  What is is?

[2022-05-22 19:23] yossigo commented on #10748
@oranagra I'm also not sure about the value here. @leibale Can you elaborate on the use case? I understand it's not possible to distinguish PUBLISH from SPUBLISH at the moment, but as @oranagra mentioned this can also be viewed as a good design choice.

[2022-05-23 00:24] luxe commented on #10760
I think `cluster-node-timeout 15000`
according to  https://raw.githubusercontent.com/redis/redis/6.2/redis.conf

[2022-05-23 00:24] #10760 closed

[2022-05-23 01:35] leibale commented on #10748
@oranagra @yossigo

[code]

[code]
what the client should do? throw an error? run both handlers?

[2022-05-23 02:23] enjoy-binbin commented on #10599
https://github.com/redis/redis-doc/pull/1883
the doc has been updated, closing

[2022-05-23 02:23] #10599 closed

[2022-05-23 02:34] DarrenJiang13 commented on #8993
Seems to be fixed in #9849 . Closed.

[2022-05-23 02:34] #8993 closed

[2022-05-23 04:08] gopikrishnagurram commented on #10731
@moticless

I found one bug in my code, There are multiple times connections connections are opening and after that close call also happening.

After closing also sentinel connections not closing. This connections continuously monitoring the master. I gone through jedis source code, Here is the problem I believe. They are creating threads and

[code]

[code]

We can notice that this threads are da

[2022-05-23 05:10] moticless commented on #10731
Cool.

Ok to close this issue?

[2022-05-23 05:54] ranshid opened #10762 "[BUG] BZMPOP blocks on non key arguments"
In Redis 7.0 BZMPOP was introduced allowing to block for any of the provided sets to have at least one element.
However this command introduced a change in command arguments for which the current generic blocking [code ](https://github.com/redis/redis/blob/unstable/src/t_zset.c#L4044) for zset commands is not considering.

When issuing a bzmpop with timeout and count the command also blocks on the

[2022-05-23 06:26] enjoy-binbin commented on #10762
sorry, my bad, this line should be
[code]

[2022-05-23 06:45] chenyang8094 commented on #10757
Yes, i think the log indeed cause some confusion. i will make a PR to fix that.

[2022-05-23 06:55] ranshid commented on #10762
Thank you for the fast response (I was going to fix it myself :) )
I do not think  the ACL is still an issue after this fix is done.

[2022-05-23 07:43] enjoy-binbin commented on #10762
i am happen to see it (take me a while to take care of the test part), BZMPOP is kind caught my eye... thanks for the report, i must "did" a copy-paste error back then (without thinking it)

ooh that would be great, i did not look into the acl part, the bug dose not require acl

[2022-05-23 08:33] zuiderkwast commented on #10748
If it's not too late, I think we should change it now, so we don't have to live with this for the rest of our lives. We already have `pmessage` for PSUBSCRIBE, so tagging the message with `smessage` for SSUBSCRIBE is consistent.

If we don't fix it, clients will need to check both lists of handlers to know which callback(s) to call, which probably works in practice but it's extra complexity for th

[2022-05-23 09:04] tezc commented on #10749
@oranagra If we make this change, modules can decide whether they want to keep their strings as C string or not. The suggested way can still be RedisModuleString. In my case, I don't have any reason to have RedisModuleString configs inside the module. So, currently, each time I access a config, I need to make another function call to get C string pointer. It gets ugly quickly.

@madolson  Keeping

[2022-05-23 11:15] #10762 closed

[2022-05-23 14:12] tezc commented on #10749
@oranagra Not sure if we are on the same page. Perhaps, I wasn't clear. I just suggest calling `decRefCount()` after `get_string()` callback. Please take a look at this commit, also I added an example:

https://github.com/tezc/redis/commit/88731352993d4961a1e1893c3ca1e0c100dede90

API stays same. This change is just about ownership of the string object that we pass in that callback. If module keep

[2022-05-23 14:49] oranagra commented on #10749
ok, now i think i realize what you're after (i thought the scope is bigger).
but i must say it looks a bit odd that you "retain" a string for the purpose of returning it, just because you rely on the caller to free it later.

usually, it works the other way around, i.e. the caller calls a method with a string, and the callee decides if it wants to just look at it, or retain it for later, and then

[2022-05-23 15:43] yossigo commented on #10749
@oranagra I lean towards [2] (flag / different type). I don't think we should break the ABI, and I'm not very happy with leaving this unsolved.

[2022-05-23 16:26] tezc commented on #10749
@yossigo @oranagra If we are not making this breaking change, probably we shouldn't try to solve this. Seems like option-2 will make API confusing a bit. I think I rather apply a workaround in the module itself at this point. Sorry, I have mixed feelings :) I feel like solving the issue but no need to make API more complex. Only good solution is the breaking change, so, I guess I give up.

[2022-05-23 16:47] oranagra commented on #10749
A flag can be confusing, but on the other hand sometimes a API that looks simple is worse than a confusing one if the simple one is misleading.
I.e an extra argument can force people to read and understand the consequences.. However a flag will probably be overlooked. So I agree.

The only thing then that maybe worth another thought it adding another type, one meant for modules that want to use pl

[2022-05-23 17:46] oranagra commented on #10742
Ohh, right, you said it was set to dev/null. So I guess we'll never know..

[2022-05-23 19:37] eduardobr commented on #10668
Closing this issue as it can be fixed outside redis with proper configuration

[2022-05-23 19:37] #10668 closed

[2022-05-24 00:45] Yossifsolman commented on #10757
You are very good team, wish other developers was like you.
Respond quick, good support in general and amazing product too…

Remember me when you got rich, all of you.

About the bug i not remember when i see it but i put in google search:
`The AOF directory appendonlydir doesn't exist`

Not remember the POST
but i see couples of peoples publish this as a bug
or maybe a bug,
**but i not trust, nob

[2022-05-24 06:07] j3k0 commented on #10729
@hwware any idea what I should look at to figure out how the cluster configuration is lost?

[2022-05-24 14:21] uvletter commented on #10729
hi @j3k0, can you post the `cluster nodes` outputs of problem node before and after the reboot?

[2022-05-24 14:41] mrtwenty commented on #10756
you can

XACK id

or

XGROUP DESTROY test_mq test_group
XGROUP CREATE test_mq test_group 0

[2022-05-24 15:05] chendali16 commented on #10756
When "XGROUP DESTROY test_mq test_group" is executed, the pending data in the test_ group will be cleared?

[2022-05-24 15:32] j3k0 commented on #10729
This isn't 100% predictable. Happens only on some reboots.

To simplify the context, I disabled rdb saves, only appendonly is enabled (and dump files removed).

Here for example:

Before (masters in blue - nodes that changed config highlighted in color -- same as below graphs):
<img width="895" alt="Screen Shot 2022-05-24 at 17 27 46" src="https://user-images.githubusercontent.com/191881/170074086

[2022-05-24 16:17] uvletter commented on #10729
Thanks for your graphs, it's very vivid. As for the second graph, can you provide the log in the red node(i.e. 192.168.41:5006), it's a little bit odd that it joined a different group.
BTW, `cluster nodes` is a command to let redis tell the cluster topology, which shows a more detailed raw informations. It would be better if you can also provide this : )

[2022-05-24 18:01] hwware commented on #10729
@j3k0 Sorry for delaying response for you. I need take some time to learn something about docker-compose because I am not familar with that part.

And Thanks for your picture. I summarize your network structure as below:

master: 192.168.100.43:5004  slave: 192.168.100.42:5006     192.168.100.41:5005

master: 192.168.100.42:5004  slave: 192.168.100.43:5006     192.168.100.41:5004

master: 192.168.

[2022-05-24 18:01] j3k0 commented on #10729
Sure.

Now we're in the buggy state, I'm running `cluster nodes` from `.42:5004` and `.41:5006`.

[code]

---

Getting the cluster back in a correct state (each master having 2 replicas), by running:
[code]

Now here is the `cluster nodes` output:

[code]

And a vivid graph :-)
<img width="458" alt="Screen Shot 2022-05-24 at 20 18 40" src="https://user-images.githubusercontent.com/191881/170094693

[2022-05-24 18:46] j3k0 commented on #10729
@hwware I apologize for having you look into docker-compose, useful skill but might have not be necessary for this issue.

After having reproducing the issue, it's strange that the same "red" node `x.41:5006` was again migrated (when rebooting a machine that has nothing to do with the `x.44.5004,x.45:5006,x.41.5006` group (node `x.42`).

Vivid graph of the new configuration.

<img width="688" alt=

[2022-05-24 19:22] hwware commented on #10756
yes. Please see the following test steps:

![image](https://user-images.githubusercontent.com/51993843/170115877-1a9a2c51-3d9b-4c09-9c98-291521abad39.png)

[2022-05-24 20:38] fimbulty opened #10766 "Redisgraph Crashdump"
=== REDIS BUG REPORT START: Cut & paste starting from here ===

13:M 24 May 2022 20:15:13.721 # === ASSERTION FAILED ===

13:M 24 May 2022 20:15:13.721 # ==> /build/src/resultset/formatters/resultset_replycompact.c:94 '"Unhandled value type" && false' is not true

------ STACK TRACE ------

Backtrace:

/opt/redis-stack/lib/redisgraph.so(+0x22d091)[0x4004a51091]

/opt/redis-stack/lib/redisgraph.so(

[2022-05-24 23:27] Ziggizag commented on #7361
So,

For me the only working solution was commenting out this line of the `/etc/systemd/system/redis.service` file:

`PIDFile=/run/redis/redis-server.pid`

So now it goes:

`
[Service]
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
#PIDFile=/run/redis/redis-server.pid
TimeoutStopSec=0
Restart=always
User=redis
Group=redis
RuntimeDirectory=redis
RuntimeDirectoryMode=2755
`
Since

[2022-05-25 02:13] chendali16 commented on #10756
Got it. Thanks

[2022-05-25 03:42] uvletter commented on #10729
I think I grasp the reason, the key clue is `Migrating to orphaned master 894eb6eb357de3103a2e778b93358f23be7f68b5`, which means the reboot trigger the CLUSTER-slave-migration strategy unintentionally.
[code]
Let me reproduce the process. After rebooting host x.42, now only node `x.41:5006`  is left in the group(`x.43:5004` is also unavailable now as x.43 is in reboot), so node `x.41:5006` is orph

[2022-05-25 05:21] oranagra commented on #10766
Please open in https://github.com/RedisGraph/RedisGraph
@gkorland FYI.

[2022-05-25 05:21] #10766 closed

[2022-05-25 07:18] huntkalio opened #10772 "[NEW]redis sentinel add config to exclude replica-announced replication config rewrite"
**The problem/use-case that the feature addresses**

A description of the problem that the feature will solve, or the use-case with which the feature will be used.
I use redis sentinel to solve redis HA。
- In AWS Region A, I have 3 redis instance  M1, R1, R2.  M1 --> R1  、 M1 --> R2 sync through private network
- In AWS Region A, I have 3 sentinel instance  S1, S2, S3
- In AWS Region B, I have ano

[2022-05-25 07:36] guybe7 commented on #10756
for the record: this is a known limitation (we don't want to iterate all PELs of all groups and delete entries that were trimmed)

starting from Redis 7, using `XCLAIM` or `XAUTOCLAIM` so that one of these commands hits a deleted entry will cause its removal from the PEL

[2022-05-25 07:36] #10756 closed

[2022-05-25 10:09] arjunshetty955 opened #10774 "Redis-Build source code with clang(llvm) and lib's path issue: uses gcc or /usr/lib64 instead clang libs path"
Followed steps:
Step1:
export CC=clang
export CXX=clang++
export LD_LIBRAY_PATH and PATH
wget https://download.redis.io/redis-stable.tar.gz
tar -xzvf redis-stable.tar.gz
cd redis-stable
make OPTIMIZATION=-O3  USE_JEMALLOC=no(Malloc=libc)  USE_SYSTEMD=yes LDFLAGS= -L/llvm-clang/ <-lm>
make test
make PREFIX=/usr/loca/redis install
step2:
Create a Redis User
step3:
Create Redis Configuration
step4:
C

[2022-05-25 15:39] slact commented on #10748
I am also opposed to making a separate `SMESSAGE` type. First off, the term itself makese little sense. Whereas `SSUBSCRIBE` and `SPUBLISH` have that `S` in the name to distinguish the sharded vs global pubsub namespace, `MESSAGE`s are generated by channels regardless of the subscription type.

By that I mean whether you `SUBSCRIBE`d or `PSUBSCRIBE`d to a channel, you still get a `MESSAGE`. Patter

[2022-05-25 17:13] slact commented on #10748
Yep, I completely blanked that you really do get a `PMESSAGE` for `PSUBSCRIBE`s. OK, consider my argument invalidated.

[2022-05-25 17:41] JimB123 opened #10776 "Minor comment bug"
https://github.com/redis/redis/blob/9eb97b5d94ca4434f9035af164fe3a48dca31de2/src/module.c#L5552

Clearly more than one flag exists.

[2022-05-26 01:31] allenzhuyi opened #10777 "high memory in redis stream"
I use redis version:6.2.6, the stream key is high,I use xadd to limit the length of stream,but the memory kept high,after running whole day, redis memory kept high.The next day when I del the stream key,the memory immediately down. How can I debug the problem?

[2022-05-26 02:14] kyle-yh-kim commented on #10472
@PingXie It's a valid point you raised. We have previously reviewed this approach during our internal design review process, with details attached below.

TLDR; Our proposed design candidate still stands with **Option 2. Size parameter introduction**. That being said, we should make the right decision for open-source Redis, and would like to hear your thoughts and feedback following the pros and c

[2022-05-26 02:19] kyle-yh-kim commented on #10472
@PingXie For sure, it's a good idea to differentiate / alarm Redis users when their per slot memory metrics are impacted by un-supported module presence.

We will get back on this after closing the major design decision convergence, posted above.

[2022-05-26 02:21] enjoy-binbin commented on #10776
i think we can just drop `For now only one exists: ` this part

[2022-05-26 05:03] oranagra commented on #10777
some data from XINFO would have probably been useful.

[2022-05-26 06:15] j3k0 commented on #10729
Thanks @uvletter!

It's still probably a bug that a replica ended up replicating another replica, or is this an acceptable behavior?

Anyway, I learned something (didn't know of that auto-migration behavior), which I believe I can prevent in my case by setting `cluster-migration-barrier` to `2`, as such a replica won't even found itself in a position it can decide to migrate automatically. My "req

[2022-05-26 06:22] slushpuppy commented on #7392
^^ for those who may also have issues, ensure that the crt files are system wide readable as well in the /usr/local/share/ca-certificates/ directory:

i.e. chmod 0777 /usr/local/share/ca-certificates/*.crt

[2022-05-26 07:01] moticless commented on #10772
Since R3 is required to access indirectly to M1, then all your instances
cannot publish their default internal IP but the accessible/public one.
This is achieved via the following two options:
[code]
You can also specify hostname instead of IP.

Please see [here](https://github.com/moticless/redis-network-testing/tree/main/docker-compose-setups) docker-compose examples to such configuration.

[2022-05-26 07:29] huntkalio commented on #10772
@moticless If I use "replica-announce-ip" in M1, R1, R2; all of them will sync through public network, but I only wan't M1 --> R3 through public network;  M1 --> R1 、 M1 --> R2   sync through private network

[2022-05-26 08:14] aryehlev opened #10778 "Redis Cluster in k8s"
**Crash report**

At certain times the memory of the nodes  that the master of redis are on spike up almost double the amount of maxmemory -> the memory of the db is still the same but the memory of the redis process takes up almost double.

We narrowed it down.
and it happens when we load large amounts of data into redis while BGSAVE is happening.

- we are running redis cluster in k8s with 4 sha

[2022-05-26 09:47] oranagra commented on #10778
what you mention could be either fragmentation (RSS of the main process), or Copy-On-Write during fork (BGSAVE).
we see that `used_memory_rss` is similar to `used_memory`, so it's not fragmentation.
and also you said that it's happening while you load data (via commands, i assume, not RDB) during BGSAVE.
so it makes perfect sense that it's COW.
however, in your INFO it looks like COW peak of the l

[2022-05-26 09:47] oranagra commented on #10778
p.s. either way, this redis instance looks quite big and heavy. you should consider sharding it to smaller pieces, in which case the COW can be improved if they don't all BGSAVE at the same time.

[2022-05-26 09:56] aryehlev commented on #10778
@oranagra  thank u so much for the response.
a few follow ups,
1: if we reshard should we keep the percentage of memory
redis 75% of total memory if node or do we need to reduce to about 50%?
2: we need to make sure that BGSAVE are done at different times even though each shard is on a separate node?
3: The info might not be updated because it crashed multiple time.
4: Do u know how loading data a

[2022-05-26 09:58] aryehlev commented on #10778
also we are using redis 6.2 so i think fragmantation is disabled

[2022-05-26 10:06] oranagra commented on #10778
i don't know much about k8s deployments, how to deploy multiple shards on one instance, and how much memory to reserve.
in theory if you split it to smaller pieces, the ratios of reserved memory can remain the same, and the COW may be reduced since they don't all do BGSAVE at the same time, but i'm not sure how you may control that on your end.

if you load 20gb of data (overriding or evicting pre

[2022-05-26 12:54] allenzhuyi commented on #10777
xinfo groups fusion_rt_trace

1) 1) "name"
   2) "dev"
   3) "consumers"
   4) (integer) 1
   5) "pending"
   6) (integer) 206894
   7) "last-delivered-id"
   8) "1653569485209-0"
there are so many pending result.
This may be the reason why the memory kept running even the xlen of the stream kept same.

[2022-05-26 14:23] #10757 closed

[2022-05-26 14:33] uvletter commented on #10729
I think the configuration `cluster-allow-replica-migration` satisfy your requirement :-)

[2022-05-26 14:34] #10776 closed

[2022-05-26 18:56] yossigo commented on #10774
Duplicate of #10765

[2022-05-26 18:56] #10774 closed

[2022-05-26 23:20] pieturin commented on #9351
We did get the same crash in some of our instances in AWS.

@ny0312 was able to identify the root cause:

### Symptom

This issue manifests with 4 symptoms.

**1.** This the most direct symptom.

Replicas in cluster mode enabled clusters and repeatedly failing to sync with their masters with the same error message.

[code]

**2.** Error messages in 1. all started after a cluster bus event similar

[2022-05-27 04:55] enjoy-binbin commented on #10503
i suppose it was fixed in #10615, closing

[2022-05-27 04:55] #10503 closed

[2022-05-27 06:42] soloestoy commented on #10748
interesting, I agree `smessage` is better.

[2022-05-27 12:08] anilbommareddy commented on #10702
@yossigo  Redis build failed  for llvm-clang with -flto option in  Ubuntu 20.04.3 LTS"                                                                  1.wget https://download.redis.io/redis-stable.tar.gz
 2. tar -xvzf redis-stable.tar.zx and cd redis-stable
  3.export CC=clang ,export CXX=clang++ and PATH and LD_LIBRARY_PATH of llvm
  4.make  OPTIMIZATION=-O3  CFLAGS="-march=znver2 -flto  build f

[2022-05-27 17:07] loud-mouth opened #10787 "[QUESTION] Can a Redis instance be configured to NOT overwrite old snapshots?"
I am running a redis instance locally. I am using the `redis.conf` file to provide the fixed directory and filename to my instance to save the redis `dump.rdb` snapshot.

My intention is to compare two redis snapshots taken at different times. But Redis rewrites over the old dump file after creating the new one.

I found the `rdb.c` file, which has the code that executes the autosave and rewrites

[2022-05-27 17:33] cquike opened #10788 "[CRASH] background saving terminated by signal 7"
**Crash report**
 I have experienced a crash of redis. I am using redis for memory caching of a nextcloud instance.

In the log I see these entries:

[code]
Those are repeated for about 15 min, after which I realized the nextcloud server was down. I then restarted redis with
[code]
In the log the following entries were added. I assume this is due to systemctl shutting down the server, although red

[2022-05-27 19:29] oranagra commented on #10788
@cquike there's no stack trace in the crash log?
@yossigo do you remember any difference between our repo and the debian repo or a recent fix that could explain a SIGBUS?
@cquike can you try the latest 6.2.7 from our [repo](https://redis.io/docs/getting-started/installation/install-redis-on-linux/)?

[2022-05-27 19:58] oranagra commented on #10748
so it looks like other than the uncomfortable breaking change, (nearly) everyone agree that it's better to change it.

[2022-05-27 20:45] cquike commented on #10788
Hi,

I think there is a problem with the hardware, since I now see this error in the logs:
[code]
So most likely not a problem with redis but with the underlying hardware...

Just FYI: no, there is no stack trace. There is a line with this:
``
------ STACK TRACE ------
``
but what follows is the starting of the redis process again. So it seems as the stack trace would be completely empty.

Thank y

[2022-05-28 03:00] #10758 closed

[2022-05-28 06:36] oranagra commented on #10788
Something was seriously broken. The signal handler seems to have crashed while trying to print the stack trace.
Maybe something to do with the code being swapped out and being unable to swap in?

Anyway I've never seen anything like it, so I assume it's indeed a hardware issue.
Closing.

[2022-05-28 06:36] #10788 closed

[2022-05-28 17:18] hpatro commented on #10748
Looks like we have a consensus, submitting a PR shortly.

[2022-05-28 17:39] yossigo commented on #10702
@anilbommareddy Looks like jemalloc was not built, try `make distclean` and rebuild. If it fails, look for errors during jemalloc compilation.

[2022-05-29 04:58] em34j commented on #10632
I have same issues

[2022-05-29 04:59] em34j commented on #10632
@laotouli
are you fixed?

[2022-05-29 05:36] moticless commented on #10772
Redis support only announcement of a single address to its clients. In order to have proper access across regions, it need to announce its public network.

I don't think such feature request of publishing public and private hostname goanna be prioritized (@yossigo ?).

If you still want such configuration, maybe you should look for your answer elsewhere with various available cross-region NAT solu

[2022-05-29 05:57] OronMA opened #10793 "[BUG]"
sending "expireat" command with only the key (with empty string)  as part of a multi command does not return an error

A short description of the bug.

Using a multi and with at least 2 commands the redis accept sending expireat command as part of the multi with the 2nd argument as empty string

Steps to reproduce the behavior and/or a minimal code sample.

"multi"
"hincrby" "foo" "bar" "123"
"exp

[2022-05-29 06:09] oranagra commented on #10787
there's nothing like that built into redis. i suppose the proper way would be t copy the file aside (or make a hard-link) by using some external script.

[2022-05-29 09:41] oranagra commented on #10793
@OronMA i'm not sure i understand your problem.
it's not clear which interface you're using to pass these commands to redis, and if `""` is an empty string, or maybe redis get's a missing argument or an actual `"`.
also, please state which version of redis you're using.

anyway, there are two behaviors:
1 when redis can predict the command is gonna fail during queuing (like arity errors)
[code]
2

[2022-05-29 11:52] OronMA commented on #10793
have you tried it without the CLI?
I am getting this from the ioredis and node redis clients.. (its being passed to the server.. I am reading the resp)
and inside the server i see it in the monitor.

[2022-05-29 12:04] oranagra commented on #10793
tested this on 6.2
[code]

[2022-05-29 12:11] #10793 closed

[2022-05-29 12:17] OronMA commented on #10793
<img width="209" alt="image" src="https://user-images.githubusercontent.com/30016658/170867671-689d5061-3b84-42ee-b2c4-c33c51205a87.png">

[2022-05-29 12:24] oranagra commented on #10793
ok, so an array with two replies saying "1" (that's sounds right?), but note that that's different than your opening post (about empty string argument).
i assume from the fact you closed the ticket that you concluded that there's some problem with the client libraries? (in which case please report in their repos)

[2022-05-29 12:26] OronMA commented on #10793
yes.. its a problem with the ioredis repo.. once again.
in the monitor i can see that it reached the redis server, and the client just ignored the error.

[2022-05-29 13:11] Mulkave opened #10794 "[BUG] qemu: uncaught target signal 11 (Segmentation fault)"
For what it's worth, I'm using the JSON module with this instance.

[code]

[2022-05-29 13:18] oranagra commented on #10794
probably related to this: https://github.com/docker-library/redis/issues/313
I assume you use docket, in which case please state exactly which image you're using and on what HW platform.

[2022-05-29 17:42] Mulkave commented on #10794
@oranagra it seems related indeed. Thanks for the note!

Updated comment above with details:

- Docker image: `redislabs/rejson:2.0.4`
- Host: `macOS Monterey v12.3.1` (M1)

[2022-05-29 22:56] loud-mouth commented on #10787
I see. Thanks very much @oranagra!

[2022-05-29 22:56] #10787 closed

[2022-05-30 00:19] laotouli commented on #10632
yes! restart firewalled everything is ok !

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月29日(星期天) 中午12:59
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [redis/redis] [QUESTION]how to fix it ？ redis-cli: redis-cli.c:2454: clusterManagerGetAntiAffinityScore:Assertion key != NULL&#39;failed.  (Issue #10632)

@laotouli
 are you fixed?

—

[2022-05-30 05:29] changyoutianxia opened #10796 "sort set, i hope add ext data for value"
**The problem/use-case that the feature addresses**

i want  sort set    value  add  ext data

**Description of the feature**

sometime uqiue value  update   scope ，and update ext date,
because i want by scope create delay message,then eq other date and current extDate

[2022-05-30 05:45] sundb commented on #10796
Not sure I fully understand what you mean.
Are you trying to save score and date?
Maybe you could use {score.date} format to store it, for example, if score is 1, date is 2, you could store it as 1.2.

[2022-05-30 06:42] #10704 closed

[2022-05-30 07:01] duynv1609 commented on #7361
Thank you for your tip, it worked for me

[2022-05-30 08:10] anilbommareddy commented on #10702
@yossigo : checked with fresh build but still seen jemalloc compilation issues
make V=1  OPTIMIZATION=-O3  CFLAGS="-flto -I/home/llvm-clang/include" LDFLAGS="-L/home/llvm-clang/lib"
Compilation issues:c/lib/libjemalloc.a -lm -ldl -pthread -lrt
ld.lld: error: undefined symbol: je_get_defrag_hint

clang-13: error: linker command failed with exit code 1 (use -v to see invocation)
make[1]: *** [redis-

[2022-05-30 11:35] yossigo commented on #10702
@anilbommareddy The messages above indicate that jemalloc was indeed not compiled, but you did not include the messages that could indicate *why* it failed.

[2022-05-30 11:37] aryehlev commented on #10778
ok, thank you for ur answer.
we will try to reshard to many more instances and also i think we will only do our loading when there is no BGSAVE happening.
I hope that will solve our issues, and if not we will add memory

[2022-05-30 11:37] #10778 closed

[2022-05-30 14:12] anilbommareddy commented on #10702
@yossigo i think jemalloc compiled in Redis-llvm-clang environment Exa
cd jemalloc && ./configure --with-version=5.2.1-0-g0 --with-lg-quantum=3 --with-jemalloc-prefix=je_ CFLAGS="-std=gnu99 -Wall -pipe -g3 -O3 -funroll-loops -flto -I/home/llvm-clang/include" LDFLAGS="-L/home/llvm-clang/lib"
config.status: executing include/jemalloc/jemalloc.h commands
==============================================

[2022-05-30 15:01] guybe7 commented on #10777
@allenzhuyi can you please provide more info? XLEN and XINFO STREAM

[2022-05-30 19:47] madolson commented on #10472
Related to https://github.com/redis/redis/pull/10152

[2022-05-30 19:57] madolson commented on #10472
@oranagra @redis/core-team Thoughts about https://github.com/redis/redis/issues/10472#issuecomment-1138070198 ? The idea is that there should be an O(1) way for getting the allocated size for all data structures in Redis. The dense structures (string,listpack,etc) are pretty easy to infer, but the sparse structures (hashmap, rax) will require additional memory tracking.

The use case is that we ca

[2022-05-31 03:36] soloestoy opened #10799 "Potential data inconsistency when upgrade old version to 7.0 since old version's EVAL use verbatim replication"
In #9812 we remove EVAL script verbatim replication, and no longer sort the redis command reply array.

It can work well in 7.0 and future versions, but we overlooked a potential data inconsistency problem, that is the old version (like 2.8/4.0) may still use verbatim replication in EVAL, and we doesn't sort the reply array now, eventually lead to inconsistency when upgrading from old version to 7

[2022-05-31 05:04] #10748 closed

[2022-05-31 05:49] oranagra commented on #10799
i have no concrete decision but i wanna point out that:
1. running that script directly on redis 7 also produces random result. actually that's true for 5.0 since effects replication was the default, and we didn't do sorting in that mode.
2. so it means we never intended to sort the output for the user in order to avoid random results, only in order to avoid inconsistency between the master and th

[2022-05-31 06:17] soloestoy commented on #10799
yes, and seems no one met the issue till now, maybe I worried too much it's not a real problem, we can just do nothing, I don't wanna make the sort part in redis neither.

[2022-05-31 06:18] #10799 closed

[2022-05-31 07:11] PingXie commented on #10472
Thanks for the detailed write-up,  @kyle-yh-kim.

With your explanation, the biggest downside to me with the TLS idea is the challenge to filter out temporary memory allocations whose life cycle goes beyond the command invocation (as denoted by c->cmd->process(c)) and as you mentioned, client query/output buffers are two great examples. I don't see a cleaner solution either so I agree option 1 is

[2022-05-31 07:27] oranagra commented on #10799
for the record, we realized this consistency  problem exists since redis 5.0, since the replica does sorting according to it's local config, regardless of the fact the command came from the master.

if we do wanna provide upgrade path from 4.0 to 7.0, it would be better to make a new release of 4.0 (or 6.2) that handles that, instead of re-introducing the sorting code into 7.0 codebase.

[2022-05-31 07:46] 2944229393 opened #10800 "[QUESTION]Would save [get] instruction to the aof file?"
hi, I have a question wanna to figure out.

Would save [get] instruction to the aof file?

[2022-05-31 08:03] #10800 closed

[2022-05-31 18:17] ny0312 opened #10801 "[BUG] Blocking commands do not unblock in time under high volume of new connection churns"
**Describe the bug**

Blocking commands such as `BRPOP` can be used in conjunction with a [timeout](https://redis.io/commands/brpop/) argument. They are supposed to unblock when the timeout is reached, if not earlier.

Such blocking commands do not unblock in time when the following two conditions are met:
* Constant high volume of new connections. E.g. clients do not use long-lived connections, b

[2022-05-31 23:28] madolson opened #10802 "Rethinking the main Redis dictionary"
I want to start a conversation about trying to come up with a more memory efficient main Redis dictionary. The motivation primarily being that a lot of users of Redis have a lot of small strings and values, and Redis has ~52 bytes of overhead for every value and ~32 bytes of overhead for TTL. If you have a lot of small keys/values, this overhead will dominate. It's still worse for cluster mode, si

[2022-06-01 01:47] PingXie commented on #2807
I extended my changes for #10517 and created a prototype to implement this new `CLUSTER MIGRATE` command. The solution doesn't require forking the process nor extra locking. It is done in a way similar to the full sync flow and runs in the main event loop. The core idea is to move the entire slot migration protocol into redis-server and wrap it under the single command `CLUSTER MIGRATE`. At a high

[2022-06-01 06:57] YuGuiwe opened #10803 "[CRASH] RedisGraph CRASH report."
I encounter some problems when I tried the RedisGraph.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
24191:M 01 Jun 2022 06:28:06.256 # Redis 6.0.9 crashed by signal: 11, si_code: 1
24191:M 01 Jun 2022 06:28:06.256 # Accessing address: (nil)
24191:M 01 Jun 2022 06:28:06.256 # Killed by PID: 0, UID: 0
24191:M 01 Jun 2022 06:28:06.256 # Failed assertion: <no assertion failed> (<no

[2022-06-01 07:22] gkorland commented on #10803
@YuGuiwe thanks for opening the issue, if you please reopen the issue in the RedisGraph repo: https://github.com/RedisGraph/redisgraph

[2022-06-01 07:47] oranagra commented on #10460
I think we may have finished dealing with regression, but there are still some ideas for improvement, two mentioned in https://github.com/redis/redis/pull/10697#issuecomment-1137334208 which we should find time to evaluate.

[2022-06-01 08:25] #10803 closed

[2022-06-01 08:54] tezc commented on #10749
@madolson What do you think about adding another type for null terminated strings?

[2022-06-01 09:54] namirsab opened #10806 "[BUG] AOF Compaction stopped"
**Describe the bug**
AOF compaction stopped suddenly, crashing our server because we've run out of disk space.

I have not steps to reproduce this, unfortunately. It just happened for the second time

I expect that this doesn't suddenly happen, because it crashses the database

**Additional information**

We are using v6.2.

Normal behaviour, you can see the disk usage growing a bit, but is compac

[2022-06-01 18:52] PingXie commented on #2807
I am confident that the (in)consistencies are already solved by #10517 (I have more updates next by the way), which is what this solution is based on.

The utopian world that I would like to get to (and getting there now) is that Redis will automatically resume any slot migration interrupted by failovers (manual or automatic). The only exception would be the large key-value pair because it risks O

[2022-06-02 02:57] uvletter commented on #10806
Did you reserve the server state with `INFO` command? A possible reason is that the background rdb save or aof rewrite process would block the aof rewrite(i.e. aof compaction) as https://github.com/redis/redis/issues/10742

[2022-06-02 03:06] chendali16 opened #10809 "[NEW]stream xreadgroup consumption supports push mode?"
Whether stream consumption supports push mode with a long connection in the future, while the remote consumption with pull mode have a poor performance with twice network delay.

[2022-06-02 03:23] sundb commented on #10809
Push reduces latency, but causes more problems.
1. When there are multiple consumers, how do we identify which consumer we should push the message to?
2. If a consumer is busy, it is not reasonable to actively push to that consumer.

[2022-06-02 03:47] chendali16 commented on #10809
Consumers who subscribe to the queue will push, and only push real-time data.This means the redis consumes data by itself and push data to consumers in multiple threads.  The consumers allow to lose data when it is busy and it can compensate for the lose data by the xread or other.

[2022-06-02 03:58] sundb commented on #10809
It feels like you are missing something, `XGROUPREAD`is mutually exclusive, if message A is consumed by consumer c1, c2 will not receive message A.
If we use push, we would need to maintain the status of all the consumers, which ones are busy and which ones are idle, and without that information we would have to pick a random consumer to push, which would be very complicated anyway.
On the other h

[2022-06-02 04:58] chendali16 commented on #10809
Instead of xreadgroup, There can be a new method to allows one consumer to consume shared data. If multiple consumers consume shared data, each consumer consumes shared data of certain rules, for example, consumer1 consume the data with the specific identity which hash value is 1, consumer2 consumer data with the specific identity  which hash value is 2.

Another problem is that multiple threads p

[2022-06-02 05:28] sundb commented on #10809
Normally, the network latency would be much less than the time consumer consume message, so why do you need such a low latency?

[2022-06-02 05:55] chendali16 commented on #10809
Our services are deployed on the cloud. One node writes to the redis stream, and multiple nodes consume the redis stream. Normally,it takes only 1ms for consumption.It is assumed that cross-border network transmission requires 100ms and cross city network transmission requires more than 15ms. When we using pull mode to consume redis stream, the delay is 200ms or 30ms, which is unacceptable for sys

[2022-06-02 06:03] oranagra commented on #10806
The only bug in that area that i'm aware of was this one: #10550
we need INFO output, and / or also the log file to know more.

[2022-06-02 07:29] DarrenJiang13 commented on #9903
hi @menwenjun, I got the same problem as yours when:
[code]
I tried to add ignore option but still got failed
[code]
my OS system is like:
[code]

Have you found the reason ? I check the sanitizer CI and find this test actually succeed in Ubuntu System.

[2022-06-02 15:52] Valdeminas opened #10813 "[QUESTION] What counts as Active expiration commands?"
Hi.

We are running redis on Azure and are noticing an issue, when some keys are incremented within a transaction successfully, even after they expected expiry.

i.e. I set a key to expire after 5s.
It is still successfully incremented after 1h.

I've read this: https://redis.io/docs/manual/keyspace-notifications/#timing-of-expired-events

And it gave me an idea, that maybe our increment transacti

[2022-06-02 16:37] madolson commented on #10749
@tezc I don't agree with it. I didn't respond earlier, but the design I outlined isn't a workaround, it was a deliberate design to encourage users to not have to have "serialization" and "deserialization" code for their configs.

If feels like a large push to optimize for a use case that is trivial to handle, a RedisModuleString contains a null terminated C string. All you have to do is extract it

[2022-06-02 16:51] madolson commented on #10472
Since the various types are built on top of different data structures, some of which are composite of multiple types, not everything is a uniform 8 bytes of overhead. Think of a sorted set as a hash map + skip list, both of which will have their own computation. I'm fairly confident we could get the overhead down to 8 bytes in all cases, but it would reduce some of the lack of generality.

I'm not

[2022-06-02 18:27] hwware commented on #10813
Hi,  Valdeminas,

I test the expire key in transaction in the latest verion, i do not find the issue you mention.
Following is a simple test, let me know any extra requirement, Thanks.

![image](https://user-images.githubusercontent.com/51993843/171700732-419cc851-495f-4a9d-b108-1f3b8dab76dc.png)

[2022-06-02 21:51] zuiderkwast commented on #2807
@PingXie I don't think huge keys causing OOM when migrated is a huge risk. If it is, then the memory-usage-per-slot feature would come in handy, so the memory can be predicted before migration.

The only problem your solution doesn't solve AFAICT is that it blocks both Redis nodes synchronously, the same way MIGRATE does. That could possibly be improved separately though, in some way...

The roadm

[2022-06-02 22:52] PingXie commented on #2807
Agreed on migration being synchronous with my proposal. IMO, this impact will be felt on two ends of the key/value size spectrum. For extremely small key/value pairs (<100 bytes combined), the long pole comes from the overhead associated with reading the RESTORE response (due to the number of read syscalls). For extremely large key/value pairs (>10s of MBs), the long pole would be dominated by the

[2022-06-03 00:49] madolson commented on #2807
@PingXie All of the points you mentioned are basically why we want to have an atomic slot migration, so we can rollback and fail it. We can afford a 2PC between a source and target. There are also plans to introduce a strong distributed consensus as part of a revamp of cluster mode, I've asked someone to share a document with you detailing that longer term plan. (It's maybe a Redis 8 thing)

[2022-06-03 01:02] PingXie commented on #2807
@madolson I am completely speculating here but from a glimpse on the thread, what you described sounds like a typical replication scheme where the data is being funneled to the "replica", which is the migration node here, while the source continues to serve the customer traffic. When the target catches up close to the source, you pause the clients on the source, transfer the last portion of the da

[2022-06-03 01:41] madolson commented on #10719
Sorry for chiming in so late. This has been a common ask in AWS. The current "latency" metric isn't really latency at all, but its CPU resource consumption. Knowing the CPU consumption is good for understanding which commands are causing Redis to behave slowly, but not necessarily to understand the overall performance of the system. In reality, the total latency is comprised of networking, CPU tim

[2022-06-03 05:48] PingXie commented on #2807
@madolson taking a step back here and looking at the high level picture, these two proposals represent two fundamentally different mindsets and differ from each other in just one core area: determinism.

My proposal is an evolution of the existing slot migration protocol, which is inherently non-deterministic. I believe my work in this area would lead to significant improvement of the reliability,

[2022-06-03 06:03] PingXie commented on #2807
I wanted to clarify that there is an unspoken assumption behind the statement above, which is we don't change how we manage the migrating states today (other than replicating them to replicas asynchronously). If we introduced 2PC and managed the update of migrating states (migrating/importing/slot-ownership) as a distributed transaction as well, I think we could solve the (lack of) determinism iss

[2022-06-03 09:06] vijaykiran opened #10815 "[CRASH] Redis (graph) crashes on startup"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Additional information**

1. OS distribution and version : Linux acc-redis 5.13.0-1025-aws #27~20.04.1-Ubuntu SMP Thu May 19 15:17:13 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux3.
2. Steps to reproduce (if any)
Using Redis + red

[2022-06-03 10:56] oranagra commented on #10815
@vijaykiran please open in https://github.com/RedisGraph/RedisGraph
@AviAvni FYI

[2022-06-03 10:56] #10815 closed

[2022-06-03 12:56] chendali16 commented on #10809
Yeah,that is what I want.

[2022-06-03 16:16] madolson commented on #10719
@filipecosta90 I think read/write/other and and fast/slow are probably the two important groups. I don't see any real issue with adding the remaining categories though.

[2022-06-03 16:17] madolson commented on #10719
@yossigo @soloestoy @itamarhaber Do you guys have any input on whether or not this is a good feature?

[2022-06-03 23:37] madolson commented on #2807
We're taking a fresh look at cluster mode for Redis 8, but I'm still hoping to get the atomic slot migration in 7.2.

Honestly, I think this is one of the reasons a lot of people run cluster mode on managed services, since it's such a pain to self-manage outside of very small configurations. There is some tooling in the CLI to make it less painful.

This is a fair point. The only real downside I s

[2022-06-04 00:03] PingXie commented on #2807
So to map your comments to the below roadmap of mine (evolution of the existing slot migration protocol), I believe you are saying that you agree with the engine work all the way to step 4 but your preference is atomic slot migration over step 5 and 6?

1. Add the shard-id support (#10474)
2. Improve the current slot migration reliability (#10517)
3. Add support for failover in empty shards. (To b

[2022-06-04 00:51] madolson commented on #2807
@PingXie I generally agree with that.

[2022-06-04 14:35] Tomato6966 opened #10817 "Unable to start redis-stack-server"
Error:
[code]

I wanted to use RedisSearch with RedisJson
if i just start redis-server with the json module it works
if i add redissearch it crashes the same

so i tried redis-stack-server
which ends up the same

please help thanks

OS: Ubuntu 20.04
Everything lts stable versions updated installed

[2022-06-04 17:42] oranagra commented on #10817
@Tomato6966 please open in https://github.com/RediSearch/RediSearch
@gkorland FYI

[2022-06-04 17:42] #10817 closed

[2022-06-04 21:45] romange commented on #10802
@madolson  good ideas. I hope it's ok if I chip in?
I chose for my implementation an open addressing scheme with small object optimization as you suggested here. Since it's in C++, has dependencies on other components (not self-contained) - I do not think its code can easily help Redis maintainers with this task.

However, if you decide to pursue the direction "Promote the Redis object to be the d

[2022-06-06 02:19] spacexnasa commented on #10711
yes, i installed the latest openssl version 3.0.3 (i installed the openssl to /usr)
and try this
make PREFIX=/usr USE_SYSTEMD=yes BUILD_TLS=yes OPENSSL_PREFIX=/usr

this is first error

cc -Wall -DLUA_ANSI -DENABLE_CJSON_GLOBAL -DREDIS_STATIC='' -DLUA_USE_MKSTEMP  -O2    -c -o lobject.o lobject.c
ssl.c: In function ‘redisInitOpenSSL’:
ssl.c:159:5: warning: implicit declaration of function ‘SSL_lib

[2022-06-06 05:03] oranagra commented on #10813
@Valdeminas which version of redis do you use? which commands are involved? any failovers or replicas involved?

[2022-06-06 05:16] InputOutputZ commented on #10711
Try

`make PREFIX=/usr USE_SYSTEMD=yes BUILD_TLS=yes OPENSSL_PREFIX=/usr/openssl`

[2022-06-06 05:24] InputOutputZ commented on #10711
Note, for some reasons you have to compile hiredis in deps directory before add after redis, try:-

[code]

[2022-06-06 06:59] spacexnasa commented on #10711
cd deps
make hiredis USE_SSL=1 OPENSSL_PREFIX=/usr
cd ..
make PREFIX=/usr USE_SYSTEMD=yes BUILD_TLS=yes OPENSSL_PREFIX=/usr USE_SSL=1

cd deps
make hiredis USE_SSL=1 OPENSSL_PREFIX=/usr
cd ..
make install PREFIX=/usr USE_SYSTEMD=yes BUILD_TLS=yes OPENSSL_PREFIX=/usr USE_SSL=1

same error message

/usr/local/src/redis-7.0.0/deps/hiredis/ssl.c:159: undefined reference to `SSL_library_init'
collect2:

[2022-06-06 07:38] Valdeminas commented on #10813
@oranagra Hi. We are running Redis 6.0.14 on Azure.

I have looked into the matter a little bit further and it seems, that even though I specify the expiration, sometimes key are set without it.

Since it's managed by Azure, I am not sure about failover or replica settings :/

[2022-06-06 07:50] Valdeminas commented on #10813
A bit more info

[code]

[2022-06-06 07:56] oranagra commented on #10813
Well, it is clear that this is a modified version of redis (we don't support WIndows), so it's hard to say if maybe the changes could cause that.
Additionally, there could be some issues with replication and failovers, to which we are in the dark.
So, without reproducing this on a vanilla version of Redis, there's not much we can do.

It may help if you post some details about the commands you use

[2022-06-06 08:07] yossigo commented on #10711
@spacexnasa I tried to reproduce this locally but don't experience any of these problems. OpenSSL 3.0.3 installed in some custom path, building Redis with `OPENSSL_PREFIX=` pointing to it.

I suspect you may experience issues with your specific OpenSSL setup (e.g. some custom configuration, leftovers of a previous version, etc.).

[2022-06-06 08:12] Valdeminas commented on #10813
@oranagra Thanks for your help. Will continue investigating this.

[2022-06-06 09:30] moticless commented on #10802
@romange , I don't see how redis 32 bit can reuse of the higher bits as you suggested and I am not sure if we wanna have different implementation to 32 bits. Alternatively, maybe we can guarantee alignment level of dictEntry (and its derivatives) and gain at least 3 unused bits. This way we can use, for example, to mark with 1 bit wether it is the last item in the chain (and avoid the next pointer

[2022-06-06 09:37] romange commented on #10802
@moticless  yeah, you are right - I forgot that Redis is required to support 32bit. Re alignment - it won't work, already tried it.
sds is unaligned :(

[2022-06-06 13:44] spacexnasa commented on #10711
ok,i will test tomorrow

[2022-06-06 17:20] madolson opened #10819 "Support module API for global block list"
We have an internal use case at AWS which wants to build a module that blocks all *write* access to a defined set of keys, but still allows read access. Basically we want to inject some data and add a guard rail to prevent unintended modification.

One option is to extend the existing ACLs to support deny permissions, but I think that is wrong for two reasons. The first is that is that the module

[2022-06-06 18:09] madolson commented on #10576
@oranagra @soloestoy Any input on this? I will tentatively add this to "next major backlog" as an item to consider. The feature has come up in the past, and if we can come up with a good implementation it might be worth implementing.

[2022-06-07 00:45] madolson commented on #10802
@romange <3 You're always welcome to chip in! If there are places we can improve Redis and better align DragonflyDB with our code for maintainability, that seems like everyone is better off.

AFAIK I know the SDS is still always aligned to start at an 8 byte address, unless it's being embedded somewhere. The Dictentry pointer should always be 8 byte aligned. There are definitely plenty of places w

[2022-06-07 01:29] spacexnasa commented on #10711
i install the openssl 3.0.3 to /usr/local/openssl,and now it's work

and i want to know why when i install the openssl to /usr, it doesn't work

[2022-06-07 04:14] romange commented on #10802
sds is unaligned because of the header. I.e sds itself is not aligned,  but we can indeed populate the real pointer (sds-1 or whatever it is). For 64bit it's easier to trust linux spec, then a developer hence my preference to high bits

 I will put the set code into a dedicated repo some time next week. It works, though it's not polished. Unfortunately, I wont have time to transform it to a proper

[2022-06-07 05:36] oranagra commented on #10819
this seems very (too) specific.
i think we should think of something more generic.

p.s. maybe a command filter together with keyspecs can handle it in some way.

[2022-06-07 07:27] allenzhuyi commented on #10777
xinfo groups key

I seee many delayed message, When I delete the key,the memory is down

[2022-06-07 07:27] #10777 closed

[2022-06-07 07:47] oranagra commented on #10576
I agree we need to think about this again for the next version of redis, maybe together with some multi-threading improvements.

but also must state that my gut feeling is that the overheads such a feature will add are not worth for the pain it comes to solve.
i have a feeling that although the current approach is not "mathematically" air-tight, and there are cases in which we could break atomicit

[2022-06-07 15:26] RedisOptimal commented on #10420
diff --git a/src/debug.c b/src/debug.c
index 1ecb251bd..0226f0770 100644
--- a/src/debug.c
+++ b/src/debug.c
@@ -662,8 +662,11 @@ static void *getMcontextEip(ucontext_t *uc) {
     /* OSX >= 10.6 */
     #if defined(_STRUCT_X86_THREAD_STATE64) && !defined(__i386__)
     return (void*) uc->uc_mcontext->__ss.__rip;
-    #else
+    #elif defined(__i386__)
     return (void*) uc->uc_mcontext->__ss.__e

[2022-06-07 15:46] yossigo commented on #10711
@spacexnasa As I mentioned, my best guess is you're partially overwriting header files that were already there. But I can't be sure of course.

[2022-06-07 16:42] xingbowang commented on #10576
As @soloestoy mentioned in #10804, the atomicity guarantee provided by Redis can be confusing for some of the customers. Redis made a conscious decision on the trade off between atomicity guarantee and implementation complexity long time ago. Looking back, it was a right decision. It allows Redis to grow fast. This happens on other database as well. E.g. MySQL Innodb, Innodb introduced MVCC on MyS

[2022-06-07 18:57] madolson commented on #10819
@oranagra We looked into the filtering, and it has the two gaps:
1. You can't easily extract the keys being accessed by a command.
2. It can't easily deny a command, since it has to rewrite it.

We might introduce something like a command "before" interceptor that acts kind of like a filter (or validation?), but doesn't allow changing the contents of the command. I think that generally solves the

[2022-06-07 19:02] jlixfeld opened #10828 "[CRASH] Redis 6.2.6 crashed by signal: 11, si_code: 1 | redislabs/redismod:latest | Intel Mac"
Notice!
- If a Redis module was involved, please open an issue in the module's repo instead!
- If you're using docker on Apple M1, please make sure the image you're using was compiled for ARM!

**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Additional information**

1. r

[2022-06-08 01:49] sundb commented on #10828
@jlixfeld Please create a new issue in https://github.com/RedisLabsModules/redismod.

[2022-06-08 05:22] oranagra commented on #10828
or in https://github.com/RediSearch/RediSearch (it looks like the crash is there).

[2022-06-08 05:22] #10828 closed

[2022-06-08 06:49] 2944229393 opened #10830 "[QUESTION]Master-slave replication, master Rdb, slave CPU usage in AOF mode is 90%-100%"
Hello, I have a problem when I test in master-slave mode. The scenario is one master and two slaves. The master uses RDB persistent mode and the slave uses AOF persistent mode. The amount of data is about 500mb, but I pass the top command. Monitor the CPU single-core usage, and found that the single-core usage of redis is 90%-100%, and the pure environment is used. After investigation, I suspect t

[2022-06-08 09:17] RedisOptimal commented on #9576
@Ron2014 Here is my code : https://github.com/RedisOptimal/redis-cluster-support-mget
That code support mget/mset running in same node, not the same slot.
mgetSeries/msetSeries will partition key by node, and run mget/mset command one by one in each node. Finally, combine the result.
User dont care about where is the key belong, just use it for speed up your program.

[2022-06-08 10:27] RedisOptimal commented on #3147
https://github.com/RedisOptimal/redis-cluster-support-mget
This code support mget/mset running in same node, not the same slot.
mgetSeries/msetSeries will partition key by node, and run mget/mset command one by one in each node. Finally, merge  result and return.
Pipelined GET is better than my implement.

[2022-06-08 10:48] oranagra commented on #10830
you mean the slave eats 100% cpu while loading the dump the master sent it?
seems reasonable (there's a busy loop that parses the file and populates the dictionary)..
specifically if the entire dump fits in the file system cache, so it won't be waiting on IO.
however, for 500mb this shouldn't take very long.
if it does take long, then i wonder why.. maybe you can use `gdb` or `pstack` to check wha

[2022-06-08 11:09] jlixfeld commented on #10828
Ah.  I was very confused when I looked in the repositories under https://github.com/redis and couldn't find repos for the redismod or redisearch repos to create the issue there.  I assumed at that point the bug template was referring to something else and created the issue here.

[2022-06-08 11:22] oranagra commented on #10828
thanks for that feedback.. we'll look into ways to make it clearer.

[2022-06-08 11:40] MrDHat opened #10831 "[CRASH] Redis crashing on running 1200 hmset in pipeline mode"
**Crash report**

[code]

[2022-06-08 11:48] sundb commented on #10831
Is your HM Mac M1, and running on docker?
It seems that you use bitnami docker image from `config_file:/opt/bitnami/redis/etc/redis.conf` log.

[2022-06-08 13:49] tbream opened #10833 "[QUESTION] Why is the SET command considered movablekeys"
Hi.

I just upgraded to using redis-cluster 7.0.0 and can see that my code via [redis-py](https://github.com/redis/redis-py) is now making an extra jump to the cluster for every set call. I tracked this down to the set command having the flag movablekeys. The set command appears to always have the key in the same place, and that any client should be able to parse the key from the command based on

[2022-06-08 13:59] oranagra commented on #10833
ohh my... looks like this is an unintended side effect of #10148

[2022-06-08 14:05] oranagra commented on #10833
BTW, i think redis-py could / should have done better.
AFAIK, `movablekeys` doesn't mean that no keys can be found using `firstkey`/`lastkey`, just that not all keys can be found.
https://redis.io/commands/command/
so for the purpose of redis cluster routing, redis-py could still determine the key name of one key, and still do the routing (even if it doesn't know the key names of other keys).
@cha

[2022-06-08 14:08] chayim commented on #10833
@dvora-h We keep talking about fixing the cluster implementation. This looks like the push we needed.

[2022-06-08 16:12] enjoy-binbin commented on #10833
oops, i can see that, i introduced the bug... so the easiest way to fix it is we skip the SET in populateCommandMovableKeys
[code]

[2022-06-08 16:25] oranagra commented on #10833
I thought about that and I didn't like it. (referring to specific commands).
Instead, we should either add some exception logic for commands with VARIABLE_FLAGS, or better yet, remove the implicit MOVABLEKEYS dependency of the get_proc and instead rely on the INCOMPLETE flag.

[2022-06-08 16:33] vineelyalamarthy opened #10834 "[QUESTION] RDB data loading to disk following an OOM."
We are using Redis 6.0.0. After OOM, I see this log.   What is RDB memory usage?
3489 MB is very close to max memory that we have.  Does it indicate that we are storing a lot of data in Redis ? Or its just being caused by RDB overhead.

[code]

[2022-06-08 16:42] itamarhaber commented on #10834
Hello @vineelyalamarthy

This is the amount of RAM that the server was using when the RDB was created. If your server's RAM is close to 4GB, that would explain why the OOM had been triggered.

[2022-06-08 16:47] enjoy-binbin commented on #10833
now we have these MOVABLEKEYS commands (only migrate was marked with INCOMPLETE):
evalsha
zunionstore
fcall
bitfield
georadius
sort
zdiffstore
zintercard
xread
sort_ro
xreadgroup
blmpop
evalsha_ro
sintercard
georadiusbymember
zinter
zmpop
fcall_ro
zunion
 eval_ro
zinterstore
set
migrate
eval
bzmpop
zdiff
lmpop

[2022-06-08 17:22] oranagra commented on #10833
ohh, my bad.
INCOMPLETE is about incomplete key-specs.
but movablekeys is about "incomplete" [first, last, step].
so we still need the implicit logic (checking if there are non-range specs), but in addition, we need to add some condition to avoid marking trivial range specs. i think we should rely on the VARIABLE_FLAGS flag.

(i'm AFK, shooting ideas from my memory, sorry)

[2022-06-08 20:11] herter4171 opened #10836 "[CRASH] Custom module works in debug but not release mode"
**Crash report**

A module is involved, but it's my own doing.  Version of Redis is 7.0, and I've tried both a local install and the Docker image with the same result.  Basically, I have a need to have `boost::geometry` server-side on Redis, and I've been using C++14.  When I run in release mode using CLion, the seg faults happen in my first pic below, and the second pic is the call stack.  If I n

[2022-06-08 21:08] herter4171 commented on #10836
Figured it out.  In my use of `RedisModule_CreateDataType`, I had a non-pointer `RedisModuleTypeMethods` passed in via `&`, so apparently it was going away.

[2022-06-08 21:08] #10836 closed

[2022-06-09 01:09] 2944229393 commented on #10830
Yes, as you said, I found through the redis log that the slowest full synchronization occurs every 30 seconds, and the fastest occurs even less than 5 seconds. I thought it was the master's backlog buffer too much. Small cause, but after I modified the repl-backlog-size configuration, I found that the situation did not improve, and at the same time, another slave server would lose the link frequen

[2022-06-09 05:40] oranagra commented on #10834
What do you mean by "following an OOM"?
Did the kernel OOM killer killed the process?
3489mb is what redis was using at the time it saved the RDB file, NOT including (external) fragmentation.
if that's close to your `maxmemory` or not, doesn't mean a lot about physical RAM limit and kernel OOM kill.

[2022-06-09 05:54] oranagra commented on #10830
few things that i'm not clear about from your text.
you say that redis eats 100% CPU, but also that it keeps disconnecting and doing a full sync?
in which case, maybe there's something useful in the log files.
did the upgrade to redis 5.0 solve the problem or not?

i honestly no longer recall the delta between redis 3.2 and 5.0.
i would advise to upgrade to 6.2.

[2022-06-09 05:58] 2944229393 commented on #10830
After the upgrade, these problems no longer appear, and the logs become normal. I will upgrade to 6.2 for testing. Thank you for your patience in answering!

[2022-06-09 05:58] #10830 closed

[2022-06-09 07:04] vineelyalamarthy commented on #10834
- Redis pods are getting rebooted due to OOM in Kubernetes environment.
- After one of the OOM restarts I saw the log line I mentioned (RDB RDB memory usage when created **3489.20 Mb)
- Since this is immediately after restart ,fragmentation wouldn't have happened. I am under the impression that fragmentation happens over a period of time.

[2022-06-09 07:24] oranagra commented on #10834
the memory usage of 3.4gb wasn't when the node crashed, it was on the last snapshot that was saved.
it's also not immediately after restart since that print show the memory usage of the server that saved the rdb, not the one that loads it.
either way, this is the `used_memory` metric of redis, which is how much memory redis allocated (not including external fragmentation).
you mentioned that the 3

[2022-06-09 08:46] atomicules commented on #9605
Will this be backported to 6.2.x? Or would a PR be accepted backporting this to 6.2?

[2022-06-09 12:52] zuiderkwast commented on #10709
I can implement these two API functions.

[2022-06-09 14:15] hwware commented on #9605
@oranagra @yossigo @moticless Can we consider add this fix to 6.2 version?  Thanks.  The PR is https://github.com/redis/redis/pull/9652

[2022-06-09 14:35] oranagra commented on #9605
i suppose so.. marked the PR for backport.

[2022-06-09 16:02] atomicules commented on #9605
Thank you!

[2022-06-09 18:05] zuiderkwast commented on #10809
Since streams are keys which are sharded in Redis Cluster, perhaps we should use sharded subscribe? And a special channel prefix to disambiguate from regular channels? Idea: `SSUBSCRIBE __redis_stream__:mystream`

[2022-06-09 23:51] madolson commented on #10809
I think we should add a new command, because I think it would be good "resume" consuming from a stream with the same command as the

[code]

To resume consuming from the ids they last saw on disconnect. It handles the "failure" mode better.

[2022-06-10 01:23] GXhua opened #10842 "the rss_overhead_bytes and rss_overhead_ratio is too large[BUG]"
**Describe the bug**

rss_overhead_ratio and rss_overhead_bytes is too large

**To reproduce**

nothing

**Expected behavior**

after running Redis Server for a long time the rss_overhead_ratio is up to 2.5. I didn't use Redis Modules and used Lua scripts, but used_memory_lua was very small and trying to purge manually had no effect

**Additional information**

the redis-server version is 5.0.3
al

[2022-06-10 05:51] sundb commented on #10842
@GXhua Can you give the output of `INFO ALL`?

[2022-06-10 07:16] oranagra commented on #10831
@MrDHat please respond..
meanwhile, we'll assume this is the QEMU issue since we didn't see any other similar reports and are unable to reproduce the issue.

[2022-06-10 08:17] imguang opened #10843 "[BUG]Sentinel command 'get-master-addr-by-name' and 'master' return inconsistent"
**Describe the bug**

![image](https://user-images.githubusercontent.com/12031110/173021153-ce9acdf8-271a-47d8-8e3c-66ed00789844.png)

As the picture shows
When I use the `SENTINEL get-master-addr-by-name` command to query the master address, the return is inconsistent with the `SENTINEL master`

**To reproduce**

Kill the redis master instance, trigger failover. Issue happens when repeated multip

[2022-06-10 11:59] kayrus opened #10845 "[BUG] Redis7 Lua engine and readonly table script"
**Describe the bug**

Lua user scripts stopped to work due to "readonly table script" in redis7

**To reproduce**

see a function that worked with redis 6: https://github.com/getsentry/sentry/blob/ce94aae1da18376b01440e3954f4f292a40d1729/src/sentry/scripts/digests/digests.lua#L11-L20

I haven't found anything related to a readonly table script in release notes.

**Expected behavior**

there should

[2022-06-10 12:02] GXhua commented on #10842
yep @sundb
# Server
redis_version:5.0.3
redis_git_sha1:00000000
redis_git_dirty:0
redis_build_id:9529b692c0384fb7
redis_mode:standalone
os:Linux 4.18.0-348.7.1.el8_5.x86_64 x86_64
arch_bits:64
multiplexing_api:epoll
atomicvar_api:atomic-builtin
gcc_version:8.4.1
process_id:176
run_id:e71e37102da5536baeb0f4e3223fd1ff20a6a1e0
tcp_port:6379
uptime_in_seconds:675381
uptime_in_days:7
hz:10
configured_h

[2022-06-10 12:19] oranagra commented on #10845
Could be related to https://github.com/redis/redis/pull/10651
Can you try 6.2.7?

[2022-06-10 12:26] kayrus commented on #10845
@oranagra thanks, I tried to find it in issues, but not pulls.

[2022-06-10 12:41] sundb commented on #10842
Look like it's fine through the info you give.
Whether redis is in RDB saving when rss_overhead_ratio is 2.5(`rdb_bgsave_in_progress` is 1)?

[2022-06-10 14:47] pfactum opened #10846 "[CRASH] redis 7.0.1 crashes on start after upgrading from 7.0.0"
[code]

**Additional information**

1. OS distribution and version

Arch Linux.

2. Steps to reproduce (if any)

Upgraded redis from 7.0.0 to 7.0.1. Downgrading back to 7.0.0 solves the issue.

[2022-06-10 15:09] oranagra commented on #10846
looks like a regression from #10636
could it be that `/proc/sys/vm/overcommit_memory` is inaccessible?

[2022-06-10 15:18] oranagra commented on #10846
yeah, of course.. just trying to make sure the bug i see is the same one that you run into.

[2022-06-10 15:32] pfactum commented on #10846
Yeah, I see. `checkOvercommit()` returns `-1` without allocating `error_msg`, and then in `linuxMemoryWarnings()` it is being `free()`'ed by `sdsfree()`. Right?

[2022-06-10 18:30] kayrus commented on #10845
@oranagra it doesn't solve an issue, but I noticed related issues/PR there, which at the end led me to a proper solution. Therefore please feel free to close this issue. I apologies that I haven't been able to find this PR at the first place and consumed your time.

[2022-06-10 20:12] enjoy-binbin commented on #10846
yes, i think we should return 0, also the log had two warning which i think it is odd (after patch #10841)
[code]

[2022-06-10 20:27] patchthecode commented on #5211
So i gues there are no clients that support Swift language?
the RediStack only supports Redis, but not streams

[2022-06-10 21:15] #10729 closed

[2022-06-10 22:17] hwware commented on #10843
Hi, I try to reproduce your issues on 4 different machines, one for master, 2 for replicas and 1 for sentinels.
And I could not reproduce your issue.

Could you please provide your full info logs, so we could see which OS and which version of Redis when you have this issue.
Another question is could you tell us how frequent this problem happens?

Thanks a lot

[2022-06-10 23:04] madolson commented on #10749
@tezc I don't really mind the the approach where we add a flag that changes the behavior, that seems like a really minor change though.

[2022-06-10 23:14] madolson commented on #2807
Didn't get the doc does this week as I promised, but it's almost done, early next week!

[2022-06-11 00:40] GXhua commented on #10842
No，i am not use RDB，I use AOF only，and the rss_overhead_ratio is growing always：

info memory
# Memory
used_memory:649064240
used_memory_human:619.00M
used_memory_rss:3669032960
used_memory_rss_human:3.42G
used_memory_peak:1852270704
used_memory_peak_human:1.73G
used_memory_peak_perc:35.04%
used_memory_overhead:300430690
used_memory_startup:790944
used_memory_dataset:348633550
used_memory_dataset_

[2022-06-11 00:41] GXhua commented on #10842
i must restart redis server every day

[2022-06-11 01:35] sundb commented on #10842
@GXhua Please give the fully info when the issue occur.

[2022-06-11 05:33] oranagra commented on #10845
@kayrus can you please elaborate.
Why did that script mess with the Lua table? was it necessary? what solution have you found?

We'd like to keep that change in Redis, but I want to try and estimate how many other apps will be broken by it.

[2022-06-11 05:36] oranagra commented on #10845
Ohhh, I now see you already did in the other PR. Thanks.

[2022-06-11 05:36] GXhua commented on #10842
okey @sundb

127.0.0.1:6379> info
# Server
redis_version:5.0.3
redis_git_sha1:00000000
redis_git_dirty:0
redis_build_id:9529b692c0384fb7
redis_mode:standalone
os:Linux 4.18.0-348.7.1.el8_5.x86_64 x86_64
arch_bits:64
multiplexing_api:epoll
atomicvar_api:atomic-builtin
gcc_version:8.4.1
process_id:176
run_id:e71e37102da5536baeb0f4e3223fd1ff20a6a1e0
tcp_port:6379
uptime_in_seconds:738623
uptime_in_da

[2022-06-11 06:40] sundb commented on #10842
@GXhua Can you give me which docker image you are using, I tried to reproduce this issue on my local.

[2022-06-11 07:24] damagao opened #10850 "[QUESTION] raxGenericInsert() for version 6.0.8"
For  version 6.0.8，
In raxGenericInsert() funtion，OOM hander exist one queston.
When we insert one key string，walk to one termial node( h )，that is  h->size is zero，but follow is happened:
raxNode *newh = raxCompressNode(h,s+i,comprsize,&child);
            if (newh == NULL) goto oom;

error handler is follow:
 if (h->size == 0) {
        h->isnull = 1;
        h->iskey = 1;
        rax->numele++;

[2022-06-11 07:47] sundb commented on #10850
@damagao In fact, all the oom code in rax will be dead code, because oom will be handled by `zmalloc_default_oom()` in redis, and the oom code will be there because rax is moved from https://github.com/antirez/rax, where oom needs to be handled manually.
On the other hand, this code seems to be fine, when oom, if the terminal node length is 0, we will remove it.

[2022-06-11 13:52] GXhua commented on #10842
docker pull 15811413647/messagebase:20220223     @sundb

[2022-06-11 14:55] tezc commented on #10749
@madolson I didn't like that flag solution so, I'm not pushing for it. We'll go with a workaround in our module. Maybe we revisit this later if we hear more about this issue.

[2022-06-11 15:26] sundb commented on #10842
@GXhua I may have reproduced your problem, do you have THP turned off? You can confirm if redis starts with the following warning.
[code]

[2022-06-11 18:34] #10845 closed

[2022-06-11 19:27] #10846 closed

[2022-06-12 02:04] GXhua commented on #10842
yes!   i checked the redis.log  and find this:

176:M 03 Jun 2022 00:25:41.191 # WARNING you have Transparent Huge Pages (THP) support enabled in your kernel. This will create latency and memory usage issues with Redis. To fix this issue run the command 'echo never > /sys/kernel/mm/transparent_hugepage/enabled' as root, and add it to your /etc/rc.local in order to retain the setting after a reboot

[2022-06-12 02:12] GXhua commented on #10842
I `echo never` to  /sys/kernel/mm/transparent_hugepage/enabled   ,and watching the `rss_overhead_ratio` raising ,thanks very much! @sundb

[2022-06-12 05:22] #10833 closed

[2022-06-12 05:47] sundb commented on #10842
@GXhua Why does rss_overhead_ratio increase even after using never, it should avoid it.
Because when THP is turned on, write operations may cause memory bursts in the fork processes.

[2022-06-12 06:07] oranagra commented on #10842
Few things to note:
1. The THP check in version 5.0 was wrong, it used to warn when the setting was anything other than `never`, but in fact, the default of `madvise` is completely safe. so please just make sure it's not set to `always` on your system.
2. Fork and CoW doesn't increase the RSS or the parent process. what it causes is that the shared memory between two processes becomes private, so

[2022-06-12 06:15] Yossifsolman opened #10857 "redis.x86_64 0:7.0.1-1.el7.remi upgrade (i believe new Redis version)"
Hey everybody,
today i run the installation script again.
i notice one pack got upgraded:
[code]

I start to get Warning in the logs:
`WARNING overcommit_memory is set to 0! Background save may fail under low memory condition. To fix this issue add 'vm.overcommit_memory = 1' to /etc/sysctl.conf and then reboot or run the command 'sysctl vm.overcommit_memory=1' for this to take effect.`

The wired

[2022-06-12 06:20] sundb commented on #10842
@oranagra But `allocator_resident` is the maximum amount of physical memory mapped by jemalloc, and I can't think of any case where `used_memory_rss` is 2.5 times more than `allocator_resident`.

[2022-06-12 06:25] oranagra commented on #10842
i can think of some ways (which are unlikely, but still possible):
* Lua (allocated from libc malloc, not from jemalloc) - in this case we can see that's not the issue/
* modules - not the issue in this case.
* some other unexpected issues due to LD_PRELOAD

in any case, COW doesn't increase RSS, so that's not it.
it could still be related to THP, but AFAIK only if it's set to `always`, so the war

[2022-06-12 06:37] sundb commented on #10842
@oranagra Yes, I am having this issue after setting it to `always`.

[2022-06-12 10:51] yossigo commented on #10709
I want to propose reconsidering the idea of extending `AUTH` and `HELLO` by intercepting and re-implementing them.

Plugging an authentication module is a viable use case. Because of client compatibility, it's reasonable to assume the command syntax won't change, only the implementation of turning user/password into a user structure. So, wouldn't it make more sense for a module to register an auth

[2022-06-12 11:26] zuiderkwast commented on #10709
Perhaps we should provide a way to register an auth csllback instead? RM_RegisterAuthCallback, which callback is called by the hello and auth commands.

[2022-06-12 11:44] ncghost1 opened #10852 "[NEW]Add a command to get the number of replicas."
**The problem/use-case that the feature addresses**
When I want to use the `wait` command in my code, I want the `numreplica` to be equal to the number of all replicas,but redis does not provide a command that can return the number of replicas.If my `timeout` is 0 and `numreplicas` exceed the actual number, it will be blocked forever.

Currently, we can only use the `info` command to see `connecte

[2022-06-12 12:06] oranagra commented on #10852
seems related to https://github.com/redis/redis/pull/8684
The problem is that it could be that some replicas got disconnected, and then you won't wait for them.
Indicating that the number of replicas to wait for depends on the configuration, and not the current state.

[2022-06-12 12:07] damagao commented on #10850
When we insert one key string，walk to one termial node( h )，that is h->size is zero，but follow is happened:
raxNode *newh = raxCompressNode(h,s+i,comprsize,&child);
if (newh == NULL) goto oom;

[2022-06-12 12:21] sundb commented on #10850
@damagao Not sure I understand what you mean, can you give a test code?

[2022-06-12 12:30] sundb commented on #10850
@damagao It looks like you are right, when creating a compressed node fails, it does trigger the `assert(raxRemove(rax,s,i,NULL) ! = 0);` assertion.
I'm not sure it's worth fixing it, maybe we should remove this oom handling.

[2022-06-12 12:47] ncghost1 commented on #10852
@oranagra
Adding this new command for the `numreplica` of the `wait` command is what I personally want at present, of course support `all` and other representatives `numreplicas` is better to use `wait` command.
Thank you for telling me the problem about using `wait`.

Put the wait command aside. Let's discuss the new command. Is it feasible to add this new command for future needs? For example, f

[2022-06-12 13:26] oranagra commented on #10852
@ncghost1 it is unlikely that we'll add a dedicated command just to get that specific piece of info.
we have the INFO command for such things.
same as the ROLE command that we have now, which i'm guessing is obsolete.
I don't understand what you mean by `but the code has no eyes`.
maybe it would be easier for you see see the length of the array returned by ROLE.

[2022-06-12 13:36] ncghost1 commented on #10852
This means that we can use our eyes to get the information in the INFO command, but in the code implementation, it need to match and split the string to get specific information.

Thank you for your suggestion. I will try to use ROLE.

Then I will close the issue.

[2022-06-12 13:36] #10852 closed

[2022-06-13 02:21] imguang commented on #10843
Sorry for the late reply.

Here is the full log of the node in question:
[172.28.204.53-redis.log](https://github.com/redis/redis/files/8887375/172.28.204.53-redis.log)

And os information:
`Linux rgibns3 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

How frequent this problem happens?
- the last time I switched about 5 times, it hit the problem

I just f

[2022-06-13 06:13] imguang commented on #10843
After synchronizing the time and testing again, there is no problem with triggering 100 failovers.

Therefore, it can be basically determined that the problem is caused by inconsistency of cluster time.

I will close this issue, thanks a lot

[2022-06-13 06:35] imguang commented on #10843
But in this case, the two commands should return the same too, right?

[2022-06-13 08:25] GXhua commented on #10842
The rss_overhead_ratio is stop raising   ,   it works  thank you very much  @sundb @oranagra

[2022-06-13 08:25] #10842 closed

[2022-06-13 08:35] oranagra commented on #10842
ok, so the problem was fragmentation due to THP (not COW). right?
was `/sys/kernel/mm/transparent_hugepage/enabled` set to `always` before?

[2022-06-13 08:41] sundb commented on #10842
@oranagra Not due to COW.
Here are a few scenarios from my local:
1. when I turn on THP redis process cost 24M of memory, but when I turn it off, it drops to 12M.
2. When I run `redis-benchmark` after THP is turned on, `allocator_resident` will drop from almost 24M to 16M, causing `allocator_rss_ratio` to become 2.x, but when `redis-benchmark` is finished, `allocator_resident` will go back to 24M,

[2022-06-13 08:45] oranagra commented on #10842
i don't know exactly how THP affects things, but it doesn't concern me (at the moment).
what bothers me if to know if it was with THP set to `always` or `madvise` and whether it was the default.

[2022-06-13 09:06] radiocontroller commented on #5179
👍

[2022-06-13 09:10] bensialih commented on #3106
Hey all,

as part of `/opt/bitnami/scripts/redis-env.sh` in the bitnami docker image, you can override `REDIS_OVERRIDES_FILE` env var.
`protected-mode no` can be set to no

hope this helps

![Screenshot from 2022-06-13 10-07-45](https://user-images.githubusercontent.com/14818716/173320002-75d5d4e8-0e5a-4e9c-9904-928f9ab155d5.png)
.
![Screenshot from 2022-06-13 10-06-29](https://user-images.githubu

[2022-06-13 11:51] sundb commented on #10842
@oranagra centos stream 8 uses `always` by default.

[2022-06-13 13:06] oranagra commented on #10857
@Yossifsolman there's a bug in 7.0.1, and the fix didn't make it into 7.0.2 (will be part of 7.0.3)
https://github.com/redis/redis/pull/10841

[2022-06-13 13:40] oranagra commented on #10857
ohh, i see you mention `remi`, so i guess this is Centos (not a package we maintain), maybe @remicollet can respond to the question about the process name.

[2022-06-13 13:48] remicollet commented on #10857
This is a package from my repository, and right places to ask are:
* https://forum.remirepo.net/
* https://github.com/remicollet/remirepo/issues

[2022-06-13 13:51] oranagra commented on #10857
i suppose it's impossible for most people to know where a certain question should be asked. also, the main question was actually about a bug in the code redis.
i'll close this issue here then, since the process name is not something we changed in 7.0.x AFAIK.

[2022-06-13 13:51] #10857 closed

[2022-06-13 13:56] hwware commented on #10843
Yes, from code level, it should return the same value.

[2022-06-13 18:05] zuiderkwast opened #10861 "Gossiped node deletion"
Typically you need to send a cluster forget to each node in a cluster to delete a node. If you don't do this fast enough, the node will be re-added through gossip. Ideally you just need to forget a node and it will eventually be forgotten throughout the cluster.

This is part of #8948.

Possible ways to implement this:

1. Append the contents of the clusterBlacklistNodes (node id and timestamp) to

[2022-06-13 20:43] madolson commented on #10709
@zuiderkwast @yossigo You two said the same thing right?

The pushback was w.r.t. to blocking commands, since we have no way to block in the middle of an AUTH or HELLO command. I don't think it would be all that difficult to extend the blocking framework so we can block the authentication commands either.

The more details that get fleshed out here, it seems a lot more straight forward to just imp

[2022-06-13 20:44] madolson commented on #10709
Related discussion: https://github.com/redis/redis/issues/8329

[2022-06-13 21:02] zuiderkwast commented on #10709
Yes I said the same thing as Yossi. It was all his idea. :-)

[2022-06-14 04:47] madolson commented on #10861
First, some context. Some folks from RL and the core group have been iterating on a design for completing replacing the clusterbus with a new consistent storage. With that in place, it becomes trivial to "remove" a node from a cluster, since all operations are driven through consensus. @ushachar ping since he is supposed to be preparing that for general discussion.

Since the idea of Cluster V2 is

[2022-06-14 06:52] madolson commented on #10709
Summary from core meeting was that adding custom authentication is probably the right approach, so next step is to spend some time investigating what is the best API for this.

[2022-06-14 08:05] zuiderkwast commented on #10861
I'll go for option 1 with relative TTL then!

@PingXie I don't think we'll get any guarantees here, just better chances. redis-cli can still try to send cluster forget to all nodes. Guarantees will come in the new future cluster bus, hopefully.

@madolson Any chance that I (and @PingXie I suppose) can be involved in the Cluster V2 project? I have some time to spend and it seems wiser to spend it o

[2022-06-14 09:49] zuiderkwast commented on #10709
Roughly, I imagine an API function for registering an auth callback and hook in ACLCheckUserCredentials that calls the auth callback. Only one module can do this so there should probably be some check that the auth callback isn't already set and a way to unregister it, which should also happen when the module is unloaded.

First I thought about a callback that simply gets username and password and

[2022-06-14 11:22] oranagra commented on #9745
@itamarhaber @guybe7 shall we close this or promote it in next version?

[2022-06-14 12:28] brandys11 opened #10862 "[BUG] Pubsub messages are silently lost in cluster mode"
**Describe the bug**

We have been observing strange behaviour with our AWS Elasticache deployment. We have two Redis nodes - 1 master and one follower. Both instances are in same AWS zone.

We publish significant number of messages through Redis Pubsub mechanism and than have dozen of subscribers. Some subscribers have been missing messages occasionally and we have confirmed that all subscribers

[2022-06-14 16:30] xingbowang opened #10863 "[BUG] Clusterbus buffer management can consume significant memory and CPU utilization during pubsub"
**Describe the bug**

When there is too much pubsub traffic in cluster mode enabled cluster, sometimes Redis could not flush all cluster bus message on the cluster bus link in one go. Redis would call sdsrange to move the rest of the message to the head of the buffer in function [1] clusterWriteHandler. The sdsrange function [2] internally calls sdssubstr function [3], which calls memmove [4] to m

[2022-06-14 17:01] madolson commented on #10862
@brandys11 This is by design of pubsub in Redis, in that it makes no guarantees about delivery. In a sense it's "at most" once, in that internally it makes sure that each node only receives a message at most one time. This may just not work well for your implementation.

If you want a more reliable mechanism for receiving messages, you might consider using streams instead, as it provides a mechani

[2022-06-14 19:49] Yossifsolman commented on #10857
Wow, this was amazing, hahaha.
You even bring the "RAMI" developer to this post, huh, this incredible.

**Super support huh i got impressed really, don't think i see something like that before in GitHub.**

So from what i understand guys, the only option is to wait to 7.0.3 (i little afraid because Redis not read sysctl, after all sysctl is the operating system, Redis should and must read this fil

[2022-06-15 03:34] littlenine opened #10865 "[CRASH] 7.0.2 crash loop with parameter provide from k8s deployment"
Notice!
- If a Redis module was involved, please open an issue in the module's repo instead!
- If you're using docker on Apple M1, please make sure the image you're using was compiled for ARM!

**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

this is template of deployment i

[2022-06-15 04:58] ranshid commented on #10863
@madolson just to make sure I understand the complete suggestion:
I also agree that investing in pub/sub cluster memory performance is important and we can also reduce the memory overhead while doing so.
I think that maintaining a buffer list per channel would help reduce the memory overhead of large clusters (when sharding is not used) somewhat similar to what was done for replication backlog.

[2022-06-15 04:58] enjoy-binbin commented on #10865
sorry, it is a another breaking change i introduced in #10660, it used to work in 6.2...
[code]

[2022-06-15 05:14] oranagra commented on #10865
@enjoy-binbin correct me if i'm wrong, IIRC this breaking change wasn't intended (i.e we didn't realize this pattern used to work).

@littlenine meanwhile (while we figure out if we're gonna change it in the next version), to solve the problem you should break the argument to be separate of each other, probably just remove the quotes or split the config name and value to separate lines.

[2022-06-15 05:19] enjoy-binbin commented on #10865
yes

i used to work, becasue in here, we did not have the handled_last_config_arg condition, and then both `--maxmemory 700mb` and `--maxmemory-policy volatile-lru` were treated as "option name"
https://github.com/redis/redis/blob/05833959e3875ea10f9b2934dc68daca549c9531/src/server.c#L6894-L6906

[2022-06-15 05:23] oranagra commented on #10865
so in an effort to support config values that start with `--` (which isn't a highly desired feature), we broke this (passing both config name and it's value in the same arg).
if that's the case, i have a feeling i'd like to give up that change.

[2022-06-15 05:27] enjoy-binbin commented on #10865
also like `src/redis-server redis.conf port 7000`, it work because we treat port as a option value and 7000 as a another option value
althought the right way is  do `src/redis-server redis.conf --port 7000`.

[2022-06-15 06:13] oranagra commented on #10857
@Yossifsolman i'm sorry, i'm not sure i understood much of your post (for instance, i'm not sure what APPEND is).
The fact is that the warning in 7.0.1 and 7.0.2 is broken, but it's just the warning that's broken, so please ignore it.
if you have any other issues, please try to elaborate, or if they're about the packaging, open an issue in the link Remi provided earlier.

[2022-06-15 09:08] oranagra commented on #10865
I've discussed this with Yossi just now, and we concluded that although this is a wrong usage, we'd still like to fix it. specifically because we broke it in 7.0.1 and not 7.0.0.
while we're at it, maybe also unbreak the missing argument issue that we broke intentionally (again in a patch-level release).
i.e. the one that **is** listed at the bottom of the description of #10660.
unbreaking both of

[2022-06-15 09:45] enjoy-binbin commented on #10865
@oranagra sure, i can take a look. actually i think we can check if the option name can be sdssplitargs? i can make a quick PR
[code]

[2022-06-15 16:28] madolson commented on #10861
@judeng We already broadcast to the entire cluster in various situations, taking ownership of a slot for instance. Given that this is only at the initial forget, I think that's justifiable.

Yes, more so I *want* you two to help! I was under the impression that the main design would be posted and we can start iterating already, I'm not really sure why it's not.

At least for the time being I'm ver

[2022-06-15 16:50] madolson commented on #10863
I don't see why we wouldn't just have a buffer list that is global. Unlike the client output buffer system we can share nodes between the various clusterbus links. I would expect us to change the clusterbus links to be something more like a linked list of "messages" that would be refcounted. The pubsub message would be generated once and added to the tail of each individual clusterbus link.

[2022-06-16 05:16] ranshid commented on #10863
I think we are saying the same thing. I only though we can use the same list concept for subscribers since in many cases the number of subscribers can be very high, but that can be considered separately. I also agree that we can just maintain a list of messages and not stack them into buffers.

[2022-06-16 05:30] oranagra commented on #10077
@awesomecit what do you mean by "stop to work"? not being able to issue commands and read responses?
that makes no sense to me, and i'm quite sure we would have noticed already if such a problem existed.

the problem that we discussed was about the fact that closing the socket on the parent process, won't terminate the connection as long as the fork still has a hold of the file descriptor.

[2022-06-16 06:53] oranagra commented on #10162
@sundb i understand some progress have been made, and since we posted quite a few links to [this](https://github.com/redis/redis/issues/10162#issuecomment-1072359526) comment from other pages and people are likely to hit it, i'd like to ask you to edit / update it.

it currently refers to `redisfab` which i understand is a testing playground, and not something seriously maintained.
instead, the of

[2022-06-16 06:55] sundb commented on #10162
@oranagra Already updated.

[2022-06-16 06:57] PingXie commented on #10861
Make sense @zuiderkwast. I am in agreement with option 1 too.

If we can make sure `CLUSTER_BLACKLIST_TTL` is greater than `cluster_node_timeout` (with some safe margin), I think we could avoid broadcasting the TTL. It should be OK that not all nodes stop the `forget node` broadcasting at the same time.  Nodes that have forgotten the node can ignore the new broadcasting such that we don't have to

[2022-06-16 12:17] zuiderkwast commented on #10861
@PingXie We can't, can we? CLUSTER_BLACKLIST_TTL is 1 minute but ode timeout is configurable...

Good point!

Yes, I guess the code gets simpler, but if there is a lot of latency and the gossip takes some time to reach all nodes, the blacklist can survive longer than expected. Given a node id is 40 bytes and a TTL is 8 bytes, I don't think it matters much for the message size at least. Please have

[2022-06-16 12:24] andersaaberg opened #10870 "[BUG] user password is not saved when creating with "redis-cli setuser" (non-interactive mode) and ">" is not escaped"
**Describe the bug**

User password is not saved when creating with `redis-cli setuser testuser on >testpassword` (non-interactive mode) and `>` is not escaped. It works fine in the following conditions:
* if redis-cli is started in interactive mode
* if `>` is escaped
* The user is created in ACLFILE instead of using redis-cli

**To reproduce**

Terminal #1:
[code]

Terminal #2:
[code]

This yiel

[2022-06-16 13:10] eliteaz opened #10871 "redis 7.0.2 rewrites redis.conf"
Have a redis replica of 3 nodes
use latest redis version 7.0.2 on CentOS Stream 8
after `systemctl restart redis` rewrites my default config `/etc/redis/redis.conf`
bottom of file add replica lines
[code]
and also change config file owner from **root** to **redis**
even on redis 6.x version there was no rewrites to config file
Is there ant solution to disable CONFIG REWRITE after redis startup ?

[2022-06-16 13:33] zuiderkwast commented on #10870
`>` is shell syntax. The documentation for this is displayed if you type `man sh` in your shell. You will find that it means "Redirect standard output to file".

So if you type `redis-cli ACL SETUSER testuser on >testpassword` in a shell, it means you run the command `redis-cli ACL SETUSER testuser on` and the output of the command is saved in a file called "testpassword" in the current directory.

[2022-06-16 17:06] oranagra commented on #10871
@eliteaz is this a regression? (have you used this configuration with a previous version? )

What do you mean by 3 nodes? is this a cluster? (cluster doesn't write replicaof to the config file)

Any chance your redis server was hacked and this is the outcome of some attack?

[2022-06-16 17:57] PingXie commented on #10861
We could set TTL to `CLUSTER_BLACKLIST_TTL + cluster_node_timeout` on each node. Traffic is one thing but I do think the simplicity (of not having to deal with an extra field) is appealing.

Do you want to wait for #10536 to merge? I refactored the extension building logic to simplify the addition of new extensions. I think it is very close to the finish line. I am really hoping @madolson could fi

[2022-06-16 20:15] hwware commented on #2807
I am not sure if it could support setslot in a range instead of only accepting one slot so far, the possible format is
CLUSTER SETSLOT startslot endslot IMPORTING node-id | MIGRATING node-id | NODE node-id | STABLE

Thanks

[2022-06-16 21:23] andersaaberg commented on #10870
@zuiderkwast : Many thanks for quick reply! Users are likely to run into this problem, specially with the introduction of ACL in Redis 6 where ">" is used for password. It would be very helpful with a little documentation at https://redis.io/docs/manual/cli/ about how to avoid these problems - is there a bulletproof way so I do not have to remember to escape every single piece of shell syntax indi

[2022-06-16 21:31] zuiderkwast commented on #10870
Well, we could add examples with special characters on the CLI page or on the ACL page. Maybe you can suggest something in a PR?

But IMHO if you're writing shell scripts or even commands in the shell, you're expected to know which characters need to be escaped. I think it's a fair requirement. (Theoretically, it can also depend on the shell. If you're using some completely different shell, it may

[2022-06-16 21:40] zuiderkwast commented on #10861
Sure, it would be simpler. That means that we set it to `CLUSTER_BLACKLIST_TTL + cluster_node_timeout` also on the CLUSTER FORGET command, right? What about the concern that gossip can take a long time to reach all nodes in a large cluster, is that a valid concern?

Good to know. Sure, I can rebase my PR after yours is merged. But I can also keep my PR in a working state meanwhile.

[2022-06-17 00:55] matt-donahoe-skydio commented on #8114
I was getting a similar problem, but I saw this in `/var/log/redis/redis-server.log`

[code]

Just removing `/var/run/redis/dump.rdb` fixed the problem.

I suspect that I downgraded redis and it couldn't handle the dump format of a newer version?

[2022-06-17 07:26] PingXie commented on #10861
Right and every node sets the same TTL (`CLUSTER_BLACKLIST_TTL+cluster_node_timeout`) upon receiving a new `forget node` for the first time.

This is a valid concern but orthogonal to how the TTL is set, either statically via a hard-coded formula like what we discussed here or runtime calculation as your PR demonstrates. In theory, both can run into this issue where the sender has already expired

[2022-06-17 07:57] YuGuiwe commented on #10803
@AviAvni Thanks for your reply. I really appreciate it. I have been learning Redisgraph for a while. Now I want to install it on my server. Because of the last question, I would like to know what version of redis supports redisgraph or where I can find the related document? The version written on GitHub is 255.255.255. I am curious about it.

[2022-06-17 08:13] eliteaz commented on #10871
@oranagra seems I found an issue.
Problem was that I removed symlink from `/etc/redis.conf -> redis/redis.conf`
after when redis service is starting up again it not found a `/etc/redis.conf` symlink
and rewrites a config itself `CONFIG REWRITE` command

[2022-06-17 08:20] #10871 closed

[2022-06-17 08:52] uvletter commented on #10644
`?:0` indicates there're some errors while getting the peer's name,  which usually means the fd is problematic.
https://github.com/redis/redis/blob/a4754e228fda51e4fd136d6e728eb1fc1923e5df/src/anet.c#L607-L617
You can use `lsof` to confirm if these fds exist or not. Besides, maybe you need to evict the idle clients with the methods in
 https://redis.io/docs/reference/clients/#client-timeouts

[2022-06-17 08:59] judeng commented on #10861
@madolson in 7.0, the broadcast messages for pubsub and module have been minimized, and other broadcast messages, such as  slot whonership messages, still need to be broadcast to recover routing information asap.  As a user's point of view, they are more willing to put up with the delay caused by broadcast messages than the delay caused by redirection. But the removal of nodes, usually in the clus

[2022-06-17 13:16] Valdeminas commented on #10813
Just a quick update.

Rewrote our code to evaluate the following script

@"local current
current = redis.call('incr',@key)
if current == 1 then
    redis.call('pexpire', @key, @timeout)
end
return current";
And the issue now seems to be fixed.

[2022-06-17 16:35] KENzyb opened #10876 "how to use springboot connect redis6 acl different user"
the springboot  project connect the default user
i need to connect the user i add
who can help me，thanks！！

[2022-06-17 17:02] PingXie commented on #10861
@judeng the idea here is to piggyback on the periodic PING message, which now has the ability to carry additional payload via a construct called `extension` thanks to @madolson's work (#9530). The PING message without any extension is already quite substantial, `~2KB * (N+1)` where `N` is the number of nodes picked for gossip. The additional cost incurred by this new payload would be `40B * M` whe

[2022-06-17 17:52] viragtripathi commented on #10876
If you're using Lettuce then you can set username and password using core lettuce api. See an example here, https://gist.github.com/viragtripathi/5984462289a9d54bb9e1a4f56b9b6f5a. spring-data-redis may have property like `spring.redis.username` and `spring.redis.password` as it was proposed here, https://github.com/spring-projects/spring-boot/issues/22702

[2022-06-17 23:50] madolson opened #10878 "Split the clustering interface between control plane and data plane"
As part of https://github.com/redis/redis/pull/10875, one of the goals is to split the API into two pieces. One that handles control plane operations (Add/Remove/Failover/update node) from data plane operations (topology discovery/pubsub). Just creating this as an issue to indicate that I am working on it since I did most of the work as part of a PoC.

The general idea is too split all of the oper

[2022-06-18 00:49] madolson commented on #10861
We aren't "gossiping" this, or at least we aren't from the implementation. The only piece of information we gossip is the health information. The Ping/Pong messages are guaranteed (as much as cluster can guarantee) within the `cluster_node_timeout` by sending a new message if we haven't heard from the node by `cluster_node_timeout`/2. We should hit every single node within the max(CLUSTER_BLACKLIS

[2022-06-18 00:51] madolson commented on #10802
@romange Awesome!

Someone from AWS is going to pick this up shortly, so tentatively assigning it to myself. If other folks from the community are interested please follow up, this is definitely going to be a bigger effort.

[2022-06-18 12:35] zamazan4ik opened #10879 "Document supported hardware architectures"
Hi!

We are investigating different databases for our solution. And Redis is one of the candidates. And one of the requirements is support of different architectures (at least x86-64 and ARM).

I have checked the documentation but did not find any word about supported architectures - only about supported operating systems.

Could you please put the information about supported architectures to the

[2022-06-18 13:27] judeng commented on #10861
@madolson  Agree! your point is very clear, I think I get it, thank you！ In my usage scenario, the data of my cluster has doubled almost every year, and now it has close to 1200 nodes. Most of the overhead of the cluster bus is spent on ping/pong messages, indeed the full fanout are very very infrequent.

[2022-06-18 13:51] oranagra commented on #10879
@zamazan4ik for the most part, redis doesn't have any hardware architecture limitations, so it virtually support anything for which you have a C compiler.
I'm not sure it'll work on 8 or 16 bit platforms, but it sure supports 32 and 64 bit, both bigendian and littleendian.
Of course x86 and Arm are heavily used and tested.

Please let me know where you saw the text that was lacking and we'll see i

[2022-06-18 16:20] zamazan4ik commented on #10879
Sure. I think you can put a note about supported and well-tested OS-Arch combinations somewhere here: https://redis.io/docs/getting-started/installation/ . Another option is adding a note something like about ARM (https://redis.io/docs/reference/arm/) but for other archs.

[2022-06-19 15:32] TimHe95 opened #10880 "[NEW] improve I/O scalability"
**The problem/use-case that the feature addresses**

I am using `Redis` as a disk-based database (i.e., configured with `AOF` mode), where the write performance is the most concerning. It is very great that `Redis` now support I/O threads. But currently the threads can only use the `write(2)` syscall to issue requests. There may be two limitations:
 - (1) `write(2)` is a synchronized I/O interface

[2022-06-19 15:33] TimHe95 opened #10881 "[NEW] improve I/O scalability"
**The problem/use-case that the feature addresses**

I am using `Redis` as a disk-based database (i.e., configured with `AOF` mode), where the write performance is the most concerning. It is very great that `Redis` now support I/O threads. But currently the threads can only use the `write(2)` syscall to issue requests. There may be two limitations:
 - (1) `write(2)` is a synchronized I/O interface

[2022-06-19 15:40] #10880 closed

[2022-06-20 09:13] TimHe95 opened #10882 "[NEW] control the bytes of data being written or support alternatives for `fsync`"
**The problem/use-case that the feature addresses**

I'm using the WD SN-850 NVMe SSD, and I find the write performance (YCSB-A) is not as good as I expected. Even sometimes worse than my Samsung 860 EVO SATA SSD. Exploring the root cause, I found that WD SN-850 SSD is very sensitive to the size of written data. As shown in the following figure, when the size of write (random write) is small or no

[2022-06-20 10:03] oranagra commented on #10882
Buffering the aof writes and doing them only when enough data is accumulated, doesn't seem like a good option. We do want to persist the changes as soon as their committed (note that we don't write them after every command, but as a bunch after processing all the command of a single event loop, before going to sleep).
We can of course split big writes to smaller ones, but it seems like some tuning

[2022-06-20 11:58] yossigo commented on #10882
@TimHe95
I'm not against supporting `O_SYNC` (and maybe `O_DIRECT`) in the future. I understand how it can perform better than `fsync()` in specific conditions (fs intensively used by many other processes, etc.), but in most cases I think the difference should be minimal. `O_SYNC` does offer other advantages, like more accurate error handling.

Also, I don't see how it can result with different si

[2022-06-20 12:57] RinChanNOWWW opened #10884 "[QUESTION] [Redis Module] How to get `unsigned long` from `RedisModuleString`?"
Discussions link: https://github.com/redis/redis/discussions/10883

There is only a method `RedisModule_StringToLongLong` to get integer from `RedisModuleString`. But the range of `unsigned long` and `long long` are different (18446744073709551615 and 9223372036854775807 on my machine), so we can't get `unsigned long` by `RedisModule_StringToLongLong`.

Is there any approach to get `unsigned long`

[2022-06-20 13:29] oranagra commented on #10881
closed in favor of #10882

[2022-06-20 13:32] TimHe95 commented on #10882
- `fio` benchmarks  commands

[code]
 - Device: `Samsung 980 Pro` (a little different from `WD SN850` shown in my first post)
 - Results

![1](https://user-images.githubusercontent.com/18543932/174609225-1ea12555-e9d4-44e3-9f93-4daff18270d2.png)

 - `biosnoop` output
   -  `--bs=4k  --fsync=1  --ioengine=sync  --iodepth=1`

[code]

   -  `--bs=4k --fsync=1  --ioengine=libaio  --iodepth=32`

[code]

[2022-06-20 13:34] oranagra commented on #10881
ohh, sorry, i got carried away, confusing it with the other dup, but actually it's a different topic. re-opening.

[2022-06-20 13:44] zuiderkwast commented on #10884
Hi! Since the range of `long long` is greater than `long`, you can simply cast the result to long afterwards, after checking that it's within the range 0..ULONG_MAX, can't you?

If you want to get the raw string from a RedisModuleString, you can use [RedisModule_StringPtrLen](https://redis.io/docs/reference/modules/modules-api-ref/#redismodule_stringptrlen). It also gives you the length of the str

[2022-06-20 13:57] TimHe95 commented on #10882
With `blktrace`, it seems that the slowness is not in OS when `--bs=4k --fsync=1 --ioengine=libaio --iodepth=32`:

[code]

[2022-06-20 14:11] TimHe95 commented on #10881
Very looking forward to that version! Thanks for the answer and support.

[2022-06-20 14:14] oranagra commented on #10881
@TimHe95 can you just clear out the AOF topic? our plans is to use io_uring and threads mainly to scale writes to sockets (run in parallel).
if AOF is your bottleneck, i'm not certain if what we have in mind is gonna make a difference.

[2022-06-20 14:28] oranagra commented on #10884
i don't think casting will work, it'll get out of range and return an error.
i think your options are either to wait (or make a PR) to add `RedisModule_StringToULongLong`, or use `RedisModule_StringPtrLen` and do the conversion yourself using `strtoull`.

[2022-06-20 20:45] tezc opened #10887 "[NEW] RM_FreeString() should accept NULL pointer"
[code]

As `RM_FreeString()` does not expect NULL pointer, modules must be sure they are not passing NULL pointer in. As far as I can see, it causes lots of NULL checks inside modules. We can just add null check there `if (str == NULL) return`.

Also, it'd be inline with `free()/RM_Free()` function as these functions accepts NULL pointers. (Maybe we should consider this for other `free` family fun

[2022-06-20 23:32] madolson commented on #10887
I am always a fan of free functions not doing null checks.

[2022-06-21 00:15] RinChanNOWWW commented on #10884
Thank you guys for answering my question, I didn't note that` RedisModule_StringPtrLen` will return the raw string, my mistake.

And I will try to make a PR to add `RedisModule_StringToULongLong`.

BTW, the ranges of these two types are the same on my machine.

[2022-06-21 04:54] oranagra commented on #10887
i agree (didn't notice that till now).
note that RM_Free and RM_Realloc do support NULL pointers.

[2022-06-21 04:55] oranagra commented on #10887
the only thing that worries me is that older redis versions won't have that support.
so someone writing a module and testing it on the latest, will miss this and the module would crash on old version (or worse, have rare crashes in some edge cases).

[2022-06-21 07:24] uvletter commented on #10881
@oranagra  unfortunately I think you has a misunderstanding and the concern of this issue is about disk IO, some keyword like `queue depth`, `libaio` can prove it, and `io-uring` is usually efficient in disk IO scene but arguable in performance comparing with multiplexing e.g. `epoll`.  This issue may wanna us optimize the AOF write path with AIO or `io-uring`.

[2022-06-21 07:38] PingXie commented on #2807
I also agree these are two orthogonal decisions. In fact, after reviewing #10875, I start thinking that slot migration is *not* an integral part of the cluster V2 design, which in theory can work with either solution, atomic and non-atomic. If we can agree on the high level command format (proposal: `CLUSTER MIGRATE SLOT <slot> [NODE <node_id> | SHARD <shard_id>] [USER <user>] [PASSWORD <password>

[2022-06-21 08:26] #10644 closed

[2022-06-21 09:55] tezc commented on #10887
Yes, it will require proper version check. Also, if a module wants to support older Redis versions, it won't be able to use this. So, this is for modules that target newer Redis versions.

[2022-06-21 09:57] oranagra commented on #10887
What worries me is modules that only test with the latest, and won't notice the missing check required for older versions.
@madolson @yossigo WDYT?

[2022-06-21 13:20] zuiderkwast commented on #10887
What if we add a note in the docs of `RedisModule_FreeString` that null pointers are accepted in Redis 7.1 but older Redis will crash... Is that enough?

[2022-06-21 13:37] oranagra commented on #10887
maybe it'll help.. but in many cases i'm guessing it won't.. someone will assume it works, or simply not notice he has a rare flow that hits this, on the latest, where all the tests are made it'll work, and on older versions it won't but no one will notice.

[2022-06-21 14:42] binileldhoroy commented on #8114
sudo ls -lr /var/lib/redis
ls: cannot access '/var/lib/redis': No such file or directory

i  getting this

[2022-06-21 14:51] binileldhoroy commented on #8114
Failed opening the RDB file dump.rdb (in server root dir unknown) for saving: No such file or directory
55285:M 20 Jun 2022 20:09:05.255 # Error trying to save the DB, can't exit.
55285:M 20 Jun 2022 20:09:05.255 # SIGTERM received but errors trying to shut down the server, check the logs for more information

[2022-06-21 16:05] uvletter commented on #10881
An unshaped thought, why not fsync AOF in the background thread(or AIO etc.), and put the client into clocked, thus other processing won't be blocked simultaneously. Once the operation is done, a callback will recovery the blocked client, replying to the request.

[2022-06-21 20:33] hpatro commented on #10862
As @madolson mentioned it's by design and don't support guaranteed delivery. Marking as `state-to-be-closed`.

[2022-06-21 21:43] #10862 closed

[2022-06-22 03:58] uvletter commented on #10882
I think the configuration may not exactly match the workload of AOF, several points:

- AOF is written by a single thread, so maybe `numjobs` should be 1
- AOF is append only, `--rw=write` is more appropriate
- AOF use the buffered IO now, so maybe `direct` should be 0

Besides, `ioengine` of `libaio` and `sync` cannot compare directly, `libaio` can occupy the queue depth, in contrast `sync` only

[2022-06-23 00:01] M-Kepler commented on #9103
I have solve this problem by changing image from `redis:alpine` to `redis:latest` and it work.

[2022-06-24 02:03] yetian12 opened #10897 "node.conf cannot generate correctly after cerate cluster"
1.  I can start nodes(total six nodes);
2.  I run them on cloud servers;
3. then, I execute  command : -a "Iwhalecloud@2022redis" \
  Ip1:port1\
  Ip1:port 2\
  Ip2:port1 \
  Ip2:port2 \
  Ip3:port1 \
  Ip3:port2
it can create cluster successfully，but when I pressure measurement reids cluster by my program， throw Too many Cluster redirections excpetion.   IP is outer net ip ,not  Intranet IP .

la

[2022-06-24 04:45] uvletter commented on #10897
when you build the cluster, try `cluster meet` with a WAN IP instead of LAN IP?

I'm not sure what the command is

[2022-06-24 07:24] yetian12 commented on #10897
redis-cli --cluster create \
  --cluster-replicas 1 \  -a " password" ........ 。 I use this command to create cluster . And I use  wan ip wholly

[2022-06-24 07:24] #10897 closed

[2022-06-25 13:13] tamis-laan opened #10899 "Docker swarm, Redis repeated cluster initialisation bricks cluster"
I'm trying to run a redis cluster using docker swarm. I have 2 components to do this, the redis nodes and a initialization script that runs when the stack is created:

[code]

This setup works well when building the stack for the first time. But after tearing down and rebuilding the stack the setup script seems to brick the cluster.

script:
[code]

cluster:
[code]

What's the best way to deal wit

[2022-06-25 14:10] filipecosta90 commented on #10899
@tamis-laan notice that you preserve the state of the cluster on the volume. I suggest you check the cluster state on the script and if all slots are assigned there is no need to create it.
You can check `cluster_state`:
[code]
here's the relevant documentation: https://redis.io/commands/cluster-info/

[2022-06-25 19:47] MrDHat commented on #10831
Sorry folks... forgot to respond here
I am indeed using M1 Mac & the issue seems to be what @sundb reported

[2022-06-25 19:47] #10831 closed

[2022-06-26 07:49] tamis-laan commented on #10899
something like this:
`redis-cli --cluster call redis-1:6379 CLUSTER INFO | grep cluster_state:ok`
Although this can fail if the cluster nodes are not yet online.

[2022-06-26 11:36] #10865 closed

[2022-06-26 12:02] #10884 closed

[2022-06-27 01:41] hpatro commented on #10809
Interesting, I've seen reverse request as well to persist PUBSUB data to stream. We need to build some form of interoperability between these two.

@chendali16 For the above, How do you intend to discover if there is a loss of data from the consumed data in pubsub mode?

[2022-06-27 01:41] chendali16 commented on #10809
您好，邮件已经收到。谢谢
                  大立

[2022-06-28 18:20] hwware opened #10903 "[QUESTION] How the RESTORE-ASKING command in cluster is called?"
When I look at the cluster source code, I notice there is one function named: **void restoreCommand(client *c)**
the command RESTORE-ASKING call it, but I do not find how this function is called, no other function or action call it?
someone know it ?  Thanks a lot.

[2022-06-29 02:28] enjoy-binbin commented on #10743
for the record, i was tracked in https://github.com/RedisLabs/redislabs-docs/pull/1931

[2022-06-29 03:11] tzongw commented on #10412
Hey, I am doing some similar things, hope this project can help.
[redis-timer](https://github.com/tzongw/redis-timer)

[2022-06-29 03:16] judeng commented on #10903
`restore-asking` is called in `migrate` command in cluster mode, please see [code](https://github.com/redis/redis/blob/35c2ee8716dc9b1d4edbbb409815a585af491335/src/cluster.c#L6313)
[code]

[2022-06-29 03:38] tzongw commented on #10078
Hey, I am doing some similar things, hope this project can help.
[redis-timer](https://github.com/tzongw/redis-timer)

[2022-06-29 03:38] tzongw commented on #6066
Hey, I am doing some similar things, hope this project can help.
[redis-timer](https://github.com/tzongw/redis-timer)

[2022-06-29 08:28] judeng commented on #10743
@sundb @richzw @itamarhaber  I think the fourth item may be meaningful. I reread the `activeExpireCycle` function, when a large number of keys expire at one time, the memory reclamation may be slow, so the real meaning of `Increasing the expiry of keys` may be to say not to set the same expiration time. In any case, it does need to modify the description.

[code]

[2022-06-29 08:40] sundb commented on #10743
@judeng Yeah, I also thought that this phrase was meant to spread out the expiration time.

[2022-06-29 13:04] hwware commented on #10903
Thanks @judeng , I will take a look.

[2022-06-29 13:04] #10903 closed

[2022-06-29 14:08] ngtuan96lc commented on #7361
Thanks
It worked for me!

[2022-06-30 06:09] tiggoliu opened #10905 "[BUG] The redis down by it's self ,redis verison 5.0.3( ASSERTION FAILED)"
**Describe the bug**
The  redis server down by it's self. The log is below screen short.

![redis-5 0 3bug report](https://user-images.githubusercontent.com/32757670/176604412-82852a30-6efd-414a-b346-e920ef914ac1.jpg)

[2022-06-30 06:13] oranagra commented on #10905
@tiggoliu please post it as text, not an image.
please also try to describe the scenario that lead to this crash.
maybe also include a few lines from the log file from before it crashed.
p.s. 5.0.3 is old, and no longer supported, chance are that this issue is already fixed.

[2022-06-30 06:23] tiggoliu commented on #10905
@oranagra I hava update the bug report ,please confirm it ,thanks!

[2022-06-30 06:27] oranagra commented on #10905
@tiggoliu thank you. that's a little bit better since we can use copy / search on that text, but for some reason many line breaks disappeared and many lines are mashed together..

[2022-06-30 08:25] JackGH9 opened #10906 "Redis and vm.overcommit_memory"
Hi all,
I've installed Redis 7.0.2 on a Virtual Machine with Ubuntu 20.0.4

I'm tweaking the performance, I'm trying to solve all warnings in the redis-log file

I'm stuck with this alert: WARNING overcommit_memory is set to 0! Background save may fail under low memory condition

I've added the parameter vm.overcommit_memory = 1 into /etc/sysctl.conf and rebooted the machine but it's not working,

[2022-06-30 09:54] #10906 closed

[2022-06-30 10:23] moticless opened #10907 "[NEW] Enhancing FLUSHALL ASYNC in case of scarce memory"
`FLUSHALL` is considered a heavy-weight command, it takes a very long time until completion and during that time the server is practically unavailable. As an alternative, `FLUSHALL` also supports the `ASYNC` option of running the command in the background in an attempt to avoid stalling the server. Nevertheless, it might raise another reasonable issue for flows that try to make fast reconstruction

[2022-06-30 12:18] oranagra commented on #10907
In a nut shell, in case the write traffic during FLUSHALL ASYNC reaches OOM condition, we'll get the CLIENT PAUSE WRITE behavior (postponing / throttling) instead of an OOM error to the client, or an eviction of the newly populated keys.

[2022-06-30 14:54] noahehall opened #10908 "Typo in ACL documentation"
- [on the ACL doc page](https://redis.io/docs/manual/security/acl/)
- alternative to ACL LIST ... designed for computers
- while ACL LIST... more human readable
  - should this say ACL GETUSER ?

[2022-06-30 19:05] madolson commented on #10907
I'm not convinced we should implement flow control for this specific feature. As the requester stated, Redis doesn't behave incorrectly, it will just start rejecting writes or performing evictions.

[2022-06-30 19:12] madolson commented on #10899
It is odd that the cli create doesn't do any validation before updating state. I agree that you should probably do a check that the cluster is up before doing the create, but we will take a look to see if there is any way we can harden the tooling.

[2022-06-30 19:54] oranagra commented on #10907
Redis will behave correctly, but it's not useful for users.

Users want a FLUSHALL command that doesn't block the traffic for a long duration, ideally it should release all the memory instantly, but since that's not possible, it would be good to do it in the background and avoid the negative implications of doing so.

[2022-07-01 06:15] mroccyen commented on #2576
mark

[2022-07-01 07:02] wallcwr opened #10913 "[QUESTION] Process of master selection"
process order of master selection can be following order:
1. Disconnection time
2. Priority
3. Replication offset
4. Run Id
my question is that why it preferred to choose a slave node with a smaller runid?

[2022-07-01 15:33] madolson commented on #10907
I'm not sure that "not useful" for users is true. The user still needs to be able to handle the errors if their workload is pushing data near the limits. In all of our internal testing it's very hard to outpace the speed of freeing data.

[2022-07-01 16:27] mukundv18 opened #10914 "Error: Protocol error, got "\r" as reply type byte"
redis-benchmark tool (version 7.0.2) gives the following error.

[code]

It appears to be a bug. Let us know the fix or work around.

[2022-07-01 21:11] dzuelke opened #10915 "[BUG] redis-server TLS connection close breaks OpenSSL 3 clients"
**Describe the bug**

OpenSSL 3 clients are more sensitive to how connections are closed by servers.

As far as I understand it, if there is an unexpected EOF from the server, because the connection was closed without `SSL_shutdown` being called to perform a bidirectional close (which theoretically allows a truncation attack), clients compiled against OpenSSL 3 will now throw an error.

There are

[2022-07-02 00:25] TheOldMan2000 opened #10916 "[BUG] Redis 7.0.2 vm.overcommit log warning is incorrect"
**Describe the bug**

Hello Team Redis!

Redis logs complain of vm.overcommit set as 0 but this is incorrect. However according to sysctl the variable is set as 1, as recommended.

**To reproduce**

Start a new Redis instance (or restart an existing instance) via:

 `systemctl start redis.service`

and then look at the log output for when the Redis server starts or restarts e.g.

`less /var/log/re

[2022-07-02 01:36] enjoy-binbin commented on #10916
sorry for that, see #10906 and #10841

it will be fix in 7.0.3, so now just ignore the warning
(the vm.overcommit_memory = 1 is working, we did a wrong check, so the warning is always printed)

[2022-07-02 07:26] 18397407270 opened #10919 "[BUG] redis 恢复数据 自动给一些没有过期时间的key设置了过期时间,key的名称以login_tokens:开头"
**Describe the bug**

A short description of the bug.

**To reproduce**

Steps to reproduce the behavior and/or a minimal code sample.

**Expected behavior**

A description of what you expected to happen.

**Additional information**

Any additional information that is relevant to the problem.

[2022-07-02 07:27] 18397407270 commented on #10919
我试了6和7的版本,RDB或者AOF都存在这种问题

[2022-07-02 07:30] sundb commented on #10919
@18397407270 Please use English to describe your issue, and can you give more info or reproduction steps?

[2022-07-02 07:37] 18397407270 commented on #10919
redis Recover Data automatically sets an expiration time for some keys that do not have an expiration time, and the name of the key begins with login_tokens:

[2022-07-02 07:39] sundb commented on #10919
@18397407270 How did you recover the data? Or did you use some third-party tools?

[2022-07-02 07:40] 18397407270 commented on #10919
First I saved a key with no expiration time, using the set key value, then persisted with RDB, and then restarted the redis, and found that the key was set by redis to expire,RedisinSight was used

[2022-07-02 07:44] 18397407270 commented on #10919
The name of the key is: "login_tokens:c92b3dfe-f247-4821-a436-231a011b03cf"

[2022-07-02 07:48] sundb commented on #10919
Can you repeat your steps, and before restarting redis, try `redis-cli info Commandstats` to output info.
Normally, redis does not actively add expiration times to keys.

[2022-07-02 07:48] 18397407270 commented on #10919
![屏幕截图 2022-07-02 154604](https://user-images.githubusercontent.com/57580850/176991810-ed5a07cf-da20-483f-b3f1-5de7f7997348.jpg)

[2022-07-02 07:49] 18397407270 commented on #10919
Use this pattern to add data

[2022-07-02 07:52] 18397407270 commented on #10919
I'll go to cli to reproduce it and see if that's the problem

[2022-07-02 08:11] 18397407270 commented on #10919
I found that this is the case with the big Value

[2022-07-02 08:12] 18397407270 commented on #10919
Narrowing down the contents of the Value won't appear

[2022-07-02 08:19] 18397407270 commented on #10919
Sorry, it's not the problem, but my project has a thread that has set an expiration time for it

[2022-07-02 08:19] #10919 closed

[2022-07-02 08:25] enjoy-binbin commented on #9068
i thinks the rest was fixed in #10256 (#10256 is a revamp of #9234), so we can finally close this issue

[2022-07-02 08:25] #9068 closed

[2022-07-02 12:12] Gongyihui commented on #10905
I also encountered this problem, did you solve it?

[2022-07-02 13:19] myifeng commented on #6048
+1 for this feature

[2022-07-02 16:52] moticless commented on #10907
Hi @madolson,
Since your tests didn’t encounter the issue it doesn’t mean we can ignore a real problem that reproduced to us and potentially can happen to others.

IMHO, Let’s make Redis simple and more predictable to use, not the other way around. As a user, that `FLUSHALL ASYNC` the entire database, then I don't want to have any potential eviction afterward. I don't want to simulate any command

[2022-07-02 16:54] TheOldMan2000 commented on #10916
Awesome, thank you!

[2022-07-02 17:13] madolson commented on #10907
I'll clarify my point, this seems over prioritizing a single case (which I believe is constructed and not real). There are multiple places in Redis where flow control is more important like replication (limiting cow and cob growth) and it also could be applied to all lazy free jobs, not just flush all. There is no reason to believe that individually async deletes might also cause unexpected evicti

[2022-07-02 17:23] madolson commented on #10907
@moticless can you also post the reproduction?

[2022-07-02 23:54] madolson commented on #10913
Someone else might correct me, but I believe the runID is just used as a tiebreaker between different redis nodes that are "equally" viable to be promoted.

[2022-07-03 00:02] madolson commented on #10914
@mukundv18 Can you provide more information about your setup, I wasn't able to trivially reproduce it on Redis 7.0.2. Please include the configs if possible.

The error looks like it's trying to read the type, but failing and just throwing an error.

[2022-07-03 05:14] #10916 closed

[2022-07-03 06:20] oranagra commented on #10905
@Gongyihui please describe what exactly you encountered, which version, what was the scenario which lead to it, and if yo can also post a crash log.
maybe additional info would lead to some realization.

[2022-07-03 06:44] oranagra commented on #10907
@madolson AFAIK the reason replication buffers aren't included in eviction limits is to avoid a feedback loop. that's already a bad fact (same as lazy free eviction), and doing the same for FLUSHALL would be even worse.

I agree it's a good idea to add throttling in other places as well (COW, replication buffers), but i'm not sure we should tie them together (for FLUSHALL it's considerably simpler

[2022-07-03 15:58] yossigo commented on #10915
@dzuelke Thanks for reporting this, I've been looking at different test behavior due to OpenSSL 3.0 but I realize now the implication might be greater than just that. I'll take a look - I'm not sure we'll always be able to afford waiting for `SSL_shutdown()` to complete successfully, but even a best-effort approach is better than what we have now.

[2022-07-04 02:00] redisgate opened #10926 "[BUG] 7.0.1, 7.0.2 syscheck.c checkOvercommit() if (atoi(buf)) { "msg" } -> Not working"
**Describe the bug**

No overcommit log message

**To reproduce**

7.0.0 source code server.c
	linuxOvercommitMemoryValue() 	return atoi(buf);
	linuxMemoryWarnings() if (linuxOvercommitMemoryValue() == 0) {  "WARNING msg" }

**Expected behavior**
	redis-7.0.1, 7.0.2  syscheck.c
		current code:  if (atoi(buf)) {  "WARNING msg" }
                Please correct this:  	if (atoi(buf) == 0) {  "msg" }

[2022-07-04 02:05] enjoy-binbin commented on #10926
sorry for that, see #10906 and #10841

it will be fix in 7.0.3, so now just ignore the warning
(the vm.overcommit_memory = 1 is working, we did a wrong check, so the warning is always printed)

[2022-07-04 02:05] #10926 closed

[2022-07-04 03:07] Gongyihui commented on #10905
=== REDIS BUG REPORT START: Cut & paste starting from here ===
30073:M 02 Jul 2022 18:42:36.350 # === ASSERTION FAILED ===
30073:M 02 Jul 2022 18:42:36.350 # ==> dict.c:197 'd->ht[0].size > (unsigned long)d->rehashidx' is not true
30073:M 02 Jul 2022 18:42:36.350 # (forcing SIGSEGV to print the bug report.)
30073:M 02 Jul 2022 18:42:36.350 # Redis 5.0.14 crashed by signal: 11
30073:M 02 Jul 2022 1

[2022-07-04 05:26] oranagra commented on #10905
@Gongyihui thank you. do you happen to have some info about what triggers it, or how to reproduce it?
can you please post a complete crash log?

[2022-07-04 05:35] Gongyihui commented on #10905
=== REDIS BUG REPORT START: Cut & paste starting from here ===
30073:M 02 Jul 2022 18:42:36.350 # === ASSERTION FAILED ===
30073:M 02 Jul 2022 18:42:36.350 # ==> dict.c:197 'd->ht[0].size > (unsigned long)d->rehashidx' is not true
30073:M 02 Jul 2022 18:42:36.350 # (forcing SIGSEGV to print the bug report.)
30073:M 02 Jul 2022 18:42:36.350 # Redis 5.0.14 crashed by signal: 11
30073:M 02 Jul 2022 1

[2022-07-04 05:52] oranagra commented on #10905
any chance you can try a more recent version of Redis?
looking at dict.c between this version and the 6.2, i see dict.c is unchanged, however, i haven't seen any similar reports and i'm unable to reproduce or figure out what the problem is.

[2022-07-04 05:53] tiggoliu commented on #10905
I had update the redis to 5.0.14 version.

[2022-07-04 05:57] Gongyihui commented on #10905
The production environment is inconvenient to update

[2022-07-04 06:15] Gongyihui commented on #10905
There is another bug, please take a look

There is another bug, please take a look

[2022-07-04 06:16] Gongyihui commented on #10905
=== REDIS BUG REPORT START: Cut & paste starting from here ===
3169:M 22 Jun 2022 12:43:04.536 # Redis 5.0.14 crashed by signal: 11
3169:M 22 Jun 2022 12:43:04.536 # Crashed running the instruction at: 0x431e0e
3169:M 22 Jun 2022 12:43:04.536 # Accessing address: 0x7fba00010008
3169:M 22 Jun 2022 12:43:04.536 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/

[2022-07-04 06:28] Gongyihui commented on #10905
The bug still exists in this version

[2022-07-04 06:48] kervin521 opened #10928 "[QUESTION] how to install redis 6.2.6 of Ubuntu?"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.

Generally, questions about using Redis should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [/r/redi

[2022-07-04 08:49] moticless commented on #10907
Sorry for misleading. We didn't reproduce the issue. There were some indications and evaluation that we might reach this issue as part of our product, such that DB importer flow reconstructs the database. And therefore, for now we prefer to use synchronous FLUSHALL.

[2022-07-04 08:51] yossigo commented on #10928
@kervin521 You did not provide any information about your environment, apt sources setup, etc. Installation steps are described in detail here: https://redis.io/docs/getting-started/installation/install-redis-on-linux/

[2022-07-04 08:51] #10928 closed

[2022-07-04 10:46] yossigo commented on #10915
@dzuelke Can you please confirm that #10931 solves this problem in your case?

[2022-07-04 11:18] kervin521 commented on #10928
OS: 20.04
arch: amd64/arm64
deb sources:
http://ppa.launchpad.net/redislabs/redis/ubuntu
https://ppa.launchpadcontent.net/redislabs/redis/ubuntu

I want to install redis 6.2.6,how to do for me?

[2022-07-04 11:23] yossigo commented on #10928
@kervin521 Please follow the instructions above and use the official APT repository. The PPA only includes a single (latest) version (a Launchpad limitation).

[2022-07-04 15:31] #9950 closed

[2022-07-04 16:26] madolson opened #10933 "Atomic slot migration HLD"
## High level design

We want to introduce a new Slot Migration process that atomically migrates a set of slots from a source node to a target node.

We will implement a net new slot serialization strategy which emulates the behavior of BGSave but sends a series of RESTORE COMMANDS instead of the RDB snapshot serialization format. The strategy being that we fork when migrating a slot, we establish

[2022-07-04 16:35] madolson commented on #10907
Sure, maybe I'll restate an earlier point then. When we tested it internally, we were *unable* to generate a load that ingested data faster than the background thread was able to free it *except* for single core cases with pinning. You make a statement that it could still be possible, which is fair, but it would be better if there was a concrete known way it could happen.

[2022-07-04 17:10] dzuelke commented on #10915
@yossigo Just built with that patch applied and can confirm it fixes the issue! Nice work!

[2022-07-04 18:40] oranagra commented on #10933
Very nice.
I think I'm missing some chapter about replicas of the source and target.

[2022-07-04 19:59] PingXie opened #10935 "Introduce a CLUSTER JOINSHARD primitive that allows admins to move nodes between shards"
How about a `JOINSHARD` primitive? I think it makes more sense to expose a high level construct around shards, as opposed to letting admins manipulate the shard-id directly. Specifically, I propose the below:

A node `N` can explicitly join a shard `S` as identified by its `<shard-id>` via `CLUSTER JOINSHARD <shard-id>`
* If shard `S` is not empty, `N` will try locating its primary `P` and initiat

[2022-07-04 22:28] PingXie commented on #10933
Can we add the slot range syntax sugar similar to [`ADDSLOTSRANGE`](https://redis.io/commands/cluster-addslotsrange/) for consistency?

How do you plan to support auth? Are you thinking about the [`MIGRATE`](https://redis.io/commands/migrate/) model where the client provides clear text auth on the command?

The proposed migration protocol makes sense to me.

On the surface it sounds like target re

[2022-07-05 05:38] Yossifsolman opened #10936 "[CRASH] <vm.swapiness = 1 / 10 / 30 RHEL Default crushing the server with Redis>"
Hello guys, how are you? (Shalom)

I have issues with the swap and Redis.
I have E2 Small (2x2) on GCP (google cloud).
It's a shared core

My SSD disk is not local disk, but it's SSD.

From what i see online on Red Hat aware to the issue on clouds
(i have Linux RHEL from what i see):
https://www.redhat.com/sysadmin/cloud-swap

My cPanel server get series overload when server need to swap.
What cau

[2022-07-05 05:41] #10915 closed

[2022-07-05 07:57] oranagra commented on #10936
I suppose the advise in redis.io to enable swap is just so that on the rare case you run out of memory, the process isn't killed and you'll be able to notice the latency and fix the issues (change things so that swap is not really used).

In Redis Enterprise the software controls  resource allocation / provisioning, runtime `maxmemory` adjustments, and `oom-score-adj-values` thresholds so that pro

[2022-07-05 09:43] zuiderkwast commented on #10933
I think the target needs to *synchronously* propagate CLUSTER IMPORTSLOT END to replicas and write it to AOF/RDB before taking ownership by bumping the epoch. Is it enough though? Will this lead to other problems? @PingXie WDYT?

[2022-07-05 10:02] mukundv18 commented on #10914
@madolson Found the issue. The AOF file had become too big that there was no space left. We are collecting both RDB and AOF. Can you suggest a config setting that ensures that the AOF file collects data only from the time of the last Snapshot? If configured that way, are there any use cases which we need to be aware of? Thanks!

[2022-07-05 10:13] djpbessems commented on #10865
Why was this issue closed when the original problem wasn't the one that was supposedly fixed?

The fix seems to resolve around mixing `redis.conf and --<whatever>` arguments, but the original report does not refer to a configuration file.

Similarly, my k8s manifest has the following:
[code]
which results in the error:
[code]

[2022-07-05 13:58] judeng commented on #10933
this is a very mature and exciting proposal. only have one minor suggestion.

I think the restore command is designed for the old version scheme to realize the atomic migration of keys. When migrating large keys, especially the zset keys, restore comand often make the target to be hung for a long time, maybe causing the slot migration to fail. According to your proposal, in the source fork process

[2022-07-05 18:18] PingXie commented on #10933
@zuiderkwast I think you are essentially suggesting 2PC in the target shard as well, either hanging off of the 2PC between source and target primaries or part of the same 2PC between source and target primaries. The source replicas if any should also participate in the same 2PC BTW; otherwise the agreement reached by the source primary and the target shard could be nullified if both source and tar

[2022-07-05 18:57] hwware opened #10938 "[NEW] Client side could see how many sentinel connection on master node"
**The problem/use-case that the feature addresses**

Currently, In the case there are multiply client connections on master node,  there are several replica nodes and sentinel connected to the master node.
When client run "info" command, client could see the client connection number, replica node infomation, but no sentinel node infomation provided. Client can only logon the sentinel node client a

[2022-07-05 20:27] hwware commented on #10933
I have several questions for this design:

1. As @PingXie comment, if the command **CLUSTER MIGRATESLOTS [NODE <Target node ID>] [SHARD <Target shard ID>] <slot1...slot2>** could support multiply slot ranges, such as CLUSTER MIGRATESLOTS [NODE <Target node ID>] [SHARD <Target shard ID>] <start slot> <end slot> <start slot> <end slot>

2. It is mentioned that **All of these states will be repeated

[2022-07-05 21:03] mnb4feb commented on #9965
Hi @geeky-biz , Have you got an answer for this ?

[2022-07-06 00:51] redisgate opened #10939 "The releasenotes incorrectly marked pubsubshard as pubsublocal."
The releasenotes incorrectly marked pubsubshard as pubsublocal.

releasenotes: cluster-allow-pubsublocal-when-down
redis.conf: cluster-allow-pubsubshard-when-down
source: cluster-allow-pubsubshard-when-down

[2022-07-06 01:18] adasarpan404 opened #10940 "github is not recognizing this repo's code_of_conduct"

[2022-07-06 02:06] enjoy-binbin commented on #10940
i see oran mention it in here https://github.com/redis/redis/pull/10918#issuecomment-1173071965
so maybe we should do it together in this PR

[2022-07-06 02:11] enjoy-binbin commented on #10939
thanks for the report, i see it was in here: https://github.com/redis/redis/blob/7.0/00-RELEASENOTES#L601
https://github.com/redis/redis/blob/05833959e3875ea10f9b2934dc68daca549c9531/00-RELEASENOTES#L601

@oranagra will fix it in the next release, and the PR top comment in #8621

[2022-07-06 02:41] adasarpan404 commented on #10940
yes, I make a pull request

[2022-07-06 02:56] Yossifsolman commented on #10936
Thanks, @oranagra
on your response.

1. Ok, i think i found the problem.
2. I don't use Redis Enterprise, i use the open source.
3. maxmemory is 1 GB and not default (80%) system of 2ram x 2cpu
4 I think the problem is:
`echo never > /sys/kernel/mm/transparent_hugepage/enabled`

Ok. this cmd not stay every server reboot.
This thing need startup script.

From what i see online and try by myself.
Ha

[2022-07-06 02:57] madolson commented on #10939
I've gone ahead and updated the official github release notes, we typically don't go back and give the 00-RELEASENOTES since it's more just for information.

[2022-07-06 03:33] aadi0105 opened #10943 "After a slave has become the new master due to a failover, a resurrected master pod does not become slave to this master."
I have a redis cluster of 3 master and each master have 2 slaves connected running in statefulset of kubernetes.

Problem : The problem is when i  manually delete one of the master pod  failover takes place and one of the slave of that master becomes the new master and when that deleted master pod resurrected it did not become the slave of this master it joins the other master in the cluster and t