[2020-08-18 05:34] #4541 closed

[2020-08-18 05:42] oranagra commented on #4748
thank you all.

[2020-08-18 05:42] #4748 closed

[2020-08-18 05:52] oranagra commented on #4541
ohh, seeing the title i now realize it was part of the test suite (so unlikely that `repl-backlog-size` was set incorrectly.
p.s. improved the crash report: #7670

[2020-08-18 05:56] oranagra commented on #4541
[code]
That's very low.. although certainly more than enough for the test suite, I suppose the OS and other programs are consuming much of it, so that not much remains for Redis.

[2020-08-18 07:26] madolson commented on #7649
@guybe7  I was trying to highlight two different types of approaches. The first option is just as you suggested, you can enhance a read so that it can also scan the PEL. The second option was to actually specify the timeout when you do the read, which would store new data in the consumer group (and I suggested a RAX). The only reason I brought up the second idea is that it was more core to what @K

[2020-08-18 08:03] guybe7 commented on #7649
i'm a bit leaning towards changing XCLAIM / adding XTRANSFER just because `xreadCommand` and `streamReplyWithRange` are already quite complex and i'm scared at some point they're gonna be too packed with logic... not sure if this argument is enough justification..

i mean, the user anyway has to execute XREADGROUP every once in a while (or BLOCK - btw how will that work with MIN-IDLE-TIME?..) so d

[2020-08-18 08:05] DingGuodong commented on #7663
This's a question that generally makes users wonder why this was done, including me, and although I've since figured out why it was achieved this way, I actually remain skeptical that it was really necessary.

[Do One Thing and Do It Well](https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well)

[2020-08-18 08:59] yossigo commented on #7016
@casabre thanks for this and the offer! I've submitted a request to get hold of the `redis` package name.
I am not sure if it would make more sense to pull the recipe into the Redis main repository or maintain a dedicated repository for this.

[2020-08-18 09:38] RuvikVan opened #7673 "[BUG]"
**Describe the bug**
I can't compile redis  when system is centos7 gcc is 4.8.5

server.c:5186:44: 错误：‘struct redisServer’没有名为‘tlsfd_count’的成员
         if (server.ipfd_count > 0 || server.tlsfd_count > 0)
                                            ^
server.c:5188:19: 错误：‘struct redisServer’没有名为‘sofd’的成员
         if (server.sofd > 0)
                   ^
server.c:5189:94: 错误：‘struct redisServer’没有

[2020-08-18 10:35] yossigo commented on #7673
@RuvikVan This is a known issue resulting from the use of C11, which is not supported by the default compiler on CentOS 7.x. Please see issue #7509 for more information and a workaround for your system.

[2020-08-18 10:35] #7673 closed

[2020-08-18 11:15] oranagra commented on #2315
putting aside the phrasing of the log message in the master. the one that was missing in the replica was added long ago. it now prints `Connection with master lost`, and really it doesn't have any other info it can show.
i'm closing this issue, feel free to communicate or re-open if you feel i'm wrong.

[2020-08-18 11:15] #2315 closed

[2020-08-18 12:20] oranagra commented on #5145
as far as i can tell all of the concerns here are already handled by f69876280c630d49574fa094808d3a4791c5039b.
i'm closing it, let me know if you think otherwise.

[2020-08-18 12:20] #5145 closed

[2020-08-18 12:22] oranagra commented on #4983
@soloestoy can we close this one? or is there something more to improve?

[2020-08-18 12:25] oranagra commented on #4637
as indicated above, this isn't an issue (many things background tasks, and the INFO command itself) can use memory and change the usage between calls.

[2020-08-18 12:25] #4637 closed

[2020-08-18 12:47] oranagra commented on #4111
The confusion here is that this OOM error was not a result of reaching the maxmemory setting (using 2.1 out of 3gb limit).
The was a panic caused by the fact the allocator returned NULL for an request to allocate 32kb.
It appears that you didn't have enough physical RAM to run so many redis instances each with a high maxmemory limit..
Closing this issue, feel free to reopen if you feel i'm wrong.

[2020-08-18 12:47] #4111 closed

[2020-08-18 16:06] readingtype commented on #1732
@irfanjunaid @chrislea

I've just pulled the source for 6.0.6 from the PPA, built it on Ubuntu 18.04, and installed. The issue of constant restarting by Systemd is still present. I did install libsystemd-dev before doing the build.

I do not build packages locally very often so I may have missed something, but my unit setup matches the description in #7284 and @irfanjunaid's comment above.

[2020-08-18 17:12] madolson commented on #6998
Safe iterators actually have less overhead than unsafe iterators since we don't maintain the finger print, so when doing a quick loop over the table it's a little bit better to just use an unsafe one.

[2020-08-18 17:12] #6998 closed

[2020-08-18 17:15] casabre commented on #7016
@yossigo you are welcome and I would be happy to contribute.

Regarding a dedicated repository, I would stick with it because if you link the repository with the snapstore, one can utilize the provided CI which is building and publishing the snap. Sounds more reasonable to me but it’s up to you 😉.

[2020-08-18 17:16] gofish543 opened #7675 "[BUG] Service Redis-Server Fails to Start"
I have a docker image which is being run in a Bitbucket pipeline, pretty standard stuff
Everything was running fine before I updated the docker image. Then `service redis-server restart` results in the error "Service redis-server: failed".
Journalctl -xe is empty
/var/log/redis.log is empty
Every log file is empty, stdout is empty, error code is empty

The OS is ubuntu 20.04 and redis version is `

[2020-08-18 17:19] oranagra opened #7676 "[NEW] Client "eviction" - drop clients when their total buffer overhead is over a limit"
**The problem**

Redis has a well known issue of mixing both dataset memory and other memory overheads in it's memory accounting so that both trigger eviction.

One very common case is that client buffers (usually output buffers) eat a lot of memory and cause massive eviction.
This is mitigated by the `client-output-buffer-limit` config which disconnects a client if a single client consumed too mu

[2020-08-18 17:29] oranagra commented on #7675
try to execute redis manually (possibly with the same config file). maybe you'll see what's the problem.

[2020-08-18 17:30] gofish543 commented on #7675
That's the weird part... starting redis manually works.

Upon editing /etc/init.d/redis.service to print out the start-stop-daemon error code, it prints the error code of 2. I've got no idea what this means and is way out of my knowledge scope

[2020-08-18 20:20] yossigo commented on #1732
Hi @chrislea, seems like there's great demand for this and it's been neglected for a long time so I'll be more than happy to push this forward.

Ideally we should have this as automated as possible and integrated with GH Actions and triggered by a new release.

If that's OK with you, I'll just pick up your `debian/` packaging stuff as a starting point and figure out what else needs to be done. If

[2020-08-18 21:09] chrislea commented on #1732
No problem @yossigo happy to help. Those build sources haven't changed too much in a while so they should be a decent starting point. There are some patches in `debian/patches` that you might want to look at as they do modify the C code I think. So it might be worth making sure they aren't modifying anything that's likely to change if you're going for full automation.

Another thing I should point

[2020-08-18 21:17] ushachar commented on #7676
@oranagra why not combine this / start with a backpressure mechanism (Slow down reading from a client / clients if the buffer crosses a 'soft limit' threshold AND we are getting close to our overall limit)?
While we'll need to be able to disconnect as a last-ditch thing, slowing down the reads will probably be more effective.

[2020-08-18 21:38] hwware commented on #6733
pinging @oranagra @itamarhaber , question has been answered, recommend to close.

[2020-08-18 21:43] hwware commented on #6555
Hello @lodgerwright , please describe your issue which related to Redis and feel free to open that in a new one..thank you! pinging @oranagra  @itamarhaber  recommend to close.

[2020-08-18 22:12] madolson commented on #7649
I agree about the increased complexity. Maybe I'll take a stab at the implementation to see how ugly it actually is and if it's really overly complex we can fallback to the XTRANSFER approach?

@redis/core-team TL;DR. The problem, stream items have to be manually claimed when a client dies with XCLIAM + XPENDING. This is a complex solution.

The two proposals to fix it:
- Implement XTRANSFER as a

[2020-08-18 22:46] madolson commented on #6599
My initial thought was the same as @oranagra. Since you can still get the same guarantees with a COPY + MOVE and we could incrementally build the DB selection as well. Option 2 would also be my vote.

I also still see a lot of usage of DBs, I think just saying it's discouraged is sub-optimal since we don't really have a replacement. The lack of "FLUSHDB" in cluster mode is a noticeable gap I've se

[2020-08-18 22:57] #6674 closed

[2020-08-18 22:58] madolson commented on #6661
The slowlog is not sampled, it includes all commands that exceed the time threshold.

[2020-08-18 22:58] #6661 closed

[2020-08-18 23:01] #6543 closed

[2020-08-18 23:01] #6500 closed

[2020-08-18 23:04] madolson commented on #6460
Related to https://github.com/redis/redis/issues/7324, so closing this and folding the conversation there.

[2020-08-18 23:04] #6460 closed

[2020-08-18 23:06] #6404 closed

[2020-08-18 23:16] madolson commented on #7649
I also just found a related item: https://github.com/redis/redis/issues/5212

Not very clear what antirez position was in the end, though.

[2020-08-18 23:18] #6237 closed

[2020-08-18 23:20] #6209 closed

[2020-08-18 23:21] madolson commented on #6136
This is fixed AFAIK

[2020-08-18 23:21] #6136 closed

[2020-08-18 23:25] madolson commented on #6027
Looks like redis enterprise related, so closing

[2020-08-18 23:25] #6027 closed

[2020-08-18 23:29] madolson commented on #5925
Never going to get my answer

[2020-08-18 23:29] #5925 closed

[2020-08-19 05:52] Altiano opened #7680 "[QUESTION] Does Redis have Set with condition?"
I am looking for something like this:

[code]

I can't find a solution for this problem, The close one is to use WATCH but unfortunately it can't watch for specific value condition.

If Redis can't do this, what is the issue here?

[2020-08-19 07:38] mgravell commented on #7680
Usually, the easiest way to do that would be to use Lua (EVAL/EVALSHA). You
*can* do it with WATChH, but getting it right is really really hard. With
Lua: effortless

On Wed, 19 Aug 2020, 06:53 Altiano Gerung, <notifications@github.com> wrote:

[2020-08-19 08:14] #6555 closed

[2020-08-19 08:15] #6733 closed

[2020-08-19 10:29] oranagra commented on #7676
@ushachar that's indeed an option that can improve certain cases, there are a few caveats though:
- it's considerably more complicated to implement. even if by "slow sown reading" you actually mean "pause" until memory goes below the low watermark.
- obviously we don't want to slow down or pause all clients (e.g. ones that may contain CLIENT KILL, PING, INFO), just ones which already have big outp

[2020-08-19 11:55] oranagra commented on #7649
I only skimmed though the 3 linked issues, so i may be missing many things, so let me see if i get it right:
- XTRANSFER (or XAUTOCLAIM which i prefer) is easier to implement, but harder to use than XREADGROUP IDLE.
- One of the reasons that the XREADGROUP IDLE approach is harder to implement is because it needs to handle a lot of other cases that XREADGROUP handles (like blocking and possibly oth

[2020-08-19 12:19] guybe7 commented on #7649
for the record, IMHO XREADGROUP already has too many "modes" and adding another "mode" will make it even harder to maintain (not to mention the already-too-confusing docs)

i think we should go with XAUTOCLAIM and XPENDING IDLE only

[2020-08-19 12:43] itamarhaber commented on #7680
What @mgravell said :)

Closing this question - feel free to reopen if needed.

[2020-08-19 12:43] #7680 closed

[2020-08-19 13:38] daidaotong opened #7681 "[QUESTION]Question regarding Client Side Caching"
Hello, I have a question regarding Client-Side Caching Server Side Implementation, in  https://github.com/redis/redis/blob/unstable/src/tracking.c#L360, trackingInvalidateKeysOnFlush function, we sent out tracking invalidation messages to all the clients which enabled tracking, no matter whether it is FLUSHDB or FLUSHALL case. however, Why we only clean up the tracking table for FLUSHALL case only

[2020-08-19 14:45] itamarhaber commented on #1605
Closing - feel free to reopen or create a new issue if needed.

[2020-08-19 14:45] #1605 closed

[2020-08-19 14:49] itamarhaber commented on #2412
This has been resolved by newer Redis versions - closing.

[2020-08-19 14:49] #2412 closed

[2020-08-19 14:50] #2525 closed

[2020-08-19 14:52] itamarhaber commented on #2816
This issue appears to be stale so I'll close it now - please feel free to reopen or create a new one if needed.

[2020-08-19 14:52] #2816 closed

[2020-08-19 14:54] itamarhaber commented on #2864
Closing as a non-issue - please feel free to reopen or create a new issue if needed.

[2020-08-19 14:54] #2864 closed

[2020-08-19 15:00] itamarhaber commented on #3115
That would be the case, yes.

Yes.

To sum it up, the probability of this (two valid and different scripts having the same digest) is extremely low. I'll close this issue now, but feel free to reopen or create a new one if needed.

[2020-08-19 15:00] #3115 closed

[2020-08-19 15:02] itamarhaber commented on #3141
This seems to be related to #943, which would be a nicer approach imo. Closing this but feel free to reopen or create a new issue if needed.

[2020-08-19 15:02] #3141 closed

[2020-08-19 15:06] itamarhaber commented on #3185
As previously communicated over the internets, Redis uses the term "replica" now in all places where backward compatibility isn't an issue. Closing this issue, but feel free-dom to reopen or create new one.

[2020-08-19 15:06] #3185 closed

[2020-08-19 15:06] #3186 closed

[2020-08-19 15:08] itamarhaber commented on #3190
This issue appears to be stale so it'll be closed - please feel free to reopen or create a new one if needed.

[2020-08-19 15:08] #3190 closed

[2020-08-19 15:09] itamarhaber commented on #3323
Closing - feel free to reopen or create a new issue (for extended filtering)

[2020-08-19 15:09] #3323 closed

[2020-08-19 15:15] itamarhaber commented on #3577
Closing this issue as it isn't likely to make its way into the core - perhaps a module author will step forward and undertake this task. Feel free to reopen or create a new issue if needed.

[2020-08-19 15:15] #3577 closed

[2020-08-19 15:15] itamarhaber commented on #3609
Closing

[2020-08-19 15:15] #3609 closed

[2020-08-19 15:16] #3613 closed

[2020-08-19 15:17] itamarhaber commented on #3629
Tests have been improved since - @oranagra please consider closing this and the dups.

[2020-08-19 15:19] #3780 closed

[2020-08-19 15:21] itamarhaber commented on #3808
!

[2020-08-19 15:21] #3808 closed

[2020-08-19 15:23] itamarhaber commented on #3816
Thanks for proposing this feature. Apparently, there isn't much interest from the community for user-settable-eviction-order so I'll close this issue. Please feel free to reopen or create a new issue instead if needed.

[2020-08-19 15:23] #3816 closed

[2020-08-19 15:24] #3883 closed

[2020-08-19 15:24] #3891 closed

[2020-08-19 16:04] itamarhaber commented on #4127
@gkorland @swilly22 @MeirShpilraien - is there anything else left to discuss here, from your POVs?

[2020-08-19 16:05] #4271 closed

[2020-08-19 16:07] itamarhaber commented on #4300
With the introduction of ACL in v6, each user may have zero, one or more passwords. This seems to resolve this issue so it will be closed - please feel free to reopen or create a new one if needed.

[2020-08-19 16:07] #4300 closed

[2020-08-19 16:08] itamarhaber commented on #4942
With the introduction of ACL (RCP1) in v6, each user may have zero, one or more passwords. This seems to resolve this issue so it will be closed - please feel free to reopen or create a new one if needed.

[2020-08-19 16:08] #4942 closed

[2020-08-19 16:10] itamarhaber commented on #4339
This issue seems like it can be safely closed - please reopen or create a new one if needed.

[2020-08-19 16:10] #4339 closed

[2020-08-19 16:15] itamarhaber commented on #4425
This issue appears to be safe to close - please reopen or create a new one if needed.

[2020-08-19 16:15] #4425 closed

[2020-08-19 16:16] itamarhaber commented on #4495
This issue looks like it can be safely closed - please feel free to reopen or create a new one if needed.

[2020-08-19 16:16] #4495 closed

[2020-08-19 16:17] #4577 closed

[2020-08-19 16:18] itamarhaber commented on #4616
At this point in time v3 is no longer with us so this issue can be closed.

[2020-08-19 16:18] #4616 closed

[2020-08-19 16:18] #4655 closed

[2020-08-19 16:19] itamarhaber commented on #4689
No response from the OP - closing.

[2020-08-19 16:19] #4689 closed

[2020-08-19 16:23] itamarhaber commented on #4709
Fixed via 8d9a6a2

[2020-08-19 16:23] #4709 closed

[2020-08-19 16:24] #4746 closed

[2020-08-19 16:25] #4796 closed

[2020-08-19 16:26] itamarhaber commented on #4798
Probably the effect of an exposed Redis instance left open to the internets and some script kid/crypto miner trying to take over. Closing.

[2020-08-19 16:26] #4798 closed

[2020-08-19 16:27] #4822 closed

[2020-08-19 16:28] itamarhaber commented on #4846
Closing - please feel free to reopen or create a new issue if needed.

[2020-08-19 16:28] #4846 closed

[2020-08-19 16:28] #4913 closed

[2020-08-19 17:31] itamarhaber commented on #4929
Closing - please feel free to reopen or create a new issue if needed.

[2020-08-19 17:31] #4929 closed

[2020-08-19 17:32] itamarhaber commented on #4963
OP unresponsive - closing.

[2020-08-19 17:32] #4963 closed

[2020-08-19 17:33] itamarhaber commented on #4993
Closing - feel free to reopen or create a new issue if needed.

[2020-08-19 17:33] #4993 closed

[2020-08-19 17:35] #5044 closed

[2020-08-19 17:36] itamarhaber commented on #5061
Closing - feel free to reopen or create a new issue if required.

[2020-08-19 17:36] #5061 closed

[2020-08-19 17:38] itamarhaber commented on #5064
Now (v6) we have the ability to register to server events from modules, including loading from persistence - closing but feel free to reopen or create a new issue if deemed needed.

[2020-08-19 17:38] #5064 closed

[2020-08-19 17:38] #5110 closed

[2020-08-19 17:39] itamarhaber commented on #5118
Closing as docs PR was merged.

[2020-08-19 17:39] #5118 closed

[2020-08-19 17:41] madolson commented on #7681
We could. Cleaning up the tracking table is expensive, (It used to be way more expensive and have a higher fixed cost) so the original implementation was to only do it for FLUSHALL and let the FlushDB case naturally let the clients get invalidated. I think now we should probably clean it up completely on both cases.

[2020-08-19 19:14] JonasKruckenberg commented on #7016
hi, just wanted to let you know after raising this question in the google group, that I've put together a quick working snapcraft.yaml that exports all commands like redis-server, redis-cli etc. https://github.com/JonasKruckenberg/redis-snap
It's not really tested yet, but redis seems to work as a deamon and the redis-cli works as expected, so it should work as a base to start from.
I would agree

[2020-08-19 20:03] dcecile commented on #6415
`XTRIM` feature request is at #5774

[2020-08-19 21:14] JonasKruckenberg commented on #7016
So it seems I'm a bit late to the party :sweat_smile:

While creating a separate repository has a lot of benefits such as being a place for snapcraft specific discussions, issues, and docs, it has however a pretty significant downside as I'll point out below.

There are a few questions left though, I'm gonna list them here in no specific order:
1. When should the repo trigger builds and publish ne

[2020-08-19 21:29] WeiSongAmazon opened #7683 "[NEW] Expect to use transaction with all read-only commands on replica node in cluster mode if all keys can be found on replica"
**The problem/use-case that the feature addresses**

In Redis Cluster mode, even if 'readonly' command has already been called on replica, the transaction will not work even if all keys can be found on the replica node.

**Description of the feature**

As Redis user, I would expect to use transaction with all read-only commands on replica node in cluster mode if all keys can be found on replica.

[2020-08-19 21:35] madolson commented on #7683
The specific reason this fails is because exec is not treated as a READONLY command and the redirect flag ends up getting thrown to call the master. I think it's strictly safe to execute the multi-exec if all the commands contained are readonly. We could consider generalizing it more broadly, but I think for now that is sufficient for resolving this use case.

Marking this as a "feature" since it'

[2020-08-20 01:16] patpatbear commented on #4856
@yossigo actually got it with older version. sorry for the bother,  it's the same isssue as [#2819](https://github.com/redis/redis/issues/2819),  fixed in commit-643110525, I suggest close this issue (and duplicated isuse #7104).

[2020-08-20 02:41] daidaotong commented on #7681
@madolson thank you! I think we should clean up the tracking table in both cases, otherwise, there is a big chance that the tracking table memory usage can grow up quickly if we are using FLUSHDB all the time. but it is worth thinking about how we can amortize the cost for freeing the tracking table when the time cost is high. Thanks!

[2020-08-20 02:50] wqy960504 opened #7684 "[QUESTION]"
Hello, I have a question in my program.
In my program, I use Lua, run command setbit to set Key,  and use command get to read this key
This is my Lua script :
[code]
KEYS[1] is my bitKey.
KEYS[2] is my bitKey index.

when I running my program, I get an error
"ERR 'EVAL' command keys must in same slot".

I want to know why this error happened?

[2020-08-20 03:13] #7684 closed

[2020-08-20 05:21] oranagra commented on #3629
yes. this test was improved in redis 6.0, and we're not going to fix the test suite of 3.2.
please open a new issue if some problem is reproduced in the latest / unstable.

[2020-08-20 05:21] #3629 closed

[2020-08-20 05:49] oranagra commented on #3883
to elaborate, this metric counts the the ops of the last 1.6 seconds (16 averages that are collected every 100ms).
it does not include replica traffic. if you believe there's a bug, please provide evidence and a way to reproduce.

[2020-08-20 06:56] oranagra commented on #7683
isn't it as simple as doing this (similar to what `processCommand` does in 6.0.6)?
[code]
@WeiSongAmazon care to test it?

[2020-08-20 07:23] Echo-19 commented on #5548
I ran into the same problem，could you please tell me how to solve it?

[2020-08-20 10:01] lijianwh opened #7686 "[BUG] the struct sockadr is typo in deps/hiredis/hiredis.h:140"
**Describe the bug**

Does the struct type `sockadr` is typo in deps/hiredis/hiredis.h:140. I think it should be `sockaddr` as `sockadr` is not defined and only appear once in the whole project.

**To reproduce**
https://github.com/redis/redis/blob/cbaf3c5bbafd43e009a2d6b38dd0e9fc450a3e12/deps/hiredis/hiredis.h#L258

**Expected behavior**
It should be:
[code]

[2020-08-20 10:38] igorwwwwwwwwwwwwwwwwwwww commented on #7071
We finally got around to rolling this out, and I wanted to share the results here!

This profile was taken on redis 5.0.7 (before the fix). `listSearchKey` is taking up 9.5% of the profile (highlighted in magenta):

![Screenshot 2020-08-20 at 12 31 20](https://user-images.githubusercontent.com/11158255/90759751-2b49d780-e2e1-11ea-8298-224327eeda6a.png)

[redis-sidekiq-01-db-gprd.20200818T002237.sv

[2020-08-20 10:38] #7071 closed

[2020-08-20 12:38] Junnplus commented on #7686
sockadr maybe as embedded struct, it's working fine. it forced conversion to sockaddr * on [connect](https://github.com/redis/hiredis/blob/master/net.c#L275).
but i think also a typo, see [redisAsyncContext.saddr](https://github.com/redis/hiredis/blob/master/async.h#L100)

[2020-08-20 14:10] itamarhaber commented on #7686
Hi - hiredis has its own repository, moving this discussion there.

[2020-08-20 16:09] #7634 closed

[2020-08-20 17:00] oranagra opened #7689 "commits to backport to 5.0 release"
see: https://github.com/redis/redis/pull/7688
https://github.com/redis/redis/commit/4534960b293d41fd5193c1d8a51a19453c2aabf6
https://github.com/redis/redis/commit/65c24bd3d436a08a680fa80bf5b3f4f9cf8ef395

[2020-08-20 17:59] gofish543 commented on #7675
Downgrading the docker container to Ubuntu 18.04 and redis 4 fixes the problem.

So something is wrong with Ubuntu 20.04 and 5.0.7 within a bitbucket pipeline

[2020-08-20 20:21] oranagra commented on #5548
@Echo-19 did you get the same assertion in dbAdd inside rdbLoad?
This assertion indicates that the RDB file contains two keys of the same name.
Please post the crash log, and tell us which redis version you're using, and how was the RDB file produced.

[2020-08-20 20:42] hwware commented on #7138
the dictSize was fixed in https://github.com/redis/redis/pull/7252, but in addition to that, we can also use predefined dictSlots for gettinng total number of dict slots.. since a PR has been proposed(https://github.com/redis/redis/pull/7691), recommend to close this issue @oranagra @itamarhaber @madolson

[2020-08-20 21:10] oranagra commented on #7138
side notes:
i'm not sure the right thing to do is close an issue as soon as there is a PR.
I think issues should remain open until they're no longer "an issue".
what can be done is to [link](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords) the PR to the issue, so that when it is merged, the issue is automatically cloesd.

we should

[2020-08-20 21:10] #7138 closed

[2020-08-20 21:27] hwware commented on #7138
@oranagra thanks Oran, yep I think for big issues we should wait for PR merged/tested make sure no problem happens again and then close the issue. and you are right this is related to #7252, #7691 is just an extension for this normalization work :)

[2020-08-20 21:56] madolson commented on #7681
To understand the impact here, @daidaotong is that a use case for you or are you just thinking about some potential edge cases?

[2020-08-21 02:54] Echo-19 commented on #5548
I used rdbtool to analyze the rdb file and confirmed that there are indeed two keys owned same name when loading the rdb file. the rdb file is generated by the master during the master-slave full synchronization​​ and the version of redis is 3.2.3.
Here is the same keys：
0,hash,jh:r:09b7c01f6adf15913aee,179,ziplist,16,8,
0,hash,jh:r:09b7c01f6adf15913aee,101,ziplist,3,8,
Here is the error message：

[2020-08-21 10:02] tmacjx commented on #4187
if you expire an key on salve redis, it will not expire anyway.Only when you expire on master redis.It's will del normally!

https://github.com/redis/redis/issues/187

[2020-08-22 03:21] trevor211 commented on #5414
It seems that this issue can be closed. @itamarhaber @jonathandelanders

[2020-08-22 14:17] itamarhaber commented on #5414
Thanks @trevor211 - closing.

[2020-08-22 19:26] itamarhaber commented on #5181
As far as I can tell this was done because of two main reasons:

1. The concept of shared/numbered/logical Redis databases was deemed long ago as an anti-pattern in Redis. The general thinking was to deprecate it, so adding it to the cluster (v3) wasn't one of the goals.
2. That said, supporting databases in the cluster would've (probably) made the implementation more complex with all the associat

[2020-08-23 09:31] oranagra commented on #7509
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.

[2020-08-23 09:32] oranagra commented on #6286
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
This ticket is closed, and the task will be tracked in #7509.

[2020-08-23 09:32] oranagra commented on #7602
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
This ticket is closed, and the task will be tracked in #7509.

[2020-08-23 09:32] oranagra commented on #7373
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
This ticket is closed, and the task will be tracked in #7509.

[2020-08-23 09:33] oranagra commented on #7174
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 09:33] oranagra commented on #7470
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 09:34] oranagra commented on #7177
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 09:34] oranagra commented on #7198
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 09:34] oranagra commented on #7335
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 09:35] oranagra commented on #7673
Update: The core team have decided to step back from the C11 requirement. We see it causes pain to many, and we feel that the value (in code clarity) is not worth the pain, and that it was too early for Redis to depend on it. We'll reconsider it again in the future.
The task will be tracked in #7509.

[2020-08-23 13:58] yossigo commented on #1732
@chrislea I've started to look at this, and have some thoughts/questions but no real progress yet. I'll share that here and will be happy to feedback as I'm definitely not up to date with recent (i.e. last decade's) Debian packaging practices.

1. I assume we'll have a dedicated `redis-debian` repo and will create some workflow around `git-buildpackage`.
2. Any best practice/tool to use a single s

[2020-08-23 13:59] daidaotong commented on #7681
Hi @madolson, thanks, in my side, there are no use cases for this part. This is just brainstorming potential issues if we decided to move forward with this.

[2020-08-24 00:48] bklooste commented on #5827
While a proper implementation would just put streams based on filter into another stream  it is extremely useful to be able to do loose text searching within a field for debug / prod trouble shooting eg within json bodies ( even if slow)  . So if a value can be a subset that would be great !

[2020-08-24 08:10] ShooterIT commented on #7391
Hi @BradSwain
I need a tool to detect data race of redis, would you mind telling me the name of the tool you used

[2020-08-24 10:01] lddlww opened #7701 "could i config redis sentinel loglevel in online mode？"

[2020-08-24 11:59] rohitss opened #7702 "make test failing for redis-6.0.6"
@yossigo,
As per your suggestion in ticket number "Tests: drop TCL 8.6 dependency. #7548"....I complied the configuration file but in last i am getting error as below. post verification of step 53 it got failed....please assist with your input

*********************************************************ERROR AS FACED IN MAKE TEST**********************************************
[52/56 done]: unit/geo (

[2020-08-24 12:07] oranagra commented on #7702
@rohitss this is yet another test compatibility issue released in 6.0.6 and fixed in unstable.
see https://github.com/redis/redis/pull/7543
sorry..

[2020-08-24 12:07] #7702 closed

[2020-08-24 12:13] JimWestergren opened #7703 "[CRASH]"
My Redis has crashed, what should I do now? Thanks

**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

I did run redis-server --test-memory and got:
*** MEMORY ERROR DETECTED: 0x7f9cdd8d3ea0 != 0x7f9d5d8d3ea0 (0 vs 2048)......

[2020-08-24 13:02] JimWestergren commented on #7703
UPDATE:
Ok, I have found out that it was the background saving process that was stuck.
BGSAVE did not work.
SAVE did work and things went back to normal for the server.

I check the error log I see this:

[code]

So I see that Redis is warning me about background save and memory problems.
I have now done the changes according to the instructions in the warning messages. It should be fine now.

[2020-08-24 13:03] #7703 closed

[2020-08-24 13:24] WeiSongAmazon commented on #7683
@oranagra Sure, I will follow and test the change.

[2020-08-24 13:31] oranagra commented on #7703
[code]
that's very odd. the highest object type in redis 3.0 is
[code]

[2020-08-24 14:21] literakl commented on #7509
I compiled 6.0.6 with scl on CentOS 7.8 as recommended by Trevor but make test failed. Shall I use the binary?

[44/56 done]: integration/psync2 (51 seconds)
[ok]: XADD can CREATE an empty stream
[ok]: XSETID can set a specific ID
[ok]: XSETID cannot SETID with smaller ID
[ok]: XSETID cannot SETID on non-existent key
[ok]: AOF rewrite of list with quicklist encoding, string data
[ok]: pending quer

[2020-08-24 14:25] yossigo commented on #7068
Closing this issue, if needed please re-open with more information.

[2020-08-24 14:25] #7068 closed

[2020-08-24 14:25] oranagra commented on #7509
@literakl that's an unrelated problem with the test code, see: https://github.com/redis/redis/pull/7548

[2020-08-24 14:26] yossigo commented on #7224
No new information received, closing this ticket. If the problem reproduces with the latest/unstable please re-open with more information. Thanks!

[2020-08-24 14:26] #7224 closed

[2020-08-24 15:43] yossigo commented on #7016
@casabre @JonasKruckenberg After some consideration and discussion with other Redis core team members, I've adopted the separate repository approach. As we'll push for more native packaging, it makes sense to keep the core repository clean.

We'll be sure to integrate Snap releases in any official/RC version released anyway, and I think running a daily job of building the latest unstable is probab

[2020-08-24 15:50] wolf99 opened #7704 "[BUG] `make test` fails: [exception]: Executing test client: error writing "file70": broken pipe."
**Describe the bug**

`make` runs OK and the server and CLI seem to run OK given a basic CRUD test .
but trying `make test` fails.

**To reproduce**

[code]

**Expected behavior**

`make test` should not fail

**Additional information**

Guessing this is a problem with either my system or the config (although I haven't added any of my own) as probably CI would not be OK with failing tests:

Buildi

[2020-08-24 18:14] yossigo commented on #4856
Closing, thank you @patpatbear

[2020-08-24 18:14] #4856 closed

[2020-08-24 18:32] casabre commented on #7016
@JonasKruckenberg thanks for your thoughts on this and sorry for the late reply. @yossigo thanks for setting up a new repository.

I am not sure how can we manage this fully automated. Maybe some connected actions which are updating the version in the snap repo because I believe that not that much modifications are necessary in the recipe. However I am not sure if an automated trigger of builds.sn

[2020-08-24 18:51] yossigo commented on #7016
@casabre Thanks, I will wait for more feedback before putting together a more stable 6.0.6.
Redis only uses tcl8.5 for testing, it can be safely skipped.

[2020-08-24 19:06] JonasKruckenberg commented on #7016
I actually don’t know, the last time I tried I couldnt get it to work on anything other than push, but I'll do some more testing tomorrow.

I think the core snap doesn't really matter when it comes to compatibility, for example I can install the redis base20 snap on my ubuntu 16 VM without problems. But maybe there are more subtle differences that I don't know of

[2020-08-24 20:04] oranagra commented on #7704
@wolf99 which version of tcl do you have?
this could be due to https://github.com/redis/redis/pull/7548
can you test the unstable branch?

[2020-08-25 07:10] wolf99 commented on #7704
[code]

If I read #7548 correctly, this version of Tcl means I shouldn't see that problem?

[2020-08-25 07:17] oranagra commented on #7704
yes. but maybe that's another side effect fixed by the new approach.
can you test `unstable` anyway?

[2020-08-25 10:40] yossigo commented on #6830
Hi @iwishguo, reports of latency spikes when doing live VM migration are generally common and are not specific to Redis. This of course depends on many factors like the VM migration technology used, workload, dataset size and access pattern, etc.

I would suggest to consult your VM for possible ways to optimize this, or avoid live migration of Redis (which is something users often do for databases

[2020-08-25 10:40] #6830 closed

[2020-08-25 12:38] itamarhaber commented on #7701
Hello @lddlww

No, when used in Sentinel mode, Redis' `CONFIG` command isn't supported so the conf file is the only way to specify the configuration directives' values.

Closing this as answered - please feel free to reopen or create a new issue if needed.

[2020-08-25 12:38] #7701 closed

[2020-08-25 14:01] itamarhaber commented on #2740
Closing - appears stale and my previous analysis doesn't make sense in retrospect.

[2020-08-25 14:01] #2740 closed

[2020-08-25 14:08] itamarhaber commented on #2863
Closing as per the previous discussions above.

[2020-08-25 14:08] #2863 closed

[2020-08-25 14:12] itamarhaber commented on #5035
Just noticed that this is a duplicate of #2905

[2020-08-25 14:18] itamarhaber commented on #3117
Closing as a known limitation.

[2020-08-25 14:18] #3117 closed

[2020-08-25 14:19] itamarhaber commented on #3425
Closing as answered.

[2020-08-25 14:19] #3425 closed

[2020-08-25 14:28] itamarhaber commented on #3998
Now that modules can add their own INFO sections (https://redis.io/topics/modules-api-ref#coderedismoduleinfoaddsectioncode) this is partly resolved, at least for reporting purposes. Theoretically, one could interpret the request to have Redis also enforce maxmemory on the module's external RAM consumption, but as RAM is just another resource, it would be better if the module itself would manage i

[2020-08-25 14:28] #3998 closed

[2020-08-25 18:21] #3535 closed

[2020-08-25 19:48] jrm780 commented on #6986
Hi @nickwilliams-eventbrite!

This functionality appears to have been added in https://github.com/redis/redis/commit/9321c7871f41364fbe539d6b7711f5ccc7c90bdc.

It may not yet be in the Sentinel documentation, but I do see it [described in the default `sentinel.conf` comments](https://github.com/redis/redis/blob/21784def707d3b36e17619dc620917eeea805bc8/sentinel.conf#L105-L115). It also lists the se

[2020-08-25 20:37] jrm780 opened #7708 "Sentinel should support ACLs"
In order to restrict redis-sentinel access to specific clients, redis-sentinel supports the `requirepass` configuration parameter. This means clients must provide the required password before issuing commands such as `SENTINEL get-master-addr-by-name`.

However, a problem arises when you want to prevent those clients from adding or removing monitored masters (i.e., `SENTINEL remove mymaster`) but

[2020-08-26 00:24] nadirdbit opened #7709 "[NEW] Enhancement request for auth command"
With reference to https://redis.io/commands/auth
         When Redis ACLs are used, the command should be given in an extended way:
         AUTH <username> <password>
It will be helpful if one is allowed to not type the password manually on the command line in clear text but receives a prompt to enter the password which is not echoed back on the screen display.

Additionally, it will be useful to

[2020-08-26 00:30] nadirdbit opened #7710 "[NEW] Enhancement request for acl setuser command"
Though we have the acl genpass [bits] command to aid in generation of strong passwords, it would be useful for security administrator to create login only with an initial password - at next login, would be forced to change that by requisite team member.

This will ensure that security administrators aren't aware of any passwords which they need not know for maintaining better separation of duties.

[2020-08-26 00:37] nadirdbit opened #7711 "[NEW] Enhancement request for acl log command"
Failure recorded in age-seconds - believe age-date-timestamp will be more helpful from an audit perspective

Instead of getting overwritten in a circular manner, it could be persisted on disk every 'n' seconds [configurable] so that these entries aren't lost and preserved as audit history.

Thank you.

**The problem/use-case that the feature addresses**

A description of the problem that the featu

[2020-08-26 10:23] javsalgar commented on #7254
I found a weird issue. I'm compiling redis with BUILD_TLS=yes in both Ubuntu and Debian. In Debian all the binaries are linked to libssl and libcrypto. However, this is not the case of Ubuntu, where all the binaries are linked to libssl and libcrypto except redis-benchmark.

Debian:

[code]

Ubuntu:

[code]

Both are compiling redis 6.0.6, and the openssl versions are

Debian:

[code]
Ubuntu:

[co

[2020-08-26 11:06] yan1990y opened #7713 "[QUESTION]Why redis performs so bad in Centos7 & 8"
I have a server with esxi6.7,I install Centos6.5,  7.6  ,8.2 on the same server.Then I download redis 5.0.7 and keep default conf.Then I start the redis-server and run redis-benchmark.The result shows centos6 --150000QPS
CENTOS7--70000QPS
CENTOS8--50000QPS
So I  want know why redis performs so bad in Centos7 & 8?How can I improve this?

[2020-08-26 15:00] itamarhaber commented on #7709
Hello @nadirdbit

Thanks for making these suggestions.

Masking the password when using the redis-cli in REPL mode is a good idea. With something like https://github.com/antirez/linenoise/pull/182 this can probably be implemented fairly easily.

ACLs already support enabling/disabling users and the `ACL LOG` can be used to identify suspicious actions ad-hoc. Automating the lockout process can be a

[2020-08-26 15:21] itamarhaber commented on #7711
Hello @nadirdbit

Thanks for making the feature request. I'm afraid that changing the API will break compatibility, but adding the absolute timestamp can be considered. However, I'm not sure where you got the above quote from, can you provide the context?

[2020-08-26 15:27] itamarhaber commented on #7710
Hi @nadirdbit

Thanks for taking the time and making this request. I feel this is somewhat outside the scope of Redis' security, given that users are applicative and the fact that a nefarious security admin can probably wreak havoc regardless of their knowledge of a user's password.

[2020-08-26 15:50] yossigo commented on #7710
@itamarhaber I agree, requiring password change on next login is typical on systems that mainly serve user sessions.

Also, such mechanism can be implemented as a module and does not require to be part of the Redis core.

[2020-08-26 15:56] yossigo commented on #7254
I noticed the double make issue recently. I'll take a closer look at these issues.

Generally speaking, I'm not very happy with the `.persist-settings` mechanism which is fragile and somewhat unexpected. It has no benefit for anyone who's running a one-off build, so it's only there for Redis developers who iterate builds. But then a more explicit and predictable configuration mechanism might do be

[2020-08-26 15:58] yossigo commented on #7713
I wonder if anyone can try to reproduce this on a different environment, same operating systems to validate it's not local to this specific environment (i.e. ESX/VM specific configs, OS image/tuning, etc.).

[2020-08-26 16:16] nadirdbit commented on #7711
Hi Itamar/Team,

This quote was obtained from training session RU330.

Thank you.

Nadir

On Wed, Aug 26, 2020 at 10:21 AM Itamar Haber <notifications@github.com>
wrote:

[2020-08-26 16:38] nadirdbit commented on #7710
Hi Itamar/Yossi/Team,

A security administrator should never know any user's "usable" password -
clearly a separation of duties violation.

Since only failures are recorded in the acl.log, then tracking ip addresses
to ensure no misuse by other privileged/superusers is also quite an effort.

If implemented within a separate module, then that may require additional
install which will be troublesome

[2020-08-26 17:16] nadirdbit commented on #7709
Hi Itamar/Team,

[2] Password history will ensure that no two passwords are nearly similar
during configurable password rotation period - this will also discourage
any password cracking attempts

[3] I agree with your comment but there is no check being currently
implemented by Redis to ensure that password is strong - that would be
validated by a password policy which should work together with an

[2020-08-26 19:38] yossigo commented on #7710
Hi @nadirdbit, of course I agree with the first statement but my point is that in most cases user passwords in Redis resemble application secrets/tokens more than user passwords. They are generated/configured in Redis, set up in the application and not handled again until rotated.

I think our challenge here is to allow this kind of functionality to be more accessible as a module (i.e. not require

[2020-08-26 19:59] nadirdbit commented on #7710
Hi Yossi/Itamar/All,

Concur that it isn't too easy but implementing this feature will prove
immensely useful to the Redis community.

Thank you.

Nadir

On Wed, Aug 26, 2020 at 2:38 PM Yossi Gottlieb <notifications@github.com>
wrote:

[2020-08-26 20:08] itamarhaber commented on #7710
While the motivation - security-wise - is clear, I think having applications (or client libraries) deal with a server request to change password is far from trivial and definitely non-standard. The pattern suggested is very applicable to accounts used by humans, but less for tokens imo.

I suggest we keep this issue open for a while to let the rest of the community opine.

[2020-08-26 20:12] itamarhaber commented on #7713
@yan1990y would you mind cross-posting this to the [mailing list](https://groups.google.com/forum/#!forum/redis-db) so perhaps the folks there would give a hand at reproduction/validation?

[2020-08-27 03:26] hongquan commented on #7177
@vunhan How about CentOS 6, any luck 😥 ?

[2020-08-27 06:52] plainee commented on #5233
the same，using redis 6.0.4，lua vulnerabilities not fixed：
CVE-2020-15888
CVE-2020-15889
CVE-2020-15945
CVE-2014-5461

Is there any plan to upgrade or fix it?

[2020-08-27 06:53] plainee opened #7715 "[BUG] using redis 6.0.4，lua CVE vulnerabilities not fixed. Is there any plan to upgrade or fix it?"
using redis 6.0.4，lua CVE vulnerabilities not fixed：
CVE-2020-15888
CVE-2020-15889
CVE-2020-15945
CVE-2014-5461

Is there any plan to upgrade or fix it?

[2020-08-27 08:26] ganeshkumarganesan opened #7717 "[BUG] Disk Based Replication Causing OOM in Master (v6.0.5)"
The Redis master starting the BGSAVE on disk, Within a few mins, the default "client-output-buffer-limit" is reached and slave client connection (psync) getting closed. But the master didn't kill the RDB saving (child) process. So, the Copy-On-Write buffer kept accumulating. Which led to the OOM in master. Attaching the logs below.

**Master Log**

**Whereas the diskless replication working as exp

[2020-08-27 10:02] oranagra commented on #7717
@ganeshkumarganesan i assume that by OOM you mean that the kernel killed the process.
The disconnection of replicas when their output buffer is high is a feature that is only meant to release these output buffers, it's a completely separate than the background save and COW concerns.

What happens in diskless replication mode is a side effect. unlike disk-based where the produced RDB can still be u

[2020-08-27 13:49] wolf99 commented on #7704
Have run with unstable. Still seeing an error, hopefully there is some more information in this time.

<details>
<summary>logged test output:</summary>

[code]

</details>

[2020-08-27 14:03] oranagra commented on #7704
so it completely fails to execute the test suite (unlike the previous test which failed a specific test). AFAIK nothing major was changed between unstable and 6.0 in that regard.

[2020-08-27 16:15] yossigo commented on #1732
I've created the `redis-debian` repo with some automation to generate and upload source packages for `xenial`, `bionic` and `focal`. All the Debian packaging work is based as-is on @chrislea's work (thank you!).

The PPA is now up at `ppa:redislabs/redis`, will greatly appreciate any feedback if something is broken/not right. If all goes well, that should be the PPA we'll push new versions to from

[2020-08-27 16:47] hoyhoy opened #7718 "Redis Server is Logging to STDOUT when Daemonized"
https://github.com/redis/redis/blob/9fcd9e191e6f54276688fb7c74e1d5c3c4be9a75/src/server.c#L5284

We have an application that starts and daemonizes redis and when we updated to redis4, we started getting these redis server notifications in our application's log file.  Since these log statements occur before redis is daemonized, they're going to stdout instead of /dev/null.  Is it possible to move t

[2020-08-27 16:49] ganeshkumarganesan commented on #7717
@oranagra The RDB save process in Master was initiated for the slave replication. As already the output buffer is breached, so the current RDB (in progress) cannot be used for a slave. Anyways again the RDB will be saved in Master and it will be transferred to the slave (full resync will happen).

In my case, the VM got rebooted a few times due to the OOM. When the redis server load remain at peak

[2020-08-27 16:55] praveenpenumaka opened #7719 "Redis 5.0.3 crashed by signal: 11"
Aug 27 15:59:12 redis-cluster-b-100fef redis-server[23991]: 23991:S 27 Aug 2020 15:59:12.376 # Redis 5.0.3 crashed by signal: 11
Aug 27 15:59:12 redis-cluster-b-100fef redis-server[23991]: 23991:S 27 Aug 2020 15:59:12.376 # Crashed running the instruction at: 0x4a99be
Aug 27 15:59:12 redis-cluster-b-100fef redis-server[23991]: 23991:S 27 Aug 2020 15:59:12.376 # Accessing address: (nil)
Aug 27 15:5

[2020-08-27 22:53] madolson commented on #7711
@nadirdbit From an audit perspective, would you be interested in logging every single entry into the log instead of trying to group them together?

[2020-08-28 03:07] YiLinice opened #7720 "RedisModule_ScanKey may cause user module crash"
I use command "SADD testSet 1" to store a Set key to redis.
in my module ， I use RedisModule_ScanKey to iterate testSet Key。
In the ScanKey callback，redis will pass the field parameter which is encoded OBJ_ENCODING_INT。
I want to get the field string point, but RedisModuleString API return me the invalid point.

ScanKey callback code:
[code]

in the ScanKey function:
[code]

but API think all Redi

[2020-08-28 05:26] nadirdbit commented on #7711
Hi Madelyn/All,

It will likely be best for all failures to be logged - to minimize log
flooding, user account should get locked after a customizable 'n' such
consecutive failures and after user account locked, further failures can be
suppressed. Once user account is unlocked, any recurrent failures going
forward should continue to be logged.

A grouping by user account for requisite timeframe wou

[2020-08-28 07:14] oranagra commented on #7717
@ganeshkumarganesan the point is that the rdb that the fork produces can still be used for persistence snapshot (unlike the one produced by diskless replication).
So for redis it doesn't matter that the background process was triggered by replication, it still serves a purpose (although new replications will trigger another background process).

Arguably, if your `save` configuration is empty, i.e

[2020-08-28 07:16] yeefea commented on #5682
The redundant code is removed in this [commit](https://github.com/redis/redis/commit/50f5181488d9c3a5557a0b32249a4acdd70684ce).
This issue can be closed. @antirez

[2020-08-28 07:19] yeefea commented on #7326
The redundant code is removed in this [commit](https://github.com/redis/redis/commit/50f5181488d9c3a5557a0b32249a4acdd70684ce).
This issue can be closed. @antirez

[2020-08-28 07:28] oranagra commented on #7719
this issue was reported in the past: https://github.com/redis/redis/issues/7356, https://github.com/redis/redis/issues/5693, #4220, and we where unable to find the issue.
any chance you are able to reproduce it?

[2020-08-28 07:35] readingtype commented on #1732
@yossigo This is great to hear. I'll give it a look as soon as I can. Thank you.

I have a question that may or may not be off-topic: is there a chance that RedisJSON could be integrated into the package (or at least included in the PPA as a subsidiary package)? Is there a technnological reason why not?

[2020-08-28 07:37] oranagra commented on #5682
thanks @Blueswing.
p.s. the above suggested code actually seems like a bug (use `_n` which was unused).
this code seems leftover from an old mechanism, see the commit comment in the commit mentioned above.

[2020-08-28 07:37] #5682 closed

[2020-08-28 07:39] oranagra commented on #7326
thanks @Blueswing, i think using `_n` would be a bug. instead, it was just some dead code.

[2020-08-28 07:39] #7326 closed

[2020-08-28 07:41] oranagra commented on #4739
Thank you for reporting. indeed is just just some leftover dead code.
trimmed in https://github.com/redis/redis/commit/50f5181488d9c3a5557a0b32249a4acdd70684ce

[2020-08-28 07:41] #4739 closed

[2020-08-28 07:57] oranagra commented on #7720
@YiLinice yes, it was a bug. fixed in: https://github.com/redis/redis/pull/7396. fixed in Redis 6.0.6

[2020-08-28 07:57] #7720 closed

[2020-08-28 07:59] ShooterIT commented on #7717
I'm interested the issue, I agree with you @oranagra

Our operation engineers also use this feature, we can not remove this directly @ganeshkumarganesan For your scenario, I also think the valid way is adding more RAM. But your suggestion also is meaningful, replicas need wait more time to  start `full synchronization` if last sync is failed and forked-child still is dumping RDB. I occured this ca

[2020-08-28 08:20] oranagra commented on #7717
@ShooterIT are you trying to solve the problem of not being able to try another replication attempt until this fork is done? i.e. not a problem of insufficient memory that kills the server or VM?

In both cases i don't see why another attempt will just run into the same problem and fail again.
The problem will be only resolved by either adding more RAM, or stopping the stream of write commands (wh

[2020-08-28 08:26] dvergeylen commented on #1732
[code]

Don't use `add-apt-repository ppa:redislabs/redis` as it still uses `apt-key`, which is deprecated (from `man apt-key`):

[2020-08-28 09:01] eliblight commented on #7683
CONFIRMED!
This suggested change produce the expected behaviour and I have added a TCL test for good measures.

PR is on the way

[2020-08-28 09:35] vxh89 opened #7722 "[BUG] redis-cli cluster nodes show strange output"
b9babc25fb8fc6447b63939a56e36c5d54b5d08c 172.16.100.125:6379@16379 myself,master - 0 1598604525000 9 connected 10923-16383 after this string is very long and strange list.

root@redis# redis-cli cluster nodes
3009c45103102db37bdbb6cb429083763067992d 172.16.100.125:6380@16380 master - 0 1598604526599 12 connected 0-5460
90ccb96d5e881ff6d964e14fa55db6b3c712bab3 172.16.100.124:6380@16380 slave b9babc

[2020-08-28 13:10] ShooterIT commented on #7717
@oranagra  Yes, there is no difference between these two cases for my changes.

The write traffic will not always be heavy, it may be just a relatively short period of time. After the traffic peak has passed, so much memory is not needed, and the next replication attempts will succeed. It makes sense for this scenario.

I also don't like there are many configuration items. Maybe for these two case

[2020-08-28 14:47] oranagra commented on #7719
@praveenpenumaka maybe you still have the rdb file that replica loaded? good chance it can be used to reproduce it.

[2020-08-28 14:54] wolf99 commented on #7704
Just tried a `make test` again and the PC fell over.
Glimpsed something in the output along the lines of `cgroups` or `egroups` maybe before I held the power button.
At this point I'm guessing that it is some WSL 1 issue rather than an idiot-at-the-controls issue or a Redis issue.

(checking available memory in WSL seems fine though 🤷 )
<details>
<summary> meminfo </summary>

[code]
<details>

[2020-08-28 19:17] rdzar commented on #936
Is there already a RCP submitted for this?

[2020-08-28 19:31] #7675 closed

[2020-08-29 08:28] praveenpenumaka commented on #7719
I do have rdb file. Let me see if I can reproduce this and get back to you.

[2020-08-29 13:16] itamarhaber commented on #936
No there isn't.

[2020-08-29 13:30] itamarhaber commented on #1732
@readingtype, although off-topic, RedisJSON, and other 3rd party modules will not be in the same package, even if only because of license pollution. That said, Redis Labs' modules packages could wind up in that PPA to enable sane and trivial consumption.

[2020-08-30 02:31] yan1990y commented on #7713
After lots of tests,I found the reason:Intel Meltdown and Spectre leaks.The Centos 8 Linux kernel fixs this problem,So the performance go down a lot.

[2020-08-30 02:31] yan1990y commented on #7713
After lots of tests,I found the reason:Intel Meltdown and Spectre leaks.The Centos 8 Linux kernel fixs this problem,So the performance go down a lot.

[2020-08-30 05:59] oranagra commented on #7713
@yan1990y thanks for looking into this and finding the root cause.
Since there's nothing wrong with Redis or anything it could do to mitigate that, i'm closing this ticket.
Feel free to re-open if you think otherwise.

[2020-08-30 05:59] #7713 closed

[2020-08-30 06:08] oranagra commented on #7717
@ShooterIT you mean that simply changing to use diskless would solve your problems without any changes to redis?
Generally speaking, diskless (specifically diskless on both ends) can be a lot faster (since the network is usually faster than the disk these days), so it may also solve the problem entirely, letting the replication succeed (i.e. faster replication produces less COW and replica buffers

[2020-08-30 07:33] yossigo commented on #1732
@dvergeylen I believe you're quoting the instructions provided by `launchpad.net`, is that correct? As far as I know this text is provided by Launchpad and cannot be changed.

[2020-08-30 10:22] ShooterIT commented on #7717
@oranagra Yes, i think. Internet speed is getting faster and faster now, diskless replication is really a good choice.

I'm sorry i don't notice we already have a config `rdb-del-sync-files`, i think it is clear enough to decide whether we can kill the forked child process when replicas drop. I can commit a PR if you feel OK, maybe you think it is not necessary. For me, I think both are ok

[2020-08-30 10:54] oranagra commented on #7717
@ShooterIT if it doesn't mess up the code a lot, i don't see any reason not to add that kill. feel free to PR.

[2020-08-30 12:36] itamarhaber commented on #5035
Closing this as dup - feel free to reopen or create a new issue if needed.

[2020-08-30 12:36] #5035 closed

[2020-08-30 12:39] itamarhaber commented on #5167
This can be closed as resolved via #5856

[2020-08-30 12:39] #5167 closed

[2020-08-30 12:40] itamarhaber commented on #5182
This can be closed as the issue was resolved via documentation.

[2020-08-30 12:40] #5182 closed

[2020-08-30 12:42] #5264 closed

[2020-08-30 15:37] dvergeylen commented on #1732
Hi @yossigo ,

Actually I didn't even know the instructions were described on `launchpad.net` although that seems obvious now. 🙃
`add-apt-repository` has historically been the *de facto* tool to add ppa repositories and I was surprised to encounter a warning while adding `ppa:redislabs/redis` (in FR):

[code]

so I ended up doing a bit of search to find a proper way to add the repo + its pubkey an

[2020-08-30 15:57] kohenkatz commented on #1732
@dvergeylen there has been work done to make `add-apt-repository` use gnupg directly, but it seems that it was reverted because it wasn't complete and was causing problems. I'm not on my work computer now where I have links to the source for that, but I'll try to find it later.

[2020-08-30 17:39] yossigo commented on #7016
The unstable snap got no rejects, so there's now a stable `6.0.6` snap as well + a daily job to create the latest `unstable`. Closing the issue now, anything that is snap specific should be reported in the [Redis-Snap](https://github.com/redis/redis-snap) repository.

Thanks @JonasKruckenberg and @casabre for your help!

[2020-08-30 17:39] #7016 closed

[2020-08-30 17:50] simareeno opened #7727 "[CRASH] Executing test client: wrong # args: should be "close channelId""
**Crash report**

Tried to install Redis, followed instructions. Redis crushes on `make test`. Saw [similar issue](https://github.com/redis/redis/issues/7605), but don't know how it can be helpful to me.

[code]

**Aditional information**

1. Mac OS 10.13.6
2. Steps to reproduce (if any):
[code]

[2020-08-30 17:55] oranagra commented on #7727
@simareeno thanks for reporting. this issue was already resolved in unstable (not released yet).
see https://github.com/redis/redis/pull/7548

[2020-08-30 17:55] #7727 closed

[2020-08-30 18:55] simareeno commented on #7727
Hm, so what should I do now to solve that?

[2020-08-30 19:36] oranagra commented on #7727
installing tcl8.6 will solve it.
you can apply the patch on your code base.
avoid running this test.
or wait a few days for the next release.

[2020-08-31 01:47] kohenkatz commented on #1732
@dvergeylen This is a lot more confusing than it originally seemed...

- Source for Ubuntu Focal (20.04 LTS) [still uses `apt-key`](https://git.launchpad.net/ubuntu/+source/software-properties/tree/softwareproperties/AptAuth.py?h=ubuntu/focal-updates#n60). In practice, this means I would expect Ubuntu to
support it in 20.04 through April 2025.
- Ubuntu's Git repository also has `debian/*` branches

[2020-08-31 03:20] l3950809 commented on #6179
Is there anyone who can give an answer?

[2020-08-31 06:32] literakl opened #7728 "Update README with instructions on systemd compilation"
There are no instructions in README in the source package that it is neccessary to pass an option to `make` to compile with systemd:

https://github.com/redis/redis/commit/129d14e1431e913426485526663e1a9aac67838c
https://github.com/redis/redis/issues/7217

The result is that you have the completely correct configuration but sysctl hangs

https://serverfault.com/questions/1031891/redis-service-hang

[2020-08-31 07:06] oranagra commented on #7728
@literakl care to make a PR for that?

[2020-08-31 09:44] oranagra commented on #7728
@literakl thank you.

[2020-08-31 09:44] #7728 closed

[2020-08-31 14:40] Enkumicahel commented on #4970
I am getting the same error even after trying all of the above

[2020-08-31 14:58] oranagra commented on #4970
@Enkumicahel can you please share the exact error you're seeing, and which version of redis is it?

[2020-08-31 16:43] kulv2012 commented on #1676
seams not yeat

[2020-08-31 17:29] yossigo commented on #7715
The Lua fix for CVE-2014-5461 is resolved by #7733. As for the other reported Lua vulnerabilities, they seem to have been introduced (and solved) by newer versions of Lua only (Redis uses Lua 5.1).

[2020-08-31 17:31] yossigo commented on #5233
The Lua fix for CVE-2014-5461 is resolved by #7733. As for the other reported Lua vulnerabilities, they seem to have been introduced (and solved) by newer versions of Lua only (Redis uses Lua 5.1).

[2020-08-31 17:43] oranagra commented on #7715
Thanks Yossi. closing the issue.
@plainee please feel free to respond or re-open if you have other info.

[2020-08-31 17:43] #7715 closed

[2020-08-31 17:44] oranagra commented on #5233
merged. thank you.

[2020-08-31 17:44] #5233 closed

[2020-08-31 20:22] wristdirect commented on #5273
To save anyone like me a little searching, you would do this by passing MALLOC=libc when calling make

[2020-08-31 20:30] oranagra commented on #1676
this is fixed since redis 4.0 see 98a64523c4 466c277b4f 4dc69497f5
closing the issue, let me know if you still see a problem.

[2020-08-31 20:30] #1676 closed

[2020-08-31 21:53] madolson commented on #7710
I strongly don't think we should do this.

[2020-09-01 01:34] madolson commented on #7649
I like the idea of making XREADGROUP limited, it's optimizing for the common use case which is someone just wants to also pull items periodically and not worry about failures.

I'm sort of stuck on the point that it seems to be inline with what most people have been looking for and XPENDING IDLE and XAUTOCLAIM are just the features that are easy to implement.

[2020-09-01 02:10] kulv2012 commented on #1676
thanks

[2020-09-01 06:39] literakl opened #7735 "[BUG] No error when systemd configured but not compiled"
**Describe the bug**

If you setup Redis with systemd but you use a binary that was not compiled with systemd support, there is no clear error in the log. Info command does not show if the systemd support was compiled or not. I would prefer that Redis would log an error that the systemd support must be compiled if you use `supervised systemd`.

https://serverfault.com/questions/1031891/redis-servi

[2020-09-01 06:46] yossigo commented on #1560
While this issue involves temporary file creation, it does not involve typical security issues with temporary files.

We assume `dir` is not writable (or possibly even readable) by attackers. If it is, that's a configuration error that would result with many other issues, involving practically every file Redis reads or writes.

Because of that, the usual issues around choosing a non-existing rando

[2020-09-01 06:46] #1560 closed

[2020-09-01 07:02] #7254 closed

[2020-09-01 08:34] akvadrako commented on #3058
Any updates on this?

[2020-09-01 08:36] akvadrako commented on #3895
Any update on this?

[2020-09-01 08:50] yossigo commented on #1732
Closing this issue now as there's an official PPA. Any issues with it should be filed in the [dedicated repository](https://github.com/redis/redis-debian).

[2020-09-01 08:50] #1732 closed

[2020-09-01 15:35] oranagra commented on #678
@jonahharris any news about this task? run into some complications or just didn't find the time yet?

[2020-09-01 15:42] jonahharris commented on #678
Hey, @oranagra. Thanks for following-up. While I had some other time commitments that came up, I did take a cursory look at this and think the approach is doable. Hoping to get to it this week.

[2020-09-02 02:47] drachs opened #7740 "[BUG] Failure of 6.0.7 slave to replicate a 2.6.14 master"
**Describe the bug**

The replication starts and works fine for some time, but it seems like the master sends a PING command to the slave and the slave then errors out and closes the replication connection with error:

 WARNING: Receiving inline protocol from master, master stream corruption? Closing the master connection and discarding the cached master

Change introduced here: https://github.com

[2020-09-02 02:56] drachs commented on #7740
Turns out 6.0.3 works without problem according to another team member so I'll just use that for this project.

[2020-09-02 06:48] lw5885799 opened #7741 "high mem_fragmentation_ratio"
version: 5.0.2
problem: high mem_fragmentation_ratio

info memory:
used_memory_human: 24.69M
used_memory_rss_human: 236.4M
mem_fragmentation_ratio: 9.59
mem_allocator: libc

I checked some article. Usually, the mem_fragmentation_ratio is between (1- 1.6). I have no idea why it happenned.
how can I get log or other way to find the cause?

[2020-09-02 07:12] oranagra commented on #7741
@lw5885799 We currently have limited visibility into the internals of libc malloc (a lot more details when using jemalloc).
Maybe we can figure something out by looking at `/proc/<pid>/smaps`

[2020-09-02 11:27] oranagra commented on #6986
@nickwilliams-eventbrite @jrm780 is there anything else needed here or can we close this one?
if you feel that documentation is missing, please state where or better yet, make a PR.

[2020-09-02 12:44] oranagra commented on #7735
@literakl i suppose you want redis to exit too, not just log it, right?

care to test this patch for me, or provide a PR?
[code]

[2020-09-02 12:49] oranagra commented on #3058
closing this one in favor of the newer one #3895 which has a longer discussion.

[2020-09-02 12:49] #3058 closed

[2020-09-02 12:57] oranagra commented on #3895
@jasone can you please help us settle this issue safely.
Question is if jemalloc (Either 5.1 and up, or any older version which may be provided by the distro) will ever use madvise to to enable THP without being explicitly configured to do that?
Or alternatively, maybe we can test that at runtime (looking at opt.thp)?
I rather have your confirmation than make a mistake about it.
Thanks.

[2020-09-02 13:07] #3438 closed

[2020-09-02 13:30] oranagra commented on #6120
closing this one as it seems to report a bug in the client library.
this could also in theory be a bug in redis, but i don't see how that's possible.
@sdcuike if you can provide a way to reproduce that would help to figure out where the bug is.

[2020-09-02 13:30] #6120 closed

[2020-09-02 13:31] literakl commented on #7735
I will test it tomorrow. Thanks

st 2. 9. 2020 v 14:44 odesílatel Oran Agra <notifications@github.com>
napsal:

[2020-09-02 13:32] oranagra commented on #7218
closing since it's already solved in hiredis.

[2020-09-02 13:32] #7218 closed

[2020-09-02 13:33] oranagra commented on #7610
closing, not relevant for this repo (or missing info)

[2020-09-02 13:33] #7610 closed

[2020-09-02 13:34] oranagra commented on #7580
closing this one. if you have any further questions, feel free to ask or re-open.

[2020-09-02 13:34] #7580 closed

[2020-09-02 14:18] #7718 closed

[2020-09-02 15:21] danielelkabes commented on #5762
Any updates regarding this issue ? @tiwatso

[2020-09-02 16:48] itamarhaber commented on #7740
Hello @drachs and thanks for the detailed report.

This is definitely an issue, although I'm not sure about its severity given the anachronistic stack and somewhat unique use case.

[2020-09-02 17:55] oranagra commented on #7740
This happens because 2.6 used to send SELECT to the slave using inline protocol rather than RESP (changed in 2.8).
Considering that 2.6 is so old, i'm not sure that justifies reverting that commit or adding some version check that will avoid the error when the master is that old.

Meanwhile, you can create a replication chain 2.6 -> 2.8 -> 6.0.
just note that the middle server must be older than 4

[2020-09-02 19:30] deanshelton913 opened #7744 "[BUG] Redis-cli 6.0.7 fails mass-insertion with "unknown command" by apparently misreading stdin"
**Describe the bug**

When using the latest version of redis-cli available on homebrew (6.0.7) mass insertion of ~800k ZADD commands fails by apparently misreading (or misexecuting)  commands. Likely mixing multiple commands together, resulting in random errors related to 'bad syntax' when no errors are actually present in the file. This same mass-insertion, with the same data, does not fail in re

[2020-09-02 21:04] madolson commented on #7744
Would you be able to provide us with the file you are using so that we can reproduce the issue?

[2020-09-03 02:55] tancehao opened #7746 "[BUG]non-resp bytes make the connection unusable forever"
send to the redis server a batch of commands, among which there is an invalid resp message:

*3\r\n$3\r\nset\r\n$4\r\nkey1\r\n$3\r\nval\r\n
*3\r\n$3\r\nset\r\n$4\r\nkey1\r\n$3\r\nval\r\n
*3\r\n$3\r\nset\r\n$5\r\nkey1\r\n$3\r\nval\r\n    // a "$5" followed by a four-bytes string "key1"
*3\r\n$3\r\nset\r\n$4\r\nkey1\r\n$3\r\nval\r\n
*3\r\n$3\r\nset\r\n$4\r\nkey1\r\n$3\r\nval\r\n

and the server resp

[2020-09-03 05:42] oranagra commented on #7744
@yossigo i'm guessing this is due to d9f970d8d3f0b694f1e8915cab6d4eab9cfb2ef1, can you take a look?

[2020-09-03 06:02] yossigo commented on #7744
Looks like it's specific to OS X. I'll take a look.

[2020-09-03 06:12] iushas opened #7747 "Sentinel4.0.14 Crashed [CRASH]"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
1578:X 26 Aug 09:17:31.604 # Redis 4.0.14 crashed by signal: 11
1578:X 26 Aug 09:17:31.604 # Crashed running the instruction at: 0x7f2c5f9b5b82
1578:X 26 Aug 09:17:31.604 # Accessing address: 0x7f2c5d200000
1578:X 26 Aug 09:17:31.604 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/lib/x86_64-lin

[2020-09-03 06:46] oranagra commented on #7747
@iushas can you please upload the redis-sentinel binary you where using?

[2020-09-03 07:56] iushas commented on #7747
[redis-sentinel.gz](https://github.com/redis/redis/files/5167035/redis-sentinel.gz)
@oranagra

[2020-09-03 08:05] iushas commented on #7747
wo have met this issue  for servial times, please help us to solve this problem,thanks !

[2020-09-03 08:48] oranagra commented on #7747
@iushas are you sure that's the same binary that crashed?
the stack trace translates to
[code]

[2020-09-03 08:51] oranagra commented on #7747
ohh, sorry. my bad. used the wrong file. hold on.

[2020-09-03 08:53] iushas commented on #7747
yes ,i am sure ~  doesn't matter

[2020-09-03 08:54] oranagra commented on #7747
any chance you have the unstripped binary for the same build?

[2020-09-03 08:55] oranagra commented on #7747
or alternatively, you said it reproduces, maybe you can build with debug symbols and wait for it to crash again..

trying to upgrade to a more recent version might also help (maybe this bug was already fixed)

[2020-09-03 09:02] iushas commented on #7747
wo met this issue on production environment, and it usualy happens when  new service goes online,  our customer dont want to upgrate , can you please tell me the bug's  reason?

[2020-09-03 09:18] oranagra commented on #7747
@iushas without being able to reproduce it, or at least see some meaningful info in the stack trace, i don't think i can..

[2020-09-03 12:03] literakl commented on #7735
This should be when compiled with default params (no systemd)

7443:C 03 Sep 2020 14:02:23.213 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
7443:C 03 Sep 2020 14:02:23.213 # Redis version=6.0.6, bits=64, commit=00000000, modified=0, pid=7443, just started
7443:C 03 Sep 2020 14:02:23.213 # Configuration loaded
7443:C 03 Sep 2020 14:02:23.213 # WARNING supervised by systemd - you MUST set appropr

[2020-09-03 13:13] oranagra commented on #7746
@tancehao which version of redis are you using? and how did you interact with it?

this is what i see on the latest:
[code]

[2020-09-03 15:15] #7744 closed

[2020-09-03 16:01] deanshelton913 commented on #7744
@madolson, The file i have is larger than 10MB and can not be uploaded to github.
It will be available for a short time from an S3 bucket I am planning to delete someday, [here](http://deleteme-test-pelias.s3-website-us-west-2.amazonaws.com/mass-import.txt).

[2020-09-03 16:29] yossigo commented on #7744
@deanshelton913 The fix is now merged to unstable, if you fetch it and build a new redis-cli it should work (and if it doesn't please let me know! thanks).

[2020-09-03 19:30] jasone commented on #3895
@oranagra, no precise promises re: what jemalloc may do at some point in the future, but it's safe to assume that jemalloc won't do anything that yanks the rug out of under applications. Automatically enabling THP with synchronous huge page allocation would be a pretty awful default. (Aside: I worry that huge pages may eventually be the death of non-moving memory allocation.) With regard to redis

[2020-09-03 20:32] deanshelton913 commented on #7744
woot! Thank you, guys. Any idea when we can expect an official release?

[2020-09-03 20:54] itamarhaber commented on #7744
This will surely be in 6.2 (ETA unknown ATM but hoplefully no later then 31/12/2020) and 6.0.8 if we have justification to release it (waiting for more moderate++ issues).

[2020-09-03 22:04] gkorland commented on #7021
@guybe7 I think the more confusing behavior here is that XPENDING still returns the IDs
[code]

[2020-09-04 07:34] ShooterIT commented on #7717
Hi @oranagra another related topic i want to say. Redis will use too much memory when full sync, that has many effects, such as OOM, fail to full sync, even the bug you fixed https://github.com/redis/redis/pull/5126.

AFAIK, some company engineers persist the output buffer into a file without using memory when wait child rdb finished, that may be not elegant, but exactly solve some problems.
Maybe

[2020-09-04 08:46] oranagra commented on #3895
@jasone thank you.
redis does indeed have a mechanism to actively defrag it's allocations, it uses a patch in jemalloc to determine which allocation to move: https://github.com/jemalloc/jemalloc/issues/566.
This mechanism is not enabled by default though.

Anyway, just to be certain, you're confirming that when the kernel THP is set to `madvise`, the current and past versions of jemalloc will not

[2020-09-04 18:43] jasone commented on #3895
Correct, jemalloc has not defaulted to `MADV_HUGEPAGE`, and a distro would be terribly mistaken to package jemalloc with a different default given the current hardware/software landscape. It's unlikely that redis will encounter inadvertent misconfiguration in the wild.

[2020-09-05 12:02] tancehao commented on #7746
@oranagra I'm using 4.0.12. I'm implementing a redis proxy, and I need to choose a proper way to handle such cases. I think I have an idea now.
Thank you very much!

[2020-09-05 14:09] oranagra commented on #7746
@tancehao so is there a bug in Redis 4.0.12 (not closing connection) or not?

[2020-09-06 03:08] tancehao commented on #7746
@oranagra
yes.
I've read the source code, and I noticed that if the function "processMultibulkBuffer" returns a C_ERR, the caller function "processInputBuffer" simply breaks the loop and when it was called next time it starts from the point where it leaves last time and that point is not a correct border between commands because the former command is not a valid one, making all the following comma

[2020-09-06 05:34] oranagra commented on #7746
@tancehao so can you conform that more recent versions are behaving correctly?

[2020-09-06 07:27] oranagra commented on #7717
@ShooterIT we have a long term plan to solve that problem properly by multiplexing these replication buffers together with the RDB so that they are cached in the replica side, rather than the master.
I.e the data flowing from the master and replica will contain several data streams: [RDB, command-stream, PINGs].

This will move the burden of keeping this buffer from the master to the replica, and

[2020-09-06 08:35] ShooterIT commented on #7717
@oranagra Copy that, thanks

That's truly a good idea.

One thing i want to share with you, i try to use a separate thread to send RDB yesterday just because i recalled you said https://github.com/redis/redis/pull/7096. Maybe i succeeded, it passed all tests

[2020-09-07 03:05] tancehao commented on #7746
@oranagra I've tested the version 5.0.9 and 6.0.7, both behave not correctly, that is to say, they didn't closed the connection.

I found the difference between my cases and yours. I send raw bytes to the redis server using scripts,
`c, _ := net.Dial("tcp", "127.0.0.1:6379")
    cmd := []byte{}
    cmd = append(cmd, []byte("*3\r\n$3\r\nset\r\n$4\r\nkey1\r\n$3\r\nval\r\n")...)
    cmd = append(cmd,

[2020-09-07 05:57] oranagra commented on #7746
@tancehao both of us were using multi-bulk (RESP) protocol. (i used `*3` etc, and when i pressed Enter in telnet it sent \r\n).
as a proof please note that both of us got the response `-ERR Protocol error: expected '$', got '3'`
the only place in the code that has such a response is `processMultibulkBuffer` which immediately calls setProtocolError which sets CLIENT_CLOSE_AFTER_REPLY.
https://githu

[2020-09-07 06:16] tancehao commented on #7746
@oranagra I rechecked the test and found that I made a mistake. when the server responds with error, I send a command again to the socket and the bytes were wrote successfully, at this point I thought the connection has not been closed yet.But I didn't check the results if I read from that socket, which was an EOF error indeed, so I missed the truth before.
Thank you very much! I'll close the conn

[2020-09-07 06:30] oranagra commented on #7746
ok. closing the issue, feel free to reopen or post if you have further questions.

[2020-09-07 06:30] #7746 closed

[2020-09-07 07:48] cl51287 opened #7753 "Sentinel failover aborted - failover-abort-not-elected error[BUG]"
**Describe the bug**

I have 2 redis and 3 sentinels. Sometimes when master down, sentinels vote to elect a leader, and a leader was elected by voting, but no failover was performed and an "failover-abort-not-elected" error  was reported. The next epoch has recovered by itself

**To reproduce**

When master server went down, it just appeared by accident

**Expected behavior**

Failover instead of

[2020-09-07 10:22] startjava opened #7755 "run:make test........show exception:Executing test client: couldn't open "/proc/10286/oom_score_adj": no such file or directory."
41/57 done]: unit/tracking (2 seconds)
Testing unit/oom-score-adj
[ok]: maxmemory - only allkeys-* should remove non-volatile keys (allkeys-lru)

Logged warnings (pid 10274):
(none)

[exception]: Executing test client: couldn't open "/proc/10286/oom_score_adj": no such file or directory.
couldn't open "/proc/10286/oom_score_adj": no such file or directory
    while executing
"open "/proc/$pid/oom_

[2020-09-07 10:25] startjava commented on #7755
ubuntu 20.04.1

[2020-09-07 12:57] lw5885799 commented on #7741
@oranagra is there any reference to analyze the proc/<pid>/smaps. I know few about this memory log. I mean how to find the cause of high mem_fragmentation_ratio by the smaps log.

[2020-09-07 13:21] oranagra commented on #7741
just see which mapping consumes the majority of RSS and if you can conclude that's the libc allocator heap or not.

maybe you'll be able to prove that it's related to some other library that got loaded, or maybe that's a memory mapped file.

if that's the allocator then you need to find a way to look into it's internals.
for jemalloc we have `je_malloc_stats_print` which exposes a lot of data. not

[2020-09-07 14:36] oranagra commented on #7755
@startjava does it happen consistently?
if you see it again, can you upload the log files from `tests/tmp`?

[2020-09-07 17:24] michael-grunder commented on #7722
I don't see this behavior with either `6.0.7` or `unstable`.

If you want help you'll need to provide the exact version of Redis you're running, your node configuration (nodes.conf) and paste the `CLUSTER NODES` output in a code block.  It's hard to follow formatted as normal text.

[2020-09-08 01:48] lw5885799 commented on #7741
Thanks. I will try this.  That guy who building the cluster accidently changed the allocator in product environment. We have changed allocator to jemalloc. Still, want to know what happened

[2020-09-08 10:21] guybe7 commented on #7021
@gkorland yes... just don't know if it's worth fixing... i'm guessing not a lot of people use XDEL (i wonder if it happens also with XTRIM... then maybe we have some justification)

[2020-09-08 11:26] pavel-z1 opened #7760 "[CRASH] Redis Sentinel rewrite redis.conf by incorrect parameter"
**Crash report**

Redis sentinel rewrite option `oom-score-adj-values 0 200 800` in the file /etc.redis.con by incorrect `0 200 800`

Diff:
[code]

After Redis Sentinel is started it is not possible to start Redis server. Logs from /var/log/messages:
[code]

**Aditional information**

1. OS distribution and version
[code]
[code]

[code]

2. Steps to reproduce (if any)
1. Configure Redis Sentinel w

[2020-09-08 12:47] cl51287 commented on #7753
@yossigo Can you give me a hand?

[2020-09-08 12:52] yossigo commented on #7753
@cl51287 Does this reproduce easily/often?

[2020-09-08 13:00] #7760 closed

[2020-09-08 14:22] cl51287 commented on #7753
@yossigo It does not appear often, but once in a while.

[2020-09-09 04:21] ShooterIT commented on #7717
@oranagra  I have another idea, we can write replication buffers to rdb child process just like rewriting AOF. RDB child process can persist it into a RDB(Aux filed or AOF with RDB preamble or tmp aof). And It will be efficient if we send it by a separate thread. what's more, maybe replica also can receive replication buffer when it loads RDB.

[2020-09-09 05:43] oranagra commented on #7717
@ShooterIT if we want to store these replica buffers at the end of the RDB (like in preamble AOF), we need to store them in memory till the RDB writing is done (this is what happens for AOFRW too), so it doesn't solve the memory stress on the machine holding the master.
The only good way to overcome that problem is to stream them to the replica right away (e.g. using multiplexing) and not hold the

[2020-09-09 05:51] BradSwain commented on #7391
Hi @ShooterIT
I used a new tool we are developing called Coderrect Scanner.
You can download the tool here: https://coderrect.com/download/
If you have any questions or comments feel free to reach out to me at brad@coderrect.com

[2020-09-09 06:09] startjava commented on #7755
my envirmoent has error!
thank you !

[2020-09-09 06:09] #7755 closed

[2020-09-09 06:35] #7683 closed

[2020-09-09 06:40] ShooterIT commented on #7391
Copy that, thanks @BradSwain

[2020-09-09 08:45] inspire365 opened #7769 "[QUESTION] more efficiency way for geohash"
Hi,

In geohash_helper.c, I find the following two lines:
[code]
why not save rad_deg(radius_meters/EARTH_RADIUS_IN_METERS/cos(deg_rad(latitude))) result for later use? it will be more efficiency.

[2020-09-09 08:52] oranagra commented on #7769
since `rad_deg` and `deg_rad` are inline functions (or alternatively can be marked as "pure"), the compiler knows very well that this code can be optimized and changing won't affect the efficiency.

it may improve readability, but actually i think that in this case it won't make a difference too.

[2020-09-09 10:40] tsiyona opened #7770 "How to make Redis "remember" keyspace-notifications subscription after restart?"
I would like to get notifications to commands (eg. 'set') performed on certain keys in Redis.
For that, I subscribe to Redis keyspace notifications as follows:

`
public void subscribeToKeySpaceNotifications( JedisPubSub myJedisPubSub, String... patterns ) {

        new Thread(() -> {
            try (final Jedis jedis = pool.getResource()) {
                jedis.psubscribe( myJedisPubSub, patte

[2020-09-09 11:17] itamarhaber commented on #7770
Hello @tsiyona

Redis doesn't "remember" the connected subscribers. Every time there is a disconnect, regardless of the underlying reason (i.e. server restart, network failure, client crash...), the client needs to resubscribe to then channels of its interest once the new connection is established.

[2020-09-09 11:22] tsiyona commented on #7770
Thank you!

[2020-09-09 11:23] #7770 closed

[2020-09-09 12:06] #3895 closed

[2020-09-09 15:41] jacobbogers commented on #3474
Is this working yet

[2020-09-09 17:57] itamarhaber commented on #3474
Not yet - still waiting to be picked up.

[2020-09-09 17:59] jacobbogers commented on #3474
ok how do you do it currently
- write lua code
- make it single line (use sed)
- use eval

[2020-09-09 18:07] itamarhaber commented on #3474
For `EVAL` purposes, there's the handy `redis-cli --eval /path/to/script [key [...]] , [arg [...]]` form that make this a breeze.

[2020-09-09 18:13] jacobbogers commented on #3474
How do i do step by step debugging? hope its not all on one line 8-)

[2020-09-09 18:24] itamarhaber commented on #3474
`--eval` doesn't do the sed-equiv, but loads the script from the file with newlines and everything. For a stepping debugger, refer to the built-in `redis-cli --ldb` invocation (same format as `--eval` btw).

[2020-09-09 22:17] Harrison88 opened #7776 "HKEYS returns empty hash in RESP3 [BUG]"
**Describe the bug**

When using RESP 3, the HKEYS command returns an empty `hash` when a key doesn't exist, but an `array` when it does exist.

**To reproduce**

Using redis-cli:
[code]

**Expected behavior**

I expected the return type to be consistent with the type received when the key does exist (`array`). Although, I also think that a `set` might be more appropriate as a return type here.

[2020-09-09 23:03] itamarhaber commented on #7776
Hello @Harrison88

Thanks for reporting this - I can verify this happens, and I concur that this (empty hash) may not be the ideal response type in this case. `HVALS` appears to be misbehaving in the same respect as well.

@eliblight please feel free to take a look at this if you want.

[2020-09-10 01:34] madolson commented on #7776
If anyone else wants to look into it, I think the problematic line is here:
https://github.com/redis/redis/blob/unstable/src/t_hash.c#L769

Where we always return the empty hash even though we would expect an array if (flags & OBJ_HASH_KEY && flags & OBJ_HASH_VALUE) evaluates to false.

edit: I also did a quick audit to check for any other obvious misuses of this, and I didn't find any.

[2020-09-10 02:39] BradSwain opened #7777 "[BUG] Potential data race on server.loading flag"
**Describe the bug**

We are developing a static data race detection tool and detected a potential data race on the `server.loading` flag in redis version 6.0.7

**To reproduce**

If `SIGINT` is sent while the main thread is inside of [`loadDataFromDisk`](https://github.com/redis/redis/blob/6.0.7/src/server.c#L5272), there is a potential data race on the `server.loading` flag.

 The main thread [s

[2020-09-10 02:45] madolson commented on #3349
Looks like this was resolved at some point

[2020-09-10 02:45] #3349 closed

[2020-09-10 03:28] BradSwain opened #7779 "[BUG] Potential Data Race on server.master_repl_offset"
**Describe the bug**

We are developing a static data race detection tool and detected a potential data race in redis version 6.0.7
We found a potential race on `server.master_repl_offset` between the main thread and an IO thread.

**To reproduce**

[code]

Inside of `main` in server.c, the function [`InitServerLast`](https://github.com/redis/redis/blob/6.0.7/src/server.c#L5271) creates IOThreads

[2020-09-10 05:46] oranagra commented on #7779
@BradSwain thanks for submitting this interesting and informative issue.

I suppose it's simply wrong for the IO threads to do lookupKeyRead (on behalf of processGopherRequest) directly from within the IO thread (not by the main thread).

@redis/core-team how do you feel about trimming this useless feature from the code base?

[2020-09-10 07:09] #7776 closed

[2020-09-10 08:02] ShooterIT commented on #7779
I think It is truly a problem,  maybe we remove Gopher , or maybe add more check when enable Gopher, like

[code]

[2020-09-10 10:43] #4008 closed

[2020-09-10 22:53] yoonghm opened #7784 "Warnings found in make"
**Warnings found in building Binaries for Redis 6.0.7**

The following warnings appear during building binaries for Redis 6.0.7 with `make`:

1.  **`deps/lua/src/ldo.c`**

[code]

2.  **`deps/lua/src/lauxlib.c`**:

[code]

3.  **`deps/lua/src/ltablib.c`**:

[code]

4.  **`deps/lua/src/Makefile`**

[code]

5.  **`deps/lua/src/loslib.c`**

[code]

6.  **`deps/jemalloc/src/malloc_io.c`**:

[code]

7.

[2020-09-11 01:43] startjava opened #7786 "[BUG]FATAL CONFIG FILE ERROR (Redis 6.0.7) Reading the configuration file, at line 1066 '0 200 800'"
ghy@ghy-VirtualBox:~$ redis-cli -p 7777
127.0.0.1:7777> keys *
1) "username"
127.0.0.1:7777> config set requirepass abc123
OK
127.0.0.1:7777> config rewrite
OK
127.0.0.1:7777>
-----------------------------------------------
redis.conf 1066 row text is :
0 200 800

----------------------------------------------
ghy@ghy-VirtualBox:~/T/redis$ redis-server redis.conf

*** FATAL CONFIG FILE ERROR (Redi

[2020-09-11 03:25] oranagra commented on #7786
Thanks for reporting.
This is already resolved in 6.0.8.
See https://github.com/redis/redis/pull/7761

[2020-09-11 03:25] #7786 closed

[2020-09-11 03:35] masteroogway123 opened #7787 "Redis high memory problem"
Hi,

We had an issue about high memory. Redis used memory exceeds maxmemory about 200M.

Here is the info memory:

# Memory
used_memory:643380952
used_memory_human:613.58M
used_memory_rss:668508160
used_memory_rss_human:637.54M
used_memory_peak:643437832
used_memory_peak_human:613.63M
used_memory_peak_perc:99.99%
used_memory_overhead:2109178
used_memory_startup:791800
used_memory_dataset:641271774

[2020-09-11 06:54] tamalsaha opened #7788 "[BUG] 'Nodes don't agree about configuration!' on resharding"
**Describe the bug**

We are resharding a Redis cluster following the instructions here: https://redis.io/commands/cluster-setslot

One issue we see is that if we don't add `sleep` after the reshard operations for a given master, often the cluster will end in a `'Nodes don't agree about configuration!'` state when we run the `cluster --check` command. From our debugging it seems that the replicas

[2020-09-11 07:02] yangbodong22011 commented on #7624
@oranagra @itamarhaber Are you interested in this ZUNION/ZINTER? If allowed, I will complete it (in fact there is already a version without added tests).

If this command is not urgently needed, please tell me what I can do for Redis? Or Redis plan. Maybe to complete the tasks in Milestone (https://github.com/redis/redis/milestone/10)?

Of course, about Plan, this is a larger topic, maybe we can d

[2020-09-11 10:45] oranagra commented on #7787
So you're saying that the db is empty (DBSIZE is 0)?
can you attach INFO ALL and MEMORY STATS?

After that, please try CLIENT KILL TYPE NORMAL to see if that helps.
if not, proceed to other types of clients one by one to see if any o their releases the memory.
Note this will obviously drop client connection, and cause a re-sync (hopefully partial) with the master.

[2020-09-11 13:37] Robert-Saiter commented on #7740
Without specifically asking for a revert, is it known what changed between 6.0.3 and 6.0.4 that would have broken this?   I see some older versions mentioned but I have had no issues syncing up until 6.0.4 against a 2.6 master instance.

[2020-09-11 18:44] scottc-git commented on #7454
@yakhyadabo I had the same error but the error went away after configuring my helm chart to use tls-auth-clients = true

[code]

[2020-09-12 05:54] zii commented on #2344
How about GEOMDIST?

[2020-09-12 12:31] itamarhaber commented on #2344
@zii aye, I have it somewhere in my lists, but feel free to open a feature request to initiate the discussion.

[2020-09-12 12:36] itamarhaber commented on #7624
I think this is a good addition completion, but let's get the @redis/core-team's approval on this.

Looking at the milestone is a good start - tackling the stuff there is definitely helpful :) We're working on sort of plan for the next months that we plan to publish once ready. Once that plan is out we can of course also discuss it (slack or anywhere).

[2020-09-13 02:19] rajendarreddyj commented on #2668
+1

[2020-09-13 05:54] oranagra commented on #7624
I'm in favor.
I see one of Salvatore's arguments was that the non-STORE version would lose the scores, but maybe it was before ZRANGE had the WITHSCORES argument? i suppose that if we do that we need the new commands to support all of ZRANGE mutations and arguments?
i.e. `<start>`, `<stop>`, `<min>`, `<max>`, `REV`, `BYSCORE`, `BYLEX`, `WITHSCORES`, `LIMIT`.
and we need to do the necessary refacto

[2020-09-13 13:49] ssgoburdhun opened #7793 "[BUG] Redis-server service keeps crashing and restarting each 1-2 seconds"
**Redis-server keeps crashing and restarting each 1-2 seconds**

[code]

**To reproduce**

A restart of the redis-server reproduces the crash.

**Expected behavior**

The redis-server continues its normal operations of saving key-values without crash.

**Additional information**

Happened all of a sudden.
OS: Debian 9
Memory usage:
[code]

Dmesg:
[code]

Redis packages installed:
[code]

Is it pos

[2020-09-13 13:55] oranagra commented on #7793
@ssgoburdhun it crashes while loading an RDB file, probably because there are two keys with the same name.
Rename the rdb file (for safe keeping) and redis would start.
Do you know how that rdb file was produced? Or how to reproduce it from scratch?

[2020-09-13 14:55] ssgoburdhun commented on #7793
Thank you @oranagra for your prompt reply.

I am not aware how the rdb file was produced and why there are 2 similar keys.
It just happened suddenly today.
Is there a guide I can follow to reproduce the issue?

There are 2 commands used to reproduce the binary file:
[code]
Will any of the 2 output be helpful?

[2020-09-13 16:49] oranagra commented on #7793
@ssgoburdhun these commands are used to see better understand the crash, but in this case the crash is clear.
Maybe you can use redis-rdb-tools to analyze the rdb file and find out the key name that is a duplicate and its type. Then from that try to conclude which commands were used that may have generated it.

Also, maybe you can tell me the history behind that server and it's data.
Was it an upg

[2020-09-14 01:23] masteroogway123 commented on #7787
Yes, DBSIZE is 0.
 Here is the INFO ALL and MEMORY STATS:
 memory stats:
 1) "peak.allocated"
 2) (integer) 646563800
 3) "total.allocated"
 4) (integer) 646533064
 5) "startup.allocated"
 6) (integer) 791800
 7) "replication.backlog"
 8) (integer) 1048576
 9) "clients.slaves"
10) (integer) 0
11) " "
12) (integer) 284634
13) "aof.buffer"
14) (integer) 0
15) "lua.caches"
16) (integer) 0
17) "overhe

[2020-09-14 01:41] trevor211 commented on #6350
How many instances did you starup?
Can you reproduce it again and show the result of `ps-ef|grep redis-server`?

[2020-09-14 01:46] trevor211 commented on #6339
It's a pity that current designed only contains the importing and migrating slot status on maters. Maybe we could make an optimization. @oranagra

[2020-09-14 01:51] trevor211 commented on #6272
How did you compile redis?
Can you show more logs?

[2020-09-14 01:56] trevor211 commented on #6221
Do you still have some questions about it after @JohnSully 's anwser?

[2020-09-14 05:40] oranagra commented on #7787
@masteroogway123 still no hint. i suspect this is somehow occupied in clients argv buffers which is current not accounted for in any of the metrics (https://github.com/redis/redis/pull/5159).
one way to find out is use CLIENT KILL to see if that releases the memory.
please try:
CLIENT KILL TYPE NORMAL
if that doesn't help proceed with the other types one by one: REPLICA, PUBSUB, MASTER

[2020-09-14 06:03] oranagra commented on #6350
i suppose this is a bug solved by 8b0747d65734ba1128da7479f8b961e530b82916
seems that it was ok until redis 3.2, and then broken from 4.0 till 6.0.7
@trevor211 let me know if you agree or am i missing something?

[2020-09-14 06:23] oranagra commented on #6272
The crash log seems a bit corrupt.
seems like INFO STATS got mixed into the current client `argv` dump.
maybe it's somehow related to the fact that it crashed inside `resetClient` which is attempting to release this `argv` array. although the very first thing `freeClientArgv` does is release `argv[0]`, and we did see that printed successfully into the crash log.

@nsagnett does it make sense that

[2020-09-14 06:30] nsagnett commented on #6272
@oranagra Yes completely !

[2020-09-14 06:33] oranagra commented on #6221
@jonasmao The PING is also sent to replicas which cause them to increment their replication offset, so it needs to be appended to the backlog too otherwise the offset they'll request at PSYNC will not match a valid backlog offset.

In redis 6.0 there was an attempt to exclude trailing PINGS from the replication offset and trim them from the backlog at certain times (see "meaningful repl offset"),

[2020-09-14 06:33] #6221 closed

[2020-09-14 06:35] oranagra commented on #6272
@nsagnett i see the server was relatively empty (3 keys and 1mb of memory).
any chance you can reproduce this?

[2020-09-14 06:37] nsagnett commented on #6272
@oranagra Hum it's so random and infrequent, I can't say yes unfortunately, sorry

[2020-09-14 06:49] oranagra commented on #6272
@nsagnett do you happen to use any modules? or have any other idea of what makes your case special?

[2020-09-14 06:53] nsagnett commented on #6272
@oranagra We use Redis in this case, to have intermediate buffer between softwares, so it have to manage lot of Read/Write operations that's all

[2020-09-14 08:24] trevor211 commented on #7787
What's the value of `replica-ignore-maxmemory` config?

[2020-09-14 08:26] oranagra commented on #7787
@trevor211 why does it matter?
the `keyspace` is empty and `lazyfree_pending_objects` is empty too.

[2020-09-14 08:38] trevor211 commented on #7787
Beacause I noticed that the output dataset.bytes is very big, close to used memory.
You are right `replica-ignore-maxmemory` does not matter @oranagra .
I agree that something is missing when we account for overhead memory.

[2020-09-14 11:14] JVecsei commented on #6226
Having the same issue right now. I am running a scheduler which should only claim messages from permanently removed nodes.

I saw in the release notes that this was fixed in redis 6.0. Was this also changed in any of the 5.X versions?

[2020-09-14 11:21] guybe7 commented on #6226
@JVecsei no it was not... can you work with 6.0.x?

[2020-09-14 13:40] yangbodong22011 commented on #7624
This may not be the reason, because the `zrange` command supports the `WITHSCORES` option from the beginning, see [here](https://github.com/redis/redis/blob/e2641e09cc/src/t_zset.c#L736). But I have no good explanation.

My current version implements the `WITHSCORES` option, the design syntax is as follows:
`Z[UNION|INTER] numkeys key [key ...] [WEIGHTS weight [weight ...]] [AGGREGATE SUM|MIN|MAX]

[2020-09-14 17:07] rajatgoyal247341 opened #7795 "redis replication doubts with fsync no"
I have a doubt, suppose we are using aof, with fsync policy is no. Means OS will do fsync on file descriptor based on its own setting. Now for replication, it maintains a memory buffer and from there based on slave's last synced offset, slave does a PSYNC. As redis streams all events to slave as it receives, so it might be possible that redis streamed 1 write query to a slave successfully and then

[2020-09-14 17:22] vrg-success opened #7796 "[QUESTION] What's TOUCH command?"
/ del

[2020-09-14 18:38] #7796 closed

[2020-09-15 01:15] trevor211 commented on #6350
Can't agree more.

[2020-09-15 01:39] trevor211 commented on #6078
Can you produce it?

[2020-09-15 01:48] trevor211 commented on #6030
Is it safe to close this issue? @soloestoy

[2020-09-15 02:00] trevor211 commented on #6028
Having such a big dbnum is not a normal thing.
But maybe we could make an effort here if it is intended to support a big number of dbs in redis singleton mode.
@oranagra

[2020-09-15 05:30] oranagra commented on #6350
closing. solved in redis 6.0.7 (8b0747d)

[2020-09-15 05:30] #6350 closed

[2020-09-15 05:42] oranagra commented on #6028
@hongliuliao can you describe your use case for such a big number of databases? or are you just trying to take it to the edge?
Redis normally designed to work with just a few databases, and even that is somewhat planned to be phased out.
The maxmemory_samples is what defines how many samples to get from each db, so if you have 10 DBs, it'll sample 50 keys, if you have 50 databases, you may want to

[2020-09-15 07:43] masteroogway123 commented on #7787
Hi@oranagra, We encountered the issue again after the two HA servers restart. DBSIZE is also 0, but the memory is about 600M and rdb is about 220K.

Here is the server info:

1.1.1.46:6379> client list
id=92090 addr=1.1.1.47:40411 fd=8 name= age=23279 idle=0 flags=S db=0 sub=0 psub=0 multi=-1 qbuf=0 qbuf-free=0 obl=0 oll=0 omem=0 events=r cmd=replconf
id=12249 addr=1.1.1.48:47551 fd=9 name=sentine

[2020-09-15 07:56] oranagra commented on #7787
@masteroogway123 that info you provided above is right after restart?
i see quite a lot of commands and connections already handled:
[code]

you say that killing all the connected clients didn't release memory?

it's probably a silly test but let's do it anyway: try to copy the rdb file and start another redis instance from that rdb file (with no clients). i expect the memory usage to be very smal

[2020-09-15 08:09] #6028 closed

[2020-09-15 19:50] hwware commented on #6719
@fantin2008 hello, Sentinel is used as a "special" mode of Redis, it was used for monitoring masters and replicas and doing automatic failover if master is down. therefore the migrate command was not supported for sentinel mode. thanks!

[2020-09-16 00:37] JVecsei commented on #6226
@guybe7

Thanks for the quick reply!
I am using Amazon ElastiCache which seems to only support Redis up to version 5.0.6. ([docs](https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/supported-engine-versions.html))

Then I will have to think about another workaround.

Thanks again.

[2020-09-16 01:38] bjj520719 opened #7800 "[QUESTION] JedisConnectionException: java.net.SocketException: Broken pipe"
Hi,

We had an issue about Jedis API writing。

Error msg：
org.springframework.data.redis.RedisConnectionFailureException: java.net.SocketException: Broken pipe; nested exception is redis.clients.jedis.exceptions.JedisConnectionException: java.net.SocketException: Broken  pipe

Is the server actively disconnected or the connection from the connection pool invalid?

[2020-09-16 02:26] yangbodong22011 commented on #7800
@bjj520719 Hello, I think you should raise this issue under the issue of Jedis (https://github.com/xetorthio/jedis/issues), and provide client version, reproducing code, etc.

[2020-09-16 02:28] bjj520719 commented on #7800
thank you

[2020-09-16 02:29] #7800 closed

[2020-09-16 03:53] usernameisnull commented on #3846
three years later...

[2020-09-16 05:56] oranagra commented on #3846
@allanwax @usernameisnull, redis philosophy is that it intentionally doesn't want to let you get the script code back (i.e. `SCRIPT GET SHA1`), the design is that the scripts are the responsibility of the client application, and are only cached by redis to improve performance.
The application should always fall back to `SCRIPT LOAD` or `EVAL` if `EVALSHA` or `SCRIPT EXIST` fail.

The application m

[2020-09-16 06:27] oranagra commented on #6719
I don't understand the request.
MIGRATE is designed to move keys between cluster nodes on resharding, and also move keys between independent non-cluster redis instances (could be used even if the non-clustered instance is monitored by sentinel).

@fantin2008 maybe you should better describe your use case.

[2020-09-16 06:34] oranagra commented on #6226
closing this since the issue is solved in 6.0 and unstable.
marking it as candidate for 5.0 backport if we ever have another release there.

[2020-09-16 06:34] #6226 closed

[2020-09-16 07:17] MeirShpilraien opened #7801 "RedisModuleAPI to check if flags are supported"
Following the conversion here: https://github.com/redis/redis/pull/7783

We want to suggest an API to discover if given flags are supported for a given feature (Context Flags, Key space notification flags, ..)

**API suggestion**

Introduce an API `int RM_IsFlagsSupported(int feature, int flags)` that for a set of flags and feature, will return boolean indicating if those flags are supported. The

[2020-09-16 10:07] yossigo commented on #7801
@MeirShpilraien We can rely on the fact that enums and flags are only added incrementally, so we can have a `redismodule.h` last-value indicator which can be returned and tested.

I wish to have a mechanism that is not fragile and does not depend on maintaining any additional information.

E.g.

[code]

Testing multiple flags is also easy this way, but not possible for enum values (e.g., `REDISMOD

[2020-09-16 11:08] oranagra commented on #7801
I don't like the first suggestion above since it returns a boolean for a given combination. if you want to test several combinations you need to call it several times.
I also rather not have the API rely on the fact flags are sequential or not.

i would suggest:
[code]
this way the caller can run multiple checks on various combinations of flags, and we don't expose the fact the flags are sequentia

[2020-09-16 11:20] yossigo commented on #7795
This is correct, and is derived from the consistency model adopted by Redis that generally promotes performance and availability where a hard tradeoff is required.

Referring to your specific example:
The only way not to lose those writes would be for the master to remain down (not accepting reasd/writes) until the replica is up and some form of consensus can be reached about who is more up to dat

[2020-09-16 11:20] #7795 closed

[2020-09-16 11:24] yossigo commented on #7801
@oranagra I'm OK with that as well, as long as the full flags mask is auto-computed and changes in `redismodule.h` don't need to be reflected elsewhere manually.

[2020-09-16 11:28] oranagra commented on #7801
i was also thinking of adding a `REDISMODULE_CTX_FLAGS_LAST` (or _NUM) in redismodule.h. but in my mind there's code in module.c that returns a full mask rather than just return the raw value.

[2020-09-16 11:36] javsalgar opened #7802 "[QUESTION] Are Redis cryptographic operations compliant with NIST FIPS 140-2 ?"
(I checked the issues and didn't see anything similar)

I would like to know, now that Redis has TLS support, if the encryption algorithms are compliant with the FIPS 140-2 specifications. I see that other infrastructure solutions have `fips` mode setting that allows limiting the cyphers used. Others allow selecting a list of cyphers. Is there anything similar in Redis?

[2020-09-16 11:52] rajatgoyal247341 commented on #7795
@yossigo so what do we do in current redis implementation in case slave is ahead of master. Does master tell to slave to remove few events from its database as we always keep slave <= master and never more than master.

[2020-09-16 12:02] yossigo commented on #7801
@oranagra But if we have `REDISMODULE_CTX_FLAGS_LAST` the `module.c` code can compute the mask, so no changes beyond `redismodule.h` are needed.

[2020-09-16 12:04] yossigo commented on #7795
@rajatgoyal247341 As soon as the slave establishes a replication connection with the master, it will perform full sync and overwrite its previous dataset (including rewriting RDB or AOF file if configured).

[2020-09-16 12:11] yossigo commented on #7802
You can configure ciphers explicitly with `tls-ciphers` (for TLS <= 1.2) and `tls-ciphersuites` (for TLS 1.3 if supported by your OpenSSL).

Usually FIPS compliance involves using a compliant version of OpenSSL and sometimes additional system wide settings, with little to no additional impact on applications (at least as long as they don't roll additional crypto operations other than plain TLS).

[2020-09-16 12:11] rajatgoyal247341 commented on #7795
@yossigo but this time, it will do only Partial sync and not the full sync. So PSYNC for a given replication-id which will remain same  as no failover happend.

[2020-09-16 12:20] yossigo commented on #7795
@rajatgoyal247341 In this case it should not do `PSYNC` and should full back to full synchronization. If that doesn't happen it's a bug...

[2020-09-16 13:03] javsalgar commented on #7802
Hi,

Thank you very much! That's the information I required :)

[2020-09-16 13:03] #7802 closed

[2020-09-16 13:22] lw5885799 commented on #7741
I use the `memory doctor` command in a 4.65 mem_fragmentation_ratio cluster. It says after a memory peak, mem_fragmentation_ratio  would be high. Also, it says it is a normal and harmless isuess. As long as I fill it up, mem_fragmentation_ratio  goes down. It happened with a jemalloc allocator. I wonder if malloc would lead to the same thing?

My old cluster with malloc had a used_memory_rss 5.5GB

[2020-09-16 13:44] oranagra commented on #7801
i think that putting `REDISMODULE_CTX_FLAGS_LAST` in `module.c` apart from the rest of the `REDISMODULE_CTX_FLAGS_` flags, would mean that people are likely to forget to update it when adding flags.

i'm hoping modules won't try to actually use it, and i hope the fact that the generated docs will mention the accessor function is enough.

[2020-09-16 13:53] oranagra commented on #7741
if the rss matches the peak memory, it could just be fragmentation, or some issue with the allcator.
but the numbers seems very unlikely. if we allocated 5gb, and then released 90% of that memory, i assume there must be some pages that the allocator can return to the OS.
in other words, it seems unlikely that it'll keep so much memory as rss.

it's hard to tell for sure because we don't have a lot

[2020-09-16 15:33] yakhyadabo commented on #7454
@scottc-git
I set **tls-auth-clients** value  to **yes** in the config file. I still receive the same message in the logs.

[2020-09-17 02:40] madolson commented on #7788
I think this optimization might help you: https://github.com/redis/redis/pull/7571

That change immediately broadcasts the updated epoch and slot information instead of letting it get communicated naturally via gossip. It's not in any stable branch, but if you want to try checking out and building unstable, it might resolve your issue.

More generally, you might want to implement some type of retr

[2020-09-17 08:21] kervin521 opened #7806 "[NEW]how to install redis6.x by apt cmd in Ubuntu 20.04"
**The problem/use-case that the feature addresses**

A description of the problem that the feature will solve, or the use-case with which the feature will be used.

**Description of the feature**

A description of what you want to happen.

**Alternatives you've considered**

Any alternative solutions or features you've considered, including references to existing open and closed feature requests i

[2020-09-17 10:41] kycheng commented on #7124
@oranagra  What was the original intent of this code?

Why doesn't this code be required in thread-safe mode?

[2020-09-17 11:10] oranagra commented on #7124
it seems that it intended to do is to align the size upwards to round size of long.
it was probably needed before we started using malloc_size.
i.e if redis was allocating 7 bytes, it would count 8.
but now that we use malloc_size, we know how much it really consumes (including internal-fragmentation).

[2020-09-17 11:43] JungleZ commented on #2275
may i know what config

[2020-09-17 11:43] JungleZ commented on #2275
thanks

[2020-09-17 12:01] ashtul opened #7808 "[BUG] redis-check-rdb is broken for module .rdb files with auxiliary"
**Describe the bug**

Running `redis-check-rdb` on an rdb from a module that includes an auxiliary, returns an error `Invalid object type: 247` where 247 is a flag for `RDB_OPCODE_MODULE_AUX`.

**Additional information**

Relevant to RediSearch/RediSearch#1549

[2020-09-17 13:01] #7509 closed

[2020-09-17 13:54] omeraha opened #7809 "Support object deserialization of Scala classes in Redisinsight"
**The problem/use-case that the feature addresses**

Add deserialization of Scala objects to allow inspection of the contents stored in a Redis cache ([currently only Java is supported](https://docs.redislabs.com/latest/ri/using-redisinsight/java-serialized-objects/)).

**Description of the feature**

I would like to be able to inspect Scala objects stored in Redis via Redisinsight

**Alternatives

[2020-09-17 14:54] itamarhaber commented on #7809
Hello @omeraha

Keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. It looks like your feature request is related to RedisInsight - I suggest you use the application's "Feedback" button to submit this input. Kindly close this issue.

[2020-09-17 15:13] itamarhaber commented on #7806
Hello @kervin521

You can try the following:

[code]

[2020-09-17 17:12] oranagra commented on #2349
@nykolaslima are you interested in picking this up again?

[2020-09-17 17:23] nykolaslima commented on #2349
Hi @oranagra , sure!
I'll try to do it today and open a PR. I'll let you know

[2020-09-17 17:42] oranagra commented on #2349
@nykolaslima no need for another PR (we already have two).
We just need to pick a design and refresh / rebase the existing PR.
I've reviewed all the correspondence in the issue and two PRs, and i think the `SET GT` approach is best, but i'd like you to review again and tell me if you feel otherwise.

I did ask some client library maintainers if they see any problem with SET sometimes returning a s

[2020-09-17 17:58] nykolaslima commented on #2349
@oranagra the main drawback of `SET GT` approach is the two different return types: status by default and old value when` GT` option. Choosing this approach would allow us to deprecate the `GETSET` command and stick with just one command.

Have you talked with statically typed language clients, such as Java, in order to check if this change will not break them? There is a long time since I didn't

[2020-09-17 18:38] oranagra commented on #2349
@jruaux @gkorland what do you think of the possibility of SET command having a GT argument that will cause it to return a value (like GETSET) rather than a status response? Do you see any problem with the Java client support for that?

[2020-09-18 01:37] trevor211 commented on #5862
Used memory was 6.05G, while used memory rss was 19.63G, which was abnormal.
Maybe there was an oom of your os.

[2020-09-18 01:52] trevor211 commented on #5855
Good replicas should have a lag less than or equal to M(min-replicas-max-lag) seconds.
If good replicas are less than N(min-replicas-to-write)，master would stop accepting writes.

For good replicas refreshment, refer to
https://github.com/redis/redis/blob/b002d2b4f1415f4db805081bc8f5b85d00f30e33/src/replication.c#L2879-L2896

For the judge, refer to
https://github.com/redis/redis/blob/b002d2b4f141

[2020-09-18 12:08] giannisgrigorakos opened #7815 "[QUESTION] redis-benchmark tool vs YCSB"
Hello! I want to benchmark Redis. I wanted to use YCSB as it will allow me to compare Redis with other databases as well. As far as I can see a standalone Redis node benchmark has been done by you with YCSB and you have made some improvements on the tool. But while comparing redis-benchmark tool results and YCSB I can see huge discrepancies (even while not using pipeline in redis-benchmarks tool).

[2020-09-18 12:27] pospelov-v opened #7816 "Do you plan to add something like a "pre-failover-script" to the Sentinel that will work exactly like the "client-reconfig-script", but before the Failover Processes?"
My **Failover Processes** looks like this.

**PHP** connects to redis via **HAProxy**.

1) **Sentinel** detects a failure.
2) **Sentinel** decides to switch the _replica_ role to _master_.
3) **Sentinel** performs a _replica_ role switch to a _new master_ role.
4) **Sentinel** runs a `client-reconfig-script` which will record the IP address and port of the new master in the **cosnsul kv** store.
(

[2020-09-18 13:07] filipecosta90 commented on #7815
Hi there @giannisgrigorakos it is worth noticing that if you're running the workload A of YCSB the commands being issued are not GET, but HMSET ( as a side note we need to update it to HSET for pure sake of using a command not deprecated ) and HGETALL. ( If you're using a different workload please discard my answer and provide the steps used for the YSCB benchmark ).
commandstats of the default ru

[2020-09-18 13:07] ShooterIT commented on #7808
Oh, I just have a look, it seems we don't handle `RDB_OPCODE_MODULE_AUX ` type.

[2020-09-18 13:45] oranagra commented on #7808
Should be relatively easy fix.. something like calling the existing rdbLoadCheckModuleValue possibly with minor adjustments.

@ashtul do you wanna handle it, or shall someone else take it?

[2020-09-18 13:59] giannisgrigorakos commented on #7815
Thank you for your quick and thorough answer. I think that YCSB client for redis needs some improvements (for sure to support pipelining) because a workload of 50/50 update/read has more throughput than a workload of 100% read but this is another story I guess. Despite that I consider my question answered! Thank you for your time! Keep up the great work that you are doing guys!

[2020-09-18 15:12] bbyk opened #7817 "[NEW] Support ZREMWITHSCORE to Sorted Sets"
**The problem/use-case that the feature addresses**

You use a sorted set a priority queue. You fetch some elements with ZRANGEBYSCORE and loop over the pairs of (score, member). You queue some work for the member in the pair. And you want to delete the member with the score. Currently only `zrem` is available.

[code]

The problem with this is, my queued work can update `myset` faster than my cal

[2020-09-18 15:14] gkorland commented on #2349
Jedis can handle it, it won't break the existing `set()` since it doesn't send `GT`

[2020-09-18 18:09] jruaux commented on #2349
I believe the same is true for Lettuce. Support for GT arg will need to be a different method returning a value instead of status.

[2020-09-18 18:10] madolson commented on #7388
**Status:**
Small effort but I see two clear implementations possible here:
1. Implement as the feature request suggested
2. Implement an inclusive option on XREAD so that the $ includes the latest item.

Looking for someone to try to figure out what the best option is then implement it.

[2020-09-18 18:23] madolson commented on #6562
**Status:**
Implementation effort looks low, we need to support both inclusive and exclusive boundaries on the xrange command.

Leo seems to have provided the consistent type of implementation. We will extend it to check if the first character is a (, which would indicate that this is an inclusive search.

[2020-09-18 18:58] madolson commented on #6204
**Status:**
This is likely a low effort, since it's just a new argument. The command should probably be updated to NXADD to be consistent with other similar commands.

[2020-09-18 19:02] madolson commented on #6599
**Status:**
It looks like we have enough of a design to get started on the implementation. We can start with just the COPY to the same DB, and then evaluate and extend it from there.

The implementation here is non-trivial, as it requires concrete implementations for every data structure.

[2020-09-18 19:03] madolson commented on #7676
**Status:**
Status is that we still need a design effort, this is probably too complex to have a new person pick up. So will leave this unassigned.

[2020-09-18 19:06] madolson commented on #6492
I'm going to close this in favor of tracking this here in the original more complex request: https://github.com/redis/redis/issues/5760

[2020-09-18 19:06] #6492 closed

[2020-09-18 19:08] madolson commented on #5760
**Status:**
This is a complex feature that will need a design and an implementation. Adding the help-wanted tag since I think someone without a lot of context could investigate implementing this.

[2020-09-18 19:12] madolson commented on #5813
**Status:**
This doesn't seem trivial enough to necessarily justify implementation. As mentioned, this type of command will be difficult to implement and will spill into linear time. The next step here is probably getting consensus if this should be implemented.

[2020-09-18 22:19] nykolaslima commented on #2349
@oranagra so let's move forward with the current solution (set with GT parameter)?
You giving me a green light I can update the code

[2020-09-18 23:37] zkewlguy commented on #7708
I would like to bump this request.
It appears to me that using ACLs on Redis Server to set a username and password, but not setting "requirepass" would allow a smooth transition from unauthenticated to authenticated clients. Clients using AUTH and clients not using AUTH connecting to Redis Server still work. Once all clients are transitioned over, then setting "requirepass" would lock it down as d

[2020-09-19 00:19] itamarhaber commented on #7817
Hello @bbyk

I must be missing the obvious, but have you considered using the existing [`ZREMBYSCORE` command](https://redis.io/commands/zremrangebyscore)?

[2020-09-19 01:37] bbyk commented on #7817
Under one score you can have multiple items e.g.

[code]

but what if I meant to delete `foo` but not `bar`?

[2020-09-19 05:06] oranagra commented on #6492
it's already done in https://github.com/redis/redis/pull/6547. just forgot to close it

[2020-09-19 08:00] siscia commented on #5760
Can you expand on your findings? Why it is complex and why still need design? What are the non abvious nodes to untied?

[2020-09-19 08:05] oranagra commented on #2349
So for Redis, the cleanest way to handle it is to add the GT argument to the SET command, but for some client libraries, a new method must be added with a different return type, and that may possibly lead to confusion among users (mismatch between Redis's documentation and the client library documentation).
I think this may be acceptable, but i'd like to hear opinions of the rest of the @redis/cor

[2020-09-19 09:09] oranagra commented on #5855
thanks @trevor211
@monkeycode0 feel free to re-open or respond if you have further questions or suggestions.

[2020-09-19 09:09] #5855 closed

[2020-09-19 09:45] rantrave-git opened #7820 "[BUG] Lua script returning table doesn't return all members."
**Describe the bug**

When trying to return several members with table type from lua script evaluation it returns random (stable on some conditions, see examples) number of elements.

**To reproduce**
redis-cli:
[code]

**Expected behavior**

Last command is returned list with 100 members.

**Additional information**

If value of 'last' is changed to other key (`a82` for example) number of element

[2020-09-19 17:56] #7815 closed

[2020-09-19 20:47] ashtul commented on #7808
@ShooterIT @oranagra
I'll take it.

[2020-09-20 10:26] xuepd commented on #3099
How to solve it?

[2020-09-20 10:41] oranagra commented on #3099
i'm not sure what was the problem, but we're not gonna solve any problems in reids 3.0 now anyway (certainly not one that's non-critical).
i would guess that the problem was resolved by redis 5.0.
redis 6.0 doesn't support CentOS6 anyway, but redis 6.2 will and all tests are passing, see https://github.com/redis/redis/pull/7707

[2020-09-20 11:23] oranagra commented on #7820
@rantrave-git can you explain what your script attempts to do?
why do you use `pairs` on the output of `keys` (it's just a flat array of key names)

[2020-09-20 11:49] oranagra commented on #7820
scrap that. (not very good in LUA).
although it would have helped if you explained your scripts.
i.e. get all the keys that start with 'a', excluding for the one with value the same as the value of the key named 'last'.
and that one script does it by returning a string and the other by returning a table.

anyway, it looks like it returns all the consecutive elements. as soon as you put a hole (emp

[2020-09-20 11:57] oranagra commented on #7820
This seems consistent with asking Lua to count the elements in the array:
[code]

See the Lua documentation: https://www.lua.org/pil/19.1.html

@itamarhaber i assume this is well known, and that trying to work around it would cause backwards compatibility issues, please confirm.

[2020-09-20 12:49] #7820 closed

[2020-09-20 14:11] tomatostranger opened #7823 "[QUESTION] how to auth `default` user with `nopass` attr in redis-6.0 acl"

[2020-09-20 14:13] tomatostranger commented on #7823
I'm experiencing ACL feature in redis-6.0, how can I auth `default` user with `nopass` attr, since `acl whoami` command shows that another user (let's say `test_user`) is in currenct connection.

[2020-09-20 18:02] madolson commented on #7823
You can do "auth default anything" and it will switch back to the default user. It's worth noting that anything can literally be anything. You just need to have 3 arguments. When a user has the nopass attribute, it assumes any password is valid for the provided user.

I'll add it's recommended to disable the nopass part of the default user, since that is not a very secure configuration.

[2020-09-20 19:07] tomatostranger commented on #7823
Gotcha! Thanks for your reply

[2020-09-20 19:07] #7823 closed

[2020-09-20 19:56] itamarhaber commented on #7820
Indeed, this is well-known and documented under the [_Conversion between Lua and Redis data types_ section of the `EVAL` command](https://redis.io/commands/eval#conversion-between-lua-and-redis-data-types) (emphasis mine):

[2020-09-20 20:09] itamarhaber commented on #7823
Alternatively, you can also `AUTH ""` and thus use the previous invocation form (which will default to the "default" user).

[2020-09-21 01:21] trevor211 commented on #5744
It is not the backlog which store the new writes starting from the snapshot point, it's the client output buffer.
Backlog accumulates new writes all the time if enabled.

It is possible for such a big node, with used memory e.g. 512GB, to run into a dead loop as you metioned.
Usually we don't expect to use such a big node, we could make it smaller, e.g. 10GB.

The reason that redis does not build

[2020-09-21 01:29] trevor211 commented on #5478
It's already fixed by bdc783b472.

[2020-09-21 06:16] oranagra commented on #5478
thank you both.

[2020-09-21 06:16] #5478 closed

[2020-09-21 06:24] kervin521 commented on #7806
Cannot add PPA: 'ppa:~redislabs/ubuntu/redis'.
ERROR: '~redislabs' user or team does not exist.

[2020-09-21 07:41] trimstray opened #7825 "[QUESTION] -failover-abort-no-good-slave. When does it occur?"
Hi!

I am interested in when calls to the `sentinelFailoverSelectSlave` function are init and when the `sentinelSelectSlave` function returns `NULL`?

[code]

In this case (1x Master (R1), 2x Slaves (R2, R3)) I get a `-failover-abort-no-good-slave` message in the log file:

- R2 is DOWN
- R3 is DOWN
- R1 is DOWN
- R3 UP as a Slave, but promoted process is falling (it's mean, that R3 is still Slave

[2020-09-21 13:31] We1less1111 opened #7828 "question about cluster_slave_validity_factor in cluster.c"
codes like below，it means at least data_age > 10000s?
[code]

[2020-09-21 17:13] madolson commented on #3978
**Status:**
This is a straight forward bug to fix and not require a lot of effort. Itamar outlined two solutions which I think would both work just fine. Seems like we just need someone to go fix it.

[2020-09-21 17:25] madolson commented on #4417
**Status:**
There is very clearly interest in this feature, I think the status here is we need to get conensus on the API. I am also in fan of option b, as it's more consistent with other types of GEO commands. So we need consensus about adding the following two types of commands, and then we need someone to implement it. Itamar expressed interest in the implementation, but I think anyone could wo

[2020-09-21 17:26] madolson commented on #7291
**Status:**
This is a complex feature that we still need to build consensus on. This is a bad item to ask for help on since it will need a lot of design work. I'll assign it to myself for now.

[2020-09-21 18:25] #3261 closed

[2020-09-21 19:14] nykolaslima commented on #2349
Hi @oranagra , I understand your point. Let's wait for some feedback. It would be nice if people could not take too long to respond to it, since the issue is open since 2015 hahaha

[2020-09-22 01:06] trevor211 commented on #5455
No, it's not redundant.
If initlen < 1<<5, type is SDS_TYPE_5.
But only if initlen is 0 we want to change type to SDS_TYPE_8.

[2020-09-22 01:13] trevor211 commented on #5260
Store such a large value in redis is not a good idea.

Anyway, we can still migrate it by increasing the config `proto-max-bulk-len`.
Note that the destination master node would block, and a auto failover may happen,
so you should increase `cluster-node-timeout` at the same time.

[2020-09-22 04:34] hwware commented on #7825
Hello @trimstray , the way how slaves has been filltered out is based on the folowing roles:

It filtered out all the slaves which is in S_DOWN(subective down), O_DOWN(objective down) state.
It filtered out all slaves with disconnected link.
It filtered out all slaves which doesn't get back to Sentinel ping in 5 secs by default.
It filtered out all slaves with 0 priority.
It filtered out slaves wi

[2020-09-22 05:02] trevor211 commented on #5197
It's already fixed by 8b87876094.

[2020-09-22 05:11] trevor211 commented on #4943
It's already fixed.

[2020-09-22 05:57] rantrave-git commented on #7820
It would be much more intuitive to emphasize in docs that only conventional arrays (1 based consecutive indices) are allowed as a return type. That solves some misunderstanding.

@oranagra  @itamarhaber thanks for pointing out the error.

[2020-09-22 06:47] #7717 closed

[2020-09-22 07:03] trimstray commented on #7825
Hi @hwware,

Thanks a lot for your answers!

One more thing: are we able to control the time from points 3, 5 and 6? Or any of them? Is there a variable in `redis-sentinel.conf` for that?

[2020-09-22 07:18] #7808 closed

[2020-09-22 08:41] oranagra commented on #3261
@NikolaBorisov not sure which version you used, but i'm quite sure it's fixed in more recent version.
when the parent process detects the child exited badly, it won't use an old dump (which also doesn't match the replica buffers which started buffering when `fork` was issued)

[2020-09-22 08:46] trevor211 commented on #5197
Safe to close. @oranagra

[2020-09-22 08:46] oranagra commented on #5455
i think he meant that when `initlen` is 0, `sdsReqType` is guaranteed to return `SDS_TYPE_5`.
so maybe it would have been enough to just check initlen, and in that case use `SDS_TYPE_8` and don't even bother to call `sdsReqType`.

But i personally think the way the code is currently written is more straight forward and clear.

Thank you.

[2020-09-22 08:46] #5455 closed

[2020-09-22 08:46] trevor211 commented on #4943
Safe to close. @oranagra

[2020-09-22 08:48] yossigo commented on #2349
@oranagra I also tend to think there's no problem here. Less opinionated clients (e.g. `hiredis`) don't make any assumptions about the return types and basically delegate this responsibility to the user. The more opinionated clients would anyway need to design `GT` support and will do that in a way that makes sense, is backwards compatible, etc.

[2020-09-22 08:52] oranagra commented on #5260
I would like to add that redis is currently handling such large values in a bad way in several aspects.
another aspect is that both during serialization and deserialization the serialized payload is kept in memory in parallel to the actual value (list with 30 million fields in this case). so not only that it blocks both the source and the target, but also blots their memory, risking an OOM kill.

[2020-09-22 08:52] #5260 closed

[2020-09-22 08:54] #5197 closed

[2020-09-22 09:02] #4943 closed

[2020-09-22 09:10] oranagra commented on #2349
@nykolaslima please go ahead (revive #2387 close the other PR).

[2020-09-22 09:21] nykolaslima commented on #2349
Awesome! I will do it and let you know

[2020-09-22 09:56] MeirShpilraien commented on #7801
Summing up the decision:

1. Introduce a new API's: `RM_GetContextFlagsAll`, `RM_GetKeyspaceNotificationFlagsAll`, `RM_GetEventFlagsAll` that will return the full flags mask of each feature. The module writer can check base on this value if the Flags he needs are supported or not.
2. For each flag, introduce a new value on `redismodule.h`, this value represents the LAST value and should be there a

[2020-09-22 10:29] oranagra commented on #7801
yeah. i think we agree on these, please go head.

[2020-09-22 13:46] hwware commented on #7825
Hello @trimstray ,

the 6 is tunable, the  down_after_period is the down-after-milliseconds configuration in sentinel conf.
https://github.com/redis/redis/blob/1c71038540f8877adfd5eb2b6a6013a1a761bc6c/src/sentinel.c#L4214
the 3 and 5 currently is not tunable in sentinel conf, since it is using SENTINEL_PING_PERIOD defined value(1s), you may need to either change the source code or modify this valu

[2020-09-22 15:14] oranagra commented on #2349
@nykolaslima i think we should change `GT` to `GET`, it would be a lot clearer to the user.
maybe in the past GT would make more sense by matching XX and NX, but today we already have KEEPTTL too.

[2020-09-22 15:15] nykolaslima commented on #2349
Sure, no problem.

[2020-09-22 16:40] maidenpooladmin commented on #678
So, after playing with this a couple different ways, one thing I tend to dislike in both the set code and in my previous PR for this is specialized logic for whether to reply vs store internally within the functions - it creates a lot of branches and is painful.

Alternatively, as there's not many distinct types of replies, I've written a specialized client wrapper structure that is instantiated i

[2020-09-22 16:41] jonahharris commented on #678
So, after playing with this a couple different ways, one thing I tend to dislike in both the set code and in my previous PR for this is specialized logic for whether to reply vs store internally within the functions - it creates a lot of branches and is painful.

Alternatively, as there's not many distinct types of replies, I've written a specialized client wrapper structure that is instantiated i

[2020-09-22 16:45] NikolaBorisov commented on #3261
@oranagra I figured it might be already fixed so decided to close it.

[2020-09-22 17:07] trimstray commented on #7825
Hi @hwware!

Nice, I understand everything now.

I am grateful for your help!

[2020-09-22 17:45] hwware commented on #7825
@trimstray my pleasure!

[2020-09-22 19:01] oranagra commented on #678
@jonahharris you mean that the generic command implementation gets an object with a set of callbacks which in one case is implemented as adding replies to the client, and in the other case it is implemented as something that creates a zset object which is eventually added to the db?

As long as there's no performance overhead of copying the data twice, i think that can be a good approach, i.e. use

[2020-09-22 19:26] hwware commented on #7825
@trimstray can you please close this issue? thanks!

[2020-09-22 20:26] #7825 closed

[2020-09-22 21:53] alexronke-channeladvisor commented on #7416
Per a recommendation from @oranagra , the options are named GT and LT.  Additionally, their usage does not change behavior with regard to new elements; they are thus able to be combined with the XX option.

[2020-09-23 00:59] trevor211 commented on #5740
Can you reproduct it using the latest version?

[2020-09-23 01:08] trevor211 commented on #5610
It's reasonable that redis got killed if run out of memory.

[2020-09-23 01:24] trevor211 commented on #5591
Misspelling of "srting" is already fixed by 1c71038540.

[2020-09-23 04:05] hwware commented on #7292
Hello @h0tw4t3r , sorry for the delay, currently it is not possible for setting up different passwords for replicas and master, however it is possible to mix a non-password required redis instance(master or slaves) with the password protected one, as long as the password is same for all instances which require password. Thank you!

[2020-09-23 05:59] oranagra commented on #5610
for the record, it wasn't killed (OOM kill by the kernel is done with SIGKILL, and doesn't leave traces in the log file).
Here redis committed suicide when it failed to allocate 29 kilobytes.

@w0dm4n can you provide the complete crash log, and possibly even more of the logs from before the crash? can you describe what you did, and maybe how to reproduce?

[2020-09-23 06:09] #5591 closed

[2020-09-23 12:42] csrcbank opened #7834 "科技向善，来自常熟农商银行程序员的呼救！"
###          感谢各位贡献者，常熟银行【股票代码：601128】有幸在生产系统中使用本项目。

         各位的成果正在服务于千万上亿的资金流转！感谢！

### 	但是，常熟农商银行搬砖的程序员小伙伴们现在正处于严重威胁身体健康的办公环境当中！

###          我们已有近百名程序员体检发现肺部结节，已有2位GG结节超过肺癌警戒线8毫米而住院手术治疗。

请大家关注我们。https://github.com/csrcbank/8mm

媒体采访请联系邮箱：csrcbank@yandex.com

抱歉有扰

[2020-09-23 12:49] #7834 closed

[2020-09-23 12:59] oranagra commented on #7834
[ looks like spam ]

[2020-09-23 13:01] csrcbank commented on #7834
sorry not  spam

[2020-09-23 13:03] oranagra commented on #7834
@csrcbank so please edit / post in English and re-open.

[2020-09-23 13:30] indeyets commented on #4517
3 years later is still sounds like a good idea

[2020-09-23 14:35] valentinogeron commented on #7649
#5934 may be related (another way to unregister an event from consumer PEL)

[2020-09-23 17:11] icholy opened #7835 "[NEW] XADD allow specifying partial message ID"
**The problem/use-case that the feature addresses**

I have a sequence of items with timestamp values I'm `XADD`ing to a stream. I wish to use those timestamp values in the message ID so I can query them using the actual timestamps.

I keep an internal sequence number which I use/increment every time I use a message. If my service goes down, I lose the sequence number I'm at, and end up hitting:

[2020-09-23 18:56] #7416 closed

[2020-09-23 20:17] hwware commented on #7256
pinging @oranagra regarding this issue and fix.

[2020-09-23 20:17] hwware commented on #3123
this is a void issue, please close @oranagra

[2020-09-23 20:24] hwware commented on #3782
hello @scalen @tiagofabre , for current design the key space notification is about the single key change notification, there is a workaround for this issue by using module event callback APIs for subscribing flushdb notification. please look this:https://github.com/redis/redis/blob/unstable/src/modules/hellohook.c#L90 thanks

[2020-09-23 20:48] hwware commented on #6566
Hello @quyha28899 , sorry for the delay I guess this is long time already. but can you please check the master logs? it may contain important information about why master node is down. Thanks.

[2020-09-23 20:51] AraibKarim opened #7836 "The following test failed while "sudo make test" on stable Redis"
Hello

I am new to Redis and AWS. I recently signed up for AWS and was trying to install Redis on a free-tier ubuntu server.

[code]

and testing if Redis is working:

`sudo make test`

I get the following errors:

<img width="560" alt="Screenshot 2020-09-24 at 1 48 51 AM" src="https://user-images.githubusercontent.com/3962405/94068060-23151880-fe08-11ea-8c4b-f7b021a74c41.png">

can anyone provide

[2020-09-24 00:40] trevor211 commented on #5434
It's already fixed by 3ef6b79c80.
Safe to close. @oranagra

[2020-09-24 02:10] jiekun commented on #7137
I would like to write a topic to explain how threaded i/o works (w/without). May I ask if this repo accept user contribute, and also is there anyone writing document about it. thanks
@itamarhaber

[2020-09-24 03:01] dongdaoguang commented on #5410
I meet the same problem(redis version is 4.0.14-0.1), have you solved it ? @samm-git

[2020-09-24 05:52] oranagra commented on #3123
LOL

[2020-09-24 05:52] #3123 closed

[2020-09-24 05:59] #7624 closed

[2020-09-24 06:23] oranagra commented on #7836
this test is time sensitive. maybe the machine was weak or overloaded at that time?

[2020-09-24 06:23] #5434 closed

[2020-09-24 06:28] oranagra commented on #3782
i think some PUBLISH for FLUSHDB makes sense (not per key obviously).
This means that clients will have to explicitly subscribe to it.
@itamarhaber was something like that discussed in the past?

[2020-09-24 07:27] samm-git commented on #5410
@dongdaoguang just by changing monitoring logging on my side and restart connect if this race happens. Not a real solution but workaround

[2020-09-24 08:15] dongdaoguang commented on #5410
@samm-git you can execute "SENTINEL reset <master-name>" after "monitor && auth"

[2020-09-24 08:19] dongdaoguang commented on #5410
@samm-git you can execute "SENTINEL reset {master-name}" at last.
`SENTINEL monitor mymaster 192.168.3.149 6379 2
SENTINEL set mymaster auth-pass 123456
SENTINEL reset mymaster
`

[2020-09-24 08:20] dongdaoguang commented on #5410
@samm-git  you can execute "SENTINEL reset {master-name}" at last.
`SENTINEL monitor mymaster 192.168.3.149 6379 2`
`SENTINEL set mymaster auth-pass 123456`
`SENTINEL reset mymaster`

[2020-09-24 08:59] oranagra commented on #5199
I think that there's no problem, and that change is actually undesirable.
see https://github.com/redis/redis/pull/7837#issuecomment-698196776

[2020-09-24 08:59] #5199 closed

[2020-09-24 08:59] oranagra commented on #5199
thanks for reaching out though...

[2020-09-24 09:02] #7140 closed

[2020-09-24 10:02] oranagra commented on #7801
we also need to come up with some plan about things such as https://github.com/redis/redis/pull/7818
for this specific PR adds a new command, so it can't be introduced in a patch-level release, and the module can use `RM_GetServerVersion`, but we should at least document that these flags are present only starting a certain version..

but i know @ashtul is cooking another PR that adds flags to RM_H

[2020-09-24 11:10] itamarhaber commented on #7137
Hi @2014BDuck

Thanks for coming forward and demonstrating the willingness 👍

Please feel free to make a PR to https://github.com/redis/redis-doc that covers the threaded I/O topic - it should be under the 'topics/threaded-io.md' most likely.

[2020-09-24 11:46] trimstray opened #7840 "[QUESTION] master_link_down_since_seconds has huge value. Why?"
[code]

I know that is time (in seconds) that the link between master and slave was down.

But in my scenario this value is quite huge e.g. 1600947692, even though master has been down only for a min or so, it propagates to sentinel's master-link-down-time value and effectively renders the slaves as invalid, i.e. not eligible to be elected for failover.

I don't know why and what could be the reas

[2020-09-24 11:54] oranagra commented on #7840
looks like `server.repl_down_since` is 0
we just celebrated 1600000000 last week 8-)

are you sure this replica was ever connected to a master?
which version of redis are you using? maybe there's something useful in the log file?

[2020-09-24 12:47] itamarhaber commented on #7835
Hello @icholy

Thanks for making this feature request. If I rephrase it a little, you're asking for a XADD form that adds a message with the same timestamp as the newest message in the stream. This type of use for streams, as far as I know, isn't common and even in your use case it is only rarely needed (i.e. upon restart) so I'm not convinced it merits implementation.

That said, this is an open

[2020-09-24 12:50] itamarhaber commented on #7836
Most probably due to a weak server, as the OP attested that he/she is using the free tier.

[2020-09-24 13:50] hwware commented on #3782
@oranagra @itamarhaber I guess https://github.com/redis/redis/issues/7622 this issue is requesting a similar feature. in my opinion, i also think this use case make sense, since most users doesn't really care whether it is a singe key change or not. The most thing they care about is when the key was modified they should receive a notification message.

[2020-09-24 14:02] icholy commented on #7835
The XINFO approach works fine for me. I filed this issue because it's something I assumed would already be supported. If it's not worth the added complexity, that makes sense not to add it.

[2020-09-24 15:17] #7256 closed

[2020-09-24 17:20] oranagra commented on #7622
@daidaotong FYI, a SWAPDB module hook was added in https://github.com/redis/redis/pull/7804
i suppose that if your use case is security, you can't really rely on PUBSUB or CSC since a client can get disconnected and you may lose some events before re-connecting.

[2020-09-24 17:23] oranagra commented on #3782
@scalen may i ask what's your use case for such a notification?

[2020-09-24 18:02] mahima2112 opened #7843 "AttributeError: 'Redis' object has no attribute 'bzpopmin'"
I am using redis 3.2.0 inside virtual environment for a project.
I was facing issues with celery so I installed Redis 5.0 on my local machine. When I try to run celery now, terminal gives the message that it has connected to redis and celery is also ready. But on checking terminal where I ran the server for the project, using 'python manage.py runserver', I get an error :

AttributeError: 'Redis'

[2020-09-24 18:05] daidaotong commented on #7622
Thanks @oranagra for the update! right the PUB/SUB is not guaranteed to deliver messages, so currently we kind of building a separate application to get all the keys a certain period of time from slaves, but this is kind of cumbersome. Please let me know if there are any other ways for this , thanks.

[2020-09-24 19:09] jonahharris commented on #678
Submitting first-cut PR, which supports the following:

[code]

**Design Goals**
1. Eliminate duplication where possible.
2. Use an identical code path regardless of whether the result is consumed by a client or should be stored.

**Overview of Changes**
In short, a result handler (zrange\_result\_handler) has been introduced, which either proxies the result to the client or stores it in a destina

[2020-09-24 19:17] scalen commented on #3782
@oranagra as it was 3 years ago, and other solutions had to be found in the meantime, I can't clearly remember. But in principle, if you are subscribed to all changes for a key and that key disappears without any trace, that seems like a break in the key event subscription contract.

I would support the db event 'flush', with some documentation indicating that "key events won't cover flushes; if a

[2020-09-24 21:02] dalechyn commented on #7292
Thanks!

[2020-09-24 21:02] #7292 closed

[2020-09-24 23:23] ptjm commented on #7843
Try updating the redis module in your python installation. bzpopmin was added in version 3 around 2 years ago. Run these statements in a python shell to see what you're running now:
import redis
print(redis.__version__)

[2020-09-25 04:52] mahima2112 commented on #7843
the redis version is 3.2.0 in my project. I checked using pip freeze. And the error is not resolved yet

[2020-09-25 07:10] ShooterIT commented on #7779
@oranagra do you decide to remove Gopher or fix by a easy way like above?

[2020-09-25 10:04] yossigo commented on #7843
@mahima2112 Depending on your Python setup, `pip freeze` may refer to a different environment than the Python interpreter you run. @ptjm provided a better way to confirm the version in use.

I'm closing this issue as it's not related to Redis server.

[2020-09-25 10:04] #7843 closed

[2020-09-25 10:27] SBehan0 opened #7846 "Are Redis logs encrypted"
Are the Redis logs encrypted?

If not are there any plans to encrypt them?

[2020-09-25 11:01] oranagra commented on #7846
No, and No.
But AFAIK we do try to avoid printing password there

[2020-09-25 11:48] samm-git commented on #5410
@dongdaoguang thanks for the hint. anyway, solved long time ago for me, dont want to go into that code anymore. Still think that it needs to be handled differently inside redis.

[2020-09-25 12:47] #7846 closed

[2020-09-25 12:51] SBehan0 opened #7847 "Redis log configuration and accountability"
In regards to both the redis and ACL logs

Is it possible to request to view a specific subset of logged events as opposed to all logged events.

Do the logs record the identity of a user who performed an O&M action?

[2020-09-25 13:01] oranagra commented on #7847
The redis log is just written to disk, there's no way to read it via a redis command.
The ACL log can be read via the [ACL LOG](https://redis.io/commands/acl-log) command but there's no way to read a subset of it.
Maybe it would help if you describe our use case, and then we can advise you what to do, or suggest a new feature.

[2020-09-25 13:19] oranagra commented on #7779
I would remove it if it doesn't serve any real purpose
i don't think this joke justifies making redis more complex.
@redis/core-team please share your thoughts.
@ShooterIT The fix you suggested is simple, so you can issue a PR to "fix" it while we're waiting for a decision.. (removing a feature, even a useless one is not an easy decision).
But then the next question would be if we need to document

[2020-09-25 13:25] #7777 closed

[2020-09-26 09:04] w0dm4n commented on #5610
Hey, sorry 2yr after this occurs is kinda late for any logs, but the only thing that i can tell you is that it was a prod server running out just basically normally with a lot of execution on search key and get/mget, then something, maybe a big request or a third party consumed the entire available vm memory, once it went out of memory redis went pretty bad at handling this case and ended up with

[2020-09-26 09:04] #5610 closed

[2020-09-27 00:47] trevor211 commented on #4627
I think it may be caused by disruption of a migration.
Say we have the following 4 nodes: M1, R1, M2, R2.
M1 and M2 are masters, and R1 and R2 are replicas, and R1 replicates M1, R2 replicates M2.
That is
M1 --> R1
M2 --> R2

We migrate some slots from M1 to M2.
Say we are migrating some specific slot(e.g. slot 16380) from M1 to M2, and that slot hold 3 keys: `key_a`, `key_b` and `key_c`.
And assu

[2020-09-27 00:51] trevor211 commented on #4564
We can accessed the already migrated keys with a prefix `ASKING` command while the hosting slot is in half way of its migration.

[2020-09-27 00:54] trevor211 commented on #4531
You can try `redis-cli` with --cluster option.

[2020-09-27 00:58] trevor211 commented on #4496
I think it's already fixed by #7653. @oranagra

[2020-09-27 02:47] ShooterIT commented on #7779
@oranagra OK. My fix is not real bug-fix, it just avoids problems by limiting factors, I also don't want to make redis complex  in processCommand just because of Gopher.

I think we  need to document that event though it is not used widely.

[2020-09-27 06:46] oranagra commented on #4496
@trevor211 there's not enough info here to really know what happened, but i don't think the incremental eviction has anything to do with it. the old code would have stopped evicting keys as soon as it went below the limit.
i think this is likely to be caused by client output buffers consuming a lot of memory and causing mass eviction. the only way the incremental eviction would assist here is by d

[2020-09-27 06:58] oranagra commented on #7779
@ShooterIT I guess you can make a PR, and mention it in the Gopher section in redis.conf

[2020-09-27 09:35] #7779 closed

[2020-09-27 21:13] haljin commented on #7454
I have the same problem with, what I assume, is the same helmchart (bitnami/redis). Everything seems to be working fine, until a bit more load is put on Redis. I have disabled those healthchecks, logged onto the pod and tried to manually do

`redis-cli -a $REDIS_PASSWORD $no_auth_warning  -h localhost -p $REDIS_TLS_PORT  --tls  --cacert /opt/bitnami/redis/certs/root-ca --cert /opt/bitnami/redis/ce

[2020-09-28 05:01] sjclijie commented on #2576
mark

[2020-09-28 07:49] SBehan0 opened #7853 "Personal accountability"
Do the Redis or acl logs record the identity of a user who performed an O&M action?

[2020-09-28 08:28] oranagra commented on #5091
solved by https://github.com/redis/redis/pull/7854

[2020-09-28 08:28] #5091 closed

[2020-09-28 08:57] oranagra commented on #7853
Neither the log file, nor the ACL log, keep a record of every command executed if that's what you mean.
The log file contains only major server events, and the ACL log only contains authentication errors.
It would be very easy for you to test it and see what it has rather than ask questions.

It would be much better if you describe what exactly you need? or better yet, what's your use case (maybe

[2020-09-28 09:21] adrianpasternak opened #7855 "Problems with reliability of Pub/Sub subscriptions in different Redis clients"
**Describe the bug**

I'm not sure if this is right place to report this issue, because it seems like a problem with Redis clients. But the same issue is present in all clients that I've checked (Lettuce, Redisson, Jedis, go-redis).

In a case of a sudden connection loss Redis clients are not able detect network problems, and will be listening for Pub/Sub messages on a broken TCP connection for ho

[2020-09-28 10:29] oranagra commented on #7855
Since redis (the server side) is no longer present, I don't presume anything can be done in the server side to mitigate it. It must be something on the client side, either the OS or client library.
TCP keepalive seems like the right solution (that's exactly what it was designed for AFAIK).

@yossigo do you see anything that can be done on our side other than document it? (which I'm not sure will h

[2020-09-28 11:33] itzikiusa opened #7856 "[BUG] redis is expiring key ahead of time"
**Describe the bug**

we are adding a key to redis with ttl of 20 minutes(1200 seconds), after few seconds, most cases 1-2, key is disappearing from redis

**To reproduce**
[code]

[2020-09-28 11:57] oranagra commented on #7856
@itzikiusa i can't reproduce this.
please tell me which redis version are you using.
any chance this key is deleted by something else (e.g. eviction)?
maybe it would help if you share your `INFO ALL` output, and specify if there is any other traffic on your redis.

another alternative to look into what's deleting this key is by listening for keyspace notifications using another clients:
[code]

or

[2020-09-28 12:07] itzikiusa commented on #7856
@oranagra thanks for the quick reply - this is from INFO ALL
[code]

[2020-09-28 12:10] itzikiusa commented on #7856
getting this error when trying to set config -
[code]

[2020-09-28 12:12] oranagra commented on #7856
I suppose Amazon ElasticCache doesn't support keyspace notifications.

i'm guessing your key is evicted..
you're very close to the memory limit and the eviction policy allows these keys to be evicted.
[code]

[2020-09-28 12:14] itzikiusa commented on #7856
what can i do?

[2020-09-28 12:19] oranagra commented on #7856
few random options:
- increase the memory limit (add memory)
- reduce memory usage by (delete something?)
- change to `noeviction` policy and get `OOM` error instead of implicit deletions

[2020-09-28 12:21] itzikiusa commented on #7856
my guess is that the last one isn't recommended, will try the others, thanks!

[2020-09-28 12:55] zjwwf commented on #2576
why 16k was in the right range to ensure enough slots per master with a max of 1000 maters？

[2020-09-28 13:24] #7853 closed

[2020-09-28 13:47] maxpaynebupt opened #7857 "[QUESTION] Is version 5.x still being maintained?"
Hi, We are using redis heavily, and still staying on version 5.x.
Do we have any version plan of redis?  The main brance 5.x would have any update or new version?
What is redis' developing version strategy? Now, we have version 6.x, so there would only be bug fixing version on 5.x, or there would be no more version on 5.x?

Many thanks.

[2020-09-28 14:08] oranagra commented on #7857
Hi, we're not planning on releasing updates to 5.0 unless there's some critical bug that's found.
like security issue, or a crash, leak or memory corruption that's on a common path (I.e. not a result of invalid use).
We are trying to keep track of a list of fixes that would be nice to backport, but we are only likely to do that only if something major enough is found that justifies releasing a new

[2020-09-28 14:59] giannisgrigorakos opened #7859 "[QUESTION] Get vs Set operation performance"
While perusing the redis docs I stumbled upon a thing that troubled me. I read that without pipelining Set operations have more throughput than Get operations and this is strange. I read this post https://stackoverflow.com/questions/14600908/why-is-redis-set-performance-better-than-get and also this https://redis.io/topics/pipelining and I understood that with pipelining we get more throughput wit

[2020-09-28 17:08] oranagra commented on #7856
closing this for now, feel free to re-open or respond if you find an issue with Redis.

[2020-09-28 17:08] #7856 closed

[2020-09-28 17:12] oranagra commented on #7847
i guess the question was answered, feel free to re-open or respond if you have further questions or suggestion.
i guess the use case may be related to https://github.com/redis/redis/issues/7853

[2020-09-28 17:12] #7847 closed

[2020-09-28 17:52] parikls commented on #5774
+1 for this

[2020-09-28 18:45] oranagra commented on #2866
as noted in https://github.com/redis/redis/pull/4288, redis-trib is now replaced by redis-cli, which does solve this issues.

[2020-09-28 18:45] #2866 closed

[2020-09-28 19:04] oranagra commented on #6489
This seems trivial to fix in case someone wants to pick this up.

[2020-09-29 01:45] maxpaynebupt commented on #7857
Thank you for your reply, I understand, to keep major feature in a main branch would save much work.

Our dilemma is, we have multiple products, some want to use version 5, some want to use version 6, and our management team think , if redis' publishing strategy is to only keep one main thread, we can only use one version , 5.0.8 or 6.0.4, but, I think there would be a transition period, so  we ne

[2020-09-29 03:10] masteroogway123 commented on #7787
Sorry, this problem has not recurred recently, so we have to close it first and provide valuable information if it appears later.

[2020-09-29 03:10] #7787 closed

[2020-09-29 03:20] itzikiusa commented on #7856
yeah, thanks!

[2020-09-29 06:25] oranagra commented on #7857
@maxpaynebupt Please note that there's another reason not to backport many features to a previous version (other than the fact that it would essentially make it identical to the last). doing so would risk introducing bugs into that version, this is why only critical fixes are backported, or important changes which are very local and safe.

now that 6.0.x is stable (gone though several release cand

[2020-09-29 06:38] maxpaynebupt commented on #7857
Understood, it's reasonable to make major improvement in major upgrading release.

Why we are still using 5.x is that, we did some security enhancement for our company's security rules.

All these patches are all done in version 5.x, so , you know, when stepping forward needs some courage, people always stay around. So , the fact that I can not change is that, some guys want to stay in the safe 5.

[2020-09-29 06:45] oranagra commented on #7857
@maxpaynebupt as i said, we don't really maintain 5.0 anymore, we don't backport every bugfix to it.
It's even hard to tell which of the bugfixes made on 6.0 are at all applicable to 5.0 (requires effort to check).
We are not expected to make any new releases for 5.0 unless a critical issue is found.
So you can safely keep using 5.0 (it doesn't have any major issues that we're aware of), but it is

[2020-09-29 07:05] maxpaynebupt commented on #7857
Very thankful for your patient answer.

[2020-09-29 07:17] yossigo commented on #7855
@oranagra Theoretically we could come up with an application level keepalive mechanism where Redis periodically sends a heartbeat message. This would involve a lot of backwards compatibility issues and I am not sure there's a significant benefit that justifies it.

I think the best we can do is raise awareness to this issue with client maintainers, who should consider setting TCP keepalive by defa

[2020-09-29 07:33] oranagra commented on #7855
if redis is sending keepalive messages it's the client's responsibility to detect that it's dead.
maybe instead the client can try to send some PING and detect a write failure when the socket is dead.
but i don't see any advantage for all of that over TCP KEEPALIVE.

@itamarhaber do you know where something like that can be documented? and how to bring this to the attention of existing client main

[2020-09-29 07:35] #7857 closed

[2020-09-29 09:04] gavrie opened #7860 "[NEW]"
**The problem/use-case that the feature addresses**

The API for `RedisModule_HashGet` uses C varargs. For our use case, we would like to call it with a list of keys to retrieve that is not known at compile time (specifically from [redismodule-rs](https://github.com/RedisLabsModules/redismodule-rs), which would take a vector of keys to retrieve and then call the `HashGet` API with arguments based

[2020-09-29 09:07] gavrie commented on #7860
@yossigo @slavak this is the feature request we discussed.

[2020-09-29 09:29] yossigo commented on #7860
@gavrie Did you consider the other Module API calls that use varargs and how applicable this is for them as well?

[2020-09-29 09:57] yossigo commented on #7454
@haljin Thanks for your report. I'm not familiar with the details of the bitnami chart so it's hard for me to tell if that could possibly be a configuration issue with it, or a problem in Redis itself which gets to reproduce only in those specific conditions.

If I interpret your report correctly, your `redis-server` basically got into some hung state where you're unable to establish a TLS connect

[2020-09-29 10:05] oranagra commented on #7860
It would be nice to have an alternative to each one of the APIs that use varargs.
But i think in this case it may be better to add a `REDISMODULE_HASH_VECTOR` flag.
So you would call it like:
[code]

For other APIs that get a format string, we can add the `v` format arg like the one we have in RM_Call:
[code]

I know that @ashtul was looking into that as well.

[2020-09-29 10:07] oranagra commented on #7622
btw, this may also be some day covered by https://github.com/redis/redis/issues/5766

[2020-09-29 10:08] oranagra commented on #3782
btw, this may also be some day covered by https://github.com/redis/redis/issues/5766

[2020-09-29 10:27] gavrie commented on #7860
@oranagra I think that the existing implementation using `REDISMODULE_HASH_CFIELDS` is error prone enough as it is.
I understand the motivation to keep it consistent, but I would actually prefer deprecating this API altogether and adding more typesafe and orthogonal alternatives, similar to the `execl, execle, execlp, execv, execvp` example.

Using `printf`-style format strings wrongly is one of t

[2020-09-29 10:30] gavrie commented on #7860
@yossigo regarding the other APIs that take format strings -- I agree with @oranagra's suggestion.

[2020-09-29 10:34] gavrie commented on #7860
@oranagra regarding a `count` argument vs relying on the arrays being `NULL`-terminated: Do you have a specific reason to add the count? I'm not opposed to it, just curious.

[2020-09-29 13:12] oranagra commented on #7860
@gavrie no reason, just seem more explicit. also now that i'm thinking of it, if the array was already allocated by the caller, an adapter function is able to use the `count` variant by not the other way around.

regarding your previous post, which suggestion do you agree with? the `v` format string?
considering your arguments, this suggestion is even worse than the `REDISMODULE_HASH_VECTOR` which

[2020-09-29 13:24] yossigo commented on #4517
This is indeed an issue with the current cluster design.

Adding quorum (vote-only) nodes would be a great enhancement to Redis Cluster, as it will also provide more deployment flexibility. What you're proposing here goes beyond that as it also requires to consider non-voting masters. This is definitely high on the cluster roadmap.

[2020-09-29 13:45] yossigo commented on #7378
@tzickel Thanks for this idea. It should be fairly easy to detect that an `EVALSHA` in a transaction refers to a script that does not exist *prior to transaction execution* and fail the transaction. Also handling the case of `EVAL` or `SCRIPT LOAD` of a new script followed by an `EVALSHA` might be more difficult.

I think that might be a nice safety add-on, but I have some concerns about it breaki

[2020-09-29 14:10] #7784 closed

[2020-09-29 14:11] yossigo commented on #7297
@tzickel Unfortunately I don't see how this can be done in a complete manner, as theoretically commands with movable keys have a lot of freedom regarding their positions and count. Even if we did hard code that for Redis commands, we'd still be left with the problem of modules with movable keys.

[2020-09-29 14:17] yossigo commented on #4733
@tzickel Blocked clients can already be released using `CLIENT UNBLOCK`. If I understand correctly, what you're suggesting is basically to enhance this capability to unblock clients based on other criteria rather than explicitly specifying their IDs. Is that correct? I think the use of `WATCH` for additional purposes may be confusing and error prone.

[2020-09-29 14:19] indeyets commented on #4517
I think that, putting it in the most simple terms, this issue is about separating "voting" from "data serving".

Similar to how redis-sentinel is separate from actual redis instances or how "coordinators" are separate in [undermoon](https://github.com/doyoubi/undermoon) cluster

[2020-09-29 14:20] oranagra commented on #7378
the fix is trivial (although does require writing some ugly code: two loops on the queued commands, checking which commands these are and running a specific cheek for some commands, reaching out from multi.c into scripting.c).
IMO the response in that case must be `-EXECABORT` with some detailed message about the missing script, not sure we can afford to create a new type of error (`-NOSCRIPTTRANS

[2020-09-29 16:12] gavrie commented on #7860
Very well.

Indeed.

Ok, I won't argue here -- your suggestion doesn't make the API much worse than it already is 😄.

Would you care to explain _why_ my suggestion is worse? I agree that it's quite verbose, but (a) it does add some type safety and (b) it's the de facto way to "overload" functions in C.

[2020-09-29 16:33] tzickel commented on #7378
I have proposed in my issue that this will be an option, that way backwards compatibility can be retained, and if someone wants this, he can run maybe MULTI with an optional flag [SAFE] (which maybe can in the future take other considerations that might come up as @oranagra said).

As for why, I am thinking about this from a library developer, if the spec allows it, someone might be trying to abus

[2020-09-29 17:44] tzickel commented on #7297
I think that today's situation is bad and can be improved, most libraries hard code this information which sucks (and then when a new function comes out they need to figure it out to get it supported and release an update, if at all).

Redis server should provide library developers as much information to handle all the stuff it asks of them to support.

In my opinion, functions that can support it

[2020-09-29 18:03] yossigo commented on #7297
@tzickel I guess that what you're proposing is basically this: leave the custom getkeys mechanism (movable keys) in place but add additional *declarative* schemes for commands in addition to the current first/last/step scheme. For example, a num-keys/first-key scheme that could be used by `EVAL` and others.

I'd be happy to get the perspective on this from other client library maintainers. @gkorla

[2020-09-29 18:15] tzickel commented on #4733
I'm not sure CLIENT UNBLOCK (which did not exist back in march 2018) will be useful for all scenarios.

It's not atomic (i.e. what if between looking at the client list, and unblocking all of the relevant clients, another one joins in?), and it's polling instead of pushing (the WATCH mechanism will automatically invalidate all the blocked clients just when needed).

But maybe today I think there m

[2020-09-29 18:28] nykolaslima opened #7863 "[BUG] Missing documentation on ZMSCORE"
**Describe the bug**

The new ZMSCORE command has no documentation in redis-doc.
ZMSCORE PR: https://github.com/redis/redis/pull/7593

**To reproduce**

https://redis.io/commands/zscore

**Expected behavior**

To have documentation about ZMSCORE command.

[2020-09-29 19:10] oranagra commented on #7860
traditionally, redis is doing everything differently than any pre-existing standard.. so that's breaking tradition 8-)
(just kidding)

anyway, seriously:
i feel my suggestion is more in line with the current API (not just this HashSet function, but many others).
and i kinda dislike adding 4 APIs and some duplicate boiler plate code, docs, etc, in place of one or two `if`s inside one function.

Alt

[2020-09-29 19:38] oranagra commented on #7297
FYI: This was recently discussed here: https://github.com/redis/redis/pull/7794
AFAIR not all the `movablekeys` command use this `numkeys` scheme.
One extremely bad example IMHO is the STRALGO command (which i wish would have been broken to some 4 different commands rather than one).

I think that for commands like STRALGO there are only two options, either the client library implements specific s

[2020-09-29 20:04] oranagra commented on #7863
there's actually already a PR for it, but we didn't yet merge it.
https://github.com/redis/redis-doc/pull/1361

it's actually the same state with all the new commands that were recently added.
i'll get to it.

[2020-09-29 20:04] #7863 closed

[2020-09-29 20:23] slavak commented on #7860
@oranagra The external API can always be a thin wrapper (possibly even using a macro) around a common internal implementation with some conditional `if`s. Grouping several function variants into a single family for documentation purposes is pretty common practice, and as long as the naming style is consistent it should make the API quite readable and easy to navigate.

I'm not necessarily arguing

[2020-09-30 06:55] haljin commented on #7454
@yossigo it seems the real problem has been https://github.com/RedisGraph/RedisGraph/issues/1357 - it had a side effect on locking up client connections in a very strange way.

[2020-09-30 07:26] tzickel commented on #7855
- This is a general issue with long-lived silent TCP connections, not specific to Redis nor Pub/Sub (What about a blocking operation with infinite timeout like BLPOP, there you can't even send PING but on Pub/Sub you can).

  It can happen in many ways, think about a connection pool, where one of the connection has been stalled like above, then the client tries to send a command on that connection

[2020-09-30 08:12] yossigo commented on #7454
@haljin Thanks for updating. I'm closing this issue as it doesn't seem to relate to a problem in `redis-server` itself.

[2020-09-30 08:12] #7454 closed

[2020-09-30 09:00] tzickel commented on #678
Might be a wrong idea, but maybe instead of doing per-command thingy (and not limited just to Z commands), maybe have a global STORE <key> command that is actually a modifier for the next command that comes after it (like CLIENT REPLY SKIP is), and it can simply put the output the result into the specified key instead of returning it to the client (and maybe some generic infrastructure can be buil

[2020-09-30 09:54] tzickel commented on #7297
In that PR numkeys is used as this.

And yes, the end goal for this specific request is for cluster routing (i.e. just tell me sufficient information to where I can find any key without asking the server each invocation).

It would be nice if there was a guide on how to properly design commands arguments to be friendly for clients (maybe for other goals instead of just cluster, like knowing if a c

[2020-09-30 10:03] borg286 commented on #678
One of the use cases I was hoping for was to be able to do set operations
on the scores of a subset of the zset. If we do have the STORE option, I'd
want a way that lets us do this strange migration of scores into members of
a set.

On Wed, Sep 30, 2020 at 10:01 AM tzickel <notifications@github.com> wrote:

--
Integral z-squared dz
from 1 to the cube root of 3
times the cosine
of three pi over 9
e

[2020-09-30 11:15] oranagra commented on #678
@tzickel i think that such a generic mechanism will be less efficient than what we can do when we have an explicit command, and it'll also face some challenges (some combinations may be more complicated, like ZRANGE be stored into a Set type, and ZRANGEWITHSCORE into Zset type).

Anyway for we can say that we already have a mechanism in place for such a thing, which is Lua scripts. IIRC one of the

[2020-09-30 11:25] oranagra commented on #7860
P.S one more consideration to break and deprecate the existing API for hash and zset is that they don't allow for an error return value. see https://github.com/redis/redis/pull/7865
this is not related to the varargs input, but if we do want to break the API it's an opportunity to fix it.

[2020-09-30 13:47] ambarsarkar opened #7869 "redis 6.0.8 crashing when reloading from aof file"
The .aof file is not huge (~54MB)
The command used is:
   redis-6.0.8/bin/redis-server --appendonly yes --appendfilename test_bdc.aof --loglevel debug

Help appreciated!!!

=== REDIS BUG REPORT START: Cut & paste starting from here ===
23506:M 30 Sep 2020 06:30:43.434 # Redis 6.0.8 crashed by signal: 11
23506:M 30 Sep 2020 06:30:43.434 # Crashed running the instruction at: 0x4480b5
23506:M 30 Sep

[2020-09-30 14:07] oranagra commented on #7869
@ambarsarkar looks like a serious bug in 6.0 when loading long running Lua scripts from AOF.
you can probably work around it by starting redis with `--lua-time-limit 100000` or alike, and then change that with CONFIG SET after the file is loaded.

i'll add a fix and a test soon

[2020-09-30 14:27] oranagra commented on #7869
@ambarsarkar are you using `lua-replicate-commands no`?
can you share why?

[2020-09-30 15:09] ambarsarkar commented on #7869
The aof file was created with 4.0.6 and I am not sure if that was an option even. Not using it now.  Any guidelines/suggestions when using it? Thanks!

[2020-09-30 15:15] oranagra commented on #7869
ok, so it was an old file, that makes sense.
AFAIK there's no good reason to use `lua-replicate-commands no`, and we're hoping to deprecate it some day soon.. which is why i asked why are you using it (hoping to lean of a reason).
but that's not the case.

I assume the workaround i provided will solve your problem while we're taking the time to fix the bug and decide on the release urgency.
thanks

[2020-09-30 15:17] gavrie commented on #7860
`HashGet` does return an error value. `HashSet` doesn't, but how would it do so, if it needs to return the number of fields that it has set (I guess for feature parity with `HSET`)? This is C after all -- so you would need to add a pointer-based output parameter for either the error or the count.

@oranagra so what decision are you leaning towards? I already specified my preference for:
1. Not usi

[2020-09-30 15:18] ambarsarkar commented on #7869
Interestingly, a timeout of 100000 still crashed, but 1000000(1M) succeeded, with similar errors(assuming for each lua script stored). This is with 6.0.8.

Thank you so much, and lmk if I can help testing!
-Ambar

[2020-09-30 16:12] slavak commented on #7860
What's wrong with C's standard way of returning positive values for "field count" and negative values for errors?

I mean, other than the fact that it's horrifying and not type safe... But it's the way it's been done for decades.

[2020-09-30 16:46] gavrie commented on #7860
@slavak nothing except the fact that Redis defines `REDISMODULE_ERR` as a positive number (`1`) and this is what is returned from all other functions... so it would be a big change.

[2020-09-30 17:53] oranagra commented on #7860
the only thing that's consistent in redis is that it's inconsistent. 8-)
i think my problem with returning negative number is that existing code didn't expect it, so it may break something.

my initial thought was that i rather add a new flag to the existing API and avoid adding any new ones.
it looks to me more in the spirit of the existing approach (more options in one function, no need to depre

[2020-09-30 18:05] igorwwwwwwwwwwwwwwwwwwww opened #7872 "BRPOP-heavy workload spends lots of CPU in the allocator"
One of the use cases we have for sidekiq at @gitlab is as a sidekiq backend. Since it is a job queue, that is a workload that relies heavily on blocking pop operations on lists.

We ran into some pathological cases with this a while back: https://github.com/redis/redis/issues/7071.

That fix already helped a lot. So did upgrading to a newer intel architecture. But we're still peaking at ~55% CPU u

[2020-10-01 03:15] remzicanaksoy commented on #4450
If a daily clean-up is wanted, can't we just run daily jobs which will find the difference between today's length and yesterday's length and delete the old values by using the difference. In other words, we can keep a key called `previousLength`. The daily job basically will get the current length of the stream and calculate the difference as `numberOfEntriesInLastDay = currentLength - previousLen

[2020-10-01 07:09] MeirShpilraien commented on #7860
I agree this API should be deprecated but because of the return value, which @gavrie, if you check closely, the RM_HashSet returns the number of fields changed (so new fields are not counted), so if you set an entirely new hash you will get zero and you have no way to know if it failed or succeeded.
@gavrie regarding your suggestion, I also do not like a lot of functions with different arguments t

[2020-10-01 08:27] #7869 closed

[2020-10-01 11:52] gavrie commented on #7860
@MeirShpilraien good point, thanks!

That's C, not you... no overloading. It's even older than me by 2 years 😂...

I suggested two dimensions:
- Vector (`V`) vs varargs (`L`)
- C strings (`C`) vs `RedisModuleString` (no suffix)

So the `VC` and `LC` variants would have C fields with RMS values, as opposed to RMS fields with RMS values (Redis doesn't support a variant of C fields with C values so t

[2020-10-01 11:54] gavrie commented on #7860
Quoting from a random C man page:
[code]

[2020-10-01 12:15] guybe7 commented on #7860
TBH i don't really see the point in:
1. having a Redis Module API take any string other than RMS (maybe it could have some advantages, but it's against the API spirit)
2. having a SET/GET API being vararg - i'm guessing most users have an RMS array of fields/values anyway...

i think that we should
1. deprecate the existing API (mostly because of the return value issue)
2. replace it with an API t

[2020-10-01 12:35] gavrie commented on #7860
@guybe7 From an API implementor's standpoint that may be correct. But from a user's (i.e. module developer's) perspective, the combination of varargs with C strings for the field names is extremely simple to use in many cases.

We could do some research by looking at the usage of these APIs on GitHub and see how people built the arguments.

[2020-10-01 12:36] MeirShpilraien commented on #7860
@guybe7 we actually using the option of passing C string and not RMS

[2020-10-01 13:10] guybe7 commented on #7860
so i may ask "why shouldn't all APIs take take RMS/array should have a variant of Cstring/vararg?"

my point is that, even if having an API for every user is useful, it's a nightmare to maintain...

[2020-10-02 07:32] o948 opened #7877 "[BUG] Blocking reads don't work on Redis Cluster replica nodes"
**Describe the bug**

Blocking reads on Redis Cluster replica nodes (in readonly mode) always get redirected to a master node.

**To reproduce**

Connect to a replica node, go into a readonly mode, do a blocking read, e.g.:
[code]

**Expected behavior**

According to documentation of [`READONLY`](https://redis.io/commands/readonly):

blocking reads should not get redirected to a master node.

**Ad

[2020-10-02 12:07] #2349 closed

[2020-10-02 14:09] manast opened #7878 "[Bug] RedisModule_SignalKeyAsReady not working as expected"
**Describe the bug**
```RedisModule_SignalKeyAsReady``` does not work as expected.

**To reproduce**

Here a minimal module that reproduces the issue:

[code]

Just load the module and run the command "bug1 123". It will be blocked until timing out after 10 seconds despite having called ```RedisModule_SignalKeyAsReady``` directly after blocking.
Note, I also tested to calling ```RedisModule_Signal

[2020-10-02 14:48] manast commented on #7878
Furthermore If I use ```Redismodule_Call```  the callback is fired, but note that using instead ```RedisModule_ListPush``` does not fire it...

[code]

[2020-10-02 15:50] manast commented on #7878
Another piece of information, If the call to ```LPUSH``` is done inside a Timer callback, then the blocked reply callback is not called either.

[2020-10-02 21:22] manast opened #7879 "[BUG] RedisModule_UnblockClient behaviour does not match the documentation"
**Describe the bug**
sorry if this text is a bit confusing, it has been many hours of debugging until I realized this may be an issue with redis.

The documentation for ```RedisModule_UnblockClient``` is either incorrect or something does not add up in how to use the function when blocking a client with ```RedisModule_BlockClientOnKeys```.

Due to issue #7878 I am using the function above as a wor

[2020-10-03 10:32] manast commented on #7878
I did some test with redis-cli and I noticed that if the key that you listen to exists before calling the command, then it the reply callback is called, so it seems that the bug happens when the key does not exist at the time of blocking.

[2020-10-03 11:00] manast opened #7880 "[BUG] Calling RedisModule_SignalKeyAsReady from a timer callback does not trigger the reply callback."
**Describe the bug**

When using ```RedisModule_BlockClientOnKeys``` it should be possible to unblock the client by calling ```RedisModule_SignalKeyAsReady```. However this is not working if the call is performed inside the callback of a timer.
The following code reproduces the issue. Note that for RedisModule_SignalKeyAsReady to work at all, the key we are signalling must exist before we call it

[2020-10-04 12:36] oranagra commented on #7877
@o948 thanks for reporting, please have a look at the fix in #7881 and let me know what you think.

[2020-10-04 17:02] yossigo commented on #5571
Given this some thought. It makes sense for most of the state -- watched keys, Pub/Sub subscriptions, ACL user, client name, etc.

I do have a big concern about breaking/complicating `MULTI` semantics though. So, a client would have to issue a `DISCARD` (which may fail) followed by `CLIENT RESET` to be sure it's not stuck in a transaction. Might not be so favorable to clients but definitely mainta

[2020-10-04 18:53] tzickel commented on #5571
Well, today Redis is even more complex than what it was when I opened the issue a few years ago (ACL + RESP3 + client side caching, maybe other stuff as well).

In my opinion when thinking about taking a connection from connection pool, some stuff are set in the connection phase (ACL user + client name), and some are not (multi, pubsub, watch, etc...) but if someone has another idea, maybe there s

[2020-10-05 14:17] yossigo commented on #5571
The semantics problem is that by definition you don't exit a `MULTI` state unless you `EXEC` or `DISCARD`. If we expect `CLIENT RESET` to also cancel this state we're potentially breaking lots of things around Redis.

You're right that Redis has gotten more complex and there are more things to potentially reset. If clients need to be selective about what they reset (e.g. name, ACL user, RESP versi

[2020-10-05 15:37] tzickel commented on #5571
The RESET command is just for taking a connection from a connection pool, to be in a state where new commands running won't be related to commands that were on that connection before it was returned to the pool.

WATCH / MULTI of-course are offenders here, but you can just call DISCARD to be sure they will be reset.

PUB/SUB commands are bigger offenders because there is no quick command to make s

[2020-10-06 01:55] madolson commented on #7872
I would like to re-implement the blocking framework to remove all of the special handling we do with blocking, and instead just re-run execute processCommand when a client should be unblocked: https://github.com/redis/redis/issues/7551

I think that would help your case here, since we would be doing a lot less "extra" allocations aside from a dictionary maintaining the clients -> blocked keys. I'm

[2020-10-06 04:31] o948 commented on #7877
Thanks for a quick fix, looks good to me.
Do you know whether this fix is important enough to go to the next minor 5.0 release?

[2020-10-06 07:39] oranagra commented on #7877
it's relatively safe, so it can get there, but i'm not sure if / when we'll make another 5.0 release. we are likely to do that only if there's some critical issue that's found.
i'll mark the PR for followup.

[2020-10-06 13:17] oranagra commented on #5571
for what it worth, i'm in favor of a RESET command that will bring the client to a similar state as disconnection and re-connection (reducing the need for a new socket).
in which case the client will be responsible of re-AUTH, re-CLIENT SETNAME, and everything else from scratch, but will not have to worry about any leftovers like MULTI state, and other unexpected flags.

[2020-10-06 18:43] #7877 closed

[2020-10-06 23:52] madolson commented on #7859
I'm not sure where you read that SET's should be faster than GET's, the official redis benchmark page has them as more or less equivalent without pipelining in some situations. After network TCP parsing, most of the CPU time of a simple Redis command is going to be memory allocations and looking up if a key already existing in the main dictionary, so they should actually be pretty comparable.

I'm

[2020-10-06 23:52] #7859 closed

[2020-10-07 08:23] oranagra commented on #7860
related issue: https://github.com/redis/redis/issues/6914

[2020-10-07 09:12] gavrie commented on #7860
BTW, I just saw that even `hiredis` uses this convention:
[code]

[2020-10-07 09:22] manast opened #7890 "[QUESTION] What are Redis Modules guarantees?"
As documented, the EVAL command is guaranteed to be executed atomically, however I am not able to find a similar assertion about Redis Modules, specifically lets say I write a Redis module that is a port of some lua script, I am not calling any other third party libraries or creating my own data type.

Does redis guarantee that if for instance if one of the commands that I execute in my module fai

[2020-10-07 09:27] manast commented on #7890
I found this other question btw. https://github.com/redis/redis/issues/3613
However it makes me kind of confused. This is assuming a command cannot fail in the middle of its operation, however most calls to the Redis api return error codes, they may succeed or fail, so in theory my first three calls to redis apis in my command while the fourth could fail, then the command call should exit with an

[2020-10-07 12:07] vbouzon opened #7892 "[Bug/Question] Sentinel - New master do a rollback when the old master is restarted"
We provisioned 6 instances of Redis with 6 sentinels.

When the master comes down, a **"new master"** is elected. So far so good.
If we restart the **"old master"**, he is changed in slave mode, but a synchronization process causes the **"new master"** to restore the state from the **"old master"** during few seconds.

Is the behavior expected ?

Hereunder logs. Thanks.

**Old master logs**
[code]

[2020-10-07 16:56] kalenp commented on #6565
It looks like this was backported to the 5.0 branch, but never released, since it came in after 5.0.9.  Is there a plan to make another 5.0 release with this fix in it?

[2020-10-07 21:41] itamarhaber commented on #7890
Hello @manast

It is up to the module's author to ensure whatever guarantees (atomiticity, persistance and/or replication) for each of the module's commands. I'm afraid there is no generic answer as it is up to the module's implemementation.

[2020-10-07 23:02] felipou commented on #7388
I very much prefer the first option. I think the second options may add confusion as to the meaning of $.

Just did a quick test, seems the implementation would be simple (it's working): https://github.com/felipou/redis/commit/b43c5104899c9346e21c2bb7a6c0c0596dee0878
If that is the chosen option, I can turn this into a proper PR (add tests, check for better options in the code, update doc, etc).

[2020-10-08 04:40] hwware commented on #5216
@fengzixu hello, each sentinel will publish message in the __sentinel__:hello channel for monitored masters and slaves in certain periods of time, it also subscribe the channel, therefore sentinels can known each other's exist and share certain information regarding sentinel instances and the monitored master information.

[2020-10-08 06:13] oranagra commented on #658
solved by https://github.com/redis/redis/pull/6929

[2020-10-08 06:13] #658 closed

[2020-10-08 07:40] manast commented on #7890
@itamarhaber so you mean that lua scripts have stronger guarantees that an equivalent module that does exactly the same? if this is the case I expect to be clearly stated in the documentation in order to avoid confusion. I still find difficult to believe it, what is the point of opening keys for example if not for telling redis which data is going to be modified during the command execution?

[2020-10-08 08:01] oranagra commented on #7388
@felipou i'm a bit afraid to take a decision here and carve it in stone for 6.2 for the fear of later regretting it after it's already released.
Looking at the backlog there are quite a lot of pending improvements to streams (which aren't gonna make it for 6.2), maybe adding some of them will influence on the decision we take here.

Are you particularly interested in this issue, or just searching

[2020-10-08 08:13] manast commented on #7890
Ok, after some digging in some other mailing lists I kind of found the answer to my question. Lua script is only atomic in the sense that the execution is only persisted if the script completes. Modules should be the same, however the possible ways a module could fail are more explicit since a memory allocation could fail in the middle of the module execution making the command fail but still coul

[2020-10-08 08:13] #7890 closed

[2020-10-08 08:21] oranagra commented on #7890
@manast please note that when memory allocation fails, redis panics and dies (will recover from persistence or replication).

when a script calls a redis command it uses either `redis.call` or `redis.pcall`, the later will let the script a chance to rollback or do anything it likes rather than exit with failure leaving part of the changes, modules can do the same.

In general, if a module just use

[2020-10-08 09:18] oranagra commented on #6565
in general we're waiting for some critical issue that will justify another release of 5.0, and in the meanwhile collecting a list of less critical issues to be backported when that happens.
maybe this issue justifies a release on it's own, i'll try to gather a list of candidates and decide.

[2020-10-08 09:57] manast commented on #7890
@oranagra so lets say I call this function:
[code]
Although not documented I am assuming the int can be a ```REDISMODULE_OK``` or ```REDISMODULE_ERR```. If error what should I do? unroll all the redis commands that where executed properly? or maybe it is impossible that this method returns anything else other than OK?

[2020-10-08 10:02] oranagra commented on #7890
it is documented:
[code]
so for instance, you can open all the input keys and perform validations on their existence and type before making any modifications. this way you can probably be sure that if the module command you implemented fails and responds with an error, no changes were made.

[2020-10-08 10:07] manast commented on #7890
ok, I get it. So basically we can say that if the preconditions are met, all the commands returning ```REDISMODULE_OK| REDISMODULE_ERR``` will always succeed, and if a memory allocation fails, for example while creating a new string, redis will just crash completely.

[2020-10-08 10:43] oranagra commented on #7890
yes.. this is how the built in commands of redis are implemented too.

[2020-10-08 10:53] oranagra commented on #5613
@g-d-l please note that the solution you implemented violates the AOF fsync-always mechanism.
replies will be sent to the client before being written and synced to the disk.

if we distinguish between process crash and system crash and power loss, we can consider any write to the AOF (even without an fsync) safe, in which case this change violates any AOF configuration.

[2020-10-08 11:13] oranagra commented on #4213
@joshuawscott the problem of client output buffers causing eviction is a well known one, but a few things in your report don't make sense to me.
1. what does a bugfix in DEBUG DIGEST has to do with it? (you mentioned git bisect pointed to it).
2. slave output buffers are (and AFAIK always were) excluded from the memory by which eviction works. so eviction should not induce more eviction by itself.

[2020-10-08 14:07] hwware commented on #7165
This looks like a protocol error, I can reproduce it for redis 6.0.0 old release.
The reason of this error was caused because in that release Hiredis and redis-cli doesn't support RESP3 push message yet. I assume in your second client, it also enables client tracking and setting protocol to resp3. when the key "a" was modified in other clients,  server will send a PUSH invalidation message and tha

[2020-10-08 14:35] oranagra commented on #7165
@hwware by latest you mean unstable right?
why does it matter if the second client also enabled client tracking?

@andreastoyota did you enable RESP3 (i.e. `HELLO 3`) on the first client, the one that enabled tracking?

It's a known fact that in 6.0 redis-cli didn't yet support RESP3 push messages, and at the moment it's still not released in any 6.0.x release (only in unstable).

if that's the ca

[2020-10-08 14:48] hwware commented on #7165
@oranagra yes I tested in unstable branch. Oh sorry i saw it wrong, before I thought the user output (including the error ) after long dash all happened in second client. later I found user mentioned second client only run "set a 2". :) If so second client doesn't need to enable client tracking.

[2020-10-08 14:51] b0l0k commented on #7892
OK. Found.

The issue came from StackExchange.Redis c# sentinel mgmt.