[2020-12-08 09:56] #8148 closed

[2020-12-08 10:07] yossigo commented on #8104
@guybe7 Is this a duplicate of #8097?

[2020-12-08 10:36] yossigo opened #8157 "[META] Module API V1"
# Module API V1

This is an attempt to scope out all missing or broken Redis Module API capabilities, and create an exahustive list that defines a stable V1 interface.

The Module API was in continuous state of development since Redis 4. Although it maintains ABI backwards compatibility, this does make things  more difficult for module developers to mange.

# General

Better documentation is despa

[2020-12-08 10:47] yossigo commented on #5329
I don't think there's really a way to fix that due to how `setproctitle` works. The environment is not lost, it is copied and still available to the process itself but not where the kernel put it so it's not visible through `/proc`.

[2020-12-08 10:47] #5329 closed

[2020-12-08 13:02] erf commented on #8062
@yossigo i was able to build Redis now both with and without Rosetta (by opening iTerm2 with the `using Rosetta` checked). The test result was the same.

See attached [make_test_log.txt](https://github.com/redis/redis/files/5659274/make_test_log.txt) file.

[2020-12-08 14:29] yossigo commented on #8062
@erf these are false test failures introduced in a new test of a recent commit, a fix was merged to `unstable` just now. Also the original problem is now merged so `unstable` should be OK on macOS/M1.

[2020-12-08 15:53] pgerhard commented on #8142
Yeah that makes sense to me. The only thing I would suggest is mentioning this limitation in the ACL documentation

[2020-12-08 22:03] karock commented on #8124
so we haven't been able to replicate the issue starting from an empty DB yet. the two bits of new info I have are:

1) `bgsave` can and will fail on a master node, not just on a replica. we ran our backup script from one of the masters and it failed on the first attempt (with a crash, not just a malformed rdb).

2) we created an x86 version of the same setup, launched a z1d.xlarge, attached it the

[2020-12-09 03:31] mspy1985888 opened #8163 "Spring cloud request redis healthy check failed"
![Uploading mmexport1607484147282.png…]()
We use command line check Redis node fine。
the other 2 node on this machine doesn`t hive this problem，only use api request，show this error，command cluster nodes，and other command show this node correct in cluster

[2020-12-09 06:24] gripleaf commented on #8145
yep, `clusterGenNodesDescription` always call `clusterGenNodeDescription`.

`cache the value of the description and then invalidate it` seems a good idea in some cases, but our proxies would not ask for cluster topology frequency (every 1~2 minutes or detect topology changed). And when cluster topology change faster, the cache may not work well.

Below is the perf of a master node in migrate scena

[2020-12-09 06:59] gripleaf commented on #8145
actually i create a data structure `rangelist` to record node slot info, like
[code]
when use this data sturcture, the complexity of `clusterNodeClearSlotBit` and `clusterNodeSetSlotBit` may increase from O(1) to O(16384)(worst).

To verify my idea, I test it in the same migrate scenario like above. Bellow is the perf:
![image](https://user-images.githubusercontent.com/2909003/101595403-437b6900-3

[2020-12-09 07:20] asabhi6776 opened #8164 "Slaves are getting disconnected from the redis cluster, how to fix this issue?"
I've 6 redis instances and I'm trying to setup redis cluster, when i'm running the redis-cli --cluster create command its show everything is done successfully but in status its show two slaves disconnected.
Please help me out.

In logs it is showing replication id mismatch .

[2020-12-09 08:49] oranagra commented on #8124
I have two other random ideas that might get us somewhere:
1. maybe the data in your main db is already corrupt and shows no symptoms, but when modified slightly it does show symptoms. i.e. the corruption in one part of the data, can cause some innocent piece of code that processes the corrupt data, to corrupt data in other regions and only then we notice it.
so to try and smoke that out, we can t

[2020-12-09 10:23] guybe7 commented on #5813
i'm guessing a simple `XCOUNT key min max` will do the trick... easy to implement

[2020-12-09 10:45] guybe7 commented on #5827
@Eywek @Kama0165 a few things to mention:
1. while filtering XREAD should be fine, we can't do that in XREADGROUP (because every entry read by XREADGROUP absolutely has to go into the consumer PEL - where will the filtered entries go to?). so far the commands have the same syntax, i wouldn't want to change that.
2. starting from version 6.2 both XREAD and XREADGROUP will be allowed in lua (without

[2020-12-09 10:57] guybe7 commented on #7388
maybe XREAD/XREADGROUP should check for `[` when parsing the ids?
this would work for this use case (`XREAD BLOCK 10000 STREAMS key [$`) and it's not too confusing (like using `+`)
of course that `[>` is illegal

[2020-12-09 11:05] guybe7 commented on #5934
@vladfaust @edgurgel i have a workaround for this issue:
1. every time you read a message and want to reject it, use XCLAIM in order to transfer it to some `nacked_messages_consumer`
2. every once in a while use XPENDING on `nacked_messages_consumer` and `XCLAIM` those messages to a "real" consumer

so far we can't find a proper way to handle this issue (much like #7649) so i though this workaroun

[2020-12-09 11:13] Eywek commented on #5827
I think the @alquist42 proposal is quite good and maybe simpler don't you?

[2020-12-09 11:21] guybe7 commented on #5827
the thing is, while we can have XREAD reading information regarding only a subset of the existing entries, for XREADGROUP it's impossible - and i don't think it's a good idea to have such a big difference between XREAD and XREADGROUP

also, i forgot to `git fetch` - XREAD and XREADGROUP are allowed in scripts since 6.0.0

@Eywek can you explain what is it in the lua solution that you don't like?

[2020-12-09 11:28] Eywek commented on #5827
It's not that I don't like the lua solution, I only think that an implementation in redis itself could be more efficient, but maybe I'm wrong.

Anyway, I'm no longer in the same company and I don't have this use case anymore so maybe it's better that someone who still have this issue give his opinion about it.

[2020-12-09 12:51] itamarhaber commented on #8142
Thanks for the confirmation @pgerhard. As for the docs, it is actually there, please see:

* The history section of [`ACL SETUSER`](https://redis.io/commands/acl-setuser#history)
* Around the middle of the ["Creating and editing users ACLs with the ACL SETUSER command" section](https://redis.io/topics/acl#creating-and-editing-users-acls-with-the-acl-setuser-command) in the ACL doc, where it states

[2020-12-09 12:51] #8142 closed

[2020-12-09 13:04] karock commented on #8124
there instructions somewhere for running redis-server with valgrind? is it just adding a --valgrind flag or is there more to it at compile-time?

[2020-12-09 13:14] oranagra commented on #8124
you can compile redis with `make valgrind` but that doesn't do much (just disables all compiler optimizations, and uses libc malloc instead of jemalloc).
the real magic happens when you prefix the redis-server call with valgrind (possibly even without a special build of redis, although it can help).

for instance you can run:
[code]
but note that valgrind can cause redis to be about 100 times slow

[2020-12-09 13:16] karock commented on #8124
ok, will play with some of these suggestions today. going to get the unstable branch installed and see about the `sanitize-dump-payload` thing because that seems easy enough. I strongly suspect our RDBs are actually fine and there's no corruption in memory, but doesn't hurt to check. then we'll see about valgrind on a spare live replica.

[2020-12-09 13:24] karock commented on #8124
btw you never said anything about the error turned up by valgrind in the test suite I reported in this comment https://github.com/redis/redis/issues/8124#issuecomment-738106856

wasn't sure if you missed it due to my subsequent comment about the bgsave crashes or if it wasn't interesting info. just making sure you did see it in case it's useful.

[2020-12-09 13:40] karock commented on #8124
well that seems interesting... unstable

[code]

[2020-12-09 13:46] karock commented on #8124
well that seems interesting, unstable is complaining about an rdb that 6.0.9 is fine with. starting with sanitize-dump-payload complains the same way as redis-check-rdb does:

[code]

[code]

tried it on 2 different RDB files to be sure and it failed almost immediately into both.

I also tried it on our x86-64 instance that is replicating an ARM node in the cluster (so this RDB was created by an x

[2020-12-09 13:49] lycronaldo opened #8165 "[BUG]"
**Describe the bug**

In src/anet.c, line 503, _anetTcpServer will call  anetV6Only. If it failed in setsockopt at line 471, it will close the socket and goto label error at line 513 without change socket to -1. Suppose that we do not support IPV6 Protocol, and we create a socket, then it will be closed. And at the "error" label, it will be closed twice and return a errno EBADF, which will cause f

[2020-12-09 14:10] oranagra commented on #8124
first, regarding that valgrind error you got from the tests, that's a problem in the tests (already resolved in unstable).

secondly i think we found the problem, but sadly (not the root of the problem).
this test using unstable confirmed my theory that your data is already corrupt in some way that goes undetected. but then some commands that modify the data are confused by this corruption and thi

[2020-12-09 14:30] karock commented on #8124
I ran the test suite from unstable on ARM after `make` before doing anything with the executables, everything passed. I didn't run with valgrind, can if you want me to.

I checked the keys it complained about here and they both seemed fine to me. `zrange <key> 0 -1 withscores` in both cases returned valid-looking stuff. I don't know if there should be more to them and it's protecting me from it so

[2020-12-09 14:33] wajahat021 opened #8166 "[QUESTION]How to restrict users on a specific DB"
Hi,
Is there a way to restrict  ACL users to a specific Redis DB. since as per your response KEYS do not operate on keyspaces and prefixes so as per my requirement if the user only allowed all commands on a specific DB that would be helpful

RESPONSE URL=https://github.com/redis/redis/issues/8152#issuecomment-740191541

[2020-12-09 14:40] oranagra commented on #8124
i don't think it's necessary to run unstable with valgrind on ARM. although who knows.. maybe it'll surprise me.

the reason that after a re-save of the RDB you fail on another key is that the order of the keys in the RDB change every time it is generates (or actually loaded).

the command stats i asked for are from `INFO COMMANDSTATS` (not COMMAND output).

i'll try to look into the key dumps you

[2020-12-09 14:41] karock commented on #8124
[code]

[2020-12-09 14:44] karock commented on #8124
our backups > 1 month old are in glacier so I'm requesting one from january to be restored to S3. I'll grab the oldest still in S3 to compare with as well, it should be from 5.x pre-ARM I think.

edit: guess not, oldest we have in S3 is Dec 1. Will just have to wait for glacier to restore one from Jan.

[2020-12-09 15:06] oranagra commented on #8124
sorry about that. there was a silly bug in unstable (#8167), forget about the conclusions from loading your dumps into that version and try again (pulling a new unstable).
the dumps you share are good.

[2020-12-09 15:07] karock commented on #8124
yeah I was wondering if that was the case. will give it another go and report back.

[2020-12-09 15:25] ShooterIT commented on #8145
From your first graph, as we expect, `clusterNodeSetSlotBit` will be called "nodes number * 16384", if we have many modes, cluster nodes commands will be costly. Maybe when need to generate all nodes description, we can only generate slots topology once instead of generating for every nodes, so complexity will be from O(16384*nodes) to  O(16384) .

For topology cache, and just identify the cache i

[2020-12-09 15:28] karock commented on #8124
no complaints under the new unstable build:

[code]

[code]

[2020-12-09 15:40] oranagra commented on #8124
ok then. you can cancel the request to fetch the old backups.
and the only idea i have left for now is Valgrind.

[2020-12-09 15:49] karock commented on #8124
would there be any point in having an unstable build replica and running backups off of that without valgrind to see if anything changed from 6.0.9?

[2020-12-09 16:00] itamarhaber commented on #8099
Hello @hpatro

Thank you for the proposal and for investing the time in this discussion. After further discussing this, the team had decided not to advance with this. The reasoning follows - please let me know if it makes sense to you.

Redis had support for logical/shared/numbered databases from version 1.0. This feature proved to be a cause for numerous problems over the years, mostly because of

[2020-12-09 18:20] oranagra commented on #8124
I have a feeling that unstable will behave the same way as 6, but I guess it won't hurt to try. If for some reason it'll be immune to the problem, we can bisect the commit log.

[2020-12-09 18:20] #8165 closed

[2020-12-09 18:35] hpatro commented on #8099
Not a problem. All of these above point makes sense and seems the reason behind not having lot of these per database level features and clarifies other community request(s). Thanks for the detailed response.

[2020-12-09 20:38] hwware commented on #6294
just take a quick glance of the code, we might need to change the approach used in the pipe mode implementation if we need to fix this issue. since currently it is implemented in a non-blocking way, however during cluster redirect it need to know which command it fails and doing resend rather than check and count the reply only. If anyone has some comments in this issue? Also glad to hear and disc

[2020-12-09 21:30] yossigo commented on #6294
@hwware the problem is that pipelining is required when attempting bulk operations, as if we block the next command until we receive a reply we'll end up binding our throughput to latency. I think the problem with redirects is not so much about knowing which command it applies to, but actually maintaining a backlog so we can rewind and re-transmit on demand. It can be done of course but it's going

[2020-12-09 21:42] karock commented on #8124
so very preliminary results, but we've attached the unstable-build ARM instance to the cluster as a replica and I've been executing a dump/check loop script on it. so far it is 13 for 13 successful attempts. compared to an ARM 6.0.9 instance running the same script which started off with a failure and is now 1 for 3. will leave them running overnight to grow the sample size. fingers crossed the un

[2020-12-09 22:27] karock commented on #8124
bummer.
[code]
so I guess unstable branch isn't immune. tomorrow will try to get it added to the cluster running valgrind unless you've got any other ideas.

[2020-12-09 22:38] madolson commented on #8124
AWS Engineer here, we have seen some similar issues with the version of jemalloc used by redis not playing nicely with Graviton 2 instances. Can you try compiling it with libc and trying it again?
[code]

[2020-12-09 22:40] karock commented on #8124
will give it a go, thanks

[2020-12-09 22:55] madolson commented on #8164
The replication id mismatch just means that a partial sync failed, but it should still be doing a full sync. Can you provide more of the logs and the "cluster nodes" output?

[2020-12-09 22:56] madolson commented on #8163
Your link just points to the current address, I'm not sure what the problem is? This is also primarily used for bugs, you might try reaching out to the mailing list as well: https://redis.io/community

[2020-12-10 02:40] madolson commented on #6048
It seems like this is a big community ask, but I don't think we really have a solution yet that plays well with Redis. The solution put forward by @elenigen requires adding a lot of new commands, and will greatly complicate the schema. This problem is also generalizable to all the collection data types, so whatever solution exists, it should be generalizable.

If people are still following this, w

[2020-12-10 02:41] madolson commented on #6048
Related I guess, https://github.com/redis/redis/issues/7941

[2020-12-10 02:49] jiekun commented on #8099
@itamarhaber Thank you very much. Great explanation.

This is related to: **why Redis cluster doesn't support multiple DB ?**

I assume a lot of people is curios about this and did not find answer in doc and code annotations. Would you consider link/paste your reply to document and code annotation later? :)

[2020-12-10 04:30] sujayvenaik commented on #6048
@madolson I would be happy to expand on our use cases where we somehow circumvent this problem. Let me know if you want me to add to this thread or post/email it somewhere else.

Some discussion on this community thread even: https://forum.redislabs.com/t/how-to-solve-the-problem-of-storing-empty-set/789

[2020-12-10 04:39] hwware commented on #6294
Hello @yossigo , thank you for your reply, maybe my last comment is a little bit confusing, what i mean for we need to know which command it fails is the previous executed commands it fails executing,since we need to redirect and send the command again.I think we are mentioning the samething.

For option 1 using backog, I think since we are doing a non-blocking way, therefore we cannot guarantee i

[2020-12-10 07:41] ohadshacham commented on #8124
I am also from AWS, you can try to disable the use of  MADV_FREE in jemalloc as was done in this commit: https://github.com/jemalloc/jemalloc/commit/8e9a613122251d4c519059f8e1e11f27f6572b4c
This should solve the issue.

Jemalloc 5.2/5.2.1 has disable the use of muzzy state as was introduced in https://github.com/jemalloc/jemalloc/issues/521
therefore, upgrading to a newer version of jemalloc shoul

[2020-12-10 07:51] oranagra commented on #8124
@ohadshacham how did you reach that conclusion? in your experience does that really completely eliminate the problem?

@jasone are you aware of any bug in that mechanism (above mentioned MADV_FREE) in jemalloc (5.1) that could cause jemalloc to corrupt memory, or lead to the application corrupting memory?

What's interesting here is that it seems to happen only in the forked child process (and onl

[2020-12-10 08:07] ohadshacham commented on #8124
@oranagra, I was also able to reproduce the issue only on Graviton.
I found out that I cannot reproduce the issue on jemalloc 5.2.1 and then looked for the root cause.

It happens in each execution while MADV_FREE is being used while not reproduced in hundreds of executions without it. I don't have formal proof though...

I am reproducing the issue in a very simple scenario using only a single mas

[2020-12-10 10:17] ohadshacham commented on #8124
@oranagra, this of course can either be a bug in redis, jemalloc or the way the os handles MADV_FREE (or hardware). I tried unsuccessfully to reproduce the issue on Graviton without redis.

[2020-12-10 12:50] karock commented on #8124
overnight we ran the dump/check loop on two replicas on 6.0.9: one using libc and one on the default version of jemalloc. It seems that the tighter loop fails less often (compared to our normal backup schedule of hourly), but the jemalloc one had 1 failure out of 157 and the libc had 0 failures out of 174.

wondering your opinion on best path forward. if the new info reported here overnight is lik

[2020-12-10 12:51] gripleaf commented on #8145
generate slot topology in advance is a good idea. code complexity is simplier than data structure.

below is my implemenation about generate slot topology before call `clusterGenNodeDescription`
[code]

And, i also test it in same scenario.  In the test, compare to the data structure idea, generate slots in advance cost much time on `clusterGenNodesDescription`, but less time on `clusterCommand`(w

[2020-12-10 13:55] oranagra commented on #8124
@karock i estimate that this will be resolved soon, but "soon" may still take a few weeks (who knows).

By now we know the problem is probably related to CoW, but please note that your risk now is not just having a backup that contains corrupt data (one that can in theory go undetected by redis-check-rdb), there's a that a replica will perform a full sync from a master, get a corrupt rdb while wil

[2020-12-10 14:34] ShooterIT commented on #8145
Looks good
@gripleaf  FYI, from your test, we can notice thant sdscatprintf is costly. Actually `sdscatfmt` is better than `sdscatprintf`, you can try to replace `sdscatprintf` with `sdscatfmt`, also please notice that format specifiers of  `sdscatfmt` are different from `sdscatprintf`

[2020-12-10 15:47] ohadshacham commented on #8124
@oranagra @karock https://github.com/jemalloc/jemalloc/commit/8e9a613122251d4c519059f8e1e11f27f6572b4c commit disables the muzzy decay and thus the use of MADV_FREE in jemalloc so versions 5.2 and 5.2.1 do not use MADV_FREE in madvise. Therefore, I assume it is safe but I would wait for Jason's response. I applied this commit to 5.1 and I was not able to reconstruct this bug. @oranagra is there an

[2020-12-10 18:43] oranagra commented on #8124
@ohadshacham the implications of such a change on jemalloc 5.1 could in theory be different than what it did when applied in 5.2 (maybe depends on other changes, i didn't bother to look, too busy elsewhere). let's wait for Jasone, unless @karock wants to test it on a disposable replica to check the theory.
Note that switching to libc malloc also has implications (more fragmentation or other unexpe

[2020-12-10 18:50] jasone commented on #8124
I don't know of any outstanding flaws in jemalloc's use of `MADV_FREE`. As a general comment, I have received several reports over the years of similar problems, and it seems more than one was in the context of new ARM-based FreeBSD platforms as they were being brought up. If there are kernel virtual memory bugs in `MADV_FREE`, jemalloc is likely to expose them.

That said, there are multiple poss

[2020-12-10 19:30] karock commented on #8124
I'm more than happy to set up another replica to test a jemalloc change, just need someone to let me know the best way to get the right code in the right place to do such a thing.

[2020-12-10 20:38] karock commented on #8124
wasn't getting the expected number of failures from our test that looped over bgsave -> check rdb, so we put all the test boxes back on the normal hourly backup schedule.

10.1.7.58 is graviton ARM running 6.0.9 compiled with libc memory allocator
10.1.6.52 is x86 running 6.0.9 with jmalloc
10.1.6.211 is graviton ARM 6.0.9 with jmalloc

output lines are:
[code]

any attempt where there is a proble

[2020-12-10 21:28] oranagra commented on #8124
Thanks @jasone few quick followup questions:
1. I assume jemalloc doesn't care if the process was forked (everything including 'muzzy' decay works the same as it does in the parent process).
2. why was 'muzzy' decay disabled in newer versions?
3. is it safe to also disable it in 5.1?

@karock i suggest to spin one replica in which you'll test if in your case too, applying https://github.com/jemall

[2020-12-11 09:13] gripleaf commented on #8145
Cool! After replace `sdscatprintf` with `sdscatfmt`,  the `clusterGenNodesDescription` has a better performance.
Bellow is perf:
![image](https://user-images.githubusercontent.com/2909003/101884742-1d8fc900-3bd4-11eb-90d2-664535996f3c.png)

[2020-12-11 13:00] karock commented on #8124
[code]

gonna say libc avoids the problem, x86 doesn't have it. will be attempting to set things up again with the change to jemalloc this morning.

[2020-12-11 15:41] ShooterIT commented on #8145
Hi @gripleaf  I think we can make a PR to optimize this problem. You can do it if you want. If you hope I make a PR, I will do it.

[2020-12-11 16:16] bonikforever opened #8172 "Redis sentinel 6.0.9 in docker: Could not create tmp config file (Permission denied)"
Running sentinel in docker 19.03.13.
On all available 6.0.x versions I got this error when sentinel tries to create new config. And sentinel works fine with 5.x.

[2020-12-11 16:31] #7946 closed

[2020-12-11 18:00] karock commented on #8124
so far so good...
[code]

[code]

only change I made was the one line to arena_types.h, then recompiled via `make clean && make MALLOC=jemalloc`

[2020-12-12 00:21] #4417 closed

[2020-12-12 11:36] oranagra commented on #8124
@ohadshacham @madolson considering the problem only manifest on Graviton together with COW, I think it's unlikely to be a redis or jemalloc bug.
I'd suspect the kernel or hyervisor.
I think the next steps should be to try and isolate it, see if it reproduces on other ARM platforms, bare metal Graviton, and maybe other OSes/kernels.

[2020-12-12 11:40] gripleaf commented on #8145
I would like to make a PR, but for some reason i can't do it.  I hope you make a PR please. Thank you so much.

[2020-12-12 13:07] alexkassil commented on #7943
To chime in, I created some visualizations contrasting the Redis version of the morris counter and what is found in literature. I looked just at insertions and used different values of server.lfu_log_factor based on https://github.com/redis/redis/blob/8c291b97b95f2e011977b522acf77ead23e26f55/redis.conf#L1851-L1865. In the chart the values of server.lfu_log_factor are called 'a', and then the formu

[2020-12-12 15:10] itamarhaber commented on #8099
@hpatro my pleasure :)

@2014BDuck - we're open for PRs, feel free to suggest anything. I'm not quite sure where you want this added to though as SELECT's docs already contain a (much more succinct, admittedly) notion of the above.

[2020-12-12 15:30] itamarhaber commented on #6048
I'm afraid that at this point it would be impossible to change the behavior without serious breakage to existing applications. The crux of the matter is that although the "empty set" exists by its own right (at least according to Set Theory), Redis' nested data types can't be "empty" (with the exclusion of Streams, naturally). This Redis principle applies to Strings (can't be nil), Hashes, Lists,

[2020-12-12 15:34] itamarhaber commented on #5813
I'd actually consider extending `XLEN key [min max]`, but that would turn it into O(something else).

[2020-12-12 16:00] franciscofabian opened #8173 "[BUG] Redis unstable make fails with BUILD_TLS=yes"
Running `make BUILD_TLS=yes` fails in the the latest redis-unstable version. I get this error, both on my Mac Mini with M1 chip and my MacBook Pro 16" Intel chip on macOS Big Sur.

[code]

[2020-12-12 16:06] karock commented on #8124
we've now had 27 successful bgdump/rdb checks and things seem stable with the muzzy change on 7.58. as a reminder 6.52 is x86 and 6.211 is graviton with default build of 6.0.9, which has continued to fail on the first attempt each hour at least half of the time while the others succeed.

let me know if anything else would be useful to know out of our setup, but sounds like you guys have a handle o

[2020-12-13 01:12] madolson commented on #8173
Yeah, for compatibility we generally avoid bools. This should be an easy fix.

[2020-12-13 04:53] madolson commented on #8124
@oranagra I mostly concur, I'm not convinced it's not a problem in Redis though. There could be a very low key memory ordering issue we have been missing for a long time since everyone else optimizes it correctly, and Graviton is exposing it for some reason. An issue with Amazon Linux 2 or the Nitro hypervisor is probably more likely. I guess we'll keep following up on that front.

In the meantime

[2020-12-13 05:43] GFPdu opened #8177 "[BUG] Could not connect to Redis at 127.0.0.1:6379: Connection refused - Apple Silicon"
Redis is failing when I try to, for example, ping redis-cli. I have tried reinstalling but it's not working. On the output of the terminal I got a message to report the issue "Please report the crash by opening an issue on github..."

To reproduce the error I execute redis-cli ping, redis-server /usr/local/etc/redis.conf, redis-server, etc.

4325:M 13 Dec 2020 02:35:38.910 # Redis 6.0.9 crashed by

[2020-12-13 07:47] oranagra commented on #8177
@GFPdu this reminds me a stack trace i've seen in #8062
Are you by any chance using Apple Silicon?
Can you try to build redis from the `unstable` branch?

[2020-12-13 07:56] #4185 closed

[2020-12-13 08:04] #8127 closed

[2020-12-13 09:11] #8173 closed

[2020-12-13 09:55] oranagra commented on #8172
@bonikforever can you please add more details?
did you get any assertion? error? or crash log?
did you build and configure redis yourself or download it from docker hub?
could this be related to #7824 (merged into 6.0.9)? did you test an earlier version of 6.0.x?

[2020-12-13 12:15] bonikforever commented on #8172
@oranagra thank for you question!
This is what I get in log:

[code]

I used image from docker hub with simple config:
[code]
And error raised when sentinel tries to update confg.

I couldn't say anything about C code but this error happens only in 6.0.9. In 6.0.8 and earlier it doesn't.

Command to run:
[code]

[2020-12-13 12:40] #6727 closed

[2020-12-13 15:23] yossigo commented on #8172
Hi @bonikforever, thanks for reporting this. This is a result of a bugfix that introduced a regression when the directory where the configuration file resides cannot be written to (which is more or less the case with a single file bindmount).

You can work around this easily by bind mounting the entire directory. For example:

[code]

[2020-12-13 16:15] gabrielfremd commented on #8177
Hey @oranagra thanks a lot for your answer, it was very helpful. In fact yes, I am using Apple Silicon in a 13" M1 Macbook Pro. Finally I was able to solve the issue using `sudo redis-server --daemonize yes` as suggested [here](https://github.com/redis/redis/issues/8062#issuecomment-731768818), and it's good enough.
Thanks a lot!

[2020-12-13 16:17] #8177 closed

[2020-12-13 16:27] kcudnik commented on #8077
After merge https://github.com/redis/redis/pull/8180 this problem will be solved.

[2020-12-13 20:09] yossigo commented on #6294
@hwware I agree with you that it would be better to be able to handle migrations during `redis-cli --pipe`.

[2020-12-13 20:34] prekageo opened #8184 "[BUG] Memory fragmentation when using log-normal value sizes"
**Describe the bug**

There is a memory fragmentation issue in Redis. Given a log-normal value size distribution, it can lead to out of memory conditions. The problem is solved, if you upgrade the jemalloc bundled within Redis from 5.1.0 to 5.2.0.

The issue happens with read-only and read-write workloads.

The only requirement to reproduce the issue is to load the database with values of log-norm

[2020-12-13 20:41] yossigo commented on #845
Duplicate of #8138

[2020-12-13 20:41] #845 closed

[2020-12-13 21:37] oranagra commented on #8184
@prekageo thanks for that tip. we do indeed need to upgrade jemalloc sooner or later.

From what i understand, this benchmark (python part) generates about 6GB of memory usage,
And the redis-benchmark execution generates high client output buffer consumption, during which redis reaches a peak of some 12GB usage.
From what i can tell, at neither of these points in time there's no fragmentation (the

[2020-12-13 21:58] oranagra commented on #8184
@prekageo putting aside what this test actually achieves.
By looking at your script, it seems you're aiming for a very specific pathological edge case (considering the use of `lognorm`).
So i suppose that one may exist and your script just didn't manage to expose it (yet)?
although in that case, i have to wonder why are the redis-benchmark and sleep needed.

Are you trying to reproduce a problem w

[2020-12-14 01:48] prekageo commented on #8184
Hi @oranagra. Thanks for the detailed explanation.

I have observed in real-world situations that Redis was running out of memory while doing a read-only workload. That was unexpected for me so I started looking deeper into the problem. Then, I realized that the problem happens when using a heavy tailed distribution for the value sizes (such as log-normal). The script and reproduction steps are ju

[2020-12-14 05:48] Amitgb14 commented on #7174
yeah, this issue resolved after using clang compiler

[2020-12-14 07:29] oranagra commented on #8184
@prekageo thank you for clearing it up.
Read operations in redis do indeed consume memory and can either trigger key eviction (if `maxmemory` is set), or cause the process to grow which can lead to an OOM kill.
There is a `client-output-buffer-limit` config that can be used to disconnect clients when they're output buffer grows too much, and we also have other plans for improving this in the futur

[2020-12-14 07:45] satisfied83 opened #8186 "[NEW] Logging Format / Prevent Timestamp"
**The problem/use-case that the feature addresses**

Currently logging to stdout cannot be formatted. Since i am redirecting stdout from running redis in a docker container to a syslog server i do not need the additional timestamp format, cause i will see it twice in that case.

**Description of the feature**

It would be helpful if it is possible to define the logging format, or at least (in my c

[2020-12-14 07:56] bonikforever commented on #8172
@yossigo you right, directory with config must be writable.

[2020-12-14 08:38] dbschema-pro commented on #8147
Thank you for your reply. Would it be a native command much faster than an LUA script? I don't know how the LUA script works. I think it is a standard for Redis to combine text with numbers to generate keys. And probably users need to document their databases, therefore a native command to list all unique keys ignoring the numbers inside would help.

[2020-12-14 12:37] cade-kd opened #8188 "[QUESTION] should a condiction be added before cascade update when merge two string in ziplist.c file"
https://github.com/redis/redis/blob/unstable/src/ziplist.c#L1111
`target = __ziplistCascadeUpdate(target, target+first_offset);`

Is there something wrong (a bug) about the first_offset is used here?
I think the order of the two string first and second should be consider.
When the second string is stored before the first in target, the second_offset  should be used, not the first_offset.
The right

[2020-12-14 14:07] prekageo commented on #8184
@oranagra you are right. I've tried with a fixed value size of 300 MB and I observe the same behavior. And indeed the memory is eventually freed (as long as you stop the client before OOM).

Maybe it's my misunderstanding that this behavior is caused by fragmentation. I supposed so because one of the commits of jemalloc that fixes this behavior mentions "...which significantly improves VM fragment

[2020-12-14 15:09] oranagra commented on #8184
if client-output-buffer-limit and maxmemory are not set, and the client sends an uncontrolled pipeline, it can cause OOM kill anyway, the new version of jemalloc doesn't change that.
There are also other problems with client output buffers (even if limited), see #7676, we hope to get to handle that some day soon.

[2020-12-14 15:12] #8172 closed

[2020-12-15 04:42] madolson commented on #8147
We can leave this request open to see if other people have a similar use case. My guess is that this isn't that popular of a request. LUA scripts are usually the solution to sort of odd ball requests.

You can of course also look into building your own function with https://redis.io/topics/modules-api-ref.

[2020-12-15 04:45] madolson commented on #2902
It does, you can use flushDB async if this is causing any problems for you.

[2020-12-15 04:45] #2902 closed

[2020-12-15 09:36] oranagra commented on #7943
@alexkassil thank you for this detailed analysis!!
let's keep the issue open for a while in case there are any objections or methodology questions.

[2020-12-15 12:08] oranagra commented on #8188
I don't think so (the current code looks ok).
`first_offset` is the tail offset (`ZIPLIST_TAIL_OFFSET`) of the first ziplist, i.e. the byte offset of the last record in the ziplist (the one that went first into the target).
so that's where we should start the search for the cascade effect (to update prevlen).
it doesn't matter which one of them got reallocated, and if was `memmove`ed or `memcpied`

[2020-12-15 13:13] joostdecock commented on #8055
There's another use-case: Unlike a clear-text key, an encrypted key could be checked in into git, or baked into a container image.

Obviously the points you raise remain valid. I just wanted to point out that adding this configuration option would allow keeping key+certificate under version control.
As such, I feel some sort of `tls_key_passsphrase` configuration option would add value even withou

[2020-12-15 14:11] wickeym opened #8195 "[BUG] Mac Air Big Sur 11.1 Apple Silicon M1"
I installed redis from homebrew and got the following crash on start attempt (it doesn't work).
`redis-cli` simply returns `Could not connect to Redis at 127.0.0.1:6379: Connection refused`

[code]

[2020-12-15 14:45] oranagra commented on #8195
@wickeym thanks for reporting.
this is a duplicate of #8062
resolved by #8088 and #8150
Please check Redis 6.2-RC1, it should fix this problem.

[2020-12-15 14:45] #8195 closed

[2020-12-15 18:25] karock commented on #8124
I take it the jemalloc bump didn't make it into the upcoming 6.2 release?

[2020-12-15 18:41] oranagra commented on #8124
No, I think it may be too late to introduce that change in Redis 6.2

[2020-12-15 19:37] yossigo commented on #8055
Thanks @joostdecock, this is a good point.

[2020-12-15 21:52] yossigo commented on #8111
I agree with @oranagra and @madolson, we should treat a failed `fsync` as a write error leaving the *currently opened* file in an undetermined state, but it may be recoverable.

[2020-12-16 02:04] chengshanbin opened #8198 "[QUESTION]when I get “SYNC and PSYNC are invalid with pending output” after sending psync to redis， what should I do ？"

[2020-12-16 02:46] Odysseusailoon opened #8199 "[QUESTION]ACL child user can inherit commands that his father user is not allowed to use."
hi, I think it's a little bit weird and it can cause some problems that we might do not want to see in the development.

if we create user A, and we only allow him to use **SET** , **ACL**.  And when we auth A,  A can set a user B the commands that A is not allowed to use, then he can log into B and use the commands that he is not allowed to use.

Is it a bug or a feature?

[2020-12-16 05:12] madolson commented on #6048
@sujayvenaik Posting it here would be great.

I think Itamar is probably right though. I don't think there is really an option here to solve the use case. We could potentially include a mode that returns nil on missing keys, but that doesn't really seem like the right option to me. If this problem isn't solvable on our side, it would be nice to close this issue and give everyone closure.

[2020-12-16 06:17] madolson commented on #8124
From an internal communication:
[code]

[2020-12-16 06:22] madolson commented on #8124
I think we should do something for 6.2 and future versions, since this seems like a significant bug. Disabling muzzy decay on ARM64 seems like the most straight forward thing to do for now, we can decide to merge jemalloc in the future or find some other fix.

[2020-12-16 07:37] oranagra commented on #8124
As suspected, a kernel CoW bug. thanks for finding and reporting.
I wonder how at all it is able to run Linux and get that far without crashing a lot sooner, and why it wasn't detected before being released. (i suppose that combination of MADV_FREE and CoW is not that common).

Anyway, I'm not sure it is Redis's job to work around that bug, It seems to me that everyone affected should upgrade his

[2020-12-16 07:44] ShooterIT commented on #8186
I am not sure we should do that. Redis log implementation is very concise, I think we should keep it simple.
For your case, i think you can change code easily, just remove timestamp in this line. Of course, you can implement your format
https://github.com/redis/redis/blob/unstable/src/server.c#L1109-L1110

[2020-12-16 10:01] oranagra commented on #8199
@Odysseusailoon i'm not exactly sure what you mean by "inherit" and "father".

If someone is creating a limited user (prohibited from running certain commands), and allows that user access to the ACL SETUSER or other ACL commands (like LOAD and DELUSER), it's kinda like granting that user a supervisor rights, and it obviously able to use it to gain access to the commands that it was initially proh

[2020-12-16 10:49] yossigo commented on #8124
Kernel version checking may be tricky because major distros maintain their own kernel and backport fixes, so we may end up with false positives.

We can disable it by default on arm64 and maybe try to do a runtime check and produce a warning, to cover system jemalloc cases.

[2020-12-16 10:56] RandallShanePhD opened #8201 "[CRASH]"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version - OSX Big Sur v11.1
2. Steps to reproduce (if any) - brew install redis, redis-server

[2020-12-16 11:06] oranagra commented on #8166
this is discussed in length in another issue, so i'm closing this one as Duplicate of #8099

[2020-12-16 11:06] #8166 closed

[2020-12-16 11:14] oranagra commented on #8201
Duplicate of #8062
Feel free to try Redis 6.2 RC1

[2020-12-16 11:14] #8201 closed

[2020-12-16 14:36] AGSaidi commented on #8124
i agree with with oranagra@. This workaround doesn't belong in Redis, it should be fixed in the kernel and the fix was CCed to stable.  All the distros should pick it up for their stable releases. I'll personally chase this with the popular distros to make sure it's applied in their kernels.

[2020-12-16 15:58] karock commented on #8124
I guess Amazon Linux 2 is still using the 4.14 kernel? I know this probably isn't the best place to ask but any idea if the fix will get incorporated into older kernels now that it's been figured out and fixed in 5.10.x?

[2020-12-16 16:19] AGSaidi commented on #8124
Both AL2 kernels will have the fix in the near future.

[2020-12-16 17:22] oranagra commented on #8124
Regarding a redis patch, here's what i think should be done:
1. we need to get some reassurance that applying that change on Jemalloc 5.1 is safe, and learn what exactly are the implications. Then we can decide if we want to blindly apply that patch on all ARM64 builds or not.

even if that patch is safe and has no drastic implications, applying it in redis is not enough for two reasons:
a) it doe

[2020-12-16 18:27] #5775 closed

[2020-12-16 19:42] Javabien commented on #6048
The two workarounds are still clunky in my opinion, so for example the "" string for empty set, is not even the same type so it would break on the client side. We would need to catch the error and detect that it's an intentional error.  The other solution with an extra index is very bad in terms of performance, since you need a second hit to Redis to resolve your response and you would have risk o

[2020-12-16 20:19] yossigo commented on #6048
@itamarhaber I think your solutions are the handy ones.

Another solution is to create a custom data type module, which should be fairly simple. In terms of performance/memory efficiency it will not be 100% the same but very close.

The only way I see this supported in Redis core is either as a new data type and set of commands (ouch), or abandoning the idea that keys have no metadata so clients c

[2020-12-16 20:33] dbschema-pro commented on #8147
My job is to write a JDBC driver for Redis, and this is going to be included in a database design tool - DbSchema.
There are customer requests to make possible a visual design for Redis. And this can be done only by having good key management.
Our request is to know the possible keys excluding the number from the key suffix.
If I write by myself a Redis function using modules, I have the problem t

[2020-12-17 00:04] mgravell commented on #8147
For info: we have something *broadly* like this in "opserver" (which can monitor lots of systems, not just redid - SQL, haproxy, elastic, etc). What we ended up doing was using a bunch of user-defined regex queries in the config, and test them while ding a SCAN per database, which allows folks to understand the makeup (in terms of counts and sizes) of their redis data. It recommends to execute aga

[2020-12-17 00:05] mgravell commented on #8147
Also: I would probably avoid Lua here: that is going to tie up the worker thread on the server, which could significantly impact competing connections.

[2020-12-17 03:14] Cloud-Zhang opened #8204 "[BUG] redis 6.0.8 sentinel can't make the master to slave"
**Describe the bug**

we have one master and one slave node . and each node also have the sentine service . Beside this we also have the single one Sentinel node. Now we have this case we set the keys to the master reached the maxmemory. and  we make the manaul failover. The sentinel config rewirte success but the result is the slave become the master and the original master not become the slave.A

[2020-12-17 05:20] ShooterIT commented on #8198
In your client connection, there may be remaining replies that you need to entirely read firstly.
https://github.com/redis/redis/blob/unstable/src/replication.c#L722-L725

[2020-12-17 06:00] madolson commented on #8186
I wouldn't be against making the the line on 1109 take a string from the server config, allowing it to be configured. That seems like 5 lines of code, and could potentially solve other use cases.

[2020-12-17 06:10] madolson commented on #7996
This seems answered.

[2020-12-17 06:10] #7996 closed

[2020-12-17 06:11] madolson commented on #7451
It makes the implementation simpler :).'

Closing because this seems inactive.

[2020-12-17 06:11] #7451 closed

[2020-12-17 06:13] #7376 closed

[2020-12-17 06:23] madolson commented on #7313
@joshxyzhimself Can you formalize your testing a bit more. You should get an error about not being able to execute the publish command in the pubsub context. I'm guessing there is some bug in your code.

[2020-12-17 06:26] madolson commented on #7073
Redis incrementally rehashes dictionaries, instead of doing it all at once. This is an attempt to limit latency spikes.

[2020-12-17 06:26] #7073 closed

[2020-12-17 06:27] madolson commented on #7072
This actually does do what it is supposed to do. We only call clusterRedirectBlockedClientIfNeeded from one place, and it properly unblocks clients that it needs too. The code is a little clunky, but it is right.

[2020-12-17 06:27] #7072 closed

[2020-12-17 06:27] #7070 closed

[2020-12-17 06:29] jessezwd opened #8205 "[fatal] process 4812 has not started"
I am running Redis 6.0.9 on MacOS Big Sur, when running 'make test', I got the following error:
!!! WARNING The following tests failed:

*** [err]: Check for memory leaks (pid 4812) in tests/integration/rdb.tcl
Expected '*0 leaks*' to equal or match 'leaks[4899]: [fatal] process 4812 has not started'

I don't know if this is a bug or not, I report it anyway.
BTW, redis server and redis cli start O

[2020-12-17 08:48] Odysseusailoon commented on #8199
Thank you! it's exactly what I mean.

[2020-12-17 08:48] #8199 closed

[2020-12-17 08:52] oranagra commented on #8205
@jessezwd what hardware do you use? is it ARM or x86?
can you try Redis 6.2 or the `unstable` branch?

[2020-12-17 09:08] oranagra commented on #8163
closing this for now.
feel free to re-open with more details.

[2020-12-17 09:08] #8163 closed

[2020-12-17 09:17] yossigo opened #8206 "Tracking invalidations order is not consistent across commands"
This is apparent when invalidation messages are sent on the same connection, as they may be received before or after the mutating command's reply.

For example, `HSET` delivers the reply first:

[code]

On the other hand, `HDEL` will deliver the invalidation first:
[code]

It seems the order of producing the reply, calling `signalModifiedKey` and creating a keyspace notification (which is also aff

[2020-12-17 09:45] oranagra commented on #8206
i agree. I think signalKeyModified should be always called after the modification.

[2020-12-17 11:46] oranagra commented on #8043
@galleChristian your text is really hard to follow.
please try to clean it up (both formatting issues, and also maybe you can add more context or make it easier to follow).

if i understand correctly, you're complaining about two things:
1. the these two arrays of 64 elements are too big (we won't actually reach the high indexes. what number do you suggest? p.s. few more bytes on the stack won't c

[2020-12-17 11:47] yossigo commented on #8206
@oranagra just to clarify, the issue is not the modification itself but the reply.

[2020-12-17 11:52] oranagra commented on #8206
sorry, my bad.
it's probably right that signalModifiedKey will be after modification (together with keyspace notification which issues a callback for modules).
and it's probably right to also do it after the reply (many times the reply is composed inside a loop and only at the end we know what we did).

[2020-12-17 16:04] 123Jun321 opened #8207 "[QUESTION]how to understand client_total_sent_bytes_outstanding paramter in the output of info command?"
hi

when we run the info command and we see there was a parameter named client_total_sent_bytes_outstanding in the Clients section like this:

Clients
connected_clients:5
client_longest_output_list:0
client_biggest_input_buf:0
client_total_writes_outstanding:0
client_total_sent_bytes_outstanding:0
blocked_clients:0

but we can't search for the meaning of this parameter on the internet, could you t

[2020-12-17 16:55] madolson commented on #8206
I agree, the signalModifiedKey should always be after the key is modified.

[2020-12-17 17:01] madolson commented on #8207
What version of redis are you running? The latest code doesn't have the field: https://github.com/redis/redis/blob/unstable/src/server.c#L4382

[2020-12-17 17:43] xingbowang opened #8208 "[NEW]"
**The problem/use-case that the feature addresses**

When a new node join cluster bus, and become replica of a primary, cluster bus will immediately advocate the new node as a replica of the primary to client. If client query the new node before it caught up on replication, it will get either empty result or rejected response when the new node is loading data.

**Description of the feature**

Serv

[2020-12-17 17:51] madolson commented on #8208
We talked about this a couple of months ago, and there was some weak consensus that we could add a new field to the cluster slots/nodes output that the node is loading/ready to take traffic. We would need to gossip this new information.

[2020-12-17 18:26] queeno opened #8209 "[QUESTION] Why does setting `auto-aof-rewrite-percentage 0` not prevent redis replicas from rewriting aof file?"
Hi Redis developers,

I'm using Redis version 6.0.9 on Kubernetes using the [Bitnami Redis Helm Chart](https://github.com/bitnami/charts/tree/master/bitnami/redis), in master-replica mode.

From the documentation (reported below), I understand that the AOF rewrite feature can be disabled by setting: `auto-aof-rewrite-percentage 0`.

This produces the desired effect on the Redis master, but not on

[2020-12-17 19:38] itamarhaber commented on #8206
Agreed. And even if it doesn't make sense for some reason, we should at least be consistent (in regards to when we send the invalidation).

[2020-12-17 21:12] madolson commented on #8057
I don't think it is strictly a concern for you, since redirects will still work. I'm going to look into deep diving it though.

[2020-12-17 21:12] madolson commented on #8057
We only clear the fail state when the node is responding to us, and for some reason those two nodes aren't talking to each other. If you take a look at the log:

[code]
Ping sent time -> 1605495090788
Pong response time -> 1605495090788

That time is about 6 hours compared to the next closest node. It also means we sent a ping, and the other node never responded.

[2020-12-17 21:20] dbschema-pro commented on #8147
Working with regexp as a solution is not something for large databases.
I still think the best approach will be to have a parameter for one of the commands ( like keys ) or a separate command.
The requirement to have a visual organization of Redis is high. Real customers need this. And you are the best to provide a solution for it.
Maybe we can implement a first a LUA script, maybe you can help us

[2020-12-17 21:32] madolson commented on #8057
My best guess, for right now, is that we both received a pong and sent a ping in the same ms, and that ping got dropped. In that case, we would never detect that dropped ping.

[2020-12-18 02:00] 123Jun321 commented on #8207
hi, Madolson,

Thanks for your information, we are using Azure Redis, it seems that this parameter may be created by the Azure side?

the Redis version:4.0.14

[2020-12-18 03:05] nmvk commented on #2762
Hi @itamarhaber @oranagra  Has there been any decision if we would want this to be implemented as `GETEX` or as part of `SET`? For clarification, We are expecting `GETEX` to be like `SETEX` an independent command and would not be adding the arguments for `GET` as it would turn it into a write command?

[2020-12-18 03:38] madolson commented on #8207
Yeah, seems to be an azure thing, I would follow up with them about what it means. It's probably client output buffer related, which is the bytes that have been written to client buffers but have yet to be sent out to the wire. But I don't know exactly.

[2020-12-18 04:10] amrjlg opened #8211 "i config aclfile in redis.conf ,when i use "acl load" reported error (error) ERR This Redis instance is not configured to use an ACL file."
redis version is 6.0(used docker)
the aclfile is empty
and the requirepass is also configed
my application use password "123456" also could connected the redis, please help me
my config is

[code]
docker compose is
[code]

[2020-12-18 05:14] jessezwd commented on #8205
I use x86. If Redis 6.0.9 works ok, I may not try Redis 6.2 currently. Thanks for your comment.

[2020-12-18 06:50] madolson commented on #8211
Can you `config get aclfile` to see what Redis thinks is the configured acl filename? It looks like the only way we throw that error is when aclfile is an empty string, but your configuration looks fine.

[2020-12-18 07:13] ShooterIT commented on #6860
For item3, I think we may should remove the read-only flag
For item12, multi-thread is not friendly with `fork`, i think it is necessary in future. I remembered localtime(called in serverLog) results child process deadlock.

[2020-12-18 08:29] oranagra commented on #2762
@nmvk I think Itamar's last suggestion is the right one.
I pinged the core team again.
we can start looking for someone with a bit spare time to implement this.

[2020-12-18 09:08] amrjlg commented on #8211
@madolson
![QQ图片20201218170745](https://user-images.githubusercontent.com/31244260/102596078-9bfbe600-4153-11eb-923b-fd9ddb398879.png)
The reponse is empty string , i do not konw why

[2020-12-18 09:22] ShooterIT commented on #8211
Could you make sure you used right config file instead of another one :)

[2020-12-18 10:11] amrjlg commented on #8211
the file "users.acl" have no content

[2020-12-18 10:16] amrjlg commented on #8211
i add some content in users.acl , it also report error
![)(K$R30OG63`W1Q ZLE7)10](https://user-images.githubusercontent.com/31244260/102602853-0bc29e80-415d-11eb-9727-527c6e99e34c.png)

[2020-12-18 10:18] amrjlg commented on #8211
use `config get requirepass` is also empty string

[2020-12-18 11:26] yangbodong22011 commented on #8205
Expected '0 leaks' to equal or match 'leaks[4899]: [fatal] process 4812 has not started'

From the error log, I noticed that this is **not a leak**, but because your Redis process has exited before leaks $pid is executed, `[fatal] process 4812 has not started`

I found that on different versions of macOS, leaks $pid (when $pid no longer exists), the error message is different ：

[code]

[Current c

[2020-12-18 13:08] zuiderkwast commented on #8147
@wise-coders Here is a LUA script which returns all keys with all numbers replaced by `*`:

[code]

You can run it using the EVAL command: `EVAL "<script content here>" 0`.

This is at least better than sending over all the keys to the client using `KEYS *`, but running this on a replica is probably still a good idea. You could also modify the script to use SCAN instead of KEYS to get the result i

[2020-12-18 16:59] madolson commented on #8211
Hey, it looks like something is not getting persisted correctly with your docker configuration. Github issues are for tracking bugs with the github project, here are some other places you can look into getting help: https://redis.io/community

[2020-12-18 17:06] prekageo commented on #8124
I am attaching a simple PoC [redis_8124.c.txt](https://github.com/redis/redis/files/5717040/redis_8124.c.txt) that demonstrates the sequence of events that lead to this condition.

It is tricky to get the right conditions to reproduce the bug because Linux must reclaim pages at a certain point and I do not know if there is a way to force it to do that. If it prints `PoC failed to reclaim pages. ig

[2020-12-18 17:13] madolson commented on #2762
I find GETEX with a delete argument a little akward, but I couldn't think of anything better. GETEX with DEL sounds good enough for me.

I think @nmvk is looking to pick it up, since he's recently contributed.

[2020-12-18 17:28] nmvk commented on #2762
Ack @madolson I will take a look at this.

[2020-12-18 17:36] bionicles commented on #6323
I would love to but I don't know C and I'm not familiar with the codebase.

What's the most efficient way to learn to add new commands to Redis?

[2020-12-18 18:02] oranagra commented on #6323
@bionicles this one is quite simple since it's easy to just follow the footsteps of SRANDMEMBER and do something similar for sorted sets.
But if you don't know C, you might lose a lot of time on things that might be trivial for others, so maybe if you don't feel like playing, you can leave it for someone else.

[2020-12-18 18:16] bionicles commented on #6323
https://github.com/redis/redis/blob/51eb0da824d2dae45bf5966e83f2089fba8d9c24/src/t_set.c#L794

[code]

[2020-12-18 18:36] bionicles commented on #6323
https://github.com/redis/redis/blob/51eb0da824d2dae45bf5966e83f2089fba8d9c24/src/t_set.c#L195
[code]

[2020-12-18 18:37] bionicles commented on #6323
Does dictGetFairRandomKey work for sorted sets?

[2020-12-18 18:53] oranagra commented on #6323
sorted sets can be encoded with two encoding types:
1. a combination of a dict (for fast lookup) and a skiplist (for the sorting part).
2. ziplist. a blob of bytes containing the elements (sorted) one after the other.

so if it's "skiplist" encoded, you can get random elements form the dict.
and if it's "ziplist" encoded (usually when there are not many elements), you can just use random by using

[2020-12-18 19:38] karock commented on #8124
@prekageo we noticed that if we ran the bgsave/redis-check-rdb loop continuously it rarely had failures, but if we backed it off to once per hour like our production backup script uses it failed > 50% of the time. we suspected some kind of page reclamation delay was involved somehow so that line of thinking seems to match our experience.

[2020-12-18 22:31] bionicles commented on #6323
I'd love to add it, but I think I ought to study C for a bit first.

Would it be possible for someone familiar with C and Redis to show how it's done?

This function could dramatically simplify our project code and save a lot of memory

[2020-12-19 12:08] itamarhaber commented on #2762
ACK 👍

[2020-12-19 14:39] prekageo commented on #8124
I came up with a better test for the bug which does not require cgroups and runs successfully every time. It uses `/proc/self/smaps` to check if the PTE in the child process is dirty or not.

[redis_8124_v2.c.txt](https://github.com/redis/redis/files/5719554/redis_8124_v2.c.txt)

[2020-12-20 07:47] oranagra commented on #8124
@prekageo thanks a lot for implementing this check!

can i ask for a few more modifications, so that I can just take it and embed it in redis and I don't have to test it myself on the two kernels?
1. i assume this can work all the same with a 2mb (or even 16k) memory map rather than 500mb. if not, we'll need some code to check what's a save size to allocate on the current system.
2. i would like t

[2020-12-20 17:08] oranagra commented on #6860
taking care of item 3 in #8216
@MeirShpilraien will take item 12 soon.

[2020-12-21 02:39] miluchen commented on #8209
Hi @queeno , here is what I tried..

I started two redis locally (the same ip but different ports), with one as the master and the other as a replica. The master uses port 6379, and the replica's config has `replicaof 127.0.0.1 6379`. Both the master and replica have `appendonly yes`, `auto-aof-rewrite-percentage 0` and `auto-aof-rewrite-min-size 1k`. It produces desired effect on both the master

[2020-12-21 04:44] yangbodong22011 commented on #8205
@jessezwd Hello, can you help transplant this commit [code](https://github.com/redis/redis/pull/8213/files) and test it on your computer?

[code]

[2020-12-21 07:52] 123Jun321 commented on #8207
Hi, @madolson,

Thanks very much!

[2020-12-21 08:14] MeirShpilraien commented on #6860
After discussion with @oranagra about 12 we think it might be dangerous and we would like to suggest another approach and hear your opinions.

The reason it's dangerous is that when a module calls `RM_Fork` it assumes that the fork process is created atomically (because the GIL is taken) and the database state of the fork will be the same as the parent when the fork was initiated. If we introduce

[2020-12-21 09:21] bluerfish opened #8220 "[CRASH] networking.c:1124 'ln != NULL' is not true"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.
13528:M 21 Dec 2020 05:55:27.516 . --- Processing packet of type 1, 2568 bytes
13528:M 21 Dec 2020 05:55:27.516 . pong packet received: 0x7f67c4660800
13528:M 21 Dec 2020 05:55:27.516 . GOSSIP 1ae0679481fd4597e4aab8e6e2404151f0af0161 1

[2020-12-21 13:19] #8198 closed

[2020-12-21 13:29] zalmane opened #8223 "Support for named arguments in Lua scripts"
**The problem/use-case that the feature addresses**

Currently, Lua scripts only supports ARGS that are passed in by position.
When dealing with scripts that receive multiple parameters it would be helpful to have named arguments.

**Description of the feature**

A module similar to "click" module in python for easy parsing of command line arguments. The lua script will receive these as an associa

[2020-12-21 16:10] yossigo commented on #8220
Seems like an IO threading bug related to `io-threads-do-reads` and handling of protocol errors, where `readQueryFromClient()` actually ends up producing a reply from an IO thread. In the mean time a reasonable workaround is to disable `io-threads-do-reads`.

[2020-12-21 21:56] madolson commented on #8223
Unfortunately it will be hard to change the syntax of the EVAL command at this point. It seems like this could be implemented in your client code, replacing some placeholder with the actual positional key, like a pre-processor before being sent to Redis.

[2020-12-21 22:55] madolson commented on #8207
No problems, closing.

[2020-12-21 22:55] #8207 closed

[2020-12-22 03:06] anamba commented on #8062
Aha! That helped me find this simple workaround:

[code]

(Yep, I just got a new M1 mac.)

[2020-12-22 03:41] bluerfish commented on #8220
thanks , i disabled parameter "io-threads-do-reads" , The above mistakes have never happened again。

[2020-12-22 03:41] #8220 closed

[2020-12-23 05:41] Tonimara commented on #6032
Deleting dump.rdb solved my problem with redis and gitlab. I was trying to understand the reason for the error message "Wrong signature trying to load DB from file" and "Fatal error loading the DB: Invalid argument. Exiting." The dump.rdb file was probably caused by some server crashes.

[2020-12-23 07:45] yossigo commented on #6032
This is not a crash but file remaining from the execution of a newer version of Redis. RDB version 9 was introduced in Redis 5 and cannot be read by older versions.

[2020-12-23 08:43] yangbodong22011 opened #8236 "Should the SWAPDB command set CLIENT_DIRTY_CAS?"
![image](https://user-images.githubusercontent.com/13137470/102976296-49983c00-453c-11eb-9f61-8cad8f506fec.png)

I think step3 should fail, because k=1 in db1, not the original `set k 2`.

The [current code](https://github.com/redis/redis/blob/unstable/src/db.c#L1335) handles `db->blocking_keys`, but does not handle `db->watched_keys`. I think the `CLIENT_DIRTY_CAS` flag should be set so that exec

[2020-12-23 14:28] #8205 closed

[2020-12-23 14:43] hwware commented on #8236
same thoughts here, I also noticed this issue before..IMHO the swapdb should make transaction fail if there is any client watching keys..

[2020-12-23 15:43] hwware commented on #8211
@amrjlg I think from your docker-compose file you did not use the configuration file, you need to specify the command section like this in your docker-compose.yml file:

    command:
      - /redis.conf

Also make sure the config file exist in your host directory ./redis/redis.conf then it can map and share properly to the container volume, thanks

[2020-12-23 15:55] BottomCoder-Ander commented on #8188
I have misunderstand.  Thank you for your reply.

[2020-12-23 15:55] #8188 closed

[2020-12-23 16:09] cade-kd opened #8237 "[QUESTION]Why the return type of function getTimeZone in util.c is unsigned long?"
The timezone value may be negtive. For example, in China, tz.tz_minuteswest * 60UL is -28800.

[2020-12-23 16:24] madolson commented on #8237
I think this is only used in the server logging functionality, we haven't observed any weird behavior that I'm aware of.

[2020-12-23 16:28] madolson commented on #8236
I agree, we should fix this.

[2020-12-23 17:03] guybe7 commented on #6640
@itamarhaber the PR implements the MINID strategy (i.e. trim all entries with id < <minid>)

are we sure we also want BEFORE/RETAIN?

so far we managed to avoid assuming that stream ids are actually timestamps, and this might create a dangerous precedence... especially that the user can easily use MINID to achieve the effect of BEFORE/MAXAGE.
RETAIN is also very simple but requires a round-trip or

[2020-12-24 00:28] oranagra commented on #8209
@queeno the only possible reasons for AOF file to be rewritten when rewrite-percentage is 0, are when BGREWRITEAOF command is called, or if you disable and re-enable the `appendonly` config.
maybe a look at your redis log file in the replica, and a `config get rewrite-percentage` (also on the replica) will reveal more information.

[2020-12-24 00:59] oranagra commented on #8237
@cade-kd you're right, it should be signed.
the fact is that this return value is then stored into a time_t variable, which is later passed to another function as time_t, which does some arithmetic, so in practice it's converted back to signed before use (no bugs).
p.s. none of these operations (assignment into 32bit integer, and integer subtraction) work any differently if the MSB is set or not.

[2020-12-24 02:51] FloridSleeves opened #8240 "Unused definitions in Redis code"
Hi! I've recently used some tool to check redis code (unstable branch, newest version from github) and find that there are some unused value assignments in the code base. When a developer assigns some value to a variable, the expectation is  to use the value somewhere. So the unused assignments could potentially indicate bugs:

File	|Variable	| Line |
|----------|-------------------|-------------|

[2020-12-24 02:58] xhebox commented on #7364
@itamarhaber A gentle ping :)

[2020-12-24 03:13] #7681 closed

[2020-12-24 03:41] madolson commented on #7364
Looking at the command definition:
[code]
We should be able to detect whether or not the second argument is an integer, or the start of the optional arguments. So, we should be able to just support HELLO as a standalone command.

[2020-12-24 03:48] madolson commented on #8240
The stream ones seemed misaligned, but honestly these don't seem terribly important to fix. I presume a modern compiler would optimize it away.

[2020-12-24 07:39] namehuanxin opened #8244 "The following error occurred when we were compiling make on other x86 systems"
The following error occurred when we were compiling make on other x86 systems

    CC adlist.o
    CC quicklist.o
    CC ae.o
    CC anet.o
    CC dict.o
    CC server.o
    CC sds.o
    CC zmalloc.o
    CC lzf_c.o
    CC lzf_d.o
lzf_d.c:57:32: 警告：‘#pragma GCC diagnostic’后选项未知 [-Wpragmas]
 #pragma GCC diagnostic ignored "-Wimplicit-fallthrough"
                                ^~~~~~~~~~~~~~~~~~~~~

[2020-12-24 12:14] oranagra commented on #8240
the one in defrag.c can't be optimized by the compiler, the method that is called is not declared a `pure function`, and it is implemented in a different module, and even calls a function from another library (which might even be a shared library). so the compiler doesn't know what it does, and if the call performs any actions rather than the value it returns.
so i'd like to fix this one.

the one

[2020-12-24 12:20] oranagra commented on #8240
ohh, i do need to get my eyes checked. i see the complaint in t_stream.c
this unused variable is there on purpose, it's a pattern.
i keep the pointer to the current record, then i "validate" it by stepping to the next record, and only then after i know it's valid, i sometimes use `p` to read it's content.
so all the calls to lpValidateNext, first keep `p` before stepping.

[2020-12-24 16:36] itamarhaber commented on #8244
Hello @namehuanxin - would it be possible to get more information on how to reproduce this? Specifically, what do you mean by "other systems"?

[2020-12-24 21:54] oranagra commented on #8244
looks like dac26729a9 is gonna resolve it.
please check 6.2 or try to apply that patch.

[2020-12-25 01:55] namehuanxin commented on #8244
@itamarhaber Our system is NeoKylin, which you may not have heard of, but is similar to CentSO7.

[2020-12-25 01:58] namehuanxin commented on #8244
@itamarhaber The system we use is called NeoKylin, which you may not have heard of, but is similar to Centos7

[2020-12-25 03:50] yangbodong22011 opened #8245 "GEO limit option for "pick one""
**The problem/use-case that the feature addresses**

Many LBS applications may require the **pick one** function for random recommendation, that is, a random selection that meets the distance, not necessarily the closest, but need to return quickly.

Although `GEORADIUS` or `GEOSEARCH` commands provide `COUNT <count>` option, it will **search for all values** that meet the conditions internally an

[2020-12-27 10:20] oranagra commented on #8244
@namehuanxin can you please confirm that the above mentioned fix solve the problem?

[2020-12-27 10:22] oranagra commented on #8245
sounds like a useful feature to me. @redis/core-team WDYT?

[2020-12-27 13:51] itamarhaber commented on #8245
Agreed about potential usefulness.

* We should be very clear that this will not provide true randomness but rather only a fast break
* I'm not sure I understand the case for using the two together, but how about expanding COUNT to support negative values for limiting purposes? I.e. COUNT -1 will mean a limit of one.

[2020-12-27 14:37] #7364 closed

[2020-12-28 01:46] xuheer opened #8251 "[BUG] redis 3.2 crash on startup loading from AOF"
**Describe the bug**

redis can not start up, with beflow info:

[code]

[2020-12-28 02:06] XeCycle opened #8253 "[BUG] RESP3 map reply in scripts have key and value inverted"
**Describe the bug**

...

**To reproduce**

[code]

**Expected behavior**

I think we should return "hello" => "world".

**Additional information**

Relevant code starts [here](https://github.com/redis/redis/blob/unstable/src/scripting.c#L410), returning value first seems an unusual choice.  It may break uniqueness assumptions on keys anyway.

[2020-12-28 02:09] hnotyet opened #8254 "[CRASH]5.0.4"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
33532:M 28 Dec 2020 07:13:15.502 # Redis 5.0.4 crashed by signal: 7
33532:M 28 Dec 2020 07:13:15.502 # Crashed running the instruction at: 0x4a8e10
33532:M 28 Dec 2020 07:13:15.502 # Accessing address: 0x7f97e9eb56c0
33532:M 28 Dec 2020 07:13:15.502 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:

[2020-12-28 03:34] yangbodong22011 commented on #8245
I mainly want to provide fast break, but if randomness is necessary, we can continue the discussion.

This can avoid adding parameters, but `LIMIT limit` seems to be easier to understand, we listen to other people's opinions.

[2020-12-28 07:04] oranagra commented on #8245
I actually think that having both COUNT and LIMIT arguments is confusing.
And i'm not sure about the usefulness of using them together.
If we want something else other than negative value, maybe we can create a `~` modifier like in XADD.

either way, i'm now more concerned about problems we'll run into while implementing it.
we currently have code that first searches for everything inside the wide

[2020-12-28 07:52] oranagra commented on #8251
@xuheer thanks for submitting this report.
i see redis crashes while loading an AOF file, can you have a look at that file to see if it looks valid?
can you check the redis log file to see if there's any interesting line right before the crash log?
p.s. this redis is quite old. maybe you can try a newer version of redis on the same AOF file?

[2020-12-28 07:56] amrjlg commented on #8211
yes , it is the problem. all fixed

[2020-12-28 07:56] #8211 closed

[2020-12-28 08:21] oranagra commented on #8254
This looks a bit similar to: #7719 #7356, #5693, #4220, which we where unable to locate and resolve so far.
@hnotyet any chance you are able to reproduce it?

[2020-12-28 09:57] yangbodong22011 commented on #8245
I submitted the draft code to express my thoughts, `limit` was saved, and compared with `ga->used` in the traversal of zset:
[code]

- It is unreasonable to put the limit variable in GeoShape. I hope to rename GeoShape to GeoSearchContext. The current situation is that GeoShape also includes some variables that do not belong to it, such as `searchType`, `conversion`, etc., so I think GeoSearchCont

[2020-12-28 09:57] guybe7 commented on #8245
didn't read the whole thread but just raising a question:
is there a way to distinguish between when:
1. GEO* returned because there are no more elements to return; and
2. GEO* returned because it reached LIMIT (in which case we may need to call it again?)

[2020-12-28 10:14] yangbodong22011 commented on #8245
The limit is just for fast break.
I am afraid I did not understand your question. Why do we need to distinguish between the two cases you mentioned and call it again in the second case?

[2020-12-28 10:36] oranagra commented on #8253
@XeCycle thanks for reporting.
for the record, even if the real client (redis-cli) is in RESP2 mode, this is messed up, and even if Lua didn't pick RESP3:
[code]

and maybe even more obvious with HGETALL on RESP2 client
[code]

i hope no one wrote any code yet that relies on the bug, it'll break as soon as we fix it.

[2020-12-28 10:46] oranagra commented on #8245
I think Guy's question is more suitable for the COUNT argument than the (new) LIMIT argument, and AFAIK there's no way to tell if there were more results which got truncated.

[2020-12-28 13:57] FrogCF opened #8262 "[BUG]"
**Describe the bug**

Possible memory leak

A short description of the bug.

Its showing on the Stunnel possible memory leak
Dec 28 08:44:33 debian stunnel: LOG4[129248]: Possible memory leak at ../ssl/packet_locl.h:385: 241533 allocations
Dec 28 08:44:33 debian stunnel: LOG4[128031]: Possible memory leak at ../crypto/stack/stack.c:108: 243008 allocations
Dec 28 08:44:33 debian stunnel: LOG4[12923

[2020-12-28 13:57] #8262 closed

[2020-12-28 14:22] itamarhaber commented on #8245
About the syntax:

It is indeed easier to understand, but also somehow misleading given how COUNT+LIMIT are supposed to work, so users will have to read the docs anyway once they run into that corner. If negative values are confusing, we can consider some special modifier such as `COUNT ~10`, but I find that even more confusing (personally).

BTW, the negative `COUNT` approach is already used by `

[2020-12-28 15:09] LelikSan commented on #8033
Hello
I have exactly the same issue with backup. redis-cli v 6.0.9; CentOS Linux release 8.1.1911

[OK] Backup created into: /var/backup/
free(): invalid pointer
Aborted (core dumped)

[2020-12-28 15:43] ashwani29 opened #8263 "Failed to get reply: Connection reset by peer"
I'm getting this error at some instant on the client-side repeatedly,  In what scenario does this error is thrown? and the way to prevent this?

[2020-12-28 16:40] oranagra commented on #8245
I would vote for negative COUNT.
LIMIT and COUNT sound like synonyms, if it were me I would always confuse them with one another.

[2020-12-28 16:44] oranagra commented on #8033
@LelikSan any chance you can share the redis-cli core dump file?

[2020-12-28 19:05] madolson commented on #8263
Connection reset by peer is when Redis is closing the connection on you. Can you describe what exact commands you are running to generate this error?

[2020-12-28 20:12] ashwani29 commented on #8263
Client's side code written in redis-plus-plus
[code]

**Setup:**

- created a network namespace.
- created a veth pair vetha and vethb with vethb end in the namespace and other in the host.
- added an ip 192.168.122.50 to the vethb
- Started a redis server in a container in that network namespace

**Tcpdump tcp stream**
_(large file so showed only last part of it)_
[code]

[2020-12-29 06:33] LelikSan commented on #8033
Luckily, yes

coredumpctl gdb -1
           PID: 26806 (redis-cli)
           UID: 0 (root)
           GID: 0 (root)
        Signal: 6 (ABRT)
     Timestamp: Mon 2020-12-28 19:04:52 MSK (10min ago)
  Command Line: redis-cli -a ******** --cluster backup 192.168.41.157 6379 /var/backup/
    Executable: /usr/bin/redis-cli
 Control Group: /user.slice/user-786663460.slice/session-203.scope
          Un

[2020-12-29 08:26] xhuacmer commented on #3099
I also meet this problem by redis 5.0. Could anyone konw how to resolve it? Is this the test case problem or code bug? I didn't find any infomation in the github.

[2020-12-29 08:33] xhuacmer commented on #3546
Is there any solution for this problem? I want to know the what impact this problem.

[2020-12-29 08:54] oranagra commented on #3099
this (`Server is able to generate a stack trace on selected systems`) is most likely a problem in the test, and even if it isn't and there's a real problem in the code, it's not a critical one (it's just a mechanism used to **report** crashes).

anyway i'm quite sure this problem was resolved in redis 6.0
@xhuacmer are you also using CentOS 6.x? can you can probably try redis 6.2 RC1 (6.0 won't ru

[2020-12-29 09:05] xhuacmer commented on #3099
@oranagra  Thanks very much for reply! I am using CentOS 7.6 to build redis 5.0. Of course, I will try redis 6.2 to verify whether it's the code bug or OS environment problem. I hope it's not a code bug in redis 5.0.

[2020-12-29 09:07] oranagra commented on #3099
for CentOS 7.x you can also use Redis 6.0 with some [tricks](https://github.com/redis/redis/issues/7509#issuecomment-657389771):

[2020-12-29 09:11] xhuacmer commented on #3099
OK, Thanks for your information! Let me try it.

[2020-12-29 09:19] oranagra commented on #3546
this is a real old version of redis, and the issue is already resolved.
please upgrade to redis 6.0 which should be fine in that respect.
or if your only problem is the failing test, just skip or delete that test.
this failed test does not indicate a problem in redis, just meant that crash report logs may be missing some info.

[2020-12-29 09:19] #3546 closed

[2020-12-29 09:26] moria7757 opened #8265 "*** [err]: Active defrag in tests/unit/memefficiency.tcl"
Linux Version: CentOS Linux release 7.9.2009 (AltArch) - ppc64
Redis Version: 5.0.9
Jemalloc Version: 5.2.1
gcc Version: 4.8.5 20150623 (Red Hat 4.8.5-44)
Executed Command: make test & ./runtest --clients 1

lscpu output:
[code]
free -m output:
[code]
 ./runtest --clients 1 output:
[code]

[2020-12-29 12:20] LelikSan commented on #8033
coredumpctl gdb -1
           PID: 29980 (redis-cli)
           UID: 0 (root)
           GID: 0 (root)
        Signal: 6 (ABRT)
     Timestamp: Tue 2020-12-29 15:15:28 MSK (2min 30s ago)
  Command Line: redis-cli --cluster backup 192.168.41.157 6379 /var/backup/
    Executable: /usr/bin/redis-cli
 Control Group: /user.slice/user-786663460.slice/session-222.scope
          Unit: session-222.scope

[2020-12-29 13:27] oranagra commented on #8033
turns out this is easy to reproduce an fix (see #8267)
and now i also realize it only took one backup and aborted before proceeding to the other cluster nodes.

[2020-12-29 13:39] oranagra commented on #8265
@moria7757 is it failing consistently?
any chance you can check Redis 6.0 or 6.2? (this test was improved)

[2020-12-29 14:09] hwware commented on #8204
hello @Cloud-Zhang , can you also share the original master(172.16.35.112) and slave(172.16.35.116) log? and if poossible, the more detailed sentinel log? thanks!

[2020-12-29 14:36] yangbodong22011 commented on #8245
Updated syntax to support negative COUNT, and added performance test, see #8259 for details.

[2020-12-29 18:32] #6917 closed

[2020-12-29 18:36] madolson commented on #6867
It looks like of these changes we never implemented 5,6,7 of these. @eliblight Do you have any interest in following up here, you suggested many of these improvements?

[2020-12-29 18:37] #7249 closed

[2020-12-29 18:40] madolson commented on #6869
@StasKolodyuk Hey, any chance you still have the context about this?

[2020-12-29 18:41] madolson commented on #6856
This was eventually implemented.

[2020-12-29 18:41] #6856 closed

[2020-12-29 21:33] oranagra commented on #678
While working on the [PR](https://github.com/redis/redis/pull/7844) i run into a few dilemmas.

First, the new command syntax can look like any one of these:
[code]
- The first one may be formally correct but it's hard to follow.
- The second one is a bit odd since there are positional arguments after optional arguments (and that can backfire if the `<min>` value needs to be `"bylex"`.
- The Third

[2020-12-29 23:21] jonahharris commented on #678
Third option seems best - inclined to keep REV and LIMIT. Agreed on WITHSCORES being default and removed as an option. Like the AMEND idea.

[2020-12-30 05:22] moria7757 commented on #8265
yes i have executed many times.
[code]

[2020-12-30 06:30] madolson commented on #678
The other option I would add for WITHSCORES, is that we could store the order of the member in the response as the rank. So if the client output is ['foo', 'bar'] we would store it as {'foo':1, 'bar':2}. Omitting it sounds like the safest option for now though.

I don't really like the amend idea. The proposed rational for slowly building up the response isn't that compelling to me. I suggested th

[2020-12-30 07:31] LelikSan commented on #8033
Thank you
But backup in the whole was nevertheless successful. It created dumps for three masters and nodes.json file

[2020-12-30 07:52] quadrixm opened #8268 "[BUG] 6.0.9 Crashed in createPidFile"
39693:M 30 Dec 2020 13:18:39.574 # Redis 6.0.9 crashed by signal: 11, si_code: 2
39693:M 30 Dec 2020 13:18:39.574 # Crashed running the instruction at: 0x7fff2042d430
39693:M 30 Dec 2020 13:18:39.574 # Accessing address: 0x30cd95000
39693:M 30 Dec 2020 13:18:39.574 # Killed by PID: 0, UID: 0
39693:M 30 Dec 2020 13:18:39.574 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRAC

[2020-12-30 08:01] oranagra commented on #8265
@moria7757 thanks for testing this.
the error you reported now is a different one (new test that was added in 6.2).
while i'm looking at it, can you please try this to test the original problem on 6.2:
`./runtest --single unit/memefficiency`

[2020-12-30 08:31] moria7757 commented on #8265
[code]

[2020-12-30 09:56] StasKolodyuk commented on #6869
@madolson hey, what context do you need? This is still happening in our system in prod though rather rarely (1-2 times a week).

[2020-12-30 12:09] oranagra commented on #678
ok, the popular decision seems to be to keep this syntax (option number 3 above, where min and max remain positional):
[code]
Drop the WITHSCORES, and keep the REV and LIMIT.

[2020-12-30 13:54] GeniusLe opened #8269 "Feature request: HSETNX and HSET add timeout"
**The problem/use-case that the feature addresses**

I use hash to lock, the current popular lock is set instead of hset, because set can time out, but hset cannot. This is disappointing. Isn't it a better operation for hset to manage a group of locks with a key? It also looks neater when handled.

**Description of the feature**

Each key that hash supports it has its own independent expiration ti

[2020-12-30 15:55] oranagra commented on #8265
@moria7757 can you please try this:
[code]

[2020-12-30 18:26] moria7757 commented on #8265
you mean run this: gcc -DREDIS_TEST -DREDIS_TEST_MAIN src/crc64.c src/crcspeed.c -std=c99 \> ./a.out

if you mean above, content of a.out is not readable

[2020-12-30 18:41] oranagra commented on #8265
i meant to execute a.out, but never mind. i was able to reproduce it with qemu a bigendian arm.
found the bug in the crc code, PR soon.

[2020-12-30 19:16] oranagra commented on #8265
fix for the CRC error in https://github.com/redis/redis/pull/8270.
next, i'll be looking into that active defrag issue.

[2020-12-30 19:20] moria7757 commented on #8265
./a.out output:
[calcula]: e9c6d914c4b8d9ca == e9c6d914c4b8d9ca
[64speed]: e9c6d914c4b8d9ca == 0000000000000000
[calcula]: c7794709e69683b3 == c7794709e69683b3
[64speed]: c7794709e69683b3 == 0000000000000000

[2020-12-30 19:39] moria7757 commented on #8265
i have changed crcspeed.c file & CRC error disappeared but defrag issue still exists.

[2020-12-31 04:05] xuheer commented on #8251
thanks , AOF file really go wrong, when i delete and restart, redis goes well

it is a good idea to update redis, maybe we will update it in next version.

thanks

[2020-12-31 04:05] #8251 closed

[2020-12-31 06:57] John402-cloud opened #8273 "deploy redis-cluster(6.0.0) with statefulset in k8s-3master results an error /var/lib/redis/nodes.conf is already used"
redisl-cluster:6.0.0
kubernetes version: v1.17.4

Environment:
three physical machine. k8s has three master nodes and three workload nodes, and master nodes and workload nodes in one machine.

when deploy redis-cluster(6.0.0) with statefulset (replicas: 6) only one pod running normal, the other two pods results an error.

kubectl logs redis-app-1
1:C 30 Dec 2020 08:24:30.008 # oO0OoO0OoO0Oo Redis

[2020-12-31 08:02] dayuange123 opened #8275 "Redis replication problem"
Update slave's Reploff to repl_master_initial_OFFSET after asynchronous reading of RDB

Repl_master_initial_offset is a global replication offset returned to slave before the master server generates the RDB snapshot

How do you make sure that the previous commands of repl_master_initial_OFFSET are all synchronized into the RDB snapshot? Because I found that the snapshot might read one that was alr

[2020-12-31 10:01] EternalSpring opened #8276 "[CRASH]Redis 4.0.14 crashed by signal: 11"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
61053:C 31 Dec 02:07:03.746 # Redis 4.0.14 crashed by signal: 11
61053:C 31 Dec 02:07:03.746 # Crashed running the instruction at: 0x43308f
61053:C 31 Dec 02:07:03.746 # Accessing address: (nil)
61053:C 31 Dec 02:07:03.746 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
redis-rdb-bgsave 10.253.74

[2020-12-31 17:04] oranagra commented on #8265
@moria7757 maybe it's just a timing issue.
please try to add more time to the test:
[code]
and run
[code]

[2020-12-31 17:31] abrookins opened #8277 "Add support for reverse history search in redis-cli"
**The problem/use-case that the feature addresses**

As a frequent user of redis-cli, I really need reverse history search.

**Note**: I've created a [proof of concept](https://github.com/antirez/linenoise/pull/194) for this feature.

**Description of the feature**

Pressing Ctrl-r in redis-cli should start a reverse history search mode that behaves similarly to readline-style reverse history sear

[2021-01-01 18:23] hoebat commented on #5261
I'm curious if there are any plans/roadmap for an upgrade to 5.3+ in the near future

[2021-01-02 17:57] oranagra commented on #8276
@EternalSpring can you please upload the executable that produced this crash, maybe i'll be able to tell which type of value was it that caused that crash.

[2021-01-02 17:59] oranagra commented on #5261
@zcaudate yes, this is being worked on (see #8180), but it may only become a reality in redis 7.0.

[2021-01-02 18:05] oranagra commented on #8277
@abrookins this sounds like a good idea. can you make a PR to this repository and push this to completion?
(this repo is no longer following antirez/linenoise)

[2021-01-02 18:15] oranagra commented on #8275
@dayuange123 i don't think i understand what you're asking.
maybe it would help if you post an example of a chain of events that leads to a problem?

[2021-01-02 18:41] abrookins commented on #8277
You bet! Thanks for looking.

[2021-01-03 04:30] moria7757 commented on #8265
./runtest --single unit/memefficiency --verbose --no-latency --only "Active defrag" output:

Cleanup: may take some time... OK
Starting test server at port 21079
[ready]: 47429
Testing unit/memefficiency
[ready]: 47431
[ready]: 47433
[ready]: 47436
[ready]: 47442
[ready]: 47439
[ready]: 47445
[ready]: 47448
[ready]: 47457
[ready]: 47454
[ready]: 47452
[ready]: 47464
[ready]: 47461
[ready]: 47470
[

[2021-01-03 05:45] moria7757 commented on #8265
./runtest --single unit/memefficiency --verbose --no-latency --only "Active defrag" output:

Cleanup: may take some time... OK
Starting test server at port 21079
[ready]: 47588
Testing unit/memefficiency
[ready]: 47592
[ready]: 47590
[ready]: 47595
[ready]: 47604
[ready]: 47598
[ready]: 47601
[ready]: 47607
[ready]: 47610
[ready]: 47614
[ready]: 47617
[ready]: 47619
[ready]: 47622
[ready]: 47626
[

[2021-01-03 07:27] oranagra commented on #8268
@quadrixm thanks for reporting
this is a duplicate of #8062
resolved by #8088 and #8150
Please check Redis 6.2-RC1, it should fix this problem.

[2021-01-03 07:27] #8268 closed

[2021-01-03 09:56] #8033 closed

[2021-01-03 18:59] oranagra commented on #8265
i'm still unable to reproduce this.
@moria7757  can you please try this:
[code]
`./runtest --single unit/memefficiency --only "Active defrag" --verbose`

[2021-01-03 19:18] oranagra commented on #8269
this is a dup of #167, #1042 and probably others.
currently not being added due to the complexity and overheads it would add.
you're welcome to vote and watch these issues, maybe someday it'll change, although not likely anytime soon.

[2021-01-03 19:18] #8269 closed

[2021-01-04 06:30] hoebat commented on #5261
@oranagra  oh this is awesome. thanks for the update.

[2021-01-04 07:13] moria7757 commented on #8265
i cant find this section: @@ -77,8 +81,17 @@
i am editing this file: tests/unit/memefficiency.tcl
am i right?

this is content of my file now based on previous and current changes:

proc test_memory_efficiency {range} {
    r flushall
    set rd [redis_deferring_client]
    set base_mem [s used_memory]
    set written 0
    for {set j 0} {$j < 10000} {incr j} {
        set key key:$j
        set v

[2021-01-04 09:42] oranagra commented on #8265
@moria7757 patch didn't apply because you still have the previous edit in your file:
[code]

if you're revert that, and get the original version of that file, the patch will apply.

[2021-01-04 10:49] moria7757 commented on #8265
excuse me, i'm confused.
based on you reply,first i added 'wait_for_condition 15000 100 {' & commented 'wait_for_condition 150 100 {' like '# wait_for_condition 150 100 {}' in tests/unit/memefficiency.tcl  file and run the command but i got error again.
second i added 'r config set loglevel debug','puts "before"','puts [r memory malloc-stats]','puts "\n\n\n"' but i dont know where should i add fol

[2021-01-04 11:17] oranagra commented on #8265
@moria7757 please download and unzip this file into `tests/unit`
and run `./runtest --single unit/defrag --verbose`
[defrag.tcl.gz](https://github.com/redis/redis/files/5764361/defrag.tcl.gz)

please upload the result as a file.

[2021-01-04 12:06] moria7757 commented on #8265
the file content is unreadble.

[2021-01-04 12:22] oranagra commented on #8265
sorry, my bad. it got compressed twice.
here's a fixed one:
[defrag.tcl.gz](https://github.com/redis/redis/files/5764580/defrag.tcl.gz)

[2021-01-04 12:34] moria7757 commented on #8265
i uploaded the output:
https://github.com/moria7757/moria/blob/main/defrag.log

[2021-01-04 13:17] oranagra commented on #8265
ohh, only now i notice `Page size: 65536` (usually 4096).
the defragger works good, i guess we just need to lower the thresholds.

[2021-01-04 13:21] oranagra commented on #8265
@yossigo what do you think? should we adjust all the thresholds of the defrag test in order to make it compatible with systems with large pages, or maybe just skip the test on these?

[2021-01-04 21:16] #8240 closed

[2021-01-04 23:49] dmitrypol commented on #2186
any updates on this?  adding cluster nodes by hostnames would enable so that clients can connect via the same hostname.

[2021-01-05 00:09] itamarhaber commented on #2186
Cc'ing @yossigo as he's fond of hostnames :)

[2021-01-05 01:14] madolson commented on #2186
@dmitrypol Are people asking for hostnames in cluster mode, or specifically for redis-trib?

[2021-01-05 01:35] eliblight commented on #6867
Ack... lets see how we can fit it in.

[2021-01-05 03:05] dmitrypol commented on #2186
@madolson - the use case I am thinking of is when users want to connect to nodes via FQDN / hostnames.  It would be nice if redis-cluster replied with the hostnames in node map so that client can make connection that way.
Yes, introducing hostnames creates dependency on DNS resolution but it can be an option to `redis-cli --cluster create` command to specify either IPs or hostnames.

[2021-01-05 05:18] madolson commented on #2186
Related to this: https://github.com/redis/redis/issues/8134

Which is that we want to expose the hostnames in cluster slots for TLS, for hostname validation, but I don't see a reason why we couldn't do that. @dmitrypol Do you actually use the cluster nodes command, or the recommend cluster slots? We were originally not going to update cluster nodes.

I intend to follow up with this in the next 1-2

[2021-01-05 06:29] #8253 closed

[2021-01-05 08:36] FloridSleeves commented on #8240
Thank you so much for your confirmation and patch!

[2021-01-05 20:38] luggie opened #8290 "How to really restart everything that works with redis"
I'm running redis with rq to queue tasks from a python dash web app.
While developing I figured out that everything works fundamentally better after a fresh reboot
As redis has some problem with restarting it's service, I decided to blame it for this behavior.
Every time I add some lines of code I now ran:
[code]
Is there anything more I can do to make sure redis really restarts? :D

[2021-01-05 21:26] dmitrypol commented on #2186
Ideally it would be nice to have full class support for hostnames in all aspects of Redis Cluster.

[2021-01-06 03:35] superchen180 opened #8291 "[BUG] MacBookPro Big Sur 11.1 Apple Silicon M1"
**Describe the bug**
installed redis from homebrew

56768:C 06 Jan 2021 11:22:29.492 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
56768:C 06 Jan 2021 11:22:29.492 # Redis version=6.0.9, bits=64, commit=00000000, modified=0, pid=56768, just started
56768:C 06 Jan 2021 11:22:29.492 # Configuration loaded
56768:M 06 Jan 2021 11:22:29.494 * Increased maximum number of open files to 10032 (it was or

[2021-01-06 03:51] gxespino commented on #8291
Try running it with `sudo`. e.g.

`sudo redis-server --daemonize yes`

[2021-01-06 15:44] oranagra commented on #8291
@superchen180 thanks for reporting.
this is a duplicate of #8062
resolved by #8088 and #8150
Please check Redis 6.2-RC1, it should fix this problem.
i guess we'll soon make another release of 6.0 that'll solve it there too.

[2021-01-06 15:45] #8291 closed

[2021-01-07 01:57] RDShah commented on #7943
I would say switching from the current implementation to a true Morris counter is a good idea.

Just to clarify the terminology I use: the probabilistic counter implemented by Redis is *not* a true Morris counter.  I refer to it as the "Redis counter" or "Redis implementation of a probabilistic counter".  A probabilistic counter is considered a Morris counter if the increment probabilities are exp

[2021-01-07 06:17] cool-firer commented on #542
+1

[2021-01-07 06:55] madolson commented on #542
So it looks like there are three cases in this thread:
1. Be able to replace an existing hash, IE DEL + HSET
2. Update fields, only if those fields don't already exist
3. Update fields, but only if they already exist (from a tweet)

The command could look like
[code]

XX: Only update elements that already exist. Never add elements.
NX: Don't update already existing elements. Always add new element

[2021-01-07 08:58] #678 closed

[2021-01-07 09:14] oranagra commented on #542
I'm a bit uncomfortable with the DEL feature, what if the existing key is not a hash, do we want to return a WRONGTYPE error, or override it?
I suppose that in some way, it's similar to what SUNIONSTORE does (overrides the dest key regardless of it's type).

Given that it's a popular request (specifically the XX and NX features i guess), i think we should indeed implement it (i see Salvatore thoug

[2021-01-07 13:35] 18612371148 opened #8298 "redis 6.0.9 sentinel 检测不到slave从库 slaves=0"
### master  info ：
`# Replication
role:master
connected_slaves:2
slave0:ip=127.0.0.1,port=6380,state=online,offset=3668,lag=1
slave1:ip=127.0.0.1,port=6381,state=online,offset=3668,lag=1
master_replid:748596c2db6f7035291cba3674e824a02f584ef6
master_replid2:0000000000000000000000000000000000000000
master_repl_offset:3668
second_repl_offset:-1
repl_backlog_active:1
repl_backlog_size:1048576
repl_bac

[2021-01-07 15:06] #8124 closed

[2021-01-07 15:09] karock commented on #8124
appreciate everyone's contributions here. looking forward to the kernel updates and this check within redis to confirm it's working as it should!

[2021-01-07 15:52] AGSaidi commented on #8124
Amazon Linux2 includes the fix as of 4.14.209-160.339.amzn2 and  5.4.80-40.140.amzn2
Ubuntu [has also released updated kernel](https://bugs.launchpad.net/ubuntu/+source/linux-aws/+bug/1908503)

[2021-01-07 15:56] karock commented on #8124
awesome, I appreciate that info. went looking for release notes a couple weeks ago and didn't come up with a clear answer.

[2021-01-07 16:20] AdamVenn commented on #3176
This appears to be the definitive:
https://docs.mongodb.com/manual/tutorial/transparent-huge-pages/

Just replace mongodb with redis and redis-server. Worked well for me!

Oh, by the way, I had to do `systemctl edit redis-server` and add:
[code]

[2021-01-07 17:49] djh42 commented on #3176
The mongodb page also suggests 'never'. Again, what is wrong with 'madvise'?

[2021-01-07 19:16] KeesCBakker commented on #5034
One could use a LUA comment like:

```eval "-- single line comment " 0```

[2021-01-08 05:49] #8298 closed

[2021-01-08 06:37] liguangbo opened #8299 "[BUG] rdbWriteRaw retval overflow"
**Describe the bug**

https://github.com/redis/redis/blob/unstable/src/rdb.c#L97
`rdbWriteRaw` input parameter len is type `size_t`, but return an `int`.
If we write data over `2GB`, the `retval` of `rdbWriteRaw` will overflow. And may cause rdb format error.
Such as:
https://github.com/redis/redis/blob/unstable/src/rdb.c#L447
The `rdbSaveLzfStringObject` will return a big negative number, but we

[2021-01-08 07:01] ShooterIT commented on #8299
hi @liguangbo I think you can submit a PR to fix this problem

[2021-01-08 07:10] liguangbo commented on #8299
But I want to get some advice on this.

Change `rdbWriteRaw ` return value from int to size_t will affect lots of function call, need more check and test.
Or just adjust the  `rdbSaveLzfStringObject` if segment to cover situation of `n<0` can also fix this temporary.

[2021-01-08 07:36] #5748 closed

[2021-01-08 07:40] ShooterIT commented on #8299
I think we should change the `rdbWriteRaw` return value type form **int** to **ssize_t**(instead of **size_t**)
Because we also need to handle https://github.com/redis/redis/blob/unstable/src/rdb.c#L458, and we should not hide bug we already know.

[2021-01-08 08:03] #8265 closed

[2021-01-08 11:42] moria7757 commented on #8265
@oranagra this means i should wait for new stable version?

[2021-01-08 13:49] oranagra commented on #8265
@moria7757 you can safely ignore this error, it doesn't indicate any problem in redis.
it's just that the test expects the defragger to bring fragmentation down to some level, but on a system with pages that big (64k rather than 4k) it is not able to reach the target.

next version will simply skip that test when the page size is bigger tan 8k

[2021-01-08 15:53] oranagra commented on #8003
Fixed by #8176

[2021-01-08 15:53] #8003 closed

[2021-01-08 16:13] #6640 closed

[2021-01-08 16:13] jhuang13 opened #8300 "in a K8s deployment, Sentinel Can't update the IP of the old master when the old master get back online again with different IP"
in a K8s deployment,
When the master redis pod goes down, the failover can happen normally. A slave will be selected as master by Sentinel.
When the old master (a new pod)  get back online with a different pod IP but the same dns name. the Sentinel will not refresh the IP based on the old master's dns name. so the old master will be isolated as the master has no info about the Sentinel cluster.
Is

[2021-01-08 16:29] #8245 closed

[2021-01-08 16:35] oranagra commented on #4450
#8169 added `MINID` trimming strategy, which can be used as MAXAGE.
i.e. setting MINID to the current time minus the desired age.

[2021-01-08 16:35] #4450 closed

[2021-01-08 16:36] oranagra commented on #5951
#8169 added a MINID argument to XADD, using it with the current time minus the maximum age you want to keep, will effectively be the same as time to live.

[2021-01-08 16:36] #5951 closed

[2021-01-08 16:47] #8236 closed

[2021-01-10 00:41] mabrarov commented on #8300
Hi Redis Team!

It looks like Redis is targeted to perform communications using IP address rather than domain names (DNS), e.g. the most of Redis configuration options support domain names, but these names are replaced with IP addresses (resolved at the start of Redis, I guess), even in configuration files (which Redis rewrites).

I understand that TCP and UDP work with IP address and that IP addr

[2021-01-10 00:46] mabrarov commented on #8300
This issue seems to be close to issue #2186 and issue #2075. Especially to [that note](https://github.com/redis/redis/issues/2075#issuecomment-60458658).

[2021-01-10 07:43] oranagra commented on #8290
redis doesn't have any other background services, so when you kill it and re-start it, it "really restarts"
if in addition to that you delete the `dump.rdb`, then it comes completely empty and fresh.

the only thing you might be missing is that because you killed it with `-9`, it didn't have a chance to terminate it's bgsave child if there was one.
if you'll kill it with normal SIGTERM (i.e. just

[2021-01-10 07:43] #8290 closed

[2021-01-10 15:43] ShooterIT commented on #542
Hi @oranagra @madolson I am not sure if XX, CH, or other flags are needed currently. Just for this issue. I think it is easy to solve if HSETNX command supports multi fields and it is compatible with old version, just like HSET command supports multi fields.
I submit a PR https://github.com/redis/redis/pull/8304, do i miss somethings?

[2021-01-10 16:44] mabrarov commented on #8300
Hmm... it looks like `--replicaof` command line option, `replicaof` configuration option and `REPLICAOF` CLI command support domain name. Refer to [`anetTcpGenericConnect` function](https://github.com/redis/redis/blob/unstable/src/anet.c#L282) (called by [`connectWithMaster` function](https://github.com/redis/redis/blob/unstable/src/replication.c#L2434)) which [resolves](https://github.com/redis/r

[2021-01-11 11:18] yossigo commented on #8300
Hey @jhuang13 and @mabrarov, can you please take a look at #8282 and see if this is going to help with that?

This will of course require some configuration:
1. Use `SENTINEL MONITOR` with hostnames and not IPs.
2. Enable the `resolve-hostnames` and `announce-hostnames` Sentinel config parameters.
3. Configure all Redis instances with `replica-announce-ip` and their hostname (including masters, as

[2021-01-11 11:48] jhuang13 commented on #8300
Hi @yossigo, thanks. yes, look forward to the new release.

[2021-01-11 15:25] mabrarov commented on #8300
@yossigo,

It looks like #8282 is outdated (comparing to Redis 6.0.9 version) and has a merge conflict (the reason I can't update #8282 myself). I built Redis from the source branch of #8282, but that build doesn't work with my OpenShift deployment even without configuration changes - Sentinel fails during the startup with:

[code]

It looks like `sentinel monitor` configuration option in the sour

[2021-01-11 18:05] creig-with-an-E commented on #6272
hi @nsagnett. did you ever find the solution? seems I facing the same problem today after everything was previously working normally.

[2021-01-11 19:00] oranagra commented on #6272
@creig-phiri which version are you using? does the stack trace in your crash log looks the same? (decrRefCount inside resetClient)? if it's similar, please post it here, if different please open a new issue.

[2021-01-12 06:22] #8299 closed

[2021-01-12 06:31] madolson commented on #542
@ShooterIT I agree it would resolve this issue, but I would still prefer to also release this with a more generic HMSET with flags. It's a pretty common pattern, to have a generic add with a specific implementation. Since it will likely involve refactoring into a generic function, I wouldn't decouple them.

[2021-01-12 07:59] liuchong commented on #2186
It is still not supported... 😹

[2021-01-12 08:36] yossigo commented on #8300
@mabrarov Thanks for taking a look, I've updated this PR with latest unstable now. Note that you'll need to configure `resolve-hostnames` and `announce-hostnames` to get it to handle host names as expected.

I look forward to get your feedback.

[2021-01-12 09:48] ivanovaleksandar opened #8313 "[CRASH] Sentinel crashing with sentinel known-replica and Wrong hostname or port for replica."
**Crash report**

[code]

**Aditional information**

1. Official Redis docker image 6.0.8

2. Steps to reproduce

I have a 3 hosts setup with each of them running redis and sentinel as containers. Basically example no.2 from the official [docs](https://redis.io/topics/sentinel).

This is the config (read from the startup of the sentinel) from host1. Similar config for the other two sentinels.

[co

[2021-01-12 10:08] patpatbear commented on #8313
I'm guessing you are starting `redis-sentinel` with `redis-server` command. try `redis-sentinel redis.conf`

[2021-01-12 10:33] ivanovaleksandar commented on #8313
I am indeed starting it with `redis-server --sentinel`. Will try this and report back.

[2021-01-12 12:16] #6622 closed

[2021-01-12 17:14] daidaotong opened #8314 "[QUESTION] Question regarding command renaming"
hello community folks, I have a question regarding command rename with AOF. the version of redis is 5.0.

from the redis.conf https://github.com/redis/redis/blob/unstable/redis.conf#L903, currently the command renaming doesn't work well with aof. For example, if we rename the SET command to SETHIDDEN and enabling aof, the SETHIDDEN will be persisted into aof file. But when we stop the server and w

[2021-01-12 17:36] madolson commented on #8314
Do you have a use case for renaming commands that isn't solved by redis ACLs? I think the solution is more or less to just use ACLs.

[2021-01-12 19:27] daidaotong commented on #8314
Hi @madolson, yes the ACL is definitely the best way to substitute command renamings, however, the customer doesn't want to upgrade Redis from 5.0 to 6.0 for now. Is there any other way this can be solved based on the 5.0 feature currently or in the future? Thanks

[2021-01-12 20:58] hwware commented on #8313
Hello @ivanovaleksandar , thank you for reporting this,  this is a config error, not specifically a server crash. the reason of this issue was caused since you have duplicate replica entry with the same ip and port, the sentinel will use ip and port to identify each replica. and further if it contains duplicate it cannot add into master->replicas dict(please see https://github.com/redis/redis/blob

[2021-01-12 21:08] hwware commented on #8313
Also may i ask you do you know how the duplicate config entries was there? is that because you put it by mistake or you did not do that by yourself? thanks!

[2021-01-12 22:58] pibesk commented on #5774
+1

[2021-01-13 05:05] simonkotwicz opened #8318 "Snapshotting enabled with no save directive in config file (redis 6.2-rc1) [BUG]"
**Describe the bug**

In Redis 6.0.9 snapshotting was disabled if there was no `save` directive in the config file. This is consistent with the docs: https://raw.githubusercontent.com/redis/redis/6.0/redis.conf

In Redis 6.2-rc1 snapshotting seems to be enabled even with no `save` directive in the config file.

**To reproduce**
[code]

[code]

**Expected behavior**

Don't expect to see after 5 min

[2021-01-13 06:44] ShooterIT commented on #8318
Related PRs: https://github.com/redis/redis/pull/7092 , https://github.com/redis/redis/pull/7767

Now, There is a basic question, default SAVE param is? 🤔
From `redis.conf` comments, it likely should be empty.

[2021-01-13 09:50] nmeisels opened #8323 "[NEW] default ttl config / config to not allow writing keys without ttl"
**The problem/use-case that the feature addresses**

Hi!

We have a redis server and we want every key to have a ttl.
This will help us avoid issues where someone by mistake writes a key without ttl and then we have a lot of unused data in redis.
The mistake we encountered is a dev setting a ttl to a key before actually writing the key to redis.
The result was no ttl on key.

**Description of the

[2021-01-13 10:09] ShooterIT commented on #8323
Actually I also have similar idea that default TTL for all keys, our users also have this feature request. But we should know this config is dangerous because users may lose some keys if they don't persist the keys. I am not sure redis core team could agree

[2021-01-13 14:43] oranagra commented on #8318
There used to be a bug (#5629) in which passing any command line configuration (which is probably happens in docker) would reset the default save config.

This bug is now fixed in 6.2, and the behavior change is mentioned in the release notes:
[code]

The default behavior of redis (when just lunched like `./redis-server`) was that it has a default save, and that's always been the case.
[code]

So

[2021-01-13 16:39] madolson commented on #8323
I think a default TTL that applies to all new keys would be fine, it's a bit of a scary configuration but if you know your application well you should be able to pick a sane value. I don't think the proposal "Have a config which will not allow writing keys without a ttl to redis" isn't feasible in Redis without some major rework, so I would vote against that.

[2021-01-13 16:55] nmeisels commented on #8323
Do you mean 1 or 2?
1. Not letting you set a ttl without the key existing / making it work?
2. Have a config which will not allow writing keys without a ttl to redis

[2021-01-13 17:50] simonkotwicz commented on #8318
Note that this has the potential to break anyone using a config file (passed as a command line arg - `redis-server my-redis-config`) and if snapshotting fails (due to a file permission error for example) it will also fail writes due to the default `stop-writes-on-bgsave-error yes`.

[2021-01-13 18:03] daniel-house commented on #8314
I have been working on a module that extends the behavior of the set-command.  To do this I use the rename-command directive to rename SET to SET-NATIVE, and when the module loads it uses RedisModule_CreateCommand to define SET.  The handler for SET does some stuff and then uses RedisModule_Call to run SET-NATIVE.

[2021-01-13 20:31] madolson commented on #8323
"Have a config which will not allow writing keys without a ttl to redis"

[2021-01-13 20:36] #8145 closed

[2021-01-13 20:42] madolson commented on #8314
@daidaotong I don't think there is any concrete plan to solve that, especially since that functionality won't see new development. You might want to force your customers to use the same renamed-commands configuration between two servers that share the same AOF file.

Side node, we solved this in AWS by replicating AOF/replication stream with the un-renamed commands. We never upstreamed this becaus

[2021-01-13 20:43] madolson commented on #8134
Starting on this now.

[2021-01-13 21:19] nmeisels commented on #8323
So what about

Is that also possible?

[2021-01-13 21:38] madolson commented on #8323
It's semantically hard to express a state where a TTL exists but there is no key there, since they are pretty tightly coupled. I don't think we should work too hard to work around bugs that were written :), since ideally the resolution for your problem was the developer fixed your bug.

[2021-01-13 21:40] nmeisels commented on #8323
Ok. So should redis not throw an exception if you try to set a ttl for a non existent key?

[2021-01-13 23:55] daniel-house opened #8328 "[NEW] module api for changing the password hashing algorithm"
Problem:
1) We cannot force our users to select strong passwords such as 64 byte hexadecimal strings.
2) Not everyone is content to use unsalted sha256 hashing.
3) Because machines grow more powerful and attacks grow more sophisticated, we can expect to eventually need newer and stronger algorithms.

New Feature:
A module API that will allow the password hashing algorithm to be replaced by passing

[2021-01-13 23:57] daniel-house opened #8329 "[NEW] module api for specifying alternate password hashing algorithms"
Problem:
1) We cannot force our users to select strong passwords such as 64 byte hexadecimal strings.
2) Not everyone is content to use unsalted sha256 hashing.
3) Because machines grow more powerful and attacks grow more sophisticated, we can expect to eventually need newer and stronger algorithms.

New Feature:
A module API that will allow the password hashing algorithm to be replaced by passing

[2021-01-13 23:59] madolson commented on #6967
That seems like a bug, but isn't that weird of behavior. Empty strings are different non-existent keys, but it looks like bitops treats them the same. @ajokanovic is this a usecase you ran into?

[2021-01-14 00:35] madolson commented on #8329
I'm not the biggest fan of building the callbacks you outlined. I think it's sort trying to optimize just this one use case, instead of building a good set of API interfaces around extending authentication. The current problems I am seeing:
1. It's hard to plug into existing ACL users. We could add more hooks around this, I don't see a problem with this.
2. It doesn't work with the HELLO command.

[2021-01-14 00:38] madolson commented on #8328
Looks like a duplicate of https://github.com/redis/redis/issues/8329.

[2021-01-14 00:38] #8328 closed

[2021-01-14 01:26] madolson commented on #8323
https://redis.io/commands/expire

It returns 0 if the key does not exist. Ideally the code your developer was writing should have tested against that. We generally don't throw "exceptions" for something that could be valid use cases

[2021-01-14 01:45] ShooterIT commented on #8323
I also think it is ok, and developers are also used to this behavior

@madolson @nmeisels But if we worry about limited memory, we also can set `maxmemory-policy` to `allkeys-lru` to avoid filling redis memory.

[2021-01-14 03:10] ShooterIT commented on #8323
One difference I can think of is that default TTL may use less memory instead of waiting key eviction when reached maxmemory.

[2021-01-14 03:41] dalzzing2 commented on #2545
@antirez
Can you tell if it's in API format now? Thank you

[2021-01-14 04:57] dalzzing2 commented on #2545
@alexcoco
You said you weren't an administrator...
When you check the URL you have written, it is in the code format below.

``
        fprintf(fp,"%d:%c %s %c %s\n",
            (int)getpid(),role_char, buf,c[level],msg);
``

The actual log file is recorded as follows. ( v 2.6.8 )
``
[18262] 12 Jan 10:00:10.214 * Background saving started by pid 5032
``

Do you know, where is [ ] in Source code a

[2021-01-14 05:02] dearbub opened #8330 "Why can Redis only have 124 connections in cygwin64？"
**I use hiredis to continuously create 3000 connections and monitor the server log，for testing。**
`for(int i = 0; i < 3000; i++)
    {
        redisContext *c = redisConnect("192.168.9.13",9876);
        if(nullptr != c && 0 != c->err)
        {
             qDebug() << "redisContext count: "<< i << "  err:"<< c->err << c->errstr;
        }
        redisReply *r = (redisReply*)redisCommand(c, "aut

[2021-01-14 05:37] dalzzing2 commented on #2545
@antirez  @alexcoco
As a result of testing, I confirmed that my version was low.

In majors 3, 4, 5 and 6, all log formats were the same as what you said.

[2021-01-14 05:56] osharena opened #8331 "[QUESTION] repeating subscribe/unsubscribe"
Hi,

I have a question about the specific server's state which must be affected by the client we action.

What I wonder is as following.
if once client subscribe some channel and unsubscribe afterward, do the resources(memory) have been allocated for the channel in server side still remain even though there is no subscriber any more? Or, the resources would be cleaned eventually?
Hoping all the re

[2021-01-14 05:58] nmeisels commented on #8323
Thank you so much for all the responses. I learnt a lot!
What's next?

[2021-01-14 06:24] ShooterIT commented on #8323
I can try to implement default TTL configuration if core team approve it

[2021-01-14 07:25] oranagra commented on #8318
@simonkotwicz indeed this is a behavior change, i'm hoping people read the release notes carefully, specifically the ones in the "behavior change" section.

as far as i understand your example i don't think there's a behavior change in that case.
let's consider these
* `./redis-server` - when no arguments, redis starts with default save config as it always has.
* `./redis-server redis.conf` - also

[2021-01-14 08:46] yjhisbest opened #8334 "how to understand redis respone first byte: 116[QUESTION]"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.

Generally, questions about using Redis should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [/r/redi

[2021-01-14 09:49] n3m6 opened #8335 "The latest linux binary distributions of redis-cli tools were not built with BUILD_TLS=yes enabled"
Latest 6.0.9 version of the redis-cli tools were not built with BUILD_TLS=yes enabled, and hence the client tools cannot communicate with any redis server with TLS enabled.

[2021-01-14 10:21] gaodg opened #8336 "Set command does not trigger slowlog, even a 500M string."
Hi ,
I met a strange question: even set a 500M string, redis doesn't make a slowlog(slowlog threshold 10ms, i even adjust slowlog thresholdto 5ms). But when i use hset, redis record a slowlog.

Thanks very much.

How to reproduce:
# Create a 500mb file
dd if=/dev/zero of=bigfile bs=1M count=500

# Check slowlog configuration
# Redis version: 4.0.12 (I also tried redis 6.0.6)
127.0.0.1:6379> config

[2021-01-14 11:29] yossigo commented on #8335
Hi @n3m6, can you please describe what binary package you're referring to? Thanks!

[2021-01-14 12:12] itamarhaber commented on #8318
I concur with @oranagra

[2021-01-14 12:49] yossigo commented on #8330
@dearbub You should probably try to investigate what's happening on the client side, do you get some errors, what `errno` shows up, etc.

Please be advised that Cygwin is not a very popular or supported platform to run Redis, so for any real production use you should probably avoid it.

[2021-01-14 13:59] heylogt commented on #8330
The client does not have any errors, except that when the number of connections reaches 124, it will suspend and wait for the server IDLE to release and reconnect.

The current latest version of Redis does not have a Windows version. If Cygwin is not recommended, is there a better official version to recommend.

[2021-01-14 14:39] yossigo commented on #8330
@dearbub Redis never had official Windows support, but there are (were?) a few ports around. I think most people who do use it on Windows these days use WSL (Windows Subsystem for Linux).

[2021-01-14 16:32] yossigo commented on #8329
I feel the same as @madolson.

Specifically regarding the hashing algorithm, I think the real issue here is not lack of flexibility but the use of SHA256 as it is. From a security standpoint, one would just expect a proper hash like bcrypt/scrypt/pbkdf2, but it was ruled out due to the performance impact on handling lots of incoming connections.

One goal of such an API should be to offload this t

[2021-01-14 17:00] OmarQunsul opened #8339 "[NEW] Expiring Members inside Sets"
**The problem/use-case that the feature addresses**

I use Redis as a place to store objects in a web application. These objects belong to a class. I access them via some ORM Library I developed in Ruby. I need these objects to have some TTL time.
I store the keys of a class objects inside a set. And I store the info of each object, each in its own Key/Value
For example:
[SET] 'users' => ['user:1'

[2021-01-14 17:11] jeromedoucet commented on #5379
@itamarhaber, @jplflyer I just see this thread, and I am almost certain you are aware of such mechanism, but at leat one redis client (go-redis) does expose an `UniversalClient` that abstracts the redis configuration (cluster, sentinel or standalone) for the application that use it.

[2021-01-14 19:12] mabrarov commented on #8300
@yossigo,

I still get the same error at the start of Sentinel.

Here is my sentinel.conf (part of the file):

[code]

[2021-01-14 19:18] yossigo commented on #8339
@OmarQunsul I'm currently contemplating with ideas to solve similar problems.
So far the idea is to make it possible to provide configuration that will trigger automatic `SREM users <key>` when `<key>` is deleted/expired, if `<key>` matches some pattern (e.g. `user:*`).

[2021-01-14 19:20] yossigo commented on #8300
@mabrarov You need to have the `sentinel resolve-hostnames` and `sentinel announce-hostnames` lines before the `sentinel monitor` line (this is a known issue which is already being worked on in #8271).

[2021-01-14 19:34] itamarhaber commented on #8339
Hi @OmarQunsul!!! Long time - thanks for the feedback :)

[2021-01-14 19:40] solracsf commented on #7217
Please note that:

so setting it to `no` is not a problem.

See https://github.com/redis/redis/pull/8036

[2021-01-14 20:36] yossigo commented on #8323
I'm not convinced either way, but please let me be the devil's advocate here.

A default TTL *is* dangerous. Yes, it could keep the dataset smaller by expiring before eviction kicks in, but it could also end up taking up more memory due to TTL overhead (e.g. lots of small keys), do the opposite and have eviction kick in sooner.
@ShooterIT Do you have some useful use cases for this?

I do recall he

[2021-01-14 21:15] OmarQunsul commented on #8339
Hey @itamarhaber . Indeed. I hope you are doing well.
I came across your PR https://github.com/redis/redis/pull/8179 that you merged recently.
Cool stuff :clap:

[2021-01-14 22:01] breisig opened #8340 "[NEW] Make redis 7 multi-threaded."
**The problem/use-case that the feature addresses**
Now with computers/servers having LARGE amount of CPU cores, it would be great for Redis to run one instance and utilize all CPU cores instead of having to run multiple Redis instances.

**Description of the feature**
Make Redis fully multi-threaded.

[2021-01-14 22:38] oranagra commented on #542
I agree, I rather extend the capabilities of HSET than improve HSETNX (same as SETNX was abandoned in favor of SET NX).

But on the other hand the HSET command is taken, and impossible to extend, and improving HSETNX is so straight forward.

I'm also not sure I'm a fan of the FIELDS argument.
Would like to hear @itamarhaber

[2021-01-15 00:11] madolson commented on #8340
I'm happy to let you know, Redis already runs with multiple threads today! We use background threads for various operations like lazy flush ;D

Joking aside, this is a great ask and we are looking into it. One of our thoughts is to make it easy to run redis cluster mode in a multi-threaded environment, since that provides a logical way to split up the keyspace. For example, we could have 8 threads

[2021-01-15 05:32] nmeisels commented on #8323
We use our redis cluster this way. All of the data in our cluster should be TTL'd as it's only relevant for a short time.
An example use case is using a redis cluster for rate limiting of user requests. We only need the keys for a short time and after that we have no use for them.
We also use the cluster for other types of features which require a longer TTL but they may be accessed infrequently.

[2021-01-15 07:42] Seanid opened #8341 "[QUESTION]Why can I assign a null key"
When I use Redis ，I find the following code executable
`
127.0.0.1:6379> set "" 1
OK
127.0.0.1:6379> get ""
"1"
127.0.0.1:6379>

`

`
jedis.get("")
`

I can't find any handling of empty keys in the source code.Is this normal

[2021-01-15 08:31] soloestoy commented on #8206
I agree, BTW we have lots of commands send invalidation before real reply, even like SET command...

[2021-01-15 09:26] ouromoros opened #8342 "Need a way to ensure data is persisted"
Here is the scenario: the client needs one way to ensure that even in the event of a crash, Redis does not lose the data the client just wrote.

Setting `appendonly` to `true` and `appendfsync` to `always` seems to be the closest solution. However, there is stil the possibility that Redis crashes just after responding to the client with "OK" and before persisting the data to disk. There would be n

[2021-01-15 10:03] heylogt commented on #8330
My first choice and verification is to use WSL, because it can be continuously updated, but the product will eventually be used in systems including Win7, Win10, Win Server and so on, so WSL is not applicable.

[2021-01-15 19:14] michael-grunder commented on #8206
Just for reference, [here's the fixed logic in hiredis](https://github.com/redis/hiredis/compare/out-of-order-push-fix).

[2021-01-15 21:04] mabrarov commented on #8300
@yossigo,

I adjusted configuration as you suggested and it started successfully. I need some time for testing, but first naïve tests I executed manually demonstrate that #8282 works and fixes #8300.

Thank you for your help and for #8282! I'll provide more details once I test more cases next week.

[2021-01-15 22:16] madolson commented on #8341
That is normal yes, you can set an empty key.

[2021-01-15 23:52] josefm9 opened #8345 "Potential Data Races Detected by Static Code Scanner"
Hi, we are working on a race detection tool and we believe that we have found a potential race for this project.
Although this race does not seem to be crucial to the everyday function of Redis, we thought it would be better to report the race just to be sure. This race was found on commit 8a81ed1 at the time of writing.

**Description of the Bug:**
The variable slaveKeysWithExpire, declared at re

[2021-01-16 10:39] uhlhosting commented on #8081
I got same issue after upgrades and when using Sockets.

[2021-01-16 19:21] yossigo commented on #8330
@dearbub If that's the case you may want to look around for native Redis forks on Windows, but unfortunately I can't provide any references to that.

AFAIK Cygwin has other big limitations, such as no support for POSIX-like `fork()` with copy-on-write which Redis relies on for replication, snapshots and AOF rewrites. Using it for anything other than tests/development is really discouraged.

[2021-01-16 19:32] yossigo commented on #8342
@ouromoros The `OK` reply is placed in the client output buffer but it is not written to the socket until `fsync` is done. There is a write barrier mechanism in the event loop built for this purpose.

[2021-01-17 09:08] ShooterIT commented on #8342
Yes, redis does much work to guarantee to call fsync AOF if clients receive reply.

hi @yossigo I noticed we only judge the return of write(https://github.com/redis/redis/blob/unstable/src/aof.c#L453) but not judge the return of fsync. SoI submit a PR https://github.com/redis/redis/pull/8347, redis also exits for fsync error when the aof sync policy is always just like occurring write error

[2021-01-17 14:06] yossigo commented on #8206
@madolson `signalModifiedKey` always gets called after the key is modified, but not consistently before or after the reply.

I had a closer look and in some cases it's a bit more difficult to solve because `signalModifiedKey` and replies are interleaved. The only way I see we can solve it with reasonable amount of refactoring is to create some `scheduleSignalModifiedKey` which will hold a queue an

[2021-01-17 14:22] yossigo commented on #8081
@uhlhosting Can you please describe the steps you took for this to happen? Did you use some pre-packaged Redis or built and installed it from source?

[2021-01-17 16:20] yossigo opened #8349 "Multi-parameter configuration set"
Currently `CONFIG SET` operates on a single configuration parameter at a time, which works well because most configuration parameters are independent. In other cases parameters do relate to each other but there's little or no harm in performing two discrete `CONFIG SET` operations (e.g. `replica-announce-ip` and `replica-announce-port`).

In more rare cases, parameters are both inter-dependent and

[2021-01-17 20:57] sanfx opened #8351 "[BUG] redis pod does not work on arm64 kube worker node"
**Describe the bug**

Getting fast memory issue.

**To reproduce**

`kubectl create -f redis-deployment-definition.yaml`

What special configuration is required to run redis pod on an arm64 worker node.

I modified the deployment config as shown below:
below is my **redis-deployment-definition.yaml**
[code]

A description of what you expected to happen.

**Additional information**

Any additional

[2021-01-17 21:25] yossigo commented on #8351
Because of a serious bug in some versions of the Linux kernel on arm64, Redis attempts to test kernel behavior and produce a warning/refuse to start. In your case it seems like the test itself fails for some reason (perhaps due to container restrictions?).

To get some idea of what happens, can you please apply the following patch and see what error is produced in the logs (as a side effect Redis

[2021-01-17 21:27] majklik commented on #7388
From my point of view, the inclusive variant with "`[$`" is good and similar to the exclusive range for "`XRANGE stream (999999 +`".
By the way, the same construction would be useful for "`XGROUP CREATE key groupname [$`" and "`XGROUP SETID key groupname [$`".

[2021-01-18 02:13] heylogt commented on #8330
Thank you very much for your answer. I'll try to find a Windows solution.

[2021-01-18 04:57] ShooterIT commented on #8342
One way i think of to avoid decreasing performance too much, just like `writeOptions.sync = true` of  leveldb/rocksdb
[code]
And we may need to reset old configuration of `appendfsync` if needed.

[2021-01-18 07:13] davidnus opened #8352 "[QUESTION] HA deployment without replication"
We are looking for a HA redis cluster deployment configuration without data replication.

More precisely for each master in the cluster we want replicas act as "standby" instances that when the associated master fails will elect one to  become the new master, but with an empty state for all the slots allocated to the master-replicas group. This will allow for a HA deployment without dealing with p

[2021-01-18 09:31] #8330 closed

[2021-01-18 09:37] #8237 closed

[2021-01-18 09:44] yossigo commented on #8342
@ShooterIT Another possible approach we've discussed in the past is to hold back replies based on the required offset.

Basically you can think of it as an extension to `AOF_FSYNC_EVERYSEC` as fsync still happens in the background and does not block the main thread. However, client replies are associated with a specific fsync and are delayed until the operation related to the replies is committed

[2021-01-18 09:46] ssaid11 commented on #8340
@madolson This seems like a great way to achieve multi-threading without introducing locking which would impact performance. If  I understand correctly, this would be similar in principle to running multiple shards on the same machine, each handing a separate keyspace.

[2021-01-18 09:48] yossigo commented on #8345
@josefm9 thanks for reporting this. As you indicate yourself, this is not something that's ever expected to happen as the condition that leads to it is practically a very basic programming error.

I'm curious, what tool are you using? Is it publicly available?

[2021-01-18 10:02] yossigo commented on #8352
@davidnus I am not sure I fully understand your intention. Do you mean you're looking for high availability, but don't care about losing the data when a master fails as long as you have a new instance to talk to?

[2021-01-18 11:17] davidnus commented on #8352
@yossigo, correct. we don't care about loss of data on master nodes but need the new instance be available. The data we store are of transient nature and can be cheaply 'rebuilt' when the 'standby' instance takes over the slots. Replication for our use is both more expensive and harder to guarantee correctness.

[2021-01-18 11:44] ShooterIT commented on #8342
Thanks @yossigo that's a good idea to satisfy users' `fsync` requirements and only block specific clients instead of entire server.

[2021-01-18 11:52] ivanovaleksandar commented on #8313
Hi, I tested @patpatbear suggestion, but after 3 days of running, the same issue happened.

@hwware When I start the service, every component (server or sentinel) is set only once, but after a while, the sentinel restarts and registers the same redis instances twice, hence the `known-replica` duplicated entries. I don't know how that happens and what triggers it, because it is running for couple o

[2021-01-18 14:14] yossigo commented on #8313
@ivanovaleksandar Do you use `replica-announce-ip` with a hostname on the Redis instances?

[2021-01-18 14:31] ivanovaleksandar commented on #8313
@yossigo TL;DR I tried both approaches (hostnames and IPs only) but ended up with the same result.

Here is the config. I modified the docker entrypoint so I can dump the config. (Note: the IPs/Names redacted/changed)

[code]

After the sentinels fails, the config that it dumps is the following:
[code]

[2021-01-18 15:09] josefm9 commented on #8345
Hi @yossigo,
In order to detect this race, I used a tool that I am helping develop called Coderrect Scanner.
The tool uses static analysis to find races within projects and can be found here [https://coderrect.com/download/](https://coderrect.com/download/). The tool is free and publicly available.

If you have any questions or suggestions while using the tool feel free to contact me at josef.m@co

[2021-01-18 16:28] yossigo commented on #8313
@ivanovaleksandar Just to be sure I was clear, when referring to IPs I was referring to the Redis configuration and not the Sentinel configuration (there's a known issue with it, that's why I'm asking).

Another thing that could help identify the problem here is looking at the Sentinel logs and watch the chain of events from startup up to the point the wrong configuration file gets written.

[2021-01-18 19:31] daniel-house commented on #8329
It seems to me that we need to preserve the external behaviors of the AUTH and HELLO commands while allowing them to use different authentication methods (either internally or by means of some process outside of Redis) so that the most that a client can observe is an increase in latency for the AUTH and HELLO commands.

Both authCommand and helloCommand call ACLAuthenticateUser which in turn calls

[2021-01-19 00:04] rahim commented on #8062
Thank you @anamba, super helpful.

I hit this issue from the context of my brew service managed launchagent failing to start redis on boot (ie `brew services start redis@4.0`). For anyone in the same boat, I successfully applied the suggested env var isolation by editing the plist as follows

[code]

(I'm using the @4.0 formula here, but the default redis version should work similarly)

Update ~/L

[2021-01-19 02:00] sundb commented on #8336
Run your test, `set bigstring <bigfile` cost 8ms, and does not exceed the slowlog-log-slower-than(10ms) threshold.
btw, dict insert is slower than list, so the dictionary will trigger the threshold.

[2021-01-19 03:38] david6522-man opened #8358 "master's memory is 21G but some slave's memory is 12G or 21G"
redis version:4.0.14
maxmemory_policy:noeviction
maxmemory_human:37.25G
aof_enabled:0

Master(21G):
![image](https://user-images.githubusercontent.com/77654188/104984766-5a0fd980-5a4a-11eb-9881-e4316f4b9c03.png)

![image](https://user-images.githubusercontent.com/77654188/104984723-43698280-5a4a-11eb-9201-21c156a1ab60.png)

Slave(12G):
![image](https://user-images.githubusercontent.com/77654188/10

[2021-01-19 03:44] charsyam commented on #8358
@david6522-man It is possible, You have lots of expire keys. and Redis will remove expired key when it accesses the keys.

[2021-01-19 03:50] david6522-man commented on #8358
but when i use rdr tools to analyse master and slave's dump file , all display about 20G  memory ,and i see master have about 20w expired keys , totol keys about 950w , also  HZ set 500
![image](https://user-images.githubusercontent.com/77654188/104985598-482f3600-5a4c-11eb-8b3c-0e784dbc84fc.png)

[2021-01-19 03:56] aem-quotient opened #8359 "Redis Reactive is not working for multiple datasource"
I have a use case like using two different regions Redis. Since the Redis is not synced between two different data centers. Need to update the data center in a synchronized fashion.

I'm facing a problem while updating the cache, The cache is updated in only one region.

**@EnableRedisRepositories(basePackageClasses = {RefreshEastCacheRepository.class}, redisTemplateRef = "refreshEastRedisTemplate

[2021-01-19 04:03] madolson commented on #8336
Setting a string in Redis is also a well-optimized used case, and is typically done without an extra string copy. HSET however does need to copy the resulting data into a new structure, which is where most of the time is going to be.

[2021-01-19 08:42] itamarhaber commented on #8359
Hello @aem-quotient

Please note that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. It appears that your question is related to using Redis with some form of Java - I believe it would be better answered by a different community (perhaps on StackOverflow?) rather than here.

Closing this issue as irrelevant to this repository, but please feel fr

[2021-01-19 08:42] #8359 closed

[2021-01-19 08:51] itamarhaber commented on #8331
Hello @osharena

Yes, when a client unsubscribes from Pub/Sub channel the relevant memory resources are freed. A channel without subscribers does not consume memory.

[2021-01-19 09:08] gaodg commented on #8336
Many thanks.
Can you adjust slowlog setting to 2ms, and test again?

Here are my findings:
1) On a 6.0.9 version redis, even i adjusted slowlog setting to 0.5ms, i still can't get slowlog.
2) On a 4.0.12 versio redis, It seems no matter how small the slow log setting is, how big the string is, redis don't record slowlog the first time.Stable recurrence.

Below are demo process for 4.0.12 version:

[2021-01-19 09:19] itamarhaber commented on #7388
The more I think about it, the more I'm leaning towards using a new special character rather than reusing `$` and `[`. The `$` is meant to be used only with `BLOCK`, whereas this makes `BLOCK` meaningless (unless the stream is empty). So, the `+` makes more sense to me in terms of reflecting "the latest entry" like with `X[REV]RANGE`.

[2021-01-19 09:30] guybe7 commented on #7388
@itamarhaber for what it's worth i think it's better to allow `[$` in the non blocking variant than adding yet another "special" char to XREAD[GROUP]

[2021-01-19 10:05] oranagra commented on #8062
FYI, this bug is fixed in Redis 5.0.11, 6.0.10 and 6.2 RC2

[2021-01-19 10:44] sunflowerbofh commented on #4067
Annotation:

You must coercively put this config line
    sentinel down-after-milliseconds ...
*after*
    sentinel monitor mymaster ...
Otherwise the service won't start. No error in log file, console output is only "Job for redis-sentinel.service failed (...)".

Tested with Redis server v=6.0.9 sha=00000000:0 malloc=jemalloc-5.1.0 bits=64 build=d93f2ea556bbc8e1

[2021-01-19 11:06] filipecosta90 commented on #4707
Core team I believe this can be a very good addition to the whole observability features that redis offers.
If you see that per-command latency histograms is too much of an overhead we can try to mimic what MongoDB offers and use a per command type histogram ( read,write, etc... ).

Adding the MongoDB feature that maps to this:
https://docs.mongodb.com/manual/reference/method/db.collection.latency

[2021-01-19 11:15] sundb commented on #8336
sorry, I just cut to tag 6.0.9, and found that the performance is much slower than the product environment because it was tested in the development environment.

1. I checkout to 6.0.9, and the cost time is 50 microseconds, you can set slowlog-log-slower-than to 50 to test.
2. The reason why it doesn't show up the first time is that you don't need to delete the old data the first time, but when yo

[2021-01-19 11:45] sergey-komissarov commented on #7652
Hello, we are facing the same situation.
We want to start multiple redis servers on the single node with some other services which uses random ports. Actually we have 50-100 services per node.

@yossigo May be it is acceptable to write bound port value in the file specified by the config? It should be enough in most cases.

[2021-01-19 11:51] ivanovaleksandar commented on #8313
@yossigo Indeed the config has hostnames instead of IPs. Initially, the sentinel config was set with hostnames only, but the result was the same.

Now, I am testing again with all config set with IPs instead of hostnames for both redis and sentinel. Once I have relevant feedback, I will report back.

[2021-01-19 12:23] yossigo commented on #8352
@davidnus thanks for clarifying this. It's not currently possible with Redis Cluster. You *could* do something like that with standalone Redis instances if you orchestrate it yourself of course, as a workaround.

[2021-01-19 12:28] itamarhaber commented on #7388
@guybe7 fwiw, I think overloading the $ with a different meaning even with the [ modifier will confuse, but I trust you more than I trust myself. This (the syntax) is definitely not a show-stopper, but we need to make clear (in the docs?) that blocking is futile in this case (just like calling $ without blocking).

[2021-01-19 12:35] luggie commented on #8290
just what I was hoping to read. Thanks!

[2021-01-19 13:15] yossigo commented on #7652
@sergey-komissarov I'm not sure I understand your suggestion, do you mean specify a port range Redis should allocate from? How do you plan to determine the mapping between ports and instances if it's random?

[2021-01-19 13:17] majklik commented on #7388
@itamarhaber The blocking depends on the state of the requested streams? If at least one stream have any record then `XREAD ... stream [$` is always nonblocked, if all requested streams are empty then XREAD can be blocked for specified timeout (in this case is operation the same as using `XREAD ... stream $`).

[2021-01-19 13:20] yossigo commented on #4067
Sentinel handles configuration directives in the order they're provided, so `sentinel down-after-milliseconds...` that refers to a master that was not defined yet will fail. This will be fixed in #8271.

[2021-01-19 13:20] #4067 closed

[2021-01-19 18:31] #8318 closed

[2021-01-19 21:49] madolson commented on #8358
@david6522-man Can you clarify if all the slaves that you startup have 12Gb, it sounds like you said some are using 21 GB. The two modes you mentioned should both produce identical RDB files, so there should be no difference in memory usage.

One thing worth nothing about Redis is that replicas can use less memory than there masters since are multiple ways to store the same set of data within Redi

[2021-01-20 01:35] gaodg commented on #8336
I tested again, the result is same as yours. Did not expect redis to set the string so fast! redis 6 is so awsome!

Thanks very much.

Below are my test result, i adjust slowlog-log-slower-than to 5 to get the slowlog :
2) 1) (integer) 10066
    2) (integer) 1611105771
    3) (integer) 8
    4) 1) "set"
       2) "bigkey"
       3) "\x00\x00... (524287872 more bytes)"
    5) "10.62.197.12:54750"

[2021-01-20 01:35] #8336 closed

[2021-01-20 01:35] RDShah commented on #7943
Checking in on this @oranagra, I can submit a PR, but need some input on how to handle existing user settings.

There's a trade-off between capacity (the max value the counter can reach before "saturating") and error.  The use can control what to prioritize using ```LOG_INCR_FACTOR```, which is 10 by default and is suggested to range from 1 to 100 according to the [docs](https://redis.io/topics/lr

[2021-01-20 01:36] gaodg commented on #8336
Thanks you!

[2021-01-20 01:38] sundb commented on #8336
You use `time xxx` to calculate the time is not accurate, because it includes the time of network data transmission, redis only calculates the time of command execution, not include the time of protocol decode.

[2021-01-20 01:42] gaodg commented on #8336
OK, thank you.

[2021-01-20 01:42] sundb commented on #8336
@madolson I found that lazyfree has no effect on the free of large string object, lazyfreeGetFreeEffort always returns 1, is this a problem?

[2021-01-20 02:14] david6522-man commented on #8358
it's true that some slave node have 12GB  and others have 21GB ，when i add a new slave from master.the slave's memory display 21G as the same as the master

[2021-01-20 02:45] rkedward commented on #7344
FYI, I ran the tests for the latest release v6.0.10 and did not get this failure.  This issue seems to be resolved.

[2021-01-20 05:35] osharena commented on #8331
Hello @itamarhaber

Thanks a lot for checking. :)

[2021-01-20 05:35] #8331 closed

[2021-01-20 08:16] oranagra commented on #7344
thanks. closing.

[2021-01-20 08:16] #7344 closed

[2021-01-20 09:23] david6522-man commented on #8358
we only have 20w expire keys ，the total keys is about  950w

[2021-01-20 09:57] oranagra commented on #7943
@RDShah i'm sorry, i don't currently have the bandwidth to dive into it.
what i can say is that one of my concerns is not to any change of behavior.
so if a user tuned his configs for a certain range or accuracy, we need to make sure the new algorithm doesn't reduce the range, or accuracy (for any given set of configs).

[2021-01-20 11:05] ogama opened #8368 "[NEW] Interval set"
I suggest to add a new type which is similar to the sorted set : Interval set.
The idea is to replace the score by an interval of number (integer or decimal).

This data structure allows to search for an item based on the associated interval.

# Commands

Add members with interval in interval set

`IADD <key> <minBound> <maxBound> <member> [<minBound> <maxBound> <member>]...`

Delete member within

[2021-01-20 11:35] tokred opened #8369 "[BUG] security: config rewrites of sentinel.conf set insecure file permissions"
**Describe the bug**

Running Sentinel, as soon as an automatic config rewrite is performed, the file permissions of sentinel.conf are set to `0644` and redis:redis (user/group under which sentinel is running), irrespective of the original file permissions and ignoring `UMask` setting of systemd service unit. This exposes sensitive data by setting the file world-readable, e.g. `requirepass`/`auth-

[2021-01-20 12:07] soloestoy opened #8370 "Scripts should be replicated only by effects."
@redis/core-team we have discussed this in issue #5292 please read the history, and now I find another new bug, so as not to disturb antirez, I open this new one.

This new bug is about ACL, if a user execute lua script with limited ACLs in master, and then replicate the script verbatim to replica, it will result in data inconsistency, because master client can execute all commands, for example:
1

[2021-01-20 12:32] yossigo commented on #8369
@tokred Thanks for reporting this! This seems to have been introduced due to a new (safer) way of rewriting configuration files. In the past the file was simply overwritten (same inode), but now Redis creates a new temporary files and then renames it over the old file.

It will be impossible to guarantee that file ownership is retained, but this should definitely be fixed to at least honor the `um

[2021-01-20 12:56] oranagra commented on #8370
@soloestoy good catch.
i think we agreed to drop script replication in redis 7.0, i don't think we can do that before.
considering that this is a serious issue, i wonder if we can somehow solve it in the meanwhile (without a huge effort).

p.s. there no need to worry about not posting in old issues, Salvatore isn't following notifications from this repo unless maybe if we `@` mention him explicitl

[2021-01-20 13:47] tokred commented on #8369
@yossigo, thank you for confirmation and looking forward to the fix.

Frankly, I find sentinel's approach of the config file getting rewritten less than ideal in the first place. It a) requires write permissions for the process' uid, b) breaks configuration deployments like Ansible (no idempotency of repeated runs as the deployed config will be altered locally), and c) kind of mixes static configu

[2021-01-20 14:03] yossigo commented on #8369
@tokred I generally agree about the need to better separate static configuration and runtime state, but that's water under the bridge now. You may still be able to achieve idempotency if you create a separate pristine config file and a "working config" which is copied elsewhere.

[2021-01-20 14:21] yossigo opened #8372 "Proposal: Key Annotations"
# The problem

Redis considers its dataset as a set of uniquely identified keys of different types. But for users, the dataset really has a more semantic value, often a set of entities of different types and their relations.

Different applications that directly access the dataset need to be aware of this and avoid messing up data. Redis does not play a role in enforcing integrity.

One workaround

[2021-01-20 14:28] yossigo commented on #8370
I think we can settle for adding a "dangerous" warning in the `DEBUG LUA-ALWAYS-REPLICATE-COMMANDS` command, I don't think it really makes sense to try to fix that at this point.

[2021-01-20 15:19] oranagra commented on #8370
@yossigo it's also a config `lua-replicate-commands`

[2021-01-20 15:41] gavrie commented on #8372
This looks very interesting. A few comments:
- The distinction between `CREATE` and `UPDATE` does not seem very Redis-like, and neither do the terms themselves. Commands such as `SET` make no distinction after all.
- Maybe we should define categories of commands to trigger upon? e.g. define a list of commands, give it a name, and define a KA on such a named list. Predefined lists could be added --

[2021-01-20 17:46] madolson commented on #8370
I would also advocate just dropping support for script replication in Redis 7, and not doing anything else explicit to resolve it. We could consider throwing a warning in the log if a lua command errors for ACLs, but I don't feel strongly about it.

[2021-01-20 19:30] bpo commented on #8372
Is enforcing the semantic integrity of data a goal for Redis, broadly, long-term? The proposal looks at a constrained part of that larger problem, but I think it would be useful to hear more about how much of the larger problem will be "in scope".

[2021-01-20 19:57] #8369 closed

[2021-01-20 21:38] madolson commented on #8372
I think bpo called out what my main concern is, which is that it'll be a hard problem in Redis to guarantee integrity of the data. I also doesn't really think it fits in with the redis model that well, having "schemas" fits much better into the relational data model.

A different thought that I've had for awhile is being able to better interoperate between keys/collection structures. One of the pr

[2021-01-20 21:56] simonkotwicz commented on #8318
PR to fix a typo https://github.com/redis/redis/pull/8362

[2021-01-21 03:46] ShooterIT commented on #8323
Hi @yossigo FYI, I talked with my colleagues, actually, in our company, this requirements are much more from memcached users, because in memcached set command, they must set expire time. but in redis set command, it is not necessary, so they may forget to set expire time.
[code]
But redis is redis, I am not sure we should support default TTL feature, I have a glance at it, i think it's not easy to

[2021-01-21 06:09] madolson commented on #8349
We also would probably want to be able to pre-validate all of the configs are valid before applying any of them.

[2021-01-21 10:36] yossigo commented on #8351
Update: have been trying to reproduce this on an arm64 board (`Linux pine64 5.10.4-sunxi64 #20.11.7 SMP Tue Jan 5 23:28:09 CET 2021 aarch64 aarch64 aarch64 GNU/Linux`) with both docker and microk8s (running the above deployment) without success.

I assume this might have something to do with the specific kernel in use, but can't tell for sure. Unless we learn something new I think 6.2 should treat

[2021-01-21 11:42] uhlhosting commented on #8081
@yossigo it seems the issue its only when upgrading and using custom .sock settings, the upgrade will overwrite the config in our case thats manually compiled for centos 8 from source.

So the issue how I see it, would be great to avoid file overwrite of current redis config, in that way there wont be any errors.

[2021-01-21 11:56] oranagra commented on #8351
@sanfx can you please apply the change Yossi suggested and share the results?

[2021-01-21 12:58] fcolista commented on #2843
Still no plan for lua5.3?

[2021-01-21 13:50] itamarhaber commented on #7021
Mailing list related: https://groups.google.com/g/redis-db/c/wT8MUKQ-ehg/m/r5ffTv7yBgAJ

[2021-01-21 14:25] asalabaev commented on #7021
I agree the existing behavior makes sense in some scenarios, e.g. the consumer seeing a NULL body may fire an alert about the message/information got lost, you may need to be re-submitted to the queue, etc. On the other hand the client can ignore NULL message body. A documentation would help preventing sudden NullPointerExceptions when processing message body of a missing entry

[2021-01-21 19:18] daniel-house commented on #8329
Here are some high level design thoughts.  Please let me know what you think.

The current ACL code is built around two key functions: `ACLCheckPasswordHash` and `ACLHashPassword`.

`ACLCheckPasswordHash` is used when a client sets a password using `ACL SETUSER <uname> #hash` or deletes a password using `ACL SETUSER <uname> !hash`.  I think this is a useful capability that should be preserved when

[2021-01-21 19:21] ogama opened #8379 "[NEW] Memory optimization with a dictionary"
# The problem

In some cases hash keys (and values) can be the same from one hash to an another.

For example :
`
HMSET user:1 name John age 13
HMSET user:1 name James age 25
HMSET user:1 name William age 48
`

In redis for each hash the key names will be store separately and will take more memory.

# Feature

The idea is to have a global dictionary (like a set) and when an hash field is write, th

[2021-01-22 01:32] blank1993 opened #8380 "[CRASH]dictFind(db->dict,key->ptr) != NULL"
redis          | === REDIS BUG REPORT START: Cut & paste starting from here ===
redis          | 1:M 22 Jan 09:03:05.578 # === ASSERTION FAILED OBJECT CONTEXT ===
redis          | 1:M 22 Jan 09:03:05.578 # Object type: 0
redis          | 1:M 22 Jan 09:03:05.578 # Object encoding: 0
redis          | 1:M 22 Jan 09:03:05.578 # Object refcount: 1
redis          | 1:M 22 Jan 09:03:05.578 # Object raw s

[2021-01-22 10:58] ivanovaleksandar commented on #8313
After deploying the only IPs setup, I am not able to replicate the issue. Now I am questioning if this issue occurs with docker only setup, or a general bug.

Anyways, @patpatbear @hwware @yossigo thank you for the help. This can be considered as resolved.

I will close this for now, but I would like to link the "known issue" as well.

[2021-01-22 11:23] rafaelsierra commented on #6646
If `maxmemory` is not related to RSS, how are you supposed to know which value to set it? Should your database be 50% of the available memory? 30%? There is no math you can do to reliably say how much memory redis will actually need while running, and since the whole point (in my case using it as cache) is to be fast, falling back to swap is not an option, I have to keep all my database in memory.

[2021-01-22 18:12] madolson commented on #8352
Hm, I couldn't dig up the conversation I had with salvatore about this, but we were at one point talking about optimizing redis cluster for a specific customer we have. It was a pure caching use case that had data that was only valid for ~5 seconds. They asked for three things relevant to open source:
1. On partition splits, keep serving reads. (This was implemented with a flag that was in Redis 6

[2021-01-23 06:21] ZhouJiaZhi opened #8384 "[QUESTION] Is there any way to limit the value size of the list type"
I want to store some record in the Redis list, but I only want to keep the most recent 1000 records. My current approach is to use **LTRIM** key 0 999 to delete the expired record every time I **LPUSH** a record. but this means I need to execute two commands. Is there a better solution to this problem?

[2021-01-23 07:29] madolson commented on #8384
As of today, no, there is no way to limit the size of records within Redis. Would you prefer some ability to do LPUSH with an optional argument that trimmed the size as well, or as some sort of built in constraint within Redis?

[2021-01-23 11:48] GitXiaoPing opened #8385 "后续会更新redis 版本嘛？"
需要一个32位新版redis,老的版本使用总是有问题。

[2021-01-23 13:08] ffbh123456 commented on #8384
@madolson
Hi, I prefer the second method you said, and I think this function can be made into a configuration item and configured by the user
for example
**redis.list.max_len** = 1000, This means that the length of a list is at most 1000. When this length is exceeded, Redis will auto delete the remaining elements according to some rules(maybe according to FIFO, the first inserted element is delete

[2021-01-23 19:47] oranagra commented on #8385
@GitXiaoPing please post in English.
All versions of Redis can be built for 32bit platforms using `make 32bit`.

If you're using a specific binary distribution, you'll have to ask whoever is maintaining the distribution. It would help if you specify how you install your redis.

[2021-01-24 10:01] ZhouJiaZhi opened #8387 "[QUESTION] How to delete some keys in one command"
There are some keys in my database, abc1, abc2, abc3... I can use fuzzy matching **keys abc*** to query them all, but when deleting, I need to execute the **del key** command one by one. Is there any fuzzy matching to delete command？

[2021-01-24 10:36] ShooterIT commented on #8387
`del` command supports multi keys, but doesn't support keys pattern, so you can  use `del/unlink abc1 abc2 abc3 ... ` rather than `del abc1`  , `del abc2` ,  `del abc3` , but please notice that deleting too many keys in one command also may freeze server.

[2021-01-24 10:58] ffbh123456 commented on #8387
@ShooterIT
Thank you, this approach is better than deleting one by one, but it also needs to execute multiple commands, which is not convenient, I need to execute the **KEYS** first, and then execute the **DEL** according to the return value.
By the way, Why not add a fuzzy delete operation? This command may look like the following: **DELS abc***

[2021-01-24 11:16] anzhiruosu opened #8388 "Redis4.0 aof rewrite error : Write error writing append only file on disk"
Redis4.0, master and slave mode, aof opend in slave. Some error happend when child is doing aof rewrite。

I think it's out of time when child read pipe message from parent in syncRead, but I don't konw how it happened.

Here's some slave logs:

09:17:15.539 * Starting automatic rewriting of AOF on 200% growth
09:17:16.372 * Background append only file rewriting started by pid 115621
09:22:27.490 #

[2021-01-24 11:32] jiekun commented on #8387
It should be easy to finish with a Lua script or an external module.

BTW I think since the `KEYS` command is blocking and **not recommended**, it should be the same for `DELS` command (If exists). So that's the reason why Redis maintainers don't want to implement more commands which will block the main loop? WDYT

[2021-01-24 13:15] yossigo commented on #8081
@uhlhosting If you're compiling Redis from source and handle the upgrade yourself, you can also avoid overwriting the configuration file no? Maybe I misunderstand something here, but it's basically a process you implement yourself isn't it?

[2021-01-24 13:46] yossigo commented on #4707
@filipecosta90 I agree with you this can be a very useful feature for Redis, and I wouldn't give up the command resolution. The question is how avoid complexity and maintain a zero overhead when this is not in use.

BTW we already have hdr_histogram as a dependency now, so the gap is definitely smaller than it was when the issue was filed.

[2021-01-24 14:11] filipecosta90 commented on #4707
Agree. should it be an extension to `INFO COMMANDSTATS`? an extension to ` LATENCY HISTOGRAM <command name>`? or a dedicated new command?

[2021-01-25 01:52] bpo commented on #8388
@anzhiruosu do you have logs from the master around the same time period? Looks like from the replica's perspective the master just stopped responding, as you noted. Could be a network error or possibly the master was locked up in a behavior that prevented it from responding.

[2021-01-25 07:38] raj454raj opened #8392 "[Redis Streams]: How to get acked/unacked messages stats in redis streams"
**Scenario:**
I have a Redis stream being read by multiple consumers in a consumer group. I need to get some sort of visibility into the system to understand what is the pending count, number of consumers, number of acked messages etc.

Now a lot of things are resolved by the XINFO command. But there are some things which I couldn't find in any of the APIs -

1. How do I find for a given consumer

[2021-01-25 13:33] quintonparker commented on #8392
hey @raj454raj

AFAICT so there's no direct support for such functionality in the available XSTREAM and friends commands

But a simple workaround in my mind would be to use another stream to record all the processed stream entries that the consumer group is subscribed to

ie. while sending XACK to acknowledge processing of a stream entry, the consumer can simultaneously write the same entry to ano

[2021-01-25 14:09] anzhiruosu commented on #8388
@bpo There's no problem about Logs from master around the same time.

Is the pipe broken between parent and child progress? or the parent progress is very busy and has no time to response?

[2021-01-25 14:28] pySilver opened #8395 "[BUG] Redis cluster 5.0.10 in docker: Opening the temp file needed for MASTER <-> REPLICA synchronization: Permission denied"
**Describe the bug**

I've started having issues with redis cluster `redis:5-buster` running in Docker. Topology:

3 sentinels
1 redis master
1 redis replica

Logs from Master

[code]

Logs from Replica:

[code]

I've docker-it into container as `redis` user and I was able to create empty temp files in /tmp, datadir and directory where redis.conf resides. I'm not sure what can cause this issue.

[2021-01-25 15:19] pySilver commented on #8395
Interestingly 6.10.x does not have this issue. I've migrated to 6x keeping all settings exactly the same.

[2021-01-25 15:21] pySilver commented on #8395
Since the problem arised recently, and we were using `5-buster` I guess it was introduced by 5.0.10

[2021-01-25 18:25] madolson commented on #4707
I'm not convinced histogram metrics are really that useful to collect on a per command level. I agree we can construct modes where they would be useful, but I think the main use case would be for setting the slowlog value so that you can figure out the problematic command specifically.

[2021-01-25 19:02] bpo commented on #8388
@anzhiruosu There should at least be a notice in the primary DB's logs indicating when the primary lost its connection to the replica – that might help.

It's not a "broken pipe", but a connection timeout. The timeout might be caused by the primary DB not responding, by some intermediary on the network connection swallowing packets and not replying, etc. Your RSS is large so my first guess is a sl

[2021-01-25 20:16] filipecosta90 commented on #4707
@madolson with regards to per-command histograms, user ( devops/providers) can use it:
- to properly define, and check SLO/As
- to find culprits on mixed commands workloads
- to find multi-modal distributions on the same command ( slow clients vs fast ones )
- to connect with percentile values above their stack ( meaning if 99% of my app requests are made up until X, and 99% of DB requests are ser

[2021-01-25 22:17] madolson commented on #4707
So my experience here is less from a Redis maintainer, and more from my experience managing ElastiCache. We should be exposing metrics to help users understand what is going on and how Redis is operating, I think this is just throwing data at the user.

SLAs are normally defined on end-to-end time for your higher level services, which isn't really solved here. Redis generally has predictable perfo

[2021-01-26 06:36] jianxinluo opened #8399 "[QUESTION] Why not expand LRU field by compressing the refcount field"
In general, refcount does not occupy 4 bytes, but LRU bit is too short, which leads to data precision degradation

typedef struct redisObject {
    unsigned type:4;
    unsigned encoding:4;
    unsigned lru:LRU_BITS; /* LRU time (relative to global lru_clock) or
                            * LFU data (least significant 8 bits frequency
                            * and most significant 16 bits acc

[2021-01-26 07:31] #5388 closed

[2021-01-26 09:06] marcobellaccini commented on #5388
Really glad to see this closed! 🎉

[2021-01-26 15:41] anzhiruosu commented on #8388
@bpo Thanks for your help, I add the master's log.

The err log "09:22:27.490 # Write error writing append only file on disk: Connection timed out" is printed in function rewriteAppendOnlyFile, which runs in the child progress of the slave, So I guess it's about the pipe.

[2021-01-26 16:00] bpo commented on #8388
@anzhiruosu thanks for the extra details! Did you share a different instance's info earlier? Previously the RSS that you shared was over 1TB, but the new data in the issue description shows only 21GB.

I think you are probably right that the connection timeout is originating on the pipe used to communicate to the AOF rewrite process. I thought by "broken pipe" you meant sigpipe.

[2021-01-26 16:13] hwware commented on #5388
thanks @marcobellaccini  and really sorry for the long wait, there were lots of issues pending in Redis that need to be fixed. But we will keep moving forward and fix these eventually. Please let us know if you see other issues in the future. Thanks

[2021-01-26 17:05] codetodya opened #8400 "[CRASH] Redis 5.0.5 crashed by signal: 11"
We are running redis cluster, often we see redis server crash with following error.

**Crash report**
[code]

**Aditional information**

1. OS distribution and version
 Ubuntu 16.04.5 LTS (GNU/Linux 4.15.0-1087-gcp x86_64)
2. Steps to reproduce (if any)
None

[2021-01-26 17:24] borg286 commented on #8372
From an operational point of view I favor limiting recursion. One proposal is to allow a KA to be applied within the context of a user command at most once. Recursive algorithms should be applied in lua or in a client.

[2021-01-26 20:30] ashutoshvsingh opened #8402 "[BUG] We are seeing a wrong IP in nodes.conf being used to reach a cluster node"
**Describe the bug**
This is the same issue that Dimitry reported before and I do not see any answers to it.
Cluster nodes report loopback addresses #4094

Reference: https://github.com/redis/redis/issues/4094

We are running a Cache in Yahoo Mail, with Redis Cluster and a Web service to talk to the Redis cluster. The Linux boxes that we have are running Redis instances (part of cluster) Or Web Se

[2021-01-26 23:18] #1879 closed

[2021-01-27 04:05] anzhiruosu commented on #8388
@bpo hi, previously 1TB RSS is the overall RSS， 21GB in  slave info is the shard which has err log.
So I  still don't konw how it happened about the pipe connection timed out, do you have any ideas?

[2021-01-27 04:16] bpo commented on #8388
@anzhiruosu I'm not sure I can help you further right now. Please consider sharing the rest of the output from INFO. Details like specific version, os, etc, can all be useful context that will help people to help you.

[2021-01-27 12:51] eFuller96 opened #8404 "[NEW] redis-cli - Force trust SSL certificate"
**The problem/use-case that the feature addresses**

I'm trying to connect to my redis-server, which has TLS enabled, with a self-signed certificate. Following these [docs](https://redis.io/topics/rediscli#ssltls), I have tried passing it to the `redis-cli`:
`redis-cli -h <hostname> -p <port> -a <password> --tls --cacert my-self-signed-cert.pem`

The response I get:

My `redis.conf` file setting u

[2021-01-27 13:09] ofirule opened #8406 "[CRASH] Using redis ver 6.0.10 on docker on jetson tx2 - with JetPack3.3"
I was running redis on jetson tx2 - with JetPack3.3  using:

[code]

Docker logs output is:
[code]

Note that running older docker/redis versions work just fine.

The following is running with no crushes:

[code]

OS details:
[code]

[2021-01-27 13:36] yossigo commented on #8406
Hello @ofirule, long time! hope you're well.

Redis is trying to detect if the Linux kernel is vulnerable to a critical bug (arm64-specific), and the test itself crashes (asserts). It's going to be solved by #8405 but we're still a bit in the dark as to what's triggering this problem. I have some questions that may help identifying it:
* What OS release and kernel do you use?
* Any specific kernel

[2021-01-27 13:52] yossigo commented on #8404
@eFuller96 What you're describing should work, as long as it's the same self-signed cert used by Redis as a `--tls-cert-file` and `redis-cli --cacert`. If that doesn't work, it could also be an issue with the certificate itself - how did you generate it?

[2021-01-27 14:35] 631086083 opened #8407 "[NEW]Add a command to actively scan the expired dictionary"
**The problem/use-case that the feature addresses**

Add a command to actively scan the expired dictionary，Increase the ability of operation and maintenance personnel to actively clean up and eliminate expired keys

**Description of the feature**

My company uses redis clusters in many scenarios (probably there are many petabytes of memory space and hundreds of thousands of instances). Many develo

[2021-01-27 14:47] ofirule commented on #8406
Hi @yossigo, indeed  long time, all is well, hope you're well too.

- OS info :
[code]

it's basically ubuntu 16.04 for aarch64 with modifications nvidia made to support their HW

-  kernel configuration/tuning:
I didn't made any, NVIDIA probably did some. I can add `/proc/config.gz` (in an email or some other method since it's 5k rows long)

- Running unstable redis without docker (also crash):

[2021-01-27 15:52] yossigo commented on #8406
@ofirule Thanks, so we know it's not a Docker issue.
One last ask, can you try to build and run directly from #8405 and paste the Redis log?
The log file should include more information about the error code we receive (and if you include `ignore-warnings ARM64-COW-BUG` it should even run).

[2021-01-27 16:19] ShooterIT commented on #8384
Hi @ZhouJiaZhi @madolson I always wish we can offer some configurations that limit the member number of `list`, `hash`, `set`, `zset`. Don't allow to insert more members if reached limit. Sometimes users don't know the member number of those types, they execute O(n) complexity commands that freeze server, actually, they doesn't want to this, and operation engineers also suffer from this. Moreover,

[2021-01-27 16:29] ofirule commented on #8406
very nice, worked exactly as you said

Building from your branch redis failed with informative error:
[code]

and redis was running when I included `ignore-warnings ARM64-COW-BUG`
[code]

[2021-01-27 16:30] ShooterIT commented on #8407
Hi @631086083 From redis 6.0, we have better expire key scanning mechanism, change 'random sampling garbage collector' to 'consecutive garbage collector`. I don't know your redis version, if not redis 6.0, you can have a try, i think 6.0 can mitigate your problem that expired keys are still occupy memory.

[2021-01-27 16:37] yossigo commented on #8406
So apparently `MADV_FREE` is not available before 4.5, which explains the `EINVAL` error. Thanks @ofirule for helping to track this down!

[2021-01-27 17:47] #2762 closed

[2021-01-27 19:52] yossigo commented on #8372
@bpo @madolson These are good questions, maybe the scope of this idea should be better defined so it'll be more clear.

I think it's clear that Redis will never get anywhere near a relational DB, so schemas, full semantic/referential integrity, normalization, etc. are not the goal.

But users use Redis for more purposes and in more ways, and at least from what I see they end up storing and managin

[2021-01-27 20:00] yossigo commented on #8402
@ashutoshvsingh Can you please include the logs you mentioned? Also, `redis.conf` could be useful.

[2021-01-27 20:03] sergey-komissarov commented on #7652
@yossigo I thought about config or command line option 'port-file' with absolute path to the file where server writes port number as text. Of course file path must be unique for each instance on the node, but this may be handled by node maintaners.

[2021-01-27 20:05] ashutoshvsingh commented on #8402
We are adding more information. Let us know if it would help to go on hangout or zoom, we can do that too.

[2021-01-27 20:26] bpo commented on #8372
Thanks for the additional context, @yossigo. I think it's a real issue that comes up often, as you say, and deserves investigation.

Here are a few concerns with the proposed solution:

* Generic metadata parameters have a lot of  potential but will make Redis harder to reason about. e.g. #8384 could be handled with an annotation specifying the capacity of a list. Could I annotate (max) ziplist en

[2021-01-27 20:54] HcgRandon commented on #2762
Amazing thank you guys <3

[2021-01-27 21:04] yossigo commented on #8372
@bpo Forgot to mention, I'm not entirely happy with "key annotations". Technically "triggers" might be more accurate but it also comes with poor connotations to some of us... :) But definitely should consider a better name.

Regarding the added complexity, you're right of course but I think Redis has already crossed this line with some other features, client side caching as an example.

I've start

[2021-01-27 22:01] ashutoshvsingh commented on #8402
here is the content of nodes-6002.conf
dd890ed155250be49c4ddc67afc05239cccfcfd1 10.249.249.218:6001@16001 master - 0 1611195926523 7 connected 3277-4914
76d10017755938823a63c0b2e4bd04ca5775c26c 10.249.250.26:6001@16001 master - 0 1611195927000 1 connected 0-1637
5ed16aeed778f991981a2c53c5471c323f5b3e13 10.250.26.80:6003@16003 slave 474eb1fbc8a6fa7d36e1c38238e4bc5203b043a6 0 1611195930000 25 connec

[2021-01-27 23:07] madolson commented on #8402
Any update on the logs? Can you also describe what the load balancer is doing in this situation?

My hunch is that for some reason the node is either processing gossip about itself or somehow trying to MEET with itself.

[2021-01-27 23:34] nsendev commented on #8402
here is our redis.conf (we have multiple such clusters, all similar except max memory size)

################################## NETWORK #####################################
protected-mode no
port 6001
tcp-backlog 64000
# Close the connection after a client is idle for N seconds (0 to disable)
timeout 0
# A reasonable value for this option is 60 seconds.
tcp-keepalive 0

##########################

[2021-01-27 23:40] nsendev commented on #8402
Regarding load balancer, we have L3DSR load balancer, that added in the box as loop back. Somehow redis topology shows that address as its own ip (randomly in some boxes).

[2021-01-28 02:56] JoverZhang opened #8410 "How to calculate cryptocurrency prices on Redis"
[code]

I have to do other operations besides addition.

I found that **Lua's Number** supports up to 14 digits, It is no longer accurate after more than 14.
While this scope is sufficient for my current needs, my scalability is limited by this.

Is there any workaround?

[2021-01-28 03:30] ashutoshvsingh commented on #8402
I would like to find the code where the node figures its IP out. Here is the typical information on a host for ifconfig. If you look at the output the lo1 and lo2 loopbacks are for two loadbalancers that are used by clients to hit a web service that has lettuce client, which talks to redis either on the local box or remote as described by the redis.conf.

ens1f0: flags=4163<UP,BROADCAST,RUNNING,MU

[2021-01-28 05:26] madolson commented on #8402
Here is the code where a node figures out it's own IP: https://github.com/redis/redis/blob/unstable/src/cluster.c#L1696. I don't think we're triggering that though. There are other cases with cluster announce IPs, but you aren't using that.t. If you have any server logs for this host, and others, with some relevant times you starting experience this issue, that would also help a lot to rule this c

[2021-01-28 05:57] ashutoshvsingh commented on #8402
Would you like to come on zoom or hangout, it will be easier to debug, but I will add more logs from the system

Sent from Yahoo Mail on Android

  On Wed, Jan 27, 2021 at 9:27 PM, Madelyn Olson<notifications@github.com> wrote:

Here is the code where a node figures out it's own IP: https://github.com/redis/redis/blob/unstable/src/cluster.c#L1696. I don't think we're triggering that though. There

[2021-01-28 08:33] #8351 closed

[2021-01-28 08:33] #8406 closed

[2021-01-28 09:35] soloestoy opened #8413 "Backport #8170 to 6.0 to fix concurrency issues in clientsArePaused()"
`clientsArePaused()` has concurrency issues in threaded mode, and #8170 fix it inadvertently, should we backport to 6.0?

[2021-01-28 09:44] oranagra commented on #8413
@soloestoy We can't backport that bug feature to 6.0.
I'm not sure what you mean by these concurrency issues.
Can you submit a PR to 6.0 branch to fix it specifically?

[2021-01-28 09:51] soloestoy commented on #8413
@oranagra the stack is `IOThreadMain()` -> `readQueryFromClient()` -> `processInputBuffer()` -> `clientsArePaused()` and the code in 6.0 is:
[code]

And then io threads can access global variables `server.clients_paused` iterating `server.clients` and call `queueClientForReprocessing()` insert to `server.unblocked_clients` at the same time.

[2021-01-28 10:19] #5216 closed

[2021-01-28 10:20] #3148 closed

[2021-01-28 10:21] yossigo commented on #7928
This issue has been addressed by #8282. Note that hostnames are not supported by default though, specific configuration is required to enable this.

[2021-01-28 10:21] #7928 closed

[2021-01-28 10:23] yossigo commented on #1463
The canonical form should really be to run `redis-sentinel`, closing this.

[2021-01-28 10:23] #1463 closed

[2021-01-28 10:28] #1904 closed

[2021-01-28 10:39] yossigo commented on #3431
Closing, this OS is EOL already anyway.

[2021-01-28 10:39] #3431 closed

[2021-01-28 10:41] yossigo commented on #2871
This is addressed by #8282.

[2021-01-28 10:41] #2871 closed

[2021-01-28 10:44] yossigo commented on #8395
@pySilver Please double check the version numbers you mention, 6.10.x doesn't exist. How do you run docker? You need to make sure your `dir` is writable, if you bindmount it may not be the case.

[2021-01-28 10:46] yossigo commented on #2075
The issue of Sentinel and hostnames should be resolved by #8282.

[2021-01-28 10:46] #2075 closed

[2021-01-28 10:51] #1925 closed

[2021-01-28 10:54] eFuller96 commented on #8404
@yossigo you were right - it was being signed incorrectly and now works. Thanks.

However I still think this issue stands - it'd be nice to have a flag to bypass providing a valid certificate - other database engines offer this, e.g. [Mongo](https://docs.mongodb.com/manual/reference/program/mongo/#cmdoption-mongo-tlsallowinvalidcertificates)

[2021-01-28 11:50] chenglongzjg opened #8415 "interesting ZSKIPLIST_MAXLEVEL change history"
`#define ZSKIPLIST_MAXLEVEL`‘s value  in  server.h changed between 2^32 and 2^64.

![image](https://user-images.githubusercontent.com/17613615/106134737-ee441400-61a1-11eb-9273-46d6f2f0b721.png)

a joke?

[2021-01-28 12:13] 631086083 commented on #8407
Thank you very much for your help. Redis6 is indeed very effective for expiration and elimination. The reason I want to add this command is also actually to have a function to obtain keys with expiration time in batches.In this regard, do you think this feature can be added.

[2021-01-28 12:22] oranagra commented on #8415
why would anyone joke about that?
here's the discussion: https://github.com/redis/redis/pull/6818
let me know if you find something funny, or conclude they were wrong to do that change.

[2021-01-28 13:02] yossigo commented on #8404
@eFuller96 I agree it's a useful feature.

[2021-01-28 13:16] pySilver commented on #8395
@yossigo I'm seeing tag `5.0.10, 5.0, 5, 5.0.10-buster, 5.0-buster, 5-buster` [here](https://hub.docker.com/_/redis/) and the problem I've described relates to 5.0.10 as stated in ticket title.

But you are right, I've tested 6.0.10 and it works fine there, so my 6.10.x is a typo.

I'm highly positive its not a data directory permission error, I've tried to set directory to 777 with no success. I'

[2021-01-28 13:32] yossigo commented on #8395
@pySilver I don't see anything obvious that could explain this. After this fails, do you see some temp file created in the directory?

[2021-01-28 13:47] pySilver commented on #8395
@yossigo yes, I'm positive I've seen files named temp-%s.rdb that made me search for references and brought me here https://github.com/redis/redis/blob/ad7d4c6b709ce94ed9a2fa3a1fcf9b8cf7843eff/src/replication.c#L2417

[2021-01-28 13:57] yossigo commented on #8395
@pySilver As you can see there were practically no changes around this. If you do see the file get created, can you provide info on file permissions and ownership?

Theoretically if the file gets created with some restricted permissions (e.g. due to `umask` settings), Redis would not be able to re-create it. I think it would be very unlikely because the name should be unique (using system time) bu

[2021-01-28 14:19] #5760 closed

[2021-01-28 15:10] chenglongzjg commented on #8415
thanks for the link.

i just can not understand why changed 'ZSKIPLIST_MAXLEVEL''s value from 32 to 64, then 64 to 32, then 32 to 64 ....

[2021-01-28 16:17] #694 closed

[2021-01-28 16:30] zuiderkwast commented on #8134
@madolson any progress on this?

[2021-01-28 18:52] madolson commented on #8415
As mentioned in the PR, we refined out understanding of what the value should be over time.

[2021-01-28 18:56] madolson commented on #8413
Btw, I did know about this, it was in the original comment of the PR that was replaced when I updated it for the core group approval.

My opinion is that we should just not fan out while clients are paused, instead of back-porting that hefty PR. It's one of those edge of edge cases, I don't think we should spend a lot of time on it for correctness.

[2021-01-28 19:02] madolson commented on #8134
Sadly, I got sucked into a fire at my real job and didn't get to work on this for a bit. It's not going to be ready for 6.2 sadly, but a PR for TLS ports + announced hostnames should be up in a week or so.

[2021-01-28 19:10] Vaibhavraj-nath-chauhan opened #8418 "No such file or directory"
[14972] 29 Jan 00:36:53.251 # Warning: no config file specified, using the default config. In order to specify a config file use redis-server /path/to/redis.conf
[14972] 29 Jan 00:36:53.253 # Creating Server TCP listening socket *:6379: bind: No such file or directory

[2021-01-28 21:18] #6062 closed

[2021-01-29 01:04] #8415 closed

[2021-01-29 01:04] chenglongzjg commented on #8415
tks

[2021-01-29 01:30] madolson commented on #7263
Seems like a couple of these could be extended onto the existing set command, and used with mulit-exec instead of lua.

[2021-01-29 02:41] 631086083 commented on #8418
It seems that you are running the redis command on windows (my guess). If this is the case, one solution is to enter the following commands in sequence
1. redis-cli.exe
2. shutdown
3. exit
4. redis-server.exe pathtoconfig

[2021-01-29 04:17] vaibhavraj-nath-chauhan commented on #8418
I run those commands you mentioned but it's showing me a new error

Invalid argument during startup: Failed to open the .conf file: pathtoconfig CWD=C:\Users\Vaibhavraj

[2021-01-29 07:52] zuiderkwast commented on #8134
OK. If you can show how to extend the cluster bus with optional fields, if that's small enough, maybe I can do the other parts of this issue?

[2021-01-29 08:30] Reddy-test commented on #5736
I am having the same issue. Does someone know any solution?

91623:M 29 Jan 2021 08:05:23.151 # ------------------------------------------------
91623:M 29 Jan 2021 08:05:23.151 # !!! Software Failure. Press left mouse button to continue
91623:M 29 Jan 2021 08:05:23.151 # Guru Meditation: Error registering the readable event for the module blocked clients subsystem. #server.c:2170
91623:M 29 Jan 2

[2021-01-29 09:03] smartnews-weitao opened #8421 "[QUESTION] why slave server partial data during sync with master?"
So i did some chaos test for our redis cluster and i disabled both RDB & AOF. So after i kill the master, the slave failover it, and after the old master reconnect, it correctly follow his new master and request a full sync. However, after it received the RDB file from the network, it serve the client while loading the RDB. So it's serving partial data to the client.

In my environment i enabled s

[2021-01-29 09:21] soloestoy commented on #8407
new command, need more opinion from @redis/core-team

[2021-01-29 10:13] #5828 closed

[2021-01-29 12:53] itamarhaber commented on #8407
Hello @631086083

I understand the FR, but would like to get more information on its intended use. This is especially important in order to understand the behavior for:

* Keys that expired between calls
* Keys that were added with a TTL between calls
* The order of keys returned

My main concern here is what type of contract the server provides, especially given the time-dependent nature of the d

[2021-01-29 16:53] itamarhaber commented on #8418
Hi @Vaibhavraj-nath-chauhan

It looks like you used `pathconfig CWD=...` as your config file, perhaps some IDE trickery is at play here. The said, please note that the Redis project does not support Windows, so issues and questions about the different Windows forks that are out there do not belong here - please close this issue.

Assuming you're making use of @tporadowski work, you can seek furthe

[2021-01-29 17:30] itamarhaber commented on #8410
Hello @JoverZhang

AFAIK this is a limitation of Lua (also in 5.4, whereas Redis uses 5.1). An alternative is to use Redis' own double-precision floats without relying on Lua's arithmetics, i.e.:

[code]

Or with a Lua wrapper:

[code]

[2021-01-29 17:39] itamarhaber commented on #8400
Appears related to #7719

[2021-01-29 17:43] filipecosta90 commented on #4707
@yossigo @madolson independently if it will command/(command group based), wdyt of the exposition via `INFO LATENCYSTATS` section, with the following format:
[code]

This could then be easily parsed by clients/tools.

[2021-01-29 18:03] madolson commented on #4707
I think INFO LATENCYSTATS makes the most sense. I think your suggestion will break client parsing though. The client I'm aware of is:https://github.com/andymccurdy/redis-py/blob/master/redis/client.py#L119 will mangle it. We saw in the past all of INFO breaking because one line was mangled, so we should try not to do that again.

We should double check how different clients parse outputs, but prob

[2021-01-29 19:05] ashutoshvsingh commented on #8402
is there a way for me to core the process and dump the packet when a given IP shows in the gossip for self discovery.

[2021-01-30 05:08] vaibhavraj-nath-chauhan commented on #8418
@itamarhaber
Okay
Thank you for your assistance

[2021-01-30 10:29] 631086083 commented on #8407
Hello, @itamarhaber
what I think is not very well, your idea is much better than mine. We can decide whether to return the expiration time through the flag bit.

I think of two scenarios:

One case is that when the CPU is empty for a long time (such as the low peak period in the morning), we can actively eliminate the data through the command. In this case, it is better to use the command that doe

[2021-01-30 12:14] bduman opened #8423 "[NEW] Time to creation (TTC) argument/command"
**The problem/use-case that the feature addresses**

Sometimes we need timed based keys for process after too short time.

**Description of the feature**

We might use SET command with ttc (or something else) argument to create key-value after x sec/ms later.

`
redis> SET mykey "Hello" TTC 10 EX 30
`
X = 10
Y = 30

![image](https://user-images.githubusercontent.com/5374623/106355911-46972500-630c

[2021-01-30 14:23] #8418 closed

[2021-01-30 22:44] filipecosta90 commented on #4707
@yossigo @madolson @itamarhaber  started working on a POC on [my fork (link)](https://github.com/redis/redis/compare/unstable...filipecosta90:latencystats.per.cat)  and IMHO @madolson is right that we don't need the per-command histogram.
WDYT about using the command categories to track the extended latency metrics?:
categories ( total 12 histograms )
[code]
Some details:
- We associate the comman

[2021-01-31 17:50] madolson commented on #8423
Hey, I'm not exactly clear what problem you're trying to solve with this. In your example, why don't you want the key to be available for 10 seconds?

[2021-01-31 22:07] abrookins commented on #8372
@yossigo This seems like a potential way to add data constraints in the form of ad-hoc validation logic within Lua scripts. Or does that, like referential integrity, imply too much additional complexity around client error handling?

I didn't quite understand from the current discussion what happens when a KA fails (e.g., one that calls a Lua script) -- does the command then fail too? That would o

[2021-02-01 02:23] 333one opened #8428 "[QUESTION] Key is deleted after MaxAg however if/when is reference deleted from appendonly.aof?"
Using the _express-session_ package I set my max age to 5 minutes and sure enough inside Redis the key was deleted after the time was up.

However 20 or 30 minutes later when I looked inside _appendonly.aof_  a reference to the key still existed.  Is this reference ever removed and if so how long until the removal takes place?

[code]

[2021-02-01 04:56] bpo commented on #8428
@333one the AOF is a log of all events that happened. Periodically the AOF is "rewritten", a process which condenses the log by collapsing events like modifications and deletes to store only the final value. So - you'll see the reference to the deleted key removed after the next rewrite.

Rewrite timing depends on the database configuration - usually based on some multiple of growth. You can trigg

[2021-02-01 06:55] ldwnt opened #8430 "[QUESTION] Does unlink command introduce data inconsistency?"
Say I unlink a zset key and then zadd a value A to it. Is there any chance that the actual deletion is performed after the zadd command and unexpectedly remove the value A from the zset key? Or once the unlink command is executed, the old memory fragment is "unlinked" from the key so further commands are executed on the the new memory fragment, not affected by the deletion?

[2021-02-01 07:14] bduman commented on #8423
I want use redis for task scheduling in multi-instance app.

In this [article](https://redislabs.com/ebook/part-2-core-concepts/chapter-6-application-components-in-redis/6-4-task-queues/6-4-2-delayed-tasks/), it describes another workaround but if this feature added, it might make easier.

[2021-02-01 07:55] yossigo commented on #8372
@abrookins I see two main issues with this type of data constraints:

1. On the client side, it would be too much of a breaking change unless we wrap it up in a new construct (e.g. a new kind of `MULTI/EXEC` where those constraints apply).
2. This will require some kind of rollback capabilities on the server side.

[2021-02-01 08:23] yossigo commented on #4707
@filipecosta90 I haven't looked at the code yet, but some questions:

1. Why do you prefer command categories? I always find that very awkward because not all Redis commands map cleanly, plus this kind of information can probably be very valuable to troubleshoot cases where command resolution is needed.
2. Maybe histogram data should be dumped in a more native mbulk format to ease parsing on the c

[2021-02-01 13:54] filipecosta90 commented on #4707
@yossigo just to reduce the memory overhead of the histograms. But I believe that can be sorted out ( and improved ).
There is still one thing that makes me think about this level of granularity per command which is the fact the when tracking the time within `call()` a big portion of the requests is very fast, as seen for example on the following stats line (p0=p50=p75) :
[code]
Do you think we sh

[2021-02-01 14:09] itamarhaber commented on #8392
Hello @raj454raj

As @quintonparker had replied, both use cases are not covered by Redis out of the box, but can be implemented using additional data structures.

In the future it is possible that Redis will provide better introspection for the 2nd use case - cc'ing @guybe7

[2021-02-01 14:15] itamarhaber commented on #8428
Hello @333one

Adding to @bpo's answer, you can find more information about Redis' AOF persistence mechanism at https://redis.io/topics/persistence#append-only-file.

Closing this question as answered - please feel free to reopen if needed.

[2021-02-01 14:15] #8428 closed

[2021-02-01 14:17] oranagra commented on #8430
As you imagined the old memory of the key is unlinked from the database and is released later, but is already no longer part of the database.
in other words, once the UNLINK command is executed, the value is no loner accessible, and any command working on that same key will come empty handed (in your example create a new zset).
the only side effect is that the memory is reclaimed asynchronously, s

[2021-02-01 14:17] #8430 closed

[2021-02-01 15:23] igorwwwwwwwwwwwwwwwwwwww opened #8432 "[QUESTION] Redis (+sentinel) upgrade paths"
We have a Redis setup with a set of 3 redis instances and a set of 3 sentinels.

While we've not run into any issues with upgrading in the past, there were some questions about forward- and backward-compatibility guarantees during the upgrade process. The redis docs and the release notes are rather light on guidance here (at least we didn't find any details).

As we're now approaching the redis 5

[2021-02-01 17:57] eladbern commented on #8208
One possible solution for this without changing cluster bus is to hide empty replicas from CLUSTER SLOTS command. Empty means having a reported replication offset of zero. This relies on the replication offset reported by nodes in cluster PING/PONG messages.
Hiding empty replicas from CLUSTER SLOTS (while still showing them in CLUSTER NODES) is consistent with hiding failed nodes since from a data

[2021-02-01 20:22] madolson commented on #8402
TCPdump can be a good tool for investigating that.

[2021-02-01 20:23] madolson commented on #8402
I'm not sure there is any native solution for that unfortunately. You could add some checks within Redis and build it yourself. When a node updates its own IP address, we can report it. If you want, we can add some of that instrumentation in Redis 6.2.

[2021-02-01 21:41] yossigo commented on #4707
@filipecosta90 Tracking arrival of first byte is non trivial, because we only know something about the command when it has been fully parsed (which could happen a long time after the first byte was read into the query buffer).

[2021-02-01 22:03] #8345 closed

[2021-02-01 22:29] madolson opened #8433 "Should expires be replicated relatively or absolutely?"
Today, redis propagates setting a relative expire time (SET EX 100, expire 100 seconds from now) as a relative expire but stores it in the AOF and RDB as an absolute time. The motivation for this (https://github.com/redis/redis/pull/5171#issuecomment-409553266) is that clocks might be skewed between two nodes so we want them to expire at roughly the same time. Since we expect AOF and RDB to be loa

[2021-02-01 22:36] ny0312 commented on #8433
+1 to the proposals.

In general, Is there a reason why AOF content and replication content isn't always exactly the same? If not, I wonder if we should refactor Redis so AOF and replication data share the same "data content generation" logic, and then just output to different targets.