[2020-06-18 17:41] wei0313 commented on #7408
I don't need to worry about #4 now. I thought it was some other issues that redis started before the restore snapshot finished. However, it was our code which caused the issue, not redis. thanks @oranagra

[2020-06-18 21:23] banker commented on #7392
@yossigo Verified that this works. Apparently when using `tls-ca-cert-dir`, you can't just throw the `.crt` file into any old directory. It seems that you need to point to the official directory containing the trusted certs and that, as you said, these need to be installed properly.

At least on Ubuntu 20.04, that means:

1. Copying your cert to `/usr/local/share/ca-certificates/`
2. Running `upda

[2020-06-18 21:23] #7392 closed

[2020-06-19 01:57] ramwin commented on #5182
The problem still exist, So I create a [PR](https://github.com/antirez/redis-doc/pull/1334).
![image](https://raw.githubusercontent.com/ramwin/netdisk/master/redis6_idletime_error.PNG)

[2020-06-19 03:12] WiFeng commented on #4595
As far as I know, no setting could stop it directly. But we can avoid Full-sync by setting related options, and then rdb-save operation should not happened.

[2020-06-19 03:29] hyunjong-yoo commented on #7356
I checked the status.
I will talk about the issue again if the upgrade or occurs again later.

Thanks for the answer.

[2020-06-19 03:29] #7356 closed

[2020-06-19 13:27] pedro2555 opened #7415 "Constantly breaking apt"
This is driving me crazy.

Every now and then, pretty much every single time I try to install an application, I have to fix some issue with redis. I repeat, any software.

Today, again, `sudo apt get install <some package>` and it fails with:
[code]
Despite `redis-server` not beeing the software I'm trying to install.

From some wild goose chases in the past, if remember correctly, this is due to

[2020-06-19 18:49] alexronke-channeladvisor opened #7416 "ZADD option: Conditionally Update Score for Existing Keys"
**Summary**
As of Redis 3.2, ZADD provides two options for adding key/score pairs to a sorted set:

I would like to propose (and develop) two new options:
**GX**: Always add new elements, but only update elements when the new score for an existing key is greater than the old score.
**LX**: Always add new elements, but only update elements when the new score for an existing key is less than the old

[2020-06-19 18:54] alexronke-channeladvisor commented on #7416
Note that I would like to be assigned this feature request. It is of value to myself and my employer, and I plan to develop it in the coming months.  For maintenance purposes, we don't want to simply fork Redis entirely just for this one feature, so having it added to a future version once developed and tested would be a great help.

[2020-06-19 19:22] itamarhaber commented on #7415
Hello @pedro2555

I'm sorry to hear about your sanity and best of luck with the alternative you've decided on.

For your information, the package you've installed using apt isn't a part of the Redis project - perhaps you'd want to tell this story to its maintainers (I believe that would be @lamby).

In any case, kindly close this issue since it does not belong in this repository.

[2020-06-19 19:26] itamarhaber commented on #7416
Hello @alexronke-channeladvisor

The use case sounds reasonable and the feature request shouldn't be too hard to implement. While we wait here for more feedback from the community and developers, WRT:

Instead, consider using vanilla Redis and just implement the logic with a custom Redis Module.

[2020-06-19 19:28] lamby commented on #7415
@pedro2555 Yes, please close this issue and file it against the distribution you are using (eg. Ubuntu, Debian, etc etc.)  You will need to prepare and provide much more information than you have done here in order for someone to diagnose and fix your particular issue.

[2020-06-19 19:39] alexronke-channeladvisor commented on #7416
Thanks. I was not previously aware of the modules capability.

In terms of standard practice, are modules developed in github repositories that are entirely independent?  Or are they generally developed in forks of Redis itself?

[2020-06-19 23:33] cheprasov commented on #6286
The same error for me. `gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)`

[2020-06-20 08:04] huangzhw opened #7417 "bitfield Command Use (uint64_t)-1 << 64，this is undefined behavior"
[code]

When use `i64`, Redis will use `(uint64_t)-1 << 64`，this behavior is undefined.  On my compiler,  `((uint64_t)-1 << 64) == ((uint64_t)-1)`.

In function `getSignedBitfield`, the `value`  will always be `-1`:

[code]

In function `checkSignedBitfieldOverflow`, `c` will always be `-1`:

[code]

In function `checkUnsignedBitfieldOverflow`，Because bits can't be 64, it is OK.

[2020-06-20 10:58] mgravell opened #7418 "Proposal: HELLO DIALECT option to address the recurring "slave" issue"
This terminology problem isn't going away any time soon. Ultimately, the main problem can be summarised by the footnote in the docs - that in many cases it is baked into the protocol, and is therefore hard to change.

Proposal: let the client *tell you*. We have the `HELLO` command for connection init. A new option could be added on there to express what the client knows / expects. This isn't real

[2020-06-20 11:19] zippy-zebu commented on #1732
@chrislea  Why did you disable `Add-support-for-USE_SYSTEM_JEMALLOC-flag.patch` in ppa for 6.0.5 for bionic ? Debian enables this patches .

[2020-06-20 21:52] itamarhaber commented on #7416
You can review the [modules API documentation](https://redis.io/documentation#redis-modules-api), and specifically the [intro](https://redis.io/topics/modules-intro) for more information, but to;dr is that modules are shared libraries that implement the API. You don't need to fork Redis to use modules - their purpose is extending the vanilla flavor.

[2020-06-21 08:38] oranagra commented on #7344
@rkedward the problem is this:
[code]
i suspect that https://github.com/antirez/redis/pull/7404 may solve it.
@antirez please share your thoughts.

[2020-06-21 08:47] oranagra commented on #7344
@rkedward maybe you can try to apply the test suite changes in the above mentioned PR and check if it solves that problem.

[2020-06-21 17:21] chrislea commented on #1732
@zippy-zebu The Redis team asked me to publish binaries with the bundled libraries statically linked.

[2020-06-21 18:36] yossigo commented on #7270
@theDogOfPavlov Session caching was on my list a long time. Can you please take a look at #7420 and let me know if that works for you?

Note that simply disabling caching on the server side will not get rid of those errors, because clients may still attempt to do resumption.

[2020-06-22 06:56] theDogOfPavlov commented on #7270
Checked and I'm getting valid tickets for both TLSv1.2 and TLSv1.3 so all good.

Thanks for the quick turn around on this one!

[2020-06-22 07:53] heepy opened #7422 "Memory fragmentation rate is abnormal"
&emsp;
We have a problem that the memory fragmentation rate of  redis  instance is lower than 1, but the system resources are enough and there is no swap。

&emsp;
System：Red Hat Enterprise 7.4
Redis Server：Redis 3.2.9
model：Redis Cluster
&emsp;
info memory
#Memory
used_memeory_human：11.57M
used_memeory_rss_human：7.56M
used_memeory_peak_human：24.39M
used_memeory_lua_human：37.00k
maxmemory_human:1.0

[2020-06-22 07:54] yossigo commented on #7270
@theDogOfPavlov Just to be sure, did you check that with `-no_ticket` on the client side? Remember that TLS session tickets and session IDs are different beasts. Just trying to make sure everything behaves as expected on various TLS+OpenSSL version combinations. Thanks!

[2020-06-22 08:00] oranagra commented on #7422
this can easily happen when allocating a chunk of memory and not actually writing to it. in that case the OS doesn't actually maps any pages for that allocation.
most of the actual allocations in redis (data types) don't do that, but in this case i see redis is nearly empty, so that might be some startup memory allocations.

bottom line, not a lot of memory, not a problem, and not unexpected.
i.e.

[2020-06-22 08:05] heepy commented on #7422
redis server version 3.2.9

[2020-06-22 08:09] oranagra commented on #7422
so you don't have these fields in that version.
if you feel adventurous, you can get that info manually by running `DEBUG jemalloc info`

[2020-06-22 09:21] antirez commented on #7401
Changed done :) Closing.

[2020-06-22 09:22] antirez commented on #7401
@daidaotong oh about the CCCP music, yep they have texts that are very socialist oriented. I appreciated what they had to say in 90s both politically and musically.

[2020-06-22 09:41] antirez commented on #7417
Thanks @huangzhw! Very good catch. Do you agree with the proposed fix in 746297314? The idea of the fix is that, when -1 << 64 would overflow, is because we don't need to do any masking at all.

[2020-06-22 09:55] antirez commented on #7418
Hello @mgravell, thank you for looking for solutions. My idea is that initially, we should go forward, for Redis 7, to remove completely the mention of "slave" inside the source code. We already don't have any reference in the log messages and in the documentation. Once we do that, how to get rid of "slave" in the remaining places, that are mostly the INFO fields, and the ROLE command?

Well, I th

[2020-06-22 09:57] #7401 closed

[2020-06-22 10:13] theDogOfPavlov commented on #7270
Yup: all the below reuse a TLS session (of one form or another):

[code]

[2020-06-22 10:31] Martin-Nyaga commented on #7324
@gittyup2018 I'm curious if this would provide any specific benefits over PUSH and POP operations on lists and sets. As I understand it, this would the same as calling LPOP/RPOP on a list with a single item or SPOP from a similar set.

[2020-06-22 11:35] huangzhw commented on #7417
@antirez  I agree with the proposed fix in 7462973. It is simple and correct!

[2020-06-22 15:44] fruscitti-rb opened #7423 "Redis 4.0 - Slave - Key dissapears"
Hi. We have a redis 4 installation with sentinel.

The slave starts ok, but after certain amount of time some keys 'dissapears' from the slave.

Checking, if I issue a debug object command there is information about the key

debug object mediospago:105
Value at:0x7fe51c0f4430 refcount:1 encoding:ziplist serializedlength:461 lru:15779462 lru_seconds_idle:1940

But if I try to access the key it is n

[2020-06-22 16:02] phamthanhnhan14 commented on #6286
[code]
Make fail with both stable and version 6.0.5.

Not luck in my case.

[2020-06-22 22:21] dmitrypol commented on #6286
I am having same problem as @phamthanhnhan14

[2020-06-23 08:52] antirez commented on #7417
Thanks @huangzhw! Closing.

[2020-06-23 08:52] #7417 closed

[2020-06-24 02:09] fuzengjie opened #7427 "redis 4 creash"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
23961:S 24 Jun 04:30:56.348 # Redis 4.0.12 crashed by signal: 11
23961:S 24 Jun 04:30:56.348 # Crashed running the instruction at: 0x497ef8
23961:S 24 Jun 04:30:56.348 # Accessing address: 0x7f8ecaa00000
23961:S 24 Jun 04:30:56.348 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/usr/local/redis-

[2020-06-24 06:24] rkedward opened #7428 "Redis module API ref needs to be updated"
There are a number of new and interesting redis module apis that are not documented in the [api-ref](https://redis.io/topics/modules-api-ref).

Here are a few:

- RedisModule_GetKeyNameFromModuleKey
- RedisModule_SignalModifiedKey
- RedisModule_BlockClientOnKeys
- RedisModule_SignalKeyAsReady
- RedisModule_GetBlockedClientReadyKey
- RedisModule_NotifyKeyspaceEvent
- RedisModule_GetNotifyKeyspaceEv

[2020-06-24 15:52] neomantra commented on #7382
I've spent a lot of time trying to get other Lua runtimes (mostly LuaJIT which is fully 5.1 compatible) into Redis.   In my later experiments, I really wanted to get LuaJIT's FFI working in a Redis module (https://github.com/neomantra/redis-mod_luajit).   I eventually abandoned it for various reasons.

The only thing that every really worked was building a Lua version in the Redis source tree or h

[2020-06-25 05:10] dlosku commented on #7284
I can also confirm that this issue is not fixed in the 6.0.5 upstream either.

[2020-06-25 08:50] MEDSMEDS opened #7429 "rax.h raxRemove recompression not working as expected"
in file rax.c, the comment within function `raxRemove` claims the following:
[code]

However, the logic associated with variable `trycompress`  didn't take compress node into account.
The two predicates `if (h->size == 0)` and `else if (h->size == 1)` don't catch the intermediate compress node obviously.

This demo shows the real scenario:
1) insertion of key "foo", value 1.
2) insertion of key "f

[2020-06-25 21:57] mvasi90 opened #7432 "High CPU usage and HZ works contrary to what the documentation specifies"
I'm using redis replication with sentinel in five servers.
Each server runs two redis instances: redis-server and redis-sentinel.
One server instance is master and the other replicas.

**master.conf**
[code]
**replica.conf**
[code]

**sentinel.conf**
[code]
Without clients connected (only replicas) the redis-server uses between 15% and 21% of CPU.
Changing HZ value from 10 to 100 the CPU usage cha

[2020-06-26 02:20] amit777 commented on #3878
so I have virtually the same setup. I checked the protected-mode and it's set to no for both the redis-server and redis-sentinel configurations.  Any other ideas on why a new master would not get elected? the last line entry in all the sentinel logs is:

24057:X 25 Jun 2020 22:13:55.437 # +sdown master mymaster <ip1> 6379

[2020-06-26 13:01] Sai-Putta commented on #2864
give the instance name in startup.cs like
services.AddStackExchnageRedisCache(options=> {
options.Configuration = "host:port";
options.InstanceName = "SomeSample";
});

Hope this works!

[2020-06-26 14:57] jasonxiaoqin commented on #7382
hello

[2020-06-26 16:09] Hixon10 opened #7433 "Sentinels do not auto discovery replicas, when there are multiple masters"
Let's we have 3 sentinels, which monitor 2 master, i.e `SENTINEL masters` returns something like this:
[code]

If I start replica for `master2`, sentinels do not auto discovery it. I suppose, that reason is, sentinels don't what master is connected with this slave.

I know one worked solution. We can explicitly add slave to the config, like this:
[code]

After it, we can execute `SENTINEL failover

[2020-06-27 02:45] mooleshacat commented on #4567
I have similar issue on UB 18.04

I am about to re-enable protected mode to see if it fixes it

Will update shortly.

[2020-06-27 04:39] mehrdadn opened #7434 "Hiredis Windows compatibility patches"
Hello (again)!

We've been using the native `hiredis` client from this repo to interface with [tporadowski/redis](https://github.com/tporadowski/redis) on Windows, but to do this, we've had to apply a number of compatibility patches.

Would you be interested in incorporating the patches upstream?

You can find our patches [here](https://github.com/ray-project/ray/tree/master/thirdparty/patches) (t

[2020-06-27 12:37] itamarhaber commented on #7434
Hello @mehrdadn

This appears to belong in the https://github.com/redis/hiredis repository - kindly close this issue and feel free to open a new one there.

Keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.

[2020-06-27 12:40] itamarhaber commented on #5629
Duplicate of #4567

[2020-06-27 18:54] mehrdadn commented on #7434
Ah yes, I didn't realize they're separate repositories. Thank you! https://github.com/redis/hiredis/issues/838

[2020-06-27 18:54] #7434 closed

[2020-06-27 23:19] jpasquers opened #7437 "redis-server should ignore client certificate if tls-auth-clients no"
To reproduce:
- Startup redis-server (v6.0.5) with TLS enabled but tls-auth-clients no
`redis-server --tls-port 6379 --port 0 --tls-cert-file ./valid.crt --tls-key-file ./valid.key --tls-ca-cert-file ./valid.cacrt --tls-auth-clients no`
- Run redis-cli (v6.0.5) connecting with a key and cert (the values here don't matter particularly)
`redis-cli -h localhost -p 6379 --tls --cert ./some.bad.crt --k

[2020-06-28 18:33] yossigo commented on #7437
@jpasquers that's a good point, thanks! This use case makes sense and I believe it's also a common practice, although it will close the door for optional certs in the future (i.e. when a cert could be used instead of `AUTH`). Unless another strong reason to avoid that comes up, I'll fix that.

[2020-06-28 21:00] aparcar opened #7439 "Get server version via cli"
Is there a way to figure out the running server version using the CLI? With the upcoming release 6.0.6 and the `LPOS` command it'd be nice to make feature assumption based on versions.

[2020-06-28 21:31] itamarhaber commented on #7439
Hello @aparcar

The server reports the version when issued with the `INFO` command under the 'server' section.

[2020-06-28 22:28] aparcar commented on #7439
Thank you!

[2020-06-28 22:28] #7439 closed

[2020-06-29 07:13] PratikStar commented on #1258
I don't understand. If Redis does not store the information on the key's creation time. How does the eviction algorithm work? like LRU

[2020-06-29 08:52] antirez commented on #7432
Hi @mvasi90, what instances are using an high CPU usage, master, replica or sentinel? An idle Redis instance should consume a very small amount of CPU, very far (much lower) from the 5% you see. More informations are needed. What version are you using and in what system? Also an INFO output could be useful.

[2020-06-29 08:54] antirez commented on #7429
Thank you @MEDSMEDS, please could you resubmit to https://github.com/antirez/rax ? Thank you.

[2020-06-29 08:54] antirez commented on #7429
(Btw excellent bug report)

[2020-06-29 08:54] stutiredboy commented on #3740
[code]
we also run into this issue, the values in list are strings(dumps from json), such as: `{"uid": 1234, "credit": 5678}`

Redis Version: 3.2.1 to 3.2.13/4.0.14
Others:
1. bgsave can be successfully finished.
2. we have try different machines(use the same dump.rdb to load data at first start)

[2020-06-29 09:04] antirez commented on #3740
Hello @stutiredboy, we no longer received in any new version of Redis a similar bug report, and we can't investigate bugs related to Redis 3. Please upgrade to Redis 6, that is compatible with Redis 3, so that you can run new code that is hopefully a lot saner :) Cheers.

[2020-06-29 11:42] allan-ma commented on #4621
3. zipEntry(p, &tail);
This mean p point to the tail entry of ziplist? if it is, why?
If I just delete entry2, I think p should point to entry3, not the tail of ziplist

@soloestoy

[2020-06-29 11:45] smarnach opened #7442 "New redis.io certificate not valid for apex domain"
(Reporting here since I couldn't find a better place.)

The certificate currently deployed for the redis.io webserver is valid for `*.redis.io`, which does not include the apex domain `redis.io` itself. As a result, most Google links lead to pages that are rejected by browsers.

[2020-06-29 12:20] sooryranga commented on #7173
I would love to take a look if no one else is taking a look at it!

[2020-06-29 12:22] itamarhaber commented on #7442
Hello @smarnach

Thanks for reporting this - this should be resolved shortly.

[2020-06-30 12:31] 0xPwny opened #7445 "denial of service (daemon crash) & data leak"
a denial of service (daemon crash) via a crafted RESTORE command  that is mishandled by the __ziplistDelete function in ziplist.c.

script below are used to change and element size and pass crc64 check :
-https://gist.github.com/0xPwny/1824650b034106b643c30e22d0b133e5

*commands to trigger the crash*

 === REDIS BUG REPORT START: Cut & paste starting from here ===
 22582:M 19 Jun 2020 18:29:20.000

[2020-06-30 16:44] jackmaris commented on #7355
Re upping this, not sure what to do.

[2020-07-01 05:15] jameshilliard opened #7448 "Missing libs when building against static libssl/libcrypto"
It seems that the build system isn't properly detecting the need to link against zlib which is a required transient dependency when building with static openssl libraries. Adding `-lz` at the end of [this](https://github.com/redis-io/redis/blob/6.0.5/src/Makefile#L197) line allows the build to succeed but we probably don't want to set it unconditionally as it's only needed for static builds, maybe

[2020-07-01 06:25] zy-xiaoyuyu opened #7449 "redis5 make test error"
my system is centos 6.9, redis version is 5.0.5. I make it and make test, but error

Waiting for process 21737 to exit...
Forcing process 21737 to exit...

Logged warnings (pid 21737):
(none)

Logged warnings (pid 21705):
(none)
[exception]: Executing test client: I/O error reading reply.
I/O error reading reply
    while executing
"$rd_master setrange key:0 0 [string repeat A $payload_len]"
    (

[2020-07-01 07:36] stutiredboy commented on #3740
thanks @antirez . after we upgrade to redis 5.0, everything works fine.

[2020-07-01 14:05] boatrainlsz opened #7451 "why doesn't Redis cluster use consistent hashing?"
according to [Redis cluster tutorial](https://redis.io/topics/cluster-tutorial)，
![image](https://user-images.githubusercontent.com/18243785/86257168-caa8f300-bbeb-11ea-88f6-7187b5610cc0.png)
I was wondering what is the  purpose of this design

[2020-07-01 14:07] oranagra commented on #7451
@boatrainlsz please elaborate. what are you referring to? maybe provide an example?

[2020-07-01 16:13] ghost commented on #7382
Hi,

I am also interested in support for lua 5.2 because some other applications need 5.2 and I can't make them coexist. I guess this is the trend to keep things updated and secure? It's becoming more difficult to run Redis on servers where other software requires newer versions of common libs like Lua.

[2020-07-01 18:02] yossigo commented on #7448
@jameshilliard thanks for reporting this. This is a rather uncommon build settings so I'm not sure about adding anything explicit to support that, but I think what we can do is have a make variable that defaults to `-lssl -lcrypto` that you could easily override when invoking make to include `-lz` or whatever. Does that make sense to you?

[2020-07-01 18:35] jameshilliard commented on #7448
@yossigo I think I have a better fix in #7452 using pkg-config.

[2020-07-01 19:25] yakhyadabo opened #7454 "Redis 6.0.5 TLS issue in Kubernetes : SSL routines:ssl3_get_record:wrong version number"
I've deployed redis 6.0.5 in Kubernetes and enable TLS.

The config file :

[code]
The healthcheck and readiness are as follow (They are not failing)

[code]

Right after the servers start I get the following error :

[code]
Is there anything I miss in the config ?
Is there anyway to skip  certificate check ?

[2020-07-01 20:04] mvasi90 commented on #7432
Hello @antirez,
Redis instances are running inside a container. The high CPU usage is in redis master instance.

**Host information**
Distribution: Arch Linux
System: `Linux server-name 5.6.15-arch1-1 #1 SMP PREEMPT Wed, 27 May 2020 23:42:26 +0000 x86_64 GNU/Linux`

**Container info**
Distribution: Arch Linux
Internal network, announce-ip not needed.

**Redis version**
`Redis server v=6.0.5 sha=00

[2020-07-02 07:15] yossigo commented on #7448
@jameshilliard My concern is it adds a `pkg-config` dependency where in most cases it's not really needed. Exposing this as a variable could still have the same effect with a small burden on the caller in this case.

[2020-07-02 08:21] jameshilliard commented on #7448
I'm thinking a fallback makes the most sense, essentially first try `pkg-config` then just set the default `-lssl and -lcrypto` if pkg-config doesn't find anything.

[2020-07-02 08:30] yossigo commented on #7448
Yes that's definitely better. Especially if `-lssl -lcrypto` are still just a variable that can be overridden. And while at it, I guess the same should apply to the SSL CFLAGS to take the full advantage of `pkg-config`.

[2020-07-02 09:40] yz1509 commented on #1676
A similar phenomenon appeared in redis 3.2.11, has this bug been fixed in 5.0?

[code]

[2020-07-02 11:32] psilocibin opened #7458 "Redis 6.0.5 SSL routines:ssl_get_prev_session:session id context uninitialized"
Im using redis cluster and monitor master via haproxy.
haproxy conf
[code]
redis.conf
[code]
Checks are flapping with ssl errors in redislogs
[code]
haproxy log
[code]
and master is not available. It starts working after some seconds/haproxy check retry

[code]
Debian buster

[2020-07-02 14:43] hasan4791 opened #7460 "Deployment of Redis Cluster behind NAT gateway"
Its more of a feature request than a issue.

My deployment model for Redis is in cloud where the Redis servers are running in different subnet lets say A and the redis clients are running in different subnet lets say B. Also there are some route rule restriction across the subnet and the only point of entry to the subnet A is via a preconfigured NAT Gateway(with a floating IP) where we provide the

[2020-07-02 15:49] mangleddata opened #7462 "Random Connection refused issue"
Version: redis_version:4.0.9, redis-py version = '3.5.3'
Platform: What platform / version? (python 3.6.6, Ubuntu 18.04.3 LTS, Amazon EC2)

Description: I am using redis-py to connect to a local redis. There are many different threads and independent process that connects to redis (the number of clients should still be small < 10). At random points, I keep getting connection refused error.
"Error

[2020-07-02 16:06] lukepalmer opened #7463 "Client tracking pushes null invalidate upon flush"
Flushing a Redis appears to create an "invalidate" message containing a null byte.
Is this intentional? If so, it's undocumented.

Reproduction, using RESP3:
[code]
Message received is:
`>2\r\n$10\r\ninvalidate\r\n*1\r\n$1\r\n\0\r\n`

It would be great to document RESP3 push messages in general, especially invalidate.

[2020-07-02 16:54] madolson commented on #7463
It is intended behavior. On flushing all, or most of, the data we don't want to send invalidation messages for every key you might have tracked (That would be very expensive) so we send a single NULL message instead. I agree about the missing documentation. Might be better to create a request over in the documentation repo: https://github.com/redis-io/redis-doc

[2020-07-02 17:00] lukepalmer commented on #7463
I actually think there might be a bug, and that the code below intends to send an empty string but instead sends a string with one null byte. This is good, because a null byte is a valid redis key that would otherwise be indistinguishable from the "invalidate everything" message.

Specifically, the call to sendTrackingMessage specifies length 1 but should instead use length 0.

Do you agree?

[cod

[2020-07-02 17:42] mangleddata commented on #7462
Closing because reinstalling redis, cleaning up all config files don't seem to show the same issue. For removal I used (if someone needs it)
sudo apt-get purge --auto-remove redis-server

[2020-07-02 17:42] #7462 closed

[2020-07-02 19:47] danitseitlin commented on #7231
I think that currently that doesn't exist because it's not available in Redis itself. Even though a really nice request.
Maybe the package https://github.com/danitseitlin/storage-manager-ts will be in good use for you in the meantime.

[2020-07-02 20:13] maguec commented on #7231
You could use RedisGears module, as it can do this https://oss.redislabs.com/redisgears/examples.html

[2020-07-02 20:38] jameshilliard commented on #7448
So I've currently got it working using a pkg-config autodetection technique similar to the existing libsystemd autodetection.

Hmm, not sure if this is actually needed or not, on linux I don't actually get any cflags from pkg-config when I do `pkg-config --cflags libssl` or `pkg-config --cflags libcrypto`.

[2020-07-03 05:10] WiFeng commented on #7460
You can refer to the default redis.conf , as follow:

1. master/slave

[code]

2. cluster

[code]

Hope it works for you.

[2020-07-03 05:56] hasan4791 commented on #7460
@WiFeng  Thanks, but my use case is different. The first config is for Redis sentinel Master/Slave and next one is for Cluster. I'm interested in Cluster config but cluster-announce configs won't suffice my need. We can use announce feature only if that IP is reachable from the Network where the Redis is running.

[2020-07-03 11:44] 01-dotcom opened #7465 "does anybody know how to generate release.h on windows using Clion?"

[2020-07-03 12:02] tporadowski commented on #7465
Please have a look at section "Building from source code" on description page of [my Redis for Windows fork](https://github.com/tporadowski/redis). I am using [Cygwin](http://cygwin.com/) shell to do that.

[2020-07-04 01:20] MEDSMEDS commented on #7429
done.   btw all the best for your future adventure.

[2020-07-04 08:43] weishuai8888 opened #7467 "redis查询问题"

[2020-07-04 10:51] mgravell commented on #7467
(translated) "redis query problem"

You... may want to be more specific.

(translated) "您将需要更具体"

[2020-07-04 14:35] hasan4791 commented on #7454
in the liveness & readiness probe, you need to provide the --tls & --cert arguments too.
[Check here](https://redis.io/topics/rediscli
)

[2020-07-04 15:32] guwenbin1991 opened #7470 "build issue from source code"
OS:centos 7
steps:
1.  git clone https://github.com/redis-io/redis.git
2. enter into src folder
3. make
error:
server.c:5159:49: error: ‘struct redisServer’ has no member named ‘supervised’
     int background = server.daemonize && !server.supervised;
                                                 ^
server.c:5163:29: error: ‘struct redisServer’ has no member named ‘pidfile’
     if (background |

[2020-07-04 16:13] oranagra commented on #7470
You need to run `make` from the project root folder, not the `src` folder.
If the issue persist, please check which branch you are on, or maybe post `git status`

[2020-07-04 16:32] guwenbin1991 commented on #7470
sorry for my wrong discrition -> I'm at the root path of the project.
and for the branch issue, it is my fault that i was trying to build on the unstable branch ......
it worked that i checkouted to branch 2.2.

thanks for your explaination.

[2020-07-04 16:36] oranagra commented on #7470
The `unstable` branch should build just fine, that doesn't explain the build failure.
P.S. the latest "stable" branch is `6.0`

[2020-07-04 16:54] guwenbin1991 commented on #7470
it build successful when i created a new branch with command: git branch 2.2 -> not familiar with git related command, i thought i have switched to branch 2.2.....
then i *make clean* and try to build on other stable branch, e.g 2.2, 6.0
it failed again.  same error with the undefined struct member in server.c

[2020-07-04 17:07] oranagra commented on #7470
Looks like you created a branch, not checked out an existing one.
Try this (in the project root folder)
[code]

After switching between branches (git checkout), you want to do `make distclean` before `make`

[2020-07-05 09:11] rcmonitor commented on #6048
+1 for this feature

[2020-07-05 13:44] oranagra commented on #7445
@0xPwny thanks for reaching out.
This is actually a known issue, however IMHO it's not really a big concern.
This is only a problem if the server is exposed to untrusted users (which forge a CRC), and in that case a similar outcome can be achieved by other means such as SHUTDOWN NOSAVE, DEBUG SEGFAULT, EVAL with infinite loop, and others.
The problem can possibly be mitigated by ACL if needed, (do

[2020-07-05 14:36] guwenbin1991 commented on #7470
tried the comands you provided-> failed.
removed the source code and download the code from the github again -> failed.

i checked the error, it can't find struct members of struct redisServer server,
it's very strange that the struct redisServer is defined in server.h, no reason it will report this error.....

steps to reproduce the error:
1. git clone https://github.com/redis-io/redis.git
2. ent

[2020-07-05 15:18] yossigo commented on #7458
@psilocibin Looks like haproxy is attempting session caching, which is potentially fixed in #7420 and planned for the next version.

[2020-07-05 15:53] oranagra commented on #7470
just did exactly that. works for me. i have no idea what wrong.
maybe try downloading the source package https://github.com/redis-io/redis/archive/unstable.zip and see if you get different results.

[2020-07-05 16:13] guwenbin1991 commented on #7470
i want to give up now, same error.....
is there anything to do with do the Linux version?
my OS is centos 7.

here's my gcc/make version:
 root@VM_0_12_centos  (ssh)  ⚡  ~/wenbin/redis-unstable yum install make
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
**Package 1:make-3.82-24.el7.x86_64 already installed and latest version**
Nothing to do

 root@VM_0_

[2020-07-05 16:42] oranagra commented on #7470
there's no problem building redis on centos 7 or gcc 4.8.
the `supervised` and any other member in the server struct isn't dependent on any `ifdef` so i don't see how it can be missing.
i'm really clueless as to what's the problem here.

[2020-07-06 03:49] hwware commented on #7433
Hello @Hixon10, if you configure sentinel with master correctly, Sentinel will get INFO reply from master which it monitors every 10s by default. therefore if replica was configured correctly for master2,for example, sentinel should automatically discover it by receiving master2's INFO reply message, I guess the reason you did not see is you did not wait for enough time(maybe less than 10s when yo

[2020-07-06 05:20] Hixon10 commented on #7433
@hwware hello, maybe I have started `redis replica` with wrong parameters. Should I start `redis replica` with https://redis.io/commands/slaveof ? I thought, it is not needed for redis sentinel cluster.

[2020-07-06 06:44] oranagra commented on #4567
seems like a simple innocent bug.
fixing it will suddenly enable persistence for many deployments who had none so far.
i suppose mentioning it in the release notes will help, but the description will be rather complicated.
@yossigo i'd like your input.

[2020-07-06 07:16] oranagra commented on #7140
i'm in favor of adding CREATECONSUMER too.
first, because we do already have DELCONSUMER.
i don't like the other option which changes the behavior on the master, i rather change the behavior on the replica.
@guybe7 what do you think?

[2020-07-06 07:25] yossigo commented on #4567
@oranagra Yes fixing it may unmask other config issues for users, but it's definitely a bug that needs to be fixed.

[2020-07-06 07:56] guybe7 commented on #7140
@oranagra yes, i think `CREATECONSUMER` is the better option...
@valentinogeron care to implement?

[2020-07-06 08:04] haorenfsa commented on #3852
@dumingyou I found it out recently: see #7473

[2020-07-06 08:11] haorenfsa opened #7473 "Used Memory burst issue when hashtable expands after bucket number grows big"
The Redis dict of all keys is implemented in hashtable wich will expand when key number reach any exponential of 2 after 4.

According to the size of a hashtable bucket, when bucket number expand from 1*1024*1024 to 2*1024*1024, there is a memory overhead burst of 32MB. when bucket number expand from 2m to 4m, the burst will be 64MB and so forth.

So when your Redis's used memory is approaching to

[2020-07-06 08:51] yakhyadabo commented on #7454
I've set --tls, --cacert,  --cert and --key arguments. But I'm still having the same error message.

[2020-07-06 08:54] haorenfsa commented on #7473
already stated in #4583

[2020-07-06 08:54] #7473 closed

[2020-07-06 10:02] psilocibin commented on #7458
Thank you for info. Looks the same.

[2020-07-06 10:24] 0xPwny commented on #7445
thanks for your answer , yeah exactly this case show how  an untrusted access can be dangerous , that bug its different than the other mentioned since we can craft a fake dump data and pass the checks . as you said before some boundary checks will be a good solution to prevent such crashes while processing ziplists .

[2020-07-06 11:01] haorenfsa commented on #5975
see #4583

[2020-07-06 11:01] #5975 closed

[2020-07-06 16:22] valentinogeron commented on #7140
@oranagra @guybe7 - I will submit a PR soon

[2020-07-06 18:28] hwware commented on #7433
hello @Hixon10 , yes, you need to use slaveof command to replicate with the master node at the first time, if you did not configure known-replica in sentinel conf. however if sentinel already remembers it after it got INFO reply from master,it will automatically save this info into the sentinel conf. and then you restart slave nodes, sentinel will automatically send slaveof command to the replica.

[2020-07-06 19:07] Hixon10 commented on #7433
Ok, thank you.

[2020-07-06 19:07] #7433 closed

[2020-07-06 19:15] hasan4791 opened #7474 "Flock on Redis node.conf file in Kubernetes deployment"
Hello, we've deployed Redis in Kubernetes cluster where all the rdp & node.conf files are stored in PV of class NFS. In the mounted directory, every pod of Redis server creates its own folder which is then used for dumping data & storing of node.conf file for Redis cluster. On going through the source code of Redis, flock is being used to take lock on this before starting its routine. Everything i

[2020-07-06 20:00] mooleshacat commented on #4567
I can confirm this also, I had issues with Redis Persistance but I did not mention it as I didn't realize it was linked until a while after posting. As soon as I cleared this up, the persistance worked.

As far as this being a bug or a configuration error, I am leaning more on the side of a configuration error as the simple solution is to configure the redis instance to use a password, and only us

[2020-07-07 02:19] yangbodong22011 opened #7475 "Multi-key commands about lookupKeyWrite and lookupKeyRead"
Hi,
In Redis, when we operate the key, we need `lookupKeyWrite` or `lookupKeyRead`, but under the multi-key command, this flag is not strict.

E.g:

[code]
According to whether dstkey exists, use lookupKeyWrite or lookupKeyRead respectively, but should only use lookupKeyRead?

[code]
Similarly, should lookupKeyRead also be used here?

If the judgment is based on the read and write attributes of th

[2020-07-07 02:40] soloestoy commented on #7475
Makes sense, @oranagra what do you think?

[2020-07-07 06:08] oranagra commented on #7475
To be honest i never really understood that part and the reasoning behind it very well.

But the logic in `sunionDiffGenericCommand` makes it very clear what was the intention.
i.e. open the source keys with either read or write mode depending on if the command is a write or read one.
[code]

In SUNION vs SUNIONSTORE is may be clear from the command flags, but in commands such as SORT and GEORADIU

[2020-07-07 07:17] rajneran-quot opened #7477 "Want the data in sorted manner based on their scores from sorted set."
ZADD add the data in sorted set with score and some value while fetching the data wanted the data to be sorted based on their scores. Tried with ZSCAN but didn't get desired result

[2020-07-07 07:28] oranagra commented on #7477
i think you're looking for https://redis.io/commands/zrange

[2020-07-07 07:38] guybe7 commented on #7475
@oranagra TBH i don't really see the point of knowing which "keys opened as part of read command vs write command"...
IMHO what we need to keep track of is only "keys opened for the purpose of reading, modifying, or overwriting them".
i'm not a Redis user so maybe i'm missing something...
i opened a related issue a while back: https://github.com/redis-io/redis/issues/6842 - it refers specifically

[2020-07-07 07:54] rajneran-quot commented on #7477
**zrange** gives the data in a given range but I want to get the data based on some regex that should give all the string which follow that  regex with sorted score. For Example :

ZSCAN test3 0 MATCH *t*
1) "200"
2)  1) "lakeside-collection|Lakeside_Collection"
    2) "84353"
    3) "tomtom|TomTom"
    4) "183"
    5) "kaplan|Kaplan_Test_Prep"
    6) "62493"
    7) "frenchtoast|Frenchtoast"
    8

[2020-07-07 07:58] oranagra commented on #7477
that's right, ZRANGE can give you the entire sorted set, but with no filtering. and ZSCAN doesn't do sorting.
i suppose the only thing you can do is use ZRANGE inside a Lua script which will do the filtering for you.
If you also want to scan it alliteratively rather than get the whole set in one go, that would also complicate things.

[2020-07-07 08:23] rajneran-quot commented on #7477
Since wanted to implement autocompletion so fetching the data each time for different regex that would be highly costly task.

[2020-07-07 08:59] nareshbhusal commented on #2668
Not yet implemented it seems :( I take it this is the place to dump votes...
+1

[2020-07-07 09:23] oranagra commented on #7475
@guybe7 i also don't see why we wanna know if the open was part of a read or write, but clearly it mattered to Pieter, and maybe to Salvatore (merged my #5390), so for now i prefer keep that indication and not use it, rather than refactor it out of the code base.

i forgot about #6842, but i now realize that the problem there is not actually the use of lookupKeyRead vs lookupKeyWrite, but rather t

[2020-07-07 09:28] oranagra commented on #6842
I now realize that the problem that's causing INCR and SUNIONSTORE to misbehave is actually not due to calling lookupKeyWrite or lookupKeyRead, it's actually the check for `CMD_READONLY` in lookupKeyRead.
i think we may want to remove that check for CMD_READONLY, and then replicate that logic to lookupKeyWrite, or unify these to one function, so that write commands are also unable to use the expir

[2020-07-07 09:44] soloestoy commented on #7475
I agree with @guybe7 , the judgement of using `lookupKeyRead` or `lookupKeyWrite` should depend on the purpose instead of the command, cause write command may read some keys and modify the others.

Also, we need remove the check of `CMD_READONLY` in `lookupKeyReadWithFlags` I think.

[2020-07-07 10:40] winslis2 commented on #7470
my redis version is 6.0.5, I have the same prome with you when making redis, This is because of the version problem of GCC, which needs to be upgraded,You can execute the following code
`
yum install cpp
yum install binutils
yum install glibc
yum install glibc-kernheaders
yum install glibc-common
yum install glibc-devel
yum install gcc
yum install make

yum -y install centos-release-scl
yum -y ins

[2020-07-07 10:41] oranagra commented on #7477
@rajneran-quot so your LUA script can fetch just the first n results, and even do incremental calls to LRANGE and abort the "scan" when enough results were collected.

i'm guessing there are better way, maybe involving a module. @itamarhaber might be able to point to something.

[2020-07-07 11:48] rajneran7890 commented on #7477
@itamarhaber can you check and let me know is there any better way ?

[2020-07-07 13:31] yossigo commented on #7475
@oranagra The reason we care about the command at lookup is to maintain consistency between masters and replicas. On the replica it's okay to return `NULL` for a key that is supposed to be expired even if `DEL` was not received yet. But if we're in the context of a write operation we must not do that, as this may cause the write command's to mutate the dataset in a different way than the master.

[2020-07-07 19:04] yossigo commented on #7475
Trying to sum it up:
1. `lookupKeyRead()` and `lookupKeyWrite()` indicate what we intend to do with the key and should not be affected by the command itself.
2. Expired keys should never be hidden from commands originating from a master or AOF. Typically these would always be write commands (especially now that Lua scripts don't replicate) but the criteria is their origin and not whether or not th

[2020-07-07 22:32] fidelgonzalez opened #7482 "Memory used only grows despite unlink/delete of keys."
Hi,

We had an issue with our redis cluster. At the time to unlink/delete keys the RAM memory doesn't free up. This is very conflictive to us because the only way to keep the service up is scale horizontally with other node to distribute slots.

Redis cluster information:

- Version: redis-6.0.1.
- All the nodes are linux vm running on azure platform. Ubuntu Server 18.04, 128GB RAM and 4 CPU.

Thi

[2020-07-07 23:28] itamarhaber commented on #7482
Hello @fidelgonzalez

Please share the full output of your  `INFO memory`.

[2020-07-08 00:39] fidelgonzalez commented on #7482
Hi @itamarhaber ! Thanks for the answer.

This is the complete output:
[code]

[2020-07-08 01:12] jiashiwen opened #7483 "replicate ttl different"
I execute

set mykey aa
expire mykey 3600
incr mykey
incrby mykey 123
incrbyfloat mykey 0.123
on master, the key be replicate to slave but ttl is -1.
redis version is 4.0

I think this is a bug

[2020-07-08 01:29] daemyungkang commented on #7483
@jiashiwen refer this https://github.com/redis/redis/pull/5817 :)

[2020-07-08 02:53] yangbodong22011 opened #7484 "Does dbOverwrite need to update LFU when key type different?"
Hi,
[code]
I noticed that dbOverwrite will update the LFU, but when the old key and new key types are different, is this correct?

E.g:
`georadius` with `STORE key` option, when the `key` exists, it will call `setKey() -> dbOverwrite()`, see [here](https://github.com/redis/redis/blob/unstable/src/geo.c#L660), if the key is not a `GEO` type before(maybe string), it makes sense to update the LFU of

[2020-07-08 06:21] oranagra commented on #7482
@fidelgonzalez how can you tell that DEL doesn't free up memory?

maybe do `MULTI; INFO memory; DEL <key>; INFO MEMORY; EXEC` to verify that?
or alternatively, create a spare replica for one of your shards, then disconnect it from the cluster and experiment on it (e.g. check if FLUSHDB does release the memory or not).

p.s. looking at `used_memory_dataset_perc` i see the hashtable overheads consum

[2020-07-08 06:42] oranagra commented on #7484
@yangbodong22011 thanks for raising this.
I do not think the type change should make a difference.
One can argue that even if you're overriding a key of the same type, you need to start over with a fresh LFU.
I do see that retaining the old LFU is something that exists since the day LFU was implemented.
Arguably the LFU is a property of the keyname not the value.. maybe if someone comes with a str

[2020-07-08 07:00] soloestoy commented on #7484
Agree, so I think we need replace `dbDelete/dbAdd` with `setKey` in `SUNIONSTORE`..

[2020-07-08 07:28] yangbodong22011 commented on #7484
@oranagra @soloestoy Thanks for your reply
I will try to use `dbOverwrite` to fix this kind of problem like SUNIONSTORE (ZUNIONSTORE, etc.).

[2020-07-08 08:49] itamarhaber commented on #7477
Hello @rajneran7890

As @oranagra said, I'd go with a Lua script to implement this using vanilla Redis. Alternatively, you can extend Redis with the RediSearch module and use its autocomplete feature (i.e [`SUGADD`](https://oss.redislabs.com/redisearch/Commands/#ftsugadd) and `SUGGET`).

[2020-07-08 11:28] javierpajaro commented on #7482
Hi @oranagra

We tested same redis version on same ubuntu version with same data but using an stand alone node, and UNLINK or DELETE worked. Both released used memory inmediately after executing the command.

In production we store millions of small hashes (2 members, < 1Mb size)

An good example of a key may be  "HMSET" "758cb0a9-dd6a-3638-93f5-80ef83a5add2:1594207079579:61085:5" "data" "Solar Ch

[2020-07-08 11:57] fidelgonzalez commented on #7482
Hi @oranagra

it's possible that this issue is generated by the version of redis? Change our redis version to the last one available could help?

[2020-07-08 12:31] soloestoy commented on #7463
One problem.

User can use NULL key name, just like `SET "" v`, I'm not sure if some users do that, but it's valid. So if we send NULL message, it may be confused if it is `FLUSHALL` or a real key name?

Long before that, when we use slot to tracking, we user `-1` to represent `FLUSHALL`, but now maybe we need a new channel.

[2020-07-08 12:48] oranagra commented on #7482
@javierpajaro so if UNLINK worked in a stand alone node, how did you reach a conclusions that it doesn't free memory on your production?

if you have a lot of volatile keys, maybe there's another problem of the active expiration code not getting to handle them fast enough?

@fidelgonzalez i'm not aware of any changes that affect this since 6.0.1.
the only thing remotely in that area is https://git

[2020-07-08 12:55] lukepalmer commented on #7463
@soloestoy you're right. I'm not sure how common empty string is going to be but completeness is important here. The null byte was actually not an edge case for me, because in some languages the None case of an Option type serializes to a null byte.

Maybe we need a push message that says "flush".
In any case this sounds like a change rather than a bugfix, which means that I need to talk to mainta

[2020-07-08 13:07] javierpajaro commented on #7482
@oranagra  because in prod we executed info memory before and after running unlink commands and memory used never decrease. It stays equal or increase. Conversely, in the case of standalone we saw memory decreasing inmediately after unlinking keys.

Doing a redis monitor we can see UNLINK commands executing in both environments.

[2020-07-08 13:14] oranagra commented on #7482
@javierpajaro for UNLINK you're not expected to see immediate decrease of memory, it may happen later. however i did see that your INFO has `lazyfree_pending_objects:0` which means the lazy free thread seems to be working.

I suggest testing it with DEL, but if the DEL and INFO are not pipelined or better yet, wrapped in MULTI-EXEC, you can't be sure that the memory changes you're observing are no

[2020-07-08 13:21] javierpajaro commented on #7482
@oranagra we have set the use of laziness for DEL commands. Is that ok?

[2020-07-08 13:22] javierpajaro commented on #7482
We can also try to send unlink commands pipelined or multiexec.

[2020-07-08 14:07] yangbodong22011 commented on #7475
For the code modification, I want to confirm:
1. lookupKeyRead or lookupKeyWrite depend on the purpose instead of the command.
2. remove the check of `CMD_READONLY` in `lookupKeyReadWithFlags`.

Please tell me any other suggestions.

[2020-07-08 14:51] madolson commented on #7463
@soloestoy
One possible fix is to send an actual "NULL" back, which has its own special character in RESPV2 and RESPV3. I think it's $-1/r/n and _\n. We should figure out if we think we'l need more special characters. Having to listen to multiple channels sounds like it will overly complicate client implementations.

[2020-07-08 14:56] lukepalmer commented on #7463
@madolson I like that, it's simpler than what I thought of first. Happy to implement if people are on board.

[2020-07-08 15:03] oranagra commented on #7482
what do you mean by "laziness for DEL commands"? do you mean `lazyfree-lazy-user-del`?
the only way to really measure the memory effect of DEL is by using DEL with the above mentioned flag off, and use it in MULTI-EXEC.

but anyway, you mentioned most of your objects are small (hashes with just a few fields), these will never really use the lazy free mechanism, even if you use UNLINK.
UNLINK will

[2020-07-08 15:18] soloestoy commented on #7463
Yes @madolson you're right, I forgot that. The null object is here:

[code]

[2020-07-08 15:41] madolson commented on #7463
@lukepalmer Sounds like that is probably the best fix for now, so I think you can go and implement it if you want.

[2020-07-08 15:51] gchiarapa opened #7490 "Redis del - 404"
Hi,

I'm trying to delete a key via nodeJS( client.del), the keys exists, but I get an error 404 while I'm deleting the key.

Cannot DELETE /api/v1/projects/1/redis/pattern/(key).

Any idea what happening?

Redis server v=4.0.10.

Thanks.

[2020-07-08 17:28] javierpajaro commented on #7482
@oranagra

First of all, we deactivated laziness.

Second, now I am executing DEL commands inside a pipeline. As you can see bellow, I am unsing java. I am also using Lettuce redis client.

Using redis monitor I can see lot of DEL commands executing. There are tons of MHSET commands too. And finally, several MIGRATE because we are moving slots to a new node to avoid out of memory error.

So, I am

[2020-07-08 21:15] itamarhaber commented on #7490
Hello @gchiarapa

404 sounds like an HTTP code, definitely not something that Redis (or any of its clients) would return. Please reformulate your issue to Redis-speak or feel free to close it and pursue other support channels that are relevant to the issue you're experiencing.

[2020-07-09 03:41] alonana opened #7493 "Redis memory usage CLI does not work on cluster"
I've posted this at stackoverflow, but got no response. I hope someone here would know the answer...

I using the go-redis library to check memory usage of a specific key on a Redis cluster. The library fails sporadically with error "redis: nil" which usually means that it accesses the wrong redis instance to find the key. The go-redis library is using the Redis CLI: "command" to get the list of a

[2020-07-09 05:51] oranagra commented on #7493
@alonana thanks for reaching out.
this issue was recently discussed in https://github.com/redis/redis/pull/7455
in a nut shell, it would be wrong for COMMAND command to respond that the first and last key of the MEMORY command is 3. since that's only true for the MEMORY USAGE sub-command, and not for other sub-commands.
the right thing to do is that go-redis look for the `movablekeys` in the outpu

[2020-07-09 08:56] KarnikJain opened #7495 "Redis 2.8.17 crashed by signal: 11"
[code]

Crash Log:
++++++++
[code]

[2020-07-09 09:03] KarnikJain commented on #7495
@any other logs required then please do let me know.

[2020-07-09 09:36] oranagra commented on #7495
@KarnikJain this is very old version (IIRC the one that was latest on the day i joined the project).
besides that, for some reason the crash report is missing a stack trace part, so i don't really know where it crashed, and i can't check if that bug was fixed already or not.

what i do see is that `CURRENT CLIENT INFO` shows that we're probably running BGSAVE now (although i'm not sure if there wa

[2020-07-09 10:50] rajneran-quot commented on #7477
@itamarhaber
 MODULE LOAD redisearch.so OPT1 OPT2
(error) ERR unknown command `MODULE`, with args beginning with: `LOAD`, `redisearch.so`, `OPT1`, `OPT2`,

getting this while loading the redissearch.so any idea why so ?

[2020-07-09 11:15] #7442 closed

[2020-07-09 11:56] itamarhaber commented on #7477
Redis modules were added to Redis v4 - which version are you using?

[2020-07-09 12:28] javierpajaro commented on #7482
@oranagra

Some good news.

We added more cores to redis nodes and left more of them to non io-threads.

We shortened ttls for short-lived data.

We enclosed DEL commands in pipelines.

Now memory consumption remains steady around 50gb in each node.

I think you can close the issue.

Regards,

[2020-07-09 12:31] #7482 closed

[2020-07-09 12:53] ppavan108 opened #7496 "overhead of ttl"
I have two conflicting requirements:

a) i have keys for which user cannot specify TTL
I want to have them evicted based on LRU.

b) I have keys to store some metadata on redis. These should remain and so will not have TTL.
These i donot want to get evicted.

To accomodate both, i am planning to have large TTL ( 1 year or more) for keys under category-a.

I would like to know the overhead of this

[2020-07-09 13:40] rajneran-quot commented on #7477
redis_version:4.0.14

[2020-07-09 14:19] KarnikJain commented on #7495
@oranagra Thank you for the response. Did we have such cases in past, where Redis-Server getting Zombie/defunct and redis-server.log showing Crash like I mentioned in my o/p? tried forum but no clear clue yet.

[2020-07-09 15:10] itamarhaber commented on #7477
This doesn't make sense... unless you're using a managed Redis service where this functionality has been turned off? Although if that's the case I'm not sure how you got the .so file there in the first place.

[2020-07-09 18:34] lannka commented on #2349
+1

[2020-07-09 19:27] bpo opened #7497 "Responsible disclosure and vendor lists"
Congrats to all the new core team members! I'm sure you have a lot of governance items to consider and this is on your list already, but Salvatore suggested I open an issue to discuss this:

When there was only a single contact point for Redis there were a few informal security policies in place. Previously, responsible disclosure for Redis security bugs looked something like this:

1. Contact ant

[2020-07-09 19:36] daidaotong opened #7498 "Support for Keyspace Add New Key Notifications"
In the current version of Redis, keyspace notifications are based on each command which modifies the state of the keyspace. However, this feature lacks telling users which key will be newly added for a specific db. for instance set command, the user will receive keyspace notification exactly the same no matter key is updated or newly added. Is there any plan for supporting the keyspace add new key

[2020-07-09 21:31] itamarhaber commented on #7498
Hello @daidaotong

Thank you for making the request. We'd appreciate it if you could expand more on the actual use-case and/or problem that you're trying to solve with this feature.

[2020-07-09 23:52] itamarhaber commented on #7497
Hello @bpo

Thanks for putting this out here - it needs to be addressed sooner rather than later. WRT to 1., we'll be setting up the redis@redis.io email alias for direct and discreet contact with the core team. I feel that the same process can be retained, and we'll ask Salvatore for the current list so it can be maintained.

I'd also like to have this procedure formalized in the repo, and possib

[2020-07-10 00:08] bpo commented on #7497
Sounds good, I'll put something together before next week. Thanks for the quick follow-up!

[2020-07-10 00:38] daidaotong commented on #7498
@itamarhaber Hello Itamar, thanks for your reply, our use case is the customer wants a monitoring mechanism for Redis keyspace, only if the keyspace size changed like a new key was inserted or old key deleted, a notification message will be sent to tell which key has been inserted/deleted. However, I did not find current this notification is available for Redis, the notification is only for comman

[2020-07-10 02:01] lukepalmer commented on #7463
I implemented null on invalidate and updated the pull request.

I'd love to get this merged if everyone likes this.

[2020-07-10 07:30] #7448 closed

[2020-07-10 07:32] #7437 closed

[2020-07-10 09:26] Miaoshuai opened #7501 "Why redis6.0.5 activates io thread(io_threads_active) in handleClientsWithPendingWritesUsingThreads interface"

[2020-07-10 09:39] Miaoshuai commented on #7490
I think 404 not redis-server return

[2020-07-10 14:10] itamarhaber commented on #7490
Closing this issue as it appears to be outside the project's scope - please feel free to reopen if you feel this is unwarranted.

[2020-07-10 14:10] #7490 closed

[2020-07-10 16:05] itamarhaber commented on #7496
Hello Pavan,

The usual approach for resolving different volatility/persistence
requirements from Redis is setting up separate instances. That said, your
approach wouldn't work as once the eviction policy is triggered TTL won't
play a role - only last access time.

On Thu, Jul 9, 2020 at 3:55 PM PavanP <notifications@github.com> wrote:

--

*Itamar Haber*
Technicalist Evangely

Phone: +972.54.567.

[2020-07-11 01:15] DMTSource commented on #6123
I am also getting these redis related errors on a manual cluster setup and found these useful instructions for updating maximum open files, socket max connections, memory overcommit, and transparent huge pages for redis for older, or bare metal linux(ubuntu 1404 in my case) os and beyond:
https://stackoverflow.com/a/46255542/927972

[2020-07-11 02:51] ppavan108 commented on #7496
Thanks for your  response, its encouraging to hear from experienced, as we
are getting started with redis

Then probably i should think  to refresh ttl on access, i.e after every
access i would increase it by few days.
This will get rid of cold data and does not force you to depend on eviction

Here is what it looks for me, it has two operations

Get key1 -- Sent to replica

Expire key1 3600*24 --

[2020-07-11 12:53] oranagra commented on #7484
@yangbodong22011 thank you. #7489 merged.

[2020-07-11 12:53] #7484 closed

[2020-07-11 13:34] itamarhaber commented on #7496
Dear @ppavan108 - I recommend you close this issue as it is actually an operational question, and instead refer to the mailing list or other community channels: https://redis.io/community.

[2020-07-11 13:43] itamarhaber commented on #7415
This issue is being closed - please feel free to reopen if needed.

[2020-07-11 13:43] #7415 closed

[2020-07-11 13:44] itamarhaber commented on #7374
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:44] #7374 closed

[2020-07-11 13:44] itamarhaber commented on #7043
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:44] #7043 closed

[2020-07-11 13:45] itamarhaber commented on #6965
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:45] #6965 closed

[2020-07-11 13:45] itamarhaber commented on #6897
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:45] #6897 closed

[2020-07-11 13:45] itamarhaber commented on #6705
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:45] #6705 closed

[2020-07-11 13:46] itamarhaber commented on #6673
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:46] #6673 closed

[2020-07-11 13:46] itamarhaber commented on #6655
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:46] #6655 closed

[2020-07-11 13:47] itamarhaber commented on #6632
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:47] #6632 closed

[2020-07-11 13:47] itamarhaber commented on #6627
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:47] #6627 closed

[2020-07-11 13:47] itamarhaber commented on #6143
This issue will now be closed - please feel free to reopen if needed.

[2020-07-11 13:47] #6143 closed

[2020-07-11 17:34] guwenbin1991 commented on #7470
thanks for your info, works for me now.
the default gcc version in CentOS is 4.8.5 which is not suit for building redis.
it could work when we upgrade the gcc version.

thanks again.

[2020-07-11 17:34] #7470 closed

[2020-07-11 19:55] madolson commented on #7501
handleClientsWithPendingWritesUsingThreads is the common method that is executed before doing any writes. The name might be a bit misleading, but it may also do writes without using any IO threads. So, it is responsible for checking if IO threads should be used.

[2020-07-11 20:12] madolson commented on #7427
Hey @fuzengjie, can you provide any more context on what your application was doing at the time or any ability to reproduce it? we've seen a couple of previous issues with similar crashes which we think our memory corruption related. (e.g. https://github.com/redis/redis/issues/5835 / https://github.com/redis/redis/issues/7358)

Do you know if the memory you are running with has ECC?

[2020-07-12 06:10] Phantal opened #7504 "replication test(s) failing on Solaris 10"
I'm working on getting Redis 6 working on Solaris 10 and the set of tests at the bottom of `tests/integration/replication.tcl` is failing because the process that's sent SIGTERM is never reaped by its parent by calling one of the **wait()** family of functions.

As I noted in [this stack overflow question](https://stackoverflow.com/questions/62857332/zombie-process-in-solaris-10-even-with-wait) I

[2020-07-12 06:33] oranagra commented on #7504
@Phantal do when you run redis (master+replica) manually (not though the tests), do you see similar problems?
your SO post mentioned grandchild, do you mean that the test is the parent, and the grandchild is the forked process redis creates?

[2020-07-12 07:51] Phantal commented on #7504
I don't know all the details, but it looked like Redis had fork()ed, as did
its child and the grandchild zombies.

I haven't tried it without the test yet.

On Sun, Jul 12, 2020, 12:33 AM Oran Agra <notifications@github.com> wrote:

[2020-07-12 08:42] oranagra commented on #7504
@Phantal the child process in redis doesn't fork.
please dig deeper when you get a chance and let me know what you find.
thanks.

[2020-07-12 13:11] yossigo commented on #7303
The `tls-auth-clients` issue is fixed by #7457.

[2020-07-12 13:11] #7303 closed

[2020-07-12 13:12] yossigo commented on #7270
Fixed by #7420

[2020-07-12 13:12] #7270 closed

[2020-07-12 13:27] yossigo commented on #7454
@yakhyadabo the errors suggest that Redis accepts a clear-text (non TLS) connection, not a certificate check issue.

[2020-07-12 13:28] yossigo commented on #7458
@psilocibin can you please confirm if this has been resolved by latest unstable?

[2020-07-12 16:12] ustcr7 opened #7505 "how to replace master which has no replica"
I have a redis cluster with 3 master nodes:  A, B, C.
when node B lost，how can i add a new node D which should take over all slots of B (Note: we can discard all data in node B).

I try to send "forget B"(port:7001) to A(port:7000) & C(port 7002),  then add new node D(port 7003),  but it failed:

![image](https://user-images.githubusercontent.com/5212409/87251798-f3a96d80-c4a0-11ea-8574-aec4b3198e

[2020-07-12 19:24] itamarhaber commented on #7505
Hello @ustcr7
Keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. Kindly close this issue. Questions should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [the i

[2020-07-12 22:14] calbot opened #7506 "High CPU usage by redis container on docker"
When I run redis through on a linode host and run docker stats the CPU usage is very high when there is basically nothing going on (except pings from docker healthcheck). It jumps arround between 20-40% CPU...

[code]

Using docker from a docker-compose with the following configuration...

[code]

But if I connect directly to the container and run top I can't see the cause of high CPU usage...

[c

[2020-07-13 02:22] #7505 closed

[2020-07-13 03:14] starsskye opened #7507 "redis 6.0.5 io"

[2020-07-13 03:50] #7507 closed

[2020-07-13 03:59] starsskye opened #7508 "redis 6.0.5 io thread-thread-safety issues"
`handleClientsWithPendingReadsUsingThreads` method in the main thread

[code]
`IOThreadMain` method in io thread
[code]
What if the io thread and the main thread handle the same client at the same time?After all, when the main thread `processInputBuffer `  is all clients.

[2020-07-13 05:27] psilocibin commented on #7458
yes, [#7420](https://github.com/redis/redis/pull/7420) fixed it.

[2020-07-13 06:34] oranagra opened #7509 "GCC 4.8 vs C11 _Atomic and threaded IO"
Since the introduction of threaded IO, we moved to C11 and `_Atomic`, but apparently that feature of C11 is only supported from GCC 4.9 and upwards.
So since CentOS 7 and Ubuntu 14.04 use GCC 4.8 (which does support C11, but not _Atomic), redis 6.0 does not compile on these by default.
These OSses, are still widely used, and since the threaded IO is disabled by default, maybe we want to reconsider

[2020-07-13 06:46] trevor211 commented on #7509
An alternative option: using scl.

For example, on centos7, we can do like this:

Step1, we install some tools.
`sudo yum -y install centos-release-scl devtoolset-7 llvm-toolset-7`

Step2, enable scl before compile.
`scl enable devtoolset-7 llvm-toolset-7 bash`

Step3, compile.
`make`

[2020-07-13 06:55] oranagra commented on #7509
@trevor211 i suppose the generated binary will depend on newer runtime libraries, and will not work out of the box on any CentOS 7 without installing the scl there too. right?
not sure if that's acceptable for some deployments.

[2020-07-13 08:23] trevor211 commented on #7509
I did the test just now, and it turned out that the generated binary did work out of the box on another Centos7 not having the scl installed.

I did the experiment with the following steps.

Step1, create 2 docker containers (let's take them container A and B) using the same centos7 image.
Step2, pull the lastest redis source code on container A, and just `make`, it failed.
Step3, install scl and

[2020-07-13 09:28] tanhangbo opened #7510 "does redis-stream support binary data"
After reading the protocol: https://redis.io/topics/protocol , it shows redis-stream support for binary data is possible. But so far I only found it only supports string message. So there is a question, does it support binary-form data or the feature will be supported in the future? Thanks.

[2020-07-13 09:37] tgrall commented on #7510
You can store binary data into Redis.

You can for example using simple `SET`/`GET` commands.

As you can see from the [documentation](https://redis.io/topics/data-types-intro):

Do you have a specific use case in mind?

[2020-07-13 15:32] yoonghm commented on #7284
I have similar timeout issue with `redis-server` but I got the solution from https://github.com/redis/redis/issues/7217.  I compiled redis with the following command:
[code]

I am using redis 6.0.5.

[2020-07-13 16:11] yoonghm commented on #7217
Thanks. `redis-server` works now `systemd`.  I use this command

[code]

I am using redis 6.0.5.

[2020-07-13 20:30] patelshashashank777 commented on #2460
any update for automatic resharding when new node is added

[2020-07-13 20:50] demo-cmvc opened #7515 "redisson-netty thread lock"
Hi,

We have setup Redis cluster and populated key/values. Some Keys contain more than 2M fields. When we call getAll of RMap using redission client, it takes more than 30 mins and goes to idle state. We analyzed the thread dump and noticed the below errors. We are using redission client (3.13.1). Is this known issue with Redisson client?

Error

"redisson-netty-2-150" #361 prio=5 os_prio=0 tid=0x

[2020-07-13 22:12] itamarhaber commented on #7217
Here - should the docs/conf be updated to include the make flag? I feel like yes, but I'd like more feedback.

[2020-07-13 23:02] itamarhaber commented on #7515
Hello @demo-cmvc

Keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. Questions and issues regarding Redisson belong in its [repository](https://github.com/redisson/redisson).

Closing this as irrelevant - please feel free to reopen if needed.

[2020-07-13 23:02] #7515 closed

[2020-07-14 02:27] Phantal commented on #7504
@oranagra Unfortunately I'm both learning how to use Redis + get it running on Solaris, so it's a bit slow going.

I wrote a simple bash script to test this based on the "no" portion of the `repl` test by copying the config used by that test.  The script looks basically like this; my apologies if there's typos, the machine I'm doing this on is air-gapped:

[code]

In the "no replicas drop" test it

[2020-07-14 02:49] tanhangbo commented on #7510
Thanks for your reply. After using this api, the binary form of data is successfully stored.
[code]
I just want to send binary images between dockers without (1.store image to cloud data base and get url 2.send url between dockers), and test if the total delay can be decreased.

[2020-07-14 02:49] #7510 closed

[2020-07-14 07:59] shunminli opened #7517 "Is the bottleneck of redis pure kv scene cpu? What is the main CPU consumption?"
Redis 6.0 introduced the IO thread to solve the problem that the original worker thread is also responsible for reading and writing IO. So, in the pure kv scenario of redis 6.0 and above, is the single-core redis still inferior to single-core memcached?

Is the bottleneck in the CPU in the pure kv scenario of redis 6.0 or above? Where is the CPU consumption?

[2020-07-14 08:51] oranagra commented on #7504
@Phantal i tried to reproduce this (found another bug: https://github.com/redis/redis/pull/7518), but as far as i can tell the child is always reaped.

the code in `checkChildrenDone` was indeed modified in v6 and will skip calling `wait3` if `server.rdb_pipe_conns` is not NULL, and i did have some suspension that maybe there's some problem if the child is killed (e.g. with `kill -9`) before it ha

[2020-07-14 10:23] Aeres-u99 commented on #6286
@antirez We should probably include the requirements for compilation or if its there already kindly point me to it.

[2020-07-14 15:00] Phantal commented on #7504
I'm  going to try your changes in #7518 and see what happens.  I'll also see what I can do about the logs.

[2020-07-14 22:03] Hixon10 opened #7520 "Redis returns number in Scientific notation after cjson.decode processing"
I store json in Redis, and process it with help `lua` scripts. I detect, that redis returns big numbers in Scientific notation, if I process json with `cjson.decode`.
Let's consider the following `1.lua` script:
[code]

Try to execute it:
[code]

So, we receive `1.5947634569e+16` instead of `15947634569000323`. I bet. not every programming language can seamlessly process both number representation

[2020-07-14 23:53] Phantal commented on #7504
Unfortunately I wasn't able to figure it out and I've been told I'm spending too much time on this.  We're moving away from Solaris in the not too distant future, so at worst we delay using Redis until we're off Solaris.

That said, I tried running the master under `truss` to see whether anything jumped out at me.  The process finishes writing the `*-temp.rdb` file, closes it, then calls `_exit(0)

[2020-07-15 06:35] spencerparkin commented on #5482
I'm getting the same error on windows.  My server version is 3.2.100.  My client is 3.2.100 also.

[2020-07-15 06:44] oranagra commented on #7504
@Phantal can you please just run `./runtest --single integration/replication --only "diskless no replicas drop during rdb pipe" --dont-clean` and then send me the log files from `tests/tmp/`?

BTW, assuming all your Solaris trouble are in the diskless master replication mode (the one that uses a pipe to send the rdb content to the parent to forward to replicas), you can just not use this feature (

[2020-07-15 07:29] heepy opened #7522 "Sentinel can not failover，Version 3.0.7"
After the sentinel sent the slave no one，the new master without return info until the end of failover timeout。

[code]

[2020-07-15 08:53] z00526391 opened #7523 "genRedisInfoString repl_down_since of struct redisServer is wrong when slave never connect to master success"
When master and slave both come down then slave start again. the slave never connect master success and server.repl_down_since is 0. genRedisInfoString repl_down_since send to sentinel is server.unixtime actual. So sentinel consinder the slave link down to master too long and don't promoted it.

            if (server.repl_state != REPL_STATE_CONNECTED) {
                info = sdscatprintf(info,

[2020-07-15 10:31] oranagra commented on #7284
https://github.com/redis/redis/pull/7168 merged.
let me know if there are any other issues in that area.
thanks

[2020-07-15 10:31] #7284 closed

[2020-07-15 11:45] hwware commented on #7522
Hello @heepy , it looks like some reason the promoted slave did not promote itself into master, may I ask you can you also attach the corresponding slave log and configurations? thanks

[2020-07-15 13:06] We1less1111 opened #7524 "have trouble with debugging redis"
When I was debugging redis, I encountered a very simple problem, but I was at a loss.。when gdb,it display, value has been optimized out。I have changed Makefile  OPTIMIZATION?=-O2 ----->OPTIMIZATION?=-O0

[2020-07-15 13:11] oranagra commented on #7524
you can use `make noopt`

[2020-07-15 13:36] We1less1111 commented on #7524
excuse me，I have tried,
ubuntu@ubuntu:/usr/local/redis/src$ make noopt
make OPTIMIZATION="-O0"
make[1]: Entering directory `/usr/local/redis/src'
    CC adlist.o
...

but It still doesn't seem to work
2441	    if (r->type != REDIS_REPLY_ARRAY ||
(gdb) p r->type
value has been optimized out
(gdb)

[2020-07-15 14:08] itamarhaber commented on #7517
Hello @shunminli

Keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. Questions should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [/r/redis subreddit](http:/

[2020-07-15 14:08] #7517 closed

[2020-07-15 14:21] itamarhaber commented on #7520
This seems to be related: https://github.com/mpx/lua-cjson/issues/37

[2020-07-15 14:41] #7458 closed

[2020-07-15 14:46] yossigo commented on #7224
@boreevyuri IIRC there were some fixes around that since 6.0.1, can you please let me know if that still reproduces with latest unstable? Thanks!

[2020-07-15 14:47] #7210 closed

[2020-07-15 14:50] yossigo commented on #7009
Fixed by #7018

[2020-07-15 14:50] #7009 closed

[2020-07-15 14:52] yossigo commented on #6877
@ScottBrenner It has been enabled for some time now, thanks!

[2020-07-15 14:52] #6877 closed

[2020-07-15 14:52] #6827 closed

[2020-07-15 14:59] oranagra commented on #7524
@We1less1111 i think the `src/.make-settings` is getting in the way. please do `make distclean` and then `make noopt`

[2020-07-15 14:59] qbit-s opened #7525 "optimize intset(no need to upgrade intset)"
when i read intset datastruct source code. i think maybe we can split different types into different space.  we alrealy know how big the inserted number is. so we can optimize intset and dont waste  memory  space .
i try it with c++(the code can be refactor )

intset.h
[code]
intset.cpp
[code]

[2020-07-15 15:12] oranagra commented on #7525
@qbit-s I don't understand what you are suggesting.
The intset code already has the categories to allocate memory according to the size of the value.

BTW, redis is written in C, if you have an idea for improvement, please submit a PR with C code.

[2020-07-15 15:45] namespace-io commented on #7525
@oranagra i mean when i insert a number **v**, we used to judge how big the v is  and get the encoding for the provided value v. that is
 function **_intsetValueEncoding(int64_t v) **.  then we decide to upgrade or not.  if we upgrade, it will waste space . so  we can preallocate 3 or more different buckets to store different encoding values so that no space will be wasted.
for example:
first i ha

[2020-07-15 17:19] oranagra commented on #7525
@qbit-s that's a good idea, kinda like storing 3 different intsets.
one problem i see with this is that in order to persist it (quickly and efficiently) we need to change the rdb format (so we can only do that in the next redis version).

another thought is that intsets are usually small (limited to 512 entries by default), so i'm not sure there are many use cases that store both very big numbers

[2020-07-15 17:53] #7463 closed

[2020-07-16 00:36] heepy commented on #7522
Thanks for your reply。The promoted slave  has been promoted to new master。The slave log has show “CONFIG REWIRTE OK”。I see that no information to exchange when  listened this channel--__sentinel__:hello.So,it looks like some reason the channel was destroyed。

[2020-07-16 01:04] Phantal commented on #7504
I'll see what I can do about the logs.

It's also failing these *replication-psync* tests:

* Test replication partial resync: no backlog (yes, disabled, 1)
* Test replication partial resync: backlog expired (yes, disabled, 1)
* Test replication partial resync: no backlog (yes, swapdb, 1)

I'm a little surprised it didn't fail *backlog expired (yes, disabled,
1)* given
the trend (diskless in all c

[2020-07-16 01:25] Phantal commented on #7504
@oranagra Could you either point me at the appropriate code / documentation for how diskless is implemented or give me a short run-down it?

[2020-07-16 01:28] Phantal commented on #7504
I'll see what I can do about the logs.

It's also failing these **replication-psync** tests:

* Test replication partial resync: no backlog (yes, disabled, 1)
* Test replication partial resync: backlog expired (yes, disabled, 1)
* Test replication partial resync: no backlog (yes, swapdb, 1)

I'm a little surprised it didn't fail **backlog expired (yes, disabled,1)** given
the trend (diskless in al

[2020-07-16 02:26] z00526391 commented on #7523
It should be designed in this way. When slave restarted it never connected to master, can't tell how much difference with master, and don't promoted it to master.

[2020-07-16 02:26] #7523 closed

[2020-07-16 04:17] We1less1111 commented on #7524
tks，I enjoyed the great benefit

[2020-07-16 05:42] oranagra commented on #7504
@Phantal so all the tests that are failing are related to diskless replication, not sure why some fail and others don't. maybe if i'll have the logs i'll figure it out.
but anyway, it is disabled by default, so if you don't explicitly enable it, you should be safe.

Before redis 6.0, the way diskless replication worked is that the fork child process was writing the rdb content directly to the sock

[2020-07-16 05:58] #7524 closed

[2020-07-16 09:26] suesunss opened #7527 "How to use redis-cli in redis-sentinel mode"
Hi,

I am new to redis, I am using a redis in sentinel mode.

I am strugging with manipulate my redis db using redis-cli in sentinel mode.

I  am using:

[code]

where I randomly picked one node (host and port) from 3 sentinel nodes.

The connection has been successfully established, however I cannot using regular redis-cli command such as:

[code]

to switch between dbs.

nor

[code]

ALL the abo

[2020-07-16 10:04] oranagra commented on #7140
I now realize that we can't probably put this into Redis 6.0.x since it affects the replication stream and AOF format in a non-backwards compatible way (older 6.0 servers wont understand the command).

Although it's worth noting that both AOF and replica don't really fail anything when run into an unrecognized command, and the inconsistency already existed in these versions anyway, so in that resp

[2020-07-16 12:27] oranagra commented on #7493
i see fix was merged to go-redis. thanks.
closing this issue.

[2020-07-16 12:27] #7493 closed

[2020-07-16 13:20] oranagra commented on #7408
problem was found (outside redis). closing.

[2020-07-16 13:20] #7408 closed

[2020-07-16 19:36] yossigo commented on #7428
@rkedward thanks for pointing this out, it's updated now. The API is actually documented inline in `module.c` and there's a script that generates the markdown version, but we'll need to make sure we update that on a regular basis.

You can see a few examples in `src/modules` (but only for the basic API) and most newer API functions have test cases in `tests/modules`.

[2020-07-16 19:36] #7428 closed

[2020-07-16 22:56] itamarhaber commented on #7527
Hello @suesunss

It appears that you're trying to use Sentinel for service discovery with redis-cli. AFAIK, the cli doesn't handle that so you'd have to connect to the Sentinel node, issue a `SENTINEL get-master-addr-by-name <master name>` command, and use the information returned to connect to the current master with the cli.

[2020-07-17 00:17] Phantal commented on #7504
An idea just occurred to me.  Prior to 6.x the master would fork(), build the RDB in memory then send it directly to the replicas.  I'm guessing it already had sockets open to the replicas from prior to the `fork()`.

Now it no longer needs those socket connections but they're probably still open after the `fork()`.  My hypothesis is the forked child does something to `shutdown()` / `close()` the

[2020-07-17 02:10] suesunss commented on #7527
it works like a charm. @itamarhaber thanks.

[2020-07-17 02:10] #7527 closed

[2020-07-17 02:11] hwware commented on #7527
@suesunss hello ,sentinel mode for redis is a special mode and there is only centain command supported. these are ping, sentinel, subscribe, unsubscribe, psubscribe, punsubscribe, publish, info, role, client, shutdown, auth and hello. The reason of that is sentinel is used for monitoring redis master and replica works as expected, if the master is offline, it will do an automatic failover. It is n

[2020-07-17 02:23] suesunss commented on #7527
@hwware thanks ! I was thinking the connected sentinel node could take over issuing the commands to the real data node. I'll go dive into the docs now.

[2020-07-17 08:36] oranagra commented on #7504
@Phantal i really don't see any way the fork child can `close` (and certainly not `shutdown`) a socket, the portion of the codebase it runs is quite narrow, and when done it calls `exit`.

[2020-07-18 01:11] spencerparkin commented on #3774
Stack overflow guy says the cluster down error is issued when not all slots are covered by the cluster.  I'm getting this error immediately after bringing up my cluster, so it's possible i'm not correctly covering all slots.  I thought I had allocated the entire slot space across the cluster, but apparently not.

In the other cases above, cluster slots can stop being covered if the resharding isn'

[2020-07-19 12:50] yossigo commented on #7140
@valentinogeron just to be sure I'm not missing something here, other than `XINFO` not showing accurate information about consumers does this introduce other consistency issues?

[2020-07-19 13:09] valentinogeron commented on #7140
@yossigo - no

[2020-07-20 10:15] yossigo commented on #7504
I think this can be a result of different buffering strategies between Linux and Solaris, resulting with the child info pipe blocking. Just changing `pipe(server.child_info_pipe)` to `pipe2(server.child_info_pipe, O_NONBLOCK)` *seems* to improve this. @Phantal can you please see if that makes a difference for you?

[2020-07-20 10:29] oranagra commented on #7504
when testing, apply that change to this code block too (which is probably the problematic one in your case):
[code]

[2020-07-20 10:38] yossigo commented on #7504
@oranagra I don't think this would be necessary as there's an `anetNonBlock()` call right after that which has the same effect.

[2020-07-20 15:15] Phantal commented on #7504
I'll give it a try this week.

[2020-07-20 20:12] lukepalmer opened #7540 "[BUG] 6.0.6 client test failure"
**Describe the bug**

'make test' fails for redis 6.0.6

[exception]: Executing test client: wrong # args: should be "close channelId".
wrong # args: should be "close channelId"
    while executing
"close $fd write"
    ("uplevel" body line 20)
    invoked from within
"uplevel 1 $code"
    (procedure "test" line 47)
    invoked from within
"test "Non-interactive non-TTY CLI: $name" $code"
    (pro

[2020-07-20 20:49] yossigo commented on #7540
@lukepalmer thanks for reporting this! Looks like CentOS 7.x ships with TCL 8.5 and this new test introduced a dependency on TCL 8.6.

[2020-07-21 04:34] #7277 closed

[2020-07-21 04:37] madolson commented on #7165
Any chance you have any more information about this issue? Anyway to consistently reproduce?

[2020-07-21 04:37] #7144 closed

[2020-07-21 04:43] madolson commented on #7072
It doesn't look we do, I'll follow up on this. Seems worth closing on at the very least.

[2020-07-21 06:16] MeirShpilraien opened #7544 "Stack allocated RedisModuleString"
I notice that there are some locations where the `robj` pass to a module callback as a `RedisModuleString` might be stack-allocated. This prevents the module writer from using `RedisModule_RetainString` on the given `RedisModuleString`, if the module writer will try to retain the given RedisModuleString he will crash on the assert.

While I believe its not a big production issue (the module writer

[2020-07-21 08:23] oranagra commented on #7544
i support option 3.
would like to get feedback from @yoav-steinberg @guybe7 @yossigo.
note:
where the assertion was introduced here #3243 (see discussion),
few recent issues with it are: #7536, #7528

[2020-07-21 08:28] Ysoretarted opened #7546 "[QUESTION] loop exit condition in t_zset.c"
in src/t_zset.c flie， the maintance of span in a loop, why the condition cannot be '  while(zsl->level **>=** 1 && zsl->header->level[zsl->level-1].forward == NULL) '.

[2020-07-21 08:54] guybe7 commented on #7544
i vote for 3.

[2020-07-21 09:02] oranagra commented on #7546
@Ysoretarted please be more specific. please state the function or line you're referring to.
What is the current code and why what you suggest is better or how is it different.

[2020-07-21 09:34] capathida commented on #7380
I have seen this too. I believe the hard coded timeout of 500ms + rand%500 is too short sometimes. At least the logs on the other masters seem to not have gotten the master disconnect signal. Seen this during load for example. I wonder if the hard coded time should be configurable or perhaps it should be retried after a while if this happens.

[2020-07-21 11:21] Ysoretarted commented on #7546
@oranagra  sorry  ...   on 6.0 branch,   in src/t_zset.c 。 On the 206th line， why the judge condition connot be **zsl->level >= 1**。

so， zsl.level can reduce to 0 when deleting all the node in the list.

[2020-07-21 11:59] yossigo commented on #7544
@MeirShpilraien I also like option 3, but it needs to be clear for callers that the resulting string is still not a real duplicate and should be immutable. In the past I tried to get the Module API to be more const-correct but there's still a long way to go.

[2020-07-21 12:58] oranagra commented on #7544
ohh, I wasn't aware of `RM_StringAppendBuffer`, thinking that strings are always immutable.
seems that it's the only one that can change an existing string, but note that it returns NULL in case the refcount was already greater than 1.

[2020-07-21 13:24] MeirShpilraien commented on #7544
Yes, @oranagra it returns REDISMODULE_ERR so we should be good.

[2020-07-21 14:10] itamarhaber commented on #7506
Hello @calbot

`PING`ing Redis is a great way to check its liveliness. That said, I'm not sure what the issue is and if there is one whether it has to do with Redis itself.

[2020-07-21 15:35] oranagra commented on #7546
@Ysoretarted it's really hard to understand what you mean.

i suppose you're referring to `zslDeleteNode`: https://github.com/redis/redis/blob/36b949438547eb5bf8555fcac2c5040528fd7854/src/t_zset.c#L206

and you're suggesting:
[code]

i.e. to change `zsl->level > 1` to `zsl->level >= 1`
from what i can tell that would lead to:
1. access violation on that very first line, since we'll be accessing th

[2020-07-21 16:23] Ysoretarted commented on #7546
@oranagra Thank you sincerely！！

[2020-07-21 16:23] #7546 closed

[2020-07-21 17:56] yoav-steinberg commented on #7544
Option 3.

[2020-07-21 19:05] MeirShpilraien commented on #7544
If we all agree I can make a PR. Let me know whether of not to proceed.

[2020-07-21 23:35] madolson opened #7551 "Refactor blocking framework"
I think we should rewrite the blocking command infrastructure. Today it works by marking the client as blocked on a key with a bunch of special variables, when that key is written to we used those stored special variables to complete the request. This has several issues:

We maintain a lot of duplicate code to process the requests.
The code as written is sort of spaghetti code.
We may still have t

[2020-07-22 01:40] johnny-wang16 opened #7552 "make test failed: Executing test client: tail: cannot open '+31' for reading: No such file or directory."
I encountered the following error while installing. I have a ubuntu 16.04 machine and I followed the installtioin instruction from [here](https://redis.io/topics/quickstart).
'''
[ok]: slave fails full sync and diskless load swapdb recovers it

Logged warnings (pid 28196):
(none)

Logged warnings (pid 28196):
(none)

[exception]: Executing test client: tail: cannot open '+31' for reading: No such

[2020-07-22 04:45] bpo commented on #7552
Hi @johnny-wang16, this issue was just fixed in #7543 but is not yet a part of a release build.

[2020-07-22 05:08] oranagra commented on #7552
thank you.
closing as dup.

[2020-07-22 05:08] #7552 closed

[2020-07-22 05:23] oranagra commented on #7544
i think we can proceed. but coding it is the easy part, choosing a name and writing the docs is the hard part.

The naming convention is a mess. guess which of these work on string and which work on keys:
- StringAppendBuffer
- RetainString
- StringCompare
- StringTruncate
- StringPtrLen
- FreeString

The bad options i see:
- **RM_RetainString2**
- **RM_RetainStringOrCopy**
- **RM_HoldString**
- *

[2020-07-22 05:26] johnny-wang16 commented on #7552
Thanks!

[2020-07-22 05:50] MeirShpilraien commented on #7544
@oranagra I would go with `RM_KeepString` (or maybe `RM_StringKeep` ?).
Also how about giving an optional flag for no copy, in this case, if the flag is on and the RMString is stack allocated it will return NULL (though I am not sure anyone will use it).
Another thing that we can do is add an indication of whether or not the String was copied (with an output variable for example). Again not sure i

[2020-07-22 06:08] oranagra commented on #7544
I don't think we want another boolean input to the API, I think for this case we just wanna tell the user, if you need to keep that string, call that API and keep the return value rather than the input.

considering we wanna deprecate RM_RetainString and ask everyone to use this one, i guess RM_KeepString is a good name, but let's wait for more input.

to check if it was copied, the user can just

[2020-07-22 08:26] brlin-tw commented on #7540
Seems to be fixed by #7548, should this be closed?

[2020-07-22 08:31] #7540 closed

[2020-07-22 08:41] amirouche commented on #5869
It is possible to run redis manually :)

ref: https://github.com/redis/redis/issues/5105
ref: https://github.com/lxc/lxd/issues/3799

[2020-07-22 10:04] yakhyadabo commented on #7454
@yossigo,
Here's what my setup looks like :
redis.conf
[code]
Starting the server
[code]
Creating the cluster
[code]
Do you know what can be wrong here ?

[2020-07-22 10:19] We1less1111 opened #7555 "How to batch submit commands"
Excuse me,I have technical questions to ask。When I need to execute the following command，
set test1 a
set test2 b
set test3 c
set test4 d
I have to excute One by one，is there any way to batch execute in code？（Because it is possible that the implementation of the first and second items is successful, redis is down）

[2020-07-22 11:18] itamarhaber commented on #7555
Hello @We1less1111,

I'm sorry, but I'm not sure that I understand your question fully - perhaps you'd want to learn about [Redis transactions](https://redis.io/topics/transactions).

Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. Questions should be directed to the [community](https://redis.io/community):

* [the mailin

[2020-07-22 12:28] ricardoacosta290 opened #7556 "Redis eviction policies by DB"
Hello

I would like to know if there is or is development in mind an eviction policy by DB

I have a Redis instance with different DBs, in one of them I have session management and I would like to protect that db from any deletion and keep the expire, so I don't have to manually manage this process, is this possible?

Thank you

[2020-07-22 12:42] itamarhaber commented on #7556
Hello @ricardoacosta290

This isn't planned, and the right way to think about DBs in Redis is as namespaces. A Redis instance has one set of global configuration directives that applies to all data stored in it, including eviction but also persistence, memory, threads and so forth.

The recommended practice instead is to divide-and-conquer, which means you set up a dedicated Redis instance for eac

[2020-07-22 13:43] oranagra commented on #7497
vendor list obtained from Salvatore.
Thanks for bringing this to our attention.

[2020-07-22 13:43] #7497 closed

[2020-07-22 13:51] oranagra commented on #7483
@daemyungkang thanks for the reference.
@jiashiwen this is fixed in redis 6.0, please upgrade and re-open if you see issues.

[2020-07-22 13:51] #7483 closed

[2020-07-23 05:53] mrpre commented on #7555
I think you want merge all those commands into one and `mset` is the right way.
`MSET  test1 a  test2  b  test3  c`

[2020-07-23 09:18] yossigo commented on #7454
@yakhyadabo Looks good to me. If your cluster forms properly and the Kubernetes probes are successful, those messages probably indicate you have Redis clients that are not configured to use TLS. You should either configure your clients to use TLS or set up a non-TLS port for them to connect to.

[2020-07-23 09:28] yossigo commented on #7544
Nitpicking: `RM_HoldString()` is more clear to me. And I think that as part of this PR we should also add a deprecation note (i.e. compiler deprecate attribute) to `RM_RetainString()` to get the clock ticking.

[2020-07-23 09:51] ricardoacosta290 commented on #7556
Hi @itamarhaber

Okay, I got it

Thanks for the quick response and recommendations.

[2020-07-23 09:51] #7556 closed

[2020-07-23 13:28] oranagra commented on #7544
@yossigo i'm not so sure about the deprecation i think there are use cases where the user can't change the pointer he's holding, and would rather keep using Retain which doesn't have a return value.
also, considering the echo system not sure we wanna start deprecating things. and even if we do, maybe just after the new API gains some millage and we're more confident that there no no other holes.

[2020-07-23 16:19] lukepalmer opened #7563 "[NEW] RFC: Client side tracking sends array of keys for atomic operations"
**The problem/use-case that the feature addresses**

Today if I MSET some keys which are subject to client tracking the client will receive a separate invalidate message for each of those keys. An atomic operation has occurred in the Redis server, but the client just sees a stream of updates that it cannot (safely / reasonably) consider a batch.

**Description of the feature**

Atomic operations f

[2020-07-24 09:19] byujiang commented on #6286
Using Clang according [here](https://wanghenshui.github.io/2019/12/31/redis-ce) works for me, but `make test` run into some errors.

[2020-07-24 14:02] itamarhaber commented on #200
Hello @iammutex - this issue has been stale for a while so I'm closing it, please feel free to reopen if needed.

[2020-07-24 14:02] #200 closed

[2020-07-25 16:24] daixijun opened #7565 "Redis 6.0.6 crash with SiGSEGV in SSL_set_fd at startup"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version
2. Steps to reproduce (if any)

[2020-07-25 16:45] oranagra commented on #7565
@daixijun can you please add info about your OS.
seems that it crashed at srartup, is that right?
Does it reproduce? do you have any idea how we can reproduce it?

[2020-07-26 04:33] daixijun commented on #7565
@oranagra  run redis 6.0.0 in docker, image: geerlingguy/docker-centos7-ansible:latest
 it crashed at srartup, is right.

manage redis daemon using systemd
[code]

[2020-07-26 05:48] oranagra commented on #7565
@daixijun redis 6.0.x depends on C11 _Atomic feature which requires GCC 4.9 and newer.
Centos 7 (and docker image you used) has GCC 4.8.5.
I'm not sure how the redis binary you're using was built, but it seems it's not compatible with your system.

you can have a look at #7509 and #6286, there are some ways to work around this.

[2020-07-26 10:10] yossigo commented on #7544
@oranagra But this promotes a leaky abstraction, you count on the user knowing in what scenarios strings are not stack based so `RM_RetainString()` can succeeds, and this becomes an informal but binding API contract.

From my POV, ideally, `RM_RetainString()` should not be used for any new code and users should refactor any use that assumes the pointer can be retained.

[2020-07-26 10:49] daixijun commented on #7565
@ocadaruma  i build redis 6.0.x using  gcc 8.3.1 (scl devtoolset)
![image](https://user-images.githubusercontent.com/3611220/88476796-e9da3c80-cf6d-11ea-839c-c71cb6f9e581.png)

[2020-07-26 12:01] oranagra commented on #7544
@yossigo what about modules that need to be compatible with several redis versions?
on one hand they can't use RM_HoldString since that would make them incompatible with the older versions, but on other hand they'll get annoying warnings when being built with thew new header (which they might need in order to conditionally use some of the newer features)?

[2020-07-26 12:23] yossigo commented on #7565
@daixijun This doesn't seem to easily reproduce. I suspect it could be a mismatch between the openssl headers built with and the runtime libraries. A few questions:
1. Did you build and run this on the same container?
2. Can you provide the configuration file you use?
3. Does this reproduce also when running `redis-server` manually and not via systemd?

[2020-07-27 02:58] daixijun commented on #7565
@yossigo

1. yes, build and run on same container, but not Dockerfile, test ansible role using molecule
2. redis.conf
[code]
3. Running `redis-server` manually is the same crash

[2020-07-27 04:25] daixijun commented on #7565
@yossigo @oranagra I think I have found the problem. The Redis instance does not have TLS enabled, But `redis.conf` contains TLS configuration.

[code]

After removing the above configuration from the `redis.conf`,It is working properly.

![image](https://user-images.githubusercontent.com/3611220/88503391-26587780-d004-11ea-9574-98108e321259.png)

[2020-07-27 09:49] yossigo commented on #7565
@daixijun The configuration you're using was overlooked - having cluster or (outgoing) replication TLS-enabled but not accepting inbound client/replica connections on a `tls-port`. As a workaround, make sure you have `tls-port` defined to some arbitrary port (even if you don't really want to support inbound TLS).

Will fix that.

[2020-07-27 12:31] #7565 closed

[2020-07-27 15:38] yossigo commented on #7544
@oranagra that's a bigger issue around deprecation of module API. I think this is anyway not the time to discuss that, maybe revisit this issue before 7.0 (and postpone any deprecation notices until then).

[2020-07-27 15:57] oranagra commented on #7544
So @MeirShpilraien I guess you can "code" it now (without depreciation for now)

[2020-07-27 16:02] MeirShpilraien commented on #7544
@oranagra yes, will make a PR.

[2020-07-28 05:17] #6363 closed

[2020-07-28 17:40] oranagra commented on #7272
this was fixed by https://github.com/redis/redis/pull/7299

[2020-07-28 17:40] #7272 closed

[2020-07-28 17:45] oranagra commented on #7090
hopefully fixed by #7103.
@pgnd please reopen if you still see it.

[2020-07-28 17:45] #7090 closed

[2020-07-28 17:52] oranagra commented on #5755
@Mei-Zhao do you have any clue how that duplicate key was created?
i see that the only write command that master had was SET, but maybe it got it from an RDB file or replication stream.

[2020-07-28 18:06] oranagra commented on #5909
@wurongxin1987 thanks for reaching out (and sorry for the delay).
In redis we consider an allocation error as fatal, and don't attempt to recover.
see `zmalloc_default_oom` in `zmalloc.c`.

As far as i can tell from all your examples, some of these are dead code (i.e. the malloc in `sdsnewlen` will never return NULL, because zmalloc.c will `abort()` due to the above mentioned `zmalloc_default_oom`

[2020-07-28 18:06] #5909 closed

[2020-07-28 18:10] oranagra commented on #5768
this was hopefully solved by ba809f26d4bd81d23fa929d0c018f235ab298564

[2020-07-28 18:10] #5768 closed

[2020-07-28 18:20] oranagra commented on #7177
dup of #6286 closing.

[2020-07-28 18:20] #7177 closed

[2020-07-28 18:20] oranagra commented on #7335
dup of #6286. closing.

[2020-07-28 18:20] #7335 closed

[2020-07-28 18:24] oranagra commented on #7373
@xiaozhitaba which OS where you using?
p.s. this is partially a dup of #6286 (with the exception that the main discussion there is about Centos 7)

[2020-07-28 18:25] oranagra commented on #7174
for the record, this is a dup of #6286

[2020-07-28 18:25] oranagra commented on #7470
for the record, this is a dup of #6286

[2020-07-28 22:38] madolson commented on #7563
This was something I brought up to salvatore at some point. I think we could consider it a bug, since it allows you to end up with inconsistent reads. Would probably need some time to investigate the design though.

[2020-07-28 22:39] madolson commented on #7555
This looks solved.

[2020-07-28 22:39] #7555 closed

[2020-07-28 23:01] madolson commented on #7525
I sort of like the optimization, but I agree with @oranagra that I'm not sure it justifies the complexity. I know of very few use cases that use intsets that aren't already storing items of about the same size. I've seen many more examples for building a list encoding for small sets.

[2020-07-29 03:19] dreadNought-ai opened #7580 "[QUESTION]Why can't RDB and AOF merge when mixed persistence"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.
![8Q}K8FO00``AC@(HU3)VX1G](https://user-images.githubusercontent.com/65652063/88752643-07d1b800-d18d-11ea-9982-ee6b7c1c2c4c.png)
**If the old AOF and the old RDB are merged to produce a new RDB file, and AOF will be appended based on the new RDB. Is this more efficient.**
Ge

[2020-07-29 05:46] #7173 closed

[2020-07-29 06:11] oranagra commented on #7580
@dreadNought-ai i'm not sure what you propose.
please add more details as to:
- when (in what cases) this merge should happen.
- what's the proposed mechanism to perform this merge.
- what are the benefits.

please keep in mind that an AOF file can and usually is, very big (contains many commands that repeatedly modify the same keys again and again), so parsing it and executing the commands is ver

[2020-07-29 06:51] oranagra commented on #7563
Question: for the purpose of client side caching, does it matter if the client sees these as a batch or individual messages?

@madolson can you locate your chat with Salvatore and post the discussion here? so we can see what was his opinion on that.

p.s. although the protocol supports it, changing it to return more than one element might break some client (or cause it to miss invalidations and in

[2020-07-29 07:54] 01-dotcom opened #7581 "why do not use sdshdr5 for key storage,I think keys no need to be changed?"
hello everyone! what I  want to ask  is just like tittle said:

why do not use sdshdr5 for key storage, I think keys no need to be changed?

`
 source code in sds.h:
 sds sdsnewlen(const void *init, size_t initlen) {
 ......

if (type == SDS_TYPE_5 && initlen == 0) type = SDS_TYPE_8;

 ......
`

as the code above said:
sdshdr5 is never used?

[2020-07-29 08:08] oranagra commented on #7581
@01-dotcom why do you say that they're not?

rdb.c allocates keys with this code:
[code]
ultimately that goes to
[code]
so `initlen` is not 0, snd SDS_TYPE_5 can be used.

similarly, when a new key is added via a command, `dbAdd` does:
[code]
so in this case `initlen` is also not 0.

[2020-07-29 09:32] 01-dotcom commented on #7581
Thank you very much!

The sds.h file saied

`

/* Note: sdshdr5 is never used, we just access the flags byte directly.
 * However is here to document the layout of type 5 SDS strings. */
struct __attribute__ ((__packed__)) sdshdr5 {
    unsigned char flags; /* 3 lsb of type, and 5 msb of string length */
    char buf[];
};

`

[2020-07-29 11:02] oranagra commented on #7581
the comment means that the struct isn't being used (no one casts pointers to that type or writes to its members).

[2020-07-29 11:19] 01-dotcom commented on #7581
OK,  means that the sdshdr5 string no need to be changed? so len and alloc field is Redundant？
 ` [Note: sdshdr5 is never used, we just access the flags byte directly. ] is mean that , sdshdr5  just has  buf and flags fileld`

[2020-07-29 11:25] oranagra commented on #7581
the struct and fields are there just to make a statement. i.e. a kind of documentation that explains the memory layout.

[2020-07-29 11:56] 01-dotcom commented on #7581
ok, thank you.

[2020-07-29 11:56] #7581 closed

[2020-07-29 12:50] yulei1990 opened #7583 "Potential bug in 'void sentinelReconnectInstance(sentinelRedisInstance *ri)'"
`void sentinelReconnectInstance(sentinelRedisInstance *ri) {
    if (ri->link->disconnected == 0) return;
    if (ri->addr->port == 0) return; /* port == 0 means invalid address. */
    instanceLink *link = ri->link;
    mstime_t now = mstime();

    if (now - ri->link->last_reconn_time < SENTINEL_PING_PERIOD) return;
    ri->link->last_reconn_time = now;

    /* Commands connection. */
    if (li

[2020-07-29 14:42] hasan4791 commented on #7474
Any update?

[2020-07-29 21:03] #5739 closed

[2020-07-29 21:10] itamarhaber commented on #5514
Seems like this is already addressed - closing.

[2020-07-29 21:10] #5514 closed

[2020-07-30 00:39] onriv commented on #7124
yeah i think its strange too. Maybe atomicincr should use _n

[2020-07-30 01:14] madolson commented on #7583
Hey @yulei1990, that seems right to me. Typically in redis many calls can't fail because it would crash, but this instance seems to actually return NULL. Do you want to fix it?

[2020-07-30 06:39] oranagra commented on #7124
seems like it's dead code that should have been removed by 6eb51bf1ec

[2020-07-30 08:29] sujayvenaik commented on #6048
+1 for this feature. 🙏

@itamarhaber @jaamison Are there any plans to fix this somehow?

[2020-07-30 08:36] cognociente opened #7591 "Redis on Windows 10"
It would be fantastic if I could use Redis as a db/cache for Windows Desktop Applications.
Are there any plans to create an installable version that would run on Windows 10 and higher?

I am aware that I could run Redis in a Docker container on Windows 10 but I strongly believe that deployment in this manner will be more difficult and error prone as well as harder to maintain for non-technical use

[2020-07-30 10:41] tporadowski commented on #7591
There is an unofficial version of [Redis for Windows](https://github.com/tporadowski/redis) (latest is 5.0.9), which is a continuation of no longer maintained [fork from MS Open Tech](https://github.com/microsoftarchive/redis).

[2020-07-30 11:04] cognociente commented on #7591
@tporadowski that is amazing and I see that it is your repo - thank you! Does replication/synchronization of the redis database to the cloud work in 5.0.9 (this is my main requirement for a client side db in a project I am working on).

[2020-07-30 11:34] itamarhaber commented on #7591
Hi all - closing this issue as it isn't in the scope of the Redis core project. Feel free to reopen if you feel otherwise.

[2020-07-30 11:34] #7591 closed

[2020-07-30 13:23] irfanjunaid commented on #1732
Hey @chrislea
Facing issues when managing the redis service through Systemd...

**Related issues:**
#7284
#7217

Not sure if this fix - 16dbe51  is merged on to 6.0.6 but the above issue is definitely there in the current version - 6.0.5 when I installed from the PPA today. Actually I came across this issue only after noticing the error when trying to restart the redis server.

As usual, configure

[2020-07-30 13:42] starsskye commented on #7508
@antirez hi, Is it that I misunderstood or didn't express it clearly ? Looking forward to your answer. Thank you very much .

[2020-07-30 15:02] gkorland commented on #5190
XADD does support IDs in batches

`XACK key group ID [ID ...]`
https://redis.io/commands/xack

[2020-07-30 15:16] cedoburic1 opened #7592 "[CRASH] MISCONF error"
**Crash report**

MISCONF Redis is configured to save RDB snapshots, but is currently not able to persist on disk. Commands that may modify the data set are disabled.
[code]
Why I get this error in every few hour ? I create place for data to be stored   " CONFIG SET dir "/var/lib/redis" " but after few hour everything disappear... So I have to create folder again.

[2020-07-30 15:29] itamarhaber commented on #7592
Hello @cedoburic1

Unexplained behavior is most likely the result of leaving the server open to the internet, thereby leading to hijack attempts. Is your server password-protected?

[2020-07-30 15:38] cedoburic1 commented on #7592
@itamarhaber First of all thank you for quick replay. I`m using AWS EC2 (ubuntu) and my server is password protected...

Also I want to mention that I use REDIS with my nodeJS so maybe in this line of code I made mistake ( but I`m not sure that can be error)

  client.setex("people", 172800, JSON.stringify(people));

[2020-07-30 15:44] itamarhaber commented on #7592
Meaning, the redis-server process requires a password to connect and its port is not open to the entire world via security groups?

[2020-07-30 15:53] cedoburic1 commented on #7592
@itamarhaber  Well all configuration that I do is
maxmemory 128mb
maxmemory-policy allkeys-lru
on conf file

But redis-server password I did not create. Since I`m new at REDIS , is there any chance to tell me how I can make it ?

[2020-07-30 16:05] itamarhaber commented on #7592
Have a look at https://redis.io/topics/security :)

[2020-07-30 16:12] cedoburic1 commented on #7592
@itamarhaber
Before you send me this link i google a little bit so I need to change # requirepass foobared to

requirepass   (my password goes here)
 ?

[2020-07-30 17:51] itamarhaber commented on #7592
Yep, and restart the server for the change to take affect. If you don't want to restart, send a `CONFIG SET requirepass (your password)` via the cli or similar.

[2020-07-30 17:59] itamarhaber commented on #5190
Thanks @gkorland - apparently this issue can be resolved, but feel free to reopen if you disagree.

[2020-07-30 17:59] #5190 closed

[2020-07-31 01:12] trevor211 commented on #7508
Hi, @starsskye , `processInputBuffer` is guaranteed to be called on main thread as `handleClientsWithPendingReadsUsingThreads` is, you can search for its callers to convince yourself.
Take a look at here.
https://github.com/redis/redis/blob/4ac1f9ac55b841094861e84cdec5da0f4a294a86/src/networking.c#L1914
If it returns here, io work is delayed for io threads by adding client `c` to list `server.clie

[2020-07-31 01:12] #7508 closed

[2020-07-31 01:15] trevor211 commented on #7467
请描述下具体问题

[2020-07-31 01:30] trevor211 commented on #7423
Can you get the key from its master and then reproduct it again?

Redis expire keys in a lazy way, if some key is logically expired, it doesn't need to be deleted from db.
But if you get it from the api, you got nothing.
There are 2 scenarios:
1st get the key from master: the key gets deleted from db then the `delete` action replicated to its replicas to inform them delete the key from db.
2nd get

[2020-07-31 01:40] trevor211 commented on #7449
I tried to reproduce it on centos 7 by
[code]
It failed, but the the some as yours.

Can you show the result by doing `./runtest --single unit/maxmemory` ?

[2020-07-31 04:20] calbot opened #7594 "redis-server --appendonly yes can't startup"
I have a large appendonly.aof file 1.2G. When I try startup redis-server in a docker container I it is Killed after about 12 seconds with message "Killed" and no descriptive error...

I started redis with docker (with and without --oom-kill-disable) ...

`docker run --oom-kill-disable -v my_volume_name:/data redis:6.0.5-alpine sleep 100000`

Then from the shell ran redis-server...

[code]

appendo

[2020-07-31 04:35] oranagra commented on #7449
The tests where improved a lot recently, and this looks like a problem with the test suite, not redis.
I'd appreciate if you re-test redis 6.0 or the `unstable` branch, and report if it passes or hangs.
Thanks.

[2020-07-31 05:03] hwware commented on #7594
@calbot hello, AFAIK the killed message is coming from docker side, and you are right, when the container reaching the max memory limit the daemon will kill it and shows the 'killed' message. So I don't think this is anything need to do in Redis side. Thank you!

[2020-07-31 05:58] oranagra commented on #7594
Indeed.. redis gets SIGKILL and has no way to handle it and print a message.

[2020-07-31 05:58] #7594 closed

[2020-07-31 08:33] topikachu opened #7595 "Redis 6 performance downgrade a lot after enable TLS"
**Describe the bug**
After enabling TLS, we meet a big performance downgrade.

**To reproduce**
Setup a Redis6 server with the default setting but enable
port 6379: no TLS
port 6380: TLS

Use memtier_benchmark:
  * a single thread
  * a single client
  * 100000 requests
  * get/set 1:1

without TLS
`memtier_benchmark -s localhost -p 6379 -t 1 -c 1 -R -n 100000 --ratio=1:1 --hide-histogram`

[code]

[2020-07-31 09:09] Corvan opened #7596 "Make running modes configurable"
Hello
This is half a feature request and half a bug report:

Following your documentation, starting a new cluster seems only possible via the cli command. This is not a very good way if configuration management like e.g. Ansible is involved.
Configuration Management Systems rely on idempotency in the way that users define a state the system is meant to be and then are run to put the system in this

[2020-07-31 09:15] Corvan opened #7597 "Sentinel rewrites the configuration if it is running"
If Redis is running is sentinel-mode, which it e.g. does already after install on Ubuntu. Changing the config file and restarting sentinel results in sentinel overwriting the configuration.

A short description of the bug.

*Install redis-sentinel (on Ubuntu) or start it.
*change the config
*restart sentinel
*config has been overwritten by sentinel

**Expected behavior**

Don't overwrite the confi

[2020-07-31 09:31] Corvan commented on #7596
See also: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=248381

[2020-07-31 10:01] #7124 closed

[2020-07-31 10:33] zy-xiaoyuyu commented on #7449
您好，我更换了一台机器，就正常了，应该是机器有点问题吧，具体什么我也不太清楚，非常感谢您的回复

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Oran Agra"<notifications@github.com&gt;;
发送时间: 2020年7月31日(星期五) 中午12:35
收件人: "redis/redis"<redis@noreply.github.com&gt;;
抄送: "恋！！！你"<576301415@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [redis/redis] redis5 make test error (#7449)

The tests where improved a lot recently, and

[2020-07-31 11:56] cedoburic1 commented on #7592
@itamarhaber  I make changes and after few hour, problem is still the same I had to write "CONFIG SET dir "/var/lib/redis" " again so I can get my data cashed...
Is there any other suggest ?

[2020-07-31 17:00] igorwwwwwwwwwwwwwwwwwwww opened #7601 "[BUG] lazyfree-lazy-server-del does not turn DELs into UNLINKs"
**Describe the bug**

We discovered a potential bug with `lazyfree-lazy-server-del`. As far as I understand, this feature should implicitly turn `DEL` calls into `UNLINKs` -- that is to say, `dbAsyncDelete` calls.

After enabling this feature, we still saw some very slow `DEL` calls, which promted us to investigate.

Looking at the code, it appears that the setting may not actually be working as i

[2020-07-31 18:23] mysarysai opened #7602 "GCC and C11"
I'm working on Centos6 which has gcc-4.4.7 and I would like to use Redis 6.0.5. Is there any possibility that I can make Redis work as it is currently failing for c11 because it is not available in gcc-4.4.7. If anyone can help me on this without the need of installing additional packages, that would be of great help.

[2020-07-31 18:25] michael-grunder commented on #7125
I implemented support for RESP3 push messages in redis-cli [in a branch on my fork](https://github.com/michael-grunder/redis/tree/redis-cli-resp3-push).  I'll hold off opening a PR until hiredis v1.0.0 GA is released.

The change fixes redis-cli so that RESP3 PUSH messages are handled correctly (either in pubsub mode, or if the user enables client tracking).  I wasn't really sure how we'd want to

[2020-07-31 18:41] oranagra commented on #7602
Not sure if it would work on Centos 6, but you can try the solution suggested here for Centos 7 https://github.com/redis/redis/issues/7509
Please post your findings.

[2020-07-31 19:11] mysarysai commented on #7602
Thanks @oranagra for quick reply. Let me test and get back to you.

[2020-08-01 06:11] jinguiy opened #7603 "[CRASH] redis 5.0.4 crashed with exist code 139"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version
Red Hat Enterprise Linux Server 7.7 (Maipo),
2. Steps to reproduce (if any)
N/A

[2020-08-01 06:14] oranagra commented on #7603
@jinguiy the crash is inside redis graph, please close this one and submit in https://github.com/RedisGraph/RedisGraph

[2020-08-01 06:31] jinguiy commented on #7603
@oranagra Thanks for helping check this issue. I opened a new one https://github.com/RedisGraph/RedisGraph/issues/1271. will close this one.

[2020-08-01 06:31] #7603 closed

[2020-08-01 07:13] oranagra commented on #7449
Ohh, I missed the fact it's Centos 6.. Unstable wouldn't have worked.
Anyway, it was probably some timing issue in the tests.

[2020-08-01 07:14] #7449 closed

[2020-08-01 09:14] weishuai8888 commented on #7467
非常不好意思   给大家带来了不便   我的问题已经解决    当时问题提出的时候忘记完善问题   请大家见谅

[2020-08-01 09:14] #7467 closed

[2020-08-01 12:01] oranagra commented on #7601
@igorwwwwwwwwwwwwwwwwwwww i think you're mixing lazyfree-lazy-**server**-del with lazyfree-lazy-**user**-del

Here's a snippet from the documentation in [redis.conf](https://github.com/redis/redis/blob/unstable/redis.conf)
[code]

[2020-08-01 13:07] igorwwwwwwwwwwwwwwwwwwww commented on #7601
@oranagra Oh, I see. I must have misread this line from the [redis 5.x redis.conf](https://github.com/redis/redis/blob/5.0.7/redis.conf) as implying it would actually also apply to DEL calls:

[code]

And looks like `lazyfree-lazy-user-del` was introduced in 6.0 (https://github.com/redis/redis/pull/6243), and the behaviour clarified.

Thanks, this explains it. In this case we will instead opt for

[2020-08-01 13:07] #7601 closed

[2020-08-01 16:29] filipecosta90 commented on #3535
hi there @kellabyte , please share your thoughts on #7600 , which uses the hdr_histogram to extend the latency metrics and address this issue

[2020-08-02 06:14] LiamFry opened #7605 "[BUG] "make test" fails with [exception]: Executing test client: wrong # args: should be "close channelId"."
VERSION: 6.0.6
DESCRIPTION: Post-build automated testing fails with error.
REPRODUCTION: run `make test`
EXPECTATION: Success.

I've performed fresh, clean builds on three different macOS systems: two High Sierra, one Mojave. The results on each are the same. Building is successful; however, `make test` fails identically for each system.

[code]

[2020-08-02 07:18] VGzsysadm opened #7606 "[BUG] Unable to install after make test success"
**Describe the bug**

Unable to install after make test success

**To reproduce**

make test

make

make install

**Expected behavior**

Make install should execute

**Additional information**

\o/ All tests passed without errors!

Cleanup: may take some time... OK
make[1]: Leaving directory '/tmp/redis-6.0.6/src'
root@wmi:/tmp/redis-6.0.6# make install
cd src && make install
make[1]: Entering dir

[2020-08-02 11:22] yossigo commented on #7605
@LiamFry Thanks for this report! This has been fixed in #7548, and you can work around it if you use TCL 8.6.

[2020-08-02 11:23] #7605 closed

[2020-08-02 15:40] uronly14me commented on #6286
I did `yum install gcc64` and worked fine too! Thanks! @tomck

[2020-08-02 15:42] itamarhaber commented on #7606
Hello @VGzsysadm

Thanks for submitting the issue. What appears to be the problem? Is there an error message that you're getting?

[2020-08-02 15:59] VGzsysadm commented on #7606
Just make install seems not executing. I Need to test it with a clean install because was trying to upgrade from an existing installation.

The make test and make ends without errors, but make install just show those logs

Thanks for the quick answer

[2020-08-02 18:01] oranagra commented on #7592
@cedoburic1 please upload the redis log file, it will probably include an indication as to why redis can't persist.
it might also help to see your config (`CONFIG GET *`) and info (`INFO ALL`) to reduce ping-pong on this chat.
please remove any sensitive details before posting in public.

[2020-08-02 21:20] LiamFry commented on #7605
Thanks for the reply. My version of macOS comes with `tclsh 8.5.9`  I used MacPorts to install 8.6.10 then re-ran `make test` ... I now have some fresh errors:
[code]

[2020-08-02 21:41] LiamFry opened #7607 "[BUG] "make test" fails with [exception]: Executing test client: tail: + 28: No such file or directory."
VERSION: 6.0.6
DESCRIPTION: Post-build automated testing fails with error.
REPRODUCTION: run `make test`
EXPECTATION: Success.

This is in reference to the now-closed #7605 issue.

My version of macOS comes with `tclsh` 8.5.9
I used MacPorts to install 8.6.10 then re-ran `make test`
I now have some fresh errors:
[code]

[2020-08-03 05:34] oranagra commented on #7607
thanks for the report, this is already fixed in unstable by https://github.com/redis/redis/pull/7543

[2020-08-03 05:34] #7607 closed

[2020-08-03 12:21] ghost commented on #7068
I had a similar issue. Same error in logs. In my case I forgot to switch sentinel (in sentinel.conf) to tls with
[code]
seems that disable non-tls port with `port 0` is not enough...

[2020-08-03 12:45] #7592 closed

[2020-08-03 14:10] itamarhaber commented on #7606
These are the logs that install produces when successfully executed (it just copies the binaries). Note that if you're upgrading a running Redis server, you'll need to restart it before or after the install.

This appears to be a non-issue so I'll close it - feel free to reopen if needed.

[2020-08-03 14:10] #7606 closed

[2020-08-03 15:05] filipecosta90 commented on #7595
Hi there Gong, good afternoon,

We've run a quick benchmark to document the entire process and get some results (we’ve used redis 6.0.6, and compiled redis, libssl, and opencripto in release mode but preserving the frame-pointers so that we could understand where does the degradation comes from).
![image](https://user-images.githubusercontent.com/5832149/89196561-4b1f9280-d5a2-11ea-8e86-139af8daa0

[2020-08-04 01:42] yzhao66 commented on #3106
When i restart my linux,it's still on "protected mode" status.How to resolve it ?

[2020-08-04 01:46] trevor211 commented on #7362
From the code you can see, migrating and importing status imformation are kept only in masters, not replicas.
Master and replicas on the same shard would be consistent eventualy after migration is done of that slot.

[2020-08-04 01:50] trevor211 commented on #3106
Try to rewrite your config.

[2020-08-04 02:36] zy-xiaoyuyu commented on #7449
Tkanks for you ^_^

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Oran Agra"<notifications@github.com&gt;;
发送时间: 2020年8月1日(星期六) 下午3:13
收件人: "redis/redis"<redis@noreply.github.com&gt;;
抄送: "恋！！！你"<576301415@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [redis/redis] redis5 make test error (#7449)

Ohh, I missed the fact it's Centos 6.. Unstable wouldn't have worked.
 Anyw

[2020-08-04 05:51] oranagra commented on #3106
closing this issue (seems that there's no problem other than a missing line in the right config file).
please open a new issue if needed.

[2020-08-04 05:51] #3106 closed

[2020-08-04 06:30] yangwn opened #7610 "[CRASH]"
**Crash report**

[code]

**Aditional information**

1. OS: Debain 10
2. I created a cluster using HAaProxy --> Redis Cluster <-- Redis sentinal.

The Application will be crash when have a lot of Restarting subscription task after 5000 ms.

[2020-08-04 06:46] oranagra commented on #7610
@yangwn Did the redis server crash?
If it did, please provide the crash report from the redis server log file.
Or maybe you should open that issue in another repository?

[2020-08-04 06:59] oranagra commented on #7597
@Corvan sentinel was designed to maintain its config file whenever the configuration changes, so you're not suppose to edit it directly while sentinel is running.

doesn't the config file have the `# Generated by CONFIG REWRITE` line?
which line are you referring to in cluster.conf?

[2020-08-04 07:35] Corvan commented on #7597
Yes it does.
But I ran into the problem on Ubuntu, that sentinel is started right away after installation. Then it determines localhost as redis master and writes that into the general config file.
Afterwards I was not able to reconfigure it until I had stopped it, because with each reload, it overwrote the config I wanted to give to i, to be the "right" one.

I am referring to the general concept

[2020-08-04 08:58] stupidjohn commented on #3141
main problem is that the score precision is not enough, add a seconds epoch to score will make real score have only 2^21 size (53 - 32)

[2020-08-04 11:56] joaoscotto commented on #2668
+1

[2020-08-04 14:28] itamarhaber commented on #2303
Heya @mgravell - do you agree that this issue can be closed now that we have ACL in v6? I feel reasonably certain that is the case so I'm doing just that, but feel free to reopen if needed :)

[2020-08-04 14:28] #2303 closed

[2020-08-04 14:52] oranagra commented on #2344
merged https://github.com/redis/redis/pull/7593, closing.

[2020-08-04 14:52] #2344 closed

[2020-08-04 16:02] ferco0 commented on #2668
It might be useful, an example of how to implement this at the code level with javascript:
https://github.com/GX-mob/http-service-template/blob/master/src/services/cache/index.ts

[2020-08-04 18:09] michael-grunder commented on #7125
I've opened #7609 with a decent starting point for this functionality.

I'm happy to rework the logic if you'd like to see push messages displayed differently or think there are saner defaults.

Also no pressure, I know you are all swamped. :smile:

[2020-08-04 22:44] Adel-Magebinary commented on #6176
The reason for the crash is the memory limit in a container environment because it is reading host mem limit. I have set the max mem and it works well after.

[2020-08-05 00:36] itamarhaber commented on #6176
That's great news, I'm happy to hear this is resolved and I'm closing this issue. Please feel free to reopen or open a new issue if needed.

[2020-08-05 00:36] #6176 closed

[2020-08-05 02:11] topikachu commented on #7595
@filipecosta90. Your investigation is very helpful. That's fine to close this issue if no more actions now.

Thanks.

[2020-08-05 13:29] itamarhaber commented on #2395
FYIs: This was added in v6.0.6 as [`LPOS`](https://redis.io/commands/lpos).

[2020-08-05 16:10] itamarhaber commented on #7595
TL;DR TLS impacts performance - once I/O threads are stable this would be a good candidate for using them.

[2020-08-05 16:10] #7595 closed

[2020-08-05 16:22] itamarhaber commented on #7362
Thanks @trevor211 for the well-thought and researched answer. @SPascareli has your question been answered? If so, please close this issue.

[2020-08-05 17:02] xiegithub opened #7614 "[CRASH]"
**Crash report**

[53/56 done]: unit/hyperloglog (93 seconds)
[ok]: Test replication partial resync: ok after delay (diskless: yes, disabled, reconnect: 1)
[ok]: Slave should be able to synchronize with the master
[ok]: Detect write load to master
[ok]: Master stream is correctly processed while the replica has a script in -BUSY state
[ok]: slave fails full sync and diskless load swapdb recovers i

[2020-08-05 17:35] #7362 closed

[2020-08-05 17:50] itamarhaber commented on #7614
Hello @xiegithub

Thanks for reporting - this looks like a duplicate of #7607, which was resolved in unstable via #7543. I'll close this for now but please feel free to reopen if the issue still persists for you.

[2020-08-05 17:50] #7614 closed

[2020-08-05 18:16] #4567 closed

[2020-08-05 18:16] #5629 closed

[2020-08-06 00:05] trevor211 commented on #7221
@oranagra

[2020-08-06 00:10] trevor211 commented on #7198
dup of #6286, could be closed @oranagra

[2020-08-06 00:17] trevor211 commented on #7189
To fit into the 64 byte arena of jemalloc?

[2020-08-06 00:21] trevor211 commented on #7158
I think this issue can be closed. @oranagra

[2020-08-06 00:54] hwware commented on #7597
@Corvan Hello, for confiuring sentinel at run time , i think you can try using cli and change the sentinel config, maybe you can do the following steps for example:
./redis-cli -h <host-name> -p 26379
127.0.0.1:26379> sentinel set mymaster down-after-milliseconds 3000
127.0.0.1:26379> sentinel flushconfig
Then this way you can save your configuration. Thanks!

[2020-08-06 02:02] xiegithub opened #7616 "[BUG]"
VERSION: 6.0.6
DESCRIPTION: Post-build automated testing fails with error.
REPRODUCTION: run make test
EXPECTATION: Success.

My version of centos8.2.2004 comes with tclsh 8.5.9
I install 8.6.10 then re-ran make test
I now have some fresh errors:

[ok]: Detect write load to master
[ok]: Client output buffer soft limit is enforced if time is overreached
[54/56 done]: unit/obuf-limits (134 seconds)

[2020-08-06 02:08] xiegithub commented on #7607
There are still errors：

[ok]: Client output buffer soft limit is enforced if time is overreached
[54/56 done]: unit/obuf-limits (134 seconds)
[ok]: Master stream is correctly processed while the replica has a script in -BUSY state
[ok]: Test replication partial resync: ok psync (diskless: yes, swapdb, reconnect: 1)
[ok]: slave fails full sync and diskless load swapdb recovers it
[ok]: Slave shoul

[2020-08-06 02:12] xiegithub commented on #7614
Hello @itamarhaber

I tried again，The same problem remains。

[ok]: Client output buffer soft limit is enforced if time is overreached
**[54/56 done]: unit/obuf-limits (134 seconds)**
[ok]: Master stream is correctly processed while the replica has a script in -BUSY state
[ok]: Test replication partial resync: ok psync (diskless: yes, swapdb, reconnect: 1)
[ok]: slave fails full sync and diskless l

[2020-08-06 06:37] oranagra commented on #678
I'd like to revisit this, get a quick decision on the API and hopefully merge a PR for redis 6.2.
looking at the 2 PRs one adds a new `z[rev]rangebyscorestore` (with a lot of code duplication), and the other adds a `STORE` argument to the existing commands.

the problem with the second approach is that it changes the command which was read-only till now to a write command, and also the response ty

[2020-08-06 08:38] mp911de commented on #678
+1 for `z[rev]rangebyscorestore` as individual command to stay consistent with `zunionstore` as it makes it easier to distinguish between read-write/read-only commands.

[2020-08-06 09:37] Corvan commented on #7597
@hwware Thank you. Do I get this right, that you are proposing configuring redis (sentinel) rather per cli than per config file? While I was aware that it was possible, I did not yet think about configuring it via cli solely.
Are there any drawbacks with this approach?

[2020-08-06 10:17] QuChen88 commented on #678
I also agree that we should not change the definition of z[rev]rangebyscore command to add a write variant to it in the sub-command. It is better to create an explicit write-type command z[rev]rangebyscorestore instead. That way we avoid the confusion of having a command which is "mostly" read-only but "sometimes" can also do write operations... Another good example in Redis today which I liked, i

[2020-08-06 11:44] oranagra commented on #7597
no drawbacks that i can think of.
some advantages:
- it remains alive and responsive the whole time (no restarts).
- it will possibly reject any bad configuration (and keep using the old ones), rather than fail to start.

[2020-08-06 11:47] oranagra commented on #7614
@xiegithub this is currently only fixed in the `unstable` branch.
from the output you provided (`exec tail +$from_line < $stdout`) it's clear that you're using 6.0.6 which still has that test suite bug.

[2020-08-06 11:49] oranagra commented on #7607
@xiegithub this is only resolved in the `unstable` branch.

[2020-08-06 11:53] oranagra commented on #7616
@xiegithub why do you keep opening more issues about the same (already resolved) problem??
https://github.com/redis/redis/issues/7614
https://github.com/redis/redis/issues/7607

p.s. here's where it was resolved:
https://github.com/redis/redis/pull/7543

[2020-08-06 11:53] #7616 closed

[2020-08-06 12:07] shenjianeng opened #7619 "delete key then get key , key is existed [BUG]"
I use Spring RedisTemplate ， this is my code ：
[code]
![image](https://user-images.githubusercontent.com/30279020/89529931-318b7e80-d820-11ea-8451-6a9683589fc2.png)

but sometime , I can get key what I deleted。

2020-08-06 19:58:37.811  INFO 83489 --- [           main] c.d.p.c.runtime.RedisLockSupplierImpl    : delete lock - error name : .sdk.DefaultPlatformNameGenerator.123213213 , value : 159671

[2020-08-06 12:20] itamarhaber commented on #7619
Hello @shenjianeng

I'm guessing that the key was created after your code deleted it, perhaps by another process?

In any case, please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server. Your issue appears to be related Spring, so perhaps you should investigate it there and kindly close this one.

[2020-08-06 12:24] #7198 closed

[2020-08-06 12:26] itamarhaber commented on #7158
This issue doesn't seem to be related to the repo and the OP is non-responsive. Thanks @trevor211 and @bsergean for helping :) Closing this - please feel free to reopen or create a new issue if needed.

[2020-08-06 12:26] #7158 closed

[2020-08-06 12:33] shenjianeng commented on #7619
this key is  just being used by me。

Now I use this URL as my key

2020-08-06 20:32:13.623  INFO 83856 --- [           main] c.d.p.c.runtime.RedisLockSupplierImpl    : delete lock - error name : .sdk.DefaultPlatformNameGenerator.https://github.com/redis/redis/issues/7619 , value : 1596717143622  ,count : 154 ,del : 1

![image](https://user-images.githubusercontent.com/30279020/89532221-0440cf80-d8

[2020-08-06 12:59] shenjianeng commented on #7619
sorry 。 this is my code bug

[2020-08-06 12:59] #7619 closed

[2020-08-06 13:44] oranagra commented on #7189
indeed. changing the type of `encoding` to one byte won't change a thing.
the compiler will add 3 bytes of padding before the next member since it must be 4 bytes aligned.
and even if we changed the order to put the `length` first, (and let's ignore the reserved array at the end of the struct for a moment) the compiler will need to add padding to the end of the struct in order to make it possible

[2020-08-06 13:44] #7189 closed

[2020-08-06 13:47] #7391 closed

[2020-08-06 15:26] ArtyomKozyrev8 commented on #3594
I've faced the similar issue today. Can somebody give any suggest?

[https://stackoverflow.com/questions/63286827/redis-in-docker-opened-to-internet-suddenly-started-to-try-writing-to-var-spo](url)

[2020-08-07 00:17] trevor211 commented on #7053
Agree with you.
I noticed it somewhere else, i.e. #6472.
I think it should be handled as @antirez  suggested.

[2020-08-07 03:36] daidaotong opened #7622 "[QUESTION] FLUSHDB/FLUSHALL/SWAPDB doesn't trigger a keyspace notification event"
Hello folks, As far as I know, currently if we do FLUSHDB/FLUSHALL/SWAPDB these three operations, there is no keyspace event notification sent to the subscribed client. But for these three operations the keyspace actually "changed". may I ask is this an intended behaviour, or is this a bug? Thanks.

[2020-08-07 04:18] hwware commented on #7597
@Corvan Hello Corvan, the configuration you manually put in config file was rewitten by running Sentinel since Sentinel did not load your information "at beginning" when it starts. Then if the Sentinel state changed, for example, a new configuration epoch was bumped, it will save the current state in the confiuration file and your changes manually put in config file will get rewitten.  However whe

[2020-08-07 08:54] yangbodong22011 opened #7624 "[NEW] ZINTER/ZUNION support"
**The problem/use-case that the feature addresses**

The user only wants to view the result of the intersection or union and does not want to store it.

**Alternatives you've considered**

I think the reasons for support are as follows:

1. Unification at the API level, such as sinter/sunion
2. Using lua to achieve the same function requires three commands, which is expensive.

**Additional inform

[2020-08-07 09:55] Corvan commented on #7597
@oranagra @hwware Thank you very much, I'll try

[2020-08-07 09:55] #7597 closed

[2020-08-07 10:11] yangbodong22011 opened #7626 "[NEW] MINCRBY[FLOAT]/HMINCRBY[FLOAT] command"
**Description of the feature**

[code]
**Alternatives you've considered**

The operation of `m` is essentially the user's desire to reduce multiple interactions with the server under the premise of ensuring atomicity.
Although the lua command can also meet the above requirements, it means that users need to learn lua.

[2020-08-07 12:48] oranagra commented on #6076
this is indeed odd, but considering the effect of that read-only command are observable by other commands, it must be replicated (otherwise there's a risk that some followup command will fail or produce a different effect on the replica).
however allowing a read only command on read-only replica can cause a similar issue.
maybe the only thing that can be done at this point is to mark the command a

[2020-08-07 13:12] itamarhaber commented on #7622
Hello @daidaotong

I would guess this is intended as keyspace notifications are about individual keys rather than the "space" itself. That said, what would be the use case for such notifications, were they to be added, to the application/user?

[2020-08-07 13:25] itamarhaber commented on #7624
Hello @yangbodong22011

Thanks for proposing this feature. I'd also add another consideration - writing to the keyspace to create temporary keys is a pattern I don't really like. Let's keep this open to get some community feedback.

[2020-08-07 13:54] daidaotong commented on #7622
@itamarhaber hello Itamar, we have a feature that needs to support notification mechanism for every change in the keyspace(not only for a single key), but currently this feature doesn't work if we use keyspace notifications. thanks

[2020-08-07 16:33] itamarhaber commented on #7622
May I ask what your feature's purpose is? Could you describe the reasoning for needing to catch such events? Is it related to security?

In any case, I'll mark this as a feature request to see if there additional interest in these types of events. Also, note that the Redis module API can be used for implementing this functionality as a custom module.

[2020-08-07 17:50] mdtalhachy commented on #5482
Same error on WSL2, redis 5

[2020-08-07 18:06] mcandre opened #7629 "[NEW] Denote elapsed time, response size on MONITOR"
**The problem/use-case that the feature addresses**

The additional information of *how long* each query takes and *how big* the results, tremendously accelerates the troubleshooting process.

**Description of the feature**

Add a column early in MONITOR output for the duration time (eg, in milliseconds) of the query.

Add a column early in MONITOR output for the response size (eg, in bytes) of th

[2020-08-07 18:12] yossigo commented on #678
Strong +1 on avoiding write extensions to an existing read-only command.

As for the new command, I think we should consider disregarding current convention and use `ZRANGESTORE` with additional arguments to support the different variants (`BYLEX`, `BYSCORE`, `REV`). The reasons for doing that would be:

1. Restrict number of new commands.
2. Avoid consistent but long-ish names like `ZREVRANGEBYSC

[2020-08-07 18:55] madolson commented on #7626
We might also want zmincrby key field increment [field increment ...] would complete the set of commands missing this.

[2020-08-07 19:11] madolson commented on #678
+1 to ZRANGESTORE, parameterization of existing commands seems better than introducing new ones. The suggestion makes it more like ZUNIONSTORE anyways.

[2020-08-07 19:31] kkmuffme opened #7630 "[QUESTION] multiple redis instances vs io-threads"
Given the new redis 6 multi io-threads, what is the redis suggested way for optimal performance, when majority of actions are reads?

Until now (redis 5 and below), the common wisdom was to spin up multiple redis instances on the same machine as a slave, ending up with a cascading master/slave structure (https://redislabs.com/ebook/part-2-core-concepts/chapter-4-keeping-data-safe-and-ensuring-perf

[2020-08-07 19:34] mcandre opened #7631 "[NEW] Allow optional expiration setting for INCR, DECR queries"
**The problem/use-case that the feature addresses**

Need to have counters self-delete after a certain period.

**Description of the feature**

Allow the typical EX, etc. options on INCR and DECR queries.

**Alternatives you've considered**

Issuing two separate INCR|DECR, EXPIRE commands. But this can introduce race conditions compared to using a single query.

[2020-08-07 19:36] madolson commented on #6599
I would like to revive this because i've also seen use cases for this, and it relates to other discussions about the restore command. The use case I heard about is that they were using it for checkpointing in a complex transaction system. They were cloning items and then making changes to it. These changes weren't immediate, but built up over time, and once all the checks passed they would replace

[2020-08-07 19:39] oranagra commented on #678
It seems we have a decision. it requires a little bit of refactoring (many exiting commands would just be aliases to one function that can handle all of them).
Will obviously also needs tests and documentation.

@jonahharris do you wanna tackle it?

[2020-08-07 19:44] madolson commented on #7630
Great question! I don't know if anyone has done a deep dive to really figure out the performance differences, but the common wisdom right now is scaling out (adding shards or replicas) is going to give you better performance than adding threads. IO threads is only going to scale to about 3x and will give you lower performance returns than spinning up a separate process. I.E, two threads won't give

[2020-08-07 19:50] madolson commented on #7631
You can multi-exec an INCR + expire command. That shouldn't introduce race conditions. Although we have been adding more commands/options, I'm not really convinced this is a common enough use case to warrant adding a special flag for. Happy to hear other thoughts though.

[2020-08-07 20:08] jonahharris commented on #678
I'm happy to. I'll start putting something together next week.

[2020-08-07 20:09] kkmuffme commented on #7630
Thanks for the quick reply.

Will be using io-threads for the master only, but for reads I will keep multiple separate redis slave processes.

[2020-08-07 20:09] #7630 closed

[2020-08-07 21:12] oranagra commented on #7221
indeed, @githubaal please open in the module repository.
@gkorland FYI.

[2020-08-07 21:12] #7221 closed

[2020-08-08 02:17] shanezhiu commented on #4561
I got the same issue with @yaxing . I agree with @scenbuffalo .

[2020-08-08 05:15] DanielYWoo opened #7632 "[NEW] reject huge keys"
**The problem/use-case that the feature addresses**

We want to limit the max length of key and value (in bytes) to avoid very big key/values to degrade performance.

**Description of the feature**

We hope we can have an option to configure that in redis.conf and when the key/value exceeds the max length, report an error and reject the write. Actually we can negotiate the max length at handshake,

[2020-08-08 06:26] oranagra commented on #7632
@DanielYWoo in what way do these huge keys degrade performance?

We are aware of several issues (mainly DUMP, RESTORE, MIGRATE) which we intend to resolve some day.
I don't think we're likely to add a mechanism that blocks them.

But please add more information as to what problems you are facing and at what stage do you propose to block them?
E.G. Do you want to block an innocent HSET because the

[2020-08-08 09:44] ShooterIT commented on #7509
I've always wanted to participate in this topic :)
As we know, the default behavior of all `_Atomic` operations provides for sequentially consistent ordering. For `_Atomic`using for threaded IO in redis, we use inter-thread synchronization of `io_threads_pending[i]`, so other io threads could read the newest clients of `io_threads_list` rather than dirty values.  I think acquire/release semantics

[2020-08-08 11:00] hujiang001 opened #7634 "The struct type of message(CLUSTERMSG_TYPE_MODULE) in the following code may be used incorrectly"
The struct type of message(CLUSTERMSG_TYPE_MODULE) in the following code  may be used incorrectly.

--------------file: cluster.c,     function: clusterProcessPacket--------------------------

} else if (type == CLUSTERMSG_TYPE_MODULE) {
        uint32_t explen = sizeof(clusterMsg)-sizeof(union clusterMsgData);
        **// should be  sizeof(clusterMsgModule) ??**
        explen += sizeof(clusterM

[2020-08-08 11:24] thestephenromano commented on #4450
Traditional keys are O(1) lookups. A stream's bound could really be anything and a subsequent "trim" operation would be non-deterministic in time. I believe that is the crux of the problem.

[2020-08-08 11:36] #7319 closed

[2020-08-08 12:05] oranagra commented on #7509
@ShooterIT i think i may have missed your point, but let me try to clear things up.

What i meant by option 2, it to revert back to the mechanism that were used before redis 6.0, which are implemented in our `atomicvar.h` (e.g. `atomicIncr`).
The main difference between that and _Atomic is that they're harder to use. i.e. unlike just declaring a variable as _Atomic, we need to wrap any access to i

[2020-08-08 12:24] oranagra commented on #3453
Closing this one in favor of #6900. if you can, please test the changes in that PR and acknowledge that they indeed solve the problem. and post feedback in #6900.

[2020-08-08 12:24] #3453 closed

[2020-08-08 12:45] DanielYWoo commented on #7632
The problem I am facing is that our developers sometimes overuse Redis to save large key/values and I hope there are mechanism to reject such writes.

[code]

Yes, it could cause memory problems but that's not my major problem, the problem here is the latency with big keys at peak throughput hours.

[2020-08-08 12:58] itamarhaber commented on #7632
This requirement sounds like enforcing a schema of sorts on the values of keys. The concept is indeed interesting and we can consider it for upcoming versions.

[2020-08-08 13:25] itamarhaber commented on #7631
Also see: https://github.com/redis/redis/issues/4565

I'm agreeing w/ @madolson, although:
1) The other string command does have an EX flavor (SETEX)
2) String counters are a common pattern afaik, so expiring them makes sense in a cache deployment
3) One should not forget `(INCR|DECR)BY[FLOAT]` while dwelling on this
4) From a cursory glance, adding the `EX` subcommand to all these doesn't seem li

[2020-08-08 19:04] oranagra commented on #6857
#6943 merged.

[2020-08-08 19:04] #6857 closed

[2020-08-08 19:17] oranagra commented on #7622
@daidaotong maybe the [client side caching](https://redis.io/topics/client-side-caching) invalidation messages are what you're looking for?
it does send an invalidation message when the keyspace is flushed.
recently improved in https://github.com/redis/redis/pull/7469

[2020-08-08 19:43] gkorland commented on #7631
@mcandre can you please extend on your use case?
Why would you like to extend the TTL on INCRBY?
Is that a way to keep the "hot" key in Redis? Isn't that just another LRU mechanism?

[2020-08-08 19:46] oranagra commented on #7631
@gkorland i don't think he wants to increment the expiration time.. he wants to set the expiration time when incrementing a counter.

I don't think we wanna ad an EX option to all the commands (should be achieved with MULTI-EXEC and pipeline). IIUC the reason SET has it, is because it's a very common case for caching.
Although counters are also strings, to my understanding they won't be used in ca

[2020-08-08 19:47] gkorland commented on #7626
@yangbodong22011 did you consider instead of using LUS using `MULTI`? As for the network round trip pipeline should  get similar results.

[2020-08-08 19:54] madolson commented on #7632
The scope still seems a little too ambiguous. I'm not a big fan of restrictions on command arguments outside of ACLs. Just with the set command, we would limit both the number of keys that can be set in the Redis server and the max length of the keys and the values.  @DanielYWoo Did you consider running multiple Redis servers with different memory limitations so that one bad node can't brown out o

[2020-08-08 21:02] madolson commented on #7634
@hujiang001 I think you're right, looks like a simple oversight. Do you want submit a fix for it?

[2020-08-08 21:09] madolson commented on #7501
Closing, let me know if this needs any further clarification.

[2020-08-08 21:09] #7501 closed

[2020-08-08 21:35] yossigo commented on #6599
@madolson These are all valid and sensible arguments for it. The only argument against it is that multi-DB has its own share of issues, and as it's already omitted from Redis Cluster it should generally not be promoted.

[2020-08-08 23:55] hujiang001 commented on #7634
ok，I will try to fix it later.

[2020-08-09 02:37] daidaotong commented on #7622
thank you @itamarhaber @oranagra , the use case is indeed related to security, we need to have a monitoring system which needs to catch all the keyspace related changes, and record this information.. However, based on the current Redis provided feature it seems like this is not an easy task. firstly, the module approach @itamarhaber mentioned earlier doesn't work easily since some keyspace changes

[2020-08-09 05:28] oranagra commented on #6599
maybe by default COPY or CLONE would create an additional copy of the key in the same database, and the multi-DB feature would be achieved with an optional additional argument?
some random set of options:

1. `COPY <key> <new-key> <dest-db> [REPLACE]`
2. `COPY <key> <new-key> [DB <dest-db>] [REPLACE]`

or maybe by utilizing an existing command (ugly IMHO):

3. `MOVE <key> <db> [KEEP_EXISTING]` - n

[2020-08-09 05:41] oranagra commented on #7632
There are multiple problems here each with possibly a different solution.

If the problem is latency (caused by a large ZRANGE), you can maybe reduce `client-output-buffer-limit`  and have redis disconnect the client after a certain output buffer size.
It is not possibly to respond to the command with an error after it already started copying data to the output buffer, so measuring latency or pred

[2020-08-09 05:54] oranagra commented on #7626
I don't think we want to add an `M` variant to every command in the book.

I think it makes sense to add them to read commands which can return an array.
And especially to commands working on multiple fields of the same key (e.g. SMISMEMBER).
i.e. `HMGET <key> <field> <field>` makes more sense to me than `MHGET <key> <field> <key> <field>`
The later can be achieved with a similar effort in a simpl

[2020-08-09 06:45] LyreBoss commented on #5179
🐂

[2020-08-09 07:24] oranagra commented on #5179
i see the code that implements it is already merged. closing.

[2020-08-09 07:24] #5179 closed

[2020-08-09 18:05] kevjumba opened #7638 "'make test' command fails with error message: "wrong # args: should be "close channelId".""
**Describe the bug**

'make' proceeds correctly with no errors but 'make test' errors out with exit code 2 and the attached stack trace.

**To reproduce**

1. In the home redis-cli directory, run 'make distclean'.
2. Run 'make && make test'

**Expected behavior**

Make test should proceed without errors, especially since the redis server program proceeds correctly and there are no errors with the

[2020-08-09 18:29] michael-grunder commented on #7125
Now that #7609 has been merged, I think we can close the issue.

Also, I'm happy to assist if we encounter bugs/oversights with the PR.

[2020-08-09 18:46] oranagra commented on #7125
@michael-grunder thanks a lot!

[2020-08-09 18:46] #7125 closed

[2020-08-09 18:49] oranagra commented on #7638
@kevjumba  Thanks for this report! This has been fixed in #7548 (not released yet), you can work around it if you use TCL 8.6.

[2020-08-09 18:49] #7638 closed

[2020-08-10 00:51] trevor211 commented on #7285
Have you tried using non-bulk protocol?
Similar questions here: https://stackoverflow.com/questions/10822877/executing-batches-of-commands-using-redis-cli/10824224
I don't know if it works with --cluster, but you can try.

[2020-08-10 00:55] trevor211 commented on #7290
What are the additional flags that you used?

[2020-08-10 00:59] DanielYWoo commented on #7632
@madolson This is not about ACLs or maxmemory, this is about per command limit to avoid high latency. @oranagra gave some workarounds like client-output-buffer-limit which works fine for writes, and I guess client-query-buffer-limit will work for reads. Although this cannot limit the string length of a single SET, but this already satisfies my requirements which is reject huge commands. Many thank

[2020-08-10 00:59] #7632 closed

[2020-08-10 01:00] trevor211 commented on #7269
The replid is different from its master, thus trigger a FULL sync.
Can you provide a way to reproduce it?

[2020-08-10 02:42] yangbodong22011 commented on #7626
@gkorland @oranagra Yes, pipeline with MULTI-EXEC can complete the `M` operation, I agree with this approach.

Therefore, we need to promote the support of various clients for pipelines, especially in cluster mode, such as @gkorland previous work: [add pipelined to JedisCluster](https://github.com/xetorthio/jedis/pull/2095).

[2020-08-10 03:03] yangbodong22011 commented on #7626
I think multiple fields can return the result array after addition, for example:

[code]
Return the value after the increment operation is more meaningful(Can reduce once `hget` call). But the problem is that when the field is greater than 1, the return value becomes the array type (such as spop).

[2020-08-10 03:55] yoonghm opened #7640 "Retrieve all IDs and latest timestamps for a given stream without going through the all the data"
I am using Redis 6. Given a stream, are there ways to retrieve
1.  All IDs in the stream
2.  Latest timestamp of all IDs

Thanks

[2020-08-10 04:06] yoonghm commented on #7640
I checked that it is not available. I wouls do this
1.  Use `xrevrange` or `xrange` to read all data to find out all IDs and its latest timestamp.
2. Store the information in Redis using hset.

3. Update corresponding hset records whenever `xadd` is used.

[2020-08-10 05:48] oranagra commented on #7626
ohh, right. i forgot that HINCRBY returns the counter value..
my comment about the command being turned into variadic applies to commands such as HDEL and HSET, but not HINCRBY.

[2020-08-10 07:07] yangbodong22011 commented on #7626
@oranagra @madolson @gkorland
Hello, these commands can support multiple fields, and we can evaluate whether they need to be implemented.
# List
- [ ] LINDEX key index -> LINDEX key index [index ...]

# Set
- [x] SISMEMBER key member -> Implemented as SMISMEMBER command, see #7615.

# Hash
- [ ] HEXISTS key field -> HEXISTS key field [field ...]
- [ ] HINCRBY key field increment -> HINCRBY key fie

[2020-08-10 07:55] ShooterIT commented on #7509
Maybe my statement is a bit confusing.
Firstly, we want to introduce `_Atomic` keyword and how it can guarantee our program execute safely, you already must know. For `_Atomic` default behavior, it not only guarantees the operation's atomicity but also performs an acquire operation, a store performs a release operation, and read-modify-write performs both an acquire operation and a release operati

[2020-08-10 08:56] guybe7 commented on #7640
@yoonghm can you please elaborate? maybe give an example fo what you're trying to do? AFAIU stream "ID" and timestamp is the same thing
anyway, try checking out `XINFO STREAM <keyname> FULL COUNT <count>`

[2020-08-10 12:00] ashtul commented on #7221
Might be related to RedisTimeSeries/RedisTimeSeries#391

[2020-08-10 14:09] oranagra commented on #7626
the ones that sound most useful to me are LINDEX, LSET and HEXIST, maybe with the addition of HINCRBY, ZINCRBY.

maybe also some multi-key commands like INCRBY which is listed in your opening post.
and MHGET (https://github.com/redis/redis/pull/7347)

I don't think we want to just fill the matrix and add everything, we need to consider usefulness and benefits over the alternative, and how much the

[2020-08-10 14:44] mcandre opened #7641 "[NEW] It's 2020 and redis-cli can't establish TLS connections"
**The problem/use-case that the feature addresses**

redis-cli has no support for basic session protection (TLS/SSL).

**Description of the feature**

Add support for TLS/SSL to redis-cli.

**Alternatives you've considered**

Reconfiguring stunnel.

[2020-08-10 15:15] itamarhaber commented on #7641
Hello @mcandre

It is indeed 2020, thanks for reaffirming that. Note that as of v6, also released this year, TLS is handled by redis-cli as documented at https://redis.io/topics/rediscli#ssltls

Please close this issue or edit it to make sure we understand its nature.

[2020-08-10 16:55] mcandre opened #7643 "[NEW] Show basic stats at end of MONITOR report"
**The problem/use-case that the feature addresses**

Help administrators to more quickly assess the nature of the query traffic.

**Description of the feature**

Calculate the percentages of basic query categories (gets, sets, mutations, deletions, hashmaps, lists, etc.)

Calculate query size metrics (mean, median, mode, 99th percentile, min, max), and query response size metrics (mean, median, mo

[2020-08-10 18:25] oranagra commented on #7643
@mcandre what you're describing is not actually part of Redis (server). The MONITOR command doesn't have an end, it'll keep streaming commands forever.
What you want is a tool that connects to redis, sends the MONITOR command and disconnects after a predetermined time (e.g. 10 seconds), or Ctrl+C.
And then prints the statistics.
I don't think such a tool is suitable for redis-cli (which is mostly

[2020-08-10 20:39] madolson commented on #7641
Alternatively, you can wait till 2021 and close the issue since it will no longer be relevant.

[2020-08-11 01:54] trevor211 commented on #7250
Since a PR has been proposed, this issue can be safely closed. @itamarhaber

[2020-08-11 02:18] madolson commented on #7250
Thanks for calling this out!

[2020-08-11 02:18] #7250 closed

[2020-08-11 06:11] madolson commented on #5999
Fixed

[2020-08-11 06:11] #5999 closed

[2020-08-11 07:57] #4331 closed

[2020-08-11 08:45] soloestoy commented on #4323
solved & merged

[2020-08-11 09:09] soloestoy commented on #7354
Hi, this is already supported since 5.0 using configuration `proto-max-bulk-len`, see more details in `redis.conf`

[2020-08-11 09:21] oranagra commented on #7354
@soloestoy i don't think that's right (yet?).
`proto-max-bulk-len` allows bigger protocol bulks, but that's mainly helping big RESTORE commands (ones carrying a huge hash or list).

it does indeed enables you to create big strings with SET / HSET, but there are some places with extra checks like SETRANGE and APPEND that use this:

[code]

[2020-08-11 09:26] soloestoy commented on #7354
@oranagra sorry I missed it, seems we need to add a new configuration.

BTW, this remind me about #4633

[2020-08-11 10:57] itamarhaber commented on #7641
Solid approach @madolson, but I'll do one better - I changed my system clock (cc @JimB123) so the future is now my present - closing.

Please feel free to reopen or create a new issue if needed.

[2020-08-11 10:57] #7641 closed

[2020-08-11 10:59] #7354 closed

[2020-08-11 11:14] #4323 closed

[2020-08-11 14:13] oranagra commented on #7308
already handled. thanks.

[2020-08-11 14:13] #7308 closed

[2020-08-11 22:35] Kama0165 opened #7649 "[QUESTION] Setting idle time to unregister an even to a consumer"
Is there a way to set idle time, so after an event has been hold up by a consumer without getting ack, the event will be put back into the consumer group to be claimed by another consumer?

[2020-08-12 01:34] trevor211 commented on #7242
It's okey for redis to iterate the key-value pairs one by one in the child process. Child process won't see the updated new key values thanks to copy-on-write mechanism of Linux OS.

[2020-08-12 01:37] trevor211 commented on #7212
I don't think redis have this feature.

[2020-08-12 01:40] trevor211 commented on #7106
What if `redis-server` was granted the permission later?

[2020-08-12 02:33] Truth1984 opened #7650 "[FR] get once (pop) an element"
For now, the simplest way to only retrieve an element once is to
1 `GET KEY` and then `DEL KEY` (network latency?)
2 or store it as an array / set, and then use `LPOP` / `RPOP`, (size?)
3 or even use `GETSET`. (more logic?)

I wish we can have atomic `GETONCE` to `get` and then `del` the key.

[2020-08-12 02:36] Bilingyun opened #7651 "Cannot use SENTINEL replicas master-name to get all replicas"
Redis ：Redis server v=4.0.2 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=bb5d0aad7ecbb10f
OS：CentOS release 6.5 (Final)
Architecture:  x86_64

The detail is below：
127.0.0.1:26379> SENTINEL replicas publicredis
(error) ERR Unknown sentinel subcommand 'replicas'

[2020-08-12 02:41] Bilingyun commented on #7651
Redis server v=4.0.2 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=bb5d0aad7ecbb10f

[2020-08-12 02:43] Truth1984 commented on #7650
#7324

[2020-08-12 03:09] madolson commented on #7649
You could achieve this with a LUA script that first checks if there is a pending item older than some amount of time, otherwise do a XGROUPREAD. This is likely slow and may not fit your use case.

I think having a first class function for this type of behavior makes sense though. Something like XGROUPREAD [IDLE-TIMEOUT TIME] might be a useful feature.  A question for you, were you looking to set t

[2020-08-12 03:11] madolson commented on #7650
@Truth1984 Is this the same as the issue you linked? If so, would prefer to close this and just +1 the other request to avoid duplicates.

[2020-08-12 03:12] #7650 closed

[2020-08-12 03:13] madolson commented on #7324
+1 on the usecase. You can also use a multi-exec with a GET/DEL. That does introduce some extra overhead though, so if this is really a compelling feature it could be implemented.

[2020-08-12 03:16] hwware commented on #7651
@Bilingyun hello, for older Redis version the subcommand is Sentinel Slaves master-name . There is known reason we changed it :)

[2020-08-12 05:04] trevor211 commented on #7050
I think you should ajust the deployment of redis instances.
Try to distribute masters over different machines (better if the machines are geographically distributed).

[2020-08-12 05:08] madabhaviamit commented on #7050
Hi Trevor,

I switched from redis cluster to sentinel and it solved my problem.. now i have one master and many slaves and as soon as a master goes down any one of the slaves becomes master. everything works fine until i have 1 master and 1 slave up and running. For Sentinel to be high available we would require at least 1 Master and 2 Slave configuration..

[2020-08-12 06:22] blylei commented on #7651
非常感谢。问题已解决

[2020-08-12 06:22] #7651 closed

[2020-08-12 06:31] Phantal opened #7652 "Allow selecting random port"
https://github.com/redis/redis/blob/6f11acbd67f65c5f3fd84223bf07fefd75cfdc37/src/server.c#L2807

I am requesting that the allowed values for the port be changed as follows:

* 0..65535 are valid
* all other values disable TCP listening

0 has special meaning: select an unused port.  This port can then be queried with tools like lsof, netstat, as, etc.

[2020-08-12 07:27] kkmuffme commented on #7106
Yes, it works then, however this still is wonky like it is.

Perhaps alternatively (probably better than the original suggestion) is that redis should try to create a file in the rdb directory on start and if it fails, the start of redis should fail directly.

[2020-08-12 07:38] oranagra commented on #7106
it may be a good idea, but note that persistence configuration can be changed at runtime, and so is the `dir` setting.
at some point redis will refuse writes if it can't persist, and if it is stuck in shutdown attempt loop, the user can do `SHUTDOWN NOSAVE` right?

[2020-08-12 07:56] kkmuffme commented on #7106
Yes it can be changed, but usually if you change it, redis has already written an rdb so there is no error there.

[2020-08-12 09:28] Calabor-Hoc commented on #3022
See this [comment](https://github.com/redis/redis/issues/5310#issuecomment-419634093) from a similar issue;

[2020-08-12 11:49] itamarhaber commented on #7652
Hello @Phantal

Thanks for proposing this feature request. The problem with your suggestion is that historically the value of 0 means that Redis will not listen on TCP ports, so if we make the change we'll break the contract with the userbase. This, however, can be easily solved by using a different value, e.g. -1, or even a new config flag.

That said, I'm not totally clear on the use case here.

[2020-08-12 11:55] itamarhaber commented on #7242
Thank you for answering @trevor211 🙇

@qingyuan18 it appears your question has been answered so this issue will now be closed. Please feel free to reopen or create a new issue if needed.

[2020-08-12 11:55] #7242 closed

[2020-08-12 12:44] TrejGun commented on #4423
[code]

[2020-08-12 13:06] Kama0165 commented on #7649
That would be fantastic :0. I was thinking of setting the idle time on the consumer group. So once the idle time has been exceeded for an event, the event get unassigned from a consumer and automatically reassigned to a consumer that is available. I don't know how feasible is that. But it would be great if this can work. This way we don't have to create code separately to handle pending messages d

[2020-08-12 14:01] itamarhaber commented on #5310
This has been also added to the documentation via https://github.com/redis/redis-doc/pull/1367

Closing - feel free to reopen or create a new issue if needed.

[2020-08-12 14:01] #5310 closed

[2020-08-12 14:01] itamarhaber commented on #3022
This has been also added to the documentation via https://github.com/redis/redis-doc/pull/1367

Closing - feel free to reopen or create a new issue if needed.

[2020-08-12 14:01] #3022 closed

[2020-08-12 14:06] itamarhaber commented on #7631
Sort of duplicate of #4423

[2020-08-12 14:33] Phantal commented on #7652
Our use case is a multi process application in a multi tenant environment
without something like kubernetes [yet] available.

The IPC mechanisms our predecessors came up with are many and varied.
We're attempting to standardize on Redis.

Unfortunately, the multi tenancy means we cannot just choose a  port.

Without this feature the only other option I've found and like is to bind
port zero, query

[2020-08-12 14:53] oranagra commented on #7652
this could also possibly be a solution to a problem we are / were facing with our test suite.

the code we have now is some loop that tries to find a free port (see `find_available_port`), then tries to spawn redis that binds on it. if it failed to bind due to a race (someone else using that port first), we try the whole thing again. see this as an example: https://github.com/redis/redis/pull/7635

[2020-08-12 15:23] yossigo commented on #7652
I am not in favor of this for several reasons:

1. Dynamic port allocation could make sense if we also had a service discovery framework, so a process binds to some random port and then has a standard way to announce it. Having to poke around to discover what port seems like a very specific hack to me.
2. Modern environments rely on containers (in this context, network namespaces really) to handle

[2020-08-12 15:26] itamarhaber commented on #7212
Indeed - assuming that the question is whether there is a way to limit the size of a key's name and/or value via a configuration setting, then the answer is negative. This can only be enforced at the moment by the client application.

Closing this issue - please feel free to reopen or create a new one if needed.

[2020-08-12 15:26] #7212 closed

[2020-08-12 15:50] guybe7 commented on #7649
@Kama0165 just to verify:
for your use-case you need an optional IDLETIME arg to XREADGROUP that means the following:
go over the group's PEL, if there's an entry where (now-delivery_time < IDLETIME) then remove it from the consumer that currently has it and add it to the consumer that was given in the current XREADGROUP (basically simulate an XCLAIM)
did i understand correctly?

[2020-08-12 16:22] Kama0165 commented on #7649
yes, that is correct. Is this feasible?

[2020-08-12 17:39] guybe7 commented on #7649
yes, but i'm a bit worried about the time complexity here... since it is relative to _now_ that XREADGROUP will have to start scanning the PEL from the beginning every time we execute it... i guess the best way to go is to make sure COUNT has some low value (unless explicitly set to 0). that COUNT will mean "the number of entries to scan" rather than "maximum number of entries to return".
@madolso

[2020-08-13 00:55] trevor211 commented on #7050
So far so good. Do you have any other questions? If not, can you close the issue?

[2020-08-13 01:13] madabhaviamit commented on #7050
yes, i will close this now..

Regards,
Amit M

On Thu, 13 Aug 2020, 06:25 WuYunlong, <notifications@github.com> wrote:

[2020-08-13 01:16] trevor211 commented on #6914
Asking the core team to take a look at here. @oranagra @yossigo @itamarhaber @soloestoy @madolson

[2020-08-13 01:30] trevor211 commented on #6392
It's already fixed. Safe to close. @soloestoy

[2020-08-13 01:39] trevor211 commented on #6369
I don't think it is a bug.
`s_malloc` is ensured to return a non-null pointer.
`s_malloc` is defined as `zmalloc`.
https://github.com/redis/redis/blob/47637bea6d12d899f69a6b384ee7b024177006de/src/sdsalloc.h#L43
Inside `zmalloc`, it first calls malloc, if it returns NULL, `zmalloc_oom_handler` would be called.
https://github.com/redis/redis/blob/47637bea6d12d899f69a6b384ee7b024177006de/src/zmalloc.

[2020-08-13 03:30] #7050 closed

[2020-08-13 03:31] hwware commented on #7115
hello @saschamonteiro,, looks like this issue has been resolved, can you close this issue then? thanks..

[2020-08-13 03:49] hwware commented on #7218
Hello @miniHive , This is a known issue in WSL, please refer https://github.com/redis/hiredis/issues/785 ..thanks

[2020-08-13 03:52] saschamonteiro commented on #7115
no, the https://redis.io/download - old - still links to 5.0.8, not 5.0.9! and 5.0.9 is critical according the release notes

[2020-08-13 03:56] #6924 closed

[2020-08-13 04:06] hwware commented on #7115
hello @saschamonteiro, you can download the 5.0.9 release version here: http://download.redis.io/releases/, thanks

[2020-08-13 04:09] saschamonteiro commented on #7115
yeah I know that, but you document 5.0.8 on the downloads page, user wanting the latest 5.0.x release should know it's 5.0.9 and the D/L link should point to it

[2020-08-13 04:28] madolson commented on #7649
We could do it that way, we could also store the idle information in a separate rax data structure. There should be no overhead if you don't use any timeouts. There might also be some happy middle ground where we try to optimize how often we scan the PEL structure.

This change will introduce a RDB change, since we will need to persist the idle timeout, so we should think it through well.

[2020-08-13 05:21] trevor211 commented on #6046
dup of #6369 @soloestoy

[2020-08-13 05:31] AstonPudding opened #7654 "[QUESTION] Restore the AOF log file of redis4 to redis3"
In the process of upgrading redis3.2 to redis4.0, can I use the AOF log of redis4.0 instance to recover to redis3.2.
What are the risks of such an operation.

[2020-08-13 06:05] vacheli commented on #7269
If any slave in the redis cluster is restarted, this will happen

[2020-08-13 06:26] oranagra commented on #7218
thanks @hwware .
@miniHive i see the fix in hiredis (https://github.com/redis/hiredis/pull/836) was merged and should probably be in our `unstable` branch now.
please test it to make sure it solves your problem.

[2020-08-13 06:31] oranagra commented on #7115
merged. thank you both!

[2020-08-13 06:31] #7115 closed

[2020-08-13 06:51] oranagra commented on #6914
indeed the API return value is ambitious. the only way i can see to fix it without breaking backward compatibility or adding a new API is maybe set `errno` when returning 0?
@guybe7 any thoughts?

[2020-08-13 07:15] oranagra commented on #6392
solved in d1a005ab3963c16b65e805675a76f0e40c723158

[2020-08-13 07:15] #6392 closed

[2020-08-13 07:19] guybe7 commented on #7649
do you mean where the key is streamID and value is idle-time? storing the idle-time as a key/value of a rax will require us to contantly update it

what do you mean by "use timeouts"? the new "timeout" arg for XREADGROUP? and by "overhead" you mean CPU overhead, right? because if we go with another rax, there will be memory overhead

[2020-08-13 07:19] oranagra commented on #6369
This is indeed not a problem due to what @trevor211 said (allocations never return NULL in redis).
BTW, note that in redis-server, the `zmalloc_default_oom` isn't actually used.
[code]

anyway, since this issue was repeatedly reported so many times, we decided to fix it in sds.c anyway, just to stop more issues being opened (already fixed in 6.0).

thanks.

[2020-08-13 07:19] #6369 closed

[2020-08-13 07:27] oranagra commented on #6046
@trevor211 thanks.
as stated in the issue linked above, this was never a problem, but it is fixed anyway already.

[2020-08-13 07:27] #6046 closed

[2020-08-13 07:28] guybe7 commented on #7649
how about writing a new command:
[code]
(or modify the existing XCLAIM)

the user will have to run it from time to time (same as with the XREAGROUP TIMEOUT option)
there are two possible outcomes:

1. some entries were transferred to the dst consumer: "old tasks" got someone to handle them so the application is doing fine
2. no entries were transferred: there are no "old tasks" so even in this cas

[2020-08-13 07:35] guybe7 commented on #6914
i vote for setting errno in case of an error (e.g. key is not a hash)
the usage pattern should be:
[code]

[2020-08-13 08:24] oranagra commented on #7654
Hi,
First, you need to be sure you didn't enable `aof-use-rdb-preamble`.
that's not supported in 3.2, and also there are differences in the RDB file encoding:
https://github.com/sripathikrishnan/redis-rdb-tools/blob/master/docs/RDB_Version_History.textile

Assuming you didn't enable it, the only problem you may experience is if your AOF file contains commands that are not supported by redis 3.2.
T

[2020-08-13 09:18] yossigo commented on #6914
I don't like the abuse of `errno` for these purposes, it's a case of code smell at best and could also introduce real issues (and yes I realize it's already practiced in some cases).

1. Consider this a bug and fix it. If existing modules rely on a zero return value when the hash is created.
2. Add a new flag that modifies this behavior. This would be backwards compatible but very awkward.

[2020-08-13 09:22] oranagra commented on #6914
@yossigo i'm not sure what you are suggesting.
The only ways i see around it are:
1. Add a new API that has two return values, and deprecate the old one.
2. Break the API so that the return value is just an indication of success / failure, and there's no indication of how many fields were updated.

[2020-08-13 09:38] ganlvtech commented on #3593
Commit https://github.com/redis/redis/commit/23791828f1cd54ebea95d8c860058e55ff28aebf caused this issue.

Originally any empty string to long long conversion will be OK and the result is 0.
Now they will raise an ERR. You should handle them by yourself

Related issue https://github.com/redis/redis/issues/3333 .

This make the following command `SET foo` and return error, instead of `SET foo` and t

[2020-08-13 09:51] yossigo commented on #6914
The documentation specifies `RM_HashSet()` should return the number of fields updated, but fails to specify that inserted keys are not counted as updated.

This gets further complicated when we consider `HSET` itself returns the number of keys *inserted* rather than the number of keys updated.

We can have a `REDISMODULE_HASH_COUNT_INSERTS` additional flag that counts insertions in addition to upd

[2020-08-13 11:09] oranagra commented on #7285
i'm closing this issue, feel free to re-open if needed.

[2020-08-13 11:09] #7285 closed

[2020-08-13 11:23] oranagra commented on #7269
@vacheli can you try to reproduce this on redis 6.0?

[2020-08-13 11:25] guybe7 commented on #6914
maybe @yossigo's suggestion is the lesser of two evils...

[2020-08-13 11:27] oranagra commented on #7290
@tryfinally i don't think we want to make redis compatible with `-Wall` or something a like, since i'm guessing it would produce too many false positives.
But if while fixing these you noticed something that could actually be a bug, please make a PR for that.

Meanwhile, i'm closing this issue since i understand it was a mixup due to your specific environment and not that redis is built by default

[2020-08-13 11:27] #7290 closed

[2020-08-13 11:41] oranagra commented on #6914
But if it returns either insertions or updates, what about an error?
I suppose that if the caller asked for the number of insertions and we return 0, that's the same as error, but it sounds off that we still provide the other option (get the count of updates) in which there's no way to distinguish between an error and success.
If we're breaking the API anyway by adding a new flag, we can add anoth

[2020-08-13 11:49] oranagra commented on #3593
@ganlvtech thank you for the detailed comment.
anyway, this is water under the bridge now, bug is fixed long ago.

redis 6.0:
[code]

[2020-08-13 11:49] #3593 closed

[2020-08-13 16:47] tryfinally commented on #7290
@oranagra I was a bunch of other flags, most of them due to dicarding const. Which can lead to some code trying to write to const
data and runtime crash. please advice on those.
regarding others I will come back later and handle them via individual PRs.

[2020-08-13 18:22] Kama0165 commented on #7649
I am sorry, I am a little confused here, and I want to make sure I understand this correctly. The purpose of XREAGROUP TIMEOUT option was to give a time constraint between reading messages right?

I am trying to containerizing my service and to have consumer auto-generated. The issue with XClaim is that you need to keep track of consumers. You need to check a specific consumers pending list and re

[2020-08-13 19:16] madolson commented on #7649
Let me rephrase, I think there are two separate approaches:
1. We update XCLAIM (or implement XTRANSEFER) so that it will check the pending list and claim items that have exceeded a specific time. Just like @guybe7 mentioned. I think this should work in the architecture that @Kama0165 mentioned, since there is no knowledge of which consumer has which items. There are some optimizations we could do

[2020-08-14 01:07] trevor211 commented on #6667
I don't get you.
Could you describe it more clearly? Or perhaps just use your native language to describe it?

[2020-08-14 01:15] trevor211 commented on #6485
There is a PR fixing a bunch of typos, see #7414 .
Safe to close @soloestoy .

[2020-08-14 01:30] trevor211 commented on #6534
dup of #6165 @itamarhaber

[2020-08-14 01:55] #6485 closed

[2020-08-14 01:56] guoruibiao commented on #6485
Sorry, i didn't notice that.

[2020-08-14 04:30] Kama0165 commented on #7649
Would it be possible to do something like this?
XGROUP CREATE mystream consumer-group-name 0 [IDLE-TIMEOUT ]

I like option 1 since it is simpler to implement.

[2020-08-14 05:20] trevor211 commented on #6120
Are you sure you are reporting in the right place?

[2020-08-14 05:29] trevor211 commented on #6056
Already optimized in f15df8ba5d. Safe to close. @oranagra

[2020-08-14 07:26] 01-dotcom opened #7655 "./runtest --tls problems"
Hello everyone.

I've met some problems when I  run 'runtest --tls' scripts.

Here is my OS version
![image](https://user-images.githubusercontent.com/64554262/90223816-5051cc80-de41-11ea-84cf-e3ea0fd31d01.png)

redis version : redis-6.0.6
I use ' make BUILD_TLS=yes.'

openssl version is :
![image](https://user-images.githubusercontent.com/64554262/90224203-e2f26b80-de41-11ea-8b29-c5f27eacba77.png

[2020-08-14 07:35] oranagra commented on #7655
did you do `yum -y install tcltls` ?
like we do here:
https://github.com/redis/redis/blob/d10b2f3173ebfcc673d4ec36efef512802e3a535/.github/workflows/daily.yml#L133

maybe the docs at https://github.com/redis/redis/blob/unstable/TLS.md should be improved.

[2020-08-14 11:59] oranagra commented on #6056
I find it hard to believe that an issue from 2019 was solved by a commit i made in 2015 8-)

but yes, it was recently solved in https://github.com/redis/redis/pull/7620

@zltl i don't understand your 3rd bullet. i suppose it's not relevant since your first claim (that `start=0` is unnecessary). but if it is, please respond or open a new issue (or PR).
Meanwhile, i'm closing this issue.

[2020-08-14 11:59] #6056 closed

[2020-08-14 12:37] oranagra commented on #7290
@tryfinally the const warnings are probably not interesting, i don't imagine any of these can lead to a bug in redis.
if any of the others are a real bug, please issue a PR.
but if they're just cleanup, i wouldn't change many lines to solve warnings that we never get.
unless they show as warnings in a default build (e.g. sometimes happens when switching to a new compiler)

[2020-08-14 13:58] itamarhaber commented on #6534
Thanks @trevor211 - closing.

[2020-08-14 13:58] #6534 closed

[2020-08-14 13:59] rdehuyss commented on #446
Also in need of this...

[2020-08-14 14:02] rdehuyss commented on #446
Tagging @yossigo @natoscott  so they get notified.

[2020-08-14 14:07] itamarhaber commented on #6648
Closing - please feel free to reopen or create a new issue if needed,.

[2020-08-14 14:07] #6648 closed

[2020-08-14 19:39] erichowey opened #7657 "[BUG] make test fails on CentOS 8 for Redis 6.0.6"
**Describe the bug**
Tests Fail on CentOS 8 for Redis 6.0.6

**To reproduce**
wget http://download.redis.io/releases/redis-6.0.6.tar.gz
tar xzf redis-6.0.6.tar.gz
cd redis-6.0.6
yum -y install make gcc jemalloc-devel tcl
make
make test

**Expected behavior**
Tests to pass

**Additional information**

- CentOS Linux release 8.2.2004 (Core)
- Linux redis1 4.18.0-193.14.2.el8_2.x86_64 #1 SMP Sun Jul

[2020-08-15 02:40] rvencu opened #7658 "[CRASH] Centos 7, Redis 5.0.8"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version Centos7, Redis 5.0.8, phpredis 5.3.1
2. Steps to reproduce (if any)

tried this command in PHP `$redis->rawCommand("TRIE.INSERT", $key, $word)`
other commands via rawCo

[2020-08-15 07:50] beebol opened #7659 "[CRASH]"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version
Linux  4.14.114-105.126.amzn2.x86_64
2. Steps to reproduce (if any)

[2020-08-15 10:48] danilaplee opened #7660 "[BUG]"
**Describe the bug**

if you use a key starting with "5f" when using **zadd**, the key is not valid, please see the screenshot
<img width="594" alt="image_2020-08-15_13-40-15" src="https://user-images.githubusercontent.com/6561396/90310834-ed723b00-defd-11ea-94c1-9909357de0e2.png">

[2020-08-15 15:28] itamarhaber commented on #7660
Hello @danielhtshih

The issue you're experiencing is due to the fact that your database already has a key with the same name but of a different type. You can check the key's value type with the [`TYPE`](https://redis.io/commands/type) command.

Closing this as a non-issue - please feel free to reopen if you disagree.

[2020-08-15 15:28] #7660 closed

[2020-08-15 15:31] itamarhaber commented on #7659
Hello @beebol

Thanks for sharing this crash report. Note, however, that v3.0.7 is quite ripe and is no longer supported. I recommend that you upgrade to a more recent version of Redis as many issues have been resolved over the years.

Closing this issue.

[2020-08-15 15:31] #7659 closed

[2020-08-15 15:33] itamarhaber commented on #7658
Hello @rvencu

Thanks for submitting the crash report. It appears this crash isn't caused by Redis itself, but rather due to a module (trie) that you're using. Please seek assistance from that module's authors/maintainers/community.

Closing this as it isn't related to Redis server.

[2020-08-15 15:33] #7658 closed

[2020-08-15 15:38] itamarhaber commented on #7657
Hello @erichowey

Thanks for reporting - this is a duplicate of #7552 and is resolved in the unstable branch via #7543.

Closing.

[2020-08-15 15:38] #7657 closed

[2020-08-15 16:43] oranagra commented on #7658
@rvencu maybe if you upload your binary I can look up in which line it crashed and make sure this bug was fixed already. or you can translate the crash address yourself...

[2020-08-16 04:20] namnn89 opened #7662 "[BUG] make test failed"
**Describe the bug**

install error
**To reproduce**
wget http://download.redis.io/redis-stable.tar.gz
tar xvzf redis-stable.tar.gz
cd redis-stable/
make distclean
make
make test

[53/56 done]: unit/geo (174 seconds)
[ok]: Master stream is correctly processed while the replica has a script in -BUSY state
[ok]: slave fails full sync and diskless load swapdb recovers it
[ok]: replica buffer don't in

[2020-08-16 05:42] oranagra commented on #7662
Hello @namnn89

Thanks for reporting - this is a duplicate of #7552 and is resolved in the unstable branch via #7543.

Closing.

[2020-08-16 05:42] #7662 closed

[2020-08-16 08:44] itamarhaber commented on #6107
Added via #6116 - closing.

[2020-08-16 08:44] #6107 closed

[2020-08-16 08:49] #5750 closed

[2020-08-16 08:52] #4824 closed

[2020-08-16 08:58] itamarhaber commented on #4522
Hello @nicois

Thanks for proposing this feature. While thought-provoking, it appears that you're the sole person who's interested in this feature :) I assume that with proper provisioning (and monitoring) this can be managed so I'll be closing this issue now - do feel free to reopen or create a new issue if needed.

[2020-08-16 08:58] #4522 closed

[2020-08-16 10:00] ganlvtech commented on #3593
Some unexpected thing happened when we decide to migrate an Redis 2.8 used for many years to the latest version.

---

First, some bad code don't check value type.

[code]

Because of PHP's auto type conversion, it is same to

[code]

And then

[code]

In redis 2.8: `foo` will be 1.
In Redis 4.0: Error! `foo` still be `""` and error will occured every time INCR is called.

[2020-08-16 10:17] itamarhaber commented on #3593
Hello @ganlvtech - apparently you're the first person to report this as well as to be affected by it and the fix in https://github.com/redis/redis/commit/23791828f1cd54ebea95d8c860058e55ff28aebf.

I hope that your system is working now.

[2020-08-16 10:41] #7654 closed

[2020-08-16 12:15] yossigo commented on #6914
Looking at all modules listed in `redis.io`, none of them would indeed break by this change but I'm not sure this makes me feel more comfortable with introducing such breaking changes.

The main problem I see with the flag that newer modules will end up incompatible with older Redis versions, which will silently ignore the flag.

I also wish to avoid adding more functions as a way to solve bugs, s

[2020-08-16 13:10] 01-dotcom commented on #7655
ok.  thx, I run "yum -y install tcltls",  that err was gone!

[2020-08-16 13:10] #7655 closed

[2020-08-16 18:00] danilaplee commented on #7660
ok thanks, that seems to be the issue

[2020-08-16 21:38] itamarhaber commented on #4602
This is being tracked at #6640 - closing in favor of, please feel free to reopen or create a new issue.

[2020-08-16 21:38] #4602 closed

[2020-08-17 02:03] DingGuodong opened #7663 "[QUESTION] why `redis-server` is a symbolic link of `redis-check-rdb` in Redis server v=5.0.7 ?"
Hi, I am using ubuntu 20.04.1 LTS (Focal Fossa) and I installed a redis server from official repo using `apt install redis`.

My question is" why `redis-server` is a symbolic link of `redis-check-rdb` ", anybody can answer this? I googled it and have no luck, thank you for any help.

I post the basic info as follows:

[code]

[2020-08-17 02:10] DingGuodong commented on #7663
I found this in http://metadata.ftp-master.debian.org/changelogs/main/r/redis/unstable_changelog

[code]

Is this the answer we want?

[2020-08-17 04:42] trevor211 commented on #6208
It's already fixed. Safe to close. @itamarhaber

[2020-08-17 04:47] trevor211 commented on #6126
I think you should check if the file system is _Read only_. It has nothing to do with redis.

[2020-08-17 04:49] trevor211 commented on #6133
Please try the lastest version and see if it still exists.

[2020-08-17 05:16] trevor211 commented on #6003
Since a PR has been proposed, this issue is safe to close. @itamarhaber

[2020-08-17 05:30] oranagra commented on #7663
the redis-server `main()` function has the following code:
[code]
this is done because much of the code on these is shared code (i.e rdb parsing is used in both redis-server and redis-check-rdb), so it is enough to keep just one binary on the disk, and it'll do the right thing according to its name.

[2020-08-17 05:30] #7663 closed

[2020-08-17 05:42] #6208 closed

[2020-08-17 05:45] oranagra commented on #6126
@yfxuchao please check your file system settings.
if you conclude that the file system is fine and suspect it's a bug in redis, please re-open the issue, and provide more evidence (mount options, redis configuration, strace log, etc)

[2020-08-17 05:45] #6126 closed

[2020-08-17 05:56] oranagra commented on #6133
@renukamanavalan i see redis crashed inside a Lua script that calls some redis commands and attempts to sort the output of that command (to make the script deterministic).

Were you able to reproduce it?
Do you happen to know what did that Lua script do (`fe29279af09e7fb315a79f9b3e0ea635766bd993`), which command it executed and what data type it was working on, how many fields did that key contain

[2020-08-17 06:36] #6003 closed

[2020-08-17 06:46] patpatbear commented on #4856
Got the same issue

[2020-08-17 07:30] guybe7 commented on #7649
@oranagra @madolson @yossigo @soloestoy we need to pick an option and design/implement

[2020-08-17 10:18] guybe7 commented on #7649
@madolson could you explain why do we need another rax?
i mean, why shouldn't XREADGROUP TIMEOUT do the following things:
1. go over the PEL (cap it with COUNT) and "claim" all entries that are "too idle"; and then
2. read entries from stream (new entries)

also,

what do you mean by "on the consumer group"? will two XREADGROUP with different idle-timeout change something in the group itself?

[2020-08-17 14:57] itamarhaber commented on #7663
@oran - actually, I believe symlinking is an optimization adopted by downstream (e.g. debian & docker). The core project actually makes real duplicate binaries, which is addressed by #5745. Do you see any reason not to accept that PR?

[2020-08-17 16:39] nitmws opened #7667 "[BUG] RDM 2020.2.225 on Windows Server 2019 does not launch after installing it"
**Describe the bug**

RDM version 2020.2.225 for Windows downloaded and installed on Windows Server 2019. After launching it an error is shown: "Library VCRUNTIME140_1.dll cannot be found". After copying the vcruntime140.dll to vcruntime140_1.dll other library-internal errors are shown.

**To reproduce**

Install 2020.2.225 on Windows Server 2019.

Note: version 2020.2.225 installed on Windows 10

[2020-08-17 16:46] itamarhaber commented on #7667
Hello @nitmws - this issue does not seem to belong to this repository, closing.

[2020-08-17 16:46] #7667 closed

[2020-08-17 17:21] renukamanavalan commented on #6133
Hi @oranagra , Did you try to address to  @kcudnik ?

[2020-08-17 17:28] oranagra commented on #7663
odd, i remembered we had symlinks too. i'll look at the PR.

[2020-08-17 18:18] oranagra commented on #6133
@renukamanavalan you just did..
i don't understand you're the one who reported it... not @kcudnik
also i'm not clear on your opening statement: `This one appears to have a different Stack trace.`

maybe i'm missing some context, but anyway, in order to try get to the bottom of it you'll need to reproduce it and provide more info.

[2020-08-17 18:41] yossigo commented on #4856
@patpatbear With the same version or newer? v3.2.9 is really too old, but if this is a reproducible issue with newer versions it deserves attention of course.

[2020-08-17 19:20] renukamanavalan commented on #6133
Sorry about it. Being more than a year back, I lost track.

If I recall correct, there was already an issue filed for redis-server crash, yet we filed this, since BT was different, in the hope that multiple different BT could be helpful to debug.

We have upgraded the redis-server, and we have not seen this crash.

Thank you!

[2020-08-17 19:59] oranagra commented on #6133
maybe if you change `lua-replicate-commands` to `no` you'll see it again (but i suppose you don't wanna take that risk).
anyway, considering this is possibly an issue with a mechanism soon to be deprecated, and considering we can't resolve it without knowing more, and considering the changes that we'll know more are slim: i think i'll close this issue now.
if you ever see that crash again (in `lua

[2020-08-17 19:59] #6133 closed

[2020-08-17 20:39] hwware commented on #4541
I agree with @nashe , this looks like OOM issue indeed. Most likely your EC2 instance doesn't have enough memory.. @OscarGibson  Since this is too old, can you close this issue? thanks

[2020-08-17 21:10] hwware commented on #4799
Hello @sonchu ,sorry for the late reply, the reason it is causing continuous fail over is because by default every 1 sec sentinel will send ping command to check the availability of monitoring masters, if the configured down-after-milliseconds passed and it doesn't successfully receive the correct reply, it will mark the master for S_DOWN state and that may cause the failover if most of  sentinel

[2020-08-17 21:14] hwware commented on #4748
Hello, this issue looks like has been already fixed now.. recommend to close this and https://github.com/redis/redis-io/issues/111 @oranagra @itamarhaber

[2020-08-18 05:34] oranagra commented on #4541
also note that it fails in `createReplicationBacklog`, maybe the config value of `repl-backlog-size` is set incorrectly to some insane value.
p.s. if you still have that full log file, look up one line above the portion you posted, and you'll see how much memory was attempted to be allocated.
meanwhile, i'm closing this issue since it doesn't indicate a bug in redis.
feel free to re-open if you fe