[2020-10-08 14:51] #7892 closed

[2020-10-08 15:05] felipou commented on #7388
Both, really. I recently implemented something in my company that had the exact same requirement: "subscribe" (starting a loop of XREAD) and get the last element at the same time. I solved by just calling XREVRANGE before to get the last element, didn't even think about the possibility of changing XREAD, but looking through the issues for the next milestone here, I saw this issue and got intereste

[2020-10-08 15:25] vvaradarajan commented on #1258
@PratikStar: Redis has an OBJECT IDLETIME which can be used for LRU. Recall LRU is least recently 'used' and not to be confused with 'oldest'

[2020-10-09 06:44] trimstray commented on #7840
@oranagra : thanks a lot!

[2020-10-09 06:44] #7840 closed

[2020-10-09 16:08] joshuawscott commented on #4213
1. This is not necessarily the commit that introduced the problem, but it is the first commit that compiled after the problem was introduced, if I recall correctly

The evictions seem to occur when the key dict is being re-hashed based on what I remember digging into this a few years ago.

[2020-10-09 22:41] kalenp commented on #6565
Thank you for the update.

[2020-10-10 18:13] monney opened #7896 "[BUG] Error: Protocol error, got "H" as reply type byte when trying to run any command"
**Describe the bug**
I can access Redis inside the Redis docker container and from other docker containers, but am not able to from the host machine. I am using Docker NAT and connect to the database correctly but cannot run any commands from the host machine without this error.
**To reproduce**
Steps to reproduce the behavior and/or a minimal code sample.
redis-cli

**Expected behavior**
PONG
**A

[2020-10-10 18:46] monney commented on #7896
Binding configuration issue on my end

[2020-10-10 18:46] #7896 closed

[2020-10-10 20:49] kumarvadivel opened #7897 "[BUG]"
**Describe the bug**
unable to copy paste in redis-cli
A short description of the bug.

**To reproduce**

Steps to reproduce the behavior and/or a minimal code sample.

**Expected behavior**

A description of what you expected to happen.

**Additional information**

Any additional information that is relevant to the problem.

[2020-10-11 01:04] madolson commented on #7897
Would you mind leaving a little bit more of a description for the behavior you are expecting?

[2020-10-11 01:06] madolson commented on #5890
This was fixed by the PR

[2020-10-11 01:06] #5890 closed

[2020-10-11 06:51] yossigo commented on #4213
@joshuawscott You are right about that, the hash table size is also accounted for, so rehashing can create a memory usage spike that consequentially triggers an eviction spike. However, I believe output buffer related over-eviction is by far more common.

Related to #7676

[2020-10-11 07:30] yossigo commented on #5571
@oranagra Please see my note about `MULTI` above. I really don't think we want `CLIENT RESET` to exit `MULTI` state.

[2020-10-11 08:00] oranagra commented on #5571
@yossigo so you're ok if a client issues `DISCARD` and `CLIENT RESET` together, right?
what about a single `CLIENT RESET WITH_DISCRAD` or `CLIENT RESET ALL`?
considering that we document that `CLIENT RESET` discards MULTI, i don't see why the above are different.
i.e. if we document that `CLIENT RESET` is like disconnecting the socket and reconnecting, the state after it is clear, and i don't see

[2020-10-11 08:17] yossigo commented on #5571
@oranagra My problem is just with the complexity involved. Currently the definition is very simple and we'll be introducing additional complexity (i.e. `MULTI` can now be terminated by a `CLIENT` command but only with a specific subcommand).

[2020-10-11 10:26] k-bx opened #7898 "`CONFIG SET requirepass ""` leaves auth enabled, sets password to empty"
Starting from [here](https://github.com/redis/redis/issues/3557#issuecomment-533009285) I believe, after you've enabled AUTH and then ran `CONFIG SET requirepass ""`, you'll get a redis instance that requires an empty password authentication. I've noticed that by seeing our [Haskell's driver](https://github.com/informatikr/hedis) test cases becoming broken.

If this is a bug – I'd love to see this

[2020-10-11 11:55] oranagra commented on #7898
@k-bx thanks for reporting. seems like an issue introduced by ACL (Redis 6.0).
should be solved by #7899

[2020-10-11 11:56] oranagra commented on #3557
@mors741 should be solved #7899

[2020-10-11 14:21] #7801 closed

[2020-10-12 06:58] yatsukhnenko commented on #5571
@yossigo it may be `RESET` command as @tzickel proposed and not `CLIENT RESET`. Also you may add logic for reset connection to `DISCARD` command and document it.

[2020-10-12 07:20] hbina commented on #7897
Copy pasting _does_ work in redis-cli tho?

[2020-10-12 07:35] oranagra commented on #7897
@kumarvadivel copy paste is a feature of the terminal emulator, not the cli application in this case.
please describe which platform / OS you're using, which version and exact steps to reproduce your problem.

[2020-10-12 08:02] guybe7 commented on #7878
hello @manast
what you described is actually not a bug, it's a misuse of the API: you're not supposed to "signal a key as ready" when the key doesn't exist (and thus, obviously not "ready")

[2020-10-12 08:09] guybe7 commented on #7878
may i know the reason you want to signal a non-existing key as ready? if it's a compelling enough we may consider to relax the definition of a "ready" key (i.e. now we assume a "ready" key must exist)

[2020-10-12 08:36] manast commented on #7878
@guybe7 This was me trying to find all corner cases for SignalKeyAsReady, however the case that actually was a problem for me was this one (I have finally found a workaround using UnblockClient instead that works for my specific use case): https://github.com/redis/redis/issues/7880
so in other words, it makes sense that it does not work for non-existing keys but it would be probably good to have a

[2020-10-12 08:40] guybe7 commented on #7879
hello @manast
there are two different mechanisms for blocking a client:
1. "regular" blocking: the module blocks a client, does some processing in a different thread and unblocks the client using RM_UnblockClient
2. "key" blocking: the module blocks a client pending a specific state of a key. when the key reaches some desired state RM_SignalKeyAsReady should be called and the client is unblocked

[2020-10-12 09:06] manast commented on #7879
yeah, basically I knew already all you wrote above after many tests and investigations. The problem is that as I show in https://github.com/redis/redis/issues/7880  RM_SignalKeyAsReady does not work when called from a timer callback or from a thread (probably the timer callback is called from a thread too it is my guessing). So I am forced to use RM_UnblockClient and of course is a bit inconvenien

[2020-10-12 09:54] guybe7 commented on #7880
@manast it seems you pass `argv` to `RedisModule_CreateTimer` but as soon as `HelloworldRand_RedisCommand` finished `argv` is not a valid pointer anymore... maybe just pass argv[1] (after retaining it)

let me know if the issue is still happening

[2020-10-12 09:55] guybe7 commented on #7878
@manast NP i will push a commit with updated docs/comments

[2020-10-12 09:55] guybe7 commented on #7878
closing

[2020-10-12 09:55] #7878 closed

[2020-10-12 09:57] ahululu commented on #4809
hello,can you help me? I got this problem too.how do you update redis and don't stop the redis server

[2020-10-12 10:01] guybe7 commented on #7879
it seems to me the "problem" here is that there's no access to privdata from the timeout callback (after #7880 is cleared that won't be a problem for you as you will not need to call RM_UnblockClient any more)

TBH i don't really see an advantage on accessing privdata in the timeout_callback... after all, it's just a timeout, why would you need privdata? @oranagra thoughts?

[2020-10-12 10:11] oranagra commented on #4809
@madalion if you got the error message at the top, it means redis was compiled without defrag support. you can't enable it without restarting your server.
you can however, create a replica that as it enable, and then switch-over to it.

[2020-10-12 10:16] oranagra commented on #7879
I think it's always better if any callback would get a privdata.
question is if we can do that easily, and without breaking backwards compatibility.

[2020-10-12 10:19] ahululu commented on #4809
but I also get a problem: bgsave don't work ,i just google and find that means i can't create a replica because ,create a slave
requires the bgsave command.
`127.0.0.1:6379> CONFIG GET dir
1) "dir"
2) "/home/centos/redis"
127.0.0.1:6379> BGSAVE
Background saving started
127.0.0.1:6379>
[root@redis redis-5.0.4]# ls /home/centos/redis
[root@redis redis-5.0.4]#`

[2020-10-12 10:24] oranagra commented on #4809
@madalion a slave doesn't require a BGSAVE command, although it does depend on similar mechanism.
please have a look at your log file to see why the save fails. if the problem is related to disk access maybe you can fix it, or switch to diskless replication.

[2020-10-12 10:35] ahululu commented on #4809
sorry , i have also a problem ,the running redis server don't set redis log file . i have try to set it,but i have not found the method while the server still running and don't stop the server.

127.0.0.1:6379> CONFIG GET logfile
1) "logfile"
2) ""

how can i get log ....

[2020-10-12 10:39] oranagra commented on #4809
@madalion i'm sorry, but this is not the right place to ask such questions (this is the place to report bugs, or suggest improvements).
please refer to the documentation, or ask for help in other [places](https://redis.io/community).
Besides, i'm not at all clear on why you concluded that activedefrag is the solution to your problem (posting in this closed issue).

[2020-10-12 10:45] ahululu commented on #4809
tank you help me a lot.

[2020-10-12 10:53] guybe7 commented on #7879
yes it's very simple, we just need to assign `ctx->blocked_privdata` before calling timeout_callback

[2020-10-12 11:45] manast commented on #7880
I updated the test code, it is still happening.

[2020-10-12 11:47] guybe7 commented on #7880
i still see
[code]

instead of
[code]

[2020-10-12 11:49] manast commented on #7880
not anymore :). I just forgot to update that in the issue, in my code it is correct.

[2020-10-12 11:51] manast commented on #7880
but as I mentioned, if you push before creating the timer then the call to signalKeysAsReady works, so the pointer must be correct, the problem is when you push from inside the timer AND you call the signalKeyAsReady from inside the timer.

[2020-10-12 11:54] manast commented on #7879
Normally it is a timeout but when you call UnblockClient manually even though it calls Timeout it has been called before the actual timeout time has passed. What is a bit confusing to me is why UnblockClient has a different behaviour when using RedisModule_BlockClientOnKeys than when used with RM_BlockClient.

[2020-10-12 12:04] guybe7 commented on #7880
ok so indeed there's a bug: the function that releases blocked clients (handleClientsBlockedOnKeys) is called only from processCommand (i.e. the assumption is that only a command can cause a key to be "ready" - but that assumption seems to be an over-simplification)

we can either call handleClientsBlockedOnKeys at the end of moduleTimerHandler or every once in a while in serverCron (seems a bit m

[2020-10-12 12:15] guybe7 commented on #7879
the reason is that under normal circumstances a client that was blocked with BlockOnKeys should be released with SignalKeyAsReady and not by UnblockClient.

when you use BlockClient you don't provide privdata; when you unblock it you do (this is usually the case for threads: the worker thread has some information that should be in the reply of the unblocked client).

when you use BlockClientOnKeys

[2020-10-12 12:42] oranagra commented on #7880
i think this was indeed overlooked, and i guess we should call handleClientsBlockedOnKeys from beforeSleep too.

[2020-10-12 14:13] #7879 closed

[2020-10-12 14:14] oranagra commented on #7880
handled vie the above mentioned PR.

[2020-10-12 14:14] #7880 closed

[2020-10-13 13:16] ShooterIT commented on #4496
A guess FYI @oranagra
There may be some terrible things when redis starts to evict keys. Before #5126 (incorrect not-counted memory) and #7202 (continue to add reply bulks to reply buffer if close asap), there will be a big gap of not-counted memory (got by `freeMemoryGetNotCountedMemory`) if master has many slaves, and it may be continue to worsen when master evicts more keys and feeds more repli

[2020-10-13 14:09] oranagra commented on #4496
@ShooterIT do you mean to say that maybe this incident is already resolved by some fix that's already merged?

IIRC, the fix in #5126 was for a problem that was created in redis 4.0, so not applicable for this specific report (v2.8).
And i don't consider the fix in #7202 related: IIRC it would have stopped appending to the output buffer of that client, but instead of releasing that memory immediat

[2020-10-13 15:26] ShooterIT commented on #4496
Yes, even though I really know what happened, redis used 40G, there is small possibility with rehashing, I also notice that maxmemory-policy is allkeys-lru. And I truly think #5126 make great sense and some problems mix with it. Incorrect not-counted memory computation just like a blasting fuse makes things terrible.

I also want to provide my thoughts for you. For #7202 , I think it is more likel

[2020-10-13 16:36] oranagra commented on #4496
@ShooterIT i've seen this many times, including recently.
a burst of MGETs/HGETALLs from multiple clients, populating output buffers faster than clients read it, leading to eviction of all the keys, and no client disconnection.

i don't see a reason to think it is rarer than a case of multiple clients reaching the output buffer limit in the same event loop cycle (i.e. the later case requires bigge

[2020-10-14 03:26] ShooterIT commented on #4496
@oranagra  Oh, thanks for correcting me.

Maybe the problems we have are different, for `normal` in `client-output-buffer-limit`, it is not limited by default. That is convenient for users to get everything they want, but we lose the control of used memory, actually, in our company internal, we may limit users' behaviors to make service stable, and even can set small size for `normal client-output

[2020-10-14 06:38] #7898 closed

[2020-10-14 19:10] oranagra commented on #7897
closing.
please feel free to re-open and/or post more details.

[2020-10-14 19:10] #7897 closed

[2020-10-15 07:00] tmgauss commented on #6599
Hello, @madolson

Actually, I am tackling this issue with my friends at university. We almost finished coding as follows

- Make ```copyCommand``` func to ```db.c```
- Add ```copyCommand``` func to ```server.c``` and ```server.h```

Then, I have two questions:

1. Is it enough to copy data and notify other clients by ```signalModifiedKey``` func & ```notifyKeyspaceEvent``` func?
2. Is it enought t

[2020-10-15 08:19] oranagra commented on #6599
@tmgauss the answer to your questions is "yes", but note that both the implementation and tests need to cover all data types (i.e. do a deep copy of everything).

[2020-10-15 12:36] tmgauss commented on #6599
Thank you for your swift reply.

Okay, then I'll discuss more about how to implement the command with my teammates.

[2020-10-15 15:08] lukepalmer commented on #7563
@oranagra good thought about returning more than one element. I've observed that when using BCAST the client will sometimes receive invalidation arrays that are not of size 1. AFAICT this isn't documented in the protocol.

So: I think that particular concern should be a non-issue here: if clients are expecting size 1 then they are already broken :(

[2020-10-15 15:50] oranagra commented on #7563
That's nice to know, but i'm not sure that argument is enough.
Since the response size is currently controlled by the client's input (using BCAST or not), a client / application can rely on it (and have no bugs).
I.E. An application that's not using BCAST may be relying on getting an array with just one.

Not sure that's a justification not to do that change.
however maybe it should be shipped in

[2020-10-15 16:51] fadidahanna opened #7914 "[QUESTION] Bitop operation on list of empty operands"
In case all the bitop command operands are empty (or none exist), maxlen will not be updated, and therefore remains zero, which lead to deletion of the target key - https://github.com/redis/redis/blob/unstable/src/bitops.c#L763.
This is an unexpected behaviour which is not documented in redis.io (see https://redis.io/commands/bitop).

[2020-10-15 17:18] oranagra commented on #7914
@fadidahanna it seems correct behaviour to me. Maybe I'm missing something.

In redis a missing key is considered an empty set, empty list, etc.
eg. when you pop the last element from a list, it deletes the key.

If you perform an SUNIONSTORE and such, it either replaces the dest key, or deletes it if the result is an empty set.
As you can see in the code it looks very intended.

So much like a un

[2020-10-15 18:26] fadidahanna commented on #7914
Summary of a discussion with @oranagra on DM - In case of NOT operation on an empty/non existing key: the operand is consider to be a string with 0 bits length, and therefore the output is 0 bits length too and the key indeed need to be deleted.

[2020-10-15 18:33] #7914 closed

[2020-10-16 01:58] QuChen88 opened #7918 "[BUG] WATCH ignores keys which has expired"
Currently, WATCH in a multi-exec transaction will ignore expired keys. So if a key that was previously being watched is expired and deleted from Redis, WATCH will not consider it at all... There is a TCL test for this behavior

https://github.com/redis/redis/blob/unstable/tests/unit/multi.tcl#L224

However, this behavior doesn't seem to make a lot of sense to me. If I am watching an item and the i

[2020-10-16 02:04] hwware commented on #3834
thanks @viennadd , this should be fixed by https://github.com/redis/redis/pull/7307 and https://github.com/redis/redis/pull/7919.

[2020-10-16 02:12] madolson commented on #7918
This was previously brought up in https://github.com/redis/redis/issues/6860, It looks like salvatore agreed but no one did anything about it.

"I mean, if you WATCH a key, and it gets deleted for whatever reason, you expect the watch to fail. Looks like a bug, I'm surprised no one complained about it for so many years. People must not be using watch that much..." Got a thumbs up

[2020-10-16 03:13] madolson commented on #6860
Did we do all these things?

[2020-10-16 03:13] madolson commented on #6860
@oranagra ^

[2020-10-16 04:16] madolson commented on #1643
We did end up making crc fast :D

[2020-10-16 04:16] #1643 closed

[2020-10-16 04:23] madolson commented on #1994
This got merged

[2020-10-16 04:23] #1994 closed

[2020-10-16 04:24] #1969 closed

[2020-10-16 04:33] madolson commented on #2672
I'm going to partially revive this and add some clarifying comments to see if people are still interested in this.

I like the idea of sending messages to a specific shard, but I think we should introduce a new set of commands that is specifically cluster aware OR introduce a flag to switch between the current mode and the new mode. I'm inclined to introduce a new set of commands that are purely c

[2020-10-16 04:37] madolson commented on #6599
Oran is always watching :D

A reminder that there is a DEBUG digest you can use to verify the keys: https://github.com/redis/redis/blob/unstable/src/debug.c#L388

@tmgauss How did you find and decide to work on the issue, if you don't mind me asking?

[2020-10-16 04:39] madolson commented on #2191
It does now

[2020-10-16 04:39] #2191 closed

[2020-10-16 04:43] #2598 closed

[2020-10-16 04:51] madolson commented on #2707
Those are not the same equality.

[2020-10-16 04:51] #2707 closed

[2020-10-16 04:59] madolson commented on #3044
Hi Parth! I fixed your issue awhile ago with allow_reads_while_cluster_down, enjoy!

[2020-10-16 04:59] #3044 closed

[2020-10-16 05:02] madolson commented on #3147
That would push a lot of complexity to the clients. This is probably not going to ever get implemented.

[2020-10-16 05:03] madolson commented on #3307
It could be parameterized, but ACLs don't have that limitation, so considering this closed.

[2020-10-16 09:05] oranagra commented on #6860
@madolson we didn't do anything from that list except for number 8 (now marked as strike though)
and i don't think i even noticed that Salvatore gave me a thumbs up for my slack post about the topic of #7918.
we need to pick up on this list and handle most of them.

[2020-10-16 12:25] oranagra commented on #3147
I would add that having redis process a command that access multiple slots which happen to be on the cluster node that received it, would mean that some applications that are not really "cluster ready", may appear to work on a cluster, until some resharding happens and then they'll suddenly break.
So we probably never want commands such as SUNIONSTORE or MULTI-EXEC to allow that.
Regarding MGET an

[2020-10-18 07:15] #6204 closed

[2020-10-18 10:49] asleire opened #7923 "[NEW] ACL pattern support for pub/sub"
**The problem/use-case that the feature addresses**

In a microservice environment we may have many clients connecting to the same Redis instance. Due to ACL we may now let these clients have restricted access to their own namespaces for stored data, but we can not give them access to pub/sub without giving them the possibility to interfere with eachother.

**Description of the feature**

It shoul

[2020-10-18 16:14] alpeer opened #7925 "[NEW] SCRIPT REMOVE shasum"
**The problem/use-case that the feature addresses**

Our scripts may change due to requirements of our system but current scripting API doesn't provide command for script replacement or script removal. Pushing updated scripts increase memory usage by time-unnecessarily- and only way to avoid this is removing ALL scripts with SCRIPT FLUSH. But it also creates exceptions and "data or service quality

[2020-10-19 01:27] tmgauss commented on #6599
@madolson Actually because we're taking the class where we contribute to OSS!!

[2020-10-19 01:34] trevor211 commented on #7297
I think it is not easy to design for every existing commands keeping the purpose of existing fields as they are.

In order to provide a way for clients to cache, we can only use `COMMAND INFO` instead of `COMMAND GETKEYS`.
Based on current design, we can add an additional field for the output of `COMMAND INFO`, e.g. `numkeys `.
We could provide a `get_command_info_proc` handle for each command jus

[2020-10-19 01:52] guotie opened #7927 "[CRASH]"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1. OS distribution and version
Linux

6.0.6

2. Steps to reproduce (if any)

[2020-10-19 04:00] oranagra commented on #7927
@guotie can you please upload the executable you used (hopefully it can provide more details on the stack trace of the crash)

[2020-10-19 04:33] #7708 closed

[2020-10-19 05:17] trevor211 commented on #2576
I think @antirez has already made it clear:

In a nutshell, it is the result of a balance between message size and average number of slots held by a master.

[2020-10-19 05:18] guotie commented on #7927
[redis-check-rdb.zip](https://github.com/redis/redis/files/5399216/redis-check-rdb.zip)

[2020-10-19 06:43] oranagra commented on #7927
@guotie any chance you have the same build with the debug symbols (in case they were stripped after compilation)?
some thing don't make sense. i don't see how `rdbSave` can lead to `je_malloc_usable_size`

[2020-10-19 07:27] oranagra commented on #7297
maybe the response should be an array possibly holding more than one key-range spec.

ZUNIONSTORE could have something like this:
[code]

for SORT STORE we can have:
[code]

for XREAD we can have:
[code]

The above may also in some way fit STRALGO LCS, but i have a feeling i rather break it into smaller commands and deprecate it.

[2020-10-19 09:10] guotie commented on #7927
I use apt install it

[2020-10-19 11:02] romberli commented on #4851
@smartlee ,what kind of kernel bug? any document?

[2020-10-19 11:25] oranagra commented on #4851
since this was resolved and not an issue with redis, i'll close it.
p.s. another usual suspect for freezing processes may be numa_balancing

[2020-10-19 11:25] #4851 closed

[2020-10-19 11:49] oranagra commented on #7927
@guotie can you please check what you have in the log file just above the crash log?
i'm suspecting it's "Failed opening the RDB file"...
maybe your disk became non-writable?
still trying to figure out why it cased a crash.

[2020-10-19 12:07] oranagra commented on #7927
@guotie please specify your apt source (from the disassembly it doesn't like like clean redis 6.0.6)

for the record:
it looks like rdbSave is calling zfree after logging "Failed opening the RDB file"

[2020-10-19 12:26] sivanagireddyb opened #7928 "[BUG] Sentinel returning master ip instead of hostname which is failing in case of TLS"
**Return master Hostname instead of ip**

When we request a master address to sentinel it's returning IP instead of HOSTNAME so the backend node js client is trying to connect with IP and server returning error saying IP doesn't match the certificate

My config is below with 3 Redis processes(1master 2 slaves) on different ports on the same server. And 3 sentinels as same
**Note**: I have proper S

[2020-10-19 12:32] #3834 closed

[2020-10-19 12:43] oranagra commented on #5762
looking at the report for dict.c, it seems like a false positive, unless fortify knows something that i'm missing and isn't specifying it (in this screenshot).
it looks like it complains that `d->ht[1].table[h]` would overflow (`h` being outside of `table`).
i wonder why it doesn't report that on the line above it.
anyway, `h` is `&`ded with `sizemask` which is the mask computed for the size of `t

[2020-10-19 12:43] #5762 closed

[2020-10-19 13:40] oranagra commented on #7928
@sivanagireddyb can you please add a bit more details, and maybe an example showing the problem to avoid confusion?

[2020-10-19 14:05] sivanagireddyb commented on #7928
@oranagra Added detailed description

[2020-10-19 15:09] MrYourM opened #7929 "[QUESTION]Can redis slots migrate impact clients write and read operater"
Hi

I make a redis cluster 5.0.8 recently, when I migrate one slot manually through [url](https://redis.io/commands/cluster-setslot#redis-cluster-live-resharding-explained), migrated slot is migrating or importing status and the key in slot has been migrated to dest node,  I find that clients operater（include write and read） for key in migrated slot occur an ask erro

So what details does redis do

[2020-10-19 23:36] filipecosta90 opened #7930 "[BUG] redis-benchmark non clustered benchmark forces always the same hash tag {tag} which makes proxy setups to be limited by standalone performance"
**Describe the bug**

Given that on redis-benchmark we only replace the tag placeholder ":{tag}" when the `--cluster` flag is passed, on setups that rely on a proxy to abstract the cluster topology to the client this makes them to be limited by standalone performance ( given that we're always targeting the same hash slot )

**To reproduce**

Run for example a benchmark with a keyspace length large

[2020-10-20 00:47] guotie commented on #7927
[code]

[2020-10-20 03:59] ShooterIT commented on #7676
@oranagra  For rehash impact, I have an idea
When expand dict, we will allocate a new big `ht[1]` that is double of `ht[0]`, The size of `ht[1]` will be very big if `ht[0]` also is big. for example, for `db` dict, if we have more than 100 million keys, we may use 2GB for `ht[1]` when expand dict.
I think we shouldn't allocate a new big `ht[1]` for expand dict if the sum of used memory and new `ht[

[2020-10-20 04:37] oranagra commented on #7927
it turns out there's a bug in the PPA code. but it's only triggered in this error condition.
for some reason your disk wasn't writable and that crashed the child child process, if you'll solve that you'll be ok until the bug is fixed.

[2020-10-20 09:09] lassizci opened #7933 "[BUG] Redis-server should refuse to start with wrong bind address"
**Describe the bug**

When there are multiple addresses to bind, such as
[code]
but 192.168.0.1 isn't present, redis starts listening only to 127.0.0.1. IMO this is a configuration error which should lead to startup error. This is an issue when redis should be listening to an interface that comes up by a userspace service happening later than redis. That's of course not an issue if redis binds to

[2020-10-20 10:24] oranagra commented on #7676
@ShooterIT that's indeed an interesting idea that is worth examining in detail in another issue / PR.
This issue is about disconnecting clients when the sum of their output/input buffers crosses a limit.

[2020-10-20 14:47] VakoNonikashvili opened #7934 "[NEW] Add BLPOPMANY and BRPOPMANY to Lists"
Hi, I have Redis-backed MQ and my goal is to process many list nodes at once. Now it's not possible with redis, because it supports only BLPOP and BRPOP (only pops 1 item from list).

API receives high amount of requests per second and goal is to store them in SQL. Firstly, I store them in Redis list and then popping items and storing in SQL.  In SQL bulk inserts are faster/cheaper than single ins

[2020-10-20 16:52] #7930 closed

[2020-10-20 16:53] dipAch commented on #3978
Is this still an open bug? It seems to be working as expected from redis-cli against commit-id -> `c3f9e017`

[2020-10-20 17:00] oranagra commented on #7933
@lamby in #5598 you added `EADDRNOTAVAIL`, can you please comment here if this was indeed desired.
i see that a few years earlier i already added handing for `EAFNOSUPPORT` (#3467), but maybe it got broken later. (didn't try to test it again / yet)

[2020-10-20 17:31] oranagra commented on #3978
i can confirm this indeed works in unstable (tested both the interactive and and argv input modes of redis-cli). i suppose someone fixed it accidentally.

[2020-10-20 17:31] #3978 closed

[2020-10-20 17:37] oranagra commented on #7934
@VakoNonikashvili have you considered [streams](https://redis.io/topics/streams-intro)?

[2020-10-20 18:16] lamby commented on #7933
Well, I can't imagine I would have created that PR if it were not required.  :)  I don't have the bandwidth to pick through and reload the exact history into my mind though, unfortunately, and I don't think I'm qualified enough to really appreciate the difference between `EADDRNOTAVAIL` and `EAFNOSUPPORT` etc .etc. Not quite my area, alas. Good luck. :+1:

[2020-10-20 20:34] madolson commented on #7934
I agree that streams can probably solve this use case, but it might be a bit slower. It might be worth trying to profile the difference.

[2020-10-21 05:35] oranagra commented on #7934
I agree this feature makes sense, was trying to suggest a solution that's already implemented.

I was gonna suggest to just add COUNT argument like we have for LPOS (returning an array if provided or flat one item when missing).
But i see this request already exists #766, unless i'm missing any difference, let's close this one as a dup, and try to promote the other one for implementation.

[2020-10-21 05:39] oranagra commented on #766
@felipou seems in the area of your recent work, maybe you'll want to pick this up.

[2020-10-21 06:31] stanislavlevin opened #7935 "[BUG] HINCRBYFLOAT representation on ARM 32bit"
**Describe the bug**

`HINCRBYFLOAT` return different results on different platforms.

**To reproduce**
Following https://redis.io/commands/hincrbyfloat

ARM 32bit arch:
[code]

while ARM 64bit, x86_64, i586, PPC64LE:
[code]

**Expected behavior**
I expect that all the representations would be the same on all supported arches.

**Additional information**

[code]

[2020-10-21 07:18] oranagra commented on #7933
@lamby
Ok, i understand why the fix i did wasn't enough and you had to add that change.
My PR ignored EAFNOSUPPORT only in case bind address wasn't specified explicitly (in which case redis tries to bind to both v4 and v6 as default), but my PR didn't ignore the error in case the v6 address was specifically requested by the config file.
I thought this behavior (skipping the error in case it was ex

[2020-10-21 07:39] VakoNonikashvili commented on #7934
@oranagra I agree with COUNT argument instead of new commands.

Lets close this issue and continue in #766

I will find another way to ingest and process data for my MVP app, maybe redis streams.

[2020-10-21 07:40] #7934 closed

[2020-10-21 08:22] oranagra commented on #3894
solved by #5598 (redis 5.0.3) and improved by #7936

[2020-10-21 08:22] #3894 closed

[2020-10-21 08:45] oranagra commented on #7935
Redis is using [long double](https://en.wikipedia.org/wiki/Long_double), which on most platforms is implemented as 80-bit [Extended precision](https://en.wikipedia.org/wiki/Extended_precision#x86_extended_precision_format).
But this isn't mandatory by the spec, and some architectures (e.g. 32 bit ARM and a few others) simply use it as a synonym for double (64-bit).

[2020-10-21 11:33] yossigo opened #7937 "Redis Cluster crashes on certain armhf platforms."
This is a result of unaligned memory access which results with `SIGBUS` on certain armhf (armv7l) platforms, in some configurations. This does *not* reproduce on all platforms (e.g. RaspberryPi 4 with Raspbian seems OK).

Crash is a result of `clusterReadHandler()` using an `sds` buffer and passing an unaligned `clusterMsg *` pointer to `clusterProcessPacket()`. Code should be refactored to use a

[2020-10-21 15:55] chenjie199234 opened #7941 "[NEW] Add command to create empty list key which will not be deleted automaticly when it is empty"
**The problem/use-case that the feature addresses**

use list like a message queue.
consumer create empty list and blpop block on it,and cyclely update it's expire time
publisher use rpushx to add data
publisher can notice the end of this message queue by the rpushx's result,and the push event can stop

scene:
there are one client and one hundred servers
one client blpop on one list,all server rpu

[2020-10-21 17:21] felipou commented on #766
Ok, I'll take a look!

[2020-10-22 02:49] minilek opened #7943 "[QUESTION] LFU Morris Counter"
The documentation page https://redis.io/topics/lru-cache states that LRU uses the Morris Counter, but it seemed to not be the case when I tried looking at the source code (line 315 of https://github.com/redis/redis/blob/unstable/src/evict.c). I am raising this issue since I'm not sure whether it's intentional or a bug.

Before I continue, I should give some background since not everyone reading th

[2020-10-22 05:13] felipou commented on #446
I'm currently working on getting a pull request ready for this. I took @parrish 's PR as reference to reimplement this in the current codebase, should be ready soon. But I have a couple questions for now (later we can move the discussion to the PR):
- The ZUNION and ZINTER commands have an AGGREGATE option, does it make sense for ZDIFF? If so, what exactly should it do? Would it be like ZUNION, bu

[2020-10-22 06:27] oranagra commented on #7943
@minilek thanks for reaching out.
I see Salvatore wrote a [blog](http://antirez.com/news/109) post describing his process that lead to the creation of this code, but unlike the [docs](https://redis.io/topics/lru-cache), this one doesn't specifically mentions Morris Counter.

Salvatore is no longer involved, so i'm not sure he'll comment, but i'd say for him that he usually had a way of looking aro

[2020-10-22 07:09] gripleaf opened #7944 "`Manual Failover` start failover election trigger by `clusterCron` has 100ms delay"
here is my redis instance manual failover log
[code]

As we can see, between `Start of election` and `Starting a failover election` has 100ms delay.  Because after `Start of election`, redis didn't set `CLUSTER_TODO_HANDLE_FAILOVER` flag on `todo_before_sleep`, so we have to wait for next `clusterCron` be called.

So, if we can set `CLUSTER_TODO_HANDLE_FAILOVER` flag to speed up failover which is

[2020-10-22 07:22] yossigo commented on #7927
@guotie This has been a bug in the debian-specific patches, and it has been resolved in the new official PPA we maintain. If you want to use it, you'll have to use `sudo add-apt-repository ppa:redislabs/redis -y`.

[2020-10-22 07:27] oranagra commented on #446
@felipou thank you. from what i can tell the AGGREGATE and WEIGHTS options have no meaning for a DIFF operation, but maybe i'm missing some interesting use case.
I tried to skim though the various discussions, but didn't find anything.
Did you see some request for that? did the inverted weights idea you mentioned come up somewhere?
please provide a reference if there is one.

@itamarhaber are you

[2020-10-22 08:01] yossigo commented on #7927
Pinging @chrislea and @lamby, as the source of this crash is the Debian `0010-Use-get_current_dir_name-over-PATHMAX-etc.patch` which seems to exhibit two issues:
1. It uses `zfree()` to free an allocation done by `get_current_dir_name()`.
2. In another occasion it uses `zfree()` on a stack pointer.

Both cases only involve error handling/reporting code flows when failing to write local files so th

[2020-10-22 08:43] lamby commented on #7927
Thanks @yossigo. Can you share your patch that does not have those two issues so we can include them in the Debian package?

[2020-10-22 09:57] #7918 closed

[2020-10-22 12:06] yossigo commented on #7927
@lamby Sure I'll do that.

[2020-10-22 12:27] yossigo commented on #7929
@MrYourM `-ASK` errors are part of the [Redis Cluster Protocol Specification](https://redis.io/topics/cluster-spec) and clients must handle them to continue working well during resharding. Make sure you're using a client librayr that supports Redis Cluster and you're aware of any client-specific implementation details.

[2020-10-22 12:27] #7929 closed

[2020-10-22 12:33] yossigo commented on #7928
@sivanagireddyb Sentinel currently has other issues (such as #7758) when hostnames are used instead of IPs, so those will have to be resolved before addressing this particular issue.

Until then, the best option is to disable matching of hostname to certificate name. As long as your Certificate Authority is a private one, the security implications of this should be minor.

[2020-10-22 12:54] yossigo commented on #7925
@alpeer Thank you for this idea.

While this makes a lot of sense when you think of scripts as a kind of "stored procedures", the Redis concept of Lua scripts is different. The use of `EVALSHA` is considered a kind of optimization, but clients should not generally assume Redis manages a script repository for them. Adding a more specific delete mechanism kind of goes against that.

Having said that

[2020-10-22 13:36] yossigo commented on #7923
@asleire Thanks for the report.
We'll need to consider if/how this should be resolved. The naive approach could be to apply ACL key specifications to channel names, however:
1. This would not be backwards compatible.
2. That may not play well with patterns.

The other approach could be to extend ACLs to specify channel names.
@redis/core-team Any other thoughts here? Perhaps this should be conside

[2020-10-22 14:21] oranagra commented on #7297
I'll try to translate the above set of examples to a specification.

The 8th element of the command info array, if exists, holds an array of key specs.
The array may be empty, which indicates the command doesn't take any key arguments,
or may contain one or more key-specs, each one may leads to the discovery of 0 or more key arguments.

A client library that doesn't support this key-spec feature w

[2020-10-22 14:26] mvasi90 commented on #7928
The replica instance acts as client. Where is the client certificate and key?
The conf file is changed by the sentinel instance at any time. This means that the same conf file acts as server and client.

Redis uses the server key and certificate to connect to the server that uses the same key and certificate? pfff...
I think the redis push is hasty. It should be only local commits until a feature

[2020-10-22 14:49] oranagra commented on #7923
It seems like a trivial small step forward.
I suppose it should use a different modifier prefix than `~`, which will avoid breaking backwards compatibility.

Not sure we need to wait for a big revolution in ACL in order to add that feature.

@yossigo The patterns problem you're referring to is the subscribe patters, right?
that seems like a complicated issue indeed.
maybe we should permit a subscr

[2020-10-22 14:51] yossigo commented on #7928
@mvasi90 I think stating this doesn't work is very inaccurate.

You are right that currently there is no way to configure a different cert/key for Redis as as client. In many (most?) cases that's not an issue, but could become a problem depending on the configuration of the certificates (e.g. if key usage attributes are specified, etc.).

Additional configuration for separate certificates could be

[2020-10-22 15:00] yossigo commented on #7676
@ShooterIT Interesting idea indeed. It reminds me there were some past discussions about moving the global keyspace to be a RAX, which is of course more radical. I don't remember if that idea reached a design dead-end or just abandoned mid way.

[2020-10-22 15:07] mvasi90 commented on #7928
I'm using a Public Key Infrastructure with subordinate CAs and a client certificate acts as a client certificate, while a server certificate acts as a server certificate. I don't know what concept of security you have.

Of course, I wish I could do that but I'm very busy. When I appear "in public" saying something, it is because it is wrong.

You are right, it is another issue. But it is related w

[2020-10-22 16:28] mvasi90 opened #7946 "[NEW] Replica TLS certificate"
**The problem/use-case that the feature addresses**

Currently replication is not working with right Public Key Infrastructure (in my case with Subordinate CA) because the config file does not have any option to specify the **client** certificate and key.

**Description of the feature**

An option to specify the client certificate and the client key (`tls-client-cert-file` and `tls-client-key-file

[2020-10-22 17:33] minilek commented on #7943
I see. I'm teaching a [course this semester](https://www.sketchingbigdata.org/fall20/) covering sketching methods (including Morris Counters) and there's a research-oriented final project. I also do not have the bandwidth to investigate myself, but I will suggest looking into this further to students as a potential final project.

[2020-10-22 17:57] yossigo commented on #7946
Thank you @mvasi90 for raising this. This definitely makes sense to me as an optional configuration, which should affect all scenarios where Redis establishes a TLS connection as a client:

* Replica connecting to master
* Sentinel connecting to Redis
* Cluster bus client side
* Cluster node migrating keys to remote node

Adding SAN validation also makes sense (again, optionally) but will probably

[2020-10-22 20:43] npel-21 commented on #5740
I am having this issue on a Windows 10 Surface Pro using WSL 2 with Ubuntu 16.04. Sometimes my Python application (which is not running in WSL) has no issue connecting, but sometimes I get connection refused and I can't figure out why.

I can confirm Redis is running in Ubuntu:
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
redis       34  0.2  0.8 137160 107336 ?       S

[2020-10-23 00:56] felipou commented on #446
No, I didn't see anything, it just came up while I analysed the code.

Since the ZINTER and ZUNION are implemented together, and the pull request I used as reference also added ZDIFF to the same function, I'll have to actively ignore these options in the case of ZDIFF (as the reference PR did). But no worries, that's quite simple.

I'll finish up the pull request without these options then.

[2020-10-23 05:04] tmgauss commented on #6599
I'm glad to say that our team finished coding

- Can copy strings
- Can copy lists
- Can copy sets
- Can copy sorted sets
- Can copy hash
- Can copy stream
- Test whether COPY command can copy data properly

Then what should we do next? Should we send PR or email to the management team?

[2020-10-23 07:07] Cloud-Zhang opened #7949 "[QUESTION]How the command cluster flushslots mean"
I create one cluster with 3 maters and 3 replicas , and we do the rdb file backup and want to restore accoding the back up file, ps:when we do the backup we get the mater slots . so the data should like 0-5461.rdb. And the case is we want to restore the data to their original node. So i want to remove all the slots which belong to the node and use the backup info slots to provide this node slots.

[2020-10-23 07:24] gripleaf commented on #7944
cool!

[2020-10-23 07:24] #7944 closed

[2020-10-23 08:53] zhouyixiang commented on #7753
From the log, it looks like you have more than 3 sentinels and some of them are sdown.

[2020-10-23 12:13] oranagra commented on #6599
@tmgauss thank you.
Please submit a PR and we can continue the discussion and review there.
P.s. I suppose module keys cannot work with this command unless we add specific module API for that.
Also, I suppose it would be a good idea to try to run the tests with Valgrind.

[2020-10-23 14:48] no-name420 opened #7951 "How can I use KEEPTTL in Redis 6.0.8?"
I tried the following commands but they all fail with syntax error
[code]

[2020-10-23 15:29] oranagra commented on #7951
The first one seems right..

[code]

[2020-10-23 17:50] no-name420 commented on #7951
Thanks for the help, turns out I made rookie's mistake by having multiple instances of redis running on my machine...
One instance was the windows archive installation (redis version 3) and the other one was redis version 6 via WSL, and the client was automatically connecting to the version 3 server which doesn't support KEEPTTL...

[2020-10-23 17:50] #7951 closed

[2020-10-23 20:01] tzickel commented on #7297
@oranagra I like that idea (and modules should have an API for specifying this as well).

As for the read/write flags, I think that information might be informal in commands.json as well ?

Another thought is, can we push this more and somehow get the same info we get in commands.json here about all input arguments ?

https://github.com/redis/redis-doc/blob/master/commands.json

Without the full a

[2020-10-24 15:46] ShooterIT commented on #7676
@yossigo We ever discussed RAX implementation for keyspace in slack, but we don't push it further.
I submit a PR #7954 for dict reshash, also please have a look @oranagra

[2020-10-25 08:03] oranagra commented on #7297
@tzickel can you describe your use of commands.json?
are you in some way bundling it in your client library and use the metadata it provides for argument validation?

I agree that the `keyword` spec is vulnerable to some other argument carrying the keyword string. the only way i see around it is to let the client validate the executed arguments against the full command argument syntax (like the on

[2020-10-25 11:16] tzickel commented on #7297
Currently I have no use of it, buy it would be nice if it was possible to use it as a template for not writing a boilerplate for all the Redis functions, and auto code generation of the commands.

As for the keyword, maybe we can do, if you see the keyword twice in the input, then try any of them, if the server returns an key error, then ask the server for the key information for this specific ins

[2020-10-25 14:49] itamarhaber commented on #446
I'm not aware of any previous discussions on the matter, excluding one that I had several years ago with a certain Dr. Defining the meaning of these options in the context of ZDIFF, afaicr, is tricky and the value is debatable. I also motion for not supporting these, at least in the initial release of the command.

[2020-10-25 17:45] filipecosta90 opened #7960 "[BUG] redis-benchmark with pipeline not enforcing upper bound to number of requests."
**Describe the bug**
This is a small bug that can be easily reproduced by using redis-benchmark with a pipeline number larger than 1.

Bottom line we're issuing more requests to the server than expected (meaning we're not enforcing upper bound to number of requests) and this can be easily address by changing `atomicGetIncr(config.requests_issued, requests_issued, 1);` by `atomicGetIncr(config.requ

[2020-10-25 18:01] felipou commented on #446
Just created the PR: https://github.com/redis/redis/pull/7961

[2020-10-26 03:38] ShouZhiDuan commented on #7595
Hello! Use Redis-TLS，but  java client how to connect this redis-tls?

[2020-10-26 06:05] #7960 closed

[2020-10-26 13:07] filipecosta90 commented on #7595
Hi there @ShouZhiDuan , I believe you're looking for a Java client with TLS support correct?
If so, please have a look at [jedis](https://github.com/redis/jedis) and the following [jedis client issue](https://github.com/redis/jedis/issues/1417#issuecomment-258605180):

[2020-10-26 15:11] hwware commented on #4283
hi @jonasmao , thanks for reporting, this issue should be fixed by https://github.com/redis/redis/pull/5191, @oranagra suggest to close..

[2020-10-26 17:51] #4283 closed

[2020-10-26 20:37] kandy commented on #7021
Have the same unexpected behavior with XPENDING
[code]

[2020-10-26 21:48] johncantrell97 commented on #5212
Bumping an old thread because I'm running into this use case and would love to know if there any any new thoughts on the best solution to this problem until something can be included into core redis.

I am trying @vflopes solution via lua scripting but finding it really slow.  Also, I noticed that he's currently XCLAIM one entry at a time even though the command supports multiple ids.  I can't fin

[2020-10-26 22:00] madolson commented on #5212
@johncantrell97 Would you mind reviewing some of the approaches mentioned in #7649, specifically the XTRANSFER implementation to see if they meet your use case.

[2020-10-26 23:55] johncantrell97 commented on #7649
Just got pointed here from #5212 . I've implemented a slightly modified version of the lua script found in #5212 to do XPENDING + XCLAIM for items with idle time greater than some threshold but it's extremely slow and would love to see a native way to do this (assuming it would be faster).  Would also love thoughts on how to improve the performance of the lua script in the mean time (my only thoug

[2020-10-27 06:51] oranagra commented on #6117
handled in 5.0.10

[2020-10-27 06:51] #6117 closed

[2020-10-27 06:52] oranagra commented on #7689
handled in 5.0.10

[2020-10-27 06:52] #7689 closed

[2020-10-27 06:53] oranagra commented on #6226
handled in 5.0.10

[2020-10-27 06:53] ogulcankarayel5 opened #7968 "Redis works on deployment , It doesn't work on production with docker and heroku"
I am trying to develop an express api.It works on local machine as expected. I am using docker but on production with docker and heroku redis is not working

Dockerfile

[code]

docker.compose.yml file

[code]
redis file

[code]

I've already set REDIS_HOST variable as redis in .env file. The error on heroku is " Error: Redis connection to redis:6379 failed - getaddrinfo ENOTFOUND redis ". It work

[2020-10-27 08:07] oranagra commented on #7925
BTW, this is in some way related to #7814

[2020-10-27 10:12] guybe7 commented on #7021
if we want to fix this strange behavior we will have to pay in complexity: every time we trim or delete an entry from a stream we will have to scan each PEL of each cgroup and mark the NACK as "invalid" and make sure we don't account "invalid" NACKs in XPENDING, XCLAIM etc.
otherwise we can scan each PEL of each cgroup + each PEL of each consumer and just delete NACKs of a certain range.
anyway, i

[2020-10-27 10:20] guybe7 commented on #5934
note: this feature might be a bit problematic because XREADGROUP relies on the fact the each entry that was read is either in some PEL or has been processed and ACKed (i.e. the group struct keep a last_id member which is the last_id read. it only start reading new messages starting from this one)
if we want to implement this feature we would need to keep a rax of all NACKed messaged and have a XRE

[2020-10-27 11:18] guybe7 commented on #5934
maybe a better option would be to add a "reject" field to the NACK struct and have XREJECT command plus REJECTED modifier to XREADGROUP that will scan the entire group PEL and "read" only rejected entries (should be capped by COUNT)

this approach aligns with the XREADGROUP IDLE approach from https://github.com/redis/redis/issues/7649

[2020-10-27 11:27] guybe7 commented on #7649
i think we should solve this issue in the following order of implementaion:
1. XPENDING IDLE - very easy to implememnt
2. XAUTOCLAIM - also very easy
3.  XREADGROUP IDLE - can only return entries from the PEL - no new entries. will not have a blocking option
4. (for https://github.com/redis/redis/issues/5934 XREADGROUP REJECTED, XREJECT - similar conditions to XREADGROUP IDLE)

@redis/core-team pl

[2020-10-27 11:53] oranagra commented on #7649
sounds good to me (i do think it's nice to have all these options).
and indeed we should first implement the ones that are easy to implement (and harder to use), and then implement the one that's convenient to use but have it a bit limited so the implementation isn't too complex and fragile.

timing wise, i think this effort, and many other non-trivial streams improvements should be a good fit for

[2020-10-27 12:21] Jovons opened #7971 "[QUESTION]6.0.9 unable to make"
Just downloaded from [official link](https://download.redis.io/releases/redis-6.0.9.tar.gz).

[code]
However, make fails with lots of *error: ‘struct xxx' has no member named* error. The compiling log is shown in the following picture (the actual erros are much longer but it starts from here)
[code]
* OS V:
CentOS Linux release 7.4.1708 (Core)
* make v
GNU Make 3.82
Built for x86_64-redhat-linux-g

[2020-10-27 12:31] oranagra commented on #7971
@Jovons which OS / toolchain are you using?
this seems like #7509 (which is gonna be solved in v6.2)

[2020-10-27 14:36] #7937 closed

[2020-10-27 21:46] tessus commented on #7971
Is there a rough estimate when this will be? 1 month? 2 months? a year?

I'm just curious, because people who run into this issue can't use any of the great new features that came with v6 until then.

[2020-10-27 23:44] madolson commented on #7941
Streams will soon support this with the nomkstream option. Can you see if you could use that to solve your use case?

I'm a little hesitant to say that lists should support this, since it breaks a major assumption about redis data structures, in that empty keys == empty collections. Can you explain a bit more for why you don't want the servers pushing data onto the list if the client isn't listeni

[2020-10-28 00:04] madolson commented on #7649
I'm fine with option 1 and 2. I haven't looked at 4.

I think option #3 is missing the point. The the purpose of adding idle to XGROUPREAD is so that you can call a single command that will eventually pull everything out of the stream, it's simplifying the client side code. I think it should be able to return items both from the PEL and new items, otherwise you still have to periodically switch be

[2020-10-28 01:16] Jovons commented on #7971
@oranagra CentOS Linux release 7.4.1708 (Core). I also updated the post with make and gcc versions. Agree with @tessus , we cannot feel its (redis v6) beauty now ：（

[2020-10-28 02:50] chenjie199234 commented on #7941
@madolson
this may be the normal code to use list as a mq:
app client:blpop on key:"client"
app server:rpush and expire the key:"client"

the problem is, the server can't known the leave of the client, server is always push data to that list and the list will take more and more memory

so the code has to be
app client:blpop on key:"client" and cyclely setex another key:"client exist" to update the

[2020-10-28 06:09] iglov opened #7977 "Add maxclients to info"
Could you plz add `maxclients` param into `info clients`? It will be useful for monitoring like prometheus or telegraf.

[2020-10-28 09:09] oranagra commented on #7977
good idea https://github.com/redis/redis/pull/7979

[2020-10-28 09:22] ShooterIT commented on #7977
How about showing remaining available clients number @iglov @oranagra

[2020-10-28 09:31] oranagra commented on #7649
@madolson the idea in having XREADGROUP IDLE to return items from either the stream or the PEL, didn't mean that the user should switch between them, the user will always use the same command and arguments, it's just that to simplify the implementation (can later be changed), we will not return items from both sources in the same call. so one call will return the PEL items, and the next call will

[2020-10-28 09:33] iglov commented on #7977
Hey guys! Thanks 4 ur super fast reaction, i appreciate that! :)
@ShooterIT i dunno, ok if you want. I planned to do that with my prometheus: `maxclients - connected_clients` - that the reason of this FR and `maxclients` param :)

[2020-10-28 09:54] oranagra commented on #7977
@ShooterIT in some cases INFO is indeed designed to be console viewer friendly (like showing used memory in human units, and showing the instantaneous metrics), but in many places it's more suitable to be processed by software.

I think in this case the metric is more intended to be processed by software, so i think it's better as `maxclients`, also i'm trying to follow the existing exposed `maxme

[2020-10-28 10:10] zxc916684603 opened #7980 "make errror redis 6.9 or redis state"
**Describe the bug**
I'm working on centos7.8
wget https://download.redis.io/releases/redis-6.0.9.tar.gz
cd redis-6.0.9
make
A short description of the bug.
make[1]: *** [server.o] Error 1
make[1]: Leaving directory `/opt/redis-6.0.9/src'
make: *** [all] Error 2

**To reproduce**

Steps to reproduce the behavior and/or a minimal code sample.

**Expected behavior**

A description of what you expect

[2020-10-28 10:19] oranagra commented on #7980
@zxc916684603 you didn't post the exact build error you're getting, but i'm guessing this is the same as https://github.com/redis/redis/issues/7971 please confirm and look at the correspondence there.

[2020-10-28 10:52] #7927 closed

[2020-10-28 10:54] ShooterIT commented on #7977
@iglov I guess :), I ever wanted to do this, but actually if you want to get remaining available clients number when enable cluster-mode, you should minus cluster bus link number that doesn't seem to show.

@oranagra the existing exposed `maxmemory` convince me, i feel OK.

[2020-10-28 11:02] oranagra commented on #7977
have a look at this: https://github.com/redis/redis/pull/7981

[2020-10-28 16:40] schmidp commented on #6565
we are also running into this problem and would be happy about a new release.

[2020-10-28 16:45] guybe7 commented on #6565
@schmidp IIUC the fix is in 5.0.10

[2020-10-28 17:25] oranagra commented on #6565
Thanks @guybe7 . I meant to post here but forgot..

[2020-10-28 18:39] madolson commented on #7649
@oranagra Your suggestion sounds good. If that was what guy intended that I see no other concerns. Thanks for clarifying.

[2020-10-28 19:09] #7933 closed

[2020-10-29 02:01] LIANGCHANGYONG opened #7983 "Internal error in RDB reading function at rdb.c:468 -> Unknown RDB string encoding type 32"
**Describe the bug**

Internal error in RDB reading function at rdb.c:468 -> Unknown RDB string encoding type 32

**To reproduce**

start redis error : Internal error in RDB reading function at rdb.c:468 -> Unknown RDB string encoding type 32

**Expected behavior**

How to see which data is problematic

**Additional information**

 Redis 4.0.9

[2020-10-29 06:03] ycaibb opened #7984 "[BUG] Possible use-after-free bug on the method dictGenericDelete??"
**Describe the bug**

Possible use-after-free bug.

**To reproduce**

Our static analysis tool reports it which may be a false positive.

**Expected behavior**

May crash the program.

**Additional information**

The method is [here.](https://github.com/redis/redis/blob/unstable/src/dict.c#L368)
[code]

[2020-10-29 06:35] ycaibb opened #7985 "[BUG] Race conditions on getMonotonicUs?"
**Describe the bug**

Race conditions on `getMonotonicUs` between [here](https://github.com/redis/redis/blob/unstable/src/monotonic.c#L153) and [here](https://github.com/redis/redis/blob/unstable/src/ae.c#L261). It may a false positive since it is reported by my static analysis tool. Thank you for your confirmation.

Here is the partial call stack leads to the method `msUntilEarliestTimer ` execut

[2020-10-29 07:02] zhou-hao opened #7986 "[BUG] PUBLISH always return 0 on redis cluster"
**Describe the bug**

execute PUBLISH always return 0

**To reproduce**

1. subscribe on node1
[code]
2. publish on node2
[code]
3. node1 received message
[code]

**Expected behavior**

PUBLISH return 1.

[code]

**Additional information**
info

[code]

[2020-10-29 07:39] oranagra commented on #7971
We understand the pain this issue is causing to many, which is why we decided to undo this change (requirement for C11), but on the other hand we feel that it would not be responsible to release it in a patch level release which might cause some unexpected problems to an innocent upgrade.

The plan is to release 6.2 RC around the end of the year, and hopefully a final somewhere in January.

[2020-10-29 07:39] #7971 closed

[2020-10-29 07:41] oranagra commented on #7980
please follow https://github.com/redis/redis/issues/7509
feel free to reopen if you think this is another issue.

[2020-10-29 07:41] #7980 closed

[2020-10-29 07:42] oranagra commented on #7509
Quick update to anyone following this:
We understand the pain this issue is causing to many, which is why we decided to undo this change (requirement for C11), but on the other hand we feel that it would not be responsible to release it in a patch level release which might cause some unexpected problems to an innocent upgrade.

The plan is to release 6.2 RC around the end of the year, and hopefull

[2020-10-29 07:43] oranagra commented on #6286
Quick update to anyone following this:
We understand the pain this issue is causing to many, which is why we decided to undo this change (requirement for C11), but on the other hand we feel that it would not be responsible to release it in a patch level release which might cause some unexpected problems to an innocent upgrade.

The plan is to release 6.2 RC around the end of the year, and hopefull

[2020-10-29 09:47] oranagra commented on #7983
@LIANGCHANGYONG was that RDB file produced by the same redis version? on the same machine?
are you using redis modules?
is there anything useful in the redis log prior to this error?
maybe `redis-check-rdb` can provide more information.

[2020-10-29 12:24] GraemeMitchell84 opened #7988 "[QUESTION] ACL Propagation in a cluster?"
I'm trying to understand how ACL works when using a Redis cluster.  From the testing I have done, each node participating in a cluster has it's own independent ACL, and that ACL is not automatically propagated and synced across nodes in the cluster.

For e.g, if I have a cluster with 3 master nodes (node 1, 2 and 3) and 3 replica nodes (node 4, 5 and 6), a user created in node 1 will not automatic

[2020-10-29 13:01] oranagra commented on #7984
@ycaibb thanks for reaching out.

it's a false positive, maybe the code should have had a comment that explains it.
the return value of that function is also used an an indication if the entry was found.
it is used only by these two functions:

[code]
so the `!nofree` (which released that pointer) is only true in the case of `dictDelete` which only looks at the return value to see if it's NULL or

[2020-10-29 13:01] #7984 closed

[2020-10-29 13:22] oranagra commented on #7985
@ycaibb thanks for reaching out.
i see that one of the very first things that the `main` function in redis-benchmark.c does is call `aeCreateEventLoop`.
so this will be the first call to `monotonicInit` (before there are any additional threads).
this will set the global `getMonotonicUs` variable.
and as far as i can tell, from that moment on, no one tries to set it if it's already set.
i.e. only t

[2020-10-29 13:51] marcbachmann commented on #5212
@johncantrell97

you can use `unpack(table)` to "spread" the arguments.
In this script I'm claiming all messages of another consumer:
[code]

Attention, I haven't tested the script with a big amount.

[2020-10-29 13:57] itamarhaber commented on #7988
Hello @GraemeMitchell84

That is indeed the case. My interpretation of the reasoning behind this is that ACL is treated similarly to the "regular" configuration (redis.conf) directives. These are also not propagated automatically in a cluster deployment.

I, for one, would definitely recommend this practice.

No. Maybe. Anything's possible, this really depends on the collective's feedback and need

[2020-10-29 13:58] johncantrell97 commented on #5212
Oh cool, was looking for a 'spread' operator in lua -- didn't look hard enough I guess.  Thanks!

I've moved on from this lua script to XAUTOCLAIM here (https://github.com/redis/redis/pull/7973)

[2020-10-29 14:04] tessus commented on #7971
@oranagra Thanks for the timeline!

[2020-10-29 14:37] DGorringe opened #7989 "incorrect ./src/Makefile CFLAGS="-m32" LDFLAGS="-m32" on RaspberryPi 4 using 32bit option"
**incorrect ./src/Makefile CFLAGS="-mbe32" LDFLAGS="-mbe32" on RaspberryPi 4 using 32bit option**

root@jack:/opt/redis-6.0.9# uname -a
Linux jack 5.4.51-v7l+ #1333 SMP Mon Aug 10 16:51:40 BST 2020 armv7l GNU/Linux

make 32bit BUILD_TLS=yes USE_SYSTEMD=yes
fails with error messsage, see error below

root@jack:/opt/redis-6.0.9# make 32bit BUILD_TLS=yes USE_SYSTEMD=yes
cd src && make 32bit
make[1]:

[2020-10-29 14:43] GraemeMitchell84 commented on #7988
Many thanks @itamarhaber for the reply on this one!  I wanted to be sure that I wasn't missing something obvious here, i.e. some simple config change or similar that I couldn't see.  With regards to suggestions - the users in my case may not be only provisioned at start-up, as users could be added or changed during operation of the cluster without downtime (password policy changes for example).  A

[2020-10-29 16:29] itamarhaber commented on #7986
Hello @zhou-hao

I'm not sure that this is a real bug, perhaps more of a documentation issue. This is expected, even if not documented properly, given the current design and implementation of the cluster's Pub/Sub.

Please review this PR and lmk if it helps: https://github.com/redis/redis-doc/pull/1425

[2020-10-29 16:32] rLitto commented on #2668
No interest in this?

[2020-10-29 16:53] RDShah commented on #7943
It appears that something like f(x)=(a/2)\*x^2 would be an unbiased estimator.  This agrees with the table provided at https://redis.io/topics/lru-cache.  Analysis similar to @minilek's analysis of the Morris counter found [here](https://arxiv.org/abs/2010.02116) shows that this estimate is highly concentrated, with error on the order of eps\*n^0.75 (which is empirically supported).  This is much

[2020-10-29 18:48] MeirShpilraien opened #7991 "Module API to get command flags"
Today RM_Call allows executing any commands you want, even commands that make no sense to call inside RM_Call like MULTI or BLPOP. Though It is true that modules are not like LUA and should be smarter not to do such things, sometimes you want to execute a command base on client input (for example if you create a module that provides a new scripting language like javascript or python). So if a modu

[2020-10-29 19:54] MeirShpilraien opened #7992 "RedisModule API for async RM_Call"
Today, if calling `RM_Call` on a blocking command (like `blpop` or any module command for example that blocks the client), the command is executed but we get a `REDISMODULE_REPLY_UNKNOWN` as the `RM_Call` reply and there is no way to get the actual reply once the client is unblocked. I would like to suggest two approaches to solve it:

1. Return a new reply type `REDISMODULE_REPLY_BLOCKED` that al

[2020-10-29 19:59] oranagra commented on #7989
indeed `-m32` is x86 only.
but what you used seems invalid (or unneeded) for your platform.
armv7l is 32bit little endian, so a default build is 32bit.
[code]

[2020-10-29 20:06] oranagra commented on #7992
I'm all for it.
I would add something that may not be obvious from the above description:
Most modules should probably have no real need to call BLPOP they have better ways to achieve that.
But modules may want to call XREAD, or more importantly, call a blocking command of another module.

[2020-10-29 20:14] oranagra commented on #7989
i would also like to add that `make 32bit` is just a convenience target.
if you have anything specific for your platform you can just modify the CFLAGS like so:
`make REDIS_CFLAGS='-march=armv7-a'` or any other flag you like.
i'm closing this issue, feel free to re-open or respond if you disagree.

[2020-10-29 20:14] #7989 closed

[2020-10-30 01:19] itamarhaber commented on #7923
Heya @asleire

I had an urge to jump on this one (I think because someone once told me that I'm not a systems dev and I've been fighting myself about that ever since ;)) and take a stab at a draft implementation. Please feel free to review/test #7993.

[2020-10-30 01:28] itamarhaber commented on #7988
Thanks for continuing the dialogue.

That's exactly why your opinion matters at least as much as my jaded one :) This is a place for discussion and you've raised a good point - I'm hoping to hear more people's thoughts on this.

[2020-10-30 01:44] itamarhaber commented on #7991
Thanks @MeirShpilraien for summarizing this so neatly. I agree with word for word.

In the past Salvatore was against the int bits approach after someone (me?) complained about the strings' error proneness and/or lack of error returned from CreateCommand (I also do typos, I'm human). That being said, I can't recall the reason for the objection although it may had something to do with how the comma

[2020-10-30 01:54] itamarhaber commented on #5212
As long as big is less than about 8000 iirc it "should work". Around that number the hard coded Lua stack limit will stop you with a runtime error.

That said, we're hoping to provide a better solution soon(tm).

[2020-10-30 05:31] Jovons opened #7996 "[QUESTION]redis 6 threaded IO what about client"
I read redis.conf, it says in order to see the performance improvement, redis-benchmark should be used with --threads option,  the same as configured in server.

Then, I starts to think, since redis-benchmark is a redis client, what about the other clients? should they be "modified" so they could benefit from the redis server threaded IO? For example, Java programs use Jedis or Lettus as a redis c

[2020-10-30 06:50] guybe7 commented on #7991
Do the command flags provide sufficient information to determine whether or not it makes sense to use the command with RM_Call? What about commands that have a blocking variant like XREADGROUP?

[2020-10-30 08:01] ycaibb commented on #7984
I am very thankful for your detailed explanation. Even so, I still think it is a very dangerous operation with regard to high software quality since any careless use of the method can cause bugs in the future. Adding necessary comments is an alternative approach. Thank you.

[2020-10-30 08:25] ycaibb commented on #7985
Hi, thank you for your help. Our tool reports below call traces.

[main](https://github.com/redis/redis/blob/unstable/src/redis-benchmark.c#L1654) =>[startBenchmarkThreads](https://github.com/redis/redis/blob/unstable/src/redis-benchmark.c#L1777) =>[execBenchmarkThread](https://github.com/redis/redis/blob/unstable/src/redis-benchmark.c#L1043)=>[aeMain](https://github.com/redis/redis/blob/unstable/

[2020-10-30 08:55] ycaibb opened #7999 "[BUG]Possible NULL pointer dereference on eventLoop->timeEventNextId++??"
**Describe the bug**
Hi, our static tool reports a null pointer dereference on this [site](https://github.com/redis/redis/blob/unstable/src/ae.c#L209). The reason is `aeCreateEventLoop` go to error state and return null to `config.el`, so `eventLoop->timeEventNextId` should be checked before dereference. It may be a false positive. Thank you for your confirmation.

[code]

[code]

[code]

**To rep

[2020-10-30 08:59] ycaibb commented on #7999
A similar reason can lead to NULL pointer dereference on the below function.

[code]

[2020-10-30 09:04] oranagra commented on #7999
@ycaibb you're referring to a case where zmalloc returns NULL, but this will never happen in Redis.
See `zmalloc_oom_handler`
So redis doesn't need to handle failures to allocate memory.

[2020-10-30 09:04] #7999 closed

[2020-10-30 09:15] ycaibb commented on #7999
OK. Thank you for your explanation.

[2020-10-30 09:20] ycaibb commented on #7999
Because this method never go to the `err` state, why do the developers still write this part?

[code]

[2020-10-30 09:51] oranagra commented on #7999
Some cases it's out of habit, in other cases to write clean code.
Or to handle other errors.

In the specific case you're referring to, the `err` label is reachable in other errors, so these still need to clean after them and not leak.
But the `goto` that checks the NULL return from zmalloc, is dead code.

Btw, also note that redis doesn't attempt to release memory before exiting (would be a waste

[2020-10-30 10:20] oranagra commented on #7985
@ycaibb but do you agree that startBenchmarkThreads is only called after the initial init of monotonicInit that called from `main` is done, and in that case the global variable is set, and the call to monotonicInit_pisix in the stack trace you mentioned will never happen?

[2020-10-30 11:34] filipecosta90 commented on #7996
Hi there @Jovons threaded I/O feature added on Redis 6 is an improvement within redis-server himself, meaning that all clients connecting to redis-server will benefit from it if the bottleneck is redis-server ( CPU ~100% ) -- I'll explain better bellow.

The mention to benchmarking with redis-benchmark and use the --threads options is to make sure that when measuring the improvements of IO threads

[2020-10-31 14:40] #5997 closed

[2020-10-31 15:27] MichaIng opened #8001 "Consequently use /run as PID/socket default path"
If it has not yet been discussed already, according to the [default config file](https://github.com/redis/redis/blob/unstable/redis.conf), `/var/run/redis.pid` is used as default PID file location while `/tmp/redis.sock` is shown as example UNIX socket file location.

While most distributions used `/var/run` in the past for these runtime files, nowadays most used `/run` and allow using `/var/run`

[2020-10-31 22:51] felipou commented on #766
I liked @kripod 's idea, and it also simplifies the blocking version. The count becomes actually a "maximum" number of elements.
- "RPOP list 3" would pop a maximum of 3 elements.
- "BRPOP list 3" would block if list is empty, but unblock as soon as there is at least one element pushed, when it would pop a maximum of 3 elements as RPOP.

I'll try to implement it like this.

[2020-10-31 23:06] itamarhaber commented on #4417
For the sake of API succinctness and following industry standards, I'd like to propose `GEOBBOX` and `GEOBBOXBYMEMBER` as an alternative.

[2020-11-01 09:09] yossigo commented on #7992
@MeirShpilraien I agree this is indeed a pain point, and I also agree it's going to have many side affects that should be considered carefully. The issue of refactoring the blocking mechanism was raised a few times in the past and I think that might be a trigger for that.

[2020-11-01 10:59] yossigo commented on #8001
@MichaIng thanks for reaching out! You raise a valid point of course. I'm quite hesitant to change the default as we need to consider the bigger picture that involves also non-Linux or less commonly used Linux distros. I believe that due to backwards compatibility efforts, `/var/run` is still a safer bet than `/run`.

Updating `redis.conf` makes a lot of sense (and in particular, using `/tmp` is n

[2020-11-01 11:13] nitaicaro opened #8003 "[BUG] Duplicate invalidation message when turning tracking with BCAST option on with and without prefixes"
**Describe the bug**

When turning tracking on with the bcast option, one time without any prefixes specified, and then again with prefixes (WITHOUT turning tracking off between them), we get duplicate invalidation messages for the same key.

**To reproduce**

[code]
(client 6 is a client that has subscribed to __redis__:invalidate)
What we get in the redirection client:
[code]
**Expected behavior

[2020-11-01 11:14] ycaibb commented on #7999
OK. Thank you for your explanation.

[2020-11-01 11:14] #7985 closed

[2020-11-01 11:15] ycaibb commented on #7985
OK, Thank you for your checking.

[2020-11-01 11:56] #8001 closed

[2020-11-01 13:41] MeirShpilraien commented on #7991
@guybe7 you are right, the flags do not show it but you can get it from the command category:
[code]
Do you think we should add a similar API for that?
Also, I notice that modules can not specify the command category, only flags (should we somehow add this also?)
@oranagra any inputs about this?

[2020-11-01 14:03] itamarhaber commented on #7991
The following is an excerpt from the "Redis Chronicles":

Oran Agra (RedisLabs)  6:24 PM
another example populateCommandTableParseFlags implicit ACL categories (like readl-only for read, and dangerous for admin, but commandFlagsFromString  that handles module commands doesn't.
in fact i'm not clear why modules can't declare ACL categories on their commands (at least for modules that are registered

[2020-11-01 15:49] MeirShpilraien commented on #7992
@yossigo @oranagra I will start to go over the code and suggest a detailed implementation, which approach do you prefer between what I suggested (or maybe you have a different idea)?

[2020-11-01 16:17] hwware commented on #8003
Hi @nitaicaro , thanks for reporting this, i also notice this issue before.  But the bcast mode is a little bit different than other modes, since it need to maintain the prefixes. Currently AFAIK there is no separate API for doing the prefix management(like add, delete, show, reset etc) but if we calling CLIENT TRACKING on BCAST mode again with prefixes, it registers the new prefix in the prefix t

[2020-11-01 16:18] oranagra commented on #7992
@MeirShpilraien i suppose we rather have the normal RM_Call fail (early / somehow) when it attempts to execute a blocking command. since most callers of RM_Call will not expect that state or check for it.

Also, maybe the RM_CallAsync can some day be used for background execution of slow commands (if / when redis will support that).

I might be wrong. would love to hear the opinion of others.

p.s

[2020-11-01 16:20] hwware commented on #8003
Also pinging @madolson for this.

[2020-11-01 17:11] MichaIng commented on #8001
While there are probably environments which still use `/var/run` (I remember https://github.com/just-containers/s6-overlay), `/run` at least exists so can always be used, doesn't it? Since everyone with an existing instance will hopefully not override its config file with the new default on every update, without at least reviewing/comparing it, it hence should be even safe to change the default pi

[2020-11-01 18:25] yossigo commented on #8001
@MichaIng Does `/run` exist on all platforms Redis supports, including macOS, *BSD, etc? I'm not sure, but I am pretty confident `/var/run` will not pose a problem in the foreseeable future.

[2020-11-02 03:48] zhou-hao commented on #7986
emmm, ok !

[2020-11-02 03:48] #7986 closed

[2020-11-02 04:56] trevor211 commented on #6434
I think what the document says in this case is that you should config your master with diskless replication.

[2020-11-02 04:57] trevor211 commented on #6406
What is the `dir` of your config?

[2020-11-02 05:02] trevor211 commented on #6340
What's your POV? @oranagra

[2020-11-02 05:04] trevor211 commented on #6183
Can you reproduct it on the current unstable branch?

[2020-11-02 06:03] oranagra commented on #6340
@jairaj-jaisankar are you saying redis should prefer evicting non-volatile keys rather than volatile keys?
Whats the use case for that?

[2020-11-02 10:30] marcbachmann commented on #7649
To people coming here and looking for a solution, the easiest one for now would probably be to implement some healthcheck loop on the consumer side.

e.g. run ZADD periodically to set the consumer status with a timestamp
[code]

And then you can retrieve inactive consumers using `ZREVRANGEBYSCORE`:
[code]

<details>
  <summary>Some lua script cleaning up everything</summary>

[code]
</details>

[2020-11-02 19:40] madolson commented on #7988
If we ever implement this, we should probably also consider replicating configs as well.

[2020-11-02 23:35] madolson commented on #8003
I don't think we should add a new API that introduces add/remove semantics, since that can already be achieved with disable than enable. . We already have a reset with tracking off, so the only thing missing is introspective information.

I would vote that the second command throw an error, and require disabling and re-enabling it to change prefixes.

I also think the double printing is still a re

[2020-11-03 00:24] hwware commented on #8003
Hi @madolson , I think the disable/enable the client tracking can do the job for add/delete, but in some scenario this maybe too cumbersome..  Consider about the following scenario below:
If a stateless client enables a client tracking with bcast mode for big number of prefixes, when the client side needs to delete a prefix, it needs to do the following operation if no add/delete is available:
1.

[2020-11-03 00:31] madolson commented on #8003
Do people actually do that though? I understand it would simplify the add/remove use case, but most production workloads the configuration is determined outside of redis and applied. So they would do disable + enable with the new configuration.

The add/remove case is more of a debugging feature.

[2020-11-03 00:51] hwware commented on #8003
Hi @madolson , I think it depends, if it is a stateless application the add/remove case could be true. For now maybe we can leave this topic, if some user request this feature(the add/remove one) we can pick it up later.. But maybe we need to fix this actual bug and showing the bcast prefixes to user. How do you think?

[2020-11-03 09:26] YanzhaoLi opened #8008 "[QUESTION] redis-benchmark shows different result between running as process and running in kubernetes pod (with hostNetwork)"
Pod: hostNetwork, no cpu/mem limits

testing command: `redis-benchmark -n 100000 -t set,get -h $IP -p 6379 -c 1`

process gain 20k, pod gains 15

Any idea to help debug this?

[2020-11-03 09:31] cl51287 commented on #7753
@zhouyixiang thank you very mush, it should be that the data is not cleared after the sentinel container is offline, resulting in too much sentinel total and unable to elect a leader

[2020-11-03 10:40] oranagra commented on #6434
@rajanarayan92 what you say is that your `save` configuration is empty, so a shutdown doesn't save the data to an RDB, but you do have a `dbfilename` config, and an old rdb file on the disk from past replication, so when server restarted which you intended to come up empty, came up with the old data?

diskless replication was not meant to prevent such a case.
maybe we need a new `load-on-startup`

[2020-11-03 11:08] #7165 closed

[2020-11-03 11:08] #7809 closed

[2020-11-03 11:11] #6719 closed

[2020-11-03 11:11] oranagra commented on #6719
@fantin2008 please feel free to re-open or respond to add more info.

[2020-11-03 11:12] #7769 closed

[2020-11-03 11:19] oranagra commented on #6986
this was resolved by: 9321c7871f41364fbe539d6b7711f5ccc7c90bdc
and FYI some other improvements in this area (for redis 6.2):
https://github.com/redis/redis/pull/7888
https://github.com/redis/redis/pull/7952

[2020-11-03 11:19] #6986 closed

[2020-11-03 11:27] MichaIng commented on #8001
That is actually an interesting question, did not thing about `/var/run` not only being used for backwards-compatibility but for cross-compatibility as well. Just searched a bid:
- GhostBSD explicitly states that `/var/run` is deprecated: https://wiki.ghostbsd.org/index.php//var/
- FreeBSD docs don't mention any of both: https://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/dirstructure.html

[2020-11-03 12:01] wavenator commented on #180
This is such an easy one and can improve using Redis as a queue so much.
Why wouldn't we implement it?

[2020-11-03 12:36] oranagra commented on #180
@wavenator (and anyone else watching), if i read this discussion correctly, it resolves around pairing two commands (RANGE and REM) to achieve a POP like behavior. so for that to work both need to have a COUNT argument. to be honest it doesn't sounds compelling.

but what could make more sense to me is create one POP like command that will do that can do what you want as a single command.

this co

[2020-11-03 13:18] wavenator commented on #180
Both 1 & 3 looks promising.
I tend to support number 1 more since there is no need to use a pipeline.
Number 3 though is so easy to implement and test that it might be easier to approve without getting into a deeper conversation.

[2020-11-03 13:46] oranagra commented on #180
@wavenator neither of them needs pipeline or transaction. (or am i missing something?).
implementation wise, they're also all the same (we'll need to refactor things to share code).

thing is that we try to avoid adding more and more specific commands for each combination of arguments, and instead add more arguments for fewer commands.
see https://github.com/redis/redis/issues/678#issuecomment-670

[2020-11-03 17:25] madolson commented on #8003
I understand it could exist, but I'm not sure it would ever make sense to build an application that way. I'm not clear why you would selectively decide what to and what to not cache when there is also the explicit key caching option.

To fix this, I agree we should just throw an error and then we can implement the CLIENT TRACKING INFO as mentioned in #7995

[2020-11-03 18:55] hwware commented on #8003
thank you @madolson , we can leave this discussion until some more use cases we can analysis later, maybe I was missing something here but I am not sure.
Regarding the fix, I think in addition to just returning errors for the second bcast call, we also need to do a sanity check for all the prefixes user provided, whether one is a prefix of another, otherwise we still have this mutiple invalidation

[2020-11-03 19:04] Kama0165 commented on #5827
@itamarhaber and @oranagra There isn't any comment on if this feather was added or not and if it was added what is the syntax for implementing it. Is there a documentation on it? If so, would you please link it. I have spend many hours searching the web for it and I didn't have much luck with finding any documentation.

[2020-11-03 19:25] itamarhaber commented on #8008
Hello @YanzhaoLi

Have you looked at https://redis.io/topics/latency?

That said, I don't think the drop is related to Redis but rather to the containerization, but I'm not a k8s expert.

[2020-11-03 19:36] itamarhaber commented on #5827
Hello @Kama0165

This feature wasn't added yet. We are considering it, or a semblance of it, for a future release (and in that case, you should expect it to be properly documented at redis.io, of course).

[2020-11-03 23:40] laurauzcategui opened #8010 "[QUESTION] Redis Failover when one of the network interface gets disconnected"
Hi,

We are facing an issue related to one of our Redis nodes marking itself as failed specifically this message:"Cluster state changed: fail"  and immediately after performing automatic failover.

Under which setup this happened:
- Redis version: 6.0.5
- 3 Masters and 2 replicas.

Redis config:
bind: 0.0.0.0

Environment:
- Azure
- Linux

We have the following Network interfaces:
1. Physical one.

[2020-11-04 02:21] aytacabay opened #8011 "[QUESTION]"
I get this error locally after connecting to the server and doing nothing on the computer for a while.

The systems I use
Linux-Docker

Redis Conf
Server Docker Redis.conf / timeout 0 && tcp.keepalive 60
Local Nodejs-Redis connect conf / noreadycheck: true, socket_keepalive: true

Local Error
Redis connection to xxx:xxx failed - read ECONNRESET
at TCP.onStreamRead (internal/streambasecommons.js:20

[2020-11-04 04:01] felipou commented on #766
Ok, I just started drafting an implementation, got it working for RPOP/LPOP, but when I looked into the blocking variant, I remembered the "timeout" argument and the fact that you can pass multiple keys as argument to BRPOP/BLPOP. So basically, we can't have an optional "count" argument there. Now I understand why ZINTER and ZUNION have the numkeys argument :sweat_smile:

Right now I can't think o

[2020-11-04 04:08] felipou commented on #766
My implementation so far: https://github.com/felipou/redis/commit/a8b156918b27def14d5bb623cfd9727839d5eb37

[2020-11-04 07:50] oranagra commented on #766
i suppose the only way out of this is to create a new command and deprecate the old one.
we can add a BLOCK argument to LPOP (like we have for XREAD)
or we can create a new BPOP command that will take LEFT|RIGHT

@redis/redis-contributors any other suggestions or feedback? (context, can't add COUNT argument to BLPOP due to it's syntax).

I suppose we don't have any problem with a command that has

[2020-11-04 07:53] #7977 closed

[2020-11-04 08:00] #6489 closed

[2020-11-04 08:17] #7753 closed

[2020-11-04 09:05] ludiegu opened #8012 "[CRASH] redis-sentinel suddenly crashed"
**Crash report**

[code]

**Aditional information**

1. CentOS Linux release 7.8.2003 (Core)
2. Not reproducible

[2020-11-04 09:24] ShooterIT commented on #7977
Hi @iglov FYI https://github.com/redis/redis-doc/pull/1427/files#diff-a41c08daecd2572f692ee897da8837a4da089dab5291b6ccfd6d63e9450231fcR78-R80

[2020-11-04 09:31] iglov commented on #7977
@ShooterIT hey there! Yeah, i've already read it, LG2M, thx!

[2020-11-04 11:37] mfrsousa commented on #6048
+1 for this
I'm checking if a key exists to fetch data from db or not, if exists show results, if not go to the db retrieve the results and store them in the set , the problem is when it find no results on the db and I still want to save the set with empty so it will not go to db next time (until I delete the key)

[2020-11-04 12:48] yossigo commented on #8012
@ludiegu You are using a very old version of Redis/Sentinel so it makes little sense to analyze this issue in depth, but recently there has been a fix in this area of Sentinel (#7443). If this problem persists I recommend to upgrade to version 6.0.9 or newer.

[2020-11-04 12:48] #8012 closed

[2020-11-04 12:54] yossigo commented on #7747
Hello @iushas, please upgrade to 6.0.9 and see if the problem persists, it seems like it could be fixed by #7443 (which fixed an issue around `sentinelRefreshInstanceInfo()`. If you still experience this problem with the latest version please file a new issue with an up to date crash dump.

[2020-11-04 12:54] #7747 closed

[2020-11-04 12:57] yossigo commented on #7243
Hi @sonnx90, this might have been fixed by #7443. Please upgrade to 6.0.9 and if the problem persists file a new issue. Thanks!

[2020-11-04 12:57] #7243 closed

[2020-11-04 12:58] yossigo commented on #5814
Hello @cumthaozi, this might have been fixed by #7443. Please upgrade to 6.0.9 and if the problem persists file a new issue with an updated crash log. Thanks!

[2020-11-04 12:58] #5814 closed

[2020-11-04 14:51] SocialPjames commented on #7971
What's the point of releasing a stable version if it isn't stable? 🤦

[2020-11-04 16:16] itamarhaber commented on #8011
Hello @aytacabay

No, the server will not disconnect given the configuration above. You can try running Redis outside the container, i.e. locally, to rule out/confirm that the issue is actually with Docker (I, for one, am not happy with Docker's networking on my macbook). Also, if you can prepare a minimal reproducible setup, I can try reproducing this on my lappy.

[2020-11-04 17:18] aytacabay commented on #8011
Hi @itamarhaber

I changed the server Docker Redis.conf / tcp.keepalive to 0.  In the old setting, it was sending a message to the connected client every 60 seconds for tcp-ack check.  My server was also running locally.  When the internet went down and redis checked tcp-ack, it couldn't reach the customer, so directly identified the customer as dead.  Changing redis in Tcp.keepalive to 0 does not

[2020-11-04 19:47] oranagra commented on #7971
@SocialPjames it is stable. just doesn't support a 6 years old OS! (Compilers moved on, and so did Redis)
And even for that, Centos7 has a built in [workaround](https://github.com/redis/redis/issues/7509#issuecomment-657389771) (unless you're using Centos 6 9YO, and already EOL).
But anyway, as discussed, we decided to go back on that change and make redis more portable for a few more years.

[2020-11-04 21:04] SocialPjames commented on #7971
Hi @oranagra, sorry for my annoyance and poor comment, yeah, I get things move on and require upgrades. I was just a little flustered when something that had worked (pulling from stable) and such had no just crashed a server when it went down. And sadly, the server under question has a very dated OS basis, that being AMI, which is what the use case has forced me with.

Regardless, v5 for the time

[2020-11-05 07:21] oranagra commented on #8010
@laurauzcategui you mean that you have two physical NICs bonded into one, right?
by `Bounded transparently to 2` you didn't mean it is bonded together with the synthetic one?

To the best of my knowledge redis doesn't listen to any networking configuration changes, it just uses POSIX socket API, so i'm guessing somehow removing a NIC from the bonding broke the connection.

I suggest you look into

[2020-11-05 08:51] #5571 closed

[2020-11-05 10:21] laurauzcategui commented on #8010
Hi @oranagra ,

Thanks for replying.

To answer to your questions:
We are bounding one of the NICs to the other one. For example: eth1 to eth0. This bounding is transparent and applications should see it as one.

My suspect is toward what you just mentioned, our Redis connection is dropped and we might need to dive towards Linux config to solve this issue.

The thing is, even though the NIC gets r

[2020-11-05 10:43] oranagra commented on #8010
so when the bonding is broken, but one NIC is still there, the interface visible to user space application is still up, and connectivity seems working?

maybe there's a short (fraction of a second) period that in which the interface is completely down, and maybe in this case redis receives some `errno` value which it doesn't expect and that causes a failure that's not normally visible in other cas

[2020-11-05 12:19] laurauzcategui commented on #8010
**_Re: so when the bonding is broken, but one NIC is still there, the interface visible to user space application is still up, and connectivity seems working_?**
-  Yes. connectivity is still up. I could see packets still flowing through using bmw-ng

**_Re: maybe in this case redis receives some errno value which it doesn't expect and that causes a failure that's not normally visible in other cas

[2020-11-05 14:21] zell-mbc opened #8021 "[CRASH] Redis Terminates the moment an app (Nextcloud) starts using it."
**Crash report**

Redis cache keeps on terminating on my Arch server ever since moving up from Redis 6.0.7.

Redis service will launch fine, but soon after an application starts using it will terminate.
1. Start redis service
2. Navigate to Browser running Nextcloud UI
3. Sometimes redis will terminate the moment F5 is hit, sometimes it needs 3 - 4 more menu changes until Redis will terminate and

[2020-11-05 15:18] oranagra commented on #8021
Hi,
It seems like someone's killing redis (SIGTERM) after exactly 1 minute.

This could be some bug in 6.0.9 which fails to notify systemd that it's ready. but by looking at the diff between 6.0.7 and 6.0.9 i don't see any change in that area.

maybe it has something to do with the way redis was built? maybe they where built differently?

[2020-11-05 17:08] zell-mbc commented on #8021
I didn't notice the exact minute yet, but you are right, my Nextcloud clicking is irrelevant, the process get's killed after exactly one minute even if I just do nothing.

The exact minute made me look at my redis.service file and I found the following two in the [Service] section:
[code]
The SIGTERM corresponds with the TimeoutStartSec setting, I changed it to different values and the process ter

[2020-11-05 17:20] oranagra commented on #8021
@zell-mbc where did you get redis and this redis.service file? Do you use a PPA? which one?
@yossigo maybe you have some input?

[2020-11-05 17:30] zell-mbc commented on #8021
It's Arch, so no PPAs but the official Arch community repository:
[code]

As far as the redis.service file is concerned I can't remember to be honest, I am running Pleroma, NextCloud, Synapse on this server and one of these probably provided the template:

[code]

[2020-11-05 20:26] csuka opened #8024 "[BUG] TimeoutStartSec and TimeoutStopSec values are valid, but redis still warns"
**OS**: CentOS 8.2
**Redis**: v6.0.9
Redis is installed via remi repo.

This is my service file for systemd:

[code]

Redis starts fine and accepts connections. However, the logs describe, what looks to me, a heavy warning:

[code]

Between 'systemctl daemon-reload' and restarting the redis server, I've tried changing the values of TimeoutStopSec and TimeoutStartSec to either 0, 0s, 1, 1s, 90, 90s

[2020-11-05 20:46] yossigo commented on #8021
@zell-mbc If you use systemd with `Type=notify` you need to make sure that:
1. You build Redis with libsystemd support (that's done automatically if you have the development `libsystemd` and `pkg-config`). Otherwise, you may need to set `USE_SYSTEMD`.
2. Your `redis.conf` contains `daemonize no` and `supervised auto`.
Otherwise Redis does not notify systemd it's up, so it gets killed.

[2020-11-05 20:49] yossigo commented on #8024
@csuka This is not strictly a bug, but the warning message is not totally clear. It does not indicate the configuration is wrong (there's no way to determine that AFAIK) but it just provides a reminder when systemd supervision is enabled/detected.

[2020-11-05 20:53] zell-mbc commented on #8021
I didn't build myself but rather use the binary from the Arch repo. So that means that either the Arch team started to build the binary differently after 6.0.7 or something changed in Redis to not tolerate my possible wrong configuration any longer. In either case, I now have things to test. I will report back.
Thanks for getting back!

[2020-11-05 21:24] csuka commented on #8024
@yossigo Well, this is absurd right, as a user seeing this message from Redis (which is at version 6!).

I mean, look at this:
**WARNING supervised by systemd - you MUST set appropriate values for TimeoutStartSec and TimeoutStopSec in your service unit.**

I assume either the text has to be changed, the warning has to be removed, or the redis has to check for the correct values and report on that.

[2020-11-06 03:31] Cloud-Zhang opened #8027 "[QUESTION] what real means of the CLUSTER FLUSHSLOTS"
As in the redis offical site the command provides the CLUSTER FLUSHSLOTS will remove all the slots in the current node. But i am wonder why other nodes can't sense this change . So it only work in the current node and after the slots flushed how the node.confg updated ? will it change ?
Please help me to understand

Thanks

[2020-11-06 03:35] Alexander1902 commented on #6756
我第一次安装的时候也出这个问题，clean disclean 然后删掉解压包，重新解压，再次make.第二次的make test就没出问题。部署了三个机器，都报错。按照这个方式后都没出问题。

[2020-11-06 03:37] Jovons opened #8028 "[QUESTION]what is --cluster-yes option"
I could not find specifications for cluster options (what are the meaning for those options). Besides, I noticed in `create-cluster`  script, `create-cluster create -f` equals to `script has a redis-cli --cluster create $HOSTS --cluster-replica 1 --cluster-yes`, but from cluster help, it does not have a `--cluster-yes` option for create method :(
[code]

[2020-11-06 06:16] madolson opened #8029 "[FEATURE] Keyspace based pubsub"
What’s the problem?
The current pubsub implementation works poorly with Redis key space functionality since it was built to exist in its own space. The two notable problems I’ve see are ACLs (https://github.com/redis/redis/issues/7923) and cluster scaling (https://github.com/redis/redis/issues/2672). I saw suggestions that were very tactical, but I think it’s really a fundamental problem with how

[2020-11-06 08:18] zell-mbc commented on #8021
I kept "daemonised=no" and changed "supervised no" to "systemd" and bingo.
Kind of obvious but then again :-)

Redis is up now for more than 2 hours, so I think I can safely close this case. Thanks for helping me along!

[2020-11-06 08:18] #8021 closed

[2020-11-06 21:41] #8024 closed

[2020-11-06 22:40] sangeethdba commented on #7509
until then we have to have c11 to install redis 6.0 .please confirm

[2020-11-06 23:44] #3124 closed

[2020-11-07 08:27] mmhatami opened #8032 "[BUG] expireGenericCommand overflow time and The key is deleted by mistake"
**Describe the bug**

In expireGenericCommand, if input time for expire  causes to overflow on "when" variable , so we have a undefined behavior.

**To reproduce**

This is a long time but it may be requested

when = LLONG_MAX - 1000;

**Expected behavior**

expected ttl set to  LLONG_MAX - 1000;
but an overflow occurs.

**Additional information**

 my solution is

[code]

[2020-11-07 12:32] oranagra commented on #7509
@sangeethdba yes, that's correct.
if you feel adventurous and really need 6.0 features, you can probably cherry pick 445a4b669a3a7232a18bf23340c5f7d580aa92c7 to 6.0 safely.

[2020-11-07 12:49] oranagra commented on #6756
these are just some flaky (unstable) tests, they can safely be ignored.
redis 6.0 tests are a lot more stable.

generally speaking, if you re-run the failed unit and it passes, that's probably a good indication that it's a timing issue.
in this case:
[code]
of if you want to run the whole test suite, and reduce the chance of timing issues, avoid running many tests in parallel:
[code]

[2020-11-07 12:49] #6756 closed

[2020-11-07 15:04] dmitrypol commented on #7802
this might be a silly question but is `TLS_CHACHA20_POLY1305_SHA256` FIPS 140-2 compliant?  And if not, is it possible to use different ciphersuites with Redis by modifying `tls-ciphersuites` in redis.conf?  Can't find any definitive answers online.

[2020-11-07 19:42] yossigo commented on #8021
@zell-mbc It looks like the Arch package started building Redis with systemd support in 6.0.8, that explains the problem.

[2020-11-08 03:35] willzhang opened #8033 "cluster backup Aborted"
## environment

[code]

## what i do
create a cluster

[code]

make a backup for the cluster
[code]

bakcupfiles
[code]

but there have some error and Aborted at the end
[code]
## question
so is it success for backup?

[2020-11-08 06:31] oranagra commented on #3124
for the record, in redis 6.0 it seems to match your expectations:
[code]

[2020-11-08 07:27] weironz commented on #7284
same problems at redis 6.0.9 on centos 7.8

this filx :https://serverfault.com/questions/1031891/redis-service-hangs-with-systemctl-and-type-notify
[code]

and redis@.service
[code]
service status
[code]

[2020-11-08 07:41] oranagra commented on #8033
@willzhang it seems that the backup was created successfully (the message `[OK] Backup created into` is printed when all is done).
can you please tell us which version of redis you are using?
specifically the redis-cli (which might in theory be from a different version).
please do `redis-cli --version`

[2020-11-08 10:33] nitaicaro opened #8034 "[BUG] Invalidation message wrongly produced for key when key of the same name is changed in a different db"
**Describe the bug**

Changing a key in some db will produce invalidation messages for all clients who have a key with the same name in SOME database.
e.g., if client 1 is in db 1, client 2 is in db 2, client 3 is in db  3, and all three dbs contain a key named "key" which is tracked by the clients, then changing key in db 1 will produce invalidation messages for all three of the clients.

**To re

[2020-11-08 11:49] nitaicaro commented on #8034
Found in the docs:
[code]
Seems like this is intended.

[2020-11-08 11:49] nitaicaro commented on #8034
Found in the docs:

Seems like this is intended.

[2020-11-08 11:49] #8034 closed

[2020-11-08 12:30] itamarhaber commented on #8028
Hello @Jovons

The `--cluster-yes` option means automatic yes to prompts (e.g. to the 'create` command's "Can I set the above configuration?" prompt). For some reason, its usage was omitted from the help output and that should be fixed.

[2020-11-08 18:30] itamarhaber commented on #8032
Thanks for the report @mmhatami - I can verify that an overflow occurs when, for example, calling `SET foo bar EX 9223372036854774807`. This leads to the key being deleted, naturally.

[2020-11-08 20:42] yossigo commented on #7802
@dmitrypol I believe not, but please note that FIPS 140-2 compliance goes well beyond what ciphersuites you use but also depend on what version of OpenSSL you use and how you configure it.

All of this does not concern Redis which uses whatever OpenSSL you build/dynamically link against. You may use `tls-ciphersuites` or `tls-ciphers` to manage this configuration. You should consult OpenSSL docume

[2020-11-08 20:47] filipecosta90 commented on #8032
@itamarhaber @mmhatami I believe this PR should fix it correct? https://github.com/redis/redis/pull/6801
PS: this issue is a duplicate of https://github.com/redis/redis/issues/6800

[2020-11-08 20:50] yossigo commented on #7284
@willzhang I'm not sure I understand your comment, are you reporting a successful fix or a reproduction of the problem?

[2020-11-09 06:36] Cloud-Zhang commented on #8027
Anyone can help to clarify this?

[2020-11-09 06:45] oranagra commented on #6800
why would someone want to expire a key in 317097919 years?

[2020-11-09 06:45] oranagra commented on #8032
why would someone want to have the key expire in 292471208677 years?

[2020-11-09 08:18] yossigo commented on #7735
Fixed by #8036

[2020-11-09 08:20] yossigo commented on #7219
@MrYourM Is this still relevant? Can you provide a crash dump here please?

[2020-11-09 08:25] yossigo commented on #6341
Running the latest version of Redis with systemd, you'll need to have Redis built with systemd support and configured with `daemonize no`, `supervised auto`. On the systemd unit file, you need to use `Type=notify`. Please re-open with new details if there's still a problem.

[2020-11-09 08:25] #6341 closed

[2020-11-09 08:26] yossigo commented on #5946
Fixed by #7771

[2020-11-09 08:26] #5946 closed

[2020-11-09 08:31] yossigo commented on #5942
You seem to have some other system configuration issue:
[code]

Regardless, you should use a newer version, 3.0.6 is very old. The easiest way to do that on Ubuntu is installing from PPA:
https://launchpad.net/~redislabs/+archive/ubuntu/redis/+index

[2020-11-09 08:31] #5942 closed

[2020-11-09 08:37] yossigo commented on #4805
Hi @perolaquantum, this is an old report and many things have been fixed since then around supervision support. Please feel free to re-open with more information if this persists with the latest version. Thanks!

[2020-11-09 08:37] #4805 closed

[2020-11-09 08:38] yossigo commented on #3850
Hey @shahdivy, this is an old report from a very old version of Redis. You probably tried to load a corrupt RDB file or one created with a newer version. Please feel free to re-open with more details if this reproduces with recent versions of Redis.

[2020-11-09 08:38] #3850 closed

[2020-11-09 08:40] yossigo commented on #3451
@xmerlin closing this as it involves a really old version, if the problem persists with the latest version please feel free to re-open with more details. Thanks!

[2020-11-09 08:40] #3451 closed

[2020-11-09 08:41] #3366 closed

[2020-11-09 08:58] Jovons commented on #8028
@itamarhaber If possible, please also add brief explanation for each option.

[2020-11-09 13:51] itamarhaber commented on #8032
Thanks @filipecosta90 - totally forgot about that one :)

As for why would someone want to do that, I guess no one will really do it (and anyway, 2038 is the end of everything) but the edge case of the overflow is still there for static analyzers and hoomans alike.

If everyone's in agreement, I think this can be closed as a duplicate.

[2020-11-09 13:59] qiangbro commented on #6032
I found it in `/var/lib/redis/dump.rdb`, then I deleted it.
SOLVED.

[2020-11-09 14:09] oranagra commented on #8032
they're not strictly duplicate since each of them is about the same bug in a different command.
i've set the PR to close both when merged, assuming @filipecosta90 will update his PR (commented there).

[2020-11-09 15:51] itamarhaber commented on #8028
@Jovons please open a new issue/PR for this as this will be shortly closed due to the fix. This info would be good to have readily available from the cli (and the documentation ;)).

[2020-11-09 16:12] itamarhaber commented on #8027
Hello @Cloud-Zhang

The `CLUSTER FLUSHSLOTS` makes the node "forget" all its assigned hash slots. This changes the node's state, which is persisted to the conf file as well as shared with the cluster's members, and leaves the respective slots unassigned (so you'll need to call `CLUSTER ADDSLOTS` for these).

[2020-11-10 01:08] Cloud-Zhang commented on #8027
Hello Haber.
Thanks for your reply. So is it means that when you execute this command in the one node which owns the slot , it will remove the assigned slots . ans in the same time other nodes should know this change and change the config file as well. Now i have a case which is i execute this command in one node . For example one node have slots 0-5460 . after CLUSTER FLUSHTSLOTS executed. these

[2020-11-10 18:56] madolson commented on #3403
Thanks for reporting this, looks like a more general issue.

[2020-11-10 19:00] madolson commented on #4359
Hello, we don't log admin commands, see https://github.com/redis/redis/blob/unstable/src/server.c#L3419.

[2020-11-10 19:00] #4359 closed

[2020-11-10 20:02] #8028 closed

[2020-11-10 21:50] #3403 closed

[2020-11-10 21:50] #3841 closed

[2020-11-10 21:59] madolson commented on #7563
@oranagra Salvatore apparently just ignored it. It was in a block of other suggestions and he addressed some of them, but not this one.

[2020-11-10 22:20] madolson commented on #7563
I was reading through the lettuce implementation, and they seem to only handle it for respv3 version, but they do so correctly. You can build an extension for respv2 (Although not sure why you would). They also don't support the Null flush semantic.

https://github.com/lettuce-io/lettuce-core/releases#:~:text=Lettuce%20provides%20a%20CacheFrontend%20that,is%20exposed%20through%20a%20CacheFrontend%

[2020-11-10 22:25] madolson commented on #7935
Looks resolved

[2020-11-10 22:25] #7935 closed

[2020-11-11 03:25] zengzhiying opened #8040 "Inconsistent information displayed by redis cluster check"
redis version: 6.0.9
nodes:
192.168.122.5
192.168.122.6
192.168.122.7
192.168.122.8
master: 192.168.122.5:6379 -> slave: 192.168.122.6:6380
master: 192.168.122.6:6379 -> slave: 192.168.122.5:6380
master: 192.168.122.7:6379 -> slave: 192.168.122.8:6380
master: 192.168.122.8:6379 -> slave: 192.168.122.7:6380

Execute on each node:  `redis-cli --cluster check 127.0.0.1:6379`
The result is:
M: cd51703

[2020-11-11 09:37] MatteoRagni commented on #3536
Just refreshing this issue with an update, in case someone is interested.

I'm testing CygWIN64 (Setup version 2.905 64bit) compiling Redis with the following dependencies installed:

 * `gcc-core` 10.2.0-1
 * `make` 4.3-1
 * `procps-ng` 3.3.16-1
 * `tcl` 8.6.8-1
 * `pkg-config` 1.6.3-1

The running SW/HW:

 * Windwos 10 Pro x64 version 1909 (Build 18363.1139)
 * Intel Core i7-8750H 2.20GHz
 * RAM

[2020-11-11 10:44] yossigo commented on #8040
Hi @zengzhiying, can you please describe how you have set up the cluster and provide the output of `redis-cli cluster nodes` on each instance? Thank you

[2020-11-11 11:00] yossigo commented on #8029
@madolson I like this idea, although I don't think about it in terms of keyspace-based pub/sub but in terms of sharded channel-space. Also, the old channels aren't going away, so ACLs would still need a way to specify channel name selectors.

[2020-11-11 12:51] MatteoRagni commented on #3536
Just an update on **redis unstable dd1f20e**. To compile it I had to define at the very begin of debug.c:

[code]

to compile it successfully, but one of the test causes a bug report output on test

[code]

that I'm reporting

[code]

[2020-11-11 13:31] valentinogeron commented on #6842
It seems that the issue is with the definition of writing replica.
According to the code, a writing replica can modify a key but does not
lazy expire keys which are logically already expired when it accesses them.
When we access a key for reading, and the key is logically expired it
will return with an indication that the key does not exist only if it is a read-only command.
In the case of write c

[2020-11-11 15:26] oranagra commented on #6842
@valentinogeron in 1) do you mean that writing replica will lazy expire keys only when running a write command, right?
i think i'm ok with such a change. either way since it's a writable replica doing a write command can cause inconsistency of data between the master and replica.

p.s. SUNION goes to great lengths to use lookupKeyWrite in the STORE mode, and use lookupKeyRead in the non-STORE mode

[2020-11-11 21:02] valentinogeron commented on #6842
@oranagra - I agree with `when reading from a key (without the intent to modify it), it must use lookupKeyRead`.
And regarding the issue, so do we want to go with the first option?

[2020-11-11 21:56] itamarhaber commented on #8027
I apologize for misleading you somewhat, my cluster knowledge is very lacking. As far as I can tell, you'll need to issue `DELNODES` before the `ADDNODES` on the target node.

[2020-11-11 23:30] boriswexler commented on #6048
+1, same use case

[2020-11-12 02:26] charlenezheng commented on #6294
Hi, I am facing a same error
`Last reply received from server.
errors: 100000, replies: 100000`
Is there any solution for this question?

[2020-11-12 03:22] zengzhiying commented on #8040
@yossigo Hello, my cluster has a total of 4 nodes, and two redis instances are started on each node. The port numbers are 6379 and 6380 respectively. The main configuration is as follows:
bind 127.0.0.1 <node ip>
port 6379
cluster-enabled yes
cluster-config-file nodes-6379.conf
cluster-node-timeout 15000
cluster-replica-validity-factor 10
cluster-migration-barrier 1
cluster-require-full-coverage n

[2020-11-12 03:40] galleChristian opened #8043 "[BUG] method zslInsert in t_zset.c update and rank array length need not maxlevel and unsigned int may overflow"
**Describe the bug**
`
zskiplistNode *zslInsert(zskiplist *zsl, double score, sds ele) {

`zskiplistNode` *update[ZSKIPLIST_MAXLEVEL], *x;

   `unsigned` int rank[ZSKIPLIST_MAXLEVEL];
`
A short description of the bug.

**To reproduce**

Steps to reproduce the behavior and/or a minimal code sample.

**Expected behavior**
`
zskiplistNode *zslInsert(zskiplist *zsl, double score, sds ele) {

//-------

[2020-11-12 07:55] iushas commented on #7747
@yossigo  can also do this fix on version 4?   upgrade to 6.0.9 is  very difcult，even unrealistic for us

[2020-11-12 15:24] jrtaisto opened #8047 "redis-cli support not default user with auth from command line."
Want redis-cli to be able to connect as non-default user with AUTH.

Currently there is no way to do this using the -a and -u methods for redis-cli.  Ideally, I would like to connect using either method.

Current usage (from website):

redis-cli -a myUnguessablePazzzzzword123 ping
redis-cli -u redis://p%40ssw0rd@redis-16379.hosted.com:16379/0 ping

Proposed usage:

redis-cli -a acl_username:myUngu

[2020-11-12 15:40] oranagra commented on #8047
are you missing this:
[code]

however, i see that `-u` (URL) can be improved:
[code]

[2020-11-12 16:31] itamarhaber commented on #7988
xref: https://groups.google.com/g/redis-db/c/RCqwd7MStuA/m/xJobGNXjAQAJ

[2020-11-12 18:48] jrtaisto commented on #8047
I sure did.  This can be closed out unless the redis URI is going to be
addressed to allow access.  Thanks.

On Thu, Nov 12, 2020 at 10:40 AM Oran Agra <notifications@github.com> wrote:

[2020-11-12 19:52] oranagra commented on #8047
already handled, will probably be in the next release.
thanks

[2020-11-12 19:52] #8047 closed

[2020-11-13 08:10] YiLinice opened #8049 "[BUG] replica receive nested "multi" command"
**Describe the bug**

A short description of the bug.

1:S 13 Nov 2020 06:18:06.183 # == CRITICAL == This replica is sending an error to its master: 'MULTI calls can not be nested' after processing the command 'multi'

**To reproduce**

1、in redismodule, register  mydel command and sub callback
2、delete a key in mydel command (del keya) . and the del cmd need propagateto replica.
3、step 2 delete a

[2020-11-13 08:18] Cloud-Zhang opened #8050 "[QUESTION] Cluster ADDSlots command met error when in the cli"
127.0.0.1:6901> CLUSTER ADDSLOTS {0..5460}
(error) ERR Invalid or out of range slot
When i try to assign the slot to the node it met this error. Does my command error ?
But when i use below command it can work . Who can help me to clear it why?

[root@wangshuang1 A]# redis-cli -p 6901 -a 123 cluster addslots {0..5460}
Warning: Using a password with '-a' or '-u' option on the command line interface

[2020-11-13 08:31] oranagra commented on #8049
@YiLinice which version of redis are you using?
what do you mean by "sub callback"?
how do you delete the key in mydel command (using RedisModule_DeleteKey or RedisModule_Call)?

i seem to remember something like that was recently fixed, i found 616b1cb7a (which was part of 6.0 RC3), maybe there was another later fix, @guybe7 do you remember?

[2020-11-13 08:41] guybe7 commented on #8049
I think that this is the scenario:
1. Module command does RM_Call to DEL, sending a key space notification
2. Some module is registered to notifications (maybe same module) and upon the notification calls RM_Call DEL on another key.

This will cause a nested multi because each step has its own context

It seems to me like we need some global int to count nesting level

[2020-11-13 08:44] guybe7 commented on #8049
Or maybe RM call should inherit the multi flag of the caller

[2020-11-13 09:17] linyi-xq commented on #8049
@oranagra
redis version: 6.0.4
sub callback :     RedisModule_SubscribeToKeyspaceEvents(ctx, mask, sub_callback);
I use RedisModule_Call to delete key.

[2020-11-13 09:20] linyi-xq commented on #8049
yes. this is bug scenario.

[2020-11-13 10:45] remicollet opened #8051 "[BUG] atomic config rewrite breaks the feature"
See: https://github.com/redis/redis/pull/7824

This break config rewrite, because of permission problem, as most of the time saving /etc/redis.conf imply write access to /etc, which is usually not allowed.

[2020-11-13 19:41] itamarhaber commented on #8050
Hello @Cloud-Zhang

Per the documentation, the [`CLUSTER ADDSLOTS`](https://redis.io/commands/cluster-addslots) expects one or more slots, not ranges of slots. That's why you're getting the error when attempting it in the cli's REPL.

When called as an argument for the cli, note that most shells substitute the expression `{n..m}` with the explicit range of n, n+1, ..., m - which is called Brace Ex

[2020-11-14 06:10] fcamel commented on #2762
Is there any good news for this feature request? It'd be very helpful to implement an expire-after-access cache.

[2020-11-14 18:57] itamarhaber commented on #2762
To summarize the discussion so far:

* It looks like GET+EXPIRE is common enough <- let's resolve that already.
* Modifying `GET` to support expiry semantics will make it into a write command, so that kind of a big change.
* Modifying `EXPIRE` to also `GET` would be an awkward API, to say the least.

So, it looks like we need a new String 'write' command that is essentially `GET` amalgamated with

[2020-11-15 10:28] oranagra commented on #2762
@itamarhaber another interesting idea that occurred to me that maybe `SET XX NX GET EX <ttl>` could do that (i.e. we allows both XX and NX to indicate that the key should not be modified).
that's obviously a bad idea, but maybe we want to explore the possibility of extending the `SET` command with these features (`DEL` and `NOSET`) rather than the `GETEX` command you mentioned.
it would still be m

[2020-11-15 12:14] #446 closed

[2020-11-15 21:01] yossigo commented on #7747
Hi @iushas Unfortunately, we don't have the bandwidth to continuously backport every fix (or even just few fixes) to old versions.

[2020-11-16 01:14] Cloud-Zhang commented on #8050
@itamarhaber  Thanks for your reply . Understand it .

[2020-11-16 01:14] #8050 closed

[2020-11-16 01:21] Cloud-Zhang commented on #8027
@itamarhaber  after mant times testing . i still found that when you run the cluster flushslots in the one node, other node still not know it . So it means this change will not propagate itself change to the whole cluster. Now if one node run this command and it's slot removed. But if i login into another node(master) to run the Cluster Info it still show the state is ok. But in fact the current c

[2020-11-16 06:08] SivaBu-kore opened #8055 "[NEW]Passphrase option for encrypted SSL Private keys"
Redis now seems doesn't support Encrypted SSL private keys because there is no option in [config](https://github.com/redis/redis/blob/unstable/redis.conf) to pass it to the server.

A config option like (tls_key_passsphrase) helps in case of SSL private keys are encrypted.

[2020-11-16 07:41] chienjchienj commented on #2668
+1

[2020-11-16 08:44] zhangwei17 opened #8057 "a node is marked fail with connected state"
I deployed a redis cluster about half a year ago. 50 nodes on 25 physical machines, 50 nodes are all master nodes(no replication) and no rdb files are used.
One of 25 physical machines was re-booted due to system failure last day. After the system recovering, redis instances on it got up normally and one of the 50 cluster nodes got into strange state:
the result `cluster nodes ` is like this

**th

[2020-11-17 10:03] #6599 closed

[2020-11-17 10:52] #7735 closed

[2020-11-17 12:27] kienerj opened #8059 "[BUG] If pkg-config is missing, redis is silently built without systemd support"
**Describe the bug**

If the package `pkg-config` is not installed in the system, the build process silently builds redis without systemd support even though it would be available.

If one explicitly sets `USE_SYSTEMD=yes` and `pkg-config` is not available, then the build script says that `libsystemd` could not be found which is very confusing when knowing it actually is there.

**To reproduce**

[2020-11-17 16:35] #5767 closed

[2020-11-18 02:46] qwertywelch opened #8062 "[CRASH] Unable to start redis-server on Apple Silicon M1 as non-root"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

*OS distribution and version:* macOS Big Sur 11.0.1, MacBook Air M1 (8-core, 7-core GPU)
*Steps to reproduce (if any)*
1. Installed via Rosetta-run Homebrew `arch -x86_64 brew install redis`.
2. Run

[2020-11-18 06:30] saravind opened #8063 "[QUESTION] Stable version for Redis 5 & Redis 6"
Hi,

We are evaluating the Redis cluster for a larger deployment of more than 2 TB, please suggest the stable versions for redis 5 and Redis 6 as such.

And also do Redis cluster could linearly scale for > 2 TB

[2020-11-18 06:38] oranagra commented on #8062
@qwertywelch thank you for submitting this report.

i'm guessing si_code of 2 means SEGV_ACCERR. can you please confirm (look for it in your `/usr/include` or equivalent).

the stack trace looks a bit odd, can you try to build redis with debug symbols and no optimizations (`make noopt`) and see if we get a better stack trace?

[2020-11-18 07:35] nw-b commented on #8062
@oranagra This perhaps what you're looking for?

[code]

I'll try doing a debug build.

[2020-11-18 07:41] huachangYu commented on #6758
Hi @bouyeijiang
please to see https://github.com/huachangYu/test-redis-jedis-geo or https://zhuanlan.zhihu.com/p/299436351.
I wrote a demo to make redis support polygon. If you are interested in it, please contact me. My email is ihuachangyu@gmail.com

[2020-11-18 09:06] oranagra commented on #8062
ok, this stack trace looks much better `createPidFile` -> `fopen`.
the previous one showed `luaD_call` -> `tiny_free_no_lock`
maybe running it under `strace` will reveal something else? please try.
i don't see how anything we do in redis can lead to `fopen` to cause segmentation fault.
unless the filename is garbage, but then why would it succeed with `sudo`?

[2020-11-18 12:05] paulmelis opened #8064 "[BUG] Segfault with 6.0.9 when running under XALT"
**Describe the bug**

We're seeing a segfault in Redis 6.0.9 when running under [XALT](https://github.com/xalt/xalt). XALT is a framework, mostly used on HPC systems, to gather statistics on software usage. It is activated by using `LD_PRELOAD` of a small XALT library that saves statistics on processes being run. What happens is that `redis-server` segfaults when the `LD_PRELOAD` is active:

[code

[2020-11-18 12:20] paulmelis commented on #8064
Actually a simple reproduction is suggested in https://github.com/xalt/xalt/issues/41 by @rtmclay. Copying the code of `spt_clearenv()` and `spt_copyenv()` into `t.c`, calling `setenv()` as the first thing in `main()`, followed by a call to `spt_copyenv()`.

[code]

[code]

Valgrind shows that the contended memory in `spt_copyenv()` is allocated by the first `setenv()` but then freed by `clearenv(

[2020-11-18 12:41] oranagra commented on #6842
i'm gonna move it to "Next major backlog" milestone.
i think this requires a big refactoring effort and we're not entirely sure what are the consequences for the changes we'll make and what are the reasons the code behaves as it is today.
so these changes are too dangerous to make now so close to an RC, and also if we'll want to change a behavior, doing it in a major version is better.

[2020-11-18 19:37] Mariachi1231 opened #8066 "[QUESTION] How do I restrict access to certain topics in redis pubsub with acl?"
I have already seen this [post][1] about the restriction of user access to some concreate topics, but I want to restrict subscribe command not to a concrete topic, but to topics that satisfy some pattern like "Test1*". I tried the next line from aclfile:

`user test1 on >test ~Test1:* +@all -@admin -@dangerous +latency -subscribe +subscribe|Test1*`

but seems it's not working as a pattern. But it

[2020-11-18 20:58] madolson commented on #8066
Hi, that is currently only supported in a minimal way. The hack mentioned in that post uses "subcommands" as a way to give basic support for the feature you're looking for. doing +subscribe|test1* only gives access to the exact channel "test1*" and only if it's the 2nd argument. You can keep track on the progress of the more complex solution here: https://github.com/redis/redis/issues/7923

[2020-11-18 20:58] #8066 closed

[2020-11-18 21:45] madolson commented on #8029
Ok, well, the only that might change is the documentation. I might try to prototype this a bit.

With respect to old channels, I agree they aren't going away. But if we can get almost all of the functionality with this, I think that is better than having to introduce special handling for channels.

[2020-11-19 03:51] hylowaker opened #8068 "Bundled 'systemd-redis_server.service' file makes systemctl block"
OS: Ubuntu 20.04

[code]

I installed Redis by the commands above.

Then tried to start the server by
[code]

This blocks the terminal, so I had to send _Ctrl+C_ to get the control back.

If you change `Type=notify` to `Type=simple` in the service file, systemctl does not block.

[2020-11-19 08:07] tf-ddanilyuk commented on #8062
It does succeed with sudo

[2020-11-19 15:30] lukepalmer opened #8069 "[BUG] maxmemory-policy eviction with client tracking can cause feedback loop"
**Describe the bug**

Client output buffers count toward the memory used by Redis.
A maxmemory-policy setting will cause the eviction of keys when the prescribed amount of memory is used.
Client tracking will cause evicted keys to be reported to clients, growing client output buffers without bound and causing further memory pressure and further evictions.
Redis can then enter into a feedback loop

[2020-11-19 18:16] itamarhaber commented on #8063
Hello @saravind

The latest stable versions are the recommended ones. You can find them at https://redis.io/download (specifically, 5.0.10 and 6.0.9 at the time of writing).

For data management - yes.

[2020-11-20 08:58] scorpiohjx commented on #4537
The same here

[2020-11-20 15:44] yossigo commented on #8068
Hi @hylowaker, please make sure that you compile Redis with libsystemd support (default if you have `pkg-config` and the `libsystemd-dev` development library). Also, you will need to set `supervised systemd`.

Using `Type=notify` is the preferred way to run with systemd, as Redis will also relay to systemd its state changes.

[2020-11-20 15:55] yossigo commented on #8059
Hi @kienerj, this behavior is intentional as `libsystemd` is an opt-in dependency. If you want to be sure Redis builds with systemd support or fails - use `USE_SYSTEMD=yes` explicitly.

[2020-11-20 16:22] yossigo commented on #8055
Hello @SivaBu-kore, thanks for this input.

From my POV, the only incentive to support encrypted private keys is to improve security. However, simply storing the password in the configuration file pretty much defeats this purpose as again we have clear-text secrets on disk.

We can get some configuration through stdin (which is safe) or command line arguments (less safe, Redis rewrites argv but th

[2020-11-20 16:27] yossigo commented on #8051
We accept this as a known limitation to the approach taken for atomic rewrites. We shall urge everyone to use `/etc/redis` (or some other dedicated directory) for Redis configuration which would have additional benefits anyway.

[2020-11-20 16:27] #8051 closed

[2020-11-20 18:00] kienerj commented on #8059
Yes but read my full report.

With `USE_SYSTEMD=yes` set, the script throws an error that `libsystemd` could not be found. This is the confusing part because it is there and the actual error should probably be that `pkg-config` is missing and hence can't be determined if `libsystemd` is available.

It's a bit ironic that a check is made if `libsystemd` is available  using a package with might itse

[2020-11-21 07:29] remicollet commented on #8051
This is really a shame to have such a break / behavior change in a minor release...

This should obviously be part of a major update, and clearly documented in changelog....

[2020-11-21 18:41] yossigo commented on #8051
@remicollet I totally agree with you on this, this fix slipped through to 6.0.9 and would have been better off delayed to 6.2. We do our best to be mindful and avoid such mishaps, and at the same time not be too strict and keep a reasonable cadence. Sometimes we get it wrong, like in this case.

[2020-11-21 19:25] yossigo commented on #8059
@kienerj Thanks for clarifying that. I agree there's no point in requiring `pkg-config` for `USE_SYSTEMD=yes` and this should be streamlined to how other conditional dependencies are handled.

[2020-11-21 22:26] eliquinox commented on #5957
I have solved this problem of switching between different network interfaces by specifying `sentinel announce-ip` param in sentinel.conf.

[2020-11-22 09:08] oranagra commented on #8062
again, i suggest running it with `strace` to try to reveal more details.

i really don't see how a bug in redis can lead to segfault in fopen unless the filename is garbage, and if that was the case it would have happened with sudo too.

[2020-11-22 09:19] oranagra commented on #4537
it seems some compilers on Windows consider [long double](https://en.wikipedia.org/wiki/Long_double) as a synonym for double.
please run `uname -a` and let me know what you see.
we should improve this check to skip that test on this platform:
[code]

[2020-11-22 10:06] yossigo commented on #4537
@oranagra I noticed that as well on WSL which is not really distinguishable from any other Linux/x86_64 environment. I think we may need to relax this test or come up with some way to indicate 80-bit floats are not supported.

[2020-11-22 10:09] yossigo commented on #8062
If I understand correctly, this is a x86_64 binary running on M1 arm64 after being translated so theoretically could also be an issue with the translation process. Not very optimistic about strace helping in this case, it may require someone taking a step further in debugging this on the said platform.

[2020-11-22 11:25] oranagra commented on #8062
@Developer-Ecosystem-Engineering maybe you know anyone that can look into a possible problem with the translator.

[2020-11-22 12:40] #8059 closed

[2020-11-22 12:58] yossigo commented on #4537
So it seems like WSL sets the FPU control register's PC bits to `10` (double precision) while Linux uses `11` (extended precision). It's possible to use macros in `fpu_control.h` to query or modify this, although I'm quite reluctant to go into this trouble just for WSL support. That might not be very portable and introduce other hardware-specific issues (header file warns that x86_64 SSE is unaffe

[2020-11-22 13:04] oranagra commented on #4537
i'm ok with relaxing that test a little bit (but still making sure it hits it's purpose).
i.e. find a combination of numbers that have `pretty printing` using 64 bit long double too.

on the other hand, i'm also ok to add an info field that exposes the precision to clients (maybe it'll be useful for others too).

maybe @guybe7 has some feedback about this (i remember he messed with some other long

[2020-11-22 15:57] austenc commented on #8062
I also noticed this when trying to use Redis with homebrew on an M1 Mac. Homebrew reports that it started the server correctly, but it does not.

Running `redis-server` fails, but running `sudo redis-server` works. This is running x86_64 binary after being translated.

For folks who might be finding this thread, a "workaround" in the meantime is to start the Redis server like this manually:
[code]

[2020-11-22 19:57] kcudnik opened #8077 "Key length (>128) vs redis performance with keys command under lua"
Hello, i have a problem with performance, i have database with 200k hashes, where 100k of them begins with "TEMP_"  rest of key is exactly the same, here is sample: (in total there is 100k pairs in db)

[code]

on average length of the key without TEMP_ prefix is 126 bytes, but with TEMP_ prefix, on average key length is 131 bytes.

and with that said i'm getting huge time differences when dumping

[2020-11-23 01:51] hylowaker commented on #8068
After installing development libraries it works fine.

[2020-11-23 01:51] #8068 closed

[2020-11-23 02:24] Developer-Ecosystem-Engineering commented on #8062
Taking a look, might be a while given the time of year.

[2020-11-23 03:11] wenbochang888 commented on #5860
Do you have any idea? I alse want to know.

[2020-11-23 03:39] Dravening opened #8079 "[QUESTION]the time which redis monitor printed confused me."
Hi, sorry to bother.
here's my question.I suspect that my redis-cli did not receive the message in time for some reason, such as network problems.
I found out the command **"monitor" can print out timestamps**.
but it confused me that whether this timestamp is **"when redis-server receives the task"** or **"when redis-cli receives the msg"**.

Best wishes.

[2020-11-23 05:45] KhDanial opened #8081 "[BUG] "No such file or directory" error, when redis unixsocket does not exist"
**"No such file or directory" error**

when we want to use redis unixsocket it is possible that given path for socket does not exist.
in this situation if we start redis-server with  given config, error occurred with this message:
**Opening Unix socket: bind: No such file or directory**

**To reproduce**

Steps to reproduce the behavior and/or a minimal code sample.
you can delete unixsocket path

[2020-11-23 07:48] yossigo commented on #8079
Hi @Dravening, the timestamps produced by `MONITOR` are generated on the server side so they represent the time Redis started to process the command (which is usually very close to the time it received it, unless many commands queued up).

[2020-11-23 07:48] #8079 closed

[2020-11-23 11:08] yossigo commented on #8040
@zengzhiying I notice you use `bind` on both the `127.0.0.1` and the interface's address and also the nodes output above shows some inconsistency around addressing. Need to take a closer a look at that, but in the meanwhile can you just `bind 0.0.0.0` and see if that works around your problem?

[2020-11-23 15:51] yossigo commented on #8077
@kcudnik First thing that comes to mind having such a large difference is the fact that results are sorted, in order to ensure consistency with Lua script replication. Check out `redis.replicate_commands()` and see if using this mode in your script makes a difference (note that since 6.0 this has become the default).

If not, please consider sharing an rdb file so it's easier to reproduce this.

[2020-11-23 16:52] itamarhaber opened #8084 "[BUG] redis-cli's tip mishandles optional command arguments"
**Describe the bug**

When using the cli's hints, optional arguments (e.g. `[arg]`) are always shown, but not hidden if used.

**To reproduce**

Fire up the cli and start typing a command with optional arguments (e.g. `SET`)

**Expected behavior**

cli tips should hide an optional argument once used.

**Additional information**

None

[2020-11-23 18:16] oranagra commented on #8084
While at it, try to handle other non-trivial command arguments, like nested blocks, and `|` options (subcommands and such)

[2020-11-23 18:26] kcudnik commented on #8077
Hey @yossigo, thanks for response, i don't do any sorting, and i prepared a bash test script to confirm this scenario, those are the only commands that i execute, issue is definitely related to "keys" command and key length

[code]

and here are the results:

[code]

notice time difference 6.6 sec vs 34.6 sec !!, and if i replace "TEMP_" with "T" (actual chars don't matter here), entire key length

[2020-11-23 19:58] yossigo commented on #8077
Looking like you're hitting a hash table conflict due to the way Lua hashes strings in its internal string table. See here:
[code]

[2020-11-24 07:37] YiLinice opened #8087 "[CRASH] activeExpireCycle crash"
**Crash report**
6:M 24 Nov 2020 03:46:25.073 - DB 0: 1266 keys (1266 volatile) in 2048 slots HT.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
6:M 24 Nov 2020 03:46:25.816 # Redis 6.0.4 crashed by signal: 11
6:M 24 Nov 2020 03:46:25.816 # Crashed running the instruction at: 0x4acff8
6:M 24 Nov 2020 03:46:25.816 # Accessing address: 0x6c656401030b
6:M 24 Nov 2020 03:46:25.816 # F

[2020-11-24 07:39] lcmkevin commented on #5255
Is this problem solved yet？

[2020-11-24 08:53] oranagra commented on #5255
not yet, but it is currently being worked on in #7807

[2020-11-24 08:54] oranagra commented on #7445
FYI: This is currently being worked on in #7807

[2020-11-24 08:54] oranagra commented on #3080
FYI: This is currently being worked on in #7807

[2020-11-24 09:32] yossigo commented on #5957
@hirschnase Can you provide more details on your environment - OS and version, containers in use, etc?
It seems like a local connection to the interface's public address results with a socket that is bound to the loopback address. I think we're seeing this problem manifested in other issues but it's limited only to specific environments.

As @eliquinox correctly indicates specifying an explicit `a

[2020-11-24 09:46] ShooterIT commented on #8087
It is a interesting bug :)
What a coincidence! In most cases, one hash slot doesn't have many entries. But your two keys both are in the same slot.

[2020-11-24 12:20] yossigo commented on #6294
This is indeed a limitation of `redis-cli` which does not support cluster mode with `--pipe`.

[2020-11-24 13:52] #6071 closed

[2020-11-24 13:55] yossigo commented on #5969
It's pretty old but I'll answer for reference if a search hits this in the future. The answer is of course yes, `RedisModule_CreateTimer` will return immediately and schedule the callback to fire later.

[2020-11-24 13:55] #5969 closed

[2020-11-24 14:12] yossigo commented on #5508
Looks like this was fixed by 096592506e.

[2020-11-24 14:12] #5508 closed

[2020-11-24 14:20] yossigo commented on #5356
I'm compiling a new list, closing this for now.

[2020-11-24 14:20] #5356 closed

[2020-11-24 14:31] yossigo commented on #5108
Hey @halaei, I'm closing this as `RedisModule_OnUnload` was added by #5926.

The argument for a reload mechanism is interesting but I don't think it's realistic given the coupling between Redis and a loaded module (just think of all potential callbacks, etc.). And if a module does clean up and unregisters everything, that's essentially like unload/load.

[2020-11-24 14:31] #5108 closed

[2020-11-24 14:54] yossigo commented on #4144
Closing this, Module API documentation and in particular something that's more tutorial-like and not just reference are very much desired of course.

[2020-11-24 14:54] #4144 closed

[2020-11-24 15:00] yossigo commented on #4061
Looks like we're too far in the game to change that now.

[2020-11-24 15:00] #4061 closed

[2020-11-24 15:02] #4000 closed

[2020-11-24 15:19] #3297 closed

[2020-11-24 15:24] #3493 closed

[2020-11-24 15:27] yossigo commented on #3212
Hey @marcosnils, closing this as it's obsolete now.

[2020-11-24 15:27] #3212 closed

[2020-11-24 15:58] #8064 closed

[2020-11-24 16:38] yossigo commented on #5384
Duplicate of #7992

[2020-11-24 16:58] yossigo commented on #4370
Hey @mattrobenolt, responding late but still thanks for this input. I agree with you that there's no clear advantage for yet another module API function! Closing, please feel free to re-open if necessary.

[2020-11-24 16:58] #4370 closed

[2020-11-24 17:02] yossigo commented on #6065
This discussion has already been concluded committed, closing.

[2020-11-24 17:02] #6065 closed

[2020-11-24 19:45] yossigo commented on #3747
Closing because as mentioned, #3383 makes it possible to leverage `rdb_save` and `rdb_load` callbacks to and from strings so modules can implement their own `RESTORE` command.

[2020-11-24 19:45] #3747 closed

[2020-11-24 20:42] kcudnik commented on #8077
Hey @yossigo, you are correct about this one, i cloned master (on master is that line is >>5) and i recompiled this with different values and here are results: (i stripped noise)

[code]

Thank you for your help and pointing out right piece of code. The time difference with running those examples is dramatic, don't know why on the last one there is difference 0.1sec vs 0.5sec but still better than

[2020-11-24 20:45] rtmclay commented on #8064
This code change won't fix the issue.  Please see my comments to #8088.

[2020-11-25 02:42] yangbodong22011 commented on #4417
hi, @itamarhaber I don’t know if you have already started the implementation. If not, can I get your approval to start the implementation.  (GEOBBOX and GEOBBOXBYMEMBER)

[2020-11-25 07:37] oranagra commented on #3747
@yossigo don't you think it would be nice to do that automatically in redis?
another option is that if there's a single module with registered data type that didn't implement the AOFRW callback, redis automatically falls back to doing a preamble RDB format (actually that's the default nowadays).

[2020-11-25 08:35] oranagra commented on #5860
I'm not sure what were the reasoning, maybe related to the type of hash function redis uses or the way the dict is built (lookup table with linked lists). these may be different than what's in Java and Python.
But anyway, fast lookup is not the only concern here. Memory consumption is a factor too.
Rehashing sooner will mean the hash table will consume more memory, and in some cases that can come

[2020-11-25 09:17] yossigo commented on #3747
@oranagra I thought about it, but it's really a small effort on the module side and I think I'd rather have modules choose to do that explicitly.

We may want to refuse to load a module with no `aof_rewrite` callback if preamble is disabled and refuse to disable preamble if such modules are loaded.

[2020-11-25 09:48] oranagra commented on #8069
@lukepalmer thanks for reporting.. this is very bad.
I don't think we can afford output buffers to be excluded from eviction.

I see two problems here, not exactly sure which one you run into:
1) the loop in `performEvictions` keeps running till it evicts all the keys in the db, because every time it deletes a key, it increases the used memory). i.e. a single SET command is enough to cause a chain

[2020-11-25 10:11] guybe7 commented on #8049
for the record: i think setting CLIENT_MULTI on `c` in `RM_Call` (if `replicate`) should solve this issue
but we need to write a test

[2020-11-25 10:17] itamarhaber commented on #6758
Closing this - please feel free to reopen or create a new issue if needed.

[2020-11-25 10:17] #6758 closed

[2020-11-25 11:22] chrisAtRedis opened #8092 "[BUG] CLANG compiler error on armv5 and armv7"
Compiling redis on arm (32 bit) with clang results in the following errors (only stating two):

debug.c:963:36: error: no member named 'gregs' in 'mcontext_t'
    return (void*) uc->uc_mcontext.gregs[14]; /* Linux 32 */
[code]

[2020-11-25 15:31] halapastefan commented on #2604
I come upon the same issue. I tested this fix, and it works.  Maybe it would be good to change existing behavior also to have consistent behavior with this new approach using suppliers. If `.reset()` not removed from existing code, configuring Redis with builders will never work and can result in newly opened issues as it does not behave like expected.

[2020-11-25 16:30] ipmb opened #8099 "[NEW] Database-level ACL"
**The problem/use-case that the feature addresses**

Extend `ACL` to include a way to restrict users to a specific database. This would make it possible to assign individual databases to a user, opening the possibiity for a single Redis instance to be multi-tenant.

**Description of the feature**

Craft an ACL that only allows a user to connect/select a specific database.

**Alternatives you've co

[2020-11-26 01:49] zengzhiying commented on #8040
@yossigo Hi, When I try to bind 0.0.0.0, there will still be inconsistent results, maybe because it still of including 127.0.0.1. Therefore, after modifying all configuration files to bind the actual network interface again (Exclude 127.0.0.1), the display no longer has any problems.
The binding configuration is:
192.168.122.5: `bind 192.168.122.5`
192.168.122.6: `bind 192.168.122.6`
192.168.122.7

[2020-11-26 03:13] wziww opened #8101 "[NEW] bigkeys & hotkeys log support"
**The problem/use-case that the feature addresses**

Just like the `SLOWLOG` command, support for Bigkeys log and Hotkeys log will enable user to check out which usage need to be optimized in the application.

**Description of the feature**

Not just like the redis-cli  options `--bigkeys` or `--hotkeys`, these log command will enable us to check it out without scaning the whole node, that will re

[2020-11-26 03:24] ShouZhiDuan commented on #7595
thank you

At 2020-10-26 21:07:21, "filipe oliveira" <notifications@github.com> wrote:

Hello! Use Redis-TLS，but java client how to connect this redis-tls?

Hi there @ShouZhiDuan , I believe you're looking for a Java client with TLS support correct?
If so, please have a look at jedis and the following jedis client issue:

JedisPool constructor from 2.9 onwards has the option to use SSL through a U

[2020-11-26 03:52] ShouZhiDuan commented on #7595
Hello I had see https://github.com/redis/jedis/blob/master/src/test/java/redis/clients/jedis/tests/SSLJedisTest.java.
But I am confused how can I generate this file(src/test/resources/truststore.jceks).
I know redis-server will generate redis.crt redis.key ca.crt 3 files, so Is there a relationship between (src/test/resources/truststore.jceks) and (redis.crt redis.key ca.crt).
thank you.

At 2020-

[2020-11-26 08:19] #8040 closed

[2020-11-26 09:49] jianxinluo commented on #8077
@kcudnik
Modifying the offset affects the step size, which in turn affects the sampling of the string. If the data repeatability is high and the sampling interval is large, the hash calculation result will be affected and the data will be recorded in the same conflict chain.
If you change the offset to 8(l>>8), the two test results will be closer; however, the test time may increase.Because hashin

[2020-11-26 11:03] kcudnik commented on #8077
Hey @jianxinluo, yes, after brief code analyze that @yossigo pointed out, i figure out what's happening in that piece. From my case i probably would be leaning to make lua code modification, since i know my data, and i will not have strings longer than ~200 chars in db, but i will have a lot of them > 200k, and from tests that i performed it seems like hash collision is way more expensive than cal

[2020-11-26 13:09] guybe7 opened #8104 "[BUG] Modules: MULTI and Lua states change because of RM_Call"
If a module command A does an RM_Call that issues another module command B then, when in B, RM_GetContextFlags will lie about MULTI/Lua flags in which A was executed (Because RM_Call creates a new client)

being inside MULTI/Lua is global information and has nothing to do with the client

[2020-11-27 07:55] blankjee commented on #5179
👍

[2020-11-27 23:06] kcudnik commented on #8077
Does it make sense to create PR for such redis config option for lua allowing hashing step to be set to 1? Would you consider merging that into main branch? If yes, any proposal of which 2 mentioned options would be preferred?

[2020-11-29 08:36] oranagra commented on #8092
for some reason it tries to build the x86 code.
i suppose this may be do to the `__ILP32__` ifdef.

@chrisAtRedis can you try to see if re-ordering the code fixes this?
i.e. move the blocks for `__arm__` to be before the ones for `__ILP32__`?

[2020-11-29 09:19] yossigo commented on #8077
@kcudnik Thanks for offering a solution, but as you indicated yourself I also have doubts about introducing this as a Lua patch and an extra config parameter. I'd much rather see Redis picking up speed on upgrading to Lua 5.4 which seems to have made some progress around this as well.

[2020-11-29 11:11] kcudnik commented on #8077
Hey @yossigo, I already seen PR for 5.4 https://github.com/redis/redis/pull/8078, code around this string hash is improved, but in sense that hash shift value is extracted  to a define:

[code]

It's a step better, since after merging that to main branch, and including in my project as submodule, i can pass "-DLUAI_HASHLIMIt=8" parameter to CFLAGS to set it up. But i still need to have submodule a

[2020-11-29 12:37] oranagra commented on #8092
looks like this is already solved by #8095

[2020-11-29 12:37] #8092 closed

[2020-11-29 13:01] br1 commented on #2668
+1

[2020-11-29 19:06] yossigo commented on #5472
Closing as this was already implemented by 27f6e9bb9b (and a few others).

[2020-11-29 19:06] #5472 closed

[2020-11-29 19:07] yossigo commented on #7544
Fixed by #7577.

[2020-11-29 19:07] #7544 closed

[2020-11-29 20:28] chrisAtRedisLabs commented on #8092
Confirmed that #8095 also fixes this for ARMv7 on native Debian and ALARM on v5. Regression with GCC also checks out on both platforms. This is good to go.

[2020-11-30 07:07] slavak commented on #7860
Keep in mind that taking a `va_list` argument is only useful for passing through a call from another varargs function. As far as a I know [there's no](https://stackoverflow.com/questions/13703770/how-do-i-fill-a-va-list) (sane?) way of filling a `va_list` dynamically at runtime, so usage which requires a dynamic number of arguments known only at runtime is not enabled by such an API.

[2020-11-30 11:07] brt-han-mai commented on #6032
SOLVED by deleting from both `~` and `/`
[code]

[2020-11-30 12:55] raschle commented on #2668
+1

[2020-11-30 13:53] whateverpal opened #8111 "[BUG] Redis doesn't check a return code of fsync thus potentially corrupting keys/values and silently returning them."
According to researchers Anthony Rebello, Yuvraj Patel, Ramnatthan Alagappan, Andrea C. Arpaci-Dusseau, and Remzi H. Arpaci-Dusseau of University of Wisconsin - Madison, Redis doesn't check a return code of fsync system call.

They state that under certain conditions it may lead to corrupted keys or values being obliviously returned.

Link to the paper: https://www.usenix.org/system/files/atc20-re

[2020-11-30 19:19] yossigo commented on #8077
@kcudnik My concern also involves exposing Lua internals in a way which may have undesired side effects on the Lua VM, or may introduce compatibility issues in the future. I would rather spend some time learning how much of a problem this is for the Lua community (it should be) and how Lua itself deals / going to deal with that.

[2020-11-30 19:22] yossigo commented on #8077
So it seems like Lua is indeed moving in this direction:
https://github.com/lua/lua/commit/9a89fb1c9dfeda4640780111f9e9437f08cfad88#diff-502e2af53d91e94730b9452015d8c8a2b3b435dbca1e73393bbf6e36db3048e7

[2020-11-30 19:52] kcudnik commented on #8077
Thanks @yossigo for pointing this commit out, this seems like a good direction. This commit will be included in lua 5.4.2 version, and then it will be just question of time to move this to redis-server. Unfortunately it will probably not happen any time soon.
I would like this solution the best, but for now i will need to stick to custom server build. Thanks for your help.

[2020-11-30 21:14] Bnjorogedev opened #8114 "[BUG]Job for redis-server.service failed because the control process exited with error code."
**Describe the bug**
Server Startup for redis is failing because of an unidentified bug.
A short description of the bug.
Exit Error Code
See "systemctl status redis-server.service" and "journalctl -xe" for details.

**To reproduce**
Install Ubuntu 18.04 OS.
sudo apt update
Sudo apt get redis-server.
sudo systemctl restart redis.service

Steps to reproduce the behavior and/or a minimal code sample.

[2020-12-01 01:20] perrynzhou opened #8115 "[BUG]redis6 enable multi-io-thread,but not worked all still work on main thread"
@grobe0ba @antirez @madolson  redis6 enable multi-io-thread,but not worked all still work on main thread,that may be a bug
- redis-version

[code]

- redis config

[code]

- debug info

[code]

[2020-12-01 01:29] madolson commented on #8115
Hey, just because IO threads are enabled, does not mean they are running and processing events. IO threads become active when there is enough requests to justify the effort of using multiple threads. So under low throughput scenarios, the IO threads won't kick on.

[2020-12-01 01:40] perrynzhou commented on #8115
@madolson  is any way to debug multi-thread with less requests?

[2020-12-01 01:42] madolson commented on #8115
IO threads are less performant under low request situations so they aren't used. The best way to test it is to send more requests.

[2020-12-01 01:44] braddunbar opened #8116 "[BUG] SET with GET option: WRONGTYPE Error"
**Describe the bug**

Setting with the `GET` option returns an error, but still sets the value. Is this intentional?

`getGenericCommand` can [return an error](https://github.com/redis/redis/blob/c85bf2352d2a3dd04872124d33066403b114a7e7/src/t_string.c#L204-L206) if the value is not a string. However, `setGenericCommand` [does not check](https://github.com/redis/redis/blob/c85bf2352d2a3dd04872124d3

[2020-12-01 01:45] ssinghaldev opened #8117 "[QUESTION]"
Hey!

I am trying to understand Redis Cluster code. I have a query regarding write handlers. Can somebody please clarify?

Why in the redis cluster link connections, we are setting write handles with write barrier using `connSetWriteHandlerWithBarrier`. In which case, would a write barrier is necessary? What will be this issues if the barrier is not set and read happens before write?

Thanks!

[2020-12-01 01:52] madolson commented on #8116
No, probably not, lemme take a look.

[2020-12-01 02:03] madolson commented on #8116
Yeah, we're missing the error check there, we should be able to fix this quickly.

[2020-12-01 02:47] madolson commented on #8111
Yeah, when fsync fails it usually means you have no idea what has happened underneath on the system. For RDBs, we should be aborting the snapshot and trying again. I'm less sure what we should do about AOFs though, that seems to be the place we are generally ignoring the fsync calls.

[2020-12-01 02:49] madolson commented on #8099
@ipmb So, whether or not we plan to continue supporting databases is sort of up in the air. Is there any reason you can't move to an implementation based on key prefixes?

[2020-12-01 05:44] chemist777 commented on #8111
I think we should crash Redis (by default) in case of any fsync failure as it was done in Postgres.

[2020-12-01 06:23] jiekun commented on #8115
I assume @perrynzhou is trying to play with I/O thread, not forcing I/O thread to be used under low workload in production env.

so, it's controlled in `handleClientsWithPendingWritesUsingThreads()`

[code]

So in `stopThreadedIOIfNeeded()`:
[code]

I tried debugging with my CLion, set a break point first, then send multiple request via different client, then continue. This will use the I/O thread

[2020-12-01 10:45] laurauzcategui commented on #8010
I can close this issue as I found out the reason it was disconnecting wasn't due to bind config, but the Hyper-v restarts for around 30 secs and in between cluster node timeout happens as it's set to 5 secs.

Thanks for the help

[2020-12-01 10:45] #8010 closed

[2020-12-01 10:50] karansharma27 commented on #6286
For newer centos/RHEL version, try -

[code]

[2020-12-01 10:58] 708854835 opened #8119 "[BUG]core dump ae.c aeProcessEvents fe->rfileProc(eventLoop,fd,fe->clientData,mask);"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
15157:M 25 Nov 11:27:04.525 # Redis 3.2.8 crashed by signal: 11
15157:M 25 Nov 11:27:04.525 # Crashed running the instuction at: 0x41b82d
15157:M 25 Nov 11:27:04.525 # Accessing address: 0x7ff9df102398
15157:M 25 Nov 11:27:04.525 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
/opt/redis-3.2.8/bi

[2020-12-01 11:15] Bnjoroge1 commented on #8114
sudo apt-get update*

[2020-12-01 12:13] anthosz commented on #6286
For people that use RHEL 7 without root, you can use RPM available on remi repository. After extraction of rpm, all works.

[2020-12-01 12:21] #7923 closed

[2020-12-01 12:29] itamarhaber commented on #8111
Hello @whateverpal

Thanks for sharing this.

[2020-12-01 15:50] ipmb commented on #8099
Prefixes may be possible, but depends on the software implementation. Connecting via a specific database is a universal thing.

[2020-12-01 17:44] madolson commented on #8115
Sure, that is a way to debug it. Since the original post was about about a bug, I'm going to resolve this unless there is any other concern to be raised.

[2020-12-01 17:44] #8115 closed

[2020-12-01 19:34] itamarhaber commented on #766
@felipou are you pushing this or shall I take over?

I think we're aligned with adding the optional [COUNT count] to (L|R)POP, and introducing more-suitably-APIed B(L|R)POPEX variants? We'd like to have it ready in a week's time so it can be considered for 6.2-RC1.

[2020-12-01 19:46] #8116 closed

[2020-12-01 21:23] oranagra commented on #766
@itamarhaber i think adding a `BLOCK <timeout>` argument to LPOP is the right move (and deprecated BLPOP).
would make it similar to XREAD in that sense.

do you see any reason to avoid such a thing? is there someone to consult with? (client library authors?), did you ever see any feedback about a problem with XREAD not having a specific command variant that can never block?

[2020-12-01 21:35] fubar commented on #5543
This needs to be described in the docs.

[2020-12-01 21:44] itamarhaber commented on #766
(L|R)POP are single-key, whereas the blocking variants are multi - I'm not sure about is there's a justification for making the former variadic.

[2020-12-01 21:52] itamarhaber commented on #5543
Would appreciate a PR to that effect :)

Anyway, since this is seemingly a doc issue, moving to the doc repo.

[2020-12-01 22:10] oranagra commented on #766
i can imagine someone can find that useful.
similar to other APIs in "nature", like [select](https://man7.org/linux/man-pages/man2/select.2.html) on multiple sockets, sometimes you want to block until timeout, sometimes the timeout is infinite, and sometimes you just want an instant peek.

it does mean though that as soon as you add multiple keys, the response needs to carry the keyname from which

[2020-12-02 01:06] madolson commented on #8119
Hey, thanks for reporting this bug. Do you by chance have a core dump/more information about what you were doing when you ran into this issue?

3.2.8 is a very old version as well, this might have been fixed awhile ago, you should consider upgrading.

[2020-12-02 02:07] #2663 closed

[2020-12-02 02:12] felipou commented on #766
@itamarhaber Please do take over if you can, I probably won't be able to properly work on this to finish it in a week.

[2020-12-02 06:55] oranagra commented on #4417
Hi all, in the PR discussion we came up with a slightly different idea to deprecated the 4 existing GEORADIUS* commands and create something new, instead of adding 4 more variants.

These commands with with an optional STORE argument are causing a lot of pain (it's hard to flag them as write or read commands, and it's hard to extract the key names from the arguments).

so the new idea is to have:

[2020-12-02 09:16] LeoDemoniac opened #8120 "how do i know how many scripts load in redis"
As a new redis operation and maintenance engineer, i had no information about the lua scripts load in my redis.
how do i know how many or the name of lua scripts loaded in redis cache?

[2020-12-02 09:28] oranagra commented on #8111
i'm not sure we want to crash, maybe better set `aof_last_write_status` and/or `lastbgsave_status` to `C_ERR`, which will cause redis to stop accepting write commands.
users may still be able to salvage their data.

[2020-12-02 09:33] oranagra commented on #8120
From the client application's perspective you're not expected to know (scripts are designed to be the responsibility of the client application, and it should re-load them if missing).

From the host / admin's perspective, i don't think you care about the number of scripts and their names, you only case about the memory they use.

INFO MEMORY has these fields:
[code]

[2020-12-02 09:34] oranagra commented on #8120
please let me know if that's insufficient, and in that case more info about what you aim to do.

[2020-12-02 10:27] LeoDemoniac commented on #8120
Thanks your comment, I know this is the design of redis. But for me , I want to do a periodical inspection about the scripts, in order to prevent lots of write operations。

[2020-12-02 10:33] LeoDemoniac commented on #8120
In other words , i want to know the content of the script.

[2020-12-02 11:13] oranagra commented on #8120
you mean you want to know the actual code of the script?
or just a list of script SHAs?

is it going to be used for hosting an unknown application?
for debugging redis?
or by the application itself?

[2020-12-02 11:34] LeoDemoniac commented on #8120
Yeap, i want know the actual code of script, and the list of SHAs is also need by hosting the applications. This is just a question, not the real problem for me now!

[2020-12-02 11:46] oranagra commented on #8120
The only reason i see for adding such a thing is in order to debug redis (so they'll be part of the DEBUG command, e.g. `DEBUG SCRIPT LIST`, `DEBUG SCRIPT <sha>`).

You should not have a need for a list of SHAs to host an application, the design is that the script code is part of the application code, not part of the host / server. if the application is considering this a dependency, then it's mis

[2020-12-02 11:46] #8120 closed

[2020-12-02 12:01] oranagra commented on #766
this task became a bit more complicated and might not be realistic for 6.2 RC1, but maybe we can still make it fit RC2 (if someone is able to carry it through).

[2020-12-02 12:41] ShooterIT commented on #8119
@708854835 did you config set maxclients before redis core dump? I noticed one of your client is as below and idle is 0.

If yes, maybe similar to the issue https://github.com/redis/redis/issues/6964, and has been fixed.

[2020-12-02 17:04] bhaveshrenpara opened #8123 "[BUG] redis key getting deleted even it has enough TTL"
**Describe the bug**

We have observed on our redis instance key got removed even application not triggering any delete and also key has enough TTL.

[code]
**To reproduce**

No exact steps we have to reproduce.

**Expected behavior**

From application side setting TTL of 24h. Key should not be deleted before that.

**Additional information**

Not sure if other keys are also getting deleted. But w

[2020-12-02 17:08] bhaveshrenpara commented on #8123
Attached current config of redis server.
[Redis_config_aahr_abhr.txt](https://github.com/redis/redis/files/5630857/Redis_config_aahr_abhr.txt)

[2020-12-02 17:16] karock opened #8124 "[BUG] [6.0.9] RDB generated from cluster replica is intermittently invalid, crashes redis-check-rdb or redis-server if used"
**Describe the bug**

We have a 17 node cluster in AWS that we recently migrated from redis 5.something to 6.0.9. Old nodes were z1d.xlarge instances, new ones are r6gd.xlarge (ARM). 8 masters, 8 replicas, 1 spare node.

We have a backup script that essentially sends a `bgsave` command hourly to the replicas, waits for it to finish, and uploads the resulting rdb to S3 for safekeeping.

Since trans

[2020-12-02 17:19] pelken opened #8125 "[BUG] Redis Stream entries added by module not recognized by XREAD with special ID $"
**Describe the bug**
Issuing commands like:
`XREAD BLOCK 2000 STREAMS mystream $`
or
`XREAD BLOCK 2000 STREAMS mystream <id_larger_than_latest>`
will consistently time out if mystream is populated from within a module.

**To reproduce**
Example of a module:
[code]

Waiting for a new entry:
[code]

**Expected behavior**
XREAD returns the new entry.

**Additional information**
Data is inserted as ex

[2020-12-02 17:38] karock commented on #8124
noticed this in the log, our hourly backup happens by cron at 25 past the hour, so it lines up. Also a successful bgsave is taking roughly 160 seconds to complete, so looks like it crashed about a quarter of the way in. The RDB file above shows 1M keys read and our cluster nodes have 3-4M keys each, so that lines up proportionately as well.

[code]

[2020-12-02 17:50] madolson commented on #8099
@itamarhaber @yossigo Do you have thoughts about if we should support this? I tried to convince salvatore about this before Redis 6 launched, and he seemed pretty convinced that databases shouldn't be included. It wouldn't be that hard of an implementation.

[2020-12-02 22:52] Developer-Ecosystem-Engineering commented on #8062
Not reproducing this, working fine either way `sudo` or without.   I see at least two people reporting it. Was this a MacBook Pro? Mac mini? A [Feedback](https://feedbackassistant.apple.com) to Apple is the ideal way to kick off an investigation, as this is the Redis issue tracker.

[2020-12-02 22:59] austenc commented on #8062
For me, it was happening on an 13" M1 MacBook pro.

[2020-12-03 00:17] williammck commented on #8062
Same here - 13" M1 MBP. I'm seeing it fail as both root and user through `brew services` (i.e. launchd), and just as user when running `redis-server` in CLI.
I tried to see if I could get `dtruss` to do anything, but it apparently can't instrument processes running in Rosetta.

[2020-12-03 01:20] 708854835 commented on #8119
Thank you, this happened in a production environment without the core file being generated. We will upgrade to a higher version and avoid single points of failure.

[2020-12-03 01:21] 708854835 commented on #8119
Thank you, this happened in a production environment without the core file being generated. We will upgrade to a higher version and avoid single points of failure.

[2020-12-03 02:50] mapringg commented on #8062
I tried yesterday via arm version of homebrew and restarting the service works. However, I have the same problem two days ago.

[2020-12-03 03:15] chengshanbin opened #8126 "how"
Please keep in mind that this issue tracker should be used for reporting bugs or proposing improvements to the Redis server.

Generally, questions about using Redis should be directed to the [community](https://redis.io/community):

* [the mailing list](https://groups.google.com/forum/#!forum/redis-db)
* [the `redis` tag at StackOverflow](http://stackoverflow.com/questions/tagged/redis)
* [/r/redi

[2020-12-03 03:15] #8126 closed

[2020-12-03 05:21] hydrapolic opened #8127 "[NEW] redis-cli should exit != 0 when NOPERM"
**The problem/use-case that the feature addresses**

When running flushall from Jenkins CI one would expect that a failing command should fail the job. However, redis-cli returns 0 even if the command is not executed and thus the job is finished as OK.

[code]

**Description of the feature**

Any exit code except for 0 is fine.

[code]

[2020-12-03 06:44] chengshanbin opened #8128 "[QUESTION]how to restore redis 3.0.6 with redis 4.0's dump.rdb ?"
how can I migrate to version 6 from verison 8? I want to store sorted sets with string instead of binary double values. Is this possible ? And Is there anything else that needs to be modified?

[2020-12-03 07:03] 708854835 commented on #8119
Thank you, 172.25.60.102 only made a connection to the redis server, but there is no actual business operation. After a comprehensive analysis, we decided to upgrade redis.

[2020-12-03 07:08] oranagra commented on #8128
I think your best approach is to feed the RDB file to some tool that generates redis commands and pipe these into redis.
have a look at this: https://github.com/sripathikrishnan/redis-rdb-tools/#emitting-redis-protocol

If that doesn't work for you, there are other / better tools but maybe it'll be harder to get them working for you (one example is the `rl_rdbloader` binary that comes inside Redis

[2020-12-03 07:22] vongosling commented on #8128
So, there are no available off-the-shelf tools, right? In this case, the customer cannot smoothly upgrade from 3.x to 4.x.

[2020-12-03 07:26] vongosling commented on #8128
What's rl_rdbloader? Could you help to give more details about this feature :-)

[2020-12-03 08:21] oranagra commented on #8128
upgrading (going from 3.x to 4.x) is supported out of the box.
new redis versions always support rdb files from all previous older versions.
a few days ago i generated an rdb file from 2.4 and loaded it into 6.0 with no problems.

the question that was asked here is about **downgrade**.
rl_rdbloader is a tool that does a similar thing to what redis-rdb-tools protocol backend does. it parses an rdb

[2020-12-03 08:52] oranagra commented on #8128
here's another tool that seems to be able to do the job (not personally familiar with it): https://github.com/leonchen83/redis-rdb-cli

[2020-12-03 09:00] oranagra commented on #8124
@karock so you're saying redis crashes while producing the rdb, and that's the cause of the empty strings? incomplete rdb file (with no valid checksum footer) sounds like a different problem.
can you please check maybe the end of the rdb file is just padded with zeros for some reason?

can you upload the redis-server binary you were using so we can analyze the stack trace, and see which key type i

[2020-12-03 09:09] oranagra commented on #8125
@pelken just to be sure, the blocking XREAD isn't done by a module, just the XADD right?
(running blocking commands from modules isn't currently supported https://github.com/redis/redis/pull/8025)

which version of redis are you using?

[2020-12-03 09:12] oranagra commented on #8119
closing this since it's likely to be already solved, and redis version was too old to justify further debugging.
@708854835 thanks for reporting, feel free to share more info if you'll have it.

[2020-12-03 09:12] #8119 closed

[2020-12-03 09:17] pv-work commented on #8125
@oranagra
Correct. Just XADD in the module. XREAD is tested in redis-cli or client app using hiredis lib.

redis version: 6.0.8

[2020-12-03 09:27] oranagra commented on #8125
@pelken FYI, the module code you posted above violates thread safety, you need to use `RM_ThreadSafeContextLock`. but that's not what's causing the issue here.

is there any other traffic on redis? what's the `hz` config setting?

redis processes unblocked clients from `beforeSleep` which is executed from the main thread after serving commands, or waking up to do cron timer chores.
that's where yo

[2020-12-03 09:42] oranagra commented on #8127
@hydrapolic thanks for reaching out.
from a quick look it seems that `cliReadReply` isn't propagating the error upwards (it succeeded to communicate to redis and reports that as a success).

in your simple case it is easy to see that it should have, but there are different cases where redis-cli  is used (with multiple commands, or repeat), we may or may not want to terminate the execution as soon

[2020-12-03 09:47] oranagra commented on #8123
the only candidates i can think of for the key to disappear are eviction, DEL/UNLINK/RENAME/MOVE, etc.
from the config file you uploaded i see `maxmemory` is not defined, any chance it is set later by a CONFIG SET command?

if you can reproduce this, maybe enabling keyspace notification will reveal what happened to that key.

[2020-12-03 10:03] pv-work commented on #8125
Yes, I realize this. Opted to omit from example.

In my actual case there is quite a bit of traffic, data is added at a much higher rate to a number of streams. This is where I first noticed. But I have tested this small scale (1 stream, 1 insertion/second) with the same result. There are no other clients connected to redis.

`hz` is the default 10. I have tried setting it higher but it doesn't se

[2020-12-03 10:26] vongosling commented on #8128
Got it ~ That's clear.

[2020-12-03 11:00] guybe7 commented on #8125
@pelken this issue was fixed by #8061

[2020-12-03 11:01] guybe7 commented on #8125
looking

[2020-12-03 11:03] guybe7 commented on #8125
fixed #7903
seems like it's not in the 6.0 branch...

[2020-12-03 11:04] guybe7 commented on #8125
forgot to `git fetch`... it is there, but was released in 6.0.9
@pelken can you re-test with 6.0.9?

[2020-12-03 11:14] hpatro commented on #8099
@madolson It feels like a bug to me, even though the SELECT command is restricted, the user can access the database in multiple ways. One is already mentioned by @ipmb and the other way Redis fails to handle this is provided below.

[code]

Should we be restricting the database level access based on the current SELECT command or do you think that breaks compatibility ?

[2020-12-03 12:36] #6562 closed

[2020-12-03 12:40] itamarhaber opened #8129 "[NEW] Add exclusive (open) range intervals to XPENDING"
**The problem/use-case that the feature addresses**

XPENDING can be used for paging through the PEL but requires the user to perform arithmetic gymnastics to achieve proper exclusiveness.

**Description of the feature**

XPENDING should support the exclusive range syntax as implemented in #8072 for XRANGE.

[2020-12-03 12:52] oranagra commented on #8099
The problem in both these cases is that switching a user in an existing connection retains the selected database that the connection had before. we could, in theory reset it (not sure to what), and that would "solve" these cases.

But this (restricting access to the SELECT command) is still far from database level ACL.
ideally for such a feature redis should know which databases each user is allow

[2020-12-03 13:08] pv-work commented on #8125
@guybe7 yep 6.0.9 seems to have done the trick.
Thanks for the help.

[2020-12-03 13:08] karock commented on #8124
I'm going to answer your first question in another comment.

Here's the redis-server binary off of one of the affected machines. should be 6.0.9 compiled for ARM.
[redis-server.zip](https://github.com/redis/redis/files/5636085/redis-server.zip)

Yeah, if we just keep retrying it'll work eventually. As a hopefully temporary bandaid yesterday we modified our backup script to check the RDB with redis

[2020-12-03 13:23] guybe7 commented on #8125
@pelken sure thing, please close the issue

[2020-12-03 13:24] #8125 closed

[2020-12-03 13:32] hpatro commented on #8099
@oranagra I was trying to make changes to handle the above. And I handled it in the auth flow. So, it falls back to the already authenticated user or client stays unauthenticated and can't proceed. Currently I have used SELECT as the command to restrict the access to the db but I'm displaying it in the ACL LIST entry via `db[<allowed_access_to>]`.

For e.g.:

[code]
In the above case, the client f

[2020-12-03 13:44] karock commented on #8124
redis-check-rdb output from a failed RDB from replica 10.1.7.76:
[code]

~the '5786930 keys read' was interesting to me because most of our cluster nodes hold about 4M keys.~ so I ran a redis-check-rdb on a successful RDB from that node:

[code]

That matches the expected number of keys. ~So my guess is that there's something quite mangled in there and hash fields maybe are being read as keys? I'm

[2020-12-03 14:03] bhaveshrenpara commented on #8123
Hi,

In monitoring we do not see any such command been executed on these keys. But still keys are getting removed. In bleow monitor output we can see high expiry was set but we see at short interval again key we are creating. There is no delete command we see in between.

[code]

[2020-12-03 14:17] oranagra commented on #8099
@hpatro you mean that you added an ACL feature that allows declaring the allowed databases for each user, and when AUTH is called, you fail the auth if the currently selected database is not part of that list? (i'm not sure that's a good thing to do).
did you also mean you changed what happens when auth fails? (AFAIK the behavior of sticking to whatever user previously existed is what redis alread

[2020-12-03 14:30] bhaveshrenpara commented on #8123
We see on servers we have THP is enabled. Could be responsible for this behaviour ?

[2020-12-03 14:35] hpatro commented on #8099
@oranagra I'm still using the SELECT command provided as part of the ACL SETUSER to determine which database the user has access to.

What I meant from auth flow modification is, I'm validating if user has permission to the db (based on the SELECT values) which it will land onto on successful authentication and if it is not having access it will throw an error ("UNAUTHORIZED user doesn't have perm

[2020-12-03 14:50] oranagra commented on #8123
THP can cause latency, but not bugs or misbehavior.
MONITOR will only show user actions, if you'll enable keyspace notification and subscribe for them, you should be able to see other types of deletions (like eviction, expiration, and so on..)

[2020-12-03 15:01] oranagra commented on #8124
i translated the stack trace from the crash log to have line numbers (lucky your binary had debug info)
it crashes while trying to save a list (ziplist node), and attempting to see if it can be encoded as a number in the rdb.
[code]

you're right that the crash and corruption might be two different things, but i'm betting they're somehow related.

[2020-12-03 15:03] oranagra commented on #8124
@karock can you try to run the redis test suite with valgrind on your platform?
`make valgrind && ./runtest --valgrind`

[2020-12-03 15:29] karock commented on #8124
several errors followed by a crash due to bgsave already in progress (probably due to not being aborted earlier):
[code]
Let me know if there's a good way to avoid the crash and get it to continue running past the point where it failed here. I ran it twice btw and got this same result both times.

[2020-12-03 15:33] oranagra commented on #8124
these are all probably timing issues in the tests, ad we're after a memory corruption or invalid memory access, so let's ignore them.
you can work around that test crash by adding `--durable`, and maybe also work around the timing issues by adding `--clients 1`

[2020-12-03 15:34] karock commented on #8124
thanks will try

[2020-12-03 16:07] karock commented on #8124
`./runtest` without `--valgrind` passed without errors, as expected. I was pretty sure I'd run the basic test suite before putting this new setup into production.

`./runtest --valgrind --durable` just finished, found one valgrind error:

[code]

[2020-12-03 17:25] karock commented on #8124
We pulled a sample of the different crash errors seen so far:
[code]

let me know if you want the full info from any of those. just adding it this way to show that it's not always the same crash cause/location.

[2020-12-03 17:27] oranagra commented on #8124
these are all consistent with a theory that there's something generating random memory corruptions.
any chance you're using any 3rd party module?

[2020-12-03 17:30] karock commented on #8124
no extra modules. just a basic redis build and install.

[2020-12-03 17:34] karock commented on #8124
ARM amazon linux 2 base AMI, redis built via ansible:
[code]

the SYSTEMD stuff is all we really had to mess with just to get it to play nice on ARM.

redis.conf:
[code]

redis.service:
[code]

[2020-12-03 19:20] oranagra commented on #8124
it's interesting to note that all the crashes are in the child process.
had the corruption been in the parent, i imagine it would sometimes crash too (maybe not as soon since the child is actively iterating on all the data, and the parent might not).
but also, considering that the same replica can sometimes crash while doing bgsave, and then later succeed, that means that the corruption must be ha

[2020-12-03 20:08] zuiderkwast opened #8134 "[NEW] Include the plaintext or TLS ports in CLUSTER SLOTS depending on client connection"
**The problem/use-case that the feature addresses**

When the nodes in a cluster are configured with ports for *both TLS and plaintext simultaneously*, the CLUSTER SLOTS response only includes the TLS ports of the nodes in the cluster.

Clients which are still connecting to the cluster without TLS would need to get the plaintext port of each node somehow.

**Description of the feature**

Let CLUST

[2020-12-03 20:19] karock commented on #8124
ok to clarify... these were the errors reported by redis-check-rdb, not the bgsave child process crashes. I misunderstood that myself from the engineer who collected this info and passed it along to me. I can pass along the details of that if you want to see it, but I suspect from context you probably aren't as interested in that.

He's going to go look for the bgsave crashes now and I'll report b

[2020-12-03 20:38] karock commented on #8124
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-12-03 20:41] yossigo commented on #8134
Hey @zuiderkwast thanks for raising this, I agree with the problem and I think your suggestion makes sense.

We need to extend `CLUSTER SLOTS` anyway in order to also supply hostnames if we have them, so clients can handle cert SAN validation if they wish. We should probably just add an arbitrary number of endpoints per node so we can advertise everything we know - i.e. multiple ports with/without

[2020-12-04 01:28] perrynzhou commented on #8115
@2014BDuck  think you,may i join your webchat?my webchat is 13632930825

[2020-12-04 03:14] Developer-Ecosystem-Engineering commented on #8062
It has been reproduced, don't think it is related to our original PR at the moment but still working on it thanks.

[2020-12-04 05:29] madolson commented on #8134
Yeah, one things we are supposed to eventually submit a PR for is that AWS has a backwards compatible cluster bus extension to send optional messages. I wanted to use this to add the hostname so you can do hostname validation for TLS. Including both ports also seems trivial todo. I'll assign this to myself and see if I can quickly get the framework into a PR, and then we can add this.

[2020-12-04 05:46] bsergean commented on #7722
iirc this display is for keys that are being migrated. If you feel adventurous you can look at a python project I did that had lots of cluster debugging features.

-> https://pypi.org/project/rcc/

[2020-12-04 08:02] zuiderkwast commented on #8134
Nice to see these quick responses!

I think we should also consider ASK and MOVED redirects, which contain IP and port of the target node. The IP should probably be replaced by a host name for the same reason (TLS SAN validation) and the port could be the TLS port if TLS is used for the current client connection and the plaintext port otherwise.

Host names also solves another problem: It can reso

[2020-12-04 14:55] yossigo commented on #8134
@zuiderkwast Historically Redis uses IPs only (or at least aims to do that), which has some stability advantages in certain environments where DNS is not available or not reliable (e.g. hangs for a long time on resolution).

I am in favor of more hostname adoption but I think it should generally be optional and we should not make hard assumptions about it. So, being able to explicitly expose IPs (

[2020-12-04 17:42] delyanr commented on #5740
I ran into the same problem as @npel-21 on WSL 2 with Ubuntu 20.04 LTS. It occurs totally randomly (or is it?) where the majority of the time my python app connects to redis, but occasionally fails. If it does fail, the only solution seems to be restarting Windows.

[2020-12-04 20:56] bionicles commented on #6323
yes please, need this today

[2020-12-04 20:57] Developer-Ecosystem-Engineering commented on #8062
This appears to be a long standing bug in Redis. It can reproduce on Intel or Apple silicon based Macs and is unrelated to our prior contribution.

When _redis-server_ starts up, it takes note of where argv[0] is located and how far it, the other args, and env vars extend [1].  Later it overwrites that to customize what's shown in tools like _ps_ [2].  There's an assumption in the implementation t

[2020-12-04 21:09] braddunbar commented on #8116
Thank you @madolson!

[2020-12-05 03:47] #8128 closed

[2020-12-05 09:19] oranagra commented on #8062
@Developer-Ecosystem-Engineering thank you for this detailed analysis.
@yossigo can you please handle this one.

[2020-12-05 16:18] oranagra commented on #6323
Sounds like a good addition. Anyone wanna step in to code it?

[2020-12-06 03:09] trevor211 commented on #5740
From the trackback that @npel-21 provided, I think the client did not send a command for a relatively long time, which caused redis server closing that connection actively.
Note that redis server can actively close a connection after a client is idle for N seconds.
FYI https://github.com/redis/redis/blob/2f41a3856845265ffc6cc3a35524883a8690cff7/redis.conf#L119.

[2020-12-06 11:14] #8049 closed

[2020-12-06 12:02] pgerhard opened #8142 "[BUG] Unable to specify 'allchannels' ACL rule for default user in redis.conf"
**Describe the bug**

Unable to define an ACL entry in the redis.conf file while running the Redis server in docker-compose. I have followed the description of how to define ACL rules in redis.conf described [here](https://redis.io/topics/acl), but when I attempt to specify the `allchannels` option I receive the following error
[code]
As soon as I remove the `allchannels` ACL rule the container st

[2020-12-06 12:54] #3080 closed

[2020-12-06 12:54] #5255 closed

[2020-12-06 12:54] #7445 closed

[2020-12-06 12:55] itamarhaber commented on #8142
Hello @pgerhard

Thank you for reaching out with this. Please note that ACL support for Pub/Sub is planned to be included in the upcoming version of Redis, namely 6.2. Currently, this functionality is only available in the unstable branch of this repository, and as far as I know, Docker does not maintain a container image for it.

The good news is that 6.2 is expected to be released soon(tm), so o

[2020-12-06 16:13] oranagra commented on #8124
@karock i'm still in the dark here, the only way i can think of to move forward is to try to eliminate some factors.
since you're the only one that can reproduce it, and does so somewhat consistently, and you say it started when you moved between redis version and also platform and architecture, maybe you can try to move away from one of these changes?
i.e. downgrade to redis 5.0.x or move back to

[2020-12-06 21:13] madolson commented on #8111
I agree that we shouldn't crash. In Postgres the authoritative state is on disk, so an fsync means you don't know what happened so you should reload the log. In redis, the state is in memory, so we should be able to continue. I don't know much about aof, we could also consider starting a new file.

[2020-12-06 21:25] pgerhard commented on #8142
Hello @itamarhaber,

Thank you for getting back to me this soon. Is there any documentation available on how to set up permissions for Pub/Sub in version 6.0.x? If so it would be create if you could point me in that direction.

[2020-12-07 01:23] deepeshhmehta opened #8144 "[CRASH] redis-start command fails on Apple M1 chip"
**Crash report**

Paste the complete crash log between the quotes below. Please include a few lines from the log preceding the crash report to provide some context.

[code]

**Aditional information**

1.
![image](https://user-images.githubusercontent.com/7513293/101299615-d636c080-3800-11eb-835f-cd3825c510cf.png)'
2. Macbook Air M1 chip

2. https://redis.io/topics/quickstart

[2020-12-07 03:26] gripleaf opened #8145 "[NEW] clusterGenNodesDescription can run faster?"
Should we add an additional data structure to reduce `clusterGenNodesDescription()` complexity?

In our scale-up redis cluster scenario, we parallel migrate slot so quickly (may has few keys) that `set slot` qps is too high, which leads to high cpu usage(almost to 100%).

And in our another scenario, we has a large redis cluster which has more than 400 nodes. And the `cluster nodes` commands may c

[2020-12-07 06:54] wise-coders opened #8147 "How to query all keys except keys starting with given pattern."
I have a large Redis database, with a large number of keys. My task is to document this database.
I need for this a way to list all keys except the keys which starts with a given list of given patterns.

For example, we have the following keys: customer:1...10000, supplier:1..10000, products:1...100000, invoices:1...10000, and many other keys
I need to list all the keys except products and supplie

[2020-12-07 08:02] kanumuruwe45 commented on #3106
redis-server --protected-mode no

Use the above command while starting the redis server

[2020-12-07 08:50] ShooterIT commented on #6860
For 6, I am not sure, actually, we will start bgsave in serverCron if server reaches the given amount of changes during the given amount of seconds.

[2020-12-07 09:32] oranagra commented on #6860
but i think what i was thinking is that we might wanna trigger a BGSAVE right away even if the save criteria (server.dirty counter) aren't met yet.
i.e. in the case that before the CONFIG SET the server wasn't set to persist RDB at all, and after it, it has some RDB persistence configuration, and there's absolutely no RDB persistence on disk, we may want to create one ASAP.

[2020-12-07 09:51] andybrown668 opened #8148 "Is there a config I can use on a redis replica to shorten the dns lookup timeout?"
I have a single local redis replica of a remote master.

The master is specified by dns name because it's a service published to dns by consul.

Queries to the replica take milliseconds when the master name resolves.

But, if the master name doesn't resolve, queries to the replica take over 3.5 seconds - I suppose due to timeout looking up the dns name.

This is easy to test - take a working local

[2020-12-07 09:51] ShooterIT commented on #6860
I think `save` is not similar to `appendonly`, `appendonly` only has yes or no options, and we append new commands to aof if `appendonly` is yes. Our current usage for `save`, it starts bgsave only if satisfy some conditions, and we like to use `bgsave` to create RDB if we want one immediately.

[2020-12-07 10:03] oranagra commented on #8144
@deepeshhmehta thanks for reporting.
seems like a dup of #8062

[2020-12-07 10:03] #8144 closed

[2020-12-07 14:34] itamarhaber commented on #8142
Regrettably, Redis 6.0.x offers limited permission control with regards to Pub/Sub. You can permit/block the associated commands, i.e. `PUBLISH`/`SUBSCRIBE`/..., per user. You can even do something like `ACL SETUSER ... +publish|foo` to restrict access to a channel, but that's about it.

As I wrote above, version 6.2 addresses this gap with the new functionality that it adds. This functionality, h

[2020-12-07 15:31] yossigo commented on #8062
Pushed a possible fix in #8150 but can someone who is able to reproduce this problem confirm that it is indeed solved? Thanks!

[2020-12-07 15:36] hpatro commented on #8099
@oranagra @madolson
[Restrict user to db access](https://github.com/hpatro/redis/commit/616a074e90d0183832222b44451887d0d5a37961). Here is the partial code to restrict a particular user from accessing the db, currently I'm using the SELECT sub command as input from customer to restrict the user's database access. However, I feel it should be through some other independent flag in ACL SETUSER comma

[2020-12-07 16:15] deepak-auto commented on #4102
@antirez, has this been fixed as of Redis 6.0.9? Thanks!

[2020-12-07 16:50] yossigo commented on #8114
Hi @Bnjorogedev, do you use the upstream Ubuntu redis package or have you set up a PPA/other repo? Also, do you see any specific error messages in `journalctl -xe` or the log files?

[2020-12-07 18:38] wajahat021 opened #8151 "[QUESTION] how to restrict users to get specific prefix keys."
i have set two keys not i want to restrict access for user to a specific keys.
127.0.0.1:6379[190]> KEYS *
1) "grape:green"
2) "apple:red"
I have set below mentioned ACL but i can get all the keys with all prefixes
**ACL**
ACL SETUSER alex on >123 ~apple:* +@all
OK
**KEYS output**
127.0.0.1:6379[190]> KEYS *
1) "grape:green"
2) "apple:red"
127.0.0.1:6379[190]> ACL WHOAMI
"alex"

[2020-12-07 19:24] wajahat021 opened #8152 "[BUG]ACLs are not working properly while setting to a specific prefix."
**Describe the bug**

I have set an ACL  to restrict a user to a specific prefix keys.But KEYS * are showing all the keys in the redis database.

**To reproduce**

Step1: set 2 keys for the example
[code]
Step 2: set an ACL
`ACL SETUSER alex on >123 ~apple:* +@all`
Step 3: Login as a user and get all keys*
[code]

[2020-12-07 20:17] oranagra commented on #4102
@deepak-auto what do you mean? As Antirez stated, this feature was added to redis 5.0 when restarting from RDB (and not yet for AOF). nothing was changed in that respect, not even in 6.0.9.

[2020-12-07 20:22] RayzorFlash commented on #4102
@oranagra Are there any plans to try and get this change in for AOF?

[2020-12-07 20:31] oranagra commented on #4102
it's a bit more complicated to do for AOF, and i'm not sure how much sense it makes.
Loading an AOF can take a lot of time, and during that time there's a good chance the master will already get a lot of progress in the replication offset and the backlog will no longer apply.
So i don't think this is currently in our plans, but maybe in some future version.

Maybe if the master also has an AOF, th

[2020-12-07 21:30] madolson commented on #8152
There are 5 commands that don't declare keys and operate on the keyspace: "SCAN, RANDOMKEY, KEYS, FLUSHALL, FLUSHDB". Extending your expected outcome, we should perform this validation for all of these 5 commands, which I don't think is reasonable or all that feasible. So I see two options:
1. These commands can only be executed if you have all keys permissions. This is a backwards breaking change

[2020-12-07 21:30] madolson commented on #8151
Seems like a duplicate of https://github.com/redis/redis/issues/8152.

[2020-12-07 21:30] #8151 closed

[2020-12-07 21:37] madolson commented on #8147
The only way to do this today would be with a lua script today, you could fetch all of the keys with the KEYS "*" command and then loop through everything. This will be pretty slow.

You could also look into https://redis.io/commands/keys to see if there is some pattern that will match just what you want though. You can use that with the SCAN or KEYS command.

[2020-12-07 23:15] karock commented on #8124
we spent some time today setting up a test box based on our AMI with several random write scripts running concurrently, a master/replica setup (locally), our modified "backup" script running a loop off the replica port and checking the generated rdb. so far haven't been able to replicate but the DB is still small. will let it run overnight and see where we end up.

was also unable to replicate by

[2020-12-08 05:49] tayhalla commented on #8062
@yossigo found this thread after I ran into this an hour ago w the new m1 macbook. Pulled your commit down, built all locally, and it's looking good over here. Nice work!

[2020-12-08 06:26] madolson commented on #8145
Do you mean clusterGenNodeDescription()? (The one without the s) I've thought that it would be possible to cache the value of the description and then invalidate it if anything changes. That should resolve your case where most of the time most of the nodes aren't changing. This would help larger clusters scale better.

[2020-12-08 07:42] erf commented on #8062
@yossigo I was also able to build it using your fix on an m1 macbook using rosetta and run it as a non root.

I noticed some failing tests though (but that is probably not related) and i was not able to build it without rosetta. Are there any plans on supporting m1 builds?

[2020-12-08 08:14] yossigo commented on #8062
Thanks @erf, Can you post more info about the build failures and failed tests please?

[2020-12-08 08:17] ShooterIT commented on #8145
Interested in this issue. In our cluster system not redis cluster, i also occurred similar issue, our config server can't afford high QPS to get cluster topology by many proxies at the same time. I use cache to solve this problem. But before solution, we should get some perf info or flame graph by https://github.com/brendangregg/FlameGraph

[2020-12-08 09:27] #8062 closed

[2020-12-08 09:43] #8129 closed

[2020-12-08 09:56] yossigo commented on #8148
Hi @andybrown668, there is no configuration parameter for this. It's not a trivial problem because there is no portable way to handle async DNS or even set a timeout.

You may try to explore system-wide resolver configuration using `/etc/resolv.conf` configuration, but that would depend on the specific OS/distribution you use.